<dom-module id="content-panel">

  <style include="iron-flex iron-flex-factors gl-color">
  :host{
    --app-drawer-width:75%;
  }
  .rightdata {
      /*position: absolute;*/
      /*float: left;*/
      height: 100%;
      border-left: 1px solid var(--paper-grey-300);
      padding: 5px 10px 0px 10px;
      height: 100%;
      overflow-y: auto;
    }
    app-drawer{
      z-index: 1;
      /*right: auto;*/
    }
  </style>

  <template is="dom-bind">

    <content select="grid"></content>
    <!-- align="right" -->
    <app-drawer id="drawer" align="right" swipe-open>
        <div class="rightdata" align="left" >1212
          <content select="panel" ></content>
        </div>
      </app-drawer>
  </template>

  <script>
    Polymer({
      is:'content-panel',
      properties: {
        items: {
          type: Array,
          value:['inbox', 'favorite', 'polymer', 'question-answer', 'send', 'archive', 'backup', 'dashboard']
        }
      },
      behaviors:[gl.behavior.core],
      created:function(){
        this.glQuery('contentPanel',this);
      },
      ready: function() {
        // console.log(this.$.drawer.toggle());
      },
      changDrawer:function(){
        //เรียกใช้ฟั่งชั้น togglePanel .ใน  drawer
        this.$.drawer.toggle();
      },
    });
  </script>

</dom-module>
