<dom-module id="cheque-register">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
    :host {
      display: block;
    }
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .labelSearch{
    font-size: var(--font-size-h4);
    margin: 10px 10px 10px 10px;
    }
    .table-body >tr > td{
      cursor:pointer;
    }
    .title {
      margin: 16px;
      text-align: center;
      font-size: var(--font-size-h4);
    }
  </style>
  <template>
    <div class="title">รวมเช็คที่ยังไม่ได้ใส่เลขของ [[dataForSelect.nameContract]]</div>
    <div class="flex searchInput ">
       <div class="horizontal end-justified layout">
         <div class="labelSearch">ชื่อบริษัท</div>{{_searchInArray(searchInput)}}
         <paper-input label=" " no-label-float value="{{searchInput}}"></paper-input>
         <paper-icon-button icon="search"></paper-icon-button>
       </div>
   </div>
    <table class="gl-table-default">
          <thead class="table-head">
            <tr>
              <th>ชื่อการทำสัญญา</th>
              <th>งวดการส่งมอบ</th>
              <th>ครั้งที่คิดค่าธรรมเนียม</th>

            </tr>
          </thead>
          <tbody class="table-body">
            <!-- <template is="dom-repeat" items="[[data]]" as="contract"> -->
            <template is="dom-if" if="[[!_isHave(newData)]]">
              <template is="dom-repeat" items="[[newData]]" >
                <tr data="[[item]]" on-tap="getFeeDetail">
                  <td>[[item.cl_name]]</td>
                  <td>[[item.shm_name]] ([[item.shm_no]])</td>
                  <td>[[item.fee_name]] ([[item.fee_no]])</td>
                </tr>
              </template>
            </template>
            <template is="dom-if" if="[[_isHave(newData)]]">
              <tr>
                <td colspan="5" style="text-align:center">  ไม่มีข้อมูล</td>
              </tr>
            </template>
            <!-- </template> -->
         </tbody>
      </table>
  </template>
  <script>
    Polymer({
      is: "cheque-register",
      // observers:[
      //   'initDataFee(data)'
      // ],
      // behaviors: [
      //     g2gCongtroller
      // ],
      // properties: {
      //   newData:{
      //     type:Object
      //   }
      // },
      // initDataFee:function (data) {
      //   // console.log(data);
      //   this.newData = this.g2gClone(data);
      // },
      // _searchInArray:function (searchInput) {
      //     // console.log(searchInput == '');
      //     if (searchInput != '') {
      //       let arr=[];
      //       this.data.map((el)=>{
      //         if (el.fee_name.search(searchInput) > -1) {
      //             //  console.log('search==> ',el);
      //               arr.push(el);
      //         }
      //       });
      //       this.newData=arr;
      //     }else{
      //       this.initDataFee(this.data);
      //     }
      // },
      // getFeeDetail:function (e) {
      //   this.fire('get-cheque-detail',{detail:e.currentTarget.data});
      // }
    });
  </script>
</dom-module>
