<dom-module id="commercial-invoice">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .text{
    text-align: center;
    font-size: var(--font-size-large);
    }
    .table-head > tr > th:nth-child(1) {
      width: 10%;
      text-align: center;
    }
    .table-head > tr > th:nth-child(2) {
      width: 10%;
        text-align: center;
    }
    .table-head > tr > th:nth-child(3) {
      width: 60%;
        text-align: center;
    }
    .table-head > tr > th:nth-child(4) {
      width: 20%;
        text-align: center;
    }
    .desWeigth:nth-child(4) {
      text-align: right;
      /*color: red;*/
    }
    .table-foor > tr > td {
      padding: 15px;
    }
    .report > .icon_print{
      padding-top: 24px;
    }
  </style>
  <template>

    <gl-form-panel set-padding="10px 20px 10px 20px">
      <template is="dom-if" if="[[!isViewSeleted]]">
      <gl-form-panel-head set-border="1px" set-padding="0px 20px 10px 20px">
        <div class="horizontal end-justified layout report">
          <template is="dom-if" if="[[_checkUndefined(data.invoice_id)]]">
            <gl-combo-box class="required" required always-float-label label="รูปแบบ" placeholder="รูปแบบ" value="{{printReport.typeFile}}" item-label-path="report_type"
               item-value-path="report_type_id" items="{{report.report_type}}"></gl-combo-box>
            <div class="icon_print">
              <paper-icon-button id="printInvoice" class="crud" icon="print" raised on-tap="printInvoice"  hidden="[[!data.shm_status]]"></paper-icon-button>
              <paper-tooltip for="printInvoice" offset="0">Print Invoice</paper-tooltip>
            </div>
          </template>
          <div class="icon_print">
          <!-- <template is="dom-if" if="[[!isViewSeleted]]"> -->
            <paper-icon-button icon="create" id="editExporter" raised on-tap="editInput" title="Edit" disabled="[[!isInputDisabled]]"></paper-icon-button>
            <paper-tooltip for="editExporter" offset="0">Edit Invoice</paper-tooltip>
            <paper-icon-button icon="delete" id="delExporter" raised on-tap="deteleInvoice" title="Delete" disabled="[[!isInputDisabled]]"></paper-icon-button>
            <paper-tooltip for="delExporter" offset="0">Delete Invoice</paper-tooltip>
          <!-- </template> -->
          </div>
      </div>
      </gl-form-panel-head>

      </template>
    <gl-form-panel-body>

    <div class="text">COMMERCIAL INVOICE</div>

      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
          <gl-form-input class="required" required  disabled="[[isInputDisabled]]" label="NO :" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" value="{{data.invoice_no}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,0],[500,8]]"></gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
          <vaadin-date-picker class="required" required   disabled="[[isInputDisabled]]" label="Date" value="{{data.invoice_date}}"></vaadin-date-picker>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,12]]">
          <gl-form-textarea disabled value="[[data.quantity]] BAGS OF [[nameRice]] CURRENT NEW CROP, [[cl_quality]]" placeholder="ใส่รายละเอียด" label="Invoice of :" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-textarea>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
          <gl-form-input disabled value="[[_getVessel(data.ship)]]" label="Shippped per : [[_ObcountIndex(index)]]"></gl-form-input>
        </gl-grid-col>
        <!-- <template is="dom-repeat" items="[[data.ship]]">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input disabled value="[[item.ship_name]]" label="Shippped per : [[_ObcountIndex(index)]]"></gl-form-input>
          </gl-grid-col>
        </template> -->

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input disabled value="[[data.load_port_name]],[[data.load_country_name_en]]" label="Port of loading :"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-textarea disabled value="[[data.deli_port_name]],[[data.deli_country_fullname_en]]" label="Port of Discharge :"></gl-form-label-textarea>
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-textarea  disabled value="[[data.dest_port_name]],[[data.dest_country_fullname_en]]" label="Place of Delivery :"></gl-form-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input disabled  value="[[data.bl_no]]" label="Bill of Lading Number :"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <vaadin-date-picker disabled label="Dated" value="[[data.etd_date]]"></vaadin-date-picker>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
          <gl-form-textarea disabled value="[[data.buyer_address]]" label="By order and Account of :"></gl-form-textarea>
        </gl-grid-col>
      </gl-grid-row>


      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,12]]">
          <gl-form-textarea class="required" required disabled="[[isInputDisabled]]" rows="2" value="{{data.made_out_to}}" placeholder="ใส่รายละเอียด" label="MADE OUT TO :" error-message="กรุณาใส่รายละเอียด" ></gl-form-textarea>
        </gl-grid-col>
      </gl-grid-row>
        <br>

      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,12]]">
        <table class="gl-table-default">
                <thead class="table-head">
                    <tr>
                        <th>Marks & Nos.</th>
                        <th>Quantity</th>
                        <th>Descriptions</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                  <template is="dom-repeat" items="[[data.bl_detail]]">
                    <tr style="font-size:14px">
                        <td>[[data.buyer_masks]]</td>
                        <td>[[formatNumberNoZero(item.quantity_bags)]] BAGS</td>
                        <!-- [[_countBag(item.quantity_bags)]] -->
                        <td>
                          [[item.type_rice_desc_en]] CURRENT NEW CROP,DOUBLE POLISHED AND SORTEXED QUALITY.<br>
                          PACKING: INSTRONG EXPORT SEA WORTHY NEWSINGLE PP BAGS OF [[item.package_kg_per_bag]] KILOGRAMS NET WITH MINIMUM TARE WEIGHT TO BE AT [[item.package_weight_bag]] GRAM/BAG.
                          TWO PERCENT (2%) MARKED SPARE EMPTY BAGS TO BE SUPPLIED FREE OF CHARGE BY THE SELLER ALONG WITH THE SHIPMENT. <br>
                          PRICE : USD [[item.price_per_ton]] PER METRIC TON, [[data.inct_id]] [[data.inct_name]] BANGKOK  OR [[data.load_port_name]] AT BUYER'S OPTION.<br>
                          <gl-grid-row>
                            <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]">
                            </gl-grid-col>
                            <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">
                              GROSS WEIGHT
                            </gl-grid-col>
                            <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]">
                              :
                            </gl-grid-col>
                            <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,4]]">
                              [[formatNumber(item.weight_gross)]]
                            </gl-grid-col>
                            <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">
                              METRIC TONS
                            </gl-grid-col>
                          </gl-grid-row >
                          <gl-grid-row>
                            <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]">
                            </gl-grid-col>
                            <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">
                              TRAE WEIGHT
                            </gl-grid-col>
                            <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]">
                              :
                            </gl-grid-col>
                            <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,4]]">
                              [[formatNumber(item.weight_tare)]]
                            </gl-grid-col>
                            <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">
                              METRIC TONS
                            </gl-grid-col>
                          </gl-grid-row >

                          <gl-grid-row>
                            <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]">
                            </gl-grid-col>
                            <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">
                              NET WEIGHT
                            </gl-grid-col>
                            <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]">
                              :
                            </gl-grid-col>
                            <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,4]]">
                              [[formatNumber(item.weight_net)]]
                            </gl-grid-col>
                            <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">
                              METRIC TONS
                            </gl-grid-col>
                          </gl-grid-row >
                          <br>
                          (US.DOLLARS [[_toWords(item.amount_usd)]] ONLY)
                        </td>
                        <td>USD  [[formatNumber(item.amount_usd)]]</td>
                    </tr>
                  </template>
                </tbody>
                <tfoot class="table-foor">
                  <tr style="font-size:14px">
                    <td></td>
                    <td>[[formatNumberNoZero(data.quantity_bags)]] BAGS</td>
                    <td>
                      TOTAL <br>
                      <gl-grid-row>
                        <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]">
                        </gl-grid-col>
                        <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">
                          GROSS WEIGTH
                        </gl-grid-col>
                        <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]">
                          :
                        </gl-grid-col>
                        <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,4]]">
                          [[formatNumber(data.weight_gross)]]
                        </gl-grid-col>
                        <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">
                          METRIC TONS
                        </gl-grid-col>
                      </gl-grid-row >
                      <gl-grid-row>
                        <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]">
                        </gl-grid-col>
                        <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">
                          TRAP WEIGTH
                        </gl-grid-col>
                        <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]">
                          :
                        </gl-grid-col>
                        <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,4]]">
                          [[formatNumber(data.weight_tare)]]
                        </gl-grid-col>
                        <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">
                          METRIC TONS
                        </gl-grid-col>
                      </gl-grid-row >

                      <gl-grid-row>
                        <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]">
                        </gl-grid-col>
                        <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">
                          NET WEIGTH
                        </gl-grid-col>
                        <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,1]]">
                          :
                        </gl-grid-col>
                        <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,4]]">
                          [[formatNumber(data.weight_net)]]
                        </gl-grid-col>
                        <gl-grid-col class="desWeigth" width="[[getWidth]]" grid="[[300,12],[500,3]]">
                          METRIC TONS
                        </gl-grid-col>
                      </gl-grid-row >

                      <br>
                      (US.DOLLARS [[_toWords(data.amount_usd)]] ONLY)
                      <br> UNDER THE SELLS AND PURCHASE CONTRACT NO.[[data.contract_name]] BETWEEN [[data.buyer_name]]
                    AND DEPARTMENT OF FOREIGN TRADE, MINISTRY OF COMMERCE OF THAILAND DATED   [[checkPrice(data)]]. <br>
                    PAYMENT BY T/T TO : KRUNG THAI BANK PUBLIC COMPANY LIMITED, BANGKOK, THAILAND <br>
                    SWIFT CODE : KRTHTHBK <br>
                    NAME ACCOUNT: DEPARTMENT OF FOREIGN TRADE <br>
                    BANK ACCOUNT NUMBER 385-0-12421-5<br>
                    ADDRESS : 44/100 NONTHABURI 1 ROAD, NONTHABURI 11000, THAILAND
                    </td>
                    <td>USD [[formatNumber(data.amount_usd)]]</td>
                  </tr>
                </tfoot>
            </table>
     </gl-grid-col>
    </gl-grid-row>


    <gl-form-panel-footer set-padding="20px 0px 0px 20px">

          <paper-button class="gl-btn-primary" raised on-tap="createInvoice" hidden="[[!isViewSeleted]]">เพิ่มใบแจ้งหนี้</paper-button>
        <template is="dom-if" if="[[!_isViewing(isInputDisabled)]]">
          <paper-button class="gl-btn-danger" on-tap="calcelContract" raised hidden="[[isViewSeleted]]">ยกเลิก</paper-button>
          <paper-button class="gl-btn-success" raised on-tap="saveInvoice" hidden="[[isViewSeleted]]">บันทึกใบแจ้งหนี้</paper-button>
        </template>
    </gl-form-panel-footer>

  </gl-form-panel-body>
   </gl-form-panel>
  </template>
  <script>
    Polymer({
      is: "commercial-invoice",
      behaviors: [
          g2gModelBehavior,
          g2gCongtroller,
          FormatNumberBehavior
      ],
      properties: {
        data: {
          type: Object
        },
        nameRice: {
          type: String,
          value:''
        },
        printReport:{
          type: Object,
          value:{typeFile:'pdf'}
        },
        report:{
          type:Object,
          value:
          {
            report_type:
              [
                {report_type:'PDF',report_type_id:'pdf'},
                // {report_type:'WORD',report_type_id:'word'},
                // {report_type:'EXCEL',report_type_id:'excel'}
              ]
          }
        }
      },
      observers:[
        '_obCheckDataForWrite(data)',
        '_changeDataCommercial(data.invoice_date)'
      ],
      _getVessel:function (data) {
        if(typeof data !== 'undefined' && data !== 'undefined'){
          return data.map((e)=> e.ship_name).join(", ");
        }
      },
      _countBag:function (data) {
        console.log(data);
      },
      _changeDataCommercial:function (dateUn) {
        this.getDateg2g(dateUn,(date)=>{
          this.set('data.invoice_date', date);
          this.notifyPath('data.invoice_date');
        });
      },
      _obCheckDataForWrite:function (data) {
        // if (data.cl_quality != null) {
        //   this.cl_quality = data.cl_quality.toUpperCase();
        // }
        let rice = data.bl_detail;
        if (this.nameRice.length == 0){
          rice.map((el)=>{
            this.nameRice += el.type_rice_name_en.toUpperCase()+', ';
          })
        }
      },

      printInvoice:function () {
        // report.report_type
        window.open('http://localhost:8080/api/payment/report1?invoice_id='+this.data.invoice_id+'&export='+this.printReport.typeFile,'1');
      },
      createInvoice:function () {
        let  book_id = this.data.book_id;
        this._cleanDataBl(this.data,(data)=>{
          data.book_status=true;
          data.id=book_id;
          this.update('./g2g/book/update',data,() => {
            this.fire('get-bl-list',{detail:contract_id});
          });
        });
        let contract_id = this._getUrl();
        this.data.invoice_status=false;
        this._cleanDataInvoice(this.data,(data)=>{
          this.insert('./g2g/invoice/insert',data, () => {
            this.fire('close-drawer',{detail:'close-drawer'})
            this.fire('get-invoice-list',{detail:contract_id});
         });
        });
      },
      saveInvoice:function(){
        this._cleanDataInvoice(this.data,(data)=>{
          data.id = this.data.invoice_id;
          data.contract_id = this.data.contract_id;
          this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
              status:'dialog',
              text:'ต้องการแก้ไขข้อมูลใช่หรือไม่ ?',
              confirmed:this._saveInvoice.bind(this), //function ที่ใช้รับค่า ปุ่ม
              el: this, // compontents
              data:data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
          })
        });
      },
      _saveInvoice:function (result,detail) {
        if (result == true) {
          this.update('./g2g/invoice/update',detail.data, () => {
            // console.log(detail.data);
            this.fire('get-invoice-list',{detail:detail.data.contract_id});
            this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
              callback:()=>{
                this.editInput();
                  //  detail.el.fire('get-contract-detail',{contractId:detail.data.id});
                }
            });
          });
        }
      },
      deteleInvoice:function () {
        this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
            status:'dialog',
            text:'ต้องการลบข้อมูลใช่หรือไม่ ?',
            confirmed:this._deleteInvoice.bind(this), //function ที่ใช้รับค่า ปุ่ม
            el: this, // compontents
            data:this.data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
        });
      },
      _deleteInvoice:function (result,detail) {
        if (result == true) {
          let  book_id = detail.data.book_id;
          this._cleanDataBl(detail.data,(data)=>{
            data.book_status=false;
            data.id=book_id;
            this.update('./g2g/book/update',data,() => {
              this.fire('get-bl-list',{detail:detail.data.contract_id});
            });
          });
          this.delete('./g2g/invoice/delete/id/',detail.data.invoice_id, () => {
            this.fire('get-bl-list',{detail:detail.data.contract_id});
            this.fire('get-invoice-list',{detail:detail.data.contract_id});
            this.fire('close-drawer',{detail:'close-drawer'});
            this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
              callback:()=>{

                  //  detail.el.fire('get-contract-detail',{contractId:detail.data.id});
                }
            });
          });
        }
      },
      checkPrice:function (data) {
        // console.log(data);
        // this._toWords(data.base.amount_usd);
        // console.log(this._toWords(data.base.amount_usd));
        if(typeof data.contract_date !== 'undefined' && data.contract_date !== 'undefined'){
        var monthNames = ["January", "February", "March", "April", "May", "June",
                            "July", "August", "September", "October", "November", "December"
                          ];
        // console.log(Number(this.data.contract_date.substring(5, 7))-1);
        var monthNum= Number(data.contract_date.substring(5, 7))-1;
        let contractDate = data.contract_date.substring(8, 10)+" "+monthNames[monthNum]+" "+data.contract_date.substring(0, 4);
        return contractDate.toUpperCase();
        }
      },
      _toWords: function(amount_usd) {
        if(typeof amount_usd !== 'undefined' && amount_usd !== 'undefined'){
          // num = num.base.amount_usd || 0;
          // Convert numbers to words
          // copyright 25th July 2006, by Stephen Chapman http://javascript.about.com
          // permission to use this Javascript on your web page is granted
          // provided that all of the code (including this copyright notice) is
          // used exactly as shown (you can change the numbering system if you wish)
          // American Numbering System
          var th = ['', 'thousand', 'million', 'billion', 'trillion'];
          // uncomment this line for English Number System
          // var th = ['','thousand','million', 'milliard','billion'];
          var dg = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'];
          var tn = ['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen'];
          var tw = ['twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];
          // console.log(amount_usd);
          var s = amount_usd.toString();
          s = s.replace(/[\, ]/g, '');
          if (s != parseFloat(s)) return 'not a number';
          var x = s.indexOf('.');
          if (x == -1) x = s.length;
          if (x > 15) return 'too big';
          var n = s.split('');
          var str = '';
          var sk = 0;
          for (var i = 0; i < x; i++) {
              if ((x - i) % 3 == 2) {
                  if (n[i] == '1') {
                      str += tn[Number(n[i + 1])] + ' ';
                      i++;
                      sk = 1;
                  } else if (n[i] != 0) {
                      str += tw[n[i] - 2] + ' ';
                      sk = 1;
                  }
              } else if (n[i] != 0) {
                  str +=
                      dg[n[i]] + ' ';
                  if ((x - i) % 3 == 0) str += 'hundred ';
                  sk = 1;
              }
              if ((x - i) % 3 == 1) {
                  if (sk)
                      str += th[(x - i - 1) / 3] + ' ';
                  sk = 0;
              }
          }
          if (x != s.length) {
              var y = s.length;
              str +=
                  'point ';
              for (var i = x + 1; i < y; i++) str += dg[n[i]] + ' ';
          }
          let priceWords = str.replace(/\s+/g, ' ').toUpperCase() ;
          return priceWords;
        }else {
          return 0;
        }
      },
      _cleanDataInvoice:function (data,callback) {
        let el = Polymer.dom(this.root).querySelectorAll('.required');
        let stat = el.map((el)=> el.validate());
        if (stat.every(elem => elem == true)) {
            let {bl_no,invoice_no,invoice_date,invoice_status,made_out_to,book_id}=data;
            let newDate = {bl_no,invoice_no,invoice_date,invoice_status,made_out_to,book_id};
            newDate.invoice_date = new Date(newDate.invoice_date);
            el.map((el)=> {el.reset();});
            callback(newDate);
        }
      },
      _cleanDataBl:function (data,callback) {
        let el = Polymer.dom(this.root).querySelectorAll('.required');
        let stat = el.map((el)=> el.validate());
          if (stat.every(elem => elem == true)) {
            let { book_id,carrier_id,deli_port_id,dest_port_id,eta_date,etd_date,
                  load_port_id,packing_date,cut_of_time,cut_of_date,product_date,
                  ship_lot_no,shipline_id,surveyor_id,weight_per_container,book_status,shm_id} = data;
            let newData ={ book_id,carrier_id,deli_port_id,dest_port_id,eta_date,etd_date,
                            load_port_id,packing_date,cut_of_time,cut_of_date,product_date,
                            ship_lot_no,shipline_id,surveyor_id,weight_per_container,book_status,shm_id};
            newData.ship = new Array();
            newData.eta_date = new Date (newData.eta_date).toISOString();
            newData.etd_date = new Date (newData.etd_date).toISOString();
            newData.cut_of_date= new Date (newData.cut_of_date).toISOString();
            newData.packing_date = new Date (newData.packing_date).toISOString();
            newData.product_date = new Date (newData.product_date).toISOString();
            data.ship.map((ships)=>{
              newData.ship.push({ship_id:ships.ship_id,ship_voy_no:ships.ship_voy_no});
            });
            el.map((el)=> {el.reset();});
            callback(newData)
          } else {
            this.fire('toast',{status:'connectError',text:'กรุณากรอกให้ครบทุกช่อง', //คำสั่งสำหรับเปิด toast error
            callback:function(){
            }})
          }
      },
    });
  </script>
</dom-module>
