<link rel="import" href="fee-management-list.html">
<link rel="import" href="fee-management-detail.html">
<dom-module id="fee-management">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
    :host {
      display: block;
    }
  </style>
  <template>
    <iron-pages selected="{{pages}}" attr-for-selected="name">
      <fee-management-list data="[[dataForSelect]]" name="fee-management-list"></fee-management-list>
      <fee-management-detail data=[[dataSelected]] data-shm-id="[[dataShmId]]" data-for-select="[[dataForSelect]]" name="fee-management-detail" is-input-disabled="[[isInputDisabled]]" is-view-seleted="[[!isEdit]]"></fee-management-detail>
      <fee-management-detail data-shm-id="[[dataShmId]]" data-for-select="[[dataForSelect]]" name="fee-management-detail-add" is-input-disabled="[[!isInputDisabled]]" is-view-seleted="[[isEdit]]"></fee-management-detail>
    </iron-pages>
  </template>
  <script>
    Polymer({
      is: "fee-management",
      properties: {
        dataSelected:{
          type:Object,
        },
        pages:{
          type:String,
          value:'fee-management-list'
        }
      },
      listeners:{
        '_get-fee-mana':'_getFeeMana',
        '_get-insert-fee':'_getInsertFee',
        '_get-list-fee':'_getListFee'
      },
      behaviors: [
          g2gModelBehavior,
          g2gCongtroller
      ],
      _getFeeMana:function (e) {
        this.dataSelected = e.detail.data;
        this.pages="fee-management-detail";
      },
      _getListFee:function (e) {
        // console.log(11);
        this.pages="fee-management-list";
      },
      _getInsertFee:function (e) {
        this.pages="fee-management-detail-add";
      },
    });
  </script>
</dom-module>
