<link rel="import" href="../../../../../bower_components/paper-checkbox/paper-checkbox.html">
<dom-module id="list-of-invoice">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
    :host {
      display: block;
    }
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .labelSearch{
    font-size: var(--font-size-h4);
    margin: 10px 10px 10px 10px;
    }
    .table-body >tr > td{
      cursor:pointer;
    }
    .title {
      margin: 16px;
      text-align: center;
      font-size: var(--font-size-h4);
    }
  </style>
  <template>
    <div class="title">ใบกำกับสินค้า</div>
    <div class="flex searchInput ">
       <!-- <div class="horizontal end-justified layout">
         <div class="labelSearch">Invoice No.</div>{{searchInput}}
         <paper-input label=" " no-label-float value="{{searchInput}}"></paper-input>
         <paper-icon-button icon="search"></paper-icon-button>
       </div> -->
   </div>
    <table class="gl-table-default">
          <thead class="table-head">
            <tr>
              <th></th>
              <th>ชื่อการทำสัญญา</th>
              <th>งวดการส่งมอบ</th>
              <th>เลขที่ใบแจ้งหนี้</th>
              <th>Port of Delivery </th>
              <th>Port of Destination </th>
              <th style="width:3%">Print</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <template is="dom-if" if="[[!_isHave(data)]]">
              <template is="dom-repeat" items="{{data}}" as="payment">
                <template is="dom-repeat" items="{{payment.invoice_detail}}">
                  <tr >
                    <td class="item"><paper-checkbox id="[[index]]"class="checkBox" data="{{item.invoice_id}}" shmId$="{{payment.shm_id}}"></paper-checkbox></td>
                    <td class="item" data="[[item]]" on-tap="getInvoiceDetail">[[item.cl_name]]</td>
                    <td class="item" data="[[item]]" on-tap="getInvoiceDetail">[[payment.shm_no]]</td>
                    <td class="item" data="[[item]]" on-tap="getInvoiceDetail">[[item.invoice_no]]</td>
                    <td class="item" data="[[item]]" on-tap="getInvoiceDetail">[[item.deli_port_name]]</td>
                   <td class="item" data="[[item]]" on-tap="getInvoiceDetail">[[item.dest_port_name]]</td>
                   <td class="item"  >
                     <paper-icon-button id="printShipment" data="[[item]]" class="crud" icon="print" raised on-tap="getInvoiceid"  hidden="[[!data.shm_status]]"></paper-icon-button>
                     <paper-tooltip for="printShipment" offset="0">Print Shipment</paper-tooltip>
                   </td>
                  </tr>
                </template>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="horizontal end-justified layout btnMoney">
                     <paper-button class="gl-btn-success" raised on-tap="payMoney">ได้รับเงิน</paper-button>
                  </div>
                </td>
                </tr>
          </template>
        </template>
        <template is="dom-if" if="[[_isHave(data)]]">
            <tr >
              <td colspan="6" style="text-align:center">  ไม่มีข้อมูล</td>
            </tr>
        </template>
         </tbody>
      </table>
  </template>
  <script>
    Polymer({
      is: "list-of-invoice",
      behaviors: [
          g2gCongtroller
      ],
      // observers:[
      //   'initDatabl(data)'
      // ],
      // initDatabl:function (data) {
      //   // console.log(data);
      //   // this.newData = this.g2gClone(data);
      //   // console.log('clone new==>',this.newData);
      //   // console.log('org==>',this.data);
      // },
      getInvoiceDetail:function (e) {
        this.fire('get-invoice-detail',{detail:e.currentTarget.data});
      },
      getInvoiceid:function (e) {
        // console.log(e.currentTarget.data.invoice_id);
        window.open('http://localhost:8080/api/payment/report1?invoice_id='+e.currentTarget.data.invoice_id,'1');
      },
      payMoney:function () {
        let check = Polymer.dom(this.root).querySelectorAll('paper-checkbox[aria-checked="true"]');
        //adddraft.html
        this.fire('get-select-draftPayment', {detail: check});
      }
    });
  </script>
</dom-module>
