<link rel="import" href="fee-exports.html">
<dom-module id="list-of-fee-detail">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
  *{
    font-family: 'CSChatThaiUI', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  .table-body > tr > td{
    cursor:pointer
  }

  .table-head > tr > th:nth-child(1),
  .table-body > tr > td:nth-child(1) {
    text-align: center;
    width: 10%;
  }
  .table-head > tr > th:nth-child(3),
  .table-body > tr > td:nth-child(3),
  .table-head > tr > th:nth-child(4),
  .table-head > tr > th:nth-child(5),
  .table-body > tr > td:nth-child(5),
  .table-head > tr > th:nth-child(6),
  .table-body > tr > td:nth-child(6) {
      width: 17.5%;
      text-align: center;
    }
  .table-head > tr > th:nth-child(2),
  .table-body > tr > th:nth-child(2){
    width: 20%;
  }
  .table-body > tr > td:nth-child(4) {
    text-align: right;
  }
  .table-foot > tr > td {
    padding: 16px;
  }
  .addconfirm{
    margin-bottom: 16px;
  }
  </style>
<template>
  <iron-pages selected="{{pageSelected}}" attr-for-selected="name">
    <div name="listOfFeedetail">
  <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
    <gl-form-panel-head label="" set-padding="10px" set-border="1px">
          </gl-form-panel-head>
        <!-- <gl-form-panel-body label="" set-padding="10px" set-border="1px"> -->
        <!-- [[data.contract_quantity_confirm_balance]] -->
        <table class="gl-table-default">
          <thead class="table-head">
            <tr>
              <th>ลำดับที่</th>
              <th>ชื่อสัญญาย่อย</th>
              <th>จำนวนใบกำกับสินค้า</th>
              <th>มูลค่า</th>
              <th>วันที่รับเช็ค</th>
              <th>สถานะ</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <template is="dom-if" if="[[!_isHave(data.fee_detail)]]">
              <template is="dom-repeat" items="[[data.fee_detail]]">
                <tr on-tap="getFeeDetail" data="[[item]]">
                  <td>  [[_ObcountIndex(index)]] </td>
                  <td> [[item.invoice_no]]</td>
                  <td> [[item.invoice_count]]</td>
                  <td>[[item.usd_value]]</td>
                  <td>[[changeDateCC(item.fee_date_receipt)]]</td>
                  <td>[[item.fee_det_status_name]]</td>
                </tr>
              </template>
            </template>
            <template is="dom-if" if="[[_isHave(data.fee_detail)]]">
                <tr >
                  <td colspan="4">  ไม่มีข้อมูล</td>
                </tr>
            </template>
          </tbody>
        </table>
        <!-- [[_confirmFee(data.fee_detail)]] -->
        <div class="layout horizontal end-justified">
          <paper-button class="gl-btn-info" raised on-tap="approveFee" disabled="[[_confirmFee(data.fee_detail)]]">ยืนยันถัวเฉลี่ยเงิน</paper-button>
        </div>
        <!-- </gl-form-panel-body> -->
    </gl-form-panel>
    </div>
    <div name="feeDetail">
      <fee-exports data="[[dataSelected]]" data-for-select="[[dataForSelect]]" is-input-disabled="[[isInputDisabled]]" is-view-seleted="[[isViewSeleted]]"></fee-exports>
      <!-- <confirm-detail data-for-select="[[dataForSelect]]" is-view-seleted="[[isEdit]]" is-input-disabled="[[!isInputDisabled]]" data="[[dataSelected]]"></confirm-detail> -->
    </div>
    </iron-pages>
</template>
<script>
Polymer({
  is: "list-of-fee-detail",
  behaviors: [
      g2gCongtroller,
      g2gModelBehavior,
      FormatNumberBehavior
  ],
  listeners:{
    'back-page-fee-detail':'_backPageFeedetail',
    'get-fee-list-detail':'_getFeeList'
  },
  properties: {
    pageSelected: {
      type: String,
      value:'listOfFeedetail'
    },
    dataForSelect:{
      type: Object,
      value:{}
    },
    dataSelected: {
      type: Object
    },
  },
  _getFeeList:function (e) {
    this.read('./g2g/fee/detail/id/'+e.detail.detail,(data)=>{
      this.dataSelected=data;
      this.notifyPath('dataSelected');
      this.pageSelected='feeDetail';
    });
  },
  _confirmFee:function (data) {
    if (data.every(status => status.fee_det_status == true)) {
        return false;
    }else {
        return true;
    }
  },
  getFeeDetail:function (e) {
    // console.log(this.dataForSelect);
    // console.log(e.currentTarget.data.fee_det_id);
    let fee_det_id = e.currentTarget.data.fee_det_id;
    this.fire('toast',{status:'load'});
    this.async(()=>{
      this.read('./g2g/fee/detail/id/'+fee_det_id,(data)=>{
        this.fire('toast',{status:'load'});
        this.dataSelected=data;
        this.notifyPath('dataSelected');
        this.pageSelected='feeDetail';
      });
    },500);
  },
  _backPageFeedetail:function (data) {
    this.pageSelected='listOfFeedetail';
  },
  approveFee:function () {
    this._cleanDataFee(this.data,(data)=>{
      data.id = this.data.fee_id
      data.fee_status = this.approve(data.fee_status);
      this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
          status:'dialog',
          text:'ต้องยืนยันข้อมูลใช่หรือไม่ ?',
          confirmed:this._approveFee.bind(this), //function ที่ใช้รับค่า ปุ่ม
          el: this, // compontents
          data:data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
      });
    })

  },
  _approveFee:function (result,detail) {
    if (result == true) {
      // console.log(detail.data);
      this.update('./g2g/fee/update',detail.data, () => {
        this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
         callback:()=>{
            this.fire('close-drawer',{detail:'close-drawer'});
            let contract_id= this._getUrl();
              this.fire('get-fee-list',{detail:contract_id});
          }
        });
       });
     }
  },
  _cleanDataFee:function (data,callback) {
    let {fee_no,fee_name,fee_status,shm_id} = data
    let newData = {fee_no,fee_name,fee_status,shm_id}
      callback(newData);
  },

});
</script>
</dom-module>
