<dom-module id="list-of-fee">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
    :host {
      display: block;
    }
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .labelSearch{
    font-size: var(--font-size-h4);
    margin: 10px 10px 10px 10px;
    }
    .table-body >tr > td{
      cursor:pointer;
    }
    .title {
      margin: 16px;
      text-align: center;
      font-size: var(--font-size-h4);
    }
    table.gl-table-default {
      width: 98%;
      border: 1px solid #ddd;
      margin-bottom: 15px;
    }
  </style>
  <template>
    <div class="title">รวมค่าธรรมเนียมในสัญญา [[dataForSelect.nameContract]]</div>
    <div class="flex searchInput ">
       <div class="horizontal end-justified layout">
         <div class="labelSearch">ครั้งที่คิดธรรมเนียม</div>{{_searchInArray(searchInput)}}
         <paper-input label=" " no-label-float value="{{searchInput}}"></paper-input>
         <paper-icon-button icon="search"></paper-icon-button>
       </div>
   </div>
   <div class="horizontal center-justified layout">
    <table class="gl-table-default">
          <thead class="table-head">
            <tr>
              <th>ชื่อการทำสัญญา</th>
              <th>งวดการส่งมอบ</th>
              <th>ครั้งที่คิดค่าธรรมเนียม</th>

            </tr>
          </thead>
          <tbody class="table-body">
            <!-- <template is="dom-repeat" items="[[data]]" as="contract"> -->
            <!-- <template is="dom-if" if="[[!_isHave(newData)]]"> -->
              <template is="dom-repeat" items="[[newData]]" >
                <tr data="[[item]]" on-tap="getFeeDetail">
                  <td>[[item.cl_name]]</td>
                  <td>[[item.shm_name]] ([[item.shm_no]])</td>
                  <td>[[item.fee_name]] ([[item.fee_no]])</td>
                </tr>
              </template>
            <!-- </template> -->
            <template is="dom-if" if="[[_isHave(newData)]]">
              <tr>
                <td colspan="5" style="text-align:center">  ไม่มีข้อมูล</td>
              </tr>
            </template>
            <!-- </template> -->
         </tbody>
      </table>
      </div>
  </template>
  <script>
    Polymer({
      is: "list-of-fee",
      observers:[
        'initDataFee(data)'
      ],
      behaviors: [
          g2gCongtroller
      ],
      properties: {
        newData:{
          type:Object
        }
      },
      initDataFee:function (data) {
        // console.log(data);
        this.newData = this.g2gClone(data);
      },
      _searchInArray:function (searchInput) {
          // console.log(searchInput == '');
          if (searchInput != '') {
            let arr=[];
            this.data.map((el)=>{
              if (el.fee_name.search(searchInput) > -1) {
                  //  console.log('search==> ',el);
                    arr.push(el);
              }
            });
            this.newData=arr;
          }else{
            this.initDataFee(this.data);
          }
      },
      getFeeDetail:function (e) {
        this.fire('get-fee-detail',{detail:e.currentTarget.data});
      }
    });
  </script>
</dom-module>
