<dom-module id="list-of-payments">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
    :host {
      display: block;
    }
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .labelSearch{
    font-size: var(--font-size-h4);
    margin: 10px 10px 10px 10px;
    }
    .table-body >tr > td{
      cursor:pointer;
    }
    .title {
      margin: 16px;
      text-align: center;
      font-size: var(--font-size-h4);
    }
    table.gl-table-default {
      width: 98%;
      border: 1px solid #ddd;
      margin-bottom: 15px;
    }
    table.gl-table-default > thead.table-head > tr > th,
    table.gl-table-default > tbody.table-body > tr > td:nth-child(2) {
      text-align: center;
    }
    table.gl-table-default > thead.table-head > tr > th:nth-child(1) {
      width: 80%;
    }
    table.gl-table-default > thead.table-head > tr > th:nth-child(2) {
      width: 20%;
    }
  </style>
  <template>
    <div class="title">การจ่ายเงินให้ผู้ประกอบการในสัญญา [[dataForSelect.nameContract]]</div>
    <div class="flex searchInput ">
       <div class="horizontal end-justified layout">
         <div class="labelSearch">เลขใบแจ้งหนี้.</div>{{_searchInArray(searchInput)}}
         <paper-input label=" " no-label-float value="{{searchInput}}">
           <iron-icon icon="search" prefix></iron-icon>
         </paper-input>
         <!-- <paper-icon-button icon="search"></paper-icon-button> -->
       </div>
   </div>

<div class="horizontal center-justified layout">
    <table class="gl-table-default">
          <thead class="table-head">
            <tr>
              <th>เลขที่ใบแจ้งหนี้</th>
              <th>วันที่</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <!-- <template is="dom-repeat" items="[[data]]" as="contract"> -->
            <!-- <template is="dom-if" if="[[!_isHave(newData)]]"> -->
              <template is="dom-repeat" items="[[newData]]" >
                <tr data="[[item]]" on-tap="getChequeDetail" level="primary" >
                  <td>[[item.invoice_no]]</td>
                  <td>[[changeDateCC(item.invoice_date)]]</td>
                </tr>
              </template>
              <!-- </template> -->
              <template is="dom-if" if="[[_isHave(newData)]]">
                  <tr >
                    <td colspan="2" style="text-align:center">  ไม่มีข้อมูล</td>
                  </tr>
              </template>
            <!-- </template> -->
         </tbody>
      </table>
      </div>
  </template>
  <script>
    Polymer({
      is: "list-of-payments",
      observers:[
        'initDatabl(data)'
      ],
      behaviors: [
          g2gCongtroller
      ],
      properties: {
        newData:{
          type:Object
        }
      },
      initDatabl:function (data) {
        // console.log(data);
        this.newData = this.g2gClone(data);
        // console.log('clone new==>',this.newData);
        // console.log('org==>',this.data);
      },
      _searchInArray:function (searchInput) {
          // console.log(searchInput == '');
          if (searchInput != '') {
            let arr=[];
            this.data.map((el)=>{
              if (String(el.invoice_no).search(searchInput) > -1) {
                  arr.push(el);
              }
            });
            this.newData=arr;
          }else{
            this.initDatabl(this.data);
          }
      },
      getChequeDetail:function (e) {
        // console.log(e.currentTarget.data);
        this.fire('get-payment-detail',{detail:e.currentTarget.data});
      }
    });
  </script>
</dom-module>
