<dom-module id="insert-package">
  <style include="iron-flex iron-flex-alignment gl-color gl-size">
    .text-center {
      text-align: center;
      font-size: var(--font-size-h3);
      background-color: var(--paper-grey-100);
      margin-top: 20px;
    }
    .margin-top{
      margin-top: 15px;
    }
    .button{
      margin-top: 20px;
    }
  </style>
  <template>
    <div class="text-center">เพิ่มข้อมูล Package</div>
    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top" label="Package Code (รหัสแพ็คเกต) :" placeholder="กรอกรหัส Package" value="{{data.package_id}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top" label="Package Weight (น้ำหนักแพ็คเกต (kg)) :" placeholder="กรอกน้ำหนัก Package" value="{{data.package_kg_per_bag}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top" label="Package Name (ชื่อแพ็คเกต) :" placeholder="กรอกชื่อ Package" value="{{data.package_name}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top" label="Package Weight_bag (น้ำหนักกระสอบ (g)) :" placeholder="กรอกน้ำหนักกระสอบ" value="{{data.package_weight_bag}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
    </gl-grid-row>

    <div class="horizontal end-justified layout">
      <div class="button">
        <paper-button class="gl-btn-danger" raised on-tap="_cancel">ยกเลิก</paper-button>
        <paper-button class="gl-btn-success" raised on-tap="_save">บันทึก</paper-button>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: "insert-package",
      properties: {
        data: {
          type: Object,
          value:{}
        }
      },
      behaviors: [
          gl.behavior.core,
          gl.behavior.locales
      ],
      _save:function functionName() {
        var datas = {
          id: this.data.package_id,
          package_kg_per_bag: parseInt(this.data.package_kg_per_bag),
          package_name: this.data.package_name,
          package_weight_bag: parseInt(this.data.package_weight_bag)
        }
        this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
        axios.post('./common/package/insert', datas)
            .then(function(response) {
                console.log("success");
                console.log(response);
                this.data = {};
                this.glQuery('refreshPackage').getPackage();
                this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
                  console.log('success');
                }});
            }.bind(this))
            .catch(function(error) {
                console.log("error");
                console.log(error);
            })
      },
      _cancel:function() {
        this.glQuery('contentPanel').changDrawer();
        this.data = {};
      }
    });
  </script>
</dom-module>
