<dom-module id="estimate-of-value-rice">
  <style include="gl-styles">
    :host {
      display: block;
    }
    .title{
      font-weight: bold;
      margin: 20px 0px 10px 0px;
    }
    table.gl-table-default > thead.table-head > tr > th,
    table.gl-table-default > tbody.table-body > tr > td,
    table.gl-table-default > tfoot.table-foot > tr > td{
      text-align: center;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(1){
      text-align: left;
    }
    table.gl-table-default > tfoot.table-foot > tr > td{
      font-weight: bold;
    }
  </style>
  <template>
    <div class="title">
    10. ประมาณการมูลค่าข้าว
    </div>
    <table class="gl-table-default">
          <thead class="table-head">
            <tr>
              <th rowspan="2">ห่วงเวลา </th>
              <th rowspan="2">สต็อกข้าว</th>
              <th>มูลค่าขาดทัน </th>
              <th >อัตตราภาระค่าใช้จ่าย</th>
              <!-- <th></th>
              <th></th> -->
            </tr>
          </thead>

          <tbody class="table-body">
            <tr>
             <td>ประมาณการครั้งที่ 3 ณ 31 ธ.ค.58</td>
             <td>13.08 ล้านตัน</td>
             <td>2.71 แสนล้านบาท</td>
             <td>75.35 บาท/ตัน/เดือน หรือ เดือนละ 985.57 ล้านบาท หรือวันละ 32.85 ล้านบาท</td>
            </tr>
         </tbody>
      </table>
  </template>
  <script>
    Polymer({
      is: "estimate-of-value-rice",

    });
  </script>
</dom-module>
