<dom-module id="fob-price">
  <style include="gl-styles">
    :host {
      display: block;
    }
    .title{
      font-weight: bold;
      margin: 20px 0px 10px 0px;
    }
    table.gl-table-default > thead.table-head > tr > th,
    table.gl-table-default > tbody.table-body > tr > td{
      text-align: center;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(1){
      text-align: left;
    }
  </style>
  <template>
    <div class="title">
5 ราคา FOB ณ วันที่ 14 ธ.ค. 2559
</div>
      <table class="gl-table-default">
          <thead class="table-head">
            <tr>
              <th rowspan="2">ชนิดข้าว</th>
              <th colspan="2">ราคา FOB (เหรียญสหรัฐฯ/ตัน)</th>
              <!-- <th>1</th> -->
            </tr>
            <tr>
              <!-- <th>1</th> -->
              <th>งวดก่อน</th>
              <th>ปัจจุบัน</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <tr>
             <td>ข้าวหอมมะลิ 100% ชั้น2 ปี58/59</td>
             <td>759</td>
             <td>742</td>
            </tr>
            <tr>
             <td>ข้าวหอมมะลิ 100% ชั้น2 ปี59/60</td>
             <td>686</td>
             <td>668</td>
            </tr>
            <tr>
             <td>ข้าวขาว 5%</td>
             <td>364</td>
             <td>370</td>
            </tr>
            <tr>
             <td>ข้าวขาว 10%</td>
             <td>363</td>
             <td>369</td>
            </tr>
            <tr>
             <td>ข้าวขาว 15%</td>
             <td>362</td>
             <td>368</td>
            </tr>
            <tr>
             <td>ข้าวขาว 25%</td>
             <td>360</td>
             <td>365</td>
            </tr>
            <tr>
             <td>ปลายข้าวขาวเอวันเลิศ</td>
             <td>343</td>
             <td>349</td>
            </tr>
            <tr>
             <td>ข้าวเหนียวขาว 10% (นาปี)</td>
             <td>808</td>
             <td>821</td>
            </tr>
         </tbody>
      </table>
      ที่มา: สภาหอการค้าแห่งประเทศไทย
  </template>
  <script>
    Polymer({
      is: "fob-price",

    });
  </script>
</dom-module>
