<dom-module id="rice-inventories-in-warehouses">
  <style>
    :host {
      display: block;
    }
    .title{
      font-weight: bold;
      margin: 20px 0px 10px 0px;
    }
  </style>

  <template>
    <div class="title">
    8. ปริมาณข้าวคงเหลือในสต็อกของรัฐ ณ วันที่ 30 ก.ย. 2559 คงเหลือข้าวในสต็อกของรัฐที่พร้อมจะระบายรวม 8.41 ล้านตัน
    </div>
(ปรับปรุงข้อมูลตามผลการประชุมของคณะอนุกรรมการปิดบัญชีฯ ครั้งที่ 2/2559)
  </template>
  <script>
    Polymer({
      is: "rice-inventories-in-warehouses",

    });
  </script>
</dom-module>
