<dom-module id="rice-export-market">
  <style include="gl-styles">
    :host {
      display: block;
    }
    .title{
      font-weight: bold;
      margin: 20px 0px 10px 0px;
    }
    table.gl-table-default > thead.table-head > tr > th,
    table.gl-table-default > tbody.table-body > tr > td,
    table.gl-table-default > tfoot.table-foot > tr > td{
      text-align: center;
    }
    table.gl-table-default > tfoot.table-foot > tr > td{
      font-weight: bold;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(1),
    table.gl-table-default > tbody.table-body > tr > td:nth-child(6){
      text-align: left;
    }
  </style>
  <template>
    <div class="title">
    4. ตลาดส่งออกข้าวในปี 2559 แบ่งตามภูมิภาค (ม.ค. - ต.ค. 59)
    </div>
    <table class="gl-table-default">
          <thead class="table-head">
            <tr>
              <th rowspan="2">ชนิดข้าว</th>
              <th colspan="2">ปริมาณ (ล้านตัน)</th>
              <!-- <th>1</th> -->
              <th colspan="2">สัดส่วน (%)</th>
              <!-- <th>1</th> -->
              <th rowspan="2">ประเทศนำเข้าข้าวที่สำคัญ</th>
              <!-- <th ></th> -->
            </tr>
            <tr>
              <!-- <th>1</th> -->
              <th>ปี 2558</th>
              <th>ปี 2559</th>
              <th>ปี 2558</th>
              <th>ปี 2559</th>
              <!-- <th>1</th> -->
            </tr>
          </thead>
          <tfoot class="table-foot">
            <tr>
              <td>รวม</td>
              <td>6.28</td>
              <td>6.06</td>
              <td>100.0</td>
              <td>100.0</td>
              <td></td>
            </tr>
          </tfoot>
          <tbody class="table-body">
            <tr>
             <td>แอฟริกา</td>
             <td>2.93</td>
             <td>3.02</td>
             <td>46.66</td>
             <td>49.83</td>
             <td>เบนิน ไอวอรี่โคสต์ แคเมอรูน แอฟริกาใต้ โมซัมบิก</td>
            </tr>
            <tr>
             <td>เอเชีย</td>
             <td>1.86</td>
             <td>2.04</td>
             <td>29.62</td>
             <td>33.66</td>
             <td>จีน อินโดนีเซีย มาเลเซีย ฮ่องกง ฟิลิปปินส์ ญี่ปุ่น</td>
            </tr>
            <tr>
             <td>อเมริกา</td>
             <td>0.73</td>
             <td>0.38</td>
             <td>12.10</td>
             <td>6.27</td>
             <td>สหรัฐฯ แคนาดา เปรู เม็กซิโก ชีลี</td>
            </tr>
            <tr>
             <td>ยุโรป</td>
             <td>0.41</td>
             <td>0.25</td>
             <td>6.53</td>
             <td>4.13</td>
             <td>สหราชอาณาจักร เบลเยียม ฝรั่งเศษ เนเธอร์แลนด์ สเปน</td>
            </tr>
            <tr>
             <td>ตะวันออกกลาง</td>
             <td>0.21</td>
             <td>0.23</td>
             <td>3.34</td>
             <td>3.80</td>
             <td>ซาอุดิอาระเบีย เยเมน อิสราเอล UAE เลบานอน</td>
            </tr>
            <tr>
             <td>โอเซียเนีย และอื่นๆ</td>
             <td>0.11</td>
             <td>0.14</td>
             <td>1.75</td>
             <td>2.31</td>
             <td>ปาปัวนิวกินี ออสเตรเลีย นิวซีแลนด์ ฟิจิ</td>
            </tr>
         </tbody>
      </table>
  </template>
  <script>
    Polymer({
      is: "rice-export-market",

    });
  </script>
</dom-module>
