<dom-module id="status-of-rice-discharge">
  <style include="gl-styles">
    :host {
      display: block;
    }
    .title{
      font-weight: bold;
      margin: 20px 0px 10px 0px;
    }
    table.gl-table-default > thead.table-head > tr > th,
    table.gl-table-default > tbody.table-body > tr > td,
    table.gl-table-default > tfoot.table-foot > tr > td{
      text-align: center;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(1){
      text-align: left;
    }
    table.gl-table-default > tfoot.table-foot > tr > td{
      font-weight: bold;
    }
  </style>
  <template>
    <div class="title">
    9. สถานะการระบายข้าว ณ วันที่ 30 ก.ย.59
    </div>
    <table class="gl-table-default">
          <thead class="table-head">
            <tr>
              <th>รายละเอียด</th>
              <th>ปริมาณข้าว (ล้านตัน)</th>
              <th>มูลค่า (ล้านตัน)</th>
            </tr>
          </thead>
          <tfoot class="table-foot">
            <tr>
              <td>ปริมาณรวม</td>
              <td>12.03</td>
              <td>138836.68</td>
            </tr>
          </tfoot>
          <tbody class="table-body">
            <tr>
             <td>การระบายข้าวในสต็อกของรัฐ</td>
             <td>8.60</td>
             <td>88649.89</td>
           </tr>
           <tr>
            <td>การระบายข้าวฤูดกาลใหม่</td>
            <td>3.43</td>
            <td>50187.78</td>
          </tr>
         </tbody>
      </table>
  </template>
  <script>
    Polymer({
      is: "status-of-rice-discharge",

    });
  </script>
</dom-module>
