<dom-module id="thai-rice-export">
  <style include="gl-styles">
    :host {
      display: block;
    }
    .title{
      font-weight: bold;
      margin: 20px 0px 10px 0px;
    }
    table.gl-table-default > thead.table-head > tr > th,
    table.gl-table-default > tbody.table-body > tr > td,
    table.gl-table-default > tfoot.table-foot > tr > td{
      text-align: center;
    }
    table.gl-table-default > tfoot.table-foot > tr > td{
      font-weight: bold;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(1),
    table.gl-table-default > tbody.table-body > tr > td:nth-child(6){
      text-align: left;
    }
  </style>
  <template>
    <div class="title">
    3. การส่งออกข้าวไทยแยกตามชนิดข้าว (ม.ค. - ส.ค. 59)
    </div>
    <table class="gl-table-default">
          <thead class="table-head">
            <tr>
              <th rowspan="2">ชนิดข้าว</th>
              <th colspan="2">ปริมาณ (ล้านตัน)</th>
              <!-- <th>1</th> -->
              <th colspan="2">สัดส่วน (%)</th>
              <!-- <th>1</th> -->
              <th rowspan="2">ประเทศนำเข้าข้าวที่สำคัญ</th>
              <!-- <th ></th> -->
            </tr>
            <tr>
              <!-- <th>1</th> -->
              <th>ปี 2558</th>
              <th>ปี 2559</th>
              <th>ปี 2558</th>
              <th>ปี 2559</th>
              <!-- <th>1</th> -->
            </tr>
          </thead>
          <tfoot class="table-foot">
            <tr>
              <td>รวม</td>
              <td>5.89</td>
              <td>6.02</td>
              <td>100.0</td>
              <td>100.0</td>
              <td></td>
            </tr>
          </tfoot>
          <tbody class="table-body">
            <tr>
             <td>ข้าวขาว</td>
             <td>2.90</td>
             <td>3.05</td>
             <td>49.24</td>
             <td>50.66</td>
             <td>อินโดนีเซีย จีน มาเลเซีย เบนิน ฟิลิปปินส์ แคเมอรูน ไอวอรี่โคสต์</td>
            </tr>
            <tr>
             <td>ข้าวหอมมะลิไทย</td>
             <td>1.42</td>
             <td>1.51/td>
             <td>24.11</td>
             <td>25.08</td>
             <td>ไอวอรี่โคสต์ สหรัฐฯ เซเนกัล จีน ฮ่องกง</td>
            </tr>
            <tr>
             <td>ข้าวนิ่ง</td>
             <td>1.28</td>
             <td>1.18</td>
             <td>21.73</td>
             <td>19.60</td>
             <td>เบนิน แอฟริกาใต้ แคเมอรูน เยเมน ไนเจอร์</td>
            </tr>
            <tr>
             <td>ข้าวเหนียว</td>
             <td>0.19</td>
             <td>0.18</td>
             <td>3.23</td>
             <td>2.99</td>
             <td>จีน อินโดนีเซีย สหรัฐฯ ญี่ปุ่น มาเลเซีย สิงค์โปร์</td>
            </tr>
            <tr>
             <td>ข้าวปทุมธานี</td>
             <td>0.08</td>
             <td>0.08</td>
             <td>1.36</td>
             <td>1.33</td>
             <td>ฮ่องกง เคนยา จีน เนเธอร์แลนด์ สิงค์โปร์ เบนิน </td>
            </tr>
            <tr>
             <td>ข้าวกล้อง</td>
             <td>0.02</td>
             <td>0.02</td>
             <td>0.34</td>
             <td>0.33</td>
             <td>เบลเยี่ยม สหราชอานาจักร สหรัฐฯ ฮ่องกง เกาหลีใต้ ออสเตรเลีย</td>
            </tr>
         </tbody>
      </table>
      ที่มา: กรมศุลกากร
  </template>
  <script>
    Polymer({
      is: "thai-rice-export",

    });
  </script>
</dom-module>
