<dom-module id="weekly-paddy-price">
  <style include="gl-styles">
    :host {
      display: block;
    }
    .title{
      font-weight: bold;
      margin: 20px 0px 10px 0px;
    }
    table.gl-table-default > thead.table-head > tr > th,
    table.gl-table-default > tbody.table-body > tr > td{
      text-align: center;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(1){
      text-align: left;
    }
  </style>
  <template>
    <div class="title">
    7 ราคาข้าวเปลือก ณ วันที่ 19 ธ.ค. 2559
    </div>
          <table class="gl-table-default">
              <thead class="table-head">
                <tr>
                  <th rowspan="2">ชนิดข้าว</th>
                  <th colspan="2">ราคา (บาท/ตัน)</th>
                  <!-- <th>1</th> -->
                </tr>
                <tr>
                  <!-- <th>1</th> -->
                  <th>งวดก่อน</th>
                  <th>ปัจจุบัน</th>
                </tr>
              </thead>
              <tbody class="table-body">
                <tr>
                 <td>ขป.เจ้า 5% ปี 59</td>
                 <td>8000-8200</td>
                 <td>8000-8200</td>
                </tr>
                <tr>
                 <td>ข้าวหอมมะลิ 100% ชั้น2 ปี59/60</td>
                 <td>10600-12100</td>
                 <td>10500-12100</td>
                </tr>
                <tr>
                 <td>ข้าวขาว 5%</td>
                 <td>14450-15000</td>
                 <td>13900-14850</td>
                </tr>
             </tbody>
          </table>
          ที่มา: กรมการค้าภายใน

  </template>
  <script>
    Polymer({
      is: "weekly-paddy-price",

    });
  </script>
</dom-module>
