<dom-module id="weekly-send-situation">
  <style include="gl-styles">
    :host {
      display: block;
    }
    .title{
      font-weight: bold;
      margin: 20px 0px 10px 0px;
    }
  </style>
  <template>
    <div class="title">
    1. สถานการณ์ส่งออก
    </div>
    <table class="gl-table-default">
       <thead class="table-head">
         <tr>
           <th>รายการ</th>
           <th>ปี 2557</th>
           <th>ปี 2558</th>
           <th>1 ม.ค.-19 ธ.ค. 58</th>
           <th>1 ม.ค.-19 ธ.ค. 59</th>
           <th>% ปี 58/59</th>
           <th>% เทียบกับ เป้าหมายการส่งออก 9.5 ล้านตัน</th>
         </tr>

       </thead>
       <tbody class="table-body">
         <tr>
           <td>ปริมาณ (ตัน)</td>
           <td>10969334.95</td>
           <td>9757762.64</td>
           <td>7348152</td>
           <td>8009162</td>
           <td>+9.00</td>
           <td rowspan="4">84.31 %</td>
         </tr>
         <tr>
           <td>มูลค่า (ล้านบาท)</td>
           <td>174853.41</td>
           <td>155912.02</td>
           <td>117474</td>
           <td>126211</td>
           <td>+7.44</td>
           <!-- <td>99.26</td> -->
         </tr>
         <tr>
           <td>มูลค่า (ล้าน USD)</td>
           <td>5438.76</td>
           <td>4612.91</td>
           <td>3529</td>
           <td>3601</td>
           <td>+2.04</td>
           <!-- <td>1.13</td> -->
         </tr>
         <tr>
           <td>ราคาเฉลี่ย (USD/ตัน)</td>
           <td>492.82</td>
           <td>470.91</td>
           <td>480</td>
           <td>450</td>
           <td>-5.38</td>
           <!-- <td>1.13</td> -->
         </tr>
      </tbody>
    </table>
      ที่มา : กรมศุลกากรและใบอนุญาตส่งออกข้าว(19 ธ.ค.59)
  </template>
  <script>
    Polymer({
      is: "weekly-send-situation",

    });
  </script>
</dom-module>
