<dom-module id="weekly-rice-price">
  <style include="gl-styles">
    :host {
      display: block;
    }
    .title{
      font-weight: bold;
      margin: 20px 0px 10px 0px;
    }
    table.gl-table-default > thead.table-head > tr > th,
    table.gl-table-default > tbody.table-body > tr > td{
      text-align: center;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(1){
      text-align: left;
    }
  </style>
  <template>
    <div class="title">
    6 ราคาข้าวสาร ณ วันที่ 19 ต.ค. 2559
    </div>
          <table class="gl-table-default">
              <thead class="table-head">
                <tr>
                  <th rowspan="2">ชนิดข้าว</th>
                  <th colspan="2">ราคา (บาท/ตัน)</th>
                  <!-- <th>1</th> -->
                </tr>
                <tr>
                  <!-- <th>1</th> -->
                  <th>งวดก่อน</th>
                  <th>ปัจจุบัน</th>
                </tr>
              </thead>
              <tbody class="table-body">
                <tr>
                 <td>ข้าวหอมมะลิ 100% ชั้น2 ปี57/58</td>
                 <td>23500-23600</td>
                 <td>23500-23600</td>
                </tr>
                <tr>
                 <td>ข้าวหอมมะลิ 100% ชั้น2 ปี58/59</td>
                 <td>21500-21600</td>
                 <td>21500-21600</td>
                </tr>
                <tr>
                 <td>ข้าวขาว 5%</td>
                 <td>11400-11500</td>
                 <td>11400-11500</td>
                </tr>
                <tr>
                 <td>ข้าวขาว 10%</td>
                 <td>11300-11400</td>
                 <td>11300-11400</td>
                </tr>
                <tr>
                 <td>ข้าวขาว 15%</td>
                 <td>11200-11300</td>
                 <td>11200-11300</td>
                </tr>
                <tr>
                 <td>ข้าวขาว 25%</td>
                 <td>11100-11200</td>
                 <td>11100-11200</td>
                </tr>
                <tr>
                 <td>ปลายข้าวขาวเอวันเลิศ</td>
                 <td>10900-11000</td>
                 <td>10800-10900</td>
                </tr>
                <tr>
                 <td>ข้าวเหนียวขาว 10% (นาปี)</td>
                 <td>27200-27300</td>
                 <td>27200-27100</td>
                </tr>
             </tbody>
          </table>
          ที่มา: กรมการค้าภายใน
  </template>
  <script>
    Polymer({
      is: "weekly-rice-price",

    });
  </script>
</dom-module>
