<link rel="import" href="../../functionBehavior/dataBehavior.html">
<dom-module id="edit-carrier">
<style include="iron-flex iron-flex-alignment gl-color gl-size">
  *{
    font-family: 'CSChatThaiUI', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: var(--font-size-h5);
  }
  .text-center {
    text-align: center;
    font-size: var(--font-size-h3);
    background-color: var(--paper-grey-100);
    margin-top: 20px;
  }
  .margin-top{
    margin-top: 15px;
  }
  .button{
    margin-top: 20px;
    margin-bottom: 20px;
  }
</style>
  <template>
    <div class="text-center">แก้ไขข้อมูลผู้ให้บริการเรือ</div>

    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
        <gl-form-input class="margin-top checkData" error-message="กรุณากรอกชื่อผู้ให้บริการเรือ" required label="Carrier Name (ชื่อผู้ให้บริการเรือ) :" placeholder="กรอกชื่อผู้ให้บริการ" value="{{data.carrier_name}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
    </gl-grid-row>

    <div class="horizontal end-justified layout">
      <div class="button">
        <paper-button class="gl-btn-danger" on-tap="_cancel" raised>ยกเลิก</paper-button>
        <paper-button class="gl-btn-success" on-tap="_edit" raised>บันทึก</paper-button>
      </div>
    </div>

  </template>
  <script>
    Polymer({
      is: "edit-carrier",
      properties: {
        data: {
          type: Object,
          value: {}
        },
        dataOld:{
          type: Object,
          value: {}
        }
      },
      observers: [
        '_cloneData(data)'
      ],
      behaviors: [
          gl.behavior.core,
          gl.behavior.locales,
          dataBehavior
      ],
      _edit:function(){
        // console.log(this.data);
        var datas = {
          id: this.data.carrier_id,
          carrier_name: this.data.carrier_name
        }
        var stat = Polymer.dom(this.root).querySelectorAll('.checkData').map((data)=>{
            return  data.validate();
        });
        var chkStat = function(stat){
            return stat == true
        };
        if(stat.every(chkStat) == true){
          this.read('./common/check/duplicate?table=carrier&field=carrier_name&value='+datas.carrier_name, (response) => {
            if (response == 0) {
              this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
              this.update('./common/carrier/update', datas, () => {
                this.glQuery('refreshCarrier').getCarrier();
                this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
                  console.log('success');
                }});
             });
            }
            else {
              this.read('./common/check/myowner?table=carrier&id='+datas.id+'&field=carrier_name&value='+datas.carrier_name, (response) => {
                if (response == 1) {
                  this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
                  this.update('./common/carrier/update', datas, () => {
                    this.glQuery('refreshCarrier').getCarrier();
                    this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
                      console.log('success');
                    }});
                 });
                }
                else {
                  this.fire('toast',{status:'connectError',text:'ชื่อผู้ให้บริการเรือนี้มีอยู่แล้ว',
                    callback:function(){
                    }})
                }
              });
            }
          });
        }
        else {
          this.fire('toast',{status:'connectError',text:'กรุณากรอกข้อมูลให้ครบถ้วน',
            callback:function(){
            }})
        }
      },
      _cloneData:function(){
        this.dataOld = JSON.parse(JSON.stringify(this.data));
      },
      _cancel:function() {
        this.glQuery('panelRight').changDrawer();
        this.data = this.dataOld;
      }
    });
  </script>
</dom-module>
