
<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/month-behavior.html">
<link rel="import" href="./../../components/data-manage-behavior.html">

<dom-module id="allocate-list">
    <template>
        <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
            table.gl-table-default {
                border-collapse: collapse;
                width: 100%;
                overflow-x: auto;
                white-space: nowrap;
            }
            *{
                font-family: 'CSChatThaiUI', sans-serif !important;
                -webkit-font-smoothing: antialiased;
            }
            table.gl-table-default,
            th,
            td {
                border-bottom: 1px solid #ddd;
            }
            
            th,
            td {
                padding: 15px;
              
            }
            
            th {
                text-align: right;
                background-color: #F1F1F1;
            }
            
            td {
                text-align: right;
            }
            
            tr:hover {
                background-color: #F1F1F1;
            }
            
            .contentHeader {
                font-size: 22px;
                text-align: center;
            }
            .left{
                text-align: left;
            }
            .center{
                text-align: center;
            }
            .default{
                color:#979A9A;
            }
        </style>
        <div style="overflow-x:auto;">
            
        <template is="dom-if" if={{dataStat}}>
            <table class="gl-table-default">
              <tr>
                <th class="left">ลำดับที่</th>
                <th class="left">ผู้ส่งออก</th>
                <th>งวดที่</th>
                <th>ยอดปรับปรุงงวดที่</th>
                <th>ปริมาณโควตารวม</th>
                <th>รวมยอดปรับปรุง</th>
              </tr>
              <tr>
                <td class="left" colspan="6">ไม่พบข้อมูล</td>    
              </tr>
            </table>
        </template>
        <template is="dom-if" if={{!dataStat}}>     
            <table class="gl-table-default">
              <tr>
                <th class="left">ลำดับที่</th>
                <th class="left">ผู้ส่งออก</th>
                <template is="dom-repeat" items="[[dataAllocate.data.0.quantity]]">
                    <th>งวดที่ [[item.period]] [[getMonthName(item.month)]]</th>
                    <th>ยอดปรับปรุงงวดที่ [[item.period]]</th>
                </template>
                {{test(dataAllocate)}}
                <th>ปริมาณโควตารวม</th>
                <th>รวมยอดปรับปรุง</th>
              </tr>
              
                <template is="dom-repeat" items="[[dataAllocate.data]]">
                    <tr on-tap="_selectData" data="{{item}}" style="cursor:pointer;" id="addRedRegExporter">
                        <td class="left">[[_num(index)]]</td>
                        <td class="left">[[item.name]]</td>
                        <template is="dom-repeat" as="period" items="[[item.quantity]]">
                            <td class="default">[[formatNumber(period.weigth_cal)]]</td>
                            <td>[[formatNumber(period.weigth_update)]]</td>
                        </template>
                        <td class="default">[[formatNumber(item.amount_cal)]]</td>
                        <td>[[formatNumber(item.amount_update)]]</td>
                    </tr>
                    [[sumAll(item.amount)]]
                </template>
                
                <tr>
                    <th class="center" colspan="2">รวมปริมาณโควตา</th>
                    <template is="dom-repeat" items="[[dataAllocate.sum.sum_period]]">
                        <th class="default">[[formatNumber(item.sum_weigth_cal)]]</th>
                        <th>[[formatNumber(item.sum_weigth_update)]]</th>
                    </template>
                    <th class="default">[[formatNumber(dataAllocate.sum.sum_amount_cal)]]</th>
                    <th>[[formatNumber(dataAllocate.sum.sum_amount_update)]]</th>
                </tr>

                <tr>
                    <th class="center" colspan="2"></th>
                    <template is="dom-repeat" items="[[dataAllocate.quantity_balance]]">
                        <th class="default"></th>
                        <th>[[formatNumber(item.weigth)]]</th>
                    </template>
                    <th class="default"></th>
                    <th>[[_sumQuantity_balance(dataAllocate.quantity_balance)]]</th>
                </tr>
            </table>
            </template>
          </div>
    </template>
    <script>
        Polymer({
            is: 'allocate-list',
            behaviors: [
                FormatNumberBehavior,
                MonthBehavior,
                DataManageBehavior
            ],
            observers:['checkData(dataAllocate.data)'],
            _num:function(index){
                return index+1;
            },
            ready:function(){
                this.answer = 0;
            },
            _sumPeriod:function(index,key){
                
                var sum = 0;
                this.dataAllocate.exporter.map((item)=>{
                    if(index=="0"&&key=="quantity_update"){
                        console.log(index,key);
                        console.log(item.period[index][key]);
                    }
                    // this.unFormat(item.period[index][key])
                    sum += this.unFormat(item.period[index][key]);
                });
                 return this.formatNumber(sum);
            },
            _sumQuantity_balance:function(item){
                var sum = 0;
                item.map((item)=>{
                    sum += item.weigth;
                })
                return this.formatNumber(sum);
            },
            _sumQuantity:function(index,key){
                var sum = 0;
                this.dataAllocate.exporter.map(function(item){
                    sum += item[key];
                });
                console.log(sum);
                return this.formatNumber(sum);
            },
            _selectData:function(e){
                this.fire('data-select',e.currentTarget.data);
            },
            sumAll:function(num){
                this.answer += num;
                // return this.answer += num;
            },
            test:function(data){
                console.log(data);
            }
        });
    </script>
</dom-module>