<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<link rel="import" href="../../../../../bower_components/gl-styles/gl-table.html">
<dom-module id="bill-create">
  <style include="iron-flex iron-flex-alignment gl-color gl-size gl-table" >
  .text{
    text-align: center;
    font-size: var(--font-size-large);
  }

  </style>
  <template>

    <gl-form-panel-body>
      {{data}}
      <div class="text">NEW COMMERCIAL INOVICE</div>

        <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
            <gl-form-input label="NO :" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" auto-validate required value="C123456"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,0],[500,8]]"></gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
            <vaadin-date-picker label="Date" value="2015-09-21"></vaadin-date-picker>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,12]]">
            <gl-form-label-textarea value="[[quantity]] BAGS OF [[nameRice]] CURRENT NEW CROP, [[data.cl_quality]]" placeholder="ใส่รายละเอียด" label="Invoice of :" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-label-textarea>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="[[data.ship_name]]" label="Shippped per :"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="[[data.load_port_name]],[[data.load_country_name_en]]" label="Port of loading :"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="[[data.deli_port_name]],[[data.deli_country_fullname_en]]" label="Port of Discharge :"></gl-form-input>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="[[data.dest_port_name]],[[data.dest_country_fullname_en]]" label="Place of Delivery :"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="[[data.bl_no]]" label="Bill of Lading Number :"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <vaadin-date-picker label="Dated" value="2015-09-21"></vaadin-date-picker>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
            <gl-form-label-textarea value="[[data.buyer_address]]" label="By order and Account of :"></gl-form-textarea>
          </gl-grid-col>
        </gl-grid-row>


        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
            <gl-form-textarea rows="2" value="" placeholder="ใส่รายละเอียด" label="MADE OUT TO :" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-textarea>
          </gl-grid-col>
        </gl-grid-row>
        <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,12]]">
          <table class="gl-table-default">
                  <thead class="table-head">
                      <tr>
                          <th>Marks & Nos.</th>
                          <th>Quantity</th>
                          <th>Descriptions</th>
                          <th>Amount</th>
                      </tr>
                  </thead>
                  <tbody class="table-body">
                    <template is="dom-repeat" items="[[data.bl_detail]]">
                      <tr>
                          <td>[[data.buyer_masks]]</td>
                          <td>[[item.quantity]]</td>
                          <td>
                            [[item.type_rice_desc_en]] CURRENT NEW CROP,DOUBLE POLISHED AND SORTEXED QUALITY.<br>
                            PACKING: INSTRONG EXPORT SEA WORTHY NEWSINGLE PP BAGS OF [[item.package_kg_per_bag]] KILOGRAMS NET WITH MINIMUM TARE WEIGHT TO BE AT [[item.package_weight_bag]] GRAM/BAG.
                            TWO PERCENT (2%) MARKED SPARE EMPTY BAGS TO BE SUPPLIED FREE OF CHARGE BY THE SELLER ALONG WITH THE SHIPMENT. <br>
                            PRICE : USD [[item.price_per_ton]] PER METRIC TON, [[DATA.inct_id]] ชื่อม fob เต็ม BANGKOK  OR [[data.load_port_name]] AT BUYER'S OPTION.
                          </td>
                          <td>USD  [[item.amount_usd]]</td>
                      </tr>
                    </template>
                  </tbody>
              </table>
       </gl-grid-col>
      </gl-grid-row>
        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="RED COFCO" label="Marks & Nos."></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="20,000  BAGS" label="Quantity"></gl-form-input>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
            <gl-form-textarea rows="2" value="" placeholder="ใส่รายละเอียด" label="Descriptions" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-textarea>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="1,000.00  METRIC" label="NET WEIGHT :"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="1,003.200  METRIC TONS" label="GROSS WEIGHT :"></gl-form-input>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="3.200  METRIC" label="TARE :"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="USD  392,000" label="Amount"></gl-form-input>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
            <gl-form-textarea rows="2" value="" label="(US.DOLLARS THREE HUNDRED AND NINETEY - TWO THOUSAND ONLY)" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-textarea>
          </gl-grid-col>
        </gl-grid-row>

      <gl-form-panel-footer set-padding="20px 0px 0px 20px">
            <paper-button class="gl-btn-primary" raised>สร้าง</paper-button>
      </gl-form-panel-footer>

    </gl-form-panel-body>

  </template>
  <script>
    Polymer({
      is: "bill-create",
      properties: {
        nameRice: {
          type: String,
          value:''
        }
      },
      observers:['check(data)'],
      check:function (data) {
        console.log(data);
        var sss = data.cl_type_rice;
        sss.map((el)=>{
                  // console.log(typeof el.type_rice_desc_en);
                  if (typeof el.type_rice_desc_en !== 'undefined') {
                    this.nameRice += el.type_rice_desc_en+', ';
                  }

              })
        // console.log(this.nameRice);
      }
    });
  </script>
</dom-module>
