<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<link rel="import" href="../../../../../bower_components/gl-styles/gl-table.html">
<dom-module id="bill-create">
  <style include="iron-flex iron-flex-alignment gl-color gl-size gl-table" >
  .text{
    text-align: center;
    font-size: var(--font-size-large);
  }
  </style>
  <template>

    <gl-form-panel-body>
      {{data}}
      <div class="text">NEW COMMERCIAL INOVICE</div>

        <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
            <gl-form-input label="NO :" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" auto-validate required value="C123456"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,0],[500,8]]"></gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
            <vaadin-date-picker label="Date" value="2015-09-21"></vaadin-date-picker>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
            <gl-form-textarea rows="2" value="" placeholder="ใส่รายละเอียด" label="Invoice of :" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-textarea>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="EVER LOYAL V.1449-018E" label="Shippped per :"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="BANGKOK PORT, THAILAND" label="Port of loading :"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="YUEYANG (CHENG LING JI)" label="Port of Discharge :"></gl-form-input>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="YUEYANG (CHENG LING JI)" label="Place of Delivery :"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="SITGBKYU66708" label="Bill of Lading Number :"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <vaadin-date-picker label="Dated" value="2015-09-21"></vaadin-date-picker>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
            <gl-form-label-textarea value="COFCO CORPORATION, 17F, COFCO FORTUNE PLAZA, NO.8 CHAO YANG MEN SOUTH STREET, CHAO YANG,BEIJING,THE PEOPLES REPUBLIC OF CHINA" label="By order and Account of :"></gl-form-textarea>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,12]]">
        <table class="gl-table-default">
             <thead>
                 <tr>
                   content...dfsdf
                 </tr>
             </thead>
             <tbody>
                 <tr>
                   content...sdfsdf
                 </tr>
             </tbody>
         </table>
       </gl-grid-col>
     </gl-grid-row>
        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
            <gl-form-textarea rows="2" value="" placeholder="ใส่รายละเอียด" label="MADE OUT TO :" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-textarea>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="RED COFCO" label="Marks & Nos."></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="20,000  BAGS" label="Quantity"></gl-form-input>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
            <gl-form-textarea rows="2" value="" placeholder="ใส่รายละเอียด" label="Descriptions" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-textarea>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="1,000.00  METRIC" label="NET WEIGHT :"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="1,003.200  METRIC TONS" label="GROSS WEIGHT :"></gl-form-input>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="3.200  METRIC" label="TARE :"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input value="USD  392,000" label="Amount"></gl-form-input>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
            <gl-form-textarea rows="2" value="" label="(US.DOLLARS THREE HUNDRED AND NINETEY - TWO THOUSAND ONLY)" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-textarea>
          </gl-grid-col>
        </gl-grid-row>

      <gl-form-panel-footer set-padding="20px 0px 0px 20px">
            <paper-button class="gl-btn-primary" raised>สร้าง</paper-button>
      </gl-form-panel-footer>

    </gl-form-panel-body>

  </template>
  <script>
    Polymer({
      is: "bill-create",
      observers:['check(data)'],
      check:function (data) {
        console.log(data);
      }
    });
  </script>
</dom-module>
