
<dom-module id="manage-upload">
    <template>
         <style include="page-style">
            .section{
                padding: 12px;
            }
         </style>
         <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
            <gl-form-panel-body set-padding="10px" set-border="1px">
                <div class="header gl-default">แนบไฟล์รายงานการนำเข้า</div>
                <div class="section">
                    <nylon-upload target="" accept="application/pdf" ref-path=""></nylon-upload>
                </div>
                <div class="section">
                    <nylon-upload target="" accept="application/pdf" ref-path=""></nylon-upload>
                </div>
                <div class="section">
                    <nylon-upload target="" accept="application/pdf" ref-path=""></nylon-upload>
                </div><div class="section">
                    <nylon-upload target="" accept="application/pdf" ref-path=""></nylon-upload>
                </div>
            </gl-form-panel-body>
            <gl-form-panel-footer set-padding="10px">
                <paper-button class="gl-btn-danger" raised>ยกเลิก</paper-button>
                <paper-button class="gl-btn-success" raised>บันทึก</paper-button>
            </gl-form-panel-footer>
         </gl-form-panel>
    </template>
    <script>
        Polymer({
            is: 'manage-upload'
        });
    </script>
</dom-module>