<dom-module id="box-menu-search">
  <style include="gl-styles iron-flex iron-flex-factors iron-flex-alignment">
    :host {
      display: block;
    }
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .card{
      min-width: 300px;
      height: auto;
      padding: 20px;
      margin: 10px;
      background-color: #FFF;
       box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
                  0 1px 8px 0 rgba(0, 0, 0, 0.12),
                  0 3px 3px -2px rgba(0, 0, 0, 0.4);
      border-radius: 25px;
      /*cursor: pointer;*/
      display: inline-block;

      -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

    /*.card:hover {
       -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
    }*/
    .card-content {
      text-align: center;
    }
    ::content .title-head {
        font-weight:bold;
    }
    ::content .menu {
        /*padding-top: 33px;*/
        padding: 33px 15px 0px 15px;
        font-weight:bold;
    }
  </style>
  <template>
    <div class="card" >
      <div class="flex">
          <div class="card-content">
            <content></content>
          </div>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: "box-menu-search",

    });
  </script>
</dom-module>
