<link rel="import" href="../../../gtog/components/list-edit/listEditBehavior.html">
<link rel="import" href="register-memberSave.html">
<link rel="import" href="register-memberEdit.html">
<dom-module id="register-page">
  <style>
    :host {
      display: block;
    }
  </style>
  <template>

    <gl-form-panel set-border="0px">

      <gl-form-panel-head set-padding="0px 0px 0px 0px">
        <paper-icon-button icon="create" on-tap="editChange"></paper-icon-button>
      </gl-form-panel-head>

              <div class="bd">
                  <gl-form-panel>
                      <iron-pages selected="{{pages}}">
                          <register-memberSave></register-memberSave>
                          <register-memberEdit></register-memberEdit>
                      </iron-pages>
                  </gl-form-panel>
              </div>

        <gl-form-panel-footer>
          <paper-button id="removeButtom" class="gl-btn-success" on-tap="save" raised hidden>บันทึก</paper-button>
        </gl-form-panel-footer>
    </gl-form-panel>


  </template>
  <script>
    Polymer({
      is: "register-page",
      behaviors: [listEditBehavior],
      properties: {
        pages:{
            type:Number,
            notify:true,
            value: 0
        }
      },
      editChange:function(e){
        this.pages = 1;
        this.$$('#removeButtom').removeAttribute("hidden");
      },
      save:function(e) {
        this.pages = 0;
        this.$$('#removeButtom').setAttribute("hidden", "hidden");
      }
    });
  </script>
</dom-module>
