<link rel="import" href="../../../g2g/components/list-edit/listEditBehavior.html">
<link rel="import" href="register-createMember.html">
<link rel="import" href="register-member.html">
<dom-module id="register-pageRegister">
<style include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .title {
        text-align: center;
        font-size: var(--font-size-h4);
        font-family: 'rsubold', sans-serif;
        -webkit-font-smoothing: antialiased;
        margin: 20px 0px 20px 0px;
    }
    .searchBox{
      padding: 5px;
      background-color: var(--gl-gray-lighter-color);
    }
    .searchBorder{
      border: 1px solid var(--gl-gray-light-color);
      margin: 15px;
      border-radius: 3px
    }
</style>
  <template>
    <div class="horizontal end-justified layout button">
      <div><paper-icon-button icon="close" on-tap="toggleDrawer" title="ปิดหน้าต่างนี้"></paper-icon-button> </div>
    </div>

    <gl-form-panel set-border="0px">

      <!-- <gl-form-panel-head set-padding="0px 0px 0px 0px"> -->
        <!-- <div id="removePen" hidden>
          <paper-icon-button icon="create" on-tap="editChange"></paper-icon-button>
        </div> -->
        <div id="changTitle" class="title" hidden>เพิ่มทะเบียนผู้ส่งออกข้าวไปต่างประเทศ</div>
        <div id="changTitle2" class="title" hidden>ขึ้นทะเบียนผู้ส่งออกข้าวส่งออกไปจำหน่ายต่างประเทศ</div>
            <div class="searchBox searchBorder">
              <gl-grid-row width="{{getWidth}}">
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                <gl-combo-box id="trader_id" label="ชื่อบริษัท" item-label-path="seller_name_th"
                    item-value-path="trader_id" value="{{dataTrader}}" on-value-changed="getTrader"></gl-combo-box>
                </gl-grid-col>
                <!-- <paper-button class="gl-btn-info" raised on-tap="_search">ค้นหา</paper-button> -->
              </gl-grid-row>
            </div>

      <!-- </gl-form-panel-head> -->
              <div id="formData" class="bd" hidden>
                  <gl-form-panel>
                      <iron-pages selected="{{pages}}">
                          <register-member data={{trader}}></register-member>
                      </iron-pages>
                  </gl-form-panel>
              </div>

              <div class="horizontal end-justified layout">
                <paper-button id="removeButtomC" class="gl-btn-danger" on-tap="_cancel" raised title="ยกเลิกการสมัคร">ยกเลิก</paper-button>
                <paper-button id="removeButtom" class="gl-btn-success" on-tap="_saveData" raised title="บันทึกข้อมูลสมาชิก">บันทึก</paper-button>
              </div>

    </gl-form-panel>


  </template>
  <script>
    Polymer({
      is: "register-pageRegister",
      behaviors: [listEditBehavior,gl.behavior.core],
      properties: {
        pages:{
            type:Number,
            notify:true,
            value: 0
        },
        dataTrader:{
          type:String,
          observer:'_search'
        }
      },
      ready: function() {
        this.$$('#changTitle').removeAttribute("hidden");
        this.$$('#removeButtom').setAttribute("hidden", "hidden");
        this.$$('#removeButtomC').setAttribute("hidden", "hidden");
      },
      getTrader:function (e) {
        // console.log(e.detail.value);
        this.dataTrader = e.detail.value;
      },
      _search:function(val){
        if(val!=""){
          // console.log(this.selectedItem);
          this.getDb('./external/trader/id/'+this.dataTrader,(data)=>{
            // data['seller_agent'] = [];
            this.trader = data;
            this.$$('#formData').removeAttribute("hidden");
            this.$$('#removeButtom').removeAttribute("hidden");
            this.$$('#removeButtomC').removeAttribute("hidden");
            this.$$('#changTitle').setAttribute("hidden", "hidden");
            this.$$('#changTitle2').removeAttribute("hidden");
            //console.log(this.trader);
          });
        }
        else {
          this.$$('#formData').setAttribute("hidden", "hidden");
          this.$$('#removeButtom').setAttribute("hidden", "hidden");
          this.$$('#removeButtomC').setAttribute("hidden", "hidden");
          this.$$('#changTitle').removeAttribute("hidden");
          this.$$('#changTitle2').setAttribute("hidden", "hidden");
        }
      },
      _cancel:function() {
        this.$$('#removeButtom').setAttribute("hidden", "hidden");
        this.$$('#removeButtomC').setAttribute("hidden", "hidden");
        this.$$('#formData').setAttribute("hidden", "hidden");
        this.$$('#changTitle').removeAttribute("hidden");
        this.$$('#changTitle2').setAttribute("hidden", "hidden");
        this.dataTrader = "";
      },
      _saveData:function(e) {
        // console.log(this.trader);
        var datas = {
          exporter_no:this.trader.exporter_no,
          exporter_date_approve:new Date (this.trader.exporter_date_approve),
          exporter_date_update:new Date (this.trader.exporter_date_approve),
          // seller_agent:this.trader.seller_agent,
          trader_id:this.trader.trader_id
        }
        // console.log(datas);
        this.glQuery('layoutRegistion').openToastSaveing();
        axios.post('./external/exporter/insert', datas)
            .then(function(response) {
                console.log("success");
                console.log(response);
                // this.glQuery('addContract').getChange();
                // this.glQuery('contentPanel').changDrawer();
                this.$$('#removeButtom').setAttribute("hidden", "hidden");
                this.$$('#removeButtomC').setAttribute("hidden", "hidden");
                this.$$('#formData').setAttribute("hidden", "hidden");
                this.$$('#changTitle').removeAttribute("hidden");
                this.$$('#changTitle2').setAttribute("hidden", "hidden");
                this.glQuery('reExporter').getExporters();
                this.dataTrader = "";
                this.glQuery('layoutRegistion').closeToastSaveing(function(){
                }.bind(this));
            }.bind(this))
            .catch(function(error) {
                console.log("error");
                console.log(error);
            })
      },
      getDb:function (url,callback) {
        // console.log(url);
        axios.get(url)
          .then(function(response){
            callback(response.data);
          }.bind(this))
          .catch(function (error) {
          }.bind(this));
          // console.log(1);
      },
      attached: function() {
        this.getExporterTrader();
      },
      getExporterTrader:function() {
        this.trader_id = this.trader_id || this.$.trader_id;
        // console.log(this.seller_id);
        this.getDb('./external/exporter/?exporter_status=false',(data)=>{
          this.trader_id.items = data;
          // console.log(this.seller_id.items);
        });
      }

    });
  </script>
</dom-module>
