<dom-module id="register-searchMember">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
  .title {
      text-align: center;
      font-size: var(--font-size-h4);
      font-family: 'rsubold', sans-serif;
      -webkit-font-smoothing: antialiased;
      margin: 20px 0px 20px 0px;
  }
  .searchBox{
    padding: 5px;
    background-color: var(--gl-gray-lighter-color);
  }
  .searchBorder{
    border: 1px solid var(--gl-gray-light-color);
    margin: 15px;
    border-radius: 3px
  }
  </style>
  <template>

    <div class="title">เพิ่มทะเบียนผู้ส่งออกข้าวไปต่างประเทศ</div>
    <div class="searchBox searchBorder">
      <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">

                <gl-search-input result="{{result}}"
                                 search-label-name="บริษัท"
                                 search-input="true"
                                 search-type="[[searchType]]">
                </gl-search-input>

          </gl-grid-col>
      </gl-grid-row>
    </div>



  </template>

  <script>
    Polymer({
      is: "register-searchMember",

    });
  </script>
</dom-module>
