<link rel="import" href="../../../g2g/components/list-edit/listEditBehavior.html">
<link rel="import" href="register-memberSave.html">
<link rel="import" href="register-memberEdit.html">
<dom-module id="register-pageDetail">
  <style include="gl-color gl-size">

  </style>
  <template>

    <gl-form-panel set-border="0px">

      <gl-form-panel-head set-padding="0px 0px 0px 0px">
        <div id="removePen" hidden>
          <paper-icon-button icon="create" on-tap="editChange"></paper-icon-button>
        </div>
      </gl-form-panel-head>

              <div class="bd">
                  <gl-form-panel>
                      <iron-pages selected="{{pages}}">
                          <register-memberSave data="{{data}}"></register-memberSave>
                          <register-memberEdit data="{{data}}"></register-memberEdit>
                      </iron-pages>
                  </gl-form-panel>
              </div>

        <gl-form-panel-footer>
          <paper-button id="removeButtom" class="gl-btn-success" on-tap="save" raised hidden>บันทึก</paper-button>
        </gl-form-panel-footer>
    </gl-form-panel>


  </template>
  <script>
    Polymer({
      is: "register-pageDetail",
      behaviors: [gl.behavior.core],
      properties: {
        pages:{
            type:Number,
            notify:true,
            value: 0
        },
        exporterId:{
          type:String,
          observer:'_exporterIdChanged'
        }
      },
      _exporterIdChanged:function(val){
        if(val!=""){
          axios.get('./external/exporter/id/'+val)
          .then( (response)=>{
            this.data = response.data;
            this.glQuery('contentPanel').changDrawer();
          })
          .catch(function (error) {
            console.log(error);
          });
        }
      },
      ready: function() {
        this.$$('#removePen').removeAttribute("hidden");
      },
      editChange:function(e){
        this.pages = 1;
        this.$$('#removeButtom').removeAttribute("hidden");
        this.$$('#removePen').setAttribute("hidden", "hidden");
      },
      save:function(e) {
        var datas = {
          id:this.data.exporter_id,
          exporter_no:this.data.exporter_no,
          exporter_date_approve:new Date (this.data.exporter_date_approve),
          exporter_date_update:new Date (this.data.exporter_date_approve),
          seller_agent:this.data.seller_agent,
          trader_id:this.data.trader_id
        }
        // console.log(datas);
        // console.log(this.exporterId);
        axios.put('http://localhost:3000/api/external/exporter/update', datas)
                  .then(function (response) {
                    console.log("success");
                    console.log(response);
                    this.pages = 0;
                    // this.glQuery('refreshPage').exporterIdChanged(exporterId);
                  }.bind(this))
                  .catch(function (error) {
                    console.log("error");
                    console.log(error);
                  })
        this.$$('#removeButtom').setAttribute("hidden", "hidden");
        this.$$('#removePen').removeAttribute("hidden");
      }
    });
  </script>
</dom-module>
