<dom-module id="register-member">
  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .title {
        text-align: center;
        font-size: var(--font-size-h4);
        font-family: 'rsubold', sans-serif;
        -webkit-font-smoothing: antialiased;
        margin: 20px 0px 20px 0px;
    }
    /*.bd{
      border: 1px solid black;
      padding: 15px;
    }*/
    vaadin-date-picker{
      width: 70%;
    }
    paper-icon-button{
      margin-top: 20px;
    }
    .padding{
      padding: 20px;
    }
  </style>
  <template>
asdasd {{data.0.trader_id}}
      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="เลขประจำตัวผู้เสียภาษี :" value="0123335568790"></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="ชื่อบริษัท :" value="โกบอล พรีเซียส ไรซ์"></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input  label="ชื่อบริษัท (อังกฤษ) :" value="Golbal precious rice"></gl-form-label-input>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,8]]">
          <gl-form-label-textarea label="ที่อยู่ :" value="107 หมู่ 4 ตำบลโพทะเลอำเภอบางระจัน จังหวัดสิงห์บุรี"></gl-form-label-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,8]]">
          <gl-form-label-textarea label="ที่อยู่ (อังกฤษ) :" value="107 Village No. 4, Sub-district Potale, District Bangrajan, Province Sing Buri"></gl-form-label-textarea>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input  label="รหัสไปรษณีย์ :" value="16150"></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input  label="หมายเลขโทรศัพท์ :" value="036-501024"></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input  label="FAX :" value="036-501024"></gl-form-label-input>
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input  label="E-Mail Address :" value="golbal@gmail.com"></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input  label="เลขที่หนังสืออนุญาต ปกข. :" value="9/2555"></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input  label="สถานะเป็นสมาชิกผู้ส่งออกข้าว :" value="เป็นสมาชิก"></gl-form-label-input>
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-dropdown-menu label="ประเภทการอนุญาติ :">
            <paper-menu  class="dropdown-content" selected="0">
              <paper-item value="">ทั่วไป</paper-item>
            </paper-menu>
          </gl-form-dropdown-menu>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="เลขประจำตัวผู้ส่งออกข้าว :" auto-validate error-message="กรุณาใส่เลขประจำตัวผู้ส่งออกข้าว" required value="ข004"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <vaadin-date-picker label="วันที่อนุมัติ :" value="2016-09-18"></vaadin-date-picker>
        </gl-grid-col>
      </gl-grid-row>

        <!-- <div class="title">
          <paper-checkbox class="bd" noink>เป็นสมาชิกสมาคมผู้ส่งออกข้าว</paper-checkbox>
        </div> -->

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input  label="ชื่อคณะกรรมการ :" auto-validate error-message="กรุณาใส่ชื่อคณะกรรมการ" required value="คุณสมพร ใจดี"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <paper-icon-button icon="icons:add-circle"></paper-icon-button>
        </gl-grid-col>
      </gl-grid-row>



  </template>
  <script>
    Polymer({
      is: "register-member",


    });
  </script>
</dom-module>
