<link rel="import" href="../vessel/vesselBehavior.html">
<!-- <link rel="import" href="../../data/g2gModelBehavior.html"> -->
<dom-module id="promise-confirm">
    <style is="custom-style" include="iron-flex iron-flex-alignment gl-size gl-color">
        .top {
            margin-top: 15px;
            font-size: var(--font-size-large);
        }
        .bg {
            background-color: var(--paper-grey-200);
            border: 1px solid black;
            padding-left: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            padding: 10px 0px 10px 10px;
        }
        table.default {
          border-collapse: collapse;
          width: 100%
        }

        table.default,
        th,
        td {
          border-bottom: 1px solid #ddd;
        }

        th,
        td {
          padding: 15px;
        }

        th {
          text-align: center;
          background-color: #F1F1F1;
          white-space: nowrap;
        }

        td {
          text-align: left;
          white-space: nowrap;
        }

        tr:hover {
          background-color: #F1F1F1;
        }
        paper-button {
            margin-top: 10px;
        }

        gl-form-textarea {
            word-break: break-all;
        }

        paper-icon-button {
            margin-top: 10px;
        }

        paper-icon-button.iconAdd {
          /*color: var(--paper-pink-500);*/
          color: gray;
          /*--paper-icon-button-ink-color: var(--paper-indigo-500);*/
        }
        paper-icon-button.crud {
        margin: 5px 5px 5px 5px;
       }
       paper-icon-button.crud:hover {
         background-color: var(--paper-grey-200);
         border-radius: 5px;
         box-shadow: inset 0 0 3px 3px rgba(0,0,0,.2);
       }

    </style>
    <template>
      <div class="horizontal end-justified layout">
          <template is="dom-if" if="[[!checkBtnView(confirmLetter.cl_status)]]">
            <paper-icon-button id="editConfirm" class="crud" icon="create" raised on-tap="editInput" ></paper-icon-button>
            <paper-tooltip for="editConfirm" offset="0">Edit Confirmmation Letter</paper-tooltip>
            <paper-icon-button id="deleteConfirm" class="crud" icon="delete" raised on-tap="deleteConfirm" ></paper-icon-button>
            <paper-tooltip for="deleteConfirm" offset="0">Delete Confirmmation Letter</paper-tooltip>
          </template>


      </div>
      <!-- disabled="[[checkInput]]" -->
      <form is="iron-form" id="confirmLitter" method="get">
        <gl-grid-row width="{{getWidth}}">
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input  disabled="[[checkInput]]" error-message="กรุณาใส่ชื่อเลขจดหมายคอนเฟริม" required label="Confirmation Letter No." placeholder="ใส่รายละเอียด" value="{{confirmLetter.cl_no}}"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input disabled="[[checkInput]]" error-message="กรุณาใส่ชื่อจดหมายคอนเฟริม" required label="Confirmation Name" placeholder="ใส่รายละเอียด" value="{{confirmLetter.cl_name}}"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <vaadin-date-picker  disabled="[[checkInput]]" label="วันที่" value="{{confirmLetter.cl_date}}" name="cl_date"></vaadin-date-picker>
            </gl-grid-col>
        </gl-grid-row>


      <div class="top ">Commodities, Price, Package</div>
      <template is="dom-repeat" items="[[confirmLetter.cl_type_rice]]">
          <div class="bg">
            <gl-grid-row>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                <gl-form-dropdown-menu id  disabled="[[checkInput]]" label="ชนิดข้าว" error-message="กรุณาเลือกชนิดข้าว" placeholder="เลือกประเภท" required>
                  <paper-menu class="dropdown-content" attr-for-selected="rice-type-id" selected="{{item.type_rice_id}}" name="type_rice_id">
                    <template is="dom-repeat" items="[[riceType]]">
                      <paper-item rice-type-id="[[item.type_rice_id]]">[[item.type_rice_name_th]]</paper-item>
                    </template>
                  </paper-menu>
                </gl-form-dropdown-menu>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                [[calcWeight(item.*)]]
                [[changeString2Num(item.*,'type_rice_quantity')]]
                <gl-form-input  disabled="[[checkInput]]" label="จำนวน (ตัน)" placeholder="กรุณาใส่จำนวน" auto-validate error-message="กรุณาใส่ราคา" required
                  value="{{item.type_rice_quantity}}"
                 name="type_rice_quantity"></gl-form-input>

              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
              <template is="dom-if" if="[[checkBtnView(checkBtn)]]">
                  <paper-icon-button id="[[index]]" icon="icons:delete" title='ลบชนิดข้าว' style="color: gray;" on-tap="deleteRiceType"></paper-icon-button>
              </template>
            </gl-grid-row>

            <table class="default" id="[[index]]">
              <tr>
                <th>Package (Kg/PP Bags)</th>
                <th>Price (USD/MT)</th>
                <th>Minimum Tare Weight</th>
                <th>Action</th>
              </tr>

              <template is="dom-repeat" as="packageitem" items="[[item.package]]">
                <tr >
                  <td>
                    <gl-form-dropdown-menu  disabled="[[checkInput]]" error-message="กรุณาเลือกชนิดขนาดบรรจุภัณฑ์" placeholder="เลือกประเภท" required no-label-float>
                    <paper-menu id="[[index]]"  class="dropdown-content" attr-for-selected="package-id" selected="{{packageitem.package_id}}" name="package_id" >
                      <template is="dom-repeat" items="[[package]]">
                        <paper-item package-id="{{item.package_id}}" >[[item.package_name]]</paper-item>
                      </template>
                    </paper-menu>
                  </gl-form-dropdown-menu>
                  </td>
                  <td> [[changeString2Num(packageitem.*,'price_per_ton')]]
                    <gl-form-input  disabled="[[checkInput]]" placeholder="กรุณาใส่จำนวน" auto-validate error-message="กรุณาใส่ราคา" required value="{{packageitem.price_per_ton}}" name="price_per_ton" no-label-float></gl-form-input>
                  </td>
                  <td>
                    <gl-form-input disabled placeholder=""  value="[[changePrice(packageitem.package_id,package)]]" name="package_weight_bag"  no-label-float></gl-form-input>
                  </td>
                  <td>
                    <template is="dom-if" if="[[checkBtnView(checkBtn)]]">
                        <paper-icon-button icon="icons:"></paper-icon-button>
                        <paper-icon-button disabled="[[checkInput]]" id="[[index]]" icon="icons:delete" title='ลบขนาดบรรจุภัณฑ์'style="color: gray;" on-tap="delePackage"></paper-icon-button>
                    </template>
                  </td>
                </tr>
              </template>
              <template is="dom-if" if="[[checkBtnView(checkBtn)]]">
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <paper-icon-button icon="add" title='เพิ่มขนาดบรรจุภัณฑ์' on-tap="addPackage" class="iconAdd" id="[[index]]"></paper-icon-button>
                    </td>
                  </tr>
              </template>

            </table>

            </div>

        </template>
        <template is="dom-if" if="[[checkBtnView(checkBtn)]]">
            <div class="horizontal end-justified layout">
                <paper-button raised on-tap="addNewTypeRice" class="gl-btn-primary">เพิ่มชนิดข้าว</paper-button>
            </div>
        </template>
      <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
              <gl-form-dropdown-menu  disabled="[[checkInput]]" label="Basis on" error-message="กรุณาเลือกราคา" placeholder="เลือกประเภท" name="inct_id" required>
                  <paper-menu class="dropdown-content" attr-for-selected="price-type" selected="{{confirmLetter.inct_id}}" >
                      <template is="dom-repeat" items="[[incoterms]]">
                        <paper-item price-type="[[item.inct_id]]">[[item.inct_name]]</paper-item>
                      </template>

                  </paper-menu>
              </gl-form-dropdown-menu>
          </gl-grid-col>

          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
              <gl-form-label-input  disabled="[[checkInput]]" auto-validate error-message="กรุณาใส่ยอดรวม" pattern="[0-9,.,,]{1,9}" required label="Total Quantity" placeholder="ใส่รายละเอียด" value="{{cl_total_quantity}}" name="cl_total_quantity"></gl-form-label-input>
          </gl-grid-col>

          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,7]]">
              <gl-form-textarea  disabled="[[checkInput]]" label="Detail" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="{{confirmLetter.cl_quality}}" name="cl_quality"></gl-form-textarea>
          </gl-grid-col>
      </gl-grid-row>
      </form>

      <div class="horizontal end-justified layout">
          <paper-button class="gl-btn-danger" raised on-tap="cancelDrawer">ย้อนกลับ</paper-button>
          <template is="dom-if" if="[[!checkBtnView(confirmLetter.cl_status)]]">
            <template is="dom-if" if="[[!checkBtnView(checkBtn)]]">
            <paper-button class="gl-btn-info" raised on-tap="confirmApprove">ยืนยันสัญญา</paper-button>
            </template>
          </template>
          <template is="dom-if" if="[[checkBtnView(checkBtn)]]">
            <paper-button class="gl-btn-success" on-tap="addConfirm" raised>บันทึก</paper-button>
          </template>
      </div>
    </template>
    <script>
        Polymer({
            is: "promise-confirm",
            properties: {
                data: {
                    type: Object
                },
                riceType:{
                    type: Object
                },
                confirmLetter:{
                    type: Object,
                    value:
                      [
                        {
                          cl_date:"",
                          cl_id:"",
                          cl_name:"",
                          cl_no:"1",
                          cl_quality:"",
                          cl_total_quantity:"",
                          cl_type_rice:
                            [
                              {
                                id:1
                              }
                            ],
                          inct_id:''
                        }
                      ]
                }
            },
            behaviors: [
                gl.behavior.core,
                vesselBehavior,
                g2gModelBehavior
            ],
            observers: [
              'dataChange(data)',
              'check(confirmLetter.cl_type_rice.*)'
            ],
            check:function (data) {
              // console.log(data);
            },
            attached: function() {
              // console.log("created confirm-mation-common");
              this.fire('confirm-mation-common',{node:this});
            },
            confirmApprove:function () {
              this.confirmLetter.cl_status = this.approve(this.confirmLetter.cl_status);
              this.editInput();
              this.addConfirm();
              this.glQuery('contentPanel').changDrawer();
              // // edit-noshipment.html
              // // console.log(this.confirmLetter);
              // this.fire('get-confirm-new',{contract_id:this.confirmLetter.contract_id,});
            },
            editConfirm:function (data) {
              // console.log(1);
              this.editInput();
            },
            addConfirm:function () {
              //เปลี่ยนเป็น id

              // console.log(this.confirmLetter.cl_id);
                this.confirmLetter.id = this.confirmLetter.cl_id;

              this.confirmLetter.cl_date=new Date (this.confirmLetter.cl_date);
              delete this.confirmLetter.cl_id
              delete this.confirmLetter.cl_total_quantity;
              for (var i = 0; i < this.confirmLetter.cl_type_rice.length; i++) {
                // console.log(this.confirmLetter.cl_type_rice[i].type_rice_quantity);
                // this.confirmLetter.cl_type_rice[i].type_rice_quantity = parseFloat(this.confirmLetter.cl_type_rice[i].type_rice_quantity);
                delete this.confirmLetter.cl_type_rice[i].type_rice_desc_en
                delete this.confirmLetter.cl_type_rice[i].type_rice_name_en;
                delete this.confirmLetter.cl_type_rice[i].type_rice_name_th;
                for (var j = 0; j < this.confirmLetter.cl_type_rice[i].package.length; j++) {
                  // this.confirmLetter.cl_type_rice[i].package[j].price_per_ton = parseFloat(this.confirmLetter.cl_type_rice[i].package[j].price_per_ton);
                  delete this.confirmLetter.cl_type_rice[i].package[j].package_kg_per_bag;
                  delete this.confirmLetter.cl_type_rice[i].package[j].package_weight_bag;
                  delete this.confirmLetter.cl_type_rice[i].package[j].package_name;
                }
              }
              //
              this.glQuery('layoutMain').openToastSaveing();
              // this.postDb(this.confirmLetter);
              this.update('./g2g/confirm/update',this.confirmLetter, () => {
                  this.glQuery('addContract').getChange(false,'put');
                  // edit-noshipment.html
                  // console.log(this.confirmLetter);
                  if(this.confirmLetter.cl_status == true) {
                    this.fire('get-confirm-new',{contract_id:this.confirmLetter.contract_id,});
                  }
                  this.backPage();
                  this.editInput();
               });
            },
            calcWeight: function(data) {

              var total = 0;
              var datas = this.confirmLetter.cl_type_rice;
              for(index in datas){
                total += parseFloat(datas[index].type_rice_quantity);
              }
              this.cl_total_quantity = total;
          },
            addNewTypeRice: function() {
              // console.log(this.confirmLetter.cl_type_rice);
                this.push('confirmLetter.cl_type_rice', {
                  type_rice_id: '',
                  type_rice_quantity: 0,
                  package:
                    [
                      {
                        package_id: '',
                        price_per_ton: 0,
                        package_weight_bag: 0,
                      }
                    ]
                });
                // console.log(this.confirmLetter);
            },
            deleteRiceType:function (e) {
               this.splice('confirmLetter.cl_type_rice', e.currentTarget.id, 1);
            },
            weight:function () {
              return this.packageWeigthBag;
            },
            addPackage:function (e) {
            // console.log(e.currentTarget.id);

              var table = e.currentTarget.id;
              // console.log(table.node);
              // console.log(this.confirmLetter.cl_type_rice[table.node.id]);
              var data = {
                      package_id: '',
                      price_per_ton: 0,
                      package_weight_bag: 0,
                    };
                    // console.log(data);
              this.push('confirmLetter.cl_type_rice.'+[table]+'.package', data);
            },
            delePackage: function(e) {
              var table = Polymer.dom(Polymer.dom(Polymer.dom(Polymer.dom(Polymer.dom(e.currentTarget).parentNode).parentNode).parentNode).parentNode);

                // var index = this.data.confirmItem.indexOf(data);
                // console.log('confirmLetter.cl_type_rice.'+[table.node.id]+'.package');
                this.splice('confirmLetter.cl_type_rice.'+[table.node.id]+'.package', e.target.id, 1);
            },
            changePrice:function(data,list){
              var result = "";
              list.map((package,index)=>{
                //console.log(package.package_id,data,index,package.package_weight_bag)
                //console.log(package);
                if(package.package_id==data){
                  // console.log(data,package.package_id,package);
                  result = package.package_weight_bag;
                }
              });

              return result;
            },
            cancelDrawer:function () {
              this.backPage();
            },
            deleteConfirm:function () {
              // console.log(this.confirmLetter.cl_id);
              // this.deleteConfirmDb(this.confirmLetter.cl_id);
              this.delete('./g2g/confirm/delete/id/',this.confirmLetter.cl_id, () => {
                this.glQuery('addContract').getChange(false,'delete');
                this.glQuery('contentPanel').changDrawer();
                this.editInput();
                this.backPage();
               });
            },
            backPage:function () {
              this.fire('select', {
                data: 'fin',
              });
            }
        });
    </script>
</dom-module>
