<dom-module id="promise-confirm">
    <style is="custom-style" include="iron-flex iron-flex-alignment gl-color">
        .top {
            margin-top: 15px;
        }
        .bg {
            background-color: var(--paper-grey-200);
            border: 1px solid black;
            padding-left: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            padding: 10px 0px 10px 10px;
        }
        table.default {
          border-collapse: collapse;
          width: 100%
        }

        table.default,
        th,
        td {
          border-bottom: 1px solid #ddd;
        }

        th,
        td {
          padding: 15px;
        }

        th {
          text-align: center;
          background-color: #F1F1F1;
          white-space: nowrap;
        }

        td {
          text-align: left;
          white-space: nowrap;
        }

        tr:hover {
          background-color: #F1F1F1;
        }
        paper-button {
            margin-top: 10px;
        }

        gl-form-textarea {
            word-break: break-all;
        }

        paper-icon-button {
            margin-top: 10px;
        }
    </style>
    <template>
      <form is="iron-form" id="form" method="post" action="/form/handler">
        <gl-grid-row width="{{getWidth}}">
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input auto-validate error-message="กรุณาใส่ชื่อเลขจดหมายคอนเฟริม" pattern="[0-9]{1,6}" required label="Confirmation Letter No." placeholder="ใส่รายละเอียด" value="{{data.cl_no}}" name="cl_no"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <vaadin-date-picker label="วันที่" value="{{data.cl_date}}" name="cl_date"></vaadin-date-picker>
            </gl-grid-col>
        </gl-grid-row>


      <div class="top">Commodities, Price, Package</div>
      <template is="dom-repeat" items="[[data.cl_type_rice]]">
          <div class="bg">
            <gl-grid-row>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                <gl-form-dropdown-menu label="ชนิดข้าว" error-message="กรุณาเลือกชนิดข้าว" placeholder="เลือกประเภท" required>
                  <paper-menu class="dropdown-content" attr-for-selected="rice-type-id" selected="{{item.type_rice_id}}" name="type_rice_id">
                    <template is="dom-repeat" items="[[riceType.contract_type_rice]]">
                      <paper-item rice-type-id="[[item.type_rice_id]]">[[item.type_rice_name_th]]</paper-item>
                    </template>
                  </paper-menu>
                </gl-form-dropdown-menu>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                <gl-form-input label="จำนวน (ตัน)" placeholder="กรุณาใส่จำนวน" auto-validate error-message="กรุณาใส่ราคา" required
                  on-keyup="dataChange"
                  value="{{item.type_rice_quantity}}"
                 name="type_rice_quantity"></gl-form-input>
              </gl-grid-col>
            </gl-grid-row>

            <table class="default">
              <tr>
                <th>Package (Kg/PP Bags)</th>
                <th>Price (USD/MT)</th>
                <th>Minimum Tare Weight</th>
                <th></th>
              </tr>
              <template is="dom-repeat" items="[[item.package]]">
                <tr>
                  <td><gl-form-dropdown-menu error-message="กรุณาเลือกชนิดpackage" placeholder="เลือกประเภท" required no-label-float>
                    <paper-menu class="dropdown-content" attr-for-selected="package" selected="{{item.package_id}}" name="package_id">
                      <template is="dom-repeat" items="[[package]]">
                        <paper-item package="[[item.package_id]]">[[item.pack_name]]</paper-item>
                      </template>
                    </paper-menu>
                  </gl-form-dropdown-menu>
                  </td>
                  <td><gl-form-input placeholder="กรุณาใส่จำนวน" auto-validate error-message="กรุณาใส่ราคา" required value="[[item.price_per_ton]]" name="price_per_ton" no-label-float></gl-form-input></td>
                  <td><gl-form-input placeholder="กรุณาใส่จำนวน" auto-validate error-message="กรุณาใส่ราคา" required value="[[item.weight]]" name="weight" no-label-float></gl-form-input></td>
                  <td>
                    <paper-icon-button icon="icons:add" title='เพิ่ม'style="color: gray;" on-tap="add"></paper-icon-button>
                    <paper-icon-button icon="icons:delete" title='ลบ'style="color: gray;" on-tap="dele"></paper-icon-button>
                  </td>
                </tr>
              </template>


            </table>

            </div>
          </form>
        </template>

      <div class="horizontal end-justified layout">
          <paper-button raised on-tap="addTypeRice" class="gl-btn-primary">เพิ่ม</paper-button>
      </div>

      <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-dropdown-menu label="Basis on" error-message="กรุณาเลือกราคา" placeholder="เลือกประเภท" required>
                  <paper-menu class="dropdown-content" attr-for-selected="price-type" selected="{{data.inct_id}}" name="inct_id">
                      <paper-item price-type="FOB">FOB CY</paper-item>
                      <paper-item price-type="Bath">Bath</paper-item>
                      <paper-item price-type="Other">ฯลฯ</paper-item>
                  </paper-menu>
              </gl-form-dropdown-menu>
          </gl-grid-col>

          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
              <gl-form-input auto-validate error-message="กรุณาใส่ยอดรวม" pattern="[0-9,.,,]{1,9}" required label="Total Quantity" placeholder="ใส่รายละเอียด" value="{{cl_total_quantity}}" name="cl_total_quantity"></gl-form-input>
          </gl-grid-col>

          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,7]]">
              <gl-form-textarea label="Detail" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="[[data.cl_quality]]" name="cl_quality"></gl-form-textarea>
          </gl-grid-col>
      </gl-grid-row>
      <div class="horizontal end-justified layout">
          <paper-button class="gl-btn-danger" raised>ยกเลิก</paper-button>
          <paper-button class="gl-btn-success" on-tap="add" raised>บันทึก</paper-button>
      </div>

    </template>
    <script>
        Polymer({
            is: "promise-confirm",
            properties: {
                data: {
                    type: Object
                },
                riceType:{
                    type: Object
                }
            },
            behaviors: [
                gl.behavior.core
            ],
            observers: [
              'dataChange(data)',
              'getTyperice(contractId)'
            ],
            getTyperice: function(contractId) {
              this.getDb('http://localhost:3000/api/g2g/contract/'+contractId,(data)=>{
                this.riceType = data;
                // console.log(this.riceType);
              });
            },
            addTypeRice:function () {
              console.log(1);
            },
            getDb:function (url,callback) {
              // console.log(url);
              axios.get(url)
                .then(function(response){
                  callback(response.data);
                }.bind(this))
                .catch(function (error) {
                }.bind(this));
            },
            dataChange: function(data) {
              //this.data.cl_total_quantity
              var total = 0;
              var datas = this.data.cl_type_rice;
              for(index in datas){
                total += parseFloat(datas[index].type_rice_quantity);
              }
              this.cl_total_quantity = total;

            },
            add: function() {
              console.log(this.data);
                // this.push('data.confirmItem', {
                //     package: '',
                //     price: ''
                // });
                // console.log(this.data);
            },
            dele: function(data) {
                var index = this.data.confirmItem.indexOf(data);
                this.splice('data.confirmItem', index, 1);
            }

        });
    </script>
</dom-module>
