<dom-module id="promise-confirm">
    <style is="custom-style" include="iron-flex iron-flex-alignment gl-size gl-color">
        .top {
            margin-top: 15px;
            font-size: var(--font-size-large);
        }
        .bg {
            background-color: var(--paper-grey-200);
            border: 1px solid black;
            padding-left: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            padding: 10px 0px 10px 10px;
        }
        table.default {
          border-collapse: collapse;
          width: 100%
        }

        table.default,
        th,
        td {
          border-bottom: 1px solid #ddd;
        }

        th,
        td {
          padding: 15px;
        }

        th {
          text-align: center;
          background-color: #F1F1F1;
          white-space: nowrap;
        }

        td {
          text-align: left;
          white-space: nowrap;
        }

        tr:hover {
          background-color: #F1F1F1;
        }
        paper-button {
            margin-top: 10px;
        }

        gl-form-textarea {
            word-break: break-all;
        }

        paper-icon-button {
            margin-top: 10px;
        }

        paper-icon-button.iconAdd {
          /*color: var(--paper-pink-500);*/
          color: gray;
          /*--paper-icon-button-ink-color: var(--paper-indigo-500);*/
        }
        /*paper-icon-button.iconAdd:last-child:hover{
          background-color: var(--paper-pink-500);
          color: white;
        }*/

    </style>
    <template>
      <form is="iron-form" id="confirmLitter" method="get">
        <!-- <paper-icon-button
  id = 'add-btn'
  label = 'NAME'
  required
  icon = 'add'
  on-click = '{{ toggle }}'
></paper-icon-button> -->
        <gl-grid-row width="{{getWidth}}">
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input auto-validate error-message="กรุณาใส่ชื่อเลขจดหมายคอนเฟริม" required label="Confirmation Letter No." placeholder="ใส่รายละเอียด" value="{{confirmLetter.cl_no}}" name="cl_no"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <vaadin-date-picker label="วันที่" value="{{confirmLetter.cl_date}}" name="cl_date"></vaadin-date-picker>
            </gl-grid-col>
        </gl-grid-row>


      <div class="top ">Commodities, Price, Package</div>
      <template is="dom-repeat" items="[[confirmLetter.cl_type_rice]]">
          <div class="bg">
            <gl-grid-row>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                <gl-form-dropdown-menu label="ชนิดข้าว" error-message="กรุณาเลือกชนิดข้าว" placeholder="เลือกประเภท" required>
                  <paper-menu class="dropdown-content" attr-for-selected="rice-type-id" selected="{{item.type_rice_id}}" name="type_rice_id">
                    <template is="dom-repeat" items="[[riceType.contract_type_rice]]">
                      <paper-item rice-type-id="[[item.type_rice_id]]">[[item.type_rice_name_th]]</paper-item>
                    </template>
                  </paper-menu>
                </gl-form-dropdown-menu>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                [[calcWeight(item.*)]]
                [[testNum(item.*,'type_rice_quantity')]]
                <gl-form-input label="จำนวน (ตัน)" placeholder="กรุณาใส่จำนวน" auto-validate error-message="กรุณาใส่ราคา" required
                  value="{{item.type_rice_quantity}}"
                 name="type_rice_quantity"></gl-form-input>

              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
              <paper-icon-button id="[[index]]" icon="icons:delete" title='ลบชนิดข้าว' style="color: gray;" on-tap="deleteRiceType"></paper-icon-button>

            </gl-grid-row>

            <table class="default" id="[[index]]">
              <tr>
                <th>Package (Kg/PP Bags)</th>
                <th>Price (USD/MT)</th>
                <th>Minimum Tare Weight</th>
                <th></th>
              </tr>

              <template is="dom-repeat" as="packageitem" items="[[item.package]]">
                <tr >
                  <td>
                    <gl-form-dropdown-menu error-message="กรุณาเลือกชนิดขนาดบรรจุภัณฑ์" placeholder="เลือกประเภท" required no-label-float>
                    <paper-menu id="[[index]]"  class="dropdown-content" attr-for-selected="package-id" selected="{{packageitem.package_id}}" name="package_id" >
                      <template is="dom-repeat" items="[[package]]">


                        <paper-item package-id="{{item.package_id}}" >[[item.package_name]]</paper-item>
                      </template>
                    </paper-menu>
                  </gl-form-dropdown-menu>
                  </td>
                  <td> [[testNum(packageitem.*,'price_per_ton')]]
                    <gl-form-input placeholder="กรุณาใส่จำนวน" auto-validate error-message="กรุณาใส่ราคา" required value="{{packageitem.price_per_ton}}" name="price_per_ton" no-label-float></gl-form-input>
                  </td>
                  <td>
                    <gl-form-input disabled  placeholder="" auto-validate error-message="กรุณาใส่ราคา" required value="[[changePrice(packageitem.package_id,package)]]" name="package_weight_bag"  no-label-float></gl-form-input>
                  </td>
                  <td>
                    <paper-icon-button icon="add" title='เพิ่มขนาดบรรจุภัณฑ์' on-tap="addPackage" class="iconAdd"></paper-icon-button>
                    <paper-icon-button  id="[[index]]" icon="icons:delete" title='ลบขนาดบรรจุภัณฑ์'style="color: gray;" on-tap="delePackage"></paper-icon-button>
                  </td>
                </tr>
              </template>



            </table>

            </div>

        </template>

      <div class="horizontal end-justified layout">
          <paper-button raised on-tap="addNewTypeRice" class="gl-btn-primary">เพิ่ม</paper-button>
      </div>

      <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-dropdown-menu label="Basis on" error-message="กรุณาเลือกราคา" placeholder="เลือกประเภท" name="inct_id" required>
                  <paper-menu class="dropdown-content" attr-for-selected="price-type" selected="{{confirmLetter.inct_id}}" >
                      <template is="dom-repeat" items="[[incoterms]]">
                        <paper-item price-type="[[item.inct_id]]">[[item.inct_name]]</paper-item>
                      </template>

                  </paper-menu>
              </gl-form-dropdown-menu>
          </gl-grid-col>

          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
              <gl-form-label-input auto-validate error-message="กรุณาใส่ยอดรวม" pattern="[0-9,.,,]{1,9}" required label="Total Quantity" placeholder="ใส่รายละเอียด" value="{{cl_total_quantity}}" name="cl_total_quantity"></gl-form-label-input>
          </gl-grid-col>

          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,7]]">
              <gl-form-textarea label="Detail" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="{{confirmLetter.cl_quality}}" name="cl_quality"></gl-form-textarea>
          </gl-grid-col>
      </gl-grid-row>
      </form>
      <div class="horizontal end-justified layout">
          <paper-button class="gl-btn-danger" raised>ยกเลิก</paper-button>
          <paper-button class="gl-btn-success" on-tap="addConfirm" raised>บันทึก</paper-button>
      </div>
    </template>
    <script>
        Polymer({
            is: "promise-confirm",
            properties: {
                data: {
                    type: Object
                },
                riceType:{
                    type: Object
                },
                contractId:{
                    type:String
                },
                confirmLetter:{
                    type: Object,
                    value:
                      [
                        {
                          cl_date:"",
                          cl_id:"",
                          cl_name:"",
                          cl_no:"1",
                          cl_quality:"",
                          cl_total_quantity:"",
                          cl_type_rice:
                            [
                              {
                                id:1
                              }
                            ],
                          inct_id:''
                        }
                      ]
                }
            },
            behaviors: [
                gl.behavior.core
            ],
            observers: [
              'dataChange(data.cl_id)',
              'getTyperice(contractId)'
            ],
            getTyperice: function(contractId) {
              this.getDb('http://localhost:3000/api/g2g/contract/'+contractId,(data)=>{
                this.riceType = data;
              });
            },
            dataChange:function (clId) {
              //ดึง confirmLetter
              this.getDb('http://localhost:3000/api/g2g/confirm/'+clId,(data)=>{
                this.confirmLetter = data;
              });
            },
            addConfirm:function () {
              //เปลี่ยนเป็น id
              // this.confirmLetter.cl_type_rice[0].type_rice_quantity = parseFloat(e.target.value);
              this.confirmLetter.id = this.confirmLetter.cl_id;
              delete this.confirmLetter.cl_id
              delete this.confirmLetter.cl_total_quantity;
              for (var i = 0; i < this.confirmLetter.cl_type_rice.length; i++) {
                // console.log(this.confirmLetter.cl_type_rice[i].type_rice_quantity);
                // this.confirmLetter.cl_type_rice[i].type_rice_quantity = parseFloat(this.confirmLetter.cl_type_rice[i].type_rice_quantity);
                delete this.confirmLetter.cl_type_rice[i].type_rice_name_en;
                delete this.confirmLetter.cl_type_rice[i].type_rice_name_th;
                for (var j = 0; j < this.confirmLetter.cl_type_rice[i].package.length; j++) {
                  // this.confirmLetter.cl_type_rice[i].package[j].price_per_ton = parseFloat(this.confirmLetter.cl_type_rice[i].package[j].price_per_ton);
                  delete this.confirmLetter.cl_type_rice[i].package[j].package_kg_per_bag;
                  delete this.confirmLetter.cl_type_rice[i].package[j].package_weight_bag;
                  delete this.confirmLetter.cl_type_rice[i].package[j].package_name;
                }
              }
              //
              this.postDb(this.confirmLetter)
              // console.log(this.confirmLetter);
            },
            getDb:function (url,callback) {
              axios.get(url)
                .then(function(response){
                  callback(response.data);
                }.bind(this))
                .catch(function (error) {
                }.bind(this));
            },
            postDb:function (data) {
              axios.put('http://localhost:3000/api/g2g/confirm/update', data)
                        .then(function (response) {
                          console.log("success");
                          console.log(response);
                          this.glQuery('addContract').getChange();
                          this.glQuery('contentPanel').changDrawer();
                        }.bind(this))
                        .catch(function (error) {
                          console.log("error");
                          console.log(error);
                        })

            },
            calcWeight: function(data) {

              var total = 0;
              var datas = this.confirmLetter.cl_type_rice;
              for(index in datas){
                total += parseFloat(datas[index].type_rice_quantity);
              }
              this.cl_total_quantity = total;
          },
            addNewTypeRice: function() {
              // console.log(this.confirmLetter.cl_type_rice);
                this.push('confirmLetter.cl_type_rice', {
                  type_rice_id: '',
                  type_rice_quantity: 0,
                  package:
                    [
                      {
                        package_id: '',
                        price_per_ton: 0,
                        package_weight_bag: 0,
                      }
                    ]
                });
                // console.log(this.confirmLetter);
            },
            deleteRiceType:function (e) {
              // console.log(e.currentTarget.id);
              // console.log( e.target.id);
              // console.log(this.confirmLetter.cl_type_rice[e.currentTarget.id]);
              // console.log(this.confirmLetter.cl_type_rice[e.target.id]);
              // this.splice('confirmLetter.cl_type_rice.0', 0, 1);
              // console.log('confirmLetter.cl_type_rice.'+[e.currentTarget.id]);
              // console.log(this.confirmLetter.cl_type_rice[e.currentTarget.id]);
              // var index = this.confirmLetter.cl_type_rice.indexOf(this.confirmLetter.cl_type_rice[e.currentTarget.id]);
              // console.log(index);
              this.splice('confirmLetter.cl_type_rice', e.currentTarget.id, 1);
            },
            weight:function () {
              return this.packageWeigthBag;
            },
            addPackage:function (e) {
              var table = Polymer.dom(Polymer.dom(Polymer.dom(Polymer.dom(Polymer.dom(e.currentTarget).parentNode).parentNode).parentNode).parentNode);
              // console.log(table.node.id);
              // console.log(this.confirmLetter.cl_type_rice[table.node.id]);
              var data = {
                      package_id: '',
                      price_per_ton: 0,
                      package_weight_bag: 0,
                    };
                    // console.log(data);
              this.push('confirmLetter.cl_type_rice.'+[table.node.id]+'.package', data);
            },
            delePackage: function(e) {
              var table = Polymer.dom(Polymer.dom(Polymer.dom(Polymer.dom(Polymer.dom(e.currentTarget).parentNode).parentNode).parentNode).parentNode);
              // console.log(table.node.id);
              // console.log(e.target.id);
                // var index = this.data.confirmItem.indexOf(data);
                // console.log('confirmLetter.cl_type_rice.'+[table.node.id]+'.package');
                this.splice('confirmLetter.cl_type_rice.'+[table.node.id]+'.package', e.target.id, 1);
            },
            changePrice:function(data,list){
              var result = "";
              list.map((package,index)=>{
                //console.log(package.package_id,data,index,package.package_weight_bag)
                //console.log(package);
                if(package.package_id==data){
                  // console.log(data,package.package_id,package);
                  result = package.package_weight_bag;
                }
              });

              return result;
            },

            testNum:function(ob,param){
                    if(ob.path.split(".").length == 2){
                        ob.base[param]=parseFloat(ob.value);

                    }
                }
        });
    </script>
</dom-module>
