<dom-module id="promise-detail">

  <style is="custom-style" include="iron-flex iron-flex-alignment gl-color">
    .bg{
      background-color:var(--paper-grey-200);
      border: 1px solid black;
      padding: 10px 0px 10px 10px;
      }
      paper-button{
        margin-top: 10px;
      }
      .icon-bin{
        margin-top: 10px;
      }
      .bottom{
        margin-bottom: 10px;
      }
    </style>


  <template>
    <form is="iron-form" id="insertPromiseDetail">
      <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input class="bottom" auto-validate error-message="กรุณาใส่ชื่อสัญญา" required label="ชื่อสัญญา" value="{{data.contract_name}}" placeholder="ใส่รายละเอียด" name="contract_name"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <vaadin-date-picker label="วันที่" value="{{data.contract_date}}" name="contract_date"></vaadin-date-picker>
          </gl-grid-col>
        </gl-grid-row>

        <template is="dom-repeat" items="{{data.contract_type_rice}}">
            <div class="bg top">
              <gl-grid-row>
                <gl-form-input value="{{item.type_rice_id}}" name="type_rice_id" hidden></gl-form-input>
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                    <gl-form-dropdown-menu label="ชนิดข้าว" error-message="กรุณาเลือกชนิดข้าว" placeholder="เลือกประเภท" name="type_rice_name" required>
                      <paper-menu class="dropdown-content" attr-for-selected="value" selected="{{item.type_rice_id}}">
                        <template is="dom-repeat" items="[[typeRice]]">
                          <paper-item value="[[item.type_rice_id]]">[[item.type_rice_name_th]]</paper-item>
                        </template>

                      </paper-menu>
                    </gl-form-dropdown-menu>
                </gl-grid-col>

                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                    <gl-form-input auto-validate error-message="กรุณาใส่จำนวน" pattern="[0-9,.,,]{1,12}" required  label="จำนวน (ตัน)" value="{{item.type_rice_quantity}}" placeholder="ใส่รายละเอียด" name="type_rice_quantity"></gl-form-input>
                </gl-grid-col>
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
                  <paper-icon-button class="icon-bin" icon="icons:delete" style="color: gray;" on-tap="dele"></paper-icon-button>
                </gl-grid-col>
              </gl-grid-row>
            </div>
        </template>

        <div class="horizontal end-justified layout">
          <paper-button raised on-tap="addNewData" class="gl-btn-primary">เพิ่ม</paper-button>
        </div>


          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
              <gl-form-input value="{{data.buyer_id}}" name="buyer_id" hidden></gl-form-input>
              <gl-form-textarea rows="2" label="ชื่อผู้ซื้อสินค้า, ที่อยู่" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="{{data.buyer_address}}" name="buyer_address"></gl-form-textarea>
            </gl-grid-col>
          </gl-grid-row>
          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
              <gl-form-textarea rows="2" label="รายละเอียด" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="{{data.contract_desc}}" name="contract_desc"></gl-form-textarea>
            </gl-grid-col>
          </gl-grid-row>

          <div class="horizontal end-justified layout">
            <paper-button class="gl-btn-danger" raised>ยกเลิก</paper-button>
            <paper-button class="gl-btn-success" on-tap="_saveData" raised>บันทึก</paper-button>
          </div>
    </form>
  </template>

  <script>
    Polymer({
      is: "promise-detail",
      properties: {
        data: {
          type: Object,
          value: { name:''}
        },
        error:{
          type:Object,
          value:{ name:false }
        }
      },
      addNewData: function(e) {
        this.push('data.contract_type_rice',{
          type_rice_id:'',
          type_rice_name_en:'',
          type_rice_name_th:'',
          type_rice_quantity:'',
        });
        // console.log(this.data);
      },
      dele: function(data){
        var index = this.data.rice.indexOf(data);
        this.splice('data.rice',index,1);
      },
      listeners:{
        'iron-form-submit': '_submitData'
      },
      _saveData: function(event){
        this.$.insertPromiseDetail.submit();
        // console.log(this.data);
      },
      _submitData:function (event) {
          // console.log(JSON.stringify(event.detail));
          // console.log(event.detail);
          // this.result = event.detail
          var keys = ["type_rice_id","type_rice_quantity"];
                var datas = event.detail;
                var type_rice = [];
                for ( key in datas ) {
                    if(keys.indexOf(key)>-1){
                        // console.log(key + " "+datas[key]);
                        for(key2 in datas[key]){
                            if(!type_rice.hasOwnProperty(key2)){
                                type_rice[key2] = {};
                            }
                            if(!type_rice[key2].hasOwnProperty(key)){
                                type_rice[key2][key] = {};
                            }
                            type_rice[key2][key] = datas[key][key2];
                            // console.log("key2=> "+key2+" "+datas[key][key2]);
                        }
                        delete datas[key];
                    }
                }
                // console.log(type_rice);
                delete datas['buyer_address'];
                delete datas['type_rice_name'];
                datas["contract_type_rice"] = type_rice;
                // console.log(JSON.stringify(datas));
                axios.post('http://localhost:3000/api/g2g/contract/insert', datas)
                          .then(function (response) {
                            console.log("success");
                            console.log(response);
                          })
                          .catch(function (error) {
                            console.log("error");
                            console.log(error);
                          })
      },
      validate: function(){
        if(
            (
              this.data.name != ""
              // this.data.id != "" &&
              // this.data.etd != "" &&
              // this.data.eta != ""
            )
            &&
            (
              this.error.vessel == false
              // this.error.id == false &&
              // this.error.etd == false &&
              // this.error.eta == false
            )
        ){
          var queryELement = document.querySelector('dashboard-my-dashboard');
          queryELement.save(this.data,this.index);
        }
      }
    });
  </script>
</dom-module>
