<dom-module id="promise-detail">

    <style is="custom-style" include="iron-flex iron-flex-alignment gl-color">
        .bg {
            background-color: var(--paper-grey-200);
            border: 1px solid black;
            padding: 10px 0px 10px 10px;
        }

        paper-button {
            margin-top: 10px;
        }

        .icon-bin {
            margin-top: 10px;
        }

        .bottom {
            margin-bottom: 10px;
        }
        paper-icon-button.crud {
        margin: 5px 5px 5px 5px;
       }
       paper-icon-button.crud:hover {
         background-color: var(--paper-grey-200);
         border-radius: 5px;
         box-shadow: inset 0 0 3px 3px rgba(0,0,0,.2);
       }
    </style>


    <template>
    <form is="iron-form" id="insertPromiseDetail">
      <div class="horizontal end-justified layout">
          <!-- <template is="dom-if" if="[[checkApprove(confirmLetter.cl_status)]]"> -->
            <paper-icon-button id="editConfirm" class="crud" icon="create" raised on-tap="editInput" ></paper-icon-button>
            <paper-tooltip for="editConfirm" offset="0">Edit Contract</paper-tooltip>
          <!-- </template> -->

        <paper-icon-button id="deleteConfirm" class="crud" icon="delete" raised on-tap="shipmentDelete" on-tap="deleteConfirm"></paper-icon-button>

        <paper-tooltip for="deleteConfirm" offset="0">Delete Contract</paper-tooltip>
      </div>
      <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input class="bottom approve" disabled error-message="กรุณาใส่ชื่อสัญญา" required label="ชื่อสัญญา" value="{{data.contract_name}}" placeholder="ใส่รายละเอียด" name="contract_name"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <vaadin-date-picker class="approve"  disabled label="วันที่" value="{{data.contract_date}}" name="contract_date"></vaadin-date-picker>
          </gl-grid-col>
        </gl-grid-row>

        <template is="dom-repeat" items="{{data.contract_type_rice}}">
            <div class="bg top">
              <gl-grid-row>

                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                    <gl-form-dropdown-menu class="approve"  disabled label="ชนิดข้าว" error-message="กรุณาเลือกชนิดข้าว" placeholder="เลือกประเภท" name="type_rice_name" required>
                      <paper-menu class="dropdown-content" attr-for-selected="value" selected="{{item.type_rice_id}}">
                        <template is="dom-repeat" items="[[typeRice]]">
                          <paper-item value="[[item.type_rice_id]]">[[item.type_rice_name_th]]</paper-item>
                        </template>

    </paper-menu>
    </gl-form-dropdown-menu>
    </gl-grid-col>

    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">[[changeString2Num(item.*,'type_rice_quantity')]]
        <gl-form-input  auto-validate class="approve"  disabled error-message="กรุณาใส่จำนวน" pattern="[0-9,.,,]{1,12}" required label="จำนวน (ตัน)" value="{{item.type_rice_quantity}}" placeholder="ใส่รายละเอียด" name="type_rice_quantity"></gl-form-input>
    </gl-grid-col>
    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
        <paper-icon-button id="[[index]]" class="icon-bin" icon="icons:delete" title="ลบชนิดข้าว" style="color: gray;" on-tap="dele"></paper-icon-button>
    </gl-grid-col>
    </gl-grid-row>
    </div>
    </template>
      <template is="dom-if" if="[[checkf(checkBtn)]]">
        <div class="horizontal end-justified layout">
            <paper-button raised on-tap="addNewData" class="gl-btn-primary">Add Rice Type</paper-button>
        </div>
      </template>

    <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
            <gl-form-input value="{{data.buyer_id}}" name="buyer_id" hidden></gl-form-input>
            <gl-form-textarea rows="2" class="approve"  disabled label="ชื่อผู้ซื้อสินค้า, ที่อยู่" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="{{data.buyer_address}}" name="buyer_address"></gl-form-textarea>
        </gl-grid-col>
    </gl-grid-row>
    <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
            <gl-form-textarea class="approve"  disabled rows="2" label="รายละเอียด" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="{{data.contract_desc}}" name="contract_desc"></gl-form-textarea>
        </gl-grid-col>
    </gl-grid-row>

    <div class="horizontal end-justified layout">
      <!-- [[data.contract_status]] -->
        <paper-button class="gl-btn-danger" raised on-tap="cancelDrawer">ยกเลิก</paper-button>
        <paper-button class="gl-btn-info" raised on-tap="confirmDrawer">ยืนยันสัญญา</paper-button>
        <paper-button class="gl-btn-success" on-tap="_saveData" raised>บันทึก</paper-button>
    </div>
    </form>
    </template>

    <script>
        Polymer({
            is: "promise-detail",
            behaviors: [
                gl.behavior.core
            ],
            properties: {
                data: {
                    type: Object,
                    value: {
                        name: ''
                    }
                },
                Newdata:{
                  type:Object,
                  value: {
                    contract_name:'',
                    buyer_id:'',
                    contract_date:'',
                    contract_type_rice:'',
                  }
                },
                checkBtn:{
                  type:Boolean,
                  value:false
                }
            },
            editInput:function () {
              console.log(1);

              this.async(()=> {
                var approve = Polymer.dom(this.root).querySelectorAll('.approve');
                approve.map((el)=>{
                  el.removeAttribute("disabled");
                });
              });

              this.checkBtn = !this.checkBtn;
            },
            disabledInput:function () {
              var approve = Polymer.dom(this.root).querySelectorAll('.approve');
              approve.map((el)=>{
                el.setAttribute("disabled", "");
              });
            },
            checkf:function (data) {
              return data == true;
            },
            confirmDrawer:function () {
              console.log(this.data.contract_status = false);
            },
            addNewData: function() {
                this.push('data.contract_type_rice', {
                    type_rice_id: '',
                    type_rice_name_en: '',
                    type_rice_name_th: '',
                    type_rice_quantity: '',
                });
                // console.log(this.data);
                this.editInput();
            },
            dele: function(e) {
                // console.log(e.currentTarget.id);
                // var index = this.data.contract_type_rice.indexOf(data);
                this.splice('data.contract_type_rice', e.currentTarget.id, 1);
            },

            _saveData: function() {
                // this.$.insertPromiseDetail.submit();
                // console.log(this.data);
              //  this.data
              for (var i = 0; i < this.data.contract_type_rice.length; i++) {
                    delete this.data.contract_type_rice[i].type_rice_desc_en;
                    delete this.data.contract_type_rice[i].type_rice_name_en;
                    delete this.data.contract_type_rice[i].type_rice_name_th;
              }
              this.Newdata.id=this.data.contract_id;
              this.Newdata.contract_name=this.data.contract_name;
              this.Newdata.buyer_id=this.data.buyer_id;
              this.Newdata.contract_date=new Date (this.data.contract_date);
              this.Newdata.contract_type_rice=this.data.contract_type_rice;
              this.Newdata.contract_status=this.data.contract_status;
              this.Newdata.contract_desc=this.data.contract_desc;
              console.log(this.Newdata);
              this.glQuery('layoutMain').openToastSaveing();
                this.postDb(this.Newdata);
            },

            postDb:function (data) {
              axios.put('./g2g/contract/update', data)
                        .then(function (response) {
                          console.log("success");
                          console.log(response);
                            this.glQuery('addContract').getChange(false,'put');
                          this.disabledInput();
                        }.bind(this))
                        .catch(function (error) {
                          console.log("error");
                          console.log(error);
                        })
            },
            changeString2Num:function(ob,param){
              //console.log(typeof ob.value);
              if(typeof ob.value == "string"){
                var pathChange = ob.path.split(".");
                if(pathChange.length == 2){
                    if(pathChange[1]==param){
                      ob.base[param]=parseFloat(ob.value);
                      // console.log(typeof ob.value);
                    }
                }
              }
            },
        });
    </script>
</dom-module>
