<link rel="import" href="../list-edit/list-confirm.html">

<dom-module id="promise-page">
<style include="iron-flex iron-flex-factors iron-flex-alignment gl-color gl-size">
  :host {
    /*padding-top: 20px;*/
  }
  .selectconfirm {
    padding-top: 10px;
    /*color: red;*/
  }
  .addconfirm {
    margin-top: 20px;
  }
  .header{
    background-color: orange;
		padding: 5px 0px 5px 0px;
		color: white;
    font-size: var(--font-size-h3);
    text-decoration: underline;
  }
  div.footer{
    margin-top: 80px;
  }
</style>
  <template>

        <iron-pages selected="{{layerConfirm}}">
          <div id="listitem">
            <gl-form-panel set-padding="0px 0px 20px 0px">
              <div class="horizontal center-justified layout header">
                Confirmation Letter
              </div>
              <gl-form-panel-body set-padding="0px 0px 0px 0px" set-border="0px">
            <div class="addconfirm horizontal end-justified layout">
              <paper-button raised class="gl-btn-primary" on-tap="createConfirm">Create Confirmation Letter</paper-button>
            </div>
            <div class="selectconfirm">
              <list-confirm data="{{data.confirm_letter}}">
                <items type="primary">
                  <list item="cl_no" label="No" width="flex" type="string"></list>
                  <list item="cl_name" label="Name" width="flex" type="string"></list>
                  <list item="cl_quantity_total" label="จำนวน (ตัน)" width="flex" type="string"></list>
                  <list item="cl_status_name" label="สถานะ" width="flex" type="string"></list>
                  <!-- <list item="cl_quantity_balance" label="ยังไม่ได้สงมอบ (ตัน)" width="flex" type="string"></list> -->
                </items>
              </list-confirm>
            </div>
            </gl-form-panel-body>
          </gl-form-panel>
            <div class="footer"></div>
          </div>
          <div>
            <panel-seleted>

             <section-content name="detail">
               <promise-confirm
                                 confirm-letter="[[confirmLetter]]"
                                 rice-type="[[riceType]]"
                                 package="[[package]]"
                                 incoterms="[[incoterms]]"></promise-confirm>
             </section-content>
             <section-content name="print">
                 <vessel-print></vessel-print>
             </section-content>
             <section-content name="file">
                 <promise-fileup></promise-fileup>
             </section-content>
           </panel-seleted>

          </div>
          <div>
            <panel-seleted>

             <section-content name="detail">
               <promise-insert
                               contract-id="[[data.contract_id]]"
                               package="[[package]]"
                               rice-type="[[riceType]]"
                               incoterms="[[incoterms]]"></promise-insert>
             </section-content>
             <section-content name="print">
                 <vessel-print></vessel-print>
             </section-content>
             <section-content name="file">
                 <promise-fileup></promise-fileup>
             </section-content>
           </panel-seleted>

          </div>
        </iron-pages>




  </template>
  <script>
    Polymer({
      is: "promise-page",
      properties: {
        layerConfirm: {
          type: Number,
          value:0
        }
      },
      listeners: {
          'select': 'selectedPage',
      },
      observers:[
        'check(confirmLetter)',
        'getRicetype(data.contract_id)',
        // 'cml(data.confirm_letter)'
      ],
      selectedPage:function (e) {
        this.layerConfirm = 0;
      },
      // cml:function (data) {
      //   console.log(data);
      // },
      check:function (confirmLetter) {
         if( confirmLetter != null){
           this.layerConfirm = 1;
         }
      },
      createConfirm:function () {
        this.layerConfirm = 2;
      },
      getRicetype:function (contractId) {
        // console.log(contractId);
        this.getDb('./g2g/contract/id/'+contractId,(data)=>{
          this.riceType = data.contract_type_rice;
          // console.log(this.riceType);
        });
      },
      getDb:function (url,callback) {
        axios.get(url)
          .then(function(response){
            callback(response.data);
            // console.log('ดึงแล้ว');
          }.bind(this))
          .catch(function (error) {
          }.bind(this));
      },
    });
  </script>
</dom-module>
