<dom-module id="test-numbers">
  <style>
    :host {
      display: block;
    }
  </style>
  <template>
    <gl-form-input label="จำนวน (ตัน)" type="number" placeholder="กรุณาใส่จำนวน" auto-validate error-message="กรุณาใส่ราคา" required
      value="{{data}}"
     name="type_rice_quantity"></gl-form-input>
  </template>
  <script>
    Polymer({
      is: "test-numbers",
      properties: {
        data: {
          type: Number,
          notify:true,
          observer:'test'
        }
      },
      test:function(n,o){
        console.log(n);
      }


    });
  </script>
</dom-module>
