<dom-module id="promise-detail">

  <style is="custom-style" include="iron-flex iron-flex-alignment gl-color">
    .bg{
      background-color:var(--paper-grey-200);
      border: 1px solid black;
      padding: 10px 0px 10px 10px;
      }
      gl-form-textarea{
        word-break: break-all;
      }
      paper-button{
        margin-top: 10px;
      }
      .icon-bin{
        margin-top: 10px;
      }
      .bottom{
        margin-bottom: 10px;
      }
    </style>


  <template>
      <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input class="bottom" auto-validate error-message="กรุณาใส่ชื่อสัญญา" required label="ชื่อสัญญา" value="{{data.promiseName}}" placeholder="ใส่รายละเอียด"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <vaadin-date-picker label="วันที่" value="{{data.date}}"></vaadin-date-picker>
          </gl-grid-col>
        </gl-grid-row>

        <template id="zatest" is="dom-repeat" items="{{data.rice}}">
          <div class="bg top">
            <gl-grid-row>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                  <gl-form-dropdown-menu label="ชนิดข้าว" error-message="กรุณาเลือกชนิดข้าว" placeholder="เลือกประเภท" required>
                    <paper-menu class="dropdown-content" attr-for-selected="rice-type" selected="{{item.riceType}}">
                      <paper-item rice-type="riceWhite">ข้าวขาว</paper-item>
                      <paper-item rice-type="jasmineRice">ข้าวหอมมะลิ</paper-item>
                    </paper-menu>
                  </gl-form-dropdown-menu>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                  <gl-form-input auto-validate error-message="กรุณาใส่จำนวน" pattern="[0-9,.,,]{1,12}" required  label="จำนวน (ตัน)" value="{{item.volume}}" placeholder="ใส่รายละเอียด"></gl-form-input>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
                <paper-icon-button class="icon-bin" icon="icons:delete" style="color: gray;" on-tap="dele"></paper-icon-button>
              </gl-grid-col>
            </gl-grid-row>
          </div>
        </template>
        <div class="horizontal end-justified layout">
          <paper-button raised on-tap="add" class="gl-btn-primary">เพิ่ม</paper-button>
        </div>


          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
              <gl-form-textarea rows="2" label="ชื่อผู้ซื้อสินค้า, ที่อยู่" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="{{data.customerDetail}}"></gl-form-textarea>
            </gl-grid-col>
          </gl-grid-row>
          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
              <gl-form-textarea rows="2" label="รายละเอียด" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="{{data.detail}}"></gl-form-textarea>
            </gl-grid-col>
          </gl-grid-row>

          <div class="horizontal end-justified layout">
            <paper-button class="gl-btn-danger" raised>ยกเลิก</paper-button>
            <paper-button class="gl-btn-success" on-tap="validate" raised>บันทึก</paper-button>
          </div>

  </template>

  <script>
    Polymer({
      is: "promise-detail",
      properties: {
        data: {
          type: Object,
          value: { name:''}
        },
        error:{
          type:Object,
          value:{ name:false }
        }
      },
      add: function() {
        this.push('data.rice',{riceType:'',volume:''});
        // console.log(this.data);
      },
      dele: function(data){
        var index = this.data.rice.indexOf(data);
        this.splice('data.rice',index,1);
      },
      validate: function(){
        if(
            (
              this.data.name != ""
              // this.data.id != "" &&
              // this.data.etd != "" &&
              // this.data.eta != ""
            )
            &&
            (
              this.error.vessel == false
              // this.error.id == false &&
              // this.error.etd == false &&
              // this.error.eta == false
            )
        ){
          var queryELement = document.querySelector('dashboard-my-dashboard');
          queryELement.save(this.data,this.index);
        }
      }
    });
  </script>
</dom-module>
