<link rel="import" href="../../data/data-promise.html">
<dom-module id="promise-detail">

  <style is="custom-style" include="iron-flex iron-flex-alignment gl-color">
    .bg{
      background-color:var(--paper-grey-200);
      border: 1px solid black;
      padding-left: 10px;
      }
      gl-form-textarea{
        word-break: break-all;
      }
      paper-button{
        margin-top: 10px;
      }
      .top{
        margin-top: 10px;
      }
    </style>


  <template>
    <data-promise select-data={{datas}}></data-promise>
      <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input auto-validate error-message="กรุณาใส่ชื่อสัญญา" required label="ชื่อสัญญา" value="{{datas.promiseName}}" placeholder="ใส่รายละเอียด"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <vaadin-date-picker label="วันที่" value="{{datas.date}}"></vaadin-date-picker>
          </gl-grid-col>
        </gl-grid-row>

        <template id="zatest" is="dom-repeat" items="{{datas.riceTypes}}">
          <div class="bg top">
            <gl-grid-row>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                  <gl-form-dropdown-menu label="ชนิดข้าว" error-message="กรุณาเลือกชนิดข้าว" placeholder="เลือกประเภท" required>
                    <paper-menu class="dropdown-content"  selected="{{item.riceType}}" id="riceType-[[index]]">
                      <paper-item >ข้าวขาว</paper-item>
                      <paper-item >ข้าวหอมมะลิ</paper-item>
                    </paper-menu>
                  </gl-form-dropdown-menu>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                  <gl-form-input auto-validate error-message="กรุณาใส่จำนวน" pattern="[0-9,.,,]{1,12}" required  label="จำนวน (ตัน)" value="{{item.volume}}" placeholder="ใส่รายละเอียด" id="volume"></gl-form-input>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
                <paper-icon-button class="top" icon="icons:delete" style="color: gray;" on-tap="dele" del="[[index]]"></paper-icon-button>
              </gl-grid-col>
            </gl-grid-row>
          </div>
        </template>
        <div class="horizontal end-justified layout">
          <paper-button raised on-tap="add" class="gl-btn-primary">เพิ่ม</paper-button>
        </div>


          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
              <gl-form-textarea rows="2" label="ชื่อผู้ซื้อสินค้า, ที่อยู่" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="{{datas.customerDetail}}"></gl-form-textarea>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
              <gl-form-textarea rows="2" label="รายละเอียด" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="{{datas.otherDetail}}"></gl-form-textarea>
            </gl-grid-col>
          </gl-grid-row>

          <div class="horizontal end-justified layout">
            <paper-button class="gl-btn-danger" raised>ยกเลิก</paper-button>
            <paper-button class="gl-btn-success" on-tap="validate" raised>บันทึก</paper-button>
          </div>

  </template>

  <script>
    Polymer({
      is: "promise-detail",
      behaviors:[gl.behavior.core],
      properties: {
        data: {
          type: Object,
          value: { name:''}
        },
        error:{
          type:Object,
          value:{ name:false }
        }
      },
      ready: function() {
        // console.log(this.datas);
      },
      add: function() {
        var nowDateTime = Date.now()
        this.push('datas.riceTypes',
                  {
                    id:nowDateTime,
                    riceType:'',
                    volume: ''
                  }
                );
      },
      dele: function(e){
        var r = confirm("ต้องการลบใช่หรือไม่!");
        if (r == true) {
            var id = e.currentTarget.getAttribute("del");
            this.splice('datas.riceTypes', id, 1);
        }
        // var index = this.datas.riceTypes.indexOf(data);
        // this.splice('datas.riceTypes',index,1);
      },
      validate: function(){
        this.glQuery('data-promise').saveData(this.glClone(this.datas));
        if(
            (
              this.datas.name != ""
              // this.datas.id != "" &&
              // this.datas.etd != "" &&
              // this.datas.eta != ""
            )
            &&
            (
              this.error.vessel == false
              // this.error.id == false &&
              // this.error.etd == false &&
              // this.error.eta == false
            )
        ){
          var queryELement = document.querySelector('dashboard-my-dashboard');
          queryELement.save(this.data,this.index);
        }
      }
    });
  </script>
</dom-module>
