<dom-module id="promise-confirm">
    <style is="custom-style" include="iron-flex iron-flex-alignment gl-color">
        .top {
            margin-top: 15px;
        }

        .bg {
            background-color: var(--paper-grey-200);
            border: 1px solid black;
            padding-left: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            padding: 10px 0px 10px 10px;
        }

        paper-button {
            margin-top: 10px;
        }

        gl-form-textarea {
            word-break: break-all;
        }

        paper-icon-button {
            margin-top: 10px;
        }
    </style>
    <template>
    <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input auto-validate error-message="กรุณาใส่ชื่อเลขจดหมายคอนเฟริม" pattern="[0-9]{1,6}" required label="Confirmation Letter No." placeholder="ใส่รายละเอียด" value="{{data.id}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <vaadin-date-picker label="วันที่" value="{{data.dateconfirm}}"></vaadin-date-picker>
        </gl-grid-col>
    </gl-grid-row>

      <div class="top">Commodities, Price, Package</div>


      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,7]]">
          <gl-form-input auto-validate error-message="กรุณาใส่ชื่อสินค้า" required label="Item" placeholder="ใส่รายละเอียด" value="[[data.typeRice]]"></gl-form-input>
        </gl-grid-col>
      </gl-grid-row>


      <template is="dom-repeat" items="[[data.confirmItem]]">
        <div class="bg">
          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
              <gl-form-input auto-validate error-message="กรุณาใส่น้ำหนัก" required label="Package(kg)" pattern="[0-9]{1,9}" placeholder="ใส่รายละเอียด" value="[[item.package]]"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
              <gl-form-input auto-validate error-message="กรุณาใส่ราคา" required label="Price(USD)" pattern="[0-9]{1,9}" placeholder="ใส่รายละเอียด" value="[[item.price]]"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[500,3]]">
              <gl-form-input auto-validate error-message="กรุณาใส่ราคา" required label="น้ำหนักกระสอบ(gram/bag)" pattern="[0-9]{1,9}" placeholder="ใส่รายละเอียด" value="[[item.weight]]"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[500,2]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[500,1]]">
              <paper-icon-button icon="icons:delete" style="color: gray;" on-tap="dele"></paper-icon-button>
            </gl-grid-col>

          </gl-grid-row>

        </div>
      </template>

    <div class="horizontal end-justified layout">
        <paper-button raised on-tap="add" class="gl-btn-primary">เพิ่ม</paper-button>
    </div>

    <gl-grid-row>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-dropdown-menu label="Basis on" error-message="กรุณาเลือกราคา" placeholder="เลือกประเภท" required>
                <paper-listbox class="dropdown-content" attr-for-selected="price-type" selected="{{data.price}}">
                    <paper-item price-type="fob">FOB CY</paper-item>
                    <paper-item price-type="bath">Bath</paper-item>
                    <paper-item price-type="other">ฯลฯ</paper-item>
                </paper-listbox>
            </gl-form-dropdown-menu>
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
            <gl-form-input auto-validate error-message="กรุณาใส่ยอดรวม" pattern="[0-9,.,,]{1,9}" required label="Total Quantity" placeholder="ใส่รายละเอียด" value="[[data.totalQuantity]]"></gl-form-input>
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,7]]">
            <gl-form-textarea label="Detail" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="[[data.detail]]"></gl-form-textarea>
        </gl-grid-col>
    </gl-grid-row>

    <div class="horizontal end-justified layout">
        <paper-button class="gl-btn-danger" raised>ยกเลิก</paper-button>
        <paper-button class="gl-btn-success" on-tap="validate" raised>บันทึก</paper-button>
    </div>

    </div>
    </template>
    <script>
        Polymer({
            is: "promise-confirm",
            properties: {
                data: {
                    type: Object,
                    value: {
                        name: ''
                    }
                }
            },
            add: function() {
                this.push('data.confirmItem', {
                    package: '',
                    price: ''
                });
                // console.log(this.data);
            },
            dele: function(data) {
                var index = this.data.confirmItem.indexOf(data);
                this.splice('data.confirmItem', index, 1);
            }

        });
    </script>
</dom-module>
