<link rel="import" href="../../functionBehavior/dataBehavior.html">
<dom-module id="edit-buyer">
<style include="iron-flex iron-flex-alignment gl-color gl-size">
  *{
    font-family: 'CSChatThaiUI', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: var(--font-size-h5);
  }
  .text-center {
    text-align: center;
    font-size: var(--font-size-h3);
    background-color: var(--paper-grey-100);
    margin-top: 20px;
  }
  .margin-top{
    margin-top: 15px;
  }
  .button{
    margin-top: 20px;
    margin-bottom: 20px;
  }
</style>
  <template>
    <div class="text-center">แก้ไขข้อมูลผู้ซื้อ</div>

    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box class="checkData" items="{{countrys}}" item-label-path="country_name_en" label="Country (ประเทศ)" item-value-path="country_id"
        value="{{data.country_id}}" error-message="กรุณาเลือกประเทศ" required></gl-combo-box>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" label="Buyer Name (ชื่อผู้ซื่อ) :" placeholder="กรอกชื่อผู้ซื้อ" value="{{data.buyer_name}}" error-message="กรุณากรอกชื่อผู้ซื้อ" required></gl-form-input>
      </gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" label="Buyer Masks (นามแฝง) :" placeholder="กรอกนามแฝง" value="{{data.buyer_masks}}" error-message="กรุณากรอกนามแฝง" required></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" label="E-mail :" placeholder="ตัวอย่าง test@gmail.com" value="{{data.buyer_email}}"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" error-message="กรุณาใส่รูปแบบให้ถูกต้อง" required></gl-form-input>
      </gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" label="Fax :" placeholder="กรอกเบอร์แฟกซ์" value="{{data.buyer_fax}}" error-message="กรุณากรอกเบอร์แฟกซ์" required></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" label="Tel (เบอร์โทรศัพท์) :" placeholder="กรอกเบอร์โทรศัพท์" value="{{data.buyer_tel}}" error-message="กรุณากรอกเบอร์โทรศัพท์" required></gl-form-input>
      </gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
        <gl-form-textarea class="margin-top checkData" label="Address (ที่อยู่) :" placeholder="กรอกทีอยู่" value="{{data.buyer_address}}" error-message="กรุณากรอกทีอยู่" required></gl-form-textarea>
      </gl-grid-col>
    </gl-grid-row>

    <div class="horizontal end-justified layout">
      <div class="button">
        <paper-button class="gl-btn-danger" raised on-tap="_cancel">ยกเลิก</paper-button>
        <paper-button class="gl-btn-success" raised on-tap="_edit">บันทึก</paper-button>
      </div>
    </div>

  </template>
  <script>
    Polymer({
      is: "edit-buyer",
      properties: {
        data: {
          type: Object,
          value: {}
        },
        dataCountry: {
          type: Array
        },
        dataOld:{
          type: Object,
          value: {}
        }
      },
      observers: [
        '_cloneData(data)'
      ],
      behaviors: [
          gl.behavior.core,
          gl.behavior.locales,
          dataBehavior
      ],
      _edit:function(){
        // console.log(this.data);
        var datas = {
          id: this.data.buyer_id,
          buyer_name: this.data.buyer_name,
          buyer_masks: this.data.buyer_masks,
          buyer_email: this.data.buyer_email,
          buyer_fax: this.data.buyer_fax,
          buyer_tel: this.data.buyer_tel,
          country_id: this.data.country_id,
          buyer_address: this.data.buyer_address
        }
        var stat = Polymer.dom(this.root).querySelectorAll('.checkData').map((data)=>{
            return  data.validate();
        });
        var chkStat = function(stat){
            return stat == true
        };
        if(stat.every(chkStat) == true){
          this.read('./common/check/duplicate?table=buyer&field=buyer_name&value='+datas.buyer_name, (response) => {
            if (response == 0) {
              this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
              this.update('./common/buyer/update', datas, () => {
              this.glQuery('refreshBuyer').getBuyer();
              this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
                console.log('success');
              }});
             });
            }
            else{
              this.read('./common/check/myowner?table=buyer&id='+datas.id+'&field=buyer_name&value='+datas.buyer_name, (response) => {
                if (response == 1) {
                  this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
                  this.update('./common/buyer/update', datas, () => {
                    this.glQuery('refreshBuyer').getBuyer();
                    this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
                      console.log('success');
                    }});
                   });
                }
                else {
                  this.fire('toast',{status:'connectError',text:'ชื่อผู้ส่งออกนี้มีอยู่แล้ว',
                    callback:function(){
                    }})
                }
                });
            }
          });
        }
        else {
          this.fire('toast',{status:'connectError',text:'กรุณากรอกข้อมูลให้ครบถ้วน',
            callback:function(){
            }})
        }
      },
      _cloneData:function(){
        this.dataOld = JSON.parse(JSON.stringify(this.data));
      },
      _cancel:function() {
        this.glQuery('panelRight').changDrawer();
        this.data = this.dataOld;
      }
    });
  </script>
</dom-module>
