<link rel="import" href="listEditBehavior.html">
<link rel="import" href="../vessel/vesselBehavior.html">
<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<link rel="import" href="../vessel/vessel-save.html">
<link rel="import" href="../vessel/vessel-edit.html">
<dom-module id="list-vessel">

  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .header {
      text-align: center;
      padding: 10px 0px 10px 10px;
      background-color: var(--paper-grey-100);
      color: var(--paper-grey-600);
      word-wrap: break-word;
    }
    .text-center{
      text-align: center;
      font-size: var(--font-size-h4);
      font-family: 'rsubold', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .cleanBd {
      padding: 0px;
    }
    .bd {
      border-bottom: 1px solid #ccc;
    }
    .top {
      margin-top: 30px;
    }
    .w {
      width: 50%;
      text-align: center;
    }
    .padL {
      padding-left: 35px;
    }
    .fontPdLeft {
      padding: 10px 0px 10px 10px;
      /*word-wrap: break-word;*/
      text-align: center;
    }
    paper-item {
      cursor: pointer;
    }
    .yellow-button {
      text-transform: none;
      color: #eeff41;
    }
    paper-toast {
      --paper-toast-background-color: var(--paper-green-500);
      /*height: 50px;*/
      /*margin: 0px 0px 0px 0px;*/
      /*padding: 0px 0px 0px 0px;*/
      font-size: 16px;
      width: 600px;
      text-align: center;
    }
    paper-toast > div.content > iron-icon {
      padding: 0px 10px 0px 0px;
    }
    .mar-head {
      margin-left: 10px;
      margin-bottom: 10px;
    }
    .title {
      text-align: center;
      font-size: var(--font-size-h4);
      font-family: 'rsubold', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    #changeDivcss {
      background-color: var(--paper-grey-100);
      border: 1px solid black;
      padding: 10px;
      margin-bottom: 10px;
    }
    .show {
      display: block;
      /*color: white;
            background-color: var(--gl-success-color);
            margin: 20px 20px 20px 20px;*/
    }
    .hide {
      display: none;
    }
    vaadin-date-picker {
      width: 80%;
    }
  </style>
  <template>
    <content id="primary" select="items[type=primary]"></content>
    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,3]]">
        <gl-form-input class="mar-head" auto-validate error-message="กรุณาใส่จำนวน" pattern="[0-9]{1,7}" required label="งวดที่"
          value$="[[data.shm_no]]"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,7]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[500,1]]">
        <paper-button id="removeButtom" class="gl-btn-primary" raised on-tap="clickInsert" hidden>เพิ่ม</paper-button>
      </gl-grid-col>
    </gl-grid-row>

    <div id="changeDivcss" class="hide">
      <form is="iron-form" id="form" method="post" action="/form/handler">
        <gl-form-panel-body>
          <div class="title">รายละเอียดผู้ส่งออกและเรือ</div>
        </gl-form-panel-body>

        <gl-form-panel-body>
          <gl-grid-row width="{{getWidth}}">
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <!-- <gl-form-input label="ผู้ส่งออก" auto-validate error-message="กรุณาใส่ชื่อผู้ส่งออก" required placeholder="ใส่ชื่อผู้ส่งออก" -->
                <!-- value="{{shipment.seller_name_en}}" id="actualShipper" name="actualShipper"></gl-form-input> -->
                <gl-combo-box id="seller_id" label="ผู้ส่งออก" item-label-path="seller_name_en"
                    item-value-path="seller_id" value="{{shipment.seller_id}}" on-value-changed="getSellerPhone"></gl-combo-box>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-combo-box id="shipline_id" label="Shipping Line" item-label-path="shipline_name"
                  item-value-path="shipline_id" value="{{shipment.shipline_id}}" on-value-changed="getShip"></gl-combo-box>
              <!-- <gl-form-dropdown-menu label="Shipping Line" error-message="กรุณาเลือก Shipping Line"  placeholder="เลือก Shipping Line" required>
                <paper-menu class="dropdown-content" attr-for-selected="shipline-id" selected="{{shipment.shipline_id}}" id="bs" name="bs">
                  <template is="dom-repeat" items="[[shipline]]">
                    <paper-item shipline-id="[[item.shipline_id]]" shipline-name="{{item.shipline_name}}">[[item.shipline_name]]</paper-item>
                  </template>
                </paper-menu>
              </gl-form-dropdown-menu> -->
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-combo-box id="ship_id" label="Vessel" item-label-path="ship_name"
                  item-value-path="ship_id" value="{{shipment.ship_id}}" on-value-changed="getShip"></gl-combo-box>
              <!-- <gl-form-dropdown-menu label="Vessel"  error-message="กรุณาเลือก Vessel" placeholder="เลือก Vessel" required>
                <paper-menu class="dropdown-content" attr-for-selected="ship-id" selected="{{shipment.ship_id}}" id="vesselName" name="vesselName">
                  <template is="dom-repeat" items="[[ship]]">
                    <paper-item ship-id="[[item.ship_id]]" ship-name="[[item.ship_name]]">[[item.ship_name]]</paper-item>
                  </template>
                </paper-menu>
              </gl-form-dropdown-menu> -->
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <!-- <gl-form-input label="ผู้ส่งออก" auto-validate error-message="กรุณาใส่ชื่อผู้ส่งออก" required placeholder="ใส่ชื่อผู้ส่งออก" -->
                <!-- value="{{shipment.seller_name_en}}" id="actualShipper" name="actualShipper"></gl-form-input> -->
                <gl-combo-box id="surveyor_id" label="Surveyor" item-label-path="surveyor_name"
                    item-value-path="surveyor_id" value="{{shipment.surveyor_id}}"></gl-combo-box>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="Void No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{shipment.ship_voy_no}}"
                id="voidNo" name="voidNo"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="Lot No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{shipment.ship_lot_no}}"
                id="lotNo" name="lotNo"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="Booking No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด"  value="{{shipment.book_no}}" id="book_no" name="book_no"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="B/L No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{shipment.bl_no}}" id="bl_no" name="bl_no"></gl-form-input>
            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <!-- <gl-form-input label="Shipping Agent" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{shipment.carrier_name}}" id="carrier_name" name="carrier_name"></gl-form-input> -->
              <gl-combo-box id="carrier_id" label="Shipping Agent" item-label-path="carrier_name"
                  item-value-path="carrier_id" value="{{shipment.carrier_id}}"></gl-combo-box>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="Tel." error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{seller_phone}}" id="seller_phone" name="seller_phone"></gl-form-label-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-combo-box id="port_id" label="POL" item-label-path="port_name"
                  item-value-path="port_id" value="{{shipment.load_port_id}}"></gl-combo-box>
              <!-- <gl-form-dropdown-menu label="POL" error-message="กรุณาเลือก POL" placeholder="เลือก POL" required>
                <paper-menu class="dropdown-content" attr-for-selected="pol-id" selected="{{shipment.load_port_id}}" id="load_port_id" name="load_port_id">
                  <template is="dom-repeat" items="[[pol]]">
                    <paper-item pol-id="[[item.port_id]]" pol-name="[[item.port_name]]">[[item.port_name]]</paper-item>
                  </template>


                </paper-menu>
              </gl-form-dropdown-menu> -->

            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <vaadin-date-picker label="ETD" value="{{shipment.etd_date}}"></vaadin-date-picker>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <vaadin-date-picker label="ETA" value="{{shipment.eta_date}}"></vaadin-date-picker>
            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-combo-box id="dest_port_id" label="POD" item-label-path="port_name"
                  item-value-path="port_id" value="{{shipment.dest_port_id}}"></gl-combo-box>
              <!-- <gl-form-dropdown-menu label="POD" error-message="กรุณาเลือก POD"  placeholder="เลือกเมืองท่า" required>
                <paper-menu class="dropdown-content" attr-for-selected="dest-port-id" selected="{{shipment.dest_port_id}}" id="cityEnd" name="cityEnd">
                  <template is="dom-repeat" items="[[port]]">
                    <paper-item dest-port-id="[[item.port_id]]" dest-port-name="[[item.port_name]]">[[item.port_name]]</paper-item>
                  </template>
                </paper-menu>
              </gl-form-dropdown-menu> -->
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-combo-box id="deli_port_id" label="Place of Delivery" item-label-path="port_name"
                  item-value-path="port_id" value="{{shipment.deli_port_id}}"></gl-combo-box>
              <!-- <gl-form-dropdown-menu label="Place of Delivery"  error-message="กรุณาใส่รายละเอียด" placeholder="Place of Delivery" required>
                <paper-menu class="dropdown-content" attr-for-selected="deli-port-id" selected="{{shipment.deli_port_id}}" id="cityEnd" name="cityEnd">
                  <template is="dom-repeat" items="[[port]]">
                    <paper-item deli-port-id="[[item.port_id]]" deli-port-name="[[item.port_name]]">[[item.port_name]]</paper-item>
                  </template>
                </paper-menu>
              </gl-form-dropdown-menu> -->
            </gl-grid-col>


            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              [[testNum(shipment.*,'num_of_container')]]
                <gl-form-input label="จำนวนตู้คอนเทนเนอร์" auto-validate error-message="กรุณาใส่รายละเอียด" pattern="[0-9]*" required placeholder="ใส่รายละเอียด" value="{{shipment.num_of_container}}" id="num_of_container" name="num_of_container"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <vaadin-date-picker label="Packing Date" value="{{shipment.packing_date}}"></vaadin-date-picker>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="Packing Time" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{shipment.packing_time}}" id="pack_time" name="pack_time"></gl-form-input>
            </gl-grid-col>


            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              [[testNum(shipment.*,'weight_per_container')]]
              <gl-form-input label="ตู้ละ (ตัน)" auto-validate error-message="กรุณาใส่รายละเอียด" required pattern="[0-9,,]*" placeholder="ใส่รายละเอียด"
                value="{{shipment.weight_per_container}}" id="weight_per_container" name="weight_per_container"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <vaadin-date-picker label="Production" value="{{shipment.product_date}}" name="product_date" id="product_date"></vaadin-date-picker>
            </gl-grid-col>
          </gl-grid-row>
        </gl-form-panel-body>

        <gl-form-panel-body>
          <div class="text-center">รายละเอียดการส่งมอบ</div>
        </gl-form-panel-body>

        <gl-form-panel-body>
          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-combo-box id="cl_id" label="Confirmation Letter" item-label-path="cl_no"
                  item-value-path="cl_id" value="{{shipment.cl_id}}" on-value-changed="getCmlForRiceType"></gl-combo-box>
              <!-- <gl-form-dropdown-menu id="cml" class="width-dropdown" label="Confirmation Letter" error-message="Confirmation Letter" required
                placeholder="Confirmation Letter" on-iron-select="_getCmlForRiceType">
                <paper-menu class="dropdown-content" attr-for-selected="clNo" selected="{{shipment.cl_no}}">
                  <template is="dom-repeat" items="[[cml]]">
                    <paper-item cl-no="[[item.cl_no]]" id=[[item.cl_id]]>[[item.cl_no]]</paper-item>
                  </template>
                </paper-menu>
              </gl-form-dropdown-menu> -->
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-combo-box id="type_rice_id" label="กรุณาเลือกชนิดข้าว" item-label-path="type_rice_name_en"
                  item-value-path="type_rice_id" value="{{shipment.type_rice_id}}" on-value-changed="getRiceTypeForPackage"></gl-combo-box>
              <!-- <gl-form-dropdown-menu class="width-dropdown" label="ชนิดข้าว" error-message="กรุณาเลือกชนิดข้าว" required placeholder="เลือกประเภท"
                on-iron-select="_getRiceTypeForPackage">
                <paper-menu class="dropdown-content" attr-for-selected="rice-type-id" selected="{{shipment.type_rice_id}}">
                  <template is="dom-repeat" items="[[riceType]]">
                    <paper-item rice-type-id="[[item.type_rice_id]]" id=[[item.type_rice_id]]>[[item.type_rice_name_en]]</paper-item>
                  </template>

                </paper-menu>
              </gl-form-dropdown-menu> -->
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-combo-box id="package_id" label="Package (kg/PP Bag)" item-label-path="package_name"
                  item-value-path="package_id" value="{{shipment.package_id}}" on-value-changed="getPackageForPrice"></gl-combo-box>
              <!-- <gl-form-dropdown-menu label="Package (kg/PP Bag)" error-message="กรุณาเลือกขนาดบรรจุภัณฑ์" required placeholder="เลือกประเภท"
                on-iron-select="_getPackageForPrice">
                <paper-menu class="dropdown-content" attr-for-selected="package-id" selected="{{shipment.package_id}}" id="package_id">
                  <template is="dom-repeat" items="[[package.package]]">
                    <paper-item package-id="[[item.package_id]]">[[item.package_name]]</paper-item>
                  </template>
                </paper-menu>
              </gl-form-dropdown-menu> -->
            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="Price (USD/MT)" format-number value="{{price.price_per_ton}}"></gl-form-label-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="น้ำหนักกระสอบ (gram/bag)"  value="{{price.package_weight_bag}}"></gl-form-label-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              [[testNum(shipment.*,'shm_det_quantity')]]
              <gl-form-input label="จำนวน/ตัน" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{shipment.shm_det_quantity}}"></gl-form-input>
            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="MARKS" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[buyerMasks]]"></gl-form-label-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="Quantity (BAGS)" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด"
                value="{{quantityBag}}"></gl-form-label-input>
            </gl-grid-col>
          </gl-grid-row>

          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="WEIGHT (M/T)" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด"
                value="G.W. {{gw}}"></gl-form-label-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="N.W. {{shipment.shm_det_quantity}}"></gl-form-label-input>
            </gl-grid-col>
          </gl-grid-row>
          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,6]]">

            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]"></gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]">
              <div class="top">ORIGINALS</div>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]">
              [[testNum(shipment.*,'origin_page')]]
              <gl-form-input label="" class="w padL" value="{{shipment.origin_page}}"></gl-form-input>
            </gl-grid-col>
            <div class="top">/</div>
            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]">
              [[testNum(shipment.*,'nn_page')]]
              <gl-form-input label="" class="w" value="{{shipment.nn_page}}"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]">
              <div class="top">N/N</div>
            </gl-grid-col>
          </gl-grid-row>
        </gl-form-panel-body>

      </form>

      <gl-form-panel-footer>
        <paper-button class="gl-btn-danger" raised index="[[index]" on-tap="clickCancel">
          </iron-icon>ยกเลิก</paper-button>
        <paper-button class="gl-btn-success" raised index="[[index]" on-tap="clickSubmit">
          </iron-icon>บันทึก</paper-button>
      </gl-form-panel-footer>
    </div>

    <div class="layout horizontal top">
      <template is="dom-repeat" items="{{config.primary}}">
        <div class$="[[item.width]] header">
          [[item.label]]
        </div>
      </template>
    </div>
    <template is="dom-repeat" as="itemPrimary" items="{{data.shipment_detail}}">

      <paper-icon-item class="fancy cleanBd bd">
        <paper-icon-button on-tap="_toggleSub" aria-controls$="collapse{{index}}" icon="chevron-right" item-icon></paper-icon-button>
        <template is="dom-repeat" as="configPrimary" items="{{config.primary}}">
          <div class$="[[configPrimary.width]]">
            <div class="fontPdLeft">
              {{_getItemPrimary(itemPrimary,configPrimary)}}
            </div>
          </div>
        </template>
      </paper-icon-item>
      <iron-collapse id="collapse{{index}}">
        <div class="collapse-content">
          <div class="bd">
            <gl-form-panel set-padding="10px 20px 10px 20px">
              <gl-form-panel-head set-border="1px" set-padding="10px 20px 20px 20px">
                <paper-icon-button icon="create" raised on-tap="editChange" index="[[index]]"></paper-icon-button>
                <paper-icon-button icon="delete" raised on-tap=""></paper-icon-button>
              </gl-form-panel-head>


              <gl-form-panel-body>
                <div class="title">รายละเอียดผู้ส่งออกและเรือ</div>
              </gl-form-panel-body>

              <!-- เพิ่มคอมโพเน้นตรงนี้ -->

              <iron-pages selected="0" class$="iron-index-{{index}}">
                <vessel-save data="{{itemPrimary}}" id="[[itemPrimary.collapse]]" port="[[port]]" shipline="[[shipline]]" pol="[[pol]]" cml="[[cml]]"
                  buyer-masks='[[buyerMasks]]' contract-id='[[contractId]]'>
                </vessel-save>
                <vessel-edit data="{{itemPrimary}}" id="[[itemPrimary.collapse]]" port="[[port]]" shipline="[[shipline]]" pol="[[pol]]" cml="[[cml]]"
                  buyer-masks='[[buyerMasks]]' contract-id='[[contractId]]'>
                </vessel-edit>
              </iron-pages>

              <gl-form-panel-footer set-padding="10px 20px 0px 20px">
                <div id="changeCss" class="hide">
                  <paper-button class="gl-btn-success" raised on-tap="saveChange" index="[[index]]">
                    <iron-icon class="gl-icon-size" icon="save"></iron-icon>บันทึก</paper-button>
                </div>
              </gl-form-panel-footer>

            </gl-form-panel>
          </div>


          <!-- จบ -->
        </div>
      </iron-collapse>
    </template>
    <paper-toast id="toastPass" class="fit-bottom">
      <div class="content">
        <iron-icon icon="check"></iron-icon>บันทึกข้อมูลเสร็จสิน
        <paper-button on-tap="closeToast" class="yellow-button">ปิด</paper-button>
      </div>
    </paper-toast>

  </template>
  <script>
        Polymer({
            is: "list-vessel",
            behaviors: [listEditBehavior,vesselBehavior, gl.behavior.core],
            properties: {
                county:{
                    type:String,
                    value:'TH'
                },
                shipline:{
                  type:Object,
                  notify:true
                },
                ship:{
                  type:Object,
                },
                pol:{
                  type:Object,
                },
                cml:{
                  type:Object,
                },
                buyerMasks:{
                  type:String,
                },
                shipment:{
                  type:Object,
                  value:[{}]
                }
            },
            observers: [
              'getCounty(contractId)',
              'getconfirm(contractId)'
            ],
            ready: function() {
              this.$$('#removeButtom').removeAttribute("hidden");
            },


            delExport: function(e) {
                var r = confirm("ต้องการลบใช่หรือไม่!");
                if (r == true) {
                    var id = e.target.getAttribute("index");
                    this.splice('datas.sender', id, 1);
                    this.glQuery('data-export').deleteDataExport(this.glClone(this.datas));
                }
                // var id = e.target.getAttribute("index");
                // this.splice('datas.sender', id, 1);
                // console.log(this.datas.sender);
            },
            saveChange: function(e) {
                // console.log('1234');
                // console.log(this.datas);
                this.glQuery('data-export').saveData(this.glClone(this.datas));
                this.$$(".iron-index-" + e.currentTarget.index).selected = 0;
                this.openToast();
            },

            clickInsert: function() {
                var css = Polymer.dom(this.root).querySelector('#changeDivcss');
                if (css.classList.contains('hide') == true) {
                    css.classList.remove("hide");
                    css.classList.add("show");
                    this.$$('#removeButtom').setAttribute("hidden", "hidden");
                }
            },
            clickSubmit: function(){
              this.data.id = this.data.shm_id;
              delete this.data.shm_id;
              this.push('data.shipment_detail', {
                bl_no:this.shipment.bl_no,
                book_no:this.shipment.book_no,
                carrier_id:this.shipment.carrier_id,
                cl_id:this.shipment.cl_id,
                contract_id:this.contractId,
                deli_port_id:this.shipment.deli_port_id,
                dest_port_id:this.shipment.dest_port_id,
                eta_date:this.shipment.eta_date,
                etd_date:this.shipment.etd_date,
                load_port_id:this.shipment.load_port_id,
                nn_page:this.shipment.nn_page,
                num_of_container:this.shipment.num_of_container,
                origin_page:this.shipment.origin_page,
                packing_date:this.shipment.packing_date,
                packing_time:this.shipment.packing_time,
                package_id:this.shipment.package_id,
                product_date:this.shipment.product_date,
                seller_id:this.shipment.seller_id,
                seller_phone:this.seller_phone,
                ship_id:this.shipment.ship_id,
                ship_lot_no:this.shipment.ship_lot_no,
                ship_voy_no:this.shipment.ship_voy_no,
                shipline_id:this.shipment.shipline_id,
                shm_det_quantity:this.shipment.shm_det_quantity,
                surveyor_id:this.shipment.surveyor_id,
                type_rice_id:this.shipment.type_rice_id,
                weight_per_container:this.shipment.weight_per_container
              });
              // console.log(this.data);

              // console.log(this.data);
              this.postDb(this.data);
              this.clickCancel();
            },
            postDb:function (data) {
              //axios.post('http://localhost:3000/api/g2g/shipment/insert', data)
              axios.put('http://localhost:3000/api/g2g/shipment/update', data)
                        .then(function (response) {
                          console.log("success");
                          console.log(response);
                          // this.glQuery('addContract').getChange();
                          // this.glQuery('contentPanel').changDrawer();
                        }.bind(this))
                        .catch(function (error) {
                          console.log("error");
                          console.log(error);
                        })
            },
            clickCancel: function(){
              var css = Polymer.dom(this.root).querySelector('#changeDivcss');
              if (css.classList.contains('show') == true) {
                  css.classList.remove("show");
                  css.classList.add("hide");
                  this.$$('#removeButtom').removeAttribute("hidden");
              }
            },
        });
    </script>
</dom-module>
