<dom-module id="allocate-list">
    <template>
        <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
            table.gl-table-default {
                border-collapse: collapse;
                width: 100%;
                overflow-x: auto;
                white-space: nowrap;
            }
            
            table.gl-table-default,
            th,
            td {
                border-bottom: 1px solid #ddd;
            }
            
            th,
            td {
                padding: 15px;
            }
            
            th {
                text-align: left;
                background-color: #F1F1F1;
            }
            
            td {
                text-align: left;
            }
            
            tr:hover {
                background-color: #F1F1F1;
            }
            
            .contentHeader {
                font-size: 22px;
                text-align: center;
            }
        </style>
        <div style="overflow-x:auto;">
            <table class="gl-table-default" style="">
              <tr>
                <th>ลำดับที่</th>
                <th>ผู้ส่งออก</th>
                <template is="dom-repeat" items="[[dataAllocate.exporter.0.period]]">
                    <th>งวดที่ [[_num(index)]]</th>
                    <th>ยอดปรับปรุงงวดที่ [[_num(index)]]</th>
                </template>
                <th>ปริมาณโควต้ารวม</th>
                <th>รวมยอดปรับปรุง</th>
              </tr>
              
                <template is="dom-repeat" items="[[dataAllocate.exporter]]">
                    <tr on-tap="_selectData" data="{{item}}" id="addRedRegExporter">
                        <td>[[_num(index)]]</td>
                        <td>[[item.seller_name_th]]</td>
                        <template is="dom-repeat" as="period" items="[[item.period]]">
                            <td>[[_formatNumber(period.quantity)]]</td>
                            <td>[[_formatNumber(period.quantity_update)]]</td>
                        </template>
                        <td>[[_formatNumber(item.quantity)]]</td>
                        <td>[[_formatNumber(item.quantity_update)]]</td>
                    </tr>
                </template>
              
              <tr>
                <th colspan="2">รวมปริมาณโควตา</th>
                <template is="dom-repeat" items="[[dataAllocate.exporter.0.period]]">
                    <th>[[_sumPeriod(index,'quantity')]]</th>
                    <th>[[_sumPeriod(index,'quantity_update')]]</th>
                </template>
                <th>[[_sumQuantity(dataAllocate,'quantity')]]</th>
                <th>[[_sumQuantity(dataAllocate,'quantity_update')]]</th>
              </tr>
            </table>
          </div>
    </template>
    <script>
        Polymer({
            is: 'allocate-list',
            _num:function(index){
                return index+1;
            },
            _sumPeriod:function(index,key){
                var sum = 0;
                this.dataAllocate.exporter.map(function(item){
                    sum += item.period[index][key];
                });
                return this._formatNumber(sum);
            },
            _sumQuantity:function(index,key){
                var sum = 0;
                this.dataAllocate.exporter.map(function(item){
                    sum += item[key];
                });
                return this._formatNumber(sum);
            },
            _formatNumber:function(item){
                var number = numeral(item).format('0,0.00');
                return number;
            },
            _selectData:function(e){
                this.fire('data-select',e.currentTarget.data);
            }
        });
    </script>
</dom-module>