<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/month-behavior.html">

<dom-module id="confirm-allocate-edit">
  <style is="custom-style" include="iron-flex iron-flex-alignment gl-color">
    *{
      text-align: left;
    }
    .title{
      padding: 10px;
      font-size: 18px;
      color: white;
      background-color: orange;
      /*width: 25%;*/
    }
    .content,paper-button,h2{
      font-size:16px;
      margin-top: 26px;
      font-family: 'CSChatThaiUI', sans-serif !important;
      -webkit-font-smoothing: antialiased;
    }
    table.default {
      border-collapse: collapse;
      width: 100%
    }

    table.default,
    th,
    td {
      border-bottom: 1px solid #ddd;
    }

    th,
    td {
      padding: 15px;
    }

    th {
      text-align: center;
      background-color: #F1F1F1;
      white-space: nowrap;
    }

    td {
      text-align: left;
      white-space: nowrap;
    }

    tr:hover {
      background-color: #F1F1F1;
    }
    .number{
      text-align: right;
    }
    .textHeader{
      padding:20px;
      text-align: center;
      font-size: 22px;  
    }
   paper-tabs{
     --paper-tabs:{
       border-collapse: collapse;
       /*border-bottom: 1px solid #ddd;*/
     }
     --paper-tabs-selection-bar-color: orange;
   }
   paper-tab{
      --paper-tab:{
        font-family: 'rsuregular', sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size : 16px;
      }
    }
    paper-tab:active{
       --paper-tab:{
         color: orange;
      }
    }
   .disabled{
      --paper-tab:{
        background-color: white;
        color: white;
        border-bottom: 1px solid #ddd;
      }
    }
  </style>
  <template>
    <div style="margin-top: 10px;">
    <paper-tabs selected="0" align-bottom>
      <paper-tab>ยืนยันส่วนจัดสรร</paper-tab>
      <paper-tab>โอนส่วนจัดสรร</paper-tab>
      <paper-tab class="disabled" disabled></paper-tab>
      <paper-tab class="disabled" disabled></paper-tab>
      <paper-tab class="disabled" disabled></paper-tab>
    </paper-tabs>
    </div>
    <!--<div class="textHeader">ยืนยันรับส่วนจัดสรร</div>-->
    <gl-form-panel set-padding = "0px 0px 20px 0px">
      <div class="title">ข้อมูลบริษัท</div>
     
      <gl-form-panel-body set-padding = "0px 0px 0px 0px" set-border="0px">
         <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
            <gl-form-label-input label="เลขประจำตัวผู้เสียภาษี" value="0105507002443"></gl-form-label-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
            <!--<gl-form-label-input label="ชื่อบริษัท(ไทย)" value="{{data.a}}"></gl-form-label-input>-->
          </gl-grid-col>
           <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
             <gl-form-label-input label="ชื่อบริษัท(ไทย)" value="{{data.name}}"></gl-form-label-input>
            <!--<gl-form-label-input label="ชื่อบริษัท(อังกฤษ)" value="Kamolkich., Ltd"></gl-form-label-input>-->
          </gl-grid-col>
           <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
           </gl-grid-col>
        </gl-grid-row>
         
      </gl-form-panel-body>
        
    </gl-form-panel>
    <gl-form-panel set-padding = "0px 0px 20px 0px">
      <div class="title">รายละเอียดปริมาณจัดสรร</div>
      <gl-form-panel-body set-padding = "0px 0px 0px 0px" set-border="0px">
         <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
           <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
               <!--<div>ยอดปรับปรุง</div>-->
           </gl-grid-col>
        </gl-grid-row>

          <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
              <div class="content">ปริมาณโควตารวม :</div>
          </gl-grid-col>
           <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                <div class="content">{{formatNumber(defaultAmount)}}</div>
               <!--<gl-form-input class="number" format-number="on" value="{{defaultAmount}}" disabled></gl-form-input>-->
           </gl-grid-col>
             <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
              <div class="content">ปริมาณโควตารวม :</div>
          </gl-grid-col>
           <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
               <gl-form-input class="number" format-number="on" value="{{amount_update}}"></gl-form-input>
           </gl-grid-col>
          </gl-grid-row>
     
               <template is="dom-repeat" items="[[data.quantity]]">
                 <!--[[getQuantity(item)]]-->
                <gl-grid-row width="{{getWidth}}">
                  <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
                  <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                      <div class="content">ปริมาณ งวดที่ {{item.period}} [[getMonthName(item.month)]] </div>
                  </gl-grid-col>
                  <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                      <div class="content">{{formatNumber(item.weigth)}}</div>
                      <!--<gl-form-input class="number" allowed-pattern="[0-9||,||.]" format-number="on" value="[[item.weigth]]" disabled></gl-form-input>-->
                  </gl-grid-col>
                  <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                      <div class="content">ปริมาณ งวดที่ {{item.period}} [[getMonthName(item.month)]] </div>
                  </gl-grid-col>
                  <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"> 
                    <!--[[mathPercent(item.weigth,item.percent,amount,item.period,index)]]-->
                      <gl-form-input class="number" allowed-pattern="[0-9||,||.]" format-number="on" value="[[mathPercent(item,amount_update,index)]]"></gl-form-input>
                  </gl-grid-col>
                  </gl-grid-row>
                </template>
                </gl-form-panel-body>
                </gl-form-panel>
                 
      <div class="horizontal end-justified layout">
          <paper-button class$="{{setClass}}" on-tap="_saveData" raised>{{btnName}}</paper-button>
      </div>
      
       <gl-form-panel set-padding = "0px 0px 20px 0px">
      <div class="title">ข้อมูลบริษัท</div>
     
      <gl-form-panel-body set-padding = "0px 0px 0px 0px" set-border="0px">

         <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
            <gl-form-label-input label="ชื่อบริษัท(ไทย)" value="{{data.name}}"></gl-form-label-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
              <div class="content">โอนส่วนจัดสรรให้กับ</div>
          </gl-grid-col>
           <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
              <gl-combo-box class="saveData" label="ชื่อบริษัท" items="{{listCompany}}" value="{{selectExporter}}" item-label-path="name" item-value-path="exporter_id"
              error-message="กรุณาเลือกบริษัท"></gl-combo-box>
            <!--<gl-form-label-input label="ชื่อบริษัท(อังกฤษ)" value="Kamolkich., Ltd"></gl-form-label-input>-->
          </gl-grid-col>
           <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
           </gl-grid-col>
        </gl-grid-row>
         
      </gl-form-panel-body>
        
    </gl-form-panel>
    <div class="horizontal end-justified layout">
      <paper-button class="gl-btn-primary" on-tap="_transferData" raised>โอนส่วนจัดสรร</paper-button>
    </div>
  </template>
  <script>
    Polymer({
      is: "confirm-allocate-edit",
      behaviors:[FormatNumberBehavior,MonthBehavior],
      properties:{
        status:{
          type: String,
          value: '??',
          observer: 'checkStatus'
        },
        data:{
            type: Object,
            observer: '_getData'
        },
        quantityUpdate:{
          type: Array,
          value: []
        }
      
      },
      ready:function(){
        this.answer = 0;
      },
      _getData:function(){
        console.log(this.status);
        if(this.status == 'confirm'){
          this.defaultAmount = this.data.amount;
          this.amount_update = this.data.amount;
        }
        else if(this.status == 'notConfirm'){
            console.log('notconfirm');
          this.defaultAmount = this.data.amount;
          this.amount_update = this.data.amount_update;
        }
     
      },
      mathPercent:function(item,amount_update,index){
        // console.log(amount_update);
        if(this.data.amount != amount_update){
          this.data.quantity[index].weigth_update = this.unFormat(amount_update)*item.percent/100;
          return this.unFormat(amount_update)*item.percent/100;
        }
        if(this.data.amount == amount_update){
          this.data.quantity[index].weigth_update = item.weigth;
          // console.log('default',item.weigth);
          return this.unFormat(item.weigth);
        }       
      },
      checkStatus:function(status){
        if(status == 'confirm'){
          this.btnName = 'ยกเลิกยืนยัน';
          this.setClass = 'gl-btn-danger'
        }
        else if(status == 'notConfirm'){
          this.btnName = 'ยืนยัน'
          this.setClass = 'gl-btn-success'
        }
      },
      _transferData:function(){
        var quantitTransfer = this.data.quantity.map((item)=>{
            var {period,weigth} = item;
            var newitem = {period,weigth};
            newitem.weigth = this.unFormat(item.weigth_update);
            return newitem;
        });
        var transfer = {
          id : this.data.id,
          amount : this.unFormat(this.amount_update),
          exporter_id : this.selectExporter,
          quantity: quantitTransfer,
          quota_id: this.data.quota_id,
          allocate_id: this.data.allocate_id
        }
        this.fire('transfer-data',transfer)
        // console.log(transfer);
      },
      _saveData:function(){
        if(this.status == 'notConfirm'){
          var quantityUpdate = this.data.quantity.map((item)=>{
            var {period,weigth} = item;
            var newitem = {period,weigth};
            newitem.weigth = this.unFormat(item.weigth_update);
            return newitem;
          });
          var datas = {
            amount : this.unFormat(this.amount_update),
            exporter_id: this.data.exporter_id,
            quantity: quantityUpdate,
            quota_id: this.data.quota_id,
            allocate_id: this.data.id
          }
          // console.log(datas);
          this.fire('save-data',datas);
        }
        else if(this.status == 'confirm'){
          console.log(this.data);
          var cancelConfirm = {
            allocate_id : this.data.allocate_id
          }
          // var cancelConfirm = this.data.id;
          this.fire('cancel-confirm',cancelConfirm);
        }
      }
    });
  </script>
</dom-module>
