
<link rel="import" href="./../../components/data-manage-behavior.html">
<link rel="import" href="./../../components/month-behavior.html">
<link rel="import" href="./../../components/format-number-behavior.html">


<dom-module id="confirm-list">
    <template>
        <style is="custom-style" include="gl-table gl-color gl-size">
            *{
                font-family: 'CSChatThaiUI', sans-serif !important;
                -webkit-font-smoothing: antialiased;
            }
            table{
                border: 1px solid #ddd;
            }
            th,td{
                text-align: right !important;
                cursor: pointer;
            }
            .left{
                text-align: left !important;
            }
            .right{
                text-align: right !important;
            }
            .center{
                text-align: center !important;
            }
            .flex-end-justified {
                @apply(--layout-horizontal);
                @apply(--layout-end-justified);
            }
            .content{
                padding:0px 0px 10px 0px;
            }
        </style>
      
          <template is="dom-if" if="{{dataStat}}">
            <table class="gl-table-default">
                <thead>
                    <tr>
                        <th class="left">ผู้ส่งออก</th>
                        <th colspan="3">ปริมาณโควตารวม</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <td class="left" colspan="5">ไม่พบข้อมูล 
                    </td>
                </tbody>
            </table>
        </template>
        <template is="dom-if" if="{{!dataStat}}">
        <div class="content flex-end-justified">
            <paper-button class="gl-btn-primary" raised>ยืนยันส่วนจัดสรร</paper-button>
        </div>
       <table class="gl-table-default">
           <thead>
                <tr>
                    <th class="left"><paper-checkbox>เลือกทั้งหมด</paper-checkbox></th>
                    <th class="left">ลำดับที่</th>
                    <th class="left">ผู้ส่งออก</th>
                    <th>ปริมาณโควตารวม</th>
                    <template is="dom-repeat" items="{{quantityForThead.quantity}}">
                        <th>งวดที่ {{item.period}} [[getMonthName(item.month)]]</th>
                    </template>
                </tr>
            </thead>
            <tbody>
           
            <template is="dom-repeat" items="{{data.data}}">
                <tr data="{{item}}">
                    <td class="center">
                        <paper-checkbox value="{{item}}" checked="{{item.check}}"></paper-checkbox>
                    </td>
                    <td on-tap="_selectData" data="{{item}}" class="left">[[_num(index)]]</td>
                    <td on-tap="_selectData" data="{{item}}" class="left">{{item.name}}</td>
                    <td>{{formatNumber(item.amount)}}</td>
                    <template is="dom-repeat" items="{{item.quantity}}">
                        <td on-tap="_selectData" data="{{item}}">{{formatNumber(item.weigth)}}</td>
                    </template>
                </tr>
            </template>
             </tbody> 
        </table>
         </template>
    </template>
    <script>
        Polymer({
            is: 'confirm-list',
            behaviors:[MonthBehavior,FormatNumberBehavior,DataManageBehavior],
            observers:['checkData(data)'],
            properties:{
                status: {
                    type: String
                },
                data:{
                    observer: '_getData'
                }
            },
            _num:function(index){
                return index+1;
            },
            _getData:function(){
                this.quantityForThead = this.data.data[0];
                console.log('data',this.data);
            },
            _selectData:function(e){
                // console.log(this.status);
                this.fire('data-select',
                {
                    data:e.currentTarget.data,
                    status: this.status
                })
            }

        });
    </script>
</dom-module>