
<link rel="import" href="./../../components/data-manage-behavior.html">
<link rel="import" href="./../../components/month-behavior.html">
<link rel="import" href="./../../components/format-number-behavior.html">


<dom-module id="confirm-list">
    <template>
        <style is="custom-style" include="gl-table">
            *{
                font-family: 'CSChatThaiUI', sans-serif !important;
                -webkit-font-smoothing: antialiased;
            }
            th,td{
                text-align: right !important;
            }
            .left{
                text-align: left !important;
            }
            .right{
                text-align: right !important;
            }
        </style>
      
        
       <table class="gl-table-default">
           <thead>
                <tr>
                    <th class="left">ผู้ส่งออก</th>
                    <th>ปริมาณโควตารวม</th>
                <template is="dom-repeat" items="{{quantityForThead.quantity}}">
                    <th>งวดที่ {{item.period}} [[getMonthName(item.month)]]</th>
                </template>
                </tr>
            </thead>
            <tbody>
           
            <template is="dom-repeat" items="{{data}}">
                <tr on-tap="_selectData" data="{{item}}">
                    <td class="left">{{item.name}}</td>
                    <td>{{formatNumber(item.amount)}}</td>
                    <template is="dom-repeat" items="{{item.quantity}}">
                        <td>{{formatNumber(item.weigth)}}</td>
                    </template>
                </tr>
            </template>
             </tbody> 
        </table>
    </template>
    <script>
        Polymer({
            is: 'confirm-list',
            behaviors:[MonthBehavior,FormatNumberBehavior],
            properties:{
                status: {
                    type: String
                },
                data:{
                    observer: '_getData'
                }
            },
            _getData:function(){
                // this.quantityForThead = this.data[0].map((item)=>{
                //     return item.quantity;
                // });
                this.quantityForThead = this.data[0];
                // console.log(this.data[0]);
            },
            _selectData:function(e){
                this.fire('data-select',
                {
                    data:e.currentTarget.data,
                    status: this.status
                })
            }

        });
    </script>
</dom-module>