
<dom-module id="confirm-list">
    <template>
        <style is="custom-style" include="gl-table">
            *{
                font-family: 'CSChatThaiUI', sans-serif !important;
                -webkit-font-smoothing: antialiased;
            }
        </style>
        <div>{{status}}</div>
       <table class="gl-table-default">
           <thead>
            <tr>
                <template is="dom-repeat" items="{{data.header}}">
                    <th>{{item}}</th>
                </template>
            </tr>
            </thead>
            <tbody>
            <template is="dom-repeat" items="{{data.content}}">
                <tr on-tap="_selectData" data="{{item}}">
                    <td>{{item.a}}</td>
                    <td>{{item.b}}</td>
                    <td>{{item.c}}</td>
                    <td>{{item.d}}</td>
                    <td>{{item.e}}</td>
                </tr>
            </template>
             </tbody> 
             <thead>
            <tr>
                <th></th>
                 <template is="dom-repeat" items="{{data.sum}}">
                    <th>{{item.sumb}}</th>
                    <th>{{item.sumc}}</th>
                    <th>{{item.sumd}}</th>
                    <th>{{item.sume}}</th>
                 </template>
            </tr>
             </thead>
        </table>
    </template>
    <script>
        Polymer({
            is: 'confirm-list',
            properties:{
                status: {
                    type: String
                }
            },
            _selectData:function(e){
                this.fire('data-select',
                {
                    data:e.currentTarget.data,
                    status: this.status
                })
            }

        });
    </script>
</dom-module>