<link rel="import" href="../../functionBehavior/dataBehavior.html">
<dom-module id="insert-notifyparty">
  <style include="iron-flex iron-flex-alignment gl-color gl-size">
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: var(--font-size-h5);
    }
    .text-center {
      text-align: center;
      font-size: var(--font-size-h3);
      background-color: var(--paper-grey-100);
      margin-top: 20px;
    }
    .margin-top{
      margin-top: 15px;
    }
    .button{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  </style>
  <template>
    <div class="text-center">เพิ่มข้อมูลที่อยู่ผู้รับสินค้า</div>

    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box class="checkData" items="{{ports}}" item-label-path="port_name" label="Port Name (ชื่อท่าเรือ)" item-value-path="port_id"
        value="{{data.port_id}}" error-message="กรุณาเลือกท่าเรือ" required></gl-combo-box>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box class="checkData" items="{{buyers}}" item-label-path="buyer_name" label="Buyer Name (ชื่อผู้ซื้อ)" item-value-path="buyer_id"
        value="{{data.buyer_id}}" error-message="กรุณาเลือกผู้ซื้อ" required></gl-combo-box>
      </gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
        <gl-form-input class="margin-top checkData" label="Notify Name (ชื่อที่อยู่ผู้รับสินค้า) :" placeholder="กรอกชื่อที่อยู่ผู้รับสินค้า" value="{{data.notify_name}}" error-message="กรุณากรอกชื่อที่อยู่ผู้รับสินค้า" required></gl-form-input>
      </gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-textarea class="margin-top checkData" label="Tel. (เบอร์โทร) :" placeholder="กรอกเบอร์โทร" value="{{data.notify_tel}}" error-message="กรุณากรอกเบอร์โทร" required></gl-form-textarea>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-textarea class="margin-top checkData" label="Fax. (เบอร์แฟกซ์) :" placeholder="กรอกเบอร์แฟกซ์" value="{{data.notify_fax}}" error-message="กรุณากรอกเบอร์แฟกซ์" required></gl-form-textarea>
      </gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
        <gl-form-textarea class="margin-top checkData" label="Nortfy Address (ที่อยู่) :" rows="2" placeholder="กรอกที่อยู่" value="{{data.notify_address}}" error-message="กรุณากรอกที่อยู่" required></gl-form-textarea>
      </gl-grid-col>
    </gl-grid-row>

    <div class="horizontal end-justified layout">
      <div class="button">
        <paper-button class="gl-btn-danger" raised on-tap="_cancel">ยกเลิก</paper-button>
        <paper-button class="gl-btn-success" raised on-tap="_save">บันทึก</paper-button>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: "insert-notifyparty",
      properties: {
        data: {
          type: Object,
          value:{}
        }
      },
      behaviors: [
          gl.behavior.core,
          gl.behavior.locales,
          dataBehavior
      ],
      _save:function functionName() {
        var datas = {
          port_id: this.data.port_id,
          buyer_id: this.data.buyer_id,
          notify_name: this.data.notify_name,
          notify_tel: this.data.notify_tel,
          notify_fax: this.data.notify_fax,
          notify_address: this.data.notify_address
        }
        // console.log(datas);
        var stat = Polymer.dom(this.root).querySelectorAll('.checkData').map((data)=>{
            return  data.validate();
        });
        var chkStat = function(stat){
            return stat == true
        };
        if(stat.every(chkStat) == true){
          this.read('./common/check/duplicate?table=notify_party&field=notify_name&value='+datas.notify_name, (response) => {
            if (response == 0) {
              this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
              this.insert('./common/notify/insert', datas, () => {
              this.data = {};
              this.glQuery('refreshNotify').getNotify();
              this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
                console.log('success');
              }});
             });
           }
           else {
             this.fire('toast',{status:'connectError',text:'ที่อยู่ผู้รับสินค้านี้มีอยู่แล้ว',
               callback:function(){
               }})
           }
           });
        }
        else {
          this.fire('toast',{status:'connectError',text:'กรุณากรอกข้อมูลให้ครบถ้วน',
            callback:function(){
            }})
        }
      },
      _cancel:function() {
        this.glQuery('panelRight').changDrawer();
        this.data = {};
      }
    });
  </script>
</dom-module>
