<style media="screen">
    html,
    body {
        margin: 0;
        height: 100%;
    }
</style>
<dom-module id="layout-registion">
    <style is="custom-style" include="iron-flex iron-flex-alignment">

    </style>
    <style is="custom-style" include="gl-color">
        div.paper-header {
            border-bottom: 1px solid var(--paper-grey-300);
        }

        paper-toolbar.toolbarHead {
            --paper-toolbar-background: #f7941e;
            --paper-toolbar-title: {
                font-weight: normal;
                font-size: 16px;
                padding: 0px 0px 10px 70px;
                line-height: 25px;
                font-family: 'rsubold', sans-serif;
                -webkit-font-smoothing: antialiased;
            }
            ;
        }

        paper-toolbar.toolbarbody {
            height: 5px;
            --paper-toolbar-background: #29AAE3;
        }

        paper-toolbar.toolbarfoot {
            /*height: 50px;*/
            --paper-toolbar-background: #FFF;
            --paper-header-panel-body: {
                font-size: 16px;
            }
            ;
        }

        paper-toolbar.toolbarbody>div.title {
            margin-left: 0px;
        }

        div.content {
            margin: 5px 0px 0px 0px;
        }

        .gl-btn-success {
            width: auto;
        }
    </style>

    <template>

  <paper-header-panel mode="waterfall">
    <div class="paper-header">
      <paper-toolbar class="toolbarHead">
        <div class="title">
          <div class="lineName">
            ระบบการขึ้นทะเบียนผู้ส่งออกข้าว
          </div>
          <div class="lineMenu">
            <!-- สัญญาการซื้อขาย > ประเทศจีน -->
          </div>
        </div>
      </paper-toolbar>
      <paper-toolbar class="toolbarbody">
      </paper-toolbar>
      <paper-toolbar class="toolbarfoot">
          <!-- <paper-button raised class="gl-btn-success"><iron-icon icon="add"></iron-icon> เพิ่มสัญญาการค้า</paper-button>
          <div class="title"></div>
          <icon-toggle toggles tabindex="0" on-tap="togglePanel" id="changeWidth">
            <iron-icon class="gl-icon-size" icon="swap-horiz" title="ย่อ/ขยายหน้าต่าง" ></iron-icon>
          </icon-toggle>
          <icon-toggle toggles tabindex="0" on-tap="loadPages">
            <iron-icon class="gl-icon-size" icon="settings" title="ตั้งค่า" ></iron-icon>
          </icon-toggle> -->
      </paper-toolbar>
    </div>
      <div class="content">
        <tag-page-load id="tagPageLoad"></tag-page-load>
      </div>
    </paper-header-panel>


  </template>
    <script>
        Polymer({
            is: 'layout-registion',
            behaviors: [gl.behavior.template, gl.behavior.locales, gl.behavior.core],
            properties: {
                loadContent: {
                    type: Boolean,
                    value: false
                }
            },
            created: function() {
                this.glQuery('layoutRegistion', this);
            },
            changePath: function(path) {
                this.loadContent = true;
                // console.log('a',this.loadContent);
                this.glChangePath(path);
            },

            changeLanguage: function() {
                if (this.language == 'th') {
                    this.glSwitchLanguage('en');
                } else {
                    this.glSwitchLanguage('th');
                }
            }
        });
    </script>

</dom-module>
