<dom-module id="report-price-movements-in-rice">
  <style include="gl-styles">
    :host {
      display: block;
    }
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    table.gl-table-default > thead.table-head > tr > th,
    table.gl-table-default > tbody.table-body > tr > td {
      text-align: center;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(1) {
      text-align: left;
    }
    table.gl-table-default > thead.table-head > tr:nth-child(1) > th:nth-child(1),
    table.gl-table-default > thead.table-head > tr:nth-child(1) > th:nth-child(2),
    table.gl-table-default > thead.table-head > tr:nth-child(1) > th:nth-child(3){
      width: 30%;
    }
    table.gl-table-default > thead.table-head > tr:nth-child(1) > th:nth-child(4){
      width: 30%;
    }
  </style>
  <template>
    <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
          <gl-form-panel-head label="รายงานความเคลื่อนไหวราคาข้าวสาร" set-padding="10px" set-border="1px">
              <!--content-->

          </gl-form-panel-head>
          <table class="gl-table-default">
      <thead class="table-head">
        <tr>
          <th>Exchange Rate (SIGHT BILL) = Baht/1 USD</th>
          <th colspan="6">ราคาภายใน*</th>
          <!-- <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th>
          <th>1</th> -->
          <th colspan="2">ราคาส่งออก (FOB)</th>
          <!-- <th>1</th> -->
          <th colspan="2" rowspan="2">%</th>
          <!-- <th>1</th> -->
        </tr>
        <tr>
          <th rowspan="2">ชนิดข้าว</th>
          <th colspan="2">งวดก่อน</th>
          <!-- <th>1</th> -->
          <th colspan="2">งวดนี้</th>
          <!-- <th>1</th> -->
          <th colspan="2">%</th>
          <!-- <th>1</th> -->
          <th>FOB PRICE (USD/MT) Last issue ณ 23 มี.ค 59</th>
          <th>FOB PRICE (USD/MT) Last issue ณ 30 มี.ค 59</th>
          <!-- <th>1</th>
          <th>1</th> -->
        </tr>
        <tr>
          <!-- <th>1</th> -->
          <th>TH</th>
          <th>USD</th>
          <th>TH</th>
          <th>USD</th>
          <th>USD</th>
          <th>%</th>
          <th>(อัตราแลกเปลี่ยน 34.78/ตัน)</th>
          <th>(อัตราแลกเปลี่ยน 35.00/ตัน)</th>
          <th>USD</th>
          <th>%</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr>
         <td>ข้าวหอมมะลิไทย ชั้น 1 (57/58)</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>798</td>
         <td>794</td>
         <td>-4</td>
         <td>-1</td>
        </tr>
        <tr>
         <td>ข้าวหอมมะลิไทย ชั้น 2 (57/58)</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>769</td>
         <td>764</td>
         <td>-5</td>
         <td>-1</td>
        </tr>
        <tr>
         <td>ข้าวหอมมะลิไทย ชั้น 1 (58/59)</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>798</td>
         <td>794</td>
         <td>-4</td>
         <td>-1</td>
        </tr>
        <tr>
         <td>ข้าวหอมมะลิไทย ชั้น 2 (58/59)</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>740</td>
         <td>720</td>
         <td>-20</td>
         <td>-3</td>
        </tr>

     </tbody>
  </table>
   ที่มา: สภาพหอการค้าแห่งประเทศไทย
      </gl-form-panel>
  </template>
  <script>
    Polymer({
      is: "report-price-movements-in-rice",

    });
  </script>
</dom-module>
