<dom-module id="status-of-rice-trade">
  <style include="gl-styles">
    :host {
      display: block;
    }
    .title{
      font-weight: bold;
      margin: 20px 0px 10px 0px;
    }
    .title > .subtitle{
      /*padding: 10px 0px 10px 0px;*/
      padding-left: 15px;
    }
    table.gl-table-default > thead.table-head > tr > th,
    table.gl-table-default > tfoot.table-foot > tr > td,
    table.gl-table-default > tbody.table-body > tr > td {
      text-align: center;
    }
    table.gl-table-default > tfoot.table-foot > tr > td:nth-child(1),
    table.gl-table-default > tbody.table-body > tr > td:nth-child(1) {
      text-align:left;
    }
    table.gl-table-default > tbody.table-body > tr > td {
      font-weight: normal;
    }
    table.gl-table-default > thead.table-head > tr:nth-child(1) > th:nth-child(1) {
      width: 20%;
    }
    table.gl-table-default > thead.table-head > tr:nth-child(1) > th:nth-child(2),
    table.gl-table-default > thead.table-head > tr:nth-child(1) > th:nth-child(3){
      width: 40%;
    }
  </style>
  <template>
    <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
            <gl-form-panel-head label="ภาวะการค้าข้าว" set-padding="10px" set-border="1px">
                <!--content-->
            </gl-form-panel-head>
            <div class="title">
              1 สถานการณ์ข้าวโลก <br>
             <div class="subtitle">
               1.1 การผลิต การบริโภค และสต็อกข้าวโลก
              <div style="padding-left: 15px;">
               <table class="gl-table-default">
                  <thead class="table-head">
                    <tr>
                      <th rowspan="2"></th>
                      <th colspan="5">2557/58</th>
                      <!-- <th>1</th>
                      <th>1</th>
                      <th>1</th>
                      <th>1</th> -->
                      <th colspan="5">2558/59</th>
                      <!-- <th>1</th>
                      <th>1</th>
                      <th>1</th>
                      <th>1</th> -->
                    </tr>
                    <tr>
                      <!-- <th></th> -->
                      <th>ผลผลิต</th>
                      <th>บริโภค</th>
                      <th>ส่งออก</th>
                      <th>นำเข้า</th>
                      <th>สต็อก</th>
                      <th>ผลผลิต</th>
                      <th>บริโภค</th>
                      <th>ส่งออก</th>
                      <th>นำเข้า</th>
                      <th>สต็อก</th>
                    </tr>
                  </thead>
                  <tfoot class="table-foot">
                    <tr>
                      <td>ข้าวโลก</td>
                      <td>478.7</td>
                      <td>478.1</td>
                      <td>42.7</td>
                      <td>42.7</td>
                      <td>114.6</td>
                      <td>472.1</td>
                      <td>470.4</td>
                      <td>40.1</td>
                      <td>40.1</td>
                      <td>116.3</td>
                    </tr>
                  </tfoot>
                  <tbody class="table-body">
                    <tr>
                     <td>ประเทศผู้ส่งออก</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                    </tr>
                    <tr>
                     <td>จีน</td>
                     <td>144.6</td>
                     <td>144.5</td>
                     <td>0.3</td>
                     <td>5.2</td>
                     <td>57.4</td>
                     <td>145.8</td>
                     <td>144.0</td>
                     <td>0.6</td>
                     <td>4.6</td>
                     <td>63.7</td>
                    </tr>
                    <tr>
                     <td>ไทย</td>
                     <td>144.6</td>
                     <td>144.5</td>
                     <td>0.3</td>
                     <td>5.2</td>
                     <td>57.4</td>
                     <td>145.8</td>
                     <td>144.0</td>
                     <td>0.6</td>
                     <td>4.6</td>
                     <td>63.7</td>
                    </tr>
                    <tr>
                     <td>ประเทศผู้นำเข้า</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                    </tr>
                    <tr>
                     <td>ไนจีเรีย</td>
                     <td>2.8</td>
                     <td>5.4</td>
                     <td>-</td>
                     <td>2.1</td>
                     <td>1.0</td>
                     <td>2.7</td>
                     <td>5.2</td>
                     <td>-</td>
                     <td>2.0</td>
                     <td>0.6</td>
                    </tr>
                    <tr>
                     <td>ไนจีเรีย</td>
                     <td>2.8</td>
                     <td>5.4</td>
                     <td>-</td>
                     <td>2.1</td>
                     <td>1.0</td>
                     <td>2.7</td>
                     <td>5.2</td>
                     <td>-</td>
                     <td>2.0</td>
                     <td>0.6</td>
                    </tr>
                 </tbody>
               </table>
              </div>
              1.2 การส่งออกข้าวของประเทศผู้ส่งออกหลัก
             </div>
            </div>

        </gl-form-panel>
  </template>
  <script>
    Polymer({
      is: "status-of-rice-trade",

    });
  </script>
</dom-module>
