<link rel="import" href="weekly-rice-situation/weekly-send-situation.html">
<link rel="import" href="weekly-rice-situation/country-competitors.html">
<link rel="import" href="weekly-rice-situation/thai-rice-export.html">
<link rel="import" href="weekly-rice-situation/rice-export-market.html">
<link rel="import" href="weekly-rice-situation/fob-price.html">
<link rel="import" href="weekly-rice-situation/weekly-rice-price.html">
<link rel="import" href="weekly-rice-situation/weekly-paddy-price.html">
<link rel="import" href="weekly-rice-situation/rice-inventories-in-warehouses.html">
<link rel="import" href="weekly-rice-situation/status-of-rice-discharge.html">
<link rel="import" href="weekly-rice-situation/estimate-of-value-rice.html">
<dom-module id="weekly-rice-situation">
  <style include="gl-styles">
    :host {
      display: block;
    }
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
  </style>
  <template>
    <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
           <gl-form-panel-head label="ข้อมูลสถานะการ์ณตลาดข้าว" set-padding="10px" set-border="1px">
               <!--content-->
           </gl-form-panel-head>
           <weekly-send-situation></weekly-send-situation>
           <country-competitors></country-competitors>
           <thai-rice-export></thai-rice-export>
           <rice-export-market></rice-export-market>
           <fob-price></fob-price>
           <weekly-rice-price></weekly-rice-price>
           <weekly-paddy-price></weekly-paddy-price>
           <rice-inventories-in-warehouses></rice-inventories-in-warehouses>
           <status-of-rice-discharge></status-of-rice-discharge>
           <estimate-of-value-rice></estimate-of-value-rice>
          </table>
       </gl-form-panel>
  </template>
  <script>
    Polymer({
      is: "weekly-rice-situation",
      properties: {
        data: {
          type: Array,
          value:
            [
              {

              }
            ]
        }
      }
    });
  </script>
</dom-module>
