<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<dom-module id="quota-insert">
  <style is="custom-style" include="iron-flex iron-flex-alignment gl-color">
    .title{
      background-color: orange;
      padding: 10px;
      color:white;
    }
    table.default {
      border-collapse: collapse;
      width: 100%
    }

    table.default,
    th,
    td {
      border-bottom: 1px solid #ddd;
    }

    th,
    td {
      padding: 15px;
    }

    th {
      text-align: left;
      background-color: #F1F1F1;
      white-space: nowrap;
    }

    td {
      text-align: left;
      white-space: nowrap;
    }

    tr:hover {
      background-color: #F1F1F1;
    }
    .number{
      text-align: right;
    }
    header>div{
      text-align: center;
      font-size: 22px;
      padding: 20px;
    }
  </style>
  <template>
    <header>
      <div>การกำหนดปีโควตา</div>
    </header>
    <gl-form-panel set-padding = "0px 0px 20px 0px">
      <div class="title">รายละเอียดการจัดสรรโควตา</div>
      <gl-form-panel-body set-padding = "0px 0px 0px 0px" set-border="0px">
        <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
            <gl-form-input label="ปีโควต้า" auto-validate error-message="กรุณาใสปีโควต้า" required placeholder="ใส่ปีโควต้า" value="{{year}}" id="" name=""></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
             <gl-form-dropdown-menu label="ประเภทข้าว">
                <paper-listbox class="dropdown-content" attr-for-selected="rice-type-id" selected="{{typeRice}}">
                  <template is="dom-repeat" items="{{getTypeRice}}">
                    <paper-item rice-type-id="{{item.id}}">{{item.type_rice_name_th}}</paper-item>
                  </template>
                    
                    <!--<paper-item rice-type-id="513aa18a-e0d9-4408-9ec2-62fa271958e5">ข้าวหัก</paper-item>-->
                </paper-listbox>
            </gl-form-dropdown-menu>
    
          </gl-grid-col>
           <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
            <gl-form-input label="ยอดรวม" value="{{sum}}"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
        </gl-grid-row>

        <table class="default" id="[[index]]">
          <tr>
            <th>จำนวนงวด</th>
            <th>สัดส่วน % </th>
            <th>คำนวณ</th>
            <th></th>
          </tr>
           <template is="dom-repeat" items="{{Period}}">
              <tr>
                  <td>งวดที่ : {{getIndex(index)}}</td>
                    <!--{{item.proportion}}-->
                  <td>
                    [[testNum(item.*,'percent')]]
                    <gl-form-input auto-validate error-message="กรุณาใสจำนวน" value="{{item.percent}}" required placeholder="กรุณาใส่จำนวน" no-label-float></gl-form-input>
                  </td>
                  <td><gl-form-input auto-validate error-message="กรุณาใสจำนวน" value="{{_mathProportion(item.percent,item)}}" on-input="inputProportionChange" index="{{index}}" required placeholder="กรุณาใส่จำนวน" id="{{index}}" no-label-float></gl-form-input></td>
                  <td>
                    <paper-button on-tap="_delPeriod" item="{{item}}"><iron-icon icon="delete"></iron-icon></paper-button>
                  </td>
              </tr>
                  
           </template>
          <tr>
            <td colspan="4"> 
              <paper-button on-tap="_addPeriod"><iron-icon icon="add"></iron-icon> เพิ่มงวด</paper-button>
             </td>
          </tr>
          <tr>
            <th>ปริมาณโควต้ารวม : {{_crossCheck(Period.*)}}</th>
            <th></th>
            <th></th>
            <th>
            <paper-button on-tap="_mathData">คำนวณ</paper-button>
            </th>
          </tr>
        </table>

      </gl-form-panel-body>
    </gl-form-panel>

    <div class="horizontal end-justified layout">
        <paper-button class="gl-btn-danger" raised>ยกเลิก</paper-button>
        <paper-button class="gl-btn-success" on-tap="_saveData" raised>บันทึก</paper-button>
    </div>
  </template>
  <script>
    Polymer({
      is: "quota-insert",
       properties: {
        Period: {
          type: Array,
          value: []
        },
        quota:{
          type: Object,
          value: 
          {
              'id':'2558',
              'period':[
              {
                'name':'งวดที่ 1',
                'percent': 50,
                'quantity':500
              },
              ],
              'type_rice_id':'0',
          }
        },
        year:{
          type: String,
          value: '2559'
        },
        dataYear:{
          type: String
        },
        typeRice:{
          type: String
        },
        sum:{
          type: Number
        },
        getTypeRice:{
          type: Array
        }
       },
       ready:function(){
          axios.get('./eu/type_rice/')
          .then((response)=>{
            console.log("success!!");
            console.log(response.data);
            this.getTypeRice = response.data;
          })
          .catch((error)=>{
            console.log("error");
            console.log(error);
          });
       },
       getIndex:function(index){
         return parseInt(index)+1;
       },
      _addPeriod:function(){
        this.push('Period',{percent:'',quantity:''});
      },
      _delPeriod:function(e){
        if (confirm("ต้องการลบข้อมูลหรือไม่ ?") == true) {
          this.splice('Period',this.Period.indexOf(e.currentTarget.item),1);
        } 
      },
      _mathProportion:function(percent,item){
        item.quantity = (parseFloat(this.sum)*parseFloat(percent))/100;
        //console.log(this.Period);
        return item.quantity;
      },
      _crossCheck:function(data){
        var sum = 0;
        data.base.map((item)=>{
          if(typeof item.quantity!="undefined"){
            sum += item.quantity;
          }
        });
        return sum;
      },
      inputProportionChange:function(e){
        this.set('Period.'+e.target.index+'.quantity',parseFloat(e.target.value));
      },
      _saveData:function(){
        datas = {
          id:this.year,
          type_rice:
            {
              amount:parseInt(this.sum),
              period:this.Period,
              type_rice_id:this.typeRice
            }
        }
        console.log(datas);
        axios.post('/eu/quota',datas)
        .then((response)=>{
          console.log("success");
          console.log(response);
        })
        .catch((error)=>{
          console.log("error");
          console.log(error);
        });
      },
      testNum:function(ob,param){
          //console.log(typeof ob.value);
          if(typeof ob.value == "string"){
            var pathChange = ob.path.split(".");
            if(pathChange.length == 2){
                if(pathChange[1]==param){
                  ob.base[param]=parseFloat(ob.value);
                  // console.log(typeof ob.value);
                }
            }
          }
      },
      

    });
  </script>
</dom-module>
