<dom-module id="grid-confirmation">
    <style include="iron-flex iron-flex-factors gl-size gl-color">
        .cml:first-of-type {
            /*margin-left: 60px;*/
            text-align: left;
            /*color: red;*/
        }
        
        .cml:not(:first-of-type) {
            text-align: right;
            /*color: blue;*/
        }
    </style>
    <template>
    <paper-icon-item>
        <div class="flex-2 cml subTitle">
          Confirmation Letter No.{{cNo}}
        </div>
        <div class="flex cml subTitle">
          {{cAll}}
        </div>
        <div class="flex cml subTitle">
          0
        </div>
        <div class="flex cml subTitle">
          {{cBal}}
        </div>
    </paper-icon-item>
  </template>
    <script>
        Polymer({
            is: "grid-confirmation",
            behaviors: [
                gl.behavior.core
            ],
            created:function(){
                this.glQuery('grid-confirmation',this)
            },
            properties:{
                cNo:{
                    type:String,
                    value:2
                },
                cAll:{
                    type:String,
                    value:0
                },
                cBal:{
                    type:String,
                    value:0
                }
            }
        });
    </script>
</dom-module>