<dom-module id="grid-period">
    <style include="iron-flex iron-flex-factors gl-size gl-color">
        .cml:first-of-type {
            /*margin-left: 60px;*/
            text-align: left;
            /*color: red;*/
        }
        
        .cml:not(:first-of-type) {
            text-align: right;
            /*color: blue;*/
        }
    </style>

    <template>
    <paper-icon-item>
        <div class="flex-2 cml subTitle">
          งวดที่ {{pNo}}
        </div>
        <div class="flex cml subTitle">
          {{pAll}}
        </div>
        <div class="flex cml subTitle">
          0
        </div>
        <div class="flex cml subTitle">
          {{pBal}}
        </div>
    </paper-icon-item>
  </template>
    <script>
        Polymer({
            is: "grid-period",
            behaviors: [
                gl.behavior.core
            ],
            created:function(){
                this.glQuery('grid-period',this);
            },
            properties:{
                pNo:{
                    type:String,
                    value:2
                },
                pAll:{
                    type:String,
                    value:0
                },
                pBal:{
                    type:String,
                    value:0
                }
            }
        });
    </script>
</dom-module>