<dom-module id="grid-confirmation">
  <style include="iron-flex iron-flex-factors gl-size gl-color">
    .cml:first-of-type {
      /*margin-left: 60px;*/
      text-align: left;
      /*color: red;*/
    }

    .cml:not(:first-of-type) {
      text-align: right;
      /*color: blue;*/
    }
  </style>
  <template>
    <paper-icon-item on-tap="_getBind" on-dblclick="_getBind" level="third">
        <div class="flex-2 cml subTitle" on-tap="toggleDrawer">
          Confirmation Letter No.1
        </div>
        <div class="flex cml subTitle" on-tap="toggleDrawer">
          100,000
        </div>
        <div class="flex cml subTitle" on-tap="toggleDrawer">
          -
        </div>
        <div class="flex cml subTitle" on-tap="toggleDrawer">
          100,000
        </div>
    </paper-icon-item>
  </template>
  <script>
    Polymer({
      is: "grid-confirmation"
    });
  </script>
</dom-module>
