<link rel="import" href="nx-grid-component.html">
<link rel="import" href="/bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../data/data-promise.html">
<!--hotwork-->
<link rel="import" href="grid-confirmation.html">
<link rel="import" href="grid-period.html">

<dom-module id="nx-grid">
    <style is="custom-style" include="iron-flex iron-flex-factors gl-size gl-color">
        .header {
            padding: 10px 0px 10px 10px;
            background-color: var(--paper-grey-100);
            color: var(--paper-grey-600);
        }

        .ss {
            color: red;
            border: 1px solid #000;
        }

        paper-icon-item {
            cursor: pointer;
        }

        .sublist paper-item {
            /*padding-left: 30px;*/
        }

        .cml:first-of-type {
            /*margin-left: 60px;*/
            text-align: left;
            /*color: red;*/
        }

        .cml:not(:first-of-type) {
            text-align: right;
            /*color: blue;*/
        }

        .headLabel {
            text-align: left;
            margin-left: 10%;
            /*color: red;*/
            font-size: var(--font-size-h4);
        }

        .headLabel:not(:first-of-type) {
            margin-left: 0px;
            text-align: right;
            padding-right: 25px;
            /*color: blue;*/
        }

        .subTitle {
            /*margin-left: 60px;*/
            /*padding-right: -60px;*/
        }

        .paper-menu-lv1 {
            --paper-menu-selected-item: {
                font-weight: normal;
            }
            ;
        }

        .paper-menu-lv2 {
            --paper-menu-selected-item: {
                font-weight: normal;
            }
            ;
        }

        .paper-icon-item {
            --paper-icon-item: {
                border-bottom: 1px solid #ccc;
            }
        }
    </style>

    <template>
      <data-promise select-data="{{datas}}"></data-promise>
    <div class="horizontal-section">
      <div class="header layout horizontal">
          <div class="flex-2 headLabel">ชื่อสัญญา</div>
          <div class="flex headLabel">ทั้งหมด(ตัน)</div>
          <div class="flex headLabel">ส่งแล้ว(ตัน)</div>
          <div class="flex headLabel">คงเหลือ(ตัน)</div>
      </div>
      <paper-menu attr-for-item-title="label" multi style="padding-top:0px" class="paper-menu-lv1">
          <paper-icon-item class="paper-icon-item" on-tap="_getBind" on-dblclick="_getBind" level="primary">
            <paper-icon-button on-tap="_toggleSub" data-sub="sub-1" icon="chevron-right" item-icon></paper-icon-button>
              <div class="flex-2 cml">
                {{datas.promiseName}}
              </div>
              <div class="flex cml">
                1,000,000
              </div>
              <div class="flex cml">
                0
              </div>
              <div class="flex cml">
                500,000
              </div>
          </paper-icon-item>
          <paper-submenu id="sub-1">
            <paper-menu class="menu-content sublist paper-menu-lv2" style="padding:0px;" selected="100">
              <paper-item disabled>
                  <div class="flex">
                    Confirmation Letter
                  </div>
              </paper-item>

                <paper-icon-item on-tap="_getBind" on-dblclick="_getBind" level="secondary" index="0">
                    <div class="flex-2 cml subTitle">
                      Confirmation Letter No.1
                    </div>
                    <div class="flex cml subTitle">
                      100,000
                    </div>
                    <div class="flex cml subTitle">
                      0
                    </div>
                    <div class="flex cml subTitle">
                      100,000
                    </div>
                </paper-icon-item>

              <!--hotwork-->


              <template is="dom-if" if="{{showListConfirmation}}">
                <grid-confirmation on-tap="_getBind" level="secondary" index="1"></grid-confirmation>
              </template>
    <paper-button raised on-tap="showList" data="confirmation" style="margin-left:70px" class="gl-btn-success gl-small">+ Create</paper-button>


    </paper-menu>

    <!-- จบอันแรก  -->
    <!-- อันที่2 -->
    <paper-menu class="menu-content sublist paper-menu-lv2" style="padding:0px;" selected="100">
        <paper-item disabled>
            <!-- Head secondary -->
            <div class="flex-9">
                งวดการส่งมอบ
            </div>
        </paper-item>
        <paper-icon-item on-tap="_getBind" on-dblclick="_getBind" level="third" index="0">
            <div class="flex-2 cml subTitle">
                งวดที่ 1
            </div>
            <div class="flex cml subTitle">
                100000
            </div>
            <div class="flex cml subTitle">
                0
            </div>
            <div class="flex cml subTitle">
                100000
            </div>
        </paper-icon-item>
        <!--hotwork-->

        <template is="dom-if" if="{{showListPeriod}}">
                <grid-period on-tap="_getBind" level="third" index="1"></grid-period>
              </template>
        <paper-button raised on-tap="showList" data="period" style="margin-left:70px" class="gl-btn-success gl-small">+ Create</paper-button>


    </paper-menu>
    </paper-submenu>

    </paper-menu>
    </div>
    </template>

    <script>
        Polymer({
            is: 'nx-grid',
            behaviors: [Polymer.Templatizer, gl.behavior.core],
            properties: {
                seleted: {
                    type: Object,
                    notify: true
                },
                config: {
                    type: Object
                }
            },
            _toggleSub: function(e) {
                this.$$('#sub-1').toggle();
                if (e.target.icon == 'expand-more') {
                    e.currentTarget.icon = 'chevron-right';
                } else {
                    e.currentTarget.icon = 'expand-more';
                    //Polymer.dom(this.root).querySelectorAll('.sublist')[e.currentTarget.index].select(0);
                }
            },
            _getBind: function(e) {
                if (e.target.is != "paper-icon-button") {
                    this.fire('nx-grid-' + e.type, {
                        data: e.currentTarget.data,
                        level: e.currentTarget.getAttribute('level'),
                        index: e.currentTarget.getAttribute('index')
                    });
                }
            },

            showList: function(e) {
                if (e.target.getAttribute('data') == "period") {
                    this.showListPeriod = 1;
                } else {
                    this.showListConfirmation = 1;
                }

            }
        });
    </script>
</dom-module>
