<dom-module id="db-gtog">
    <script>
    Polymer({
      is:'db-gtog',
      properties:{
        dataObj:{
          type:Object,
          value:{ id:1234,name:'khaengSai' }
        }
      },
      behaviors: [
        gl.behavior.core
      ],
      created:function(){
        this.glQuery('db-gtog',this);
        this.db = new PouchDB('gtog');
        //this.updateDoc();
        this.fetchDoc();
      },
      createDoc:function(){
        this.db.post({
            // promiseName:'NFA ประเทศฟิลิปินส์',
            // promiseNo:'NFA ประเทศฟิลิปินส์',
            // totalRice:'3,000,000',
            // sendRice:'1,000,000',
            // balanceRice:'2,000,000',
            // date:'21/9/58',
            // price:'fob',
            // customerDetail:'COFCO International (Beijing) LTD,. 17F, COFCO Fortune Plaza, No. 8 Chao Yang Men, South Street, Chao Yang District, Beijing, 100020, P.R. Chian Fax: 010-5863 6311',
            // detail:'ต้องการการข้าวเพิ่มอีก 1,000,000 ล้านตัน'

            rice:[]
        }).then(function (response) {
            console.log('ok');
        }).catch(function (err) {
            console.log(err);
        });
      },
      fetchDoc:function(){
        this.db.get('09657C04-F3EA-8410-999B-020BBBC4430F').then(function (doc) {
            console.log(doc);
        }).catch(function (err) {
            console.log(err);
        });       
      },
      updateDoc:function(){
          this.db.bulkDocs([
            {
                rice  : [
                    {id:'xd',test:'1'},
                    {id:'dx',test:'2'}
                ],
                _id    : "09657C04-F3EA-8410-999B-020BBBC4430F",
                _rev   : "2-82f30c2496de41d0d4d1e455e1a65f3d"
            }
        ]).then(function (result) {

        }).catch(function (err) {
            console.log(err);
        });
      }

    });
  </script>
</dom-module>