
<link rel="import" href="./../../components/data-manage-behavior.html">

<dom-module id="money-list">
    <template>
    <style is="custom-style" include="gl-table">
    *{
        font-family: 'CSChatThaiUI', sans-serif !important;
        -webkit-font-smoothing: antialiased;
    }
    table{
        border: 1px solid #ddd;
    }
    .gl-table-default > thead > tr > th{
        text-align: right;
        white-space: nowrap;
    }
    .gl-table-default > tbody > tr > td{
        text-align: right;
        white-space: nowrap;
    }
    .center{
        text-align: center !important;
    }
    table > tbody > tr{
        cursor:pointer;
    }
    </style>
   
    <table class="gl-table-default">
        <thead class="table-head">
            <tr>
                <th rowspan="2">ที่</th>
                <th class="center" rowspan="2">ว/ด/ป ที่รับเงิน</th>
                <th class="center" rowspan="2">เลขที่ใบเสร็จ</th>
                <th class="center" rowspan="2">บริษัท</th>
                <th class="center" colspan="2">EC</th>
                <th rowspan="2">ปริมาณ (ตัน)</th>
                <th rowspan="2">ราคา/ตัน (*2500)</th>
                <th class="center" colspan="4">เช็คค่าธรรมเนียม</th>
                <th rowspan="2">จำนวนเงิน</th>
                <th class="center" rowspan="2">หมายเหตุ</th>
                <th class="center" rowspan="2">ออกใบเสร็จ</th>
            </tr>
            <tr>
                <th class="center">เลขที่</th>
                <th class="center">วันที่</th>
                <th>ธนาคาร</th>
                <th>สาขา</th>
                <th class="center">เลขที่</th>
                <th class="center">วันที่</th>
            </tr>
        </thead>
        <template is="dom-if" if="{{dataStat}}">
            <tbody>
                <tr>
                    <td colspan="15">ไม่พบข้อมูล</td>
                </tr>
            </tbody>
        </template>
        <tbody class="table-body">
            <template is="dom-repeat" items="[[data]]">
                <tr>
                    <td>[[num(index)]]</td>
                    <td class="center">[[item.pay_date]]</td>
                    <td class="center">[[item.req_number]]</td>
                    <td class="center">[[item.exporter_name]]</td>
                    <td class="center">[[item.ec_number]]</td>
                    <td class="center">[[item.req_date]]</td>
                    <td>[[item.amount]]</td>
                    <td>[[mathData(item.price,item.amount)]]</td>
                    <td>ธนาคาร</td>
                    <td>สาขา</td>
                    <td class="center">[[item.check_number]]</td>
                    <td class="center">[[item.pay_date]]</td>
                    <td>[[item.price]]</td>
                    <td class="center">[[item.note]]</td>
                    <td class="center"><iron-icon icon="icons:content-paste" on-tap="downloadFile"></iron-icon></td>
                </tr>
            </template>
        </tbody>
    </table>

    </template>
    <script>
        Polymer({
            is: 'money-list',
            behaviors:[DataManageBehavior],
            observers:['checkData(data)'],
            _selectData: function(e) {
                console.log("pageReport:: "+e.currentTarget.data2);
                this.fire("data-select",e.currentTarget.data2);
            },
            num:function(index){
                return index+1;
            },
            mathData:function(price,amount){
                return (price/amount)*2500;
            },
            downloadFile:function(){
               window.open('/report/receipt.pdf','_blank');
             }
        });
    </script>
</dom-module>
