
<link rel="import" href="./../../components/data-manage-behavior.html">

<dom-module id="money-list">
    <template>
    <style is="custom-style" include="gl-table">
    *{
        font-family: 'CSChatThaiUI', sans-serif !important;
        -webkit-font-smoothing: antialiased;
    }
    table{
        border: 1px solid #ddd;
    }
    table > thead > tr > th{
        text-align: center !important;
        white-space: nowrap;
    }
    table > tbody > tr > td{
        text-align: center !important;
        white-space: nowrap;
    }
    table > tbody > tr{
        cursor:pointer;
    }
    </style>
   
    <table class="gl-table-default">
        <thead class="table-head">
            <tr>
                <th rowspan="2">ที่</th>
                <th rowspan="2">ว/ด/ป ที่รับเงิน</th>
                <th rowspan="2">เลขที่ใบเสร็จ</th>
                <th rowspan="2">บริษัท</th>
                <th colspan="2">EC</th>
                <th rowspan="2">ปริมาณ (ตัน)</th>
                <th rowspan="2">ราคา/ตัน (*2500)</th>
                <th colspan="4">เช็คค่าธรรมเนียม</th>
                <th rowspan="2">จำนวนเงิน</th>
                <th rowspan="2">หมายเหตุ</th>
                <th rowspan="2">ออกใบเสร็จ</th>
            </tr>
            <tr>
                <th>เลขที่</th>
                <th>วันที่</th>
                <th>ธนาคาร</th>
                <th>สาขา</th>
                <th>เลขที่</th>
                <th>วันที่</th>
            </tr>
        </thead>
        <template is="dom-if" if="{{dataStat}}">
            <tbody>
                <tr>
                    <td style="text-align: left" colspan="15">ไม่พบข้อมูล</td>
                </tr>
            </tbody>
        </template>
        <tbody class="table-body">
            <template is="dom-repeat" items="[[data]]">
                <tr>
                    <td></td>
                    <td><iron-icon icon="icons:content-paste" on-tap="downloadFile"></iron-icon></td>
                </tr>
            </template>
        </tbody>
    </table>

    </template>
    <script>
        Polymer({
            is: 'money-list',
            behaviors:[DataManageBehavior],
            observers:['checkData(data)'],
            _selectData: function(e) {
                console.log("pageReport:: "+e.currentTarget.data2);
                this.fire("data-select",e.currentTarget.data2);
            }
            ,
            downloadFile:function(){
               window.open('/report/receipt.pdf','_blank');
             }
        });
    </script>
</dom-module>
