
<link rel="import" href="./../../components/month-behavior.html">
<dom-module id="money-panel">
    <template>
        <style is="custom-style" include="gl-table gl-panel gl-color">
            * {
                font-family: 'rsuregular', sans-serif;
                -webkit-font-smoothing: antialiased;
            }
            paper-item{
                font-family: 'CSChatThaiUI', sans-serif !important;
                -webkit-font-smoothing: antialiased;
            }
            .box {
                martin:auto;
                text-align:center;
            }
            .tableM {
                padding-top:25px;
                font-weight: bold;
            }
            tableB {
                margin-top:1px;
            }
            .container{
                padding: 0px 30px 10px 30px;
            }
             .flex-end-justified {
                @apply(--layout-horizontal);
                @apply(--layout-end-justified);
            }
             .flex-equal-justified {
                @apply(--layout-horizontal);
                @apply(--layout-justified);
            }
            .content{
                padding: 10px;
            }
            gl-grid-col>div{
                padding: 20px 10px 0px 10px;
                font-size: 18px;
            }
        </style>
        <p>HELLO</p>
    </template>
    <script>
        Polymer({
            is: 'money-panel'
        });
    </script>
</dom-module>
