<!--<link rel="import" href="/bower_components/polymer/polymer.html">-->


<dom-module id="re-port">
    <template>
      <style is="custom-style">
          table {
                border-collapse: collapse;
                font-size: 16px;
                width: 100%;
            }

            th, td {
                text-align: center;
                padding: 8px;
                white-space: nowrap;
            }

            tr:nth-child(even){background-color: #f2f2f2}

            th {
                background-color: #4CAF50;
                color: white;
            }
      </style>

          <table>
              <tr>
                  <th> ผู้ส่งมอบ </th>
                  <th>จำนวน(ต้น)</th>
                  <th>จำนวน(USD)</th>
                  <th>จำนวน(บาท)</th>
                  <th>ค่าธรรมเนียม(บาท)</th>
                  <th>หักค่าธรรมเนียมคงเหลือ(บาท)</th>
                  <th>หัก ภาษี ณ ที่จ่าย</th>
                  <th>จำนวนเงินคงเหลือ (บาท)</th>
                  <th>เลขที่เช็ค</th>
                  <th>รับเช็คแล้ว</th>
              </tr>
              <template is="dom-repeat" items="[[data]]">
                <tr>
                    <td>[[item.nameCompany]]</td>
                    <td>[[item.sumTon]]</td>
                    <td>[[item.sumUsd]]</td>
                    <td>[[item.sumBath]]</td>
                    <td><input type="text" value="[[item.feeBath]]"></td>
                    <td><input type="text" value="[[item.feeBalanceBath]]"></td>
                    <td><input type="text" value="[[item.deductionOfTax]]"></td>
                    <td><input type="text" value="[[item.BalanceBath]]"></td>
                    <td><input type="text" value="[[item.checkNo]]"></td>
                    <td><input type="checkbox" checked="[[item.gotCheck]]"> รับเช็คแล้ว วันที่ [[item.date]]</td>

                </tr>
              </template>
          </table>
    </template>
    <script>
        Polymer({
           is: 're-port'
        });
    </script>
</dom-module>
