<link rel="import" href="../../../components/dataBehavior.html">
<link rel="import" href="register-member.html">
<dom-module id="register-pageRegister">
<style include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .title {
        text-align: center;
        font-size: var(--font-size-h4);
        font-family: 'rsubold', sans-serif;
        -webkit-font-smoothing: antialiased;
        margin: 20px 0px 20px 0px;
    }
    .searchBox{
      padding: 5px;
      background-color: var(--gl-gray-lighter-color);
    }
    .searchBorder{
      border: 1px solid var(--gl-gray-light-color);
      margin: 15px;
      border-radius: 3px
    }
</style>
  <template>

    <gl-form-panel set-border="0px">

      <!-- <gl-form-panel-head set-padding="0px 0px 0px 0px"> -->
        <!-- <div id="removePen" hidden>
          <paper-icon-button icon="create" on-tap="editChange"></paper-icon-button>
        </div> -->
        <div id="changTitle" class="title" hidden>เพิ่มทะเบียนผู้ส่งออกข้าวไปต่างประเทศ</div>
        <div id="changTitle2" class="title" hidden>ขึ้นทะเบียนผู้ส่งออกข้าวส่งออกไปจำหน่ายต่างประเทศ</div>
            <div class="searchBox searchBorder">
              <gl-grid-row width="{{getWidth}}">
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
                <gl-combo-box style="margin-left:2em;" id="trader_id" label="ชื่อบริษัท" item-label-path="seller_name_th"
                    item-value-path="trader_id" value="{{dataTrader}}" on-value-changed="getTrader"></gl-combo-box>
                </gl-grid-col>
                <!-- <paper-button class="gl-btn-info" raised on-tap="_search">ค้นหา</paper-button> -->
              </gl-grid-row>
            </div>

      <!-- </gl-form-panel-head> -->
              <div id="formData" class="bd" hidden>
                  <gl-form-panel>
                      <iron-pages selected="{{pages}}">
                          <register-member data={{trader}}></register-member>
                      </iron-pages>
                  </gl-form-panel>
              </div>

              <div class="horizontal end-justified layout">
                <paper-button id="removeButtomC" class="gl-btn-danger" on-tap="_cancel" raised title="ยกเลิกการสมัคร">ยกเลิก</paper-button>
                <paper-button id="removeButtom" class="gl-btn-success" on-tap="_saveData" raised title="บันทึกข้อมูลสมาชิก">บันทึก</paper-button>
              </div>

    </gl-form-panel>
  </template>
  <script>
    Polymer({
      is: "register-pageRegister",
      behaviors: [dataBehavior],
      properties: {
        pages:{
            type:Number,
            notify:true,
            value: 0
        },
        dataTrader:{
          type:String,
          observer:'_search'
        },
        trader:{
          type:Object
        }
      },
      listeners:{
        'refresh-exporterTrader':'getExporterTrader'
      },
      ready: function() {
        this.$$('#changTitle').removeAttribute("hidden");
        this.$$('#removeButtom').setAttribute("hidden", "hidden");
        this.$$('#removeButtomC').setAttribute("hidden", "hidden");
      },
      getTrader:function (e) {
        // console.log(e.detail.value);
        this.dataTrader = e.detail.value;
      },
      _search:function(val){
        if(val!=""){
          // console.log(this.selectedItem);
          this.read('./external/exporter?trader_id='+this.dataTrader,(data)=>{
            data.map((traders)=>{
              this.trader = traders;
            })
            this.$$('#formData').removeAttribute("hidden");
            this.$$('#removeButtom').removeAttribute("hidden");
            this.$$('#removeButtomC').removeAttribute("hidden");
            this.$$('#changTitle').setAttribute("hidden", "hidden");
            this.$$('#changTitle2').removeAttribute("hidden");
            // console.log(this.trader);
          });
          }
          else {
            this.$$('#formData').setAttribute("hidden", "hidden");
            this.$$('#removeButtom').setAttribute("hidden", "hidden");
            this.$$('#removeButtomC').setAttribute("hidden", "hidden");
            this.$$('#changTitle').removeAttribute("hidden");
            this.$$('#changTitle2').setAttribute("hidden", "hidden");
          }
      },
      _cancel:function() {
        this.$$('#removeButtom').setAttribute("hidden", "hidden");
        this.$$('#removeButtomC').setAttribute("hidden", "hidden");
        this.$$('#formData').setAttribute("hidden", "hidden");
        this.$$('#changTitle').removeAttribute("hidden");
        this.$$('#changTitle2').setAttribute("hidden", "hidden");
        this.dataTrader = "";
      },
      _saveData:function(e) {
        // console.log(this.trader);
        this.fire('toast',{status:'dialog',
        text:'คุณต้องการจะยืนยันลงทะเบียนใช่หรือไม่ ?',
        confirmed : this._confirmToast.bind(this),
        datas: {
          exporter_date_update:new Date,
          trader_id:this.trader.trader_id
        }
      });
      },
      _confirmToast:function(result,detail){
        if(result == true){
          this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
          this.insert('./external/exporter/insert', detail.datas, () => {
            this.$$('#removeButtom').setAttribute("hidden", "hidden");
            this.$$('#removeButtomC').setAttribute("hidden", "hidden");
            this.$$('#formData').setAttribute("hidden", "hidden");
            this.$$('#changTitle').removeAttribute("hidden");
            this.$$('#changTitle2').setAttribute("hidden", "hidden");
            this.dataTrader = "";
            this.fire('refresh-exporter');
            this.fire('refresh-exporterTrader');
            this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
              console.log('success');
            }});
           });
        }
      },
      attached: function() {
        this.getExporterTrader();
      },
      getExporterTrader:function() {
        this.trader_id = this.trader_id || this.$.trader_id;
        // console.log(this.seller_id);
        this.read('./external/exporter/?exporter_status=false',(data)=>{
          data.map((type)=>{
            type.seller_name_th = type.seller_name_th+" ("+type.type_lic_name+")";
          });
          this.trader_id.items = data;
          // console.log(this.seller_id.items);
        });
      }

    });
  </script>
</dom-module>
