<link rel="import" href="../../../../../bower_components/chart-elements/chart-bar.html">
<link rel="import" href="../controller/chart-controller-behavior.html">
<dom-module id="chart-bar-g2g">
  <style>
    :host {
      --paper-card:{
            width: 580px;
            height: 300px;
            margin: 10px 10px 10px 10px;
            padding: 5px;
      }
    }
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
  </style>
  <template>
    <paper-card class="statistic" heading="{{chartName}}" alt="{{chartName}}">
      <!-- <chart-bar id="chartBar" data="[[dataBarChart]]" width="500" height="250"></chart-bar> -->
    </paper-card>
  </template>
  <script>
    Polymer({
      is: "chart-bar-g2g",
      behaviors:[chartControllerBehavior],
      attached: function() {
        // this.chartBar();
      },
    });
  </script>
</dom-module>
