<dom-module id="confirm-detail">
  <style is="custom-style" include="iron-flex iron-flex-alignment gl-styles">
  *{
    font-family: 'CSChatThaiUI', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
    .top {
        margin-top: 15px;
        font-size: var(--font-size-h5);
    }
    paper-button {
        margin-top: 10px;
    }
    gl-form-textarea {
        word-break: break-all;
    }
    paper-icon-button {
        margin-top: 10px;
    }
    paper-icon-button.crud {
    margin: 5px 5px 5px 5px;
   }
   paper-icon-button.crud:hover {
     background-color: var(--paper-grey-200);
     border-radius: 5px;
     box-shadow: inset 0 0 3px 3px rgba(0,0,0,.2);
   }
   paper-button.btnInTable {
      --paper-button:{
       margin-top: 0px;
        height: 30px;
      }

    }
  gl-combo-box.InTable{
    margin-top: -1.26em;
  }
  .numberBack{
    text-align: right;
  }
  .btnCenter{
    text-align: center;

  }
  </style>
  <template>
    <div class="horizontal end-justified layout">
          <template is="dom-if" if="[[!_isViewing(data.cl_status)]]">
            <paper-icon-button id="editConfirm" class="crud" icon="create" raised on-tap="editInput" ></paper-icon-button>
            <paper-tooltip for="editConfirm" offset="0">Edit Confirmmation Letter</paper-tooltip>
            <paper-icon-button id="deleteConfirm" class="crud" icon="delete" raised on-tap="deleteConfirm" ></paper-icon-button>
            <paper-tooltip for="deleteConfirm" offset="0">Delete Confirmmation Letter</paper-tooltip>
          </template>
    </div>
    <!-- disabled="[[checkInput]]" -->

    <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input class="required" required    disabled="[[isInputDisabled]]" error-message="กรุณาใส่ชื่อเลขจดหมายคอนเฟริม" required label="ลำดับ" placeholder="ใส่รายละเอียด" value="{{data.cl_no}}"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input class="required" required   disabled="[[isInputDisabled]]" error-message="กรุณาใส่ชื่อจดหมายคอนเฟริม" required label="ชื่อ" placeholder="ใส่รายละเอียด" value="{{data.cl_name}}"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <vaadin-date-picker class="required" required    disabled="[[isInputDisabled]]" label="วันที่" value="{{data.cl_date}}" name="cl_date"></vaadin-date-picker>
          </gl-grid-col>
      </gl-grid-row>
      <div class="horizontal end-justified layout">
          <paper-button raised on-tap="addNewTypeRice" class="gl-btn-primary" hidden="[[_isViewing(isInputDisabled)]]">เพิ่มชนิดข้าว</paper-button>
      </div>
    <div class="top ">รายละเอียดของราคาข้าว</div>


    <template is="dom-repeat" items="[[data.cl_type_rice]]">
        <div class="bg">
          <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
                 <gl-form-panel-body label="" set-padding="10px" set-border="1px">
          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,7]]">
              <gl-combo-box id="riceType" class="required" required  disabled="[[isInputDisabled]]" error-message="กรุณาเลือกชนิดข้าว" placeholder="เลือกชนิดข้าว" name="type_rice_name" label="ชนิดข้าว"
            item-label-path="type_rice_name_th"   item-value-path="type_rice_id" value="{{item.type_rice_id}}" items="{{dataForSelect.contract_type_rice}}" >
              </gl-combo-box >
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
              [[_obCalcWeight(item.*)]]
              [[changeString2Num(item.*,'type_rice_quantity')]]
              <gl-form-input class="required" required  disabled="[[isInputDisabled]]" label="จำนวน (ตัน)" placeholder="กรุณาใส่จำนวน" auto-validate error-message="กรุณาใส่ราคา" required
                value="{{item.type_rice_quantity}}"   name="type_rice_quantity"></gl-form-input>

            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                <paper-button id="[[index]]" raised class="btnInTable gl-btn-danger" on-tap="deleteRiceType" style="margin-top:1em" hidden="[[_isViewing(isInputDisabled)]]">ลบชนิดข้าว</paper-button>
            </gl-grid-col>
          </gl-grid-row>
          </gl-form-panel-body>
<gl-form-panel-body label="" set-padding="10px" set-border="1px">
          <table class="gl-table-default" id="[[index]]">
            <thead class="table-head">
            <tr>
              <th style="text-align: center; width: 30%">ชนิดบรรจุภัณฑ์ <br> (กก./กระสอบ)</th>
              <th style="text-align: center; width: 20%">ราคา<br> (USD/ตัน)</th>
              <th style="text-align: center; width: 20%">น้ำหนักกระสอบ <br>(กรัม)</th>
              <th style="text-align: center; width: 30%">
                <template is="dom-if" if="[[!_isViewing(isInputDisabled)]]">
                  จัดการ
                </template>
                </th>
            </tr>
          </thead>
          <tbody class="table-body">
            <template is="dom-repeat" as="packageitem" items="[[item.package]]">
              <tr >
                <td>
                  <gl-combo-box id="riceType" class="required InTable" required  disabled="[[isInputDisabled]]" error-message="กรุณาเลือกชนิดขนาดบรรจุภัณฑ์" placeholder="เลือกประเภท" name="package_name"
                item-label-path="package_name"   item-value-path="package_id" value="{{packageitem.package_id}}" items="{{dataForSelect.package}}" >
                  </gl-combo-box >
                </td>
                <td > [[changeString2Num(packageitem.*,'price_per_ton')]]
                  <gl-form-input class="required numberBack" required disabled="[[isInputDisabled]]"  placeholder="กรุณาใส่จำนวน"  error-message="กรุณาใส่ราคา" required value="{{packageitem.price_per_ton}}" name="price_per_ton" no-label-float></gl-form-input>
                </td>
                <td >
                  <gl-form-input class="numberBack" disabled  value="[[_obChangePrice(packageitem.package_id,dataForSelect.package)]]" name="package_weight_bag"  no-label-float></gl-form-input>
                </td>
                <td style="text-align:center;">
                      <paper-button id="[[index]]" raised class="btnInTable gl-btn-danger" on-tap="delePackage" hidden="[[_isViewing(isInputDisabled)]]">ลบขนาดบรรจุภัณฑ์</paper-button>
                </td>
              </tr>
            </template>
            </tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td style="text-align:center;">
                    <paper-button  raised id="[[index]]" class="btnInTable gl-btn-primary" on-tap="addPackage" hidden="[[_isViewing(isInputDisabled)]]">เพิ่มขนาดบรรจุภัณฑ์</paper-button>
                  </td>
                </tr>
          </table>

        </gl-form-panel-body>
        </gl-form-panel>
          </div>
      </template>
    <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
          <gl-combo-box id="package" class="required" required  disabled="[[isInputDisabled]]" label="วิธีการชำระเงิน" error-message="กรุณาเลือกรูปแบบการชำระเงิน" placeholder="เลือกประเภท" name="package_name"
        item-label-path="inct_name"   item-value-path="inct_id" value="{{data.inct_id}}" items="{{dataForSelect.incoterms}}" >
          </gl-combo-box >
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">

            <gl-form-input class="numberBack" disabled  label="น้ำหนักรวมทั้งหมด (ตัน)" placeholder="0" value="{{cl_total_quantity}}" name="cl_total_quantity"></gl-form-input>
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,7]]">
            <gl-form-textarea class="required" required  disabled="[[isInputDisabled]]" label="รายละเอียดเพิ่มเติม" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="{{data.cl_quality}}" name="cl_quality"></gl-form-textarea>
        </gl-grid-col>
    </gl-grid-row>


    <div class="horizontal end-justified layout">
        <paper-button class="gl-btn-danger" raised on-tap="backPage">ย้อนกลับ</paper-button>
        <template is="dom-if" if="[[!_isViewing(isInputDisabled)]]">
        <paper-button class="gl-btn-primary" on-tap="insertConfirm" raised hidden="[[_isViewing(isViewSeleted)]]">เพิ่มสัญญา</paper-button>
        </template>
        <template is="dom-if" if="[[_isViewing(isInputDisabled)]]">
        <paper-button class="gl-btn-info" raised on-tap="confirmConfirm" hidden="[[_isViewing(data.cl_status)]]">ยืนยันสัญญา</paper-button>
        </template>
         <template is="dom-if" if="[[_isViewing(isViewSeleted)]]">
        <paper-button class="gl-btn-success" on-tap="saveConfirm" raised hidden="[[_isViewing(isInputDisabled)]]">บันทึก</paper-button>
        </template>
    </div>
  </template>
  <script>
    Polymer({
      is: "confirm-detail",
      behaviors: [
          g2gModelBehavior,
          g2gCongtroller
      ],
      properties: {
        dataForSelect:{
          type: Object,
        },
        data: {
          type: Object,
          value:{cl_type_rice:[{package:[{package_id: '', price_per_ton: 0,}]}]}
        },
        cl_total_quantity: {
          type: Number,
          value:0
        },
      },
      deleteRiceType:function (e) {
        this.splice('data.cl_type_rice', e.currentTarget.id, 1);
      },
      delePackage: function(e) {
        let table = Polymer.dom(Polymer.dom(Polymer.dom(Polymer.dom(Polymer.dom(e.currentTarget).parentNode).parentNode).parentNode).parentNode);
          this.splice('data.cl_type_rice.'+[table.node.id]+'.package', e.target.id, 1);
      },
      _obCalcWeight:function (data) {
        let total = 0;
        let datas = this.data.cl_type_rice;
          for(index in datas){
                total += parseFloat(datas[index].type_rice_quantity);
          }
        this.cl_total_quantity = total;
      },
      addNewTypeRice:function () {
        this.push('data.cl_type_rice', {
                  type_rice_id: '',
                  type_rice_quantity: 0,
                  package:
                    [
                      {
                        package_id: '',
                        price_per_ton: 0,
                      }
                    ]
                });
      },
      addPackage:function (e) {
        let id = e.currentTarget.id;
        let data = {
                      package_id: '',
                      price_per_ton: 0,
                      package_weight_bag: 0,
                    };
        this.push('data.cl_type_rice.'+[id]+'.package', data);
      },
      _obChangePrice:function(data,list){
        let result = "";
        if (list.package_id != '') {
          list.map((packages,index)=>{
            if(packages.package_id==data){
                result = packages.package_weight_bag;
            }
          });
          return result;
        }
      },
      backPage:function () {
        if (this.isInputDisabled == false) {
          this.editInput();
        }
          this.fire('back-page-confirm',{detail:'_back-page-confirm'});
      },
      insertConfirm:function () {
        this.data.cl_status=false;
        this._clearnDataConfirm(this.data,(data)=>{
            data.contract_id=this.dataForSelect.contract_id;
            this.fire('toast',{status:'load'}); //คำสั่งสำหรับเปิด toast load
            this.insert('./g2g/confirm/insert',data, () => {
                this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
                 callback:()=>{
                    this.fire('get-list-confirm',{contractId:data.contract_id});
                    this.backPage();
                  }
                });
            });
        });
      },
      saveConfirm:function () {
        this._clearnDataConfirm(this.data,(data)=>{
            data.contract_id=this.dataForSelect.contract_id;
            data.id=this.data.cl_id;
            console.log(data);
            this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
                status:'dialog',
                text:'ต้องการแก้ข้อมูลใช่หรือไม่ ?',
                confirmed:this._saveData, //function ที่ใช้รับค่า ปุ่ม
                el: this, // compontents
                data:data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
            })
        });
      },
      _saveData:function(result,detail){
         if (result == true) {
           detail.el.update('./g2g/confirm/update',detail.data, () => {
               detail.el.fire('refresh-contract',{detail:'refresh-contract'});
               detail.el.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
                   callback:function(){
                    //  detail.el.editInput();
                    detail.el.editInput();
                    detail.el.fire('get-confirm-detail',{clId:detail.data.id});
                    // detail.el.data = detail.data;
                    detail.el.fire('get-list-confirm',{contractId:detail.data.contract_id});
                  }
                });
            });
          }
     },
     confirmConfirm:function () {
       this.editInput()
       this._clearnDataConfirm(this.data,(data)=>{
           data.contract_id=this.dataForSelect.contract_id;
           data.id = this.data.cl_id;
           data.cl_status=this.approve(data.cl_status);
           this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
               status:'dialog',
               text:'ต้องการยื่นยันข้อมูลใช่หรือไม่ ?',
               confirmed:this._saveData, //function ที่ใช้รับค่า ปุ่ม
               el: this, // compontents
               data:data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
           })
       });
     },
     deleteConfirm:function () {
       this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
           status:'dialog',
           text:'ต้องการลบข้อมูลใช่หรือไม่ ?',
           confirmed:this._deleteDataConfirm, //function ที่ใช้รับค่า ปุ่ม
           el: this, // compontents
           data:this.data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
       })
     },
     _deleteDataConfirm:function(result,detail){
       if (result == true) {
         detail.el.delete('./g2g/confirm/delete/id/',detail.data.cl_id, () => {
           detail.el.fire('get-list-confirm',{contractId:detail.data.contract_id});
           detail.el.backPage();
         });
       }
    },
      _clearnDataConfirm:function (data,callback) {
        let el = Polymer.dom(this.root).querySelectorAll('.required');
        let stat = el.map((el)=> el.validate());
          if (stat.every(elem => elem == true)) {
            let {cl_date,cl_name,cl_no,cl_quality,inct_id,cl_status} = data;
            let news = {cl_date,cl_name,cl_no,cl_quality,inct_id,cl_status};
            news.cl_type_rice=[];
            news.cl_date= new Date(news.cl_date);
            data.cl_type_rice.map((cl_type_rice,index)=>{
              news.cl_type_rice.push({type_rice_id:cl_type_rice.type_rice_id,
                                      type_rice_quantity:cl_type_rice.type_rice_quantity,
                                      package:[]});
              cl_type_rice.package.map((packages)=>{
                  news.cl_type_rice[index].package.push({
                                      package_id :packages.package_id,
                                      price_per_ton :packages.price_per_ton}
                            );
              });
            });
          el.map((el)=> {el.reset()})
          callback(news);
        }
      },
    });
  </script>
</dom-module>
