<link rel="import" href="list-of-bill-sm.html">
<link rel="import" href="bill-detail-sm.html">
<link rel="import" href="detail-exporter-ship.html">
<dom-module id="shipment-detail">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
      :host{
        --paper-item:{
          border-bottom: 1px solid #ccc;
        }
      }
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .table-head > tr > th:nth-child(1),
    paper-item > div:nth-child(1) {
      width: 5%;
      text-align: center;
    }
    .table-head > tr > th:nth-child(2),
    paper-item > div:nth-child(2) {
      width: 10%;
      text-align: center;
    }
    .table-head > tr > th:nth-child(3),
    paper-item > div:nth-child(3) {
      width: 55%;
      text-align: center;
    }
    .table-head > tr > th:nth-child(4),
    paper-item > div:nth-child(4) {
      width: 30%;
      text-align: center;
    }

  </style>
  <template>
    <div class="horizontal end-justified layout">
      <paper-icon-button id="editConfirm" class="crud" icon="create" raised on-tap="editShipment" ></paper-icon-button>
      <paper-tooltip for="editConfirm" offset="0">Edit Shipment</paper-tooltip>
      <paper-icon-button id="deleteConfirm" class="crud" icon="delete" raised on-tap="deleteShipment"></paper-icon-button>
      <paper-tooltip for="deleteConfirm" offset="0">Delete Shipment</paper-tooltip>
     </div>

     <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,3]]">
        <gl-form-input class="required insetShipment" label="Shipment Id" always-float-label placeholder="ลำดับ" value="{{data.shm_no}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,8]]">
        <gl-form-input class="required insetShipment" label="Shipment Name" always-float-label placeholder="ชื่องวดการส่งมอบ" value="{{data.shm_name}}"></gl-form-input>
      </gl-grid-col>
    </gl-grid-row>
    <gl-grid-row width="{{getWidth}}">
     <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,8]]">
       <gl-combo-box class="required insetShipment" required id="confirmLetterTrue" always-float-label label="กรุณาเลือกชื่อสัญญา" placeholder="ชื่อสัญญา" value="{{data.cl_id}}" >
     </gl-grid-col>
     </gl-grid-row>
     <div class="horizontal end-justified layout">[[insertData]]
       <paper-button class="gl-btn-danger" on-tap="backPageShipment" raised hidden="[[_isViewing(insertData)]]">ยกเลิก--55</paper-button>
       <paper-button  class="gl-btn-success" raised on-tap="editShimpent" hidden="[[!_isViewing(insertData)]]">บันทึก</paper-button>
       <paper-button  class="gl-btn-primary" raised on-tap="addShimpent" hidden="[[_isViewing(insertData)]]">เพิ่ม</paper-button>
     </div>
    <template is="dom-if" if="[[_isViewing(insertData)]]">
      <div class="layout horizontal end-justified">
         <paper-button class="gl-btn-primary" raised on-tap="editBlShm" name="addBl">จัดการ B/l No</paper-button>
         <paper-button  class="gl-btn-primary" raised on-tap="addExporter" name="addShmdt">เพิ่มผู้ส่งออก</paper-button>
      </div>
      <iron-pages selected="[[pageBl]]" attr-for-selected="name">
        <div name="listOfBl">
          <list-of-bill-sm data="[[dataForSelect.blNos]]"></list-of-bill-sm>
        </div>
        <div name="BlDetail">
          <bill-detail-sm data-for-select="[[dataForSelect]]"></bill-detail-sm>
        </div>
        <div name="addExporter">
          <detail-exporter-ship data-for-select="[[dataForSelect]]" bl-nos="[[dataForSelect.blNos]]" ></detail-exporter-ship>
        </div>
      </iron-pages>

      <table class="gl-table-default">
         <thead class="table-head">
             <tr>
               <th></th>
               <th>ลำดับที่</th>
               <th>ผู้ส่งออก</th>
               <th>จำนวนข้าว</th>
             </tr>
         </thead>
     </table>
     <template is="dom-repeat" items="[[data.shipment_detail]]">
       <paper-item>
         <div>
           <paper-icon-button icon="expand-more" on-tap="_toggleSub" aria-controls$="collapse[[item.shm_det_id]]"></paper-icon-button>
         </div>
         <div>
           [[_ObcountIndex(index)]]
         </div>
         <div>
           [[item.seller_name_en]]
         </div>
         <div>
           [[item.shm_det_quantity]]
         </div>
       </paper-item>
       <iron-collapse id="collapse[[item.shm_det_id]]">
         <detail-exporter-ship data-for-select="[[dataForSelect]]"  data="[[item]]" bl-nos="[[dataForSelect.blNos]]" ></detail-exporter-ship>
       </iron-collapse>
     </template>

     <div class="horizontal end-justified layout">
         <paper-button class="gl-btn-danger" raised on-tap="backPageShipment">ย้อนกลับ</paper-button>
         <paper-button class="gl-btn-info" raised on-tap="approveShipment">ยืนยันผู้ส่งออก</paper-button>
     </div>
    </template>

  </template>
  <script>
    Polymer({
      is: "shipment-detail",
      behaviors: [
          g2gCongtroller,
          g2gModelBehavior
      ],
      observers:[
        '_getConfirm(confirmLetter)',
      ],
      listeners:{
        'send-Bl-no':'_lisNerBlNos',
        'add-bl-no':'_lisNerAddBlNo'
      },
      properties: {
        confirmLetterObject: {
          type: Object
        },
        data:{
          type: Object,
          value:{contract_id:'',shm_no:'',  shm_name:'',  cl_id:''}
        },
        dataForSelect:{
          type:Object,
        },
        blNos:{
          type:Array,
          value:[]
        },
        pageBl:{
          type:String,
          value:''
        },
        checkRenderPageShipment:{
          type: Object,
          value:
          {
            contractDetail:false,
            listOfConfirm:false,
            listOfShipments:false
          }
        },
      },
      _lisNerBlNos:function (e) {
        this.push('dataForSelect.blNos', e.detail.detail);
        this.notifyPath('dataForSelect.blNos');
        this.pageBl= 'listOfBl';
        // console.log(this.dataForSelect.blNos);
        // console.log(this.data);
      },
      _lisNerAddBlNo:function () {
        this.pageBl= 'BlDetail';
      },
      editBlShm:function () {
        this.pageBl= 'listOfBl';
      },
      addExporter:function () {
        this.pageBl= 'addExporter';
      },
      _getConfirm:function (confirmLetter) {
        //insert confirm to combo box
        let elements = this.$$('#confirmLetterTrue');
        let confirm = new Array();
        this.confirmLetter.map((el,index)=>{
          confirm.push({ label:'No. '+ el.cl_no+' '+el.cl_name+' ('+el.cl_quality+' ตัน.) '+el.cl_date , value:el.cl_id});
        });
        elements.items = confirm;
      },
      addShimpent:function () {
        // console.log(this.confirmLetter[0].contract_id);
        this.data.contract_id = this.confirmLetter[0].contract_id;
        this._cleanDataInsertShimment(this.data,(data)=>{
          data.shm_status = false;
          this.insert('./g2g/shipment/insert',data, () => {
            this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
             callback:()=>{
                this.fire('get-list-shipment',{contractId:data.contract_id});
                this.backPageShipment();
              }
            });
          });
        });
      },
      editShimpent:function () {
        this._cleanDataInsertShimment(this.data,(data)=>{
          this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
              status:'dialog',
              text:'ต้องการแก้ข้อมูลใช่หรือไม่ ?',
              confirmed:this._editData, //function ที่ใช้รับค่า ปุ่ม
              el: this, // compontents
              data:data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
          });
        });
      },
      _editData:function (result,detail) {
        if (result == true) {
          detail.data.id = detail.el.data.shm_id;
          detail.data.shm_status = detail.el.data.shm_status;
          // console.log(detail.data);
          detail.el.update('./g2g/shipment/update',detail.data, () => {
            detail.el.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
             callback:()=>{
                detail.el.fire('get-list-shipment',{contractId:detail.data.contract_id});
              }
            });
           });
         }
      },
      _toggleSub:function(e){
       var targetAttribute = e.currentTarget.getAttribute('aria-controls');
       this.$$('#'+targetAttribute).toggle();
       if (e.target.icon == 'expand-more') {
         e.target.icon = 'chevron-right';
       }else {
         e.target.icon = 'expand-more'
       }
     },
      _cleanDataInsertShimment:function (data,callback) {
        let el = Polymer.dom(this.root).querySelectorAll('.insetShipment');
        let stat = el.map((el)=> el.validate());
        if (stat.every(elem => elem == true)) {
          let {cl_id,shm_name,shm_no,contract_id} = data;
          let newData = {cl_id,shm_name,shm_no,contract_id};
          callback(newData);
        }
      },
      backPageShipment:function ()  {
        this.fire('get-list-shipment-page',{detail:'fin'});
      },

    });
  </script>
</dom-module>
