<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<dom-module id="invoice-save">
  <style include="iron-flex iron-flex-alignment gl-color gl-size">
  .text{
    text-align: center;
    font-size: var(--font-size-large);
  }
  </style>
  <template>
      <gl-form-panel-header>
        <div style="text-align:right;"><iron-icon icon="create"></iron-icon></div>
      </gl-form-panel-header>

      <gl-form-panel-body>

        <div class="text">NEW COMMERCIAL INOVICE</div>

          <gl-grid-row width="{{getWidth}}">
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
              <gl-form-input value="" placeholder="ใส่รายละเอียด" label="NO :" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,0],[500,8]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
              <gl-form-input value="" placeholder="ใส่รายละเอียด" label="Date :" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-input>
            </gl-grid-col>
          </gl-grid-row>

          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
              <gl-form-textarea rows="2" value="" placeholder="ใส่รายละเอียด" label="Invoice of :" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-textarea>
            </gl-grid-col>
          </gl-grid-row>

          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input value="" placeholder="ใส่รายละเอียด" label="Shippped per :" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input value="" placeholder="ใส่รายละเอียด" label="Port of loading :" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input value="" placeholder="ใส่รายละเอียด" label="Port of Discharge :" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-input>
            </gl-grid-col>
          </gl-grid-row>

          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input value="" placeholder="ใส่รายละเอียด" label="Port of Delivery :" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input value="" placeholder="ใส่รายละเอียด" label="Bill of Lading Number :" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-input>
            </gl-grid-col>
          </gl-grid-row>

          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
              <gl-form-textarea rows="2" value="" placeholder="ใส่รายละเอียด" label="By order and Account of :" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-textarea>
            </gl-grid-col>
          </gl-grid-row>

          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
              <gl-form-textarea rows="2" value="" placeholder="ใส่รายละเอียด" label="MADE OUT TO :" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-textarea>
            </gl-grid-col>
          </gl-grid-row>

          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input value="" placeholder="ใส่รายละเอียด" label="Marks & Nos." error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input value="" placeholder="ใส่รายละเอียด" label="Quantity" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-input>
            </gl-grid-col>
          </gl-grid-row>

          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
              <gl-form-textarea rows="2" value="" placeholder="ใส่รายละเอียด" label="Descriptions" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-textarea>
            </gl-grid-col>
          </gl-grid-row>

          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input value="" placeholder="ใส่รายละเอียด" label="NET WEIGHT :" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input value="" placeholder="ใส่รายละเอียด" label="GROSS WEIGHT :" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-input>
            </gl-grid-col>
          </gl-grid-row>

          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input value="" placeholder="ใส่รายละเอียด" label="TARE :" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input value="" placeholder="ใส่รายละเอียด" label="Amount" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-input>
            </gl-grid-col>
          </gl-grid-row>

          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
              <gl-form-textarea rows="2" value="" placeholder="ใส่รายละเอียด" label="(US.DOLLARS THREE HUNDRED AND NINETEY - TWO THOUSAND ONLY)" error-message="กรุณาใส่รายละเอียด" auto-validate required></gl-form-textarea>
            </gl-grid-col>
          </gl-grid-row>

        <gl-form-panel-footer set-padding="20px 0px 0px 20px">
              <paper-button class="gl-btn-primary" raised>สร้าง</paper-button>
        </gl-form-panel-footer>

      </gl-form-panel-body>

  </template>
  <script>
    Polymer({
      is: "invoice-save",

    });
  </script>
</dom-module>
