<dom-module id="invoice-detail">
  <style include="iron-flex iron-flex-alignment">
  .flexchild-1 {
    @apply(--layout-flex);
  }
  .flexchild-2 {
    @apply(--layout-flex-2);
  }
  .flexchild-5 {
    @apply(--layout-flex-5);
  }
  .box{
    width: 90%;
  }
  .box2{
    width: 50%;
  }
  .top{
    margin-top: 15px;
  }
  .top2{
    margin-top: 20px;
  }
  .top3{
    margin-top: 30px;
  }
  .padL{
    padding-left: 20px;
  }
  paper-button{
    width: 20px;
    height: 30px;
    margin-top: 10px;
  }
  </style>
  <template>

    <div class="vertical layout">

      <div class="horizontal layout top">
        <div class="flexchild-2"><paper-input class="box" auto-validate error-message="กรุณาใส่รายละเอียด" placeholder="กรุณาใส่รายละเอียด" required label="NO." value="[[data.invoiceNo]]"></paper-input></div>
        <div class="flexchild-2"><paper-input class="box" auto-validate error-message="กรุณาใส่รายละเอียด" placeholder="กรุณาใส่รายละเอียด" required label="Dated" value="[[data.date]]"></paper-input></div>
        <div class="flexchild-2">
          <paper-dropdown-menu error-message="กรุณาเลือกราคา" placeholder="เลือกประเภท" label="Bill of Lading" required>
            <paper-listbox class="dropdown-content" attr-for-selected="bill" selected="{{data.bill}}">
              <paper-item bill="COAU7130202710">COAU7130202710</paper-item>
              <paper-item bill="COAU7130202711">COAU7130202711</paper-item>
            </paper-listbox>
          </paper-dropdown-menu>
        </div>
      </div>

      <div class="horizontal layout">
        <paper-textarea on-blur="requiredTextArea" on-keyup="requiredTextArea" class="box" rows="2" label="Invoice of :" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="[[data.invoiceOf]]"></paper-textarea>
      </div>

      <div class="horizontal layout">
        <div class="flex">
          <div class="box"><paper-input auto-validate error-message="กรุณาใส่รายละเอียด" required label="Shipped per" value="[[data.shippedPer]]" placeholder="ใส่รายละเอียด" disabled></paper-input></div>
        </div>
        <div class="flex">
          <div class="box"><paper-input auto-validate error-message="กรุณาใส่รายละเอียด" required  label="Port OF loading" value="[[data.portOfLoading]]" placeholder="ใส่รายละเอียด" disabled></paper-input></div>
        </div>
      </div>

      <div class="horizontal layout">
        <div class="flex">
          <div class="box"><paper-input auto-validate error-message="กรุณาใส่รายละเอียด" required label="Port OF Discharge" value="[[data.portOfDischarge]]" placeholder="ใส่รายละเอียด" disabled></paper-input></div>
        </div>
        <div class="flex">
          <div class="box"><paper-input auto-validate error-message="กรุณาใส่รายละเอียด" required  label="Port OF Delivery" value="[[data.portOFDelivery]]" placeholder="ใส่รายละเอียด" disabled></paper-input></div>
        </div>
      </div>

      <div class="horizontal layout">
        <paper-textarea on-blur="requiredTextArea" on-keyup="requiredTextArea" class="box" label="By order and Account of" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="[[data.orderAndAcc]]"></paper-textarea>
      </div>

      <div class="horizontal layout">
        <paper-textarea on-blur="requiredTextArea" on-keyup="requiredTextArea" class="box" rows="2" label="MADE OUT TO :" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="[[data.madeOutTo]]"></paper-textarea>
      </div>

      <template is="dom-repeat" items="[[data.lot]]">
        <div class="horizontal layout">
          <div class="flex">
            <div class="box"><paper-input auto-validate error-message="กรุณาใส่รายละเอียด" required label="Mark & Nos." value="[[item.Marks]]" placeholder="ใส่รายละเอียด"></paper-input></div>
          </div>
          <div class="flex">
            <div class="box"><paper-input auto-validate error-message="กรุณาใส่รายละเอียด" required  label="Quantity" value="[[item.quantity]]" placeholder="ใส่รายละเอียด" disabled></paper-input></div>
          </div>
        </div>

        <div class="horizontal layout">
          <paper-textarea on-blur="requiredTextArea" on-keyup="requiredTextArea" class="box" rows="2" label="DESCRIPTION OF GOODS" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="[[item.descriptionOfGood]]"></paper-textarea>
        </div>

        <div class="horizontal layout">
          <paper-textarea on-blur="requiredTextArea" on-keyup="requiredTextArea" class="box" rows="2" label="PACKING : " placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="[[item.packing]]"></paper-textarea>
        </div>

        <div class="horizontal layout">
          <div class="horizontal layout flexchild-1">
            <div class="box2"><paper-input auto-validate error-message="กรุณาใส่รายละเอียด" required label="PRICE :" value="[[item.price]]" placeholder="ใส่รายละเอียด" pattern=[0-9,.]*></paper-input></div>
            <div class="top3">USD</div>
          </div>
          <div class="horizontal layout flexchild-2">
            <div class="top3">PER METRIC TON</div>
            <div class="box2"><paper-input auto-validate error-message="กรุณาใส่รายละเอียด" required value="[[item.tonPerusd]]" placeholder="ใส่รายละเอียด"></paper-input></div>
          </div>
        </div>

        <div class="horizontal layout">
          <div class="horizontal layout flexchild-1">
            <div class="box2"><paper-input auto-validate error-message="กรุณาใส่รายละเอียด" required label="GROSS WEIGHT :" value="[[item.gw]]" placeholder="ใส่รายละเอียด" pattern=[0-9,.]*></paper-input></div>
            <div class="top3">METRIC TONS</div>
          </div>
          <div class="horizontal layout flexchild-1">
            <div class="box2"><paper-input auto-validate error-message="กรุณาใส่รายละเอียด" required label="TARE :" value="[[item.tare]]" placeholder="ใส่รายละเอียด" pattern=[0-9,.]*></paper-input></div>
            <div class="top3">METRIC TONS</div>
          </div>
        </div>

        <div class="horizontal layout">
          <div class="horizontal layout flexchild-1">
            <div class="box2"><paper-input auto-validate error-message="กรุณาใส่รายละเอียด" required label="NET WEIGHT" value="[[item.nw]]" placeholder="ใส่รายละเอียด" pattern=[0-9,.]*></paper-input></div>
            <div class="top3">METRIC TONS</div>
          </div>
          <div class="horizontal layout flexchild-1">
            <div class="box2"><paper-input auto-validate error-message="กรุณาใส่รายละเอียด" required label="Amount" value="[[item.amount]]" placeholder="ใส่รายละเอียด" pattern=[0-9,.]*></paper-input></div>
            <div class="top3">USD</div>
          </div>
        </div>

        <div class="top" style="text-align:center;">(USD DOLLARS TWO HUNDRED TWENTY THOUSAND ONLY)</div>
        </template>
      <div class="horizontal layout top3">
        <div class="flexchild-2">TOTAL</div>
        <div class="flexchild-5">[[data.total]] BAGS</div>
      </div>

      <div><hr></div>

      <div>TOTAL</div>

        <div class="horizontal layout top">
          <div class="flex padL">
            <div>GROSS WEIGHT :</div>
            <div class="top2">TARE :</div>
            <div class="top2">NET WEIGHT :</div>
            <div class="top2">Amount</div>
          </div>
          <div class="flex">
            <div><input is="iron-input" value="[[data.totalGross]]"></div>
            <div class="top"><input is="iron-input" value="[[data.tare]]"></div>
            <div class="top"><input is="iron-input" value="[[data.netWeight]]"></div>
            <div class="top"><input is="iron-input" value="[[data.Amount]]"></div>
          </div>
          <div class="flex padL">
            <div>METRIC TONS</div>
            <div class="top2">METRIC TONS</div>
            <div class="top2">METRIC TONS</div>
            <div class="top2">USD</div>
          </div>
        </div>


      <div style="text-align:center; margin-top:30px;">(USD DOLLARS TWO HUNDRED TWENTY THOUSAND ONLY)</div>

      <div class="horizontal layout">
        <paper-textarea on-blur="requiredTextArea" on-keyup="requiredTextArea" required error-message="กรุณาใส่รายละเอียด" class="box" rows="3" value="[[data.detail]]"></paper-textarea>
      </div>

      <div class="horizontal end-justified layout">
        <paper-button raised>ยกเลิก</paper-button>
        <paper-button raised>บันทึก</paper-button>
      </div>

    </div>

  </template>

  <script>
    Polymer({
      is: "invoice-detail",
      requiredTextArea:function(e){
        e.target.validate();
      }

    });
  </script>
</dom-module>
