<link rel="import" href="listEditBehavior.html">
<dom-module id="list-draft-invoice">
<style include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
  :host{
    --paper-checkbox-margin:15px;
  }
  .title{
  margin: 15px;
  font-size: var(--font-size-h3);
  }
  .header {
  padding: 10px 0px 0px 10px;
  background-color: var(--paper-grey-100);
  color: var(--paper-grey-600);
  font-size: var(--font-size-h4);
  }
  paper-menu {
  padding: 0px;
  }
  paper-icon-item {
  cursor: pointer;
    --paper-item-focused:{
      background-color: var(--paper-blue-100);
    }
  }
  paper-icon-item:hover {
    background-color: var(--paper-blue-100);
  }
  .labelSearch{
  font-size: var(--font-size-h4);
  margin: 10px 10px 10px 10px;
  font-family: 'rsuregular', sans-serif;
  -webkit-font-smoothing: antialiased;
  }
  .bd {
  border: 1px solid #000;

  }
  .dataround{
    padding: 10px 0px 0px 10px;
    background-color: var(--paper-grey-100);
    color: var(--paper-grey-600);
    font-size: var(--font-size-h4);
    font-family: 'rsuregular', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
    </style>
    <template>
    <content id="secondary" select="items[type=secondary]"></content>
   <div class="title">[[data.0.periodNo]]</div>

<!-- Invoice -->
    <div class="header layout horizontal">
      <template is="dom-repeat" items="{{config.secondary}}">
         <div  class$="[[item.width]]">
            [[item.label]]
         </div>
     </template>
       <div class="flex searchInput ">
          <div class="horizontal end-justified layout">
            <div class="labelSearch">Invoice</div>
            <paper-input label=" " no-label-float></paper-input>
            <paper-icon-button icon="search"></paper-icon-button>
          </div>
      </div>
    </div>
     <template is="dom-repeat" as="itemSecondary" items="{{data}}">
       <paper-icon-item on-tap="_getBind" level="secondary" data="{{itemSecondary}}">
         <paper-checkbox class="checkBox" data="{{itemSecondary}}"></paper-checkbox>
         <!-- <iron-icon checkBox icon="check-box-outline-blank" item-icon on-tap="acceptMoney"></iron-icon> -->
           <template is="dom-repeat" as="configSecondary" items="{{config.secondary}}">
             <div class$="[[configSecondary.width]]" on-tap="_toggleDrawer">
               <div class="fontPdLeft" >
                 {{_getItemPrimary(itemSecondary,configSecondary)}}
               </div>
             </div>
             <!-- <div class="layout horizontal">
               <div class="horizontal end-justified layout">
                 <paper-checkbox>รับเงินแล้ว</paper-checkbox>
               </div>
            </div> -->
           </template>
       </paper-icon-item>
     </template>
     <br>
     <div class="horizontal end-justified layout">
        <paper-button class="gl-btn-success" raised on-tap="check">ได้รับเงิน</paper-button>
     </div>
<!-- End Invoice -->

    </template>
    <script>
        Polymer({
            is: "list-draft-invoice",
            behaviors: [listEditBehavior,gl.behavior.core,gl.behavior.notification],
            attached: function() {
              // console.log(this.dataround[0]);
              // console.log(this.data[0].blNos[0]);
            },
            // acceptMoney:function(e){
            //   if(e.target.getAttribute("icon") == 'check-box'){
            //     e.target.setAttribute("icon", 'check-box-outline-blank')
            //   } else {
            //     e.target.setAttribute("icon", 'check-box')
            //   }
            //
            //   // console.log(1);
            //   console.log(e.target.getAttribute("icon"));
            //   // console.log(e.target.setAttribute("icon", 'check-box'));
            // },
            check:function () {
              // console.log(Polymer.dom(this.root).querySelectorAll('.checkBox'));
              var data = Polymer.dom(this.root).querySelectorAll('.checkBox');
              data.map((el)=>{
                console.log(el.data);
              });
              // this.glNotify('title','text','/images/rice-icon-192.png')
            }
        });
    </script>
</dom-module>
