<link rel="import" href="listEditBehavior.html">
<link rel="import" href="../vessel/vesselBehavior.html">
<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<link rel="import" href="../vessel/vessel-edit.html">
<link rel="import" href="/bower_components/numeral-js/numeral-js.html">
<link rel="import" href="../vessel/view-noshipment.html">
<link rel="import" href="../vessel/edit-noshipment.html">
<link rel="import" href="../vessel/booking-edit.html">
<link rel="import" href="../../../../../bower_components/gl-styles/gl-panel.html">
<dom-module id="list-vessel">

  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .header {
      text-align: center;
      padding: 10px 0px 10px 10px;
      background-color: var(--paper-grey-100);
      color: var(--paper-grey-600);
      word-wrap: break-word;
    }
    .text-center{
      text-align: center;
      font-size: var(--font-size-h4);
      font-family: 'rsubold', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .cleanBd {
      padding: 0px;
    }
    .bd {
      border-bottom: 1px solid #ccc;
    }
    .top {
      margin-top: 30px;
    }
    .w {
      width: 50%;
      text-align: center;
    }
    .padL {
      padding-left: 35px;
    }
    .fontPdLeft {
      padding: 10px 0px 10px 10px;
      /*word-wrap: break-word;*/
      text-align: left;
    }
    .fontPdRight{
      padding: 10px 10px 10px 10px;
      margin-right: 10px;
      text-align: right;
    }
    /*.sss:last-of-type*/
    paper-item {
      cursor: pointer;
    }
    .yellow-button {
      text-transform: none;
      color: #eeff41;
    }
    .title{
      text-align: center;
      font-size: var(--font-size-h4);
      font-family: 'rsubold', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .mar-head {
      margin-left: 10px;
      margin-bottom: 10px;
    }
    #listitem {
      border-left: 1px solid var(--gl-gray-lighter-color);
      border-right: 1px solid var(--gl-gray-lighter-color);
    }
    #changeDivcss {
      background-color: var(--paper-grey-100);
      border: 1px solid black;
      padding: 10px;
      margin-bottom: 10px;
    }
    .show {
      display: block;
      /*color: white;
            background-color: var(--gl-success-color);
            margin: 20px 20px 20px 20px;*/
    }
    .hide {
      display: none;
    }
    paper-icon-button.crud {
    margin: 5px 5px 5px 5px;
   }
   paper-icon-button.crud:hover {
     background-color: var(--paper-grey-200);
     border-radius: 5px;
     box-shadow: inset 0 0 3px 3px rgba(0,0,0,.2);
   }
  </style>
  <template>
    <div class="horizontal end-justified layout">
        <template is="dom-if" if="[[!data.shm_status]]">
          <paper-icon-button id="editConfirm" class="crud" icon="create" raised on-tap="editShipment" ></paper-icon-button>
          <paper-tooltip for="editConfirm" offset="0">Edit Shipment</paper-tooltip>
          <paper-icon-button id="deleteConfirm" class="crud" icon="delete" raised on-tap="deleteShipment"></paper-icon-button>
          <paper-tooltip for="deleteConfirm" offset="0">Delete Shipment</paper-tooltip>
        </template>

    </div>
    <content id="primary" select="items[type=primary]"></content>


    <iron-pages selected="{{pageEditShipment}}" attr-for-selected="name">
      <div name="view">
        <view-noshipment data="{{data}}" ></view-noshipment>
    <template is="dom-if" if="[[!data.shm_status]]">
      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[500,7],[700,8]]"></gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[500,2]]">
          <paper-button class="gl-btn-primary" raised on-tap="editBlShm" name="addBl">จัดการ B/l No</paper-button>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[500,2]]">
          <paper-button  class="gl-btn-primary" raised on-tap="editBlShm" name="addShmdt">เพิ่มผู้ส่งออก</paper-button>
          <!-- <paper-button id="removeButtom" hidden="[[data.shm_status]]" class="gl-btn-primary" raised on-tap="displayInsert" >เพิ่มผู้ส่งออก</paper-button> -->
        </gl-grid-col>
      </gl-grid-row>
    </template>
    <div hidden="{{addBlShm}}">
    <iron-pages selected="{{addContent}}" attr-for-selected="name">
      <div name="addBl">
        <booking-edit bl-nos="{{blNos}}" common="[[common]]" country="[[data.country]]" data="{{dataBl}}"></booking-edit>
      </div>
      <div name="addShmdt">
        <div class="bd">
          <vessel-edit   approve="[[checkInput]]" check-input="[[!checkInput]]"
                         data="{{shipment}}"      shm-id="[[data.shm_id]]"
                         common="[[common]]"      country="[[data.country]]"
                         buyer-masks="[[data.buyerMasks]]"  cl-no="{{data.cl_no}}"
                         cl-type-rice="[[data.cl_type_rice]]" insert-shipment="true"
                         bl-nos="{{blNos}}"
                         >
          </vessel-edit>
          </div>

      </div>
    </iron-pages>
  </div>

    <div class="layout horizontal top">
      <template is="dom-repeat" items="{{config.primary}}">
        <div class$="[[item.width]] header">
          [[item.label]]
        </div>
      </template>
    </div>
<div id="listitem">
    <template is="dom-repeat" as="itemPrimary" items="{{data.shipment_detail}}">

      <paper-icon-item class="fancy cleanBd bd">
        <paper-icon-button on-tap="_toggleSub" aria-controls$="collapse[[itemPrimary.shm_det_id]]" icon="chevron-right" item-icon></paper-icon-button>
        <template is="dom-repeat" as="configPrimary" items="{{config.primary}}">

          <template is="dom-if" if="[[checkTypeString(configPrimary,itemPrimary)]]">
            <div class$="[[configPrimary.width]]">
              <div class="fontPdLeft">
                {{_getItemPrimary(itemPrimary,configPrimary)}}
              </div>
            </div>
          </template>
          <template is="dom-if" if="[[checkTypeNumber(configPrimary,itemPrimary)]]">
            <div class$="[[configPrimary.width]] number">
              <div class="fontPdRight">
                <numeral-js number="{{_getItemPrimary(itemPrimary,configPrimary)}}" format="0,0" print></numeral-js>
              </div>
            </div>
          </template>
        </template>
      </paper-icon-item>
      <iron-collapse id="collapse[[itemPrimary.shm_det_id]]">
        <div class="collapse-content">

                <vessel-edit data="{{itemPrimary}}" index="[[index]]" approve="[[data.shm_status]]" bl-nos="{{blNos}}"
                  buyer-masks='[[data.buyerMasks]]' contract-id='[[data.contract_id]]' cl-type-rice='[[data.cl_type_rice]]'
                  cl-no='{{data.cl_no}}' country='[[data.country]]'>
                </vessel-edit>
              <!-- </iron-pages> -->

          <!-- จบ -->
        </div>
      </iron-collapse>
    </template>
    </div>
    <div class="horizontal end-justified layout">
        <paper-button class="gl-btn-danger" raised on-tap="backPage">ย้อนกลับ</paper-button>
        <template is="dom-if" if="[[!checkBtnView(data.shm_status)]]">
          <template is="dom-if" if="[[!checkBtnView(checkBtn)]]">
          <paper-button class="gl-btn-info" raised on-tap="approveShipment">ยืนยันผู้ส่งออก</paper-button>
          </template>
        </template>
    </div>
  </div>
  <div name="edit">
    <edit-noshipment data="{{data}}" edit-page="{{editPage}}" confirm-letter="[[confirmLetter]]"></edit-noshipment>
  </div>


  </iron-pages>

  </template>
  <script>
        Polymer({
            is: "list-vessel",
            behaviors: [
              g2gModelBehavior,
              listEditBehavior,
              vesselBehavior,
              gl.behavior.core
            ],
            properties: {
                btnAdd:{
                    type:Boolean,
                    value:false
                },
                shipline:{
                  type:Object,
                  notify:true
                },
                ship:{
                  type:Object,
                },
                pol:{
                  type:Object,
                },
                cml:{
                  type:Object,
                },
                bl:{
                  type:Object,
                },
                editPage:{
                  type: Boolean,
                  value:true
                },
                shipment:{
                  type:Object,
                  value:{
                    exporter_id:'',
                    shipline_id:'',
                    ship_id:'',
                    surveyor_id:'',
                    ship_voy_no:'',
                    ship_lot_no:'',
                    book_no:'',
                    bl_no:'',
                    carrier_id:'',
                    load_port_id:'',
                    etd_date:'',
                    eta_date:'',
                    dest_port_id:'',
                    deli_port_id:'',
                    num_of_container:'',
                    packing_date:'',
                    packing_time:'',
                    weight_per_container:'',
                    product_date:'',
                    type_rice_id:'',
                    package_id:'',
                    shm_det_quantity:'',
                  }
                },
                common:{
                  type:Object,
                },
                data:{
                  type:Object,
                  value:{buyerMasks:''}
                },
                pageEditShipment:{
                  type:String,
                  value:'view'
                },
                addContent:{
                  type:String,
                  value:'addBl'
                },
                updateShipment:{
                  type:Object,
                  value:{
                    id:'',
                    shm_name:'',
                    contract_id:'',
                    shm_no:'',
                    shm_status:'',
                  }
                },
                addBlShm:{
                  type:Boolean,
                  value:true
                }
            },
            observers: [
              'getCounty(data.country,common)',
              'calc(shipment.shm_det_quantity)',
              // '_getPlace(shipment.deli_port_id)'
              '_getBl(data.shm_id)',
              'check(data)'

            ],
            check:function (data) {
              // console.log('list',data);
            },
            listeners: {
               'shipmentedit':'finEdit',
               'save-Data-shipmentDetail':'_saveChangeShipment',
               'delete-Data-shipmentDetail':'_shipmentDetailDelete',
               'add-Bl':'_addBltoBlno',
               'cancel-Show':'_cancalShow',
               'click-Submit':'_clickSubmit'
             },

            attached: function() {
              // console.log("created-2");
              this.fire('vessel-insert-common',{node:this});
            },
            editShipment:function () {
              this.pageEditShipment = 'edit';
            },
            finEdit:function (e) {
              this.pageEditShipment = 'view';
              // console.log(e);
            },
            _addBltoBlno:function (e) {
              // console.log(e.detail.data);
              this._cancalShow();
              this.push('blNos',e.detail.data);
              console.log(this.blNos);
            },
            _cancalShow:function () {
              this.addBlShm= !this.addBlShm;
            },
            //call by vesselBehavior.html
            setData:function (data) {
              // console.log(data.shipline_id == undefined);
              if(data.shipline_id != undefined){
                // console.log(data.shipline_id);
                this.shipment.shipline_id =data.shipline_id;
                this.shipment.bl_no=data.bl_no;
                this.shipment.book_no=data.bl_no;
                this.shipment.ship_id=data.ship_id;
                this.shipment.surveyor_id=data.surveyor_id;
                this.shipment.ship_voy_no=data.ship_voy_no;
                this.shipment.carrier_id=data.carrier_id;
                this.shipment.ship_lot_no=data.ship_lot_no;
                this.shipment.load_port_id=data.load_port_id;
                this.shipment.dest_port_id=data.dest_port_id;
                this.shipment.deli_port_id=data.deli_port_id;
                // console.log(this.shipment);
                this.notifyPath('shipment.shipline_id');
                this.notifyPath('shipment.bl_no');
                this.notifyPath('shipment.book_no');
                this.notifyPath('shipment.ship_id');
                this.notifyPath('shipment.surveyor_id');
                this.notifyPath('shipment.ship_voy_no');
                this.notifyPath('shipment.carrier_id');
                this.notifyPath('shipment.ship_lot_no');
                this.notifyPath('shipment.load_port_id');
                this.notifyPath('shipment.dest_port_id');
                this.notifyPath('shipment.deli_port_id');
              }

            },

            // _getPlace:function (data) {
            //   // console.log(data.detail.value);
            //   this.shipment.deli_port_id = data.detail.value;
            //   // console.log("this.shipment.deli_port_id =>", this.shipment.deli_port_id );
            //   this.notifyPath('shipment.deli_port_id');
            // },
            editBlShm:function (e) {
              this.addBlShm= false;
              this.addContent = e.currentTarget.getAttribute("name");
            },
            _shipmentDetailDelete:function (e) {
              console.log(e.detail);
              this.delete('./g2g/shipment/detail/delete/id/',e.detail.shm_det_id, () => {
                // this.glQuery('addContract').getChange(false,'delete');
                // this.glQuery('addContract').shipMentDeatil(e.detail.shm_id,false,'put');
                this.fire('get-shipMentDetail',{shm_id :e.detail.shm_id,refresh:false ,action:'delete'});
                console.log(111);
                this.fire('refresh-contract',{refresh:false ,action:'delete'});
               });
              // this.glQuery('layoutMain').openToastDeleteing();
            },
            _saveChangeShipment:function(e){
              // console.log(this.data.shipment_detail[e.detail.index]=e.detail.data);
              var data = this.data.shipment_detail[e.detail.index]=e.detail.data;
              // log
              // console.log('this.data => 389 ',this.data);
              this.update('./g2g/shipment/detail/update', data,() => {
                this.fire('get-shipMentDetail',{shm_id :data.shm_id,refresh:false ,action:'put'})
                this.fire('refresh-contract',{refresh:false ,action:'put'});
                console.log(e.detail.fun.editInputs());
               });
            },

            displayInsert: function() {
              this.editInput();
            },
            _clickSubmit: function(){
              // console.log('addShimment =>',this.addShimment);
              // // console.log('dataBl =>',this.dataBl);
              this.shipment.shm_id=this.data.shm_id;
              this.shipment.eta_date=new Date (this.shipment.eta_date);
              this.shipment.etd_date=new Date (this.shipment.etd_date);
              this.shipment.packing_date=new Date (this.shipment.packing_date);
              this.shipment.product_date=new Date (this.shipment.product_date);
              // console.log(this.shipment);
              this.insert('./g2g/shipment/detail/insert',this.shipment, () => {
                // this.glQuery('addContract').shipMentDeatil(this.shipment.shm_id,false,'put');
                this.fire('get-shipMentDetail',{shm_id :this.shipment.shm_id,refresh:false ,action:'put'});
                console.log(111);
                this.fire('refresh-contract',{refresh:false ,action:'put'});
                this._cancalShow();
              });
            },
            deleteShipment:function (e) {
              this.delete('./g2g/shipment/delete/id/',this.data.shm_id, () => {
                this.fire('refresh-contract',{refresh:false ,action:'put'});
                this.fire('shipment-list', {
                  data: 'editFin'
                });
                this.fire('add-shipment',{contract_id:this.data.contract_id});
               });
            },
            approveShipment:function () {
              this.data.shm_status = !this.data.shm_status ;
                // console.log(this.data.shm_status);

                this.updateShipment.id = this.data.shm_id;
                this.updateShipment.shm_name = this.data.shm_name;
                this.updateShipment.contract_id = this.data.contract_id;
                this.updateShipment.shm_no = this.data.shm_no;
                this.updateShipment.cl_id = this.data.cl_id;
                this.updateShipment.shm_status = this.data.shm_status;
                // console.log(this.updateShipment);
                this.update('./g2g/shipment/update',this.updateShipment, () => {
                  this.glQuery('addContract')._getChange(false,'put');
                  this.fire('add-shipment',{contract_id:this.updateShipment.contract_id});
                    this.fire('select', {
                      data: 'editFin'
                    });

                 });
            },
            backPage:function () {
              //shipment-page
              this.fire('select',{data:'backPage'});
            }
        });
    </script>
</dom-module>
