<link rel="import" href="../../functionBehavior/dataBehavior.html">
<dom-module id="edit-package">
<style include="iron-flex iron-flex-alignment gl-color gl-size">
  *{
    font-family: 'CSChatThaiUI', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: var(--font-size-h5);
  }
  .text-center {
    text-align: center;
    font-size: var(--font-size-h3);
    background-color: var(--paper-grey-100);
    margin-top: 20px;
  }
  .margin-top{
    margin-top: 15px;
  }
  .button{
    margin-top: 20px;
    margin-bottom: 20px;
  }
</style>
  <template>
    <div class="text-center">แก้ไขข้อมูลแพ็คเกจ</div>
    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
        <gl-form-label-input class="margin-top" label="Package Code (รหัสแพ็คเกจ) :" placeholder="กรอกรหัสแพ็คเกจ" value="{{data.package_id}}"></gl-form-label-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
        <gl-form-input class="margin-top checkData" error-message="กรุณากรอกน้ำหนักแพ็คเกจ" required label="Package Weight (น้ำหนักแพ็คเกจ กก.) :" placeholder="กรอกน้ำหนักแพ็คเกจ" value="{{data.package_kg_per_bag}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" error-message="กรุณากรอกชื่อแพ็คเกจ" required label="Package Name (ชื่อแพ็คเกจ ภาษาอังกฤษ) :" placeholder="กรอกชื่อแพ็คเกจ" value="{{data.package_name_en}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" error-message="กรุณากรอกชื่อแพ็คเกจ" required label="Package Name (ชื่อแพ็คเกจ ภาษาไทย) :" placeholder="กรอกชื่อแพ็คเกจ" value="{{data.package_name_th}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
        <gl-form-input class="margin-top checkData" error-message="กรุณากรอกน้ำหนักกระสอบ" required label="Package Weight_bag (น้ำหนักกระสอบ กรัม.) :" placeholder="กรอกน้ำหนักกระสอบ" value="{{data.package_weight_bag}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
    </gl-grid-row>

    <div class="horizontal end-justified layout">
      <div class="button">
        <paper-button class="gl-btn-danger" on-tap="_cancel" raised>ยกเลิก</paper-button>
        <paper-button class="gl-btn-success" on-tap="_edit" raised>บันทึก</paper-button>
      </div>
    </div>

  </template>
  <script>
    Polymer({
      is: "edit-package",
      properties: {
        data: {
          type: Object,
          value: {}
        },
        dataOld:{
          type: Object,
          value: {}
        }
      },
      observers:[
        '_cloneData(data)'
      ],
      behaviors: [
          gl.behavior.core,
          gl.behavior.locales,
          dataBehavior
      ],
      _edit:function(){
        // console.log(this.data);
        var datas = {
          id: this.data.package_id,
          package_kg_per_bag: parseInt(this.data.package_kg_per_bag),
          package_name_en: this.data.package_name_en,
          package_name_th: this.data.package_name_th,
          package_weight_bag: parseInt(this.data.package_weight_bag)
        }
        var stat = Polymer.dom(this.root).querySelectorAll('.checkData').map((data)=>{
            return  data.validate();
        });
        var chkStat = function(stat){
            return stat == true
        };
        if(stat.every(chkStat) == true){
          this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
          this.update('./common/package/update', datas, () => {
          this.glQuery('refreshPackage').getPackage();
          this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
            console.log('success');
          }});
         });
        }
        else {
          this.fire('toast',{status:'connectError',text:'กรุณากรอกข้อมูลให้ครบถ้วน',
            callback:function(){
            }})
        }
      },
      _cloneData:function(){
        this.dataOld = JSON.parse(JSON.stringify(this.data));
      },
      _cancel:function() {
        this.glQuery('panelRight').changDrawer();
        this.data = this.dataOld;
      }
    });
  </script>
</dom-module>
