<link rel="import" href="../../functionBehavior/dataBehavior.html">
<dom-module id="insert-package">
  <style include="iron-flex iron-flex-alignment gl-color gl-size">
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: var(--font-size-h5);
    }
    .text-center {
      text-align: center;
      font-size: var(--font-size-h3);
      background-color: var(--paper-grey-100);
      margin-top: 20px;
    }
    .margin-top{
      margin-top: 15px;
    }
    .button{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  </style>
  <template>
    <div class="text-center">เพิ่มข้อมูลแพ็คเกจ</div>
    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" error-message="กรุณากรอกรหัสแพ็คเกจ" required label="Package Code (รหัสแพ็คเกจ) :" placeholder="กรอกรหัสแพ็คเกจ" value="{{data.package_id}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" error-message="กรุณากรอกน้ำหนักแพ็คเกจ" required label="Package Weight (น้ำหนักแพ็คเกจ กก.) :" placeholder="กรอกน้ำหนักแพ็คเกจ" value="{{data.package_kg_per_bag}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" error-message="กรุณากรอกชื่อแพ็คเกจ" required label="Package Name (ชื่อแพ็คเกจ ภาษาอังกฤษ) :" placeholder="กรอกชื่อแพ็คเกจ" value="{{data.package_name_en}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" error-message="กรุณากรอกชื่อแพ็คเกจ" required label="Package Name (ชื่อแพ็คเกจ ภาษาไทย) :" placeholder="กรอกชื่อแพ็คเกจ" value="{{data.package_name_th}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" error-message="กรุณากรอกน้ำหนักกระสอบ" required label="Package Weight_bag (น้ำหนักกระสอบ กรัม.) :" placeholder="กรอกน้ำหนักกระสอบ" value="{{data.package_weight_bag}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
    </gl-grid-row>

    <div class="horizontal end-justified layout">
      <div class="button">
        <paper-button class="gl-btn-danger" raised on-tap="_cancel">ยกเลิก</paper-button>
        <paper-button class="gl-btn-success" raised on-tap="_save">บันทึก</paper-button>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: "insert-package",
      properties: {
        data: {
          type: Object,
          value:{}
        }
      },
      behaviors: [
          gl.behavior.core,
          gl.behavior.locales,
          dataBehavior
      ],
      _save:function functionName() {
        var datas = {
          id: this.data.package_id,
          package_kg_per_bag: parseInt(this.data.package_kg_per_bag),
          package_name_en: this.data.package_name_en,
          package_name_th: this.data.package_name_th,
          package_weight_bag: parseInt(this.data.package_weight_bag)
        }
        var stat = Polymer.dom(this.root).querySelectorAll('.checkData').map((data)=>{
            return  data.validate();
        });
        var chkStat = function(stat){
            return stat == true
        };
        if(stat.every(chkStat) == true){
          this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
          axios.post('./common/package/insert', datas)
          .then((response)=> {
            console.log("success");
            console.log(response);
            if (response.data.result == true) {
              this.data = {};
              this.glQuery('refreshPackage').getPackage();
              this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
                console.log('success');
              }});
            }
            else {
              this.fire('toast',{status:'connectError',text:'แพ็คเกจนี้มีอยู่แล้ว', //response.data.message //คำสั่งสำหรับเปิด toast error
              callback:function(){
              }})
            }
          })
          .catch((error)=> {
            console.log("error");
            console.log(error);
            this.fire('toast',{status:'connectError',text:error, //คำสั่งสำหรับเปิด toast error
            callback:function(){
            }})
          })
        //   this.insert('./common/package/insert', datas, () => {
        //   this.data = {};
        //   this.glQuery('refreshPackage').getPackage();
        //   this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
        //     console.log('success');
        //   }});
        //  });
        }
        else {
          this.fire('toast',{status:'connectError',text:'กรุณากรอกข้อมูลให้ครบถ้วน',
            callback:function(){
            }})
        }
      },
      _cancel:function() {
        this.glQuery('panelRight').changDrawer();
        this.data = {};
      }
    });
  </script>
</dom-module>
