<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<dom-module id="period-edit">
  <style is="custom-style" include="iron-flex iron-flex-alignment">
  gl-form-textarea{
    word-break: break-all;
  }
  paper-button{
    margin-top: 10px;
  }
  .bg{
    /*background-color:var(--paper-grey-200);*/
    border: 1px solid black;
    padding: 10px;
  }
  </style>
  <template>
      <gl-form-panel-body set-border="0px">
        <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,4]]">
            <gl-form-input auto-validate error-message="กรุณาใส่เมืองท่าปลายทาง" required label="เมืองท่าปลายทาง" value="{{data.cityDestination}}" placeholder="ใส่รายละเอียด"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,4]]">
            <gl-form-input auto-validate error-message="กรุณาใส่จำนวนตัน" required label="จำนวน/ตัน" value="{{data.quantity}}" placeholder="ใส่รายละเอียด"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[500,12]]">
            <gl-form-textarea label="NOTIFY PARTY" placeholder="ใส่รายละเอียด" auto-validate error-message="กรุณาใส่รายละเอียด" required value="[[data.notifyParty]]"></gl-form-textarea>
          </gl-grid-col>

          <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,4]]">
              <gl-form-input name="shippingLine" auto-validate error-message="กรุณาใส่Shipping line" required label="Shipping Line" value="" placeholder="ใส่รายละเอียด" id="" name=""></gl-form-input>
          </gl-grid-col>
        </gl-grid-row>
      </gl-form-panel-body>

  </template>
  <script>
    Polymer({
      is: "period-edit",


    });
  </script>
</dom-module>
