<dom-module id="period-insert">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">

  </style>
  <template>
    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,3]]">
        <gl-form-input class="mar-head" auto-validate error-message="กรุณาใส่จำนวน" pattern="[0-9]{1,7}"required  label="งวดที่" value$="[[data.shm_no]]"></gl-form-input>
      </gl-grid-col>
    </gl-grid-row>

    <div class="horizontal end-justified layout">
      <paper-button class="gl-btn-primary" raised>เพิ่ม</paper-button>
    </div>
  </template>
  <script>
    Polymer({
      is: "period-insert",

    });
  </script>
</dom-module>
