<link rel="import" href="../../../../../bower_components/gl-form/gl-form-label-input.html">
<dom-module id="wto-detail">
  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .mar-top{
      margin: 20px 0px 20px 0px;
    }
  </style>
  <template>

    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-label-input label="บริษัท :" value="กรุงไทยพืชผล"></gl-form-label-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-label-input label="รายงานการนำเข้าสินค้า :" value="ข้าว (WTO)"></gl-form-label-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-label-input label="เลขที่หนังสือรับรอง :" value="พณ030908153"></gl-form-label-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-label-input label="การชำระภาษี :" value="ในโควตา"></gl-form-label-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-label-input label="ชนิดข้าว :" value="ข้าวบาสมาติ"></gl-form-label-input>
      </gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <vaadin-date-picker label="วันที่ขอหนังสือ" value="2016-03-02" disabled></vaadin-date-picker>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <vaadin-date-picker label="วันครบกำหนด" value="2016-04-01" disabled></vaadin-date-picker>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-label-input label="หน่วยมูลค่า :" value="CFR"></gl-form-label-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-label-input label="ประเทศต้นทาง :" value="ปากีสถาน"></gl-form-label-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-label-input label="ถิ่นกำเนิด :" value="ปากีสถาน"></gl-form-label-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-label-input label="อัตราแลกเปลี่ยน :" value="35.7749"></gl-form-label-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-label-input label="ปริมาณ (ตัน) :" value="54.00"></gl-form-label-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-label-input label="ราคาบาทต่อ (ตัน) :" value="35,774.90"></gl-form-label-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-label-input label="ราคาสุทธิ (บาท) :" value="1,931,844.60"></gl-form-label-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <vaadin-date-picker label="รายงานวันที่" value="2016-04-28"></vaadin-date-picker>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input label="เลขที่ใบขนสินค้า :" auto-validate error-message="กรุณาใส่เลขที่ใบขนสินค้า" pattern="[0-9]*" value="029685"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <vaadin-date-picker label="ลงวันที่ใบขนสินค้า" value="2016-03-28"></vaadin-date-picker>
      </gl-grid-col>
    </gl-grid-row>

    <div class="horizontal center-justified layout mar-top">
        <paper-button class="gl-btn-success" on-tap="validate" raised>บันทึก</paper-button>
    </div>

  </template>
  <script>
    Polymer({
      is: "wto-detail",

    });
  </script>
</dom-module>
