<link rel="import" href="../list-edit/list-period.html">
<link rel="import" href="../../data/data-port.html">
<dom-module id="period-page">
  <template>
    <data-port select-data="{{dataEx}}"></data-port>
    <!--    -->

    <list-period datas="{{dataEx}}">
      <items type="primary">
        <list item="cityDestination" label="เมืองท่าปลายทาง" width="flex"></list>
        <list item="quantity" label="จำนวน/ตัน" width="flex"></list>
      </items>
    </list-period>
  </template>

  <script>
    Polymer({
      is: "period-page",
      properties: {
        datas:{
          type: Object,
          notify: true,
        }
      },
    });
  </script>
</dom-module>
