<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<dom-module id="period-edit">
  <style is="custom-style" include="iron-flex iron-flex-alignment">
  gl-form-textarea{
    word-break: break-all;
  }
  </style>
  <template>
      <gl-form-panel-body set-border="0px">
        <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[500,12]]">
            <gl-form-textarea autofocus label="NOTIFY PARTY" placeholder="ใส่รายละเอียด" auto-validate error-message="กรุณาใส่รายละเอียด" required value="{{data.notifyParty}}"></gl-form-textarea>
          </gl-grid-col>
        </gl-grid-row>
      </gl-form-panel-body>

  </template>
  <script>
    Polymer({
      is: "period-edit",
      // properties: {
      //   data: {
      //     type: Object,
      //     notify:true
      //   }
      // }
      // observers: [
      //   'saveEx(data.notifyParty)'
      // ],
      // saveEx:function (data) {
      //   console.log(data);
      // },
    });
  </script>
</dom-module>
