<link rel="import" href="../list-edit/list-period.html">
<dom-module id="period-page">
  <style>

  </style>
  <template>
    <!-- {{data.cityDestination}} -->
    <list-period data="{{data}}">
      <items type="primary">
        <list item="cityDestination" label="เมืองท่าปลายทาง" width="flex"></list>
        <list item="quantity" label="จำนวน/ตัน" width="flex"></list>
      </items>
      <items type="secondary" item="sub" style="display:none;">
        <list>
          <paper-input label="ทดสอบการปิด" disabled value="ทดสอบการเพิ่ม"></paper-input>
        </list>
      </items>
    </list-period>
  </template>

  <script>
    Polymer({
      is: "period-page",
      properties: {
        data:{
          type: Object,
          notify: true,
          value: function() {return [];}
        }
      },
      ss:function () {
        console.log(this.data.cityDestination);
      }
    });
  </script>
</dom-module>
