<dom-module id="layout-main">
  <template>
      layout-main {{localize('layout')}} 
      <button on-tap="changeLanguage">Change</button>
      <hr>
      <tag-page-load></tag-page-load>
    </html>
  </template>
  <script>
    Polymer({
      is:'layout-main',
      behaviors:[nxTemplateBehavior,nxLocalesBehavior],
      changeLanguage:function(){
        if(this.language == 'th'){
          this.nxSwitchLanguage('en');
        }else{
          this.nxSwitchLanguage('th');
        }
      }
    });
  </script>

</dom-module>
