<link rel="import" href="components/my-drawer.html">
<dom-module id="layout-main">
  <style >
  paper-drawer-panel {
    --paper-drawer-panel-drawer-container: {
      background-color: gray;
    };
  }
  </style>
  <template>
    <paper-drawer-panel>
      <paper-header-panel drawer>
        <paper-toolbar class="medium-tall white">
          <div class="title">Dash Board </div>
          <div class="middle">
            ชั้นที้่ 2
          </div>
        </paper-toolbar>
        <div><my-drawer></my-drawer> fd</div>
      </paper-header-panel>
      <paper-header-panel main>
        <paper-toolbar class="medium-tall white">
          <!-- <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button> -->
          <div>Title</div>
          <div class="middle">
            ชั้นที้่ 2
          </div>
        </paper-toolbar>
        <tag-page-load></tag-page-load>
      </paper-header-panel>
    </paper-drawer-panel>

    </html>
  </template>
  <script>
    Polymer({
      is:'layout-main',
      behaviors:[nxTemplateBehavior,nxLocalesBehavior],
      changeLanguage:function(){
        if(this.language == 'th'){
          this.nxSwitchLanguage('en');
        }else{
          this.nxSwitchLanguage('th');
        }
      }
    });
  </script>

</dom-module>
