<link rel="import" href="../../../g2g/components/list-edit/listEditBehavior.html">
<dom-module id="list-registration-pause">
    <style include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .header {
      padding: 10px 0px 0px 10px;
      background-color: var(--paper-grey-100);
      color: var(--paper-grey-600);
      font-size: var(--font-size-h4);
      padding: 5px;
      text-align: center;

      font-family: 'rsuregular', sans-serif;
        -webkit-font-smoothing: antialiased;
    }
    paper-item {
      cursor:pointer;
      /*--paper-item-focused-before:{
        opacity:0;
        background-color: pink;
      }*/
      --paper-item-focused: {
        background-color: var(--gl-info-color);
      }
      --paper-item-selected:{
        background-color: var(--gl-info-color);
      }
    }
    paper-item:hover {
      background-color: var(--gl-info-color);
    }
    .text{
      text-align: center;
    }
    .button{
      margin: 10px;
    }
    </style>
    <template>
    <content id="primary" select="items[type=primary]"></content>
   <!-- Bl -->
   <div class="button">
     <paper-checkbox on-tap="checkbox"> เลือกทั้งหมด</paper-checkbox> <paper-button raised class="gl-btn-success" on-tap="_active">ยกเลิกการระงับ</paper-button>
   </div>
   <div class="header layout horizontal">
     <template is="dom-repeat" items="{{config.primary}}">
        <div  class$="[[item.width]]">
           [[item.label]]
        </div>
    </template>
   </div>

   <paper-listbox>
    <template is="dom-repeat" as="itemPrimary" items="{{data}}">
      <paper-item on-tap="_getBind" level="detailRegExporter" data="{{itemPrimary}}">
        <div>
            <paper-checkbox id=[[index]] name="pause" class="checkbox"></paper-checkbox>
        </div>
          <template is="dom-repeat" as="configPrimary" items="{{config.primary}}">
            <div class$="[[configPrimary.width]] text"  on-tap="_toggleDrawer">
                {{_getItemPrimary(itemPrimary,configPrimary)}}
            </div>
            </div>
          </template>
      </paper-item>
    </template>
  </paper-listbox>
<!-- End Bl -->

    </template>
    <script>
        Polymer({
            is: "list-registration-pause",
            behaviors: [listEditBehavior,gl.behavior.core],
            properties: {
              data: {
                type: Object
              }
            },
            checkbox:function (e) {
               var i;
              if(e.target.checked == true){
                for(i=0;i< this.data.length; i++){
                  Polymer.dom(this.root).querySelectorAll('.checkbox')[i].setAttribute('checked','checked');
                }
              }
              else {
                console.log('not select');
                for(i=0;i< this.data.length; i++){
                   Polymer.dom(this.root).querySelectorAll('.checkbox')[i].removeAttribute('checked');
                }
              }
              // console.log(Polymer.dom(this.root).querySelectorAll('#checkbox'));
            },
            _active: function(){
              // console.log(this.dataSelect);
              var datas = {
                exporter_date_update: new Date,
                exporter_date_approve:new Date,
                exporter_no:this.dataSelect.exporter_no,
                trader_id:this.dataSelect.trader_id,
                seller_agent:this.dataSelect.seller_agent,
                id : this.dataSelect.exporter_id
              }
              // console.log(datas);
              axios.put('./external/exporter/update', datas)
                        .then(function (response) {
                          console.log("success");
                          console.log(response);
                          this.glQuery('addContract').getChange();
                          this.glQuery('contentPanel').changDrawer();
                        }.bind(this))
                        .catch(function (error) {
                          console.log("error");
                          console.log(error);
                        })
            },
            getDb: function(url, callback) {
                // console.log(url);
                axios.get(url)
                    .then(function(response) {
                        callback(response.data);
                    }.bind(this))
                    .catch(function(error) {}.bind(this));
                // console.log(1);
            },
            attached: function() {
                this.exporter_id = this.exporter_id || this.$.exporter_id;
                // console.log(this.exporter_id);
                this.getDb('./external/exporter/?exporter_active=false', (data) => {
                    console.log(data);
                });
            }
        });
    </script>
</dom-module>
