<link rel="import" href="../../../g2g/components/list-edit/listEditBehavior.html">
<link rel="import" href="../../data/dataBehavior.html">
<dom-module id="list-registration-ban">
    <style include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .header {
      padding: 10px 0px 0px 10px;
      background-color: var(--paper-grey-100);
      color: var(--paper-grey-600);
      font-size: var(--font-size-h4);
      padding: 5px;
      text-align: center;

      font-family: 'rsuregular', sans-serif;
        -webkit-font-smoothing: antialiased;
    }
    paper-item {
      cursor:pointer;
      /*--paper-item-focused-before:{
        opacity:0;
        background-color: pink;
      }*/
      --paper-item-focused: {
        background-color: var(--gl-info-color);
      }
      --paper-item-selected:{
        background-color: var(--gl-info-color);
      }
    }
    paper-item:hover {
      background-color: var(--gl-info-color);
    }
    .text{
      text-align: center;
    }
    .button{
      margin: 10px;
    }
    </style>
    <template>
    <content id="primary" select="items[type=primary]"></content>
   <!-- Bl -->
   <div class="button">
     <paper-checkbox checked={{selectDataAll}}> เลือกทั้งหมด</paper-checkbox> <paper-button raised class="gl-btn-success" on-tap="_active">ยกเลิกการระงับ</paper-button>
   </div>
   <div class="header layout horizontal">
     <template is="dom-repeat" items="{{config.primary}}">
        <div  class$="[[item.width]]">
           [[item.label]]
        </div>
    </template>
   </div>

   <paper-listbox>
    <template is="dom-repeat" as="itemPrimary" items="{{data}}">
      <paper-item on-tap="_getBind" level="detailRegExporter" data="{{itemPrimary}}">
        <div>
            <paper-checkbox name="pause" checked={{itemPrimary.check}} class="checkbox"></paper-checkbox>
        </div>
          <template is="dom-repeat" as="configPrimary" items="{{config.primary}}">
            <div class$="[[configPrimary.width]] text"  on-tap="_toggleDrawer">
                {{_getItemPrimary(itemPrimary,configPrimary)}}
            </div>
            </div>
          </template>
      </paper-item>
    </template>
  </paper-listbox>
<!-- End Bl -->

    </template>
    <script>
        Polymer({
            is: "list-registration-ban",
            behaviors: [listEditBehavior,gl.behavior.core,dataBehavior],
            properties: {
              data:{
                type: Array,
                value: []
              },
              selectDataAll: {
                type: Boolean,
                value: false,
                observer: '_changeselectDataAll'
              },
                dataExporters:{
                  type: Array,
                  value: []
                }
            },
            _changeselectDataAll:function (val) {
              // console.log(this.data);
              this.data.map((item,index)=>{
                this.set('data.'+index+'.check',val);
              });
            },
            _active: function(){
              const check = (item)=>{
                  return item.check == true;
              }
              // console.log(this.data.filter(check));
              this.data.filter(check).map((datas)=>{
                let {exporter_id,exporter_date_update,exporter_date_approve,trader_id,exporter_no} = datas;
                let newData = {exporter_id,exporter_date_update,exporter_date_approve,trader_id,exporter_no};
                this.dataExporters.push(newData);
                });
                this.fire('toast',{status:'dialog',
                text:'คุณต้องการจะยกเลิกการระงับใช่หรือไม่ ?',
                confirmed : this._confirm.bind(this)
                });
            },
            _confirm:function(result,detail){
              // console.log(this.dataExporters);
              this.dataExporters.map((datas)=>{
                datas={
                  id : datas.exporter_id,
                  trader_id : datas.trader_id,
                  exporter_no : datas.exporter_no,
                  exporter_date_approve : new Date,
                  exporter_date_update : new Date
                }
              if(result == true){
                // console.log(datas);
                this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
                this.update('./external/exporter/update', datas, () => {
                  this.glQuery('pauseExporter').getExporters();
                  this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
                    console.log('success');
                  }});
                 });
                }
              });
            }
        });
    </script>
</dom-module>
