<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<dom-module id="confirm-allocate-edit">
  <style is="custom-style" include="iron-flex iron-flex-alignment gl-color">
    .title{
      padding: 10px;
      font-size: 18px;
      color: white;
      background-color: orange;
      /*width: 25%;*/
    }
    .content{
      font-size:18px;
      margin-top: 26px;
    }
    table.default {
      border-collapse: collapse;
      width: 100%
    }

    table.default,
    th,
    td {
      border-bottom: 1px solid #ddd;
    }

    th,
    td {
      padding: 15px;
    }

    th {
      text-align: center;
      background-color: #F1F1F1;
      white-space: nowrap;
    }

    td {
      text-align: left;
      white-space: nowrap;
    }

    tr:hover {
      background-color: #F1F1F1;
    }
    .number{
      text-align: right;
    }
    .textHeader{
      padding:20px;
      text-align: center;
      font-size: 22px;  
    }
  </style>
  <template>
    <div class="textHeader">ยืนยันรับส่วนจัดสรร</div>
    <gl-form-panel set-padding = "0px 0px 20px 0px">
      <div class="title">ข้อมูลบริษัท</div>
      <gl-form-panel-body set-padding = "0px 0px 0px 0px" set-border="0px">
         <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
            <gl-form-label-input label="เลขประจำตัวผู้เสียภาษี" value="0105507002443"></gl-form-label-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
            <gl-form-label-input label="ชื่อบริษัท(ไทย)" value="กมลกิจ บจก."></gl-form-label-input>
          </gl-grid-col>
           <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
            <gl-form-label-input label="ชื่อบริษัท(อังกฤษ)" value="Kamolkich., Ltd"></gl-form-label-input>
          </gl-grid-col>
           <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
           </gl-grid-col>
        </gl-grid-row>
      </gl-form-panel-body>
    </gl-form-panel>

    <gl-form-panel set-padding = "0px 0px 20px 0px">
      <div class="title">รายละเอียดปริมาณจัดสรร</div>
      <gl-form-panel-body set-padding = "0px 0px 0px 0px" set-border="0px">
         <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
           <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
               <!--<div>ยอดปรับปรุง</div>-->
           </gl-grid-col>
        </gl-grid-row>

         <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
              <div class="content">ปริมาณ งวดที่ 1 (มกราคม) :</div>
          </gl-grid-col>
           <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
               <gl-form-input value="449.00"></gl-form-input>
           </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
             
              <div class="content">ปริมาณ งวดที่ 2 (เมษายน) :</div>
          </gl-grid-col>
           <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
               <gl-form-input value="225.00"></gl-form-input>
           </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
              <div class="content">ปริมาณ งวดที่ 3 (กรกฏาคม) :</div>
          </gl-grid-col>
           <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
               <gl-form-input value="225.00"></gl-form-input>
           </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
              <div class="content">ปริมาณโควต้ารวม :</div>
          </gl-grid-col>
           <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
               <gl-form-input value="899.00" disabled></gl-form-input>
           </gl-grid-col>
        </gl-grid-row>
      </gl-form-panel-body>
    </gl-form-panel>

    <div class="horizontal end-justified layout">
        <paper-button class="gl-btn-danger" raised>ยกเลิก</paper-button>
        <paper-button class="gl-btn-success" on-tap="_saveData" raised>บันทึก</paper-button>
    </div>

  </template>
  <script>
    Polymer({
      is: "confirm-allocate-edit",

    });
  </script>
</dom-module>
