<link rel="import" href="listEditBehavior.html">
<dom-module id="list-registration">
    <style include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .title{
      margin: 15px;
      font-size: var(--font-size-h3);
    }
    .header {
      padding: 10px 0px 0px 10px;
      background-color: var(--paper-grey-100);
      color: var(--paper-grey-600);
      font-size: var(--font-size-h4);
      padding: 5px;
      text-align: center;
      font-family: 'rsuregular', sans-serif;
        -webkit-font-smoothing: antialiased;
    }
    paper-menu {
      padding: 0px;
    }
    .text{
      text-align: center;
    }
    </style>
    <template>
    <content id="primary" select="items[type=primary]"></content>

   <!-- Bl -->
   <div class="header layout horizontal">
     <template is="dom-repeat" items="{{config.primary}}">
        <div  class$="[[item.width]]">
           [[item.label]]
        </div>
    </template>
   </div>
    <template is="dom-repeat" as="itemPrimary" items="{{data}}">
      <paper-item on-tap="_getBind" level="detailRegExporter" data="{{itemPrimary}}">
          <template is="dom-repeat" as="configPrimary" items="{{config.primary}}">
            <div class$="[[configPrimary.width]] text"  on-tap="_toggleDrawer">
              <!-- <div class="fontPdLeft" >[[itemPrimary.regisExporters]] -->
                {{_getItemPrimary(itemPrimary,configPrimary)}}
              </div>
            </div>
          </template>
      </paper-icon-item>
    </template>
<!-- End Bl -->

    </template>
    <script>
        Polymer({
            is: "list-registration",
            behaviors: [listEditBehavior,gl.behavior.core],
            attached: function() {
              // console.log(this.data[0]);
              // console.log(this.data[0].blNos[0]);
            },
        });
    </script>
</dom-module>
