<link rel="import" href="listEditBehavior.html">
<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<link rel="import" href="../vessel/vessel-save.html">
<link rel="import" href="../vessel/vessel-edit.html">
<dom-module id="list-vessel">

    <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
        .header {
            text-align: center;
            padding: 10px 0px 10px 10px;
            background-color: var(--paper-grey-100);
            color: var(--paper-grey-600);
            word-wrap: break-word;
        }

        .cleanBd {
            padding: 0px;
        }

        .bd {
            border-bottom: 1px solid #ccc;
        }

        .top {
            margin-top: 30px;
        }

        .w {
            width: 50%;
            text-align: center;
        }

        .padL {
            padding-left: 35px;
        }

        .fontPdLeft {
            padding: 10px 0px 10px 10px;
            /*word-wrap: break-word;*/
            text-align: center;
        }

        paper-item {
            cursor: pointer;
        }

        .yellow-button {
            text-transform: none;
            color: #eeff41;
        }

        paper-toast {
            --paper-toast-background-color: var(--paper-green-500);
            /*height: 50px;*/
            /*margin: 0px 0px 0px 0px;*/
            /*padding: 0px 0px 0px 0px;*/
            font-size: 16px;
            width: 600px;
            text-align: center;
        }

        paper-toast>div.content>iron-icon {
            padding: 0px 10px 0px 0px;
        }

        .mar-head {
            margin-left: 10px;
            margin-bottom: 10px;
        }

        .title {
            text-align: center;
            font-size: var(--font-size-h4);
            font-family: 'rsubold', sans-serif;
            -webkit-font-smoothing: antialiased;
        }

        #changeDivcss {
            background-color: var(--paper-grey-100);
            border: 1px solid black;
            padding: 10px;
            margin-bottom: 10px;
        }

        .show {
            display: block;
            /*color: white;
            background-color: var(--gl-success-color);
            margin: 20px 20px 20px 20px;*/
        }

        .hide {
            display: none;
        }
        vaadin-date-picker{
          width: 80%;
        }
    </style>
    <template>
    <content id="primary" select="items[type=primary]"></content>
    <content id="secondary" select="items[type=secondary]"></content>
    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,3]]">
        <gl-form-input class="mar-head" auto-validate error-message="กรุณาใส่จำนวน" pattern="[0-9]{1,7}"required  label="งวดที่" value$="[[data.periodNo]]"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,7]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[500,1]]">
        <paper-button class="gl-btn-primary" raised on-tap="click">เพิ่ม</paper-button>
      </gl-grid-col>
    </gl-grid-row>

    <div id="changeDivcss" class="hide">
      <form is="iron-form" id="form" method="post" action="/form/handler">
        <gl-form-panel-body>
          <div class="title">รายละเอียดผู้ส่งออกและเรือ</div>
        </gl-form-panel-body>

        <gl-form-panel-body>
          <gl-grid-row width="{{getWidth}}">
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="ผู้ส่งออก" auto-validate error-message="กรุณาใส่ชื่อผู้ส่งออก" required value="{{data.actualShipper}}" id="actualShipper" name="actualShipper"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-dropdown-menu label="เมืองท่าปลายทาง" error-message="กรุณาเลือกเมืองท่า" required>
                <paper-menu  class="dropdown-content" selected="{{data.cityEnd}}" id="cityEnd" name="cityEnd">
                  <paper-item value="Shekou">Shekou</paper-item>
                  <paper-item value="Patthaya">Patthaya</paper-item>
                  <paper-item value="Rayong">Rayong</paper-item>
                </paper-menu>
              </gl-form-dropdown-menu>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">

              <gl-form-dropdown-menu label="Shipping Line" error-message="กรุณาเลือก Shipping Line" required>
                <paper-menu  class="dropdown-content" selected="{{data.bs}}" id="bs" name="bs">
                  <paper-item value="">Sinotrans Thailogistics</paper-item>
                  <paper-item value=""></paper-item>
                  <paper-item value=""></paper-item>
                </paper-menu>
              </gl-form-dropdown-menu>

            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-dropdown-menu label="Vessel" error-message="กรุณาเลือก Vessel" required>
                <paper-menu  class="dropdown-content" selected="{{data.vesselName}}" id="vesselName" name="vesselName">
                  <paper-item value="">EVER LOGIC</paper-item>
                  <paper-item value=""></paper-item>
                  <paper-item value=""></paper-item>
                </paper-menu>
              </gl-form-dropdown-menu>
            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="Void No." auto-validate error-message="กรุณาใส่รายละเอียด" required value="{{data.voidNo}}" id="voidNo" name="voidNo"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="Lot No." auto-validate error-message="กรุณาใส่รายละเอียด" required value="{{data.lotNo}}" id="lotNo" name="lotNo"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="Booking No." auto-validate error-message="กรุณาใส่รายละเอียด" required value="{{data.bn}}" id="bn" name="bn"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="B/L No." auto-validate error-message="กรุณาใส่รายละเอียด" required value="{{data.package}}" id="package" name="package"></gl-form-input>
            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="Shipping Agent" auto-validate error-message="กรุณาใส่รายละเอียด" required value="" id="" name=""></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="Tel." auto-validate error-message="เป็นตัวเลขเท่านั้น" required pattern="[0-9]*" maxlength="10" value=""></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-dropdown-menu label="POL" error-message="กรุณาเลือก POL" required>
                <paper-menu  class="dropdown-content" selected="{{data.pol}}" id="pol" name="pol">
                  <paper-item value="">BANGKOK PORT,THAILAND</paper-item>
                  <paper-item value=""></paper-item>
                  <paper-item value=""></paper-item>
                </paper-menu>
              </gl-form-dropdown-menu>
            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <vaadin-date-picker label="ETD" value="{{data.etd}}"></vaadin-date-picker>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <vaadin-date-picker label="ETA" value="{{data.eta}}"></vaadin-date-picker>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="POD" auto-validate error-message="กรุณาใส่รายละเอียด" required value="{{data.pod}}" id="pod" name="pod"></gl-form-input>
            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="Place of Delivery" auto-validate error-message="กรุณาใส่รายละเอียด" required value="{{data.pode}}" id="pode" name="pode"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="Cut of Date" auto-validate error-message="กรุณาใส่รายละเอียด" required value="" id="" name=""></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="Time" auto-validate error-message="กรุณาใส่รายละเอียด" required value="" id="" name=""></gl-form-input>
            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="จำนวนตู้คอนเทนเนอร์" auto-validate error-message="กรุณาใส่รายละเอียด" required pattern="[0-9]{9}" value="" id="" name=""></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="ตู้ละ (ตัน)" auto-validate error-message="กรุณาใส่รายละเอียด" required pattern="[0-9]{9}" value="" id="" name=""></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="Production" auto-validate error-message="กรุณาใส่รายละเอียด" required value="" id="" name=""></gl-form-input>
            </gl-grid-col>
          </gl-grid-row>
        </gl-form-panel-body>

        <gl-form-panel-body>
          <div class="title">รายละเอียดการส่งมอบ</div>
        </gl-form-panel-body>

        <gl-form-panel-body>
          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-dropdown-menu label="Confirmation Letter" error-message="กรุณาเลือกราคา" required>
                <paper-menu  class="dropdown-content" attr-for-selected="confirm-letter" selected="{{data.confirmLetter}}" id="confirmLetter" name="confirmLetter">
                  <paper-item confirm-letter="Con1">Confirmmation Letter No. 1</paper-item>
                  <paper-item confirm-letter="Con2">Confirmmation Letter No. 2</paper-item>
                  <paper-item confirm-letter="Con3">Confirmmation Letter No. 3</paper-item>
                </paper-menu>
              </gl-form-dropdown-menu>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-dropdown-menu label="ชนิดข้าว" error-message="กรุณาเลือกราคา" required>
                <paper-menu  class="dropdown-content" attr-for-selected="type-rice" selected="{{data.typeRice}}" id="typeRice" name="typeRice">
                  <paper-item type-rice="rice-white">Thai White Rice 5% Brokens, 2015 Current New Crop</paper-item>
                  <paper-item type-rice="rice">ฯลฯ</paper-item>
                </paper-menu>
              </gl-form-dropdown-menu>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-dropdown-menu label="Package (kg/PP Bag)" error-message="กรุณาเลือกราคา" required>
                <paper-menu  class="dropdown-content" attr-for-selected="package-type" selected="{{data.package}}"id="package" name="package">
                  <paper-item value="25">25</paper-item>
                  <paper-item value="50">50</paper-item>
                </paper-menu>
              </gl-form-dropdown-menu>
            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="Price (USD/MT)" auto-validate error-message="กรุณาใส่รายละเอียด" required value="" id="" name=""></gl-form-label-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="น้ำหนักกระสอบ (gram/bag)" auto-validate error-message="กรุณาใส่รายละเอียด" required value="" id="" name=""></gl-form-label-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="จำนวน/ตัน" auto-validate error-message="กรุณาใส่รายละเอียด" required value="" id="" name=""></gl-form-input>
            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="MARKS" auto-validate error-message="กรุณาใส่รายละเอียด" required value="" id="" name=""></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="Quantity (BAGS)" auto-validate error-message="กรุณาใส่รายละเอียด" required value="{{quantityBag}}"></gl-form-label-input>
            </gl-grid-col>
          </gl-grid-row>

          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                <gl-form-label-input label="WEIGHT (M/T)" auto-validate error-message="กรุณาใส่รายละเอียด" required value="{{gw}}"></gl-form-label-input>
              </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="" auto-validate error-message="กรุณาใส่รายละเอียด" required value="N.w. {{data.amount}}" id="amount" name="amount"></gl-form-label-input>
            </gl-grid-col>
          </gl-grid-row>

          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,12]]">
              <gl-form-textarea label="DESCRIPTION OF GOODS" error-message="กรุณาใส่รายละเอียด" required value="" id="" name=""></gl-form-textarea>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,6]]">
              <gl-form-textarea label="{{quantityWords}}" error-message="กรุณาใส่รายละเอียด" required value="" id="" name=""></gl-form-textarea>
            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]"></gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]">
              <div class="top">ORIGINALS</div>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]">
              <gl-form-input label="" class="w padL" value="" id="" name=""></gl-form-input>
            </gl-grid-col>
            <div class="top">/</div>
            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]">
              <gl-form-input label="" class="w" value="" id="" name=""></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]">
            <div class="top">N/N</div>
            </gl-grid-col>
          </gl-grid-row>
        </gl-form-panel-body>

      </form>

      <gl-form-panel-footer>
          <paper-button class="gl-btn-danger" raised index="[[index]"></iron-icon>ยกเลิก</paper-button>
          <paper-button class="gl-btn-success" raised index="[[index]" on-tap="click"></iron-icon>บันทึก</paper-button>
      </gl-form-panel-footer>
    </div>

    <div class="layout horizontal top">
      <template is="dom-repeat" items="{{config.primary}}">
        <div class$="[[item.width]] header">
          [[item.label]]
        </div>
      </template>
    </div>
    <template is="dom-repeat" as="itemPrimary" items="{{data.sender}}">

      <paper-icon-item class="fancy cleanBd bd" >
        <paper-icon-button on-tap="_toggleSub" aria-controls$="collapse{{index}}" icon="chevron-right" item-icon></paper-icon-button>
        <template is="dom-repeat" as="configPrimary" items="{{config.primary}}">
          <div class$="[[configPrimary.width]]">
            <div class="fontPdLeft">
              {{_getItemPrimary(itemPrimary,configPrimary)}}
            </div>
          </div>
        </template>
    </paper-icon-item>
    <iron-collapse id="collapse{{index}}">
        <div class="collapse-content">
            <div class="bd">
                <gl-form-panel set-padding="10px 20px 10px 20px">
                    <gl-form-panel-head set-border="1px" set-padding="10px 20px 20px 20px">
                        <!-- <paper-button class="gl-btn-success" raised on-tap="saveChange" index="[[index]]">
                            <iron-icon class="gl-icon-size" icon="save"></iron-icon>บันทึก</paper-button> -->
                        <!-- <paper-button class="gl-btn-warning" raised on-tap="editChange" index="[[index]]">
                            <iron-icon class="gl-icon-size" icon="create"></iron-icon>แก้ไข</paper-button> -->
                        <!-- <paper-button class="gl-btn-danger" raised on-tap="" index="[[index]]">
                            <iron-icon class="gl-icon-size" icon="delete"></iron-icon>ลบ</paper-button> -->
                            <paper-icon-button icon="create" raised on-tap="editChange" index="[[index]]"></paper-icon-button>
                            <paper-icon-button icon="delete" raised on-tap=""></paper-icon-button>
                    </gl-form-panel-head>

                    <gl-form-panel-body>
                        <div class="title">รายละเอียดผู้ส่งออกและเรือ</div>
                    </gl-form-panel-body>

                    <!-- เพิ่มคอมโพเน้นตรงนี้ -->

                    <iron-pages selected="0" class$="iron-index-{{index}}">
                        <vessel-save data="{{itemPrimary}}" id="[[itemPrimary.collapse]]"></vessel-save>
                        <vessel-edit data="{{itemPrimary}}" id="[[itemPrimary.collapse]]"></vessel-edit>
                    </iron-pages>

                    <gl-form-panel-footer set-padding="10px 20px 0px 20px">
                      <div id="changeCss" class="hide">
                      <paper-button class="gl-btn-success" raised on-tap="saveChange" index="[[index]]">
                          <iron-icon class="gl-icon-size" icon="save"></iron-icon>บันทึก</paper-button>
                      </div>
                    </gl-form-panel-footer>

                </gl-form-panel>
            </div>


            <!-- จบ -->
        </div>
    </iron-collapse>
    </template>
    <paper-toast id="toastPass" class="fit-bottom">
        <div class="content">
            <iron-icon icon="check"></iron-icon>บันทึกข้อมูลเสร็จสิน
            <paper-button on-tap="closeToast" class="yellow-button">ปิด</paper-button>
        </div>
    </paper-toast>

    </template>
    <script>
        Polymer({
            is: "list-vessel",
            behaviors: [listEditBehavior, gl.behavior.core],
            properties: {
                datas: {
                    type: Object,
                    notify: true
                },
                dataInput: {
                    type: Object,
                }
            },

            delExport: function(e) {
                var r = confirm("ต้องการลบใช่หรือไม่!");
                if (r == true) {

                    var id = e.target.getAttribute("index");
                    this.splice('datas.sender', id, 1);
                    this.glQuery('data-export').deleteDataExport(this.glClone(this.datas));

                }
                // var id = e.target.getAttribute("index");
                // this.splice('datas.sender', id, 1);
                // console.log(this.datas.sender);
            },
            saveExport: function() {
                var nowDateTime = Date.now()
                    // console.log(this.$.confirmLetter.selected);
                    // console.log(this.$.cityEnd.selected);
                this.push('datas.sender', {
                    id: nowDateTime,
                    actualShipper: this.$.actualShipper.value,
                    price: this.$.price.value,
                    weight: this.$.weight.value,
                    package: this.$.package.selected,
                    blNo: this.$.blNo.value,
                    cityEnd: this.$.cityEnd.selected,
                    bs: this.$.bs.value,
                    bn: this.$.bn.value,
                    cflNo: this.$.confirmLetter.selected,
                    vesselName: this.$.vesselName.value,
                    voidNo: this.$.voidNo.value,
                    lotNo: this.$.lotNo.value,
                    pol: this.$.pol.value,
                    etd: this.$.etd.value,
                    eta: this.$.eta.value,
                    pod: this.$.pod.value,
                    ton: this.$.ton.value,
                    marks: this.$.marks.value,
                    typeRiceNo: this.$.typeRiceNo.selected,
                    quantityBag: this.$.quantityBag.value,
                    gw: this.$.gw.value,
                    nw: this.$.nw.value,
                    desOfGood: this.$.desOfGood.value,
                    moneyText: '',
                    ORIGINALS1: this.$.ORIGINALS1.value,
                    ORIGINALS2: this.$.ORIGINALS2.value
                });
                // console.log(this.datas.sender);
                this.glQuery('data-export').saveData(this.glClone(this.datas));
                this.click();
                // console.log(this.datas.sender);
            },
            cancel: function(){
              this.click();
            },
            _saveChange: function(e) {
                // console.log(this.datas);
                this.glQuery('data-export').saveData(this.glClone(this.datas));
                this.$$(".iron-index-" + e.currentTarget.index).selected = 0;
                this.openToast();
            },
            checkDom: function(e) {
                var id = e.target.id;
                console.log(id);
                // this.$$.id;
                console.log(this.$$.collapsel1);
            },
            click: function() {
                var css = Polymer.dom(this.root).querySelector('#changeDivcss');
                if (css.classList.contains('hide') == true) {
                    css.classList.remove("hide");
                    css.classList.add("show");
                } else {
                    css.classList.remove("show");
                    css.classList.add("hide");
                }
            },
            attached: function() {
              var index = this.$.package.selected;
              var arr = this.$.package.innerText.split(' ');
              var packs = new Array();
              for(i=0;i<arr.length;i++){
                if(parseFloat(arr[i])>=0){
                  packs.push(parseFloat(arr[i]));
                }
              }
              this.quantityBag = (parseFloat(this.data.ton) * parseFloat(1000)) / parseFloat(packs[index]);
              this.toWords(this.quantityBag);

                this.sumGW = ((parseFloat(this.quantityBag) * (parseFloat(packs[index]) + (parseFloat(this.data.weight) / parseFloat(1000))) / parseFloat(1000)));
                this.gw = this.sumGW.toFixed(3);
              //  console.log(this.GW);
            },

            toWords: function(num) {

                // Convert numbers to words
                // copyright 25th July 2006, by Stephen Chapman http://javascript.about.com
                // permission to use this Javascript on your web page is granted
                // provided that all of the code (including this copyright notice) is
                // used exactly as shown (you can change the numbering system if you wish)

                // American Numbering System
                var th = ['', 'thousand', 'million', 'billion', 'trillion'];
                // uncomment this line for English Number System
                // var th = ['','thousand','million', 'milliard','billion'];

                var dg = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'];
                var tn = ['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen'];
                var tw = ['twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];
                var s = num.toString();
                s = s.replace(/[\, ]/g, '');
                if (s != parseFloat(s)) return 'not a number';
                var x = s.indexOf('.');
                if (x == -1) x = s.length;
                if (x > 15) return 'too big';
                var n = s.split('');
                var str = '';
                var sk = 0;
                for (var i = 0; i < x; i++) {
                    if ((x - i) % 3 == 2) {
                        if (n[i] == '1') {
                            str += tn[Number(n[i + 1])] + ' ';
                            i++;
                            sk = 1;
                        } else if (n[i] != 0) {
                            str += tw[n[i] - 2] + ' ';
                            sk = 1;
                        }
                    } else if (n[i] != 0) {
                        str +=
                            dg[n[i]] + ' ';
                        if ((x - i) % 3 == 0) str += 'hundred ';
                        sk = 1;
                    }
                    if ((x - i) % 3 == 1) {
                        if (sk)
                            str += th[(x - i - 1) / 3] + ' ';
                        sk = 0;
                    }
                }
                if (x != s.length) {
                    var y = s.length;
                    str +=
                        'point ';
                    for (var i = x + 1; i < y; i++) str += dg[n[i]] + ' ';
                }
                this.quantityWords = '(' + str.replace(/\s+/g, ' ').toUpperCase() + ' BAGS ONLY)';
                //  str.replace(/\s+/g,' ');
            },
            calcBags:function(){
              var index = this.$.package.selected;
              // console.log(index);
              // return;
              var arr = this.$.package.innerText.split(' ');
              var packs = new Array();
              for(i=0;i<arr.length;i++){
                if(parseFloat(arr[i])>=0){
                  packs.push(parseFloat(arr[i]));
                }
              }
              this.quantityBag = (parseFloat(this.data.ton) * parseFloat(1000)) / parseFloat(packs[index]);
              this.toWords(this.quantityBag);

              this.sumGW = ((parseFloat(this.quantityBag) * (parseFloat(packs[index]) + (parseFloat(this.data.weight) / parseFloat(1000))) / parseFloat(1000)));
              this.gw = this.sumGW.toFixed(3);
            }


        });
    </script>
</dom-module>
