<link rel="import" href="listEditBehavior.html">
<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<link rel="import" href="../vessel/vessel-save.html">
<link rel="import" href="../vessel/vessel-edit.html">
<dom-module id="list-vessel">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .header{
      text-align: center;
      padding: 10px 0px 10px 10px;
      background-color: var(--paper-grey-100);
      color: var(--paper-grey-600);
      word-wrap: break-word;
    }
    .cleanBd{
      padding: 0px;
    }
    .bd{
      border-bottom: 1px solid #ccc;
    }
    .top{
      margin-top: 30px;
    }
    .w{
      width: 50%;
      text-align: center;
    }
    .padL{
      padding-left: 35px;
    }
    .fontPdLeft{
      padding: 10px 0px 10px 10px;
      /*word-wrap: break-word;*/
      text-align: center;
    }
    paper-item{
      cursor:pointer;
    }
    .yellow-button {
       text-transform: none;
       color: #eeff41;
     }
     paper-toast {
       --paper-toast-background-color:var(--paper-green-500);
       /*height: 50px;*/
       /*margin: 0px 0px 0px 0px;*/
       /*padding: 0px 0px 0px 0px;*/
       font-size: 16px;
       width: 600px;
       text-align: center;
     }
     paper-toast > div.content > iron-icon {
        padding: 0px 10px 0px 0px;
     }
     gl-form-dropdown-menu{
       width: 90%;
     }
     vaadin-date-picker{
       width: 60%;
     }
     .marL{
       margin-left: 10px;
     }
     .title{
       text-align: center;
       font-size: var(--font-size-h4);
       font-family: 'rsubold', sans-serif;
       -webkit-font-smoothing: antialiased;
     }
     #changeDivcss {
       background-color: var(--paper-grey-100);
       border: 1px solid black;
       padding: 10px;
       margin-bottom: 10px;
     }
     .show{
       display: block;
     }
     .hide{
       display: none;
     }
    <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
        .header {
            text-align: center;
            padding: 10px 0px 10px 10px;
            background-color: var(--paper-grey-100);
            color: var(--paper-grey-600);
            word-wrap: break-word;
        }

        .cleanBd {
            padding: 0px;
        }

        .bd {
            border-bottom: 1px solid #ccc;
        }

        .top {
            margin-top: 30px;
        }

        .w {
            width: 50%;
            text-align: center;
        }

        .padL {
            padding-left: 35px;
        }

        .fontPdLeft {
            padding: 10px 0px 10px 10px;
            /*word-wrap: break-word;*/
            text-align: center;
        }

        paper-item {
            cursor: pointer;
        }

        .yellow-button {
            text-transform: none;
            color: #eeff41;
        }

        paper-toast {
            --paper-toast-background-color: var(--paper-green-500);
            /*height: 50px;*/
            /*margin: 0px 0px 0px 0px;*/
            /*padding: 0px 0px 0px 0px;*/
            font-size: 16px;
            width: 600px;
            text-align: center;
        }

        paper-toast>div.content>iron-icon {
            padding: 0px 10px 0px 0px;
        }

        .mar-head {
            margin-left: 10px;
            margin-bottom: 10px;
        }

        .title {
            text-align: center;
            font-size: var(--font-size-h4);
            font-family: 'rsubold', sans-serif;
            -webkit-font-smoothing: antialiased;
        }

        #changeDivcss {
            background-color: var(--paper-grey-100);
            border: 1px solid black;
            padding: 10px;
            margin-bottom: 10px;
        }

        .show {
            display: block;
        }

        .hide {
            display: none;
        }
    </style>
    <template>
    <content id="primary" select="items[type=primary]"></content>
    <content id="secondary" select="items[type=secondary]"></content>
    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,3]]">
        <gl-form-input class="mar-head" auto-validate error-message="กรุณาใส่จำนวน" pattern="[0-9]{1,7}"required  label="งวดที่" placeholder="ใส่ได้เฉพาะตัวเลขเท่านั้น" value$="[[data.periodNo]]"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,7]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[500,1]]">
        <paper-button class="gl-btn-primary" raised on-tap="click">เพิ่ม</paper-button>
      </gl-grid-col>
    </gl-grid-row>

    <div id="changeDivcss" class="hide">
      <gl-form-panel-body>
        <div class="title">รายละเอียดผู้ส่งออกและเรือ</div>
      </gl-form-panel-body>

      <gl-form-panel-body>
        <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input label="ผู้ส่งออก" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{data.actualShipper}}"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input label="Booking Shipper" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{data.bs}}"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input label="Vessel" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{data.vesselName}}"></gl-form-input>
          </gl-grid-col>

          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input label="Void No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{data.voidNo}}"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input label="Lot No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{data.lotNo}}"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input label="Booking No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{data.bn}}"></gl-form-input>
          </gl-grid-col>

          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input label="B/L No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{data.package}}"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input label="POL" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{data.pol}}"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <vaadin-date-picker label="ETD" placeholder="เลือกวันที่"></vaadin-date-picker>
          </gl-grid-col>

          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <vaadin-date-picker label="ETA" placeholder="เลือกวันที่"></vaadin-date-picker>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input label="POD" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{data.pod}}"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input label="Place of Delivery" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{data.pode}}"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-dropdown-menu label="เมืองท่าปลายทาง" error-message="กรุณาเลือเมืองท่า" placeholder="เลือกเมืองท่า" required>
              <paper-listbox  class="dropdown-content" attr-for-selected="confirmLetter" selected="{{data.cityEnd}}">
                <paper-item confirmLetter="Shekou">Shekou</paper-item>
                <paper-item confirmLetter="Patthaya">Patthaya</paper-item>
                <paper-item confirmLetter="Rayong">Rayong</paper-item>
              </paper-listbox>
            </gl-form-dropdown-menu>
          </gl-grid-col>
        </gl-grid-row>
      </gl-form-panel-body>

      <gl-form-panel-body>
        <div class="title">รายละเอียดการส่งมอบ</div>
      </gl-form-panel-body>

      <gl-form-panel-body>
        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-dropdown-menu label="Confirmation Letter" error-message="กรุณาเลือกราคา" placeholder="เลือกประเภท" required>
              <paper-listbox  class="dropdown-content" attr-for-selected="confirm-letter" selected="{{data.confirmLetter}}">
                <paper-item confirm-letter="Con1">Confirmmation Letter No. 1</paper-item>
                <paper-item confirm-letter="Con2">Confirmmation Letter No. 2</paper-item>
                <paper-item confirm-letter="Con3">Confirmmation Letter No. 3</paper-item>
              </paper-listbox>
            </gl-form-dropdown-menu>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-dropdown-menu label="ชนิดข้าว" error-message="กรุณาเลือกราคา" placeholder="เลือกประเภท" required>
              <paper-listbox  class="dropdown-content" attr-for-selected="type-rice" selected="{{data.typeRice}}">
                <paper-item type-rice="rice-white">Thai White Rice 5% Brokens, 2015 Current New Crop</paper-item>
                <paper-item type-rice="rice">ฯลฯ</paper-item>
              </paper-listbox>
            </gl-form-dropdown-menu>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-dropdown-menu label="Package (kg/PP Page)" error-message="กรุณาเลือกราคา" placeholder="เลือกประเภท" required>
              <paper-listbox  class="dropdown-content" attr-for-selected="package-type" selected="{{data.package}}">
                <paper-item package-type="50">50</paper-item>
                <paper-item package-type="55">55</paper-item>
                <paper-item package-type="60">60</paper-item>
              </paper-listbox>
            </gl-form-dropdown-menu>
          </gl-grid-col>

          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input label="Price (USD/MT)" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value=""></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input label="น้ำหนักกระสอบ (gram/bag)" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value=""></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input label="จำนวน/ตัน" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value=""></gl-form-input>
          </gl-grid-col>

          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input label="MARKS" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value=""></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input label="Quantity (BAGS)" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{quantity}}"></gl-form-label-input>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="WEIGHT (M/T)" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="G.W."></gl-form-label-input>
            </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input label="" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="N.w. {{data.amount}}"></gl-form-label-input>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,12]]">
            <gl-form-textarea label="DESCRIPTION OF GOODS" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value=""></gl-form-textarea>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,6]]">
            <gl-form-textarea label="(TWENTY THOUSAND BAGS ONLY)" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value=""></gl-form-textarea>
          </gl-grid-col>

          <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]"></gl-grid-col>

          <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]">
            <div class="top">ORIGINALS</div>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]">
            <gl-form-input label="" class="w padL" value=""></gl-form-input>
          </gl-grid-col>
          <div class="top">/</div>
          <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]">
            <gl-form-input label="" class="w" value=""></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]">
          <div class="top">N/N</div>
          </gl-grid-col>
        </gl-grid-row>
      </gl-form-panel-body>
      <gl-form-panel-footer>
          <paper-button class="gl-btn-danger" raised index="[[index]"></iron-icon>ยกเลิก</paper-button>
          <paper-button class="gl-btn-success" raised index="[[index]" on-tap="click"></iron-icon>บันทึก</paper-button>
      </gl-form-panel-footer>
    </div>

    <div class="layout horizontal top">
      <template is="dom-repeat" items="{{config.primary}}">
        <div class$="[[item.width]] header">
          [[item.label]]
        </div>
      </template>
    </div>
    <template is="dom-repeat" as="itemPrimary" items="{{data.sender}}">

      <paper-icon-item class="fancy cleanBd bd" >
        <paper-icon-button on-tap="_toggleSub" aria-controls$="collapse{{index}}" icon="chevron-right" item-icon></paper-icon-button>
        <template is="dom-repeat" as="configPrimary" items="{{config.primary}}">
          <div class$="[[configPrimary.width]]">
            <div class="fontPdLeft">
              {{_getItemPrimary(itemPrimary,configPrimary)}}
            </div>
          </div>
        </template>
    </paper-icon-item>
    <iron-collapse id="collapse{{index}}">
        <div class="collapse-content">
            <div class="bd">
                <gl-form-panel set-padding="10px 20px 10px 20px">
                    <gl-form-panel-head set-border="1px" set-padding="10px 20px 20px 20px">
                        <paper-button class="gl-btn-success" raised on-tap="saveChange" index="[[index]]">
                            <iron-icon class="gl-icon-size" icon="save"></iron-icon>บันทึก</paper-button>
                        <paper-button class="gl-btn-warning" raised on-tap="editChange" index="[[index]]">
                            <iron-icon class="gl-icon-size" icon="create"></iron-icon>แก้ไข</paper-button>
                        <paper-button class="gl-btn-danger" raised on-tap="" index="[[index]]">
                            <iron-icon class="gl-icon-size" icon="delete"></iron-icon>ลบ</paper-button>
                    </gl-form-panel-head>

                    <gl-form-panel-body>
                        <div class="title">รายละเอียดผู้ส่งออกและเรือ</div>
                    </gl-form-panel-body>

                    <!-- เพิ่มคอมโพเน้นตรงนี้ -->

                    <iron-pages selected="0" class$="iron-index-{{index}}">
                        <vessel-save data="{{itemPrimary}}" id="[[itemPrimary.collapse]]"></vessel-save>
                        <vessel-edit data="{{itemPrimary}}" id="[[itemPrimary.collapse]]"></vessel-edit>
                    </iron-pages>

                </gl-form-panel>
            </div>


            <!-- จบ -->
        </div>
    </iron-collapse>
    </template>
    <paper-toast id="toastPass" class="fit-bottom">
        <div class="content">
            <iron-icon icon="check"></iron-icon>บันทึกข้อมูลเสร็จสิน
            <paper-button on-tap="closeToast" class="yellow-button">ปิด</paper-button>
        </div>
    </paper-toast>

    <!-- <div class="horizontal end-justified layout">
      <paper-button class="button" raised>ยกเลิก</paper-button>
      <paper-button class="button" raised>บันทึก</paper-button>
    </div> -->

    </template>
    <script>
        Polymer({
            is: "list-vessel",
            behaviors: [listEditBehavior],
            properties: {
                data: {
                    type: Object,
                    notify: true
                }
            },
            attached: function() {
              console.log(this.config.primary);
            },
            checkDom: function(e) {
                var id = e.target.id;
                console.log(id);
                // this.$$.id;
                console.log(this.$$.collapsel1);
            },
            click: function() {
                var css = Polymer.dom(this.root).querySelector('#changeDivcss');
                // เช็คว่ามีแล้วหรือยัง ถ้ามีแล้วก็ไม่เพิ่ม
                // console.log(css
                if (css.classList.contains('hide') == true) {
                    css.classList.remove("hide");
                    css.classList.add("show");
                } else {
                    css.classList.remove("show");
                    css.classList.add("hide");
                }
            },
            validate: function() {
                var css = Polymer.dom(this.root).querySelector('#changeDivcss');
                css.classList.remove("show");
                css.classList.add("hide");
            },
            attached: function() {
              this.quantity=(parseFloat(this.data.amount)*parseFloat(1000))/parseFloat(this.data.package);
              this.GW=((parseFloat(this.quantity)*(parseFloat(this.data.package)+(parseFloat(this.data.weight)/parseFloat(1000)))/parseFloat(1000)));
            }


        });
    </script>
</dom-module>
