<dom-module id="content-panel">

  <style include="iron-flex iron-flex-factors gl-color">
  .rightdata {
      height: 100%;
      border-left: 1px solid var(--paper-grey-300);
      padding: 5px 10px 0px 10px;
    }
    /*#changeDivcss {
      width: 0px;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
      display: none;
    }*/
    paper-material {
      background-color: var(--gl-white-color);
      margin: 10px;
      padding: 5px;
    }
    .scrollbar{
       background-color: #00FFFF;
    }

  </style>

  <template>
    <div class="flex-horizontal">
      <div class="scrollbar">
      <paper-drawer-panel right-drawer drawer-width="75%" force-narrow id="drawer">
        <paper-header-panel drawer >
          <div class="rightdata">
            <content select="panel"></content>
          </div>
        </paper-header-panel>
        <paper-header-panel main>
          <paper-material elevation="1">
            <content select="grid"></content>
          </paper-material>

        </paper-header-panel>
      </paper-drawer-panel>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is:'content-panel',
      // ready:function(){
      //   this.changeDiv();
      // },
      changDrawer:function(){
        //เรียกใช้ฟั่งชั้น togglePanel .ใน  drawer
        this.$.drawer.togglePanel();
      },
      // changeDiv:function(){
      //   var css = Polymer.dom(this.root).querySelector('#changeDivcss');
      //
      //   if(!this.fristPanel){
      //     if(localStorage.getItem("togglePanel")=="true"
      //     && localStorage.getItem("togglePanel")!=null){
      //       // l('s');
      //       css.className += " flex-2";
      //     }
      //     this.fristPanel = true;
      //   }else{
      //
      //     // เช็คว่ามีแล้วหรือยัง ถ้ามีแล้วก็ไม่เพิ่ม
      //     // console.log(css);
      //     if (css.classList.contains('flex-2') == false){
      //       // css.style.display = "inline";
      //       css.classList.remove("displyNone");
      //       css.className += " flex-2 rightdata";
      //       localStorage.setItem("togglePanel", true);
      //     }else{
      //       // css.style.display = "none";
      //       css.classList.remove("flex-2");
      //       css.classList.remove("rightdata");
      //       css.className += " displyNone";
      //       localStorage.setItem("togglePanel", false);
      //     }
      //   }
      // },
    });
  </script>

</dom-module>
