
<dom-module id="page-style">
    <template>
        <style include="gl-size gl-color gl-table gl-panel iron-flex iron-flex-alignment">
            .header{
                text-align: center;
            }
            paper-button,.header,table{
                font-family: var(--page-font-csc);
            }
            .container{
                padding:20px;
            }
             .searchBorder {
                border: 1px solid var(--gl-gray-lighter-color);
                margin: 15px;
                border-radius: 3px
            }
            .searchBox {
                padding: 10px;
                background-color: var(--gl-gray-lighter-color);
            }
            table{
                border:1px solid #ddd;
            }
            main {
                min-width: 320px;
                max-width: 95%;
                padding: 10px;
                margin: 0 auto;
                background: #fff;
            }

            section {
                display: none;
                padding: 20px 0 0;
                border-top: 1px solid #ddd;
            }

            input {
                display: none;
            }

            label {
                display: inline-block;
                margin: 0 0 -1px;
                padding: 15px 25px;
                font-weight: 600;
                text-align: center;
                color: #bbb;
                border: 1px solid transparent;
            }

            label:before {
                font-family: fontawesome;
                font-weight: normal;
                margin-right: 10px;
            }

            /*label[for*='1']:before { content: '\f1cb'; }
            label[for*='2']:before { content: '\f17d'; }*/


            label:hover {
                color: #888;
                cursor: pointer;
            }

            input:checked + label {
                color: #555;
                border: 1px solid #ddd;
                border-top: 3px solid orange;
                border-bottom: 1px solid #fff;
            }
        </style>
    </template>
    <script>
        Polymer({
            is: 'page-style'
        });
    </script>
</dom-module>