<link rel="import" href="../../../../../bower_components/chart-elements/chart-pie.html">
<link rel="import" href="../controller/chart-controller-behavior.html">
<!-- <link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html"> -->
<dom-module id="chart-pie-g2g" >
  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
    :host {
      --paper-card:{
            width: 580px;
            min-height: 350px;
            margin: 10px;
            padding: 5px;
      }
      --paper-button:{
          min-width: 82px;
      }
    }
    *{

      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    iron-icon{
      cursor: pointer;
    }
    iron-icon.iconNextRadio{
      --iron-icon-height: 16px;
      --iron-icon-width: 16px;
      --iron-icon-stroke-color:var(--gl-gray-lighter-color);
      --iron-icon-fill-color:var(--gl-gray-color);
      margin: 16px 0px 16px 0px;
    }
    div.title{
      font-size:var(--font-size-h4);
      text-align: center;
      margin-bottom: 16px;
    }
    div.textSum{
      padding-top: 10px;
    }
    div.textSum >div.flex:nth-child(1),
    div.textSum >div.flex:nth-child(2)  {
      line-height: 32px;
    }
    div.textSum >div.flex:nth-child(2)  {
      text-align: right;
    }
    a > paper-button{
      text-decoration: none;
    }
  </style>
  <template>
      <paper-card class="statistic" heading="{{chartName}}" alt="{{chartName}}">
        <div class="layout horizontal">
          <div class="horizontal layout center" >
              <iron-icon icon="chevron-left" item-icon on-tap="chartPiePrevious"></iron-icon>
          </div>
          <div class="flex">
          <!-- <iron-pages selected="{{seleteChartPie}}"> -->
            <div>
              <div class="title" id="titleChart">
                ปริมาณข้าวที่ทำสัญญา /
                 ปริมาณข้าวทีส่งมอบ
              </div>
              <div class="horizontal layout">
                <div class="flex-8">
                  <chart-pie id="chartPie" data="[[dataChartPie]]" ></chart-pie>
                </div>

                <div class="flex-8 layout horizontal textSum">
                  <div class="flex">
                    <div class="flex">ทั้งหมด</div>
                    <div class="flex">[[_labelNames(seleteChartPie)]]</div>
                    <div class="flex">คงเหลือ</div>
                  </div>
                  <div class="flex">
                    <div class="flex">[[formatNumberNoZero(data.contract_quantity)]]</div>
                    <div class="flex">[[_calConfirm(seleteChartPie,data)]]</div>
                    <div class="flex">[[_calTotal(seleteChartPie,data)]]</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div>
              <div class="title">
                 ยอดการส่งมอบ
              </div>
              <div class="horizontal layout">
                <div class="flex-8">
                  <chart-pie id="chartPie" data="[[_computeChartPie(data.contract_quantity_shipment,data.contract_quantity_shipment_balance,nameChart.1)]]" ></chart-pie>
                </div>

                <div class="flex-8 layout horizontal textSum">
                  <div class="flex">
                    <div class="flex">ทั้งหมด</div>
                    <div class="flex">ทำสัญญาแล้ว</div>
                    <div class="flex">คงเหลือ</div>
                  </div>
                  <div class="flex">
                    <div class="flex">[[data.contract_quantity]]</div>
                    <div class="flex">[[data.contract_quantity_shipment]]</div>
                    <div class="flex">[[data.contract_quantity_shipment_balance]]</div>
                  </div>
                </div>
              </div>
            </div> -->
          <!-- </iron-pages> -->
          </div>
          <div class="horizontal layout center">
              <iron-icon icon="chevron-right" item-icon on-tap="chartPieNext"></iron-icon>
          </div>

        </div>
        <div class="layout horizontal center-justified">
            <iron-icon icon="radio-button-checked" item-icon class="iconNextRadio" id="chartContract" on-tap="chartPiePrevious"></iron-icon>
            <iron-icon icon="radio-button-unchecked" item-icon class="iconNextRadio" id="chartShipment" on-tap="chartPieNext"></iron-icon>
        </div>
        <div class="card-actions horizontal end-justified layout">
          <paper-button raised on-tap="contractDetail">รายละเอียดของสัญญา</paper-button>
          <paper-button raised on-tap="listConfirm">ยืนยันทำสัญญา</paper-button>
          <paper-button raised on-tap="listShipment">ส่งมอบสินค้า</paper-button>
          <!-- <a href="/payment" tabindex="-1"> -->
            <paper-button raised on-tap="listPayment">ชำระเงิน</paper-button>
          <!-- </a> -->
        </div>
      </paper-card>

  </template>
  <script>
    Polymer({
      is: "chart-pie-g2g",
      behaviors: [
                // gl.behavior.core,
                // gl.behavior.locales,
                FormatNumberBehavior
            ],
      properties: {
        data:{
          type: Object,
        },
        nameChart:{
          type:Array,
          value:['ทำสัญญา (ตัน)','ส่งมอบแล้ว (ตัน)']
        },
        labelName:{
          type:Array,
          value:['ทำสัญญา','ส่งแล้ว']
        },
        seleteChartPie:{
          type:Number,
          value:0
        },
        colorPie:{
          type:Array,
          value:['#5bc0de','#5cb85c']
        }
      },
      attached: function() {
        // setInterval(()=>{
        //   if (this.seleteChartPie == 0) {
        //     this.chartPieNext();
        //   }else {
        //     this.chartPiePrevious();
        //   }
        // }, 3000);
        this.chartPiePrevious();
        // this.chartPieNext();
      },
      _computeChartPie:function (confirm,balance,name,colorPie){
          this.fire('okload');
          // console.log('dddd');
        // console.log(confirm,balance,name);
            return {
                    labels: [
                      // "ทั้งหมด (ตัน)",
                      name,
                      "คงเหลือ (ตัน)"
                    ],
                    datasets: [
                      {
                        data: [
                               confirm,
                               balance
                             ],
                        backgroundColor: [
                          colorPie,
                          "#777"
                        ],
                        hoverBackgroundColor: [
                          colorPie,
                          "#777"
                        ]
                      }]
                  };
      },
      //observe
      _labelNames:function (seleteChartPie) {
        return this.labelName[seleteChartPie];
      },
      _calConfirm:function (seleteChartPie,data) {
        if (seleteChartPie == 0) {
          return this.formatNumberNoZero(data.contract_quantity_confirm);
        }else {
          return this.formatNumberNoZero(data.contract_quantity_shipment);
        }
      },
      _calTotal:function (seleteChartPie,data) {
        if (seleteChartPie == 0) {
          return this.formatNumberNoZero(data.contract_quantity_confirm_balance);
        }else {
          return this.formatNumberNoZero(data.contract_quantity_shipment_balance);
        }
      },
      //end_observe
      chartPiePrevious:function () {
        this.seleteChartPie=0;
        // ปริมาณข้าวที่ทำสัญญา /
        //  ปริมาณข้าวทีส่งมอบ
        this.$$('#titleChart').innerHTML = 'ปริมาณข้าวที่ทำสัญญา';
        this.$.chartContract.icon = 'radio-button-checked';
        this.$.chartShipment.icon = 'radio-button-unchecked';
        // this.dataChartPie = this._computeChartPie(this.data.contract_quantity_shipment,this.data.contract_quantity_shipment_balance,this.nameChart[1],this.colorPie[1]);
        this.dataChartPie = this._computeChartPie(this.data.contract_quantity_confirm,this.data.contract_quantity_confirm_balance,this.nameChart[0],this.colorPie[0]);

        // console.log(this.dataChartPie);
      },
      chartPieNext:function () {
        this.seleteChartPie=1;
        this.$$('#titleChart').innerHTML = 'ปริมาณข้าวที่ส่งมอบ';
        this.$.chartContract.icon = 'radio-button-unchecked';
        this.$.chartShipment.icon = 'radio-button-checked';
        this.dataChartPie = this._computeChartPie(this.data.contract_quantity_shipment,this.data.contract_quantity_shipment_balance,this.nameChart[1],this.colorPie[1]);

        // this.dataChartPie = this._computeChartPie(this.data.contract_quantity_confirm,this.data.contract_quantity_confirm_balance,this.nameChart[0],this.colorPie[0]);
        // console.log(this.dataChartPie);
      },
      contractDetail:function () {
        this.fire('get-contract-detail',{detail:'contract-detail',data:this.data});
      },
      listConfirm:function () {
        this.fire('get-list-confirm',{detail:'list-confirm',data:this.data});
      },
      listShipment:function () {
        this.fire('get-list-shipment',{detail:'list-shipment',data:this.data});
      },
      listPayment:function () {
        document.cookie = "url="+this.data.contract_id;
        // console.log(this.data.contract_id);
        this.fire('nylon-change-page',{path:'/payment'})
              // console.log(x.indexOf("url"));
        // this.glChangePath('/g2g/add-draft/');
      },
    });
  </script>
</dom-module>
