<dom-module id="fee-exports-sum-g2g">
<style is="custom-style" include="iron-flex iron-flex-alignment">
  .flexchild-1 {
    @apply(--layout-flex);
  }
  .flexchild-2 {
    @apply(--layout-flex-2);
  }
  .flexchild-5 {
    @apply(--layout-flex-5);
  }
  .flex-center-justified {
    @apply(--layout-horizontal);
    @apply(--layout-center-justified);
  }
  .header {
    text-align: center;
  }
  .text {
    margin-top: 10px;
    margin-right: 10px;
  }
  .setText{
    font-weight: bold;
    font-size: 18px;
    color : #737373;
  }
  .inputHeader {
    width: 40%;
  }
  .container {
    padding: 10px;
  }
  table.default {
    border-collapse: collapse;
    width: 100%
  }
  table.default,
  th,
  td {
    border-bottom: 1px solid #ddd;
  }
  th,
  td {
    padding: 15px;
  }
  th {
    text-align: center;
    background-color: #F1F1F1;
    white-space: nowrap;
  }
  td {
    text-align: left;
    white-space: nowrap;
  }
  tr:hover {
    background-color: #F1F1F1;
  }
  gl-form-input.number{
    --paper-input-container-input:{
      text-align: right;
    }
  }
</style>
  <template>

    <gl-form-panel-body set-padding="5px" set-border="0px">
      สรุปผล
      <div style="overflow-x:auto;">
    <table class="default">
       <tr>
        <th>รายการ Invoice</th>
        <th>จำนวน(ตัน) <br>(1)</th>
        <th>มูลค่าต่อตัน(USD)<br>(2)</th>
        <th>รวมเงิน(USD)<br>(3)=(1)*2</th>
        <th>จำนวนเงิน(บาท)<br>(4)=(3)*34.96</th>
        <th>หักค่า FE (บาท)<br>(5)</th>
        <th>หักภาษีรายได้ 1 % (บาท)<br> (6)=((4)-(5))*1%</th>
        <th>คงเหลือ (บาท)<br> (7)=((4)-(5)-(6))</th>
      </tr>
      <template is="dom-repeat" items="[[totalInvoice]]" as="invoice">
      <tr>
        <td>รวม (Invoice No : [[invoice.invoice_no]])</td>
        <td><gl-form-input class="number" format-number="on" style="width:140px;" value="[[invoice.totalTonInvoices]]" disabled ></gl-form-input></td>
        <td><gl-form-input format-number="on" style="width:140px;text-align:center;" value="[[invoice.totalPricePerTonUsdInvoices]]" disabled ></gl-form-input></td>
        <td><gl-form-input class="number" format-number="on" style="width:140px;" value="[[invoice.totalAmountUsdInvoices]]" disabled ></gl-form-input></td>
        <td><gl-form-input class="number" format-number="on" style="width:140px;" value="[[invoice.totalBathInvoices]]" disabled ></gl-form-input></td>
        <td><gl-form-input class="number" format-number="on" style="width:140px;" value="[[invoice.totalFeeInvoices]]" disabled ></gl-form-input></td>
        <td><gl-form-input class="number" format-number="on" style="width:140px;" value="[[invoice.totalIncomeTaxInvoices]]" disabled ></gl-form-input></td>
        <td><gl-form-input class="number" format-number="on" style="width:140px;" value="[[invoice.totalMoneyBathInvoices]]" disabled ></gl-form-input></td>
      </tr>
      </template>
      <tr>
        <td >รวมทั้งหมด</td>
        <td><gl-form-input class="number" style="width:140px;" format-number="on" value="[[data.totalTonInvoices]]" disabled ></gl-form-input></td>
        <td><gl-form-input style="width:140px;text-align:center;" format-number="on" value="[[data.totalPricePerTonUsdInvoices]]" disabled ></gl-form-input></td>
        <td><gl-form-input class="number" style="width:140px;" format-number="on" value="[[data.totalAmountUsdInvoices]]" disabled ></gl-form-input></td>
        <td><gl-form-input class="number" style="width:140px;" format-number="on" value="[[data.totalBathInvoices]]" disabled ></gl-form-input></td>
        <td><gl-form-input class="number" style="width:140px;" format-number="on" value="[[data.totalFeeInvoices]]" disabled ></gl-form-input></td>
        <td><gl-form-input class="number" style="width:140px;" format-number="on" value="[[data.totalIncomeTaxInvoices]]" disabled ></gl-form-input></td>
        <td><gl-form-input class="number" style="width:140px;" format-number="on" value="[[data.totalMoneyBathInvoices]]" disabled ></gl-form-input></td>
      </tr>
    </table>
  </div>
    </gl-form-panel-body>
  </template>
    <script>
      Polymer({
        is: "fee-exports-sum-g2g",
        properties: {
          data: {
            type: Object,
            value:{
              totalTonInvoices:0,
              totalPricePerTonUsdInvoices:0,
              totalAmountUsdInvoices:0,
              totalBathInvoices:0,
              totalFeeInvoices:0,
              totalIncomeTaxInvoices:0,
              totalMoneyBathInvoices:0,
            }
          }
        },
        observers:[
          'check(totalInvoice.*)'
        ],
        check:function (totalInvoice) {
          // console.log('totalInvoice =>',this.totalInvoice);
          var result=0;
          this.totalInvoice.map((el)=>{
            result += el.totalTonInvoices;
          });
          this.data.totalTonInvoices = result
          this.notifyPath('data.totalTonInvoices');
          result=0;
          this.totalInvoice.map((el)=>{
            result += el.totalPricePerTonUsdInvoices;
          });
          this.data.totalPricePerTonUsdInvoices = result
          this.notifyPath('data.totalPricePerTonUsdInvoices');
          result=0;
          this.totalInvoice.map((el)=>{
            result += el.totalAmountUsdInvoices;
          });
          this.data.totalAmountUsdInvoices = result
          this.notifyPath('data.totalAmountUsdInvoices');
          result=0;
          this.totalInvoice.map((el)=>{
            result += el.totalBathInvoices;
          });
          this.data.totalBathInvoices = result
          this.notifyPath('data.totalBathInvoices');
          result=0;
          this.totalInvoice.map((el)=>{
            result += el.totalFeeInvoices;
          });
          this.data.totalFeeInvoices = result
          this.notifyPath('data.totalFeeInvoices');
          result=0;
          this.totalInvoice.map((el)=>{
            result += el.totalIncomeTaxInvoices;
          });
          this.data.totalIncomeTaxInvoices = result
          this.notifyPath('data.totalIncomeTaxInvoices');
          result=0;
          this.totalInvoice.map((el)=>{
            result += el.totalMoneyBathInvoices;
          });
          this.data.totalMoneyBathInvoices = result
          this.notifyPath('data.totalMoneyBathInvoices');
        },
      });
    </script>
</dom-module>
