<link rel="import" href="shipment-detail.html">
<dom-module id="list-of-shipments">
<style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
*{
  font-family: 'CSChatThaiUI', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.table-body > tr > td{
  cursor:pointer
}

.table-head > tr > th:nth-child(1),
.table-head > tr > th:nth-child(3),
.table-body > tr > td:nth-child(1),
.table-foot > tr > td:nth-child(1),
.table-foot > tr > td:nth-child(3) {
  width: 20%;
  text-align: center;
}
.table-body > tr > td:nth-child(3){
  width: 20%;
  text-align: right;
}
.table-head > tr > th:nth-child(2),
.table-body > tr > th:nth-child(2),
.table-foot > tr > th:nth-child(2) {
  width: 40%;
}
.table-foot > tr > td {
  padding: 16px;
}
.addconfirm{
  margin-bottom: 16px;
}
</style>
<template>

<iron-pages selected="[[pageSelected]]" attr-for-selected="name">
  <div name="listOfShipment">
    <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
      <gl-form-panel-head label="" set-padding="10px" set-border="1px">
      <div class="addconfirm horizontal end-justified layout">
        <paper-button raised class="gl-btn-primary" on-tap="createShipment">เพิ่ม</paper-button>
      </div>
        </gl-form-panel-head>
      <table class="gl-table-default">
        <thead class="table-head">
          <tr>
            <th>ลำดับที่</th>
            <th>ชื่องวด</th>
            <th>ปริมาณ (ตัน)</th>
            <th>สถานะ</th>
          </tr>
        </thead>
        <!-- <tfoot class="table-foot">
          <tr>
            <td></td>
            <td>รวม</td>
            <td>750,000</td>
          </tr>
        </tfoot> -->
        <tbody class="table-body">
          <template is="dom-if" if="[[!_isHaveMany(data.shipment,1)]]">
            <template is="dom-repeat" items="[[data.shipment]]">
              <tr on-tap="getShipmentDetail" data="[[item]]">
                <td>[[_ObcountIndex(index)]]</td>
                <td>[[item.shm_name]]</td>
                <td>[[formatNumberNoZero(item.shm_quantity)]]</td>
                <td>[[item.shm_status_name]]</td>
              </tr>
            </template>
          </template>
          <template is="dom-if" if="[[_isHaveMany(data.shipment,1)]]">
              <tr >
                <td colspan="4">  ไม่มีข้อมูล</td>
              </tr>
          </template>
        </tbody>
      </table>
      </gl-form-panel>
    </div>
  </div>
  </div>
  <div name="cretaeShipment">
    <shipment-detail insert-data="[[insertData]]" is-view-seleted="[[isViewSeleted]]" is-input-disabled="[[isInputDisabled]]" confirm-letter="[[confirmTrue]]"></shipment-detail>
  </div>
  <div name="shipmentDetail">
    <shipment-detail data-for-select="[[dataForSelect]]" is-view-seleted="[[!isViewSeleted]]" data="[[dataSelected]]" insert-data="[[!insertData]]" confirm-letter="[[confirmTrue]]" is-input-disabled="[[!isInputDisabled]]"></shipment-detail>
  </div>
</iron-pages>
</template>
<script>
Polymer({
  is: "list-of-shipments",
  behaviors: [
      g2gCongtroller,
      g2gModelBehavior,
      FormatNumberBehavior
  ],
  listeners:{
    'get-list-shipment-page':'_getListShipmentPage',
    'get-list-shipment-detail':'_getListShipmentDetail',
    'get-list-bl':'_getListBL',
  },
  properties: {
    pageSelected: {
      type: String,
      value:'listOfShipment'
    },
    insertData:{
      type:Boolean,
      value:false
    },
    confirmTrue:{
      type:Object,
    },
    dataForSelect:{
      type:Object,
    },
    shipmentPage:{
      type:Boolean,
      value:true
    }
  },
  observers:[
    '_getCml(data.contract_id)',
  ],
  createShipment:function () {
      this.pageSelected='cretaeShipment';
  },
  _getListShipmentPage:function () {
    this.pageSelected='listOfShipment';
  },
  _getCml:function (contractId) {
    // console.log(data);
    this.read('./g2g/confirm/contract/id/'+contractId,(data)=>{
        this.confirmTrue = data;
    });
  },
  getShipmentDetail:function (e) {
    this.fire('toast',{status:'load'});
    this.dataSelected = e.currentTarget.data;
    let cl_id = this.dataSelected.cl_id ;
    let confirm = this.confirmTrue.filter((clId)=>{ return clId.cl_id == cl_id });
    // เอาค่าจดหมายที่ตรงกันใส่ในดาต้าเพื่อให้เลือกได้
    this.dataForSelect.contract_quantity_shipment_balance=this.data.contract_quantity_shipment_balance;
    this.notifyPath('dataForSelect.contract_quantity_shipment_balance');
    // console.log(this.dataForSelect.contract_quantity_shipment_balance);
    this.dataForSelect.cl_no=this.dataSelected.cl_no;
    this.notifyPath('dataForSelect.cl_no');
    this.dataForSelect.buyer_masks=this.data.buyer_masks;
    this.notifyPath('dataForSelect.buyer_masks');
    this.set('dataForSelect.cl_type_rice',confirm[0].cl_type_rice);
    this.notifyPath('dataForSelect.cl_type_rice');

    this.async(()=>{
      console.log(this.dataSelected.shm_id);
         this.read('./g2g/book/shipment/id/'+this.dataSelected.shm_id,(data)=>{
           this.dataForSelect.blNos=data;
           this.notifyPath('dataForSelect.blNos');
           this._getShipment(this.dataSelected.shm_id,(data)=>{
              this.dataSelected = data;
              // console.log('this.dataSelected =>',this.dataSelected);
              this.dataForSelect.shm_id=this.dataSelected.shm_id;
              // console.log('this.dataSelected=>',this.dataSelected);
              this.notifyPath('dataForSelect.shm_id');
              this.pageSelected = 'shipmentDetail';
              this.fire('toast',{status:'load'});
          });
         });
    },1000);
  },
  _getListBL:function (e) {
    // console.log(e.detail.shm_id);
    this.read('./g2g/book/shipment/id/'+e.detail.shm_id,(data)=>{
      // Object.assign(this.dataForSelect.blNos,data);
      // this.dataForSelect.blNos=data;
      // Object.assign(this.dataForSelect.blNos,e.detail.detail)
      this.dataForSelect.blNos=data;
      // console.log(this.dataForSelect.blNos);
      this.notifyPath('dataForSelect.blNos');
    });
  },
  _getListShipmentDetail:function (e) {
    this.read('./g2g/book/shipment/id/'+e.detail.sm_id,(data)=>{
      // Object.assign(this.dataForSelect.blNos,data);
      // this.dataForSelect.blNos=data;
      this.dataForSelect.blNos=data;
      // console.log(this.dataForSelect.blNos);
      this.notifyPath('dataForSelect.blNos');

      this._getShipment(e.detail.sm_id,(data)=>{
         this.dataSelected = data;
         this.notifyPath('dataSelected');
     });
    });

  },
  _getShipment:function (shmId,callback) {
    this.read('./g2g/shipment/id/'+shmId,(data)=>{
        callback(data);
    });
  }
});
</script>
</dom-module>
