<dom-module id="booking-edit">
  <style include="gl-color gl-panel">
    :host {
      display: block;
    }
    .body{
      margin:  15px;
      padding:  15px;
      border: 1px solid #b3b3b3
    }
    .title {
      text-align: center;
      font-size: var(--font-size-h4);
      font-family: 'rsubold', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
  </style>
  <template>
<div class="body">


<gl-form-panel-body>
  <div class="title">Bill of lading</div>
</gl-form-panel-body>
    <gl-form-panel-body>
      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="Booking No." error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด"  value="{{data.book_no}}" id="book_no" name="book_no"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="B/L No." error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{data.bl_no}}" id="bl_no" name="bl_no"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="Void No."error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{data.ship_voy_no}}"
            id="voidNo" name="voidNo"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="Lot No." placeholder="Lot No." value="{{data.ship_lot_no}}"
            id="lotNo" name="lotNo"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <!-- <gl-form-input label="Shipping Agent" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{shipment.carrier_name}}" id="carrier_name" name="carrier_name"></gl-form-input> -->
          <gl-combo-box id="carrier_id" label="Shipping Agent" item-label-path="carrier_name"
           item-value-path="carrier_id" items="{{common.carrier}}" value="{{data.carrier_id}}"></gl-combo-box>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-combo-box id="shipline_id" label="Shipping Line" item-label-path="shipline_name"
            item-value-path="shipline_id" items="{{common.shipline}}"  value="{{data.shipline_id}}" on-value-changed="getShip"></gl-combo-box>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-combo-box id="ship_id" label="Vessel" item-label-path="ship_name"
           item-value-path="ship_id" items="{{shipInShipline}}" value="{{data.ship_id}}" ></gl-combo-box>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-combo-box id="surveyor_id" label="Surveyor" item-label-path="surveyor_name"
              item-value-path="surveyor_id" items="{{common.surveyor}}" value="{{data.surveyor_id}}"></gl-combo-box>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-combo-box id="port_id" label="POL" item-label-path="port_name"
           item-value-path="port_id" items="{{pol}}"  value="{{data.load_port_id}}"></gl-combo-box>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-combo-box id="dest_port_id" label="POD" item-label-path="port_name"
             item-value-path="port_id" items="{{pod}}" value="{{data.dest_port_id}}" on-value-changed="_getPlace"></gl-combo-box>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-combo-box id="deli_port_id" label="Place of Delivery" item-label-path="port_name"
            item-value-path="port_id" items="{{pod}}" value="{{data.deli_port_id}}" ></gl-combo-box>
        </gl-grid-col>
      </gl-grid-row>
      </gl-form-panel-body>
    <gl-form-panel-footer>
      <paper-button class="gl-btn-danger" raised index="[[index]]" on-tap="cancelShow">
        </iron-icon>ยกเลิก</paper-button>
      <paper-button class="gl-btn-success" raised index="[[index]]" on-tap="addBl">
        </iron-icon>บันทึก</paper-button>
    </gl-form-panel-footer>
</div>
  </template>
  <script>
    Polymer({
      is: "booking-edit",
      properties: {
        data: {
          type: Object,
          notify:true,
          value:{
            book_no:'',
            bl_no:'',
            ship_voy_no:'',
            shipline_id:'',
            ship_lot_no:'',
            carrier_id:'',
            ship_id:'',
            surveyor_id:'',
            load_port_id:'',
            dest_port_id:'',
            deli_port_id:'',
          }
        }
      },
      observers:[
        '_initData(data.book_no)',
        'getCounty(country,common)',
      ],
      behaviors: [
        g2gModelBehavior,
        vesselBehavior,
      ],
      _initData:function (book_no) {
        this.data.bl_no = book_no;
        this.notifyPath('data.bl_no');
      },
      _getPlace:function (data) {
        // console.log(data.detail.value);
        this.data.deli_port_id = data.detail.value;
        // console.log("this.shipment.deli_port_id =>", this.shipment.deli_port_id );
        this.notifyPath('data.deli_port_id');
      },
      addBl:function () {
        this.fire('add-Bl',{data:this.data});
      },
      cancelShow:function () {
        this.fire('cancel-Show',{data:'canael'});
      }
    });
  </script>
</dom-module>
