<dom-module id="shipment-insert">
  <style include="gl-color gl-size">
  * {
      font-family: 'rsuregular', sans-serif;
      -webkit-font-smoothing: antialiased;
  }
  .title {
    text-align: center;
    font-size: var(--font-size-h4);
    font-family: 'rsubold', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  </style>
  <template>

<gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
      <gl-form-panel-body>
        <div class="title">Add Shipment</div>
      </gl-form-panel-body>
       <gl-form-panel-body label="" set-padding="10px" set-border="1px">
         <gl-grid-row width="{{getWidth}}">
           <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,3]]">
             <gl-form-input label="Shipment Id"  error-message="กรุณาใส่รายละเอียด Shipment Id" required placeholder="Shipment Name" value="{{shipMent.shm_no}}"></gl-form-input>
           </gl-grid-col>
           <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,8]]">
             <gl-form-input label="Shipment Name"  error-message="กรุณาใส่รายละเอียด Shipment Name" required placeholder="Shipment Name" value="{{shipMent.shm_name}}"></gl-form-input>
           </gl-grid-col>
         </gl-grid-row>
         <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,3]]">
         <gl-combo-box id="cl_id" label="Confirmation Letter" item-label-path="cl_no" error-message="กรุณาเลือกรายละเอียด Confirmation Letter"
             item-value-path="cl_id" value="{{shipMent.cl_id}}" items="{{cml}}" ></gl-combo-box>
          </gl-grid-col>
          </gl-grid-row>
       </gl-form-panel-body>
       <gl-form-panel-footer label="" set-padding="10px">

             <paper-button  class="gl-btn-success save" raised on-tap="insertShipment">
               <iron-icon class="gl-icon-size" icon="save"></iron-icon>บันทึก</paper-button>

       </gl-form-panel-footer>
   </gl-form-panel>


  </template>
  <script>
    Polymer({
      is: "shipment-insert",
      properties: {
        shipMent: {
          type: Object,
          value:{}
        }
      },
      behaviors: [
          gl.behavior.core,
          gl.behavior.locales
      ],
      observers:[
        'getconfirm(contractId)'
      ],
      getconfirm:function (contractId) {
      if (typeof contractId != 'undefined'){
          this.getDb('./g2g/confirm/contract/id/'+contractId,(data)=>{
            this.cml = data;
            // console.log(this.cml);
            // this.cl_id.items = data;
          });
        }
      },

      insertShipment:function () {
        this.shipMent.contract_id= this.contractId;
      //  console.log(this.shipMent);
        this.postDb(this.shipMent);
      },
      postDb:function (data) {
        axios.post('./g2g/shipment/insert', data)
                  .then(function (response) {
                    console.log("success");
                    console.log(response);
                    this.glQuery('addContract').getChange();
                    this.glQuery('contentPanel').changDrawer();
                  }.bind(this))
                  .catch(function (error) {
                    console.log("error");
                    console.log(error);
                  })
      },
      getDb:function (url,callback) {
        // console.log(url);
        axios.get(url)
          .then(function(response){
            callback(response.data);

          }.bind(this))
          .catch(function (error) {
          }.bind(this));
          // console.log(1);
      },

    });
  </script>
</dom-module>
