<link rel="import" href="../../../../../bower_components/gl-form/gl-form-label-input.html">
<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<dom-module id="vessel-edit">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
  .top{
    margin-top: 30px;
  }
  .w{
    text-align: center;
  }
  .text-center{
    text-align: center;
    font-size: var(--font-size-h4);
    font-family: 'rsubold', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  .width-dropdown{
    width: 100%;
  }
  .title {
    text-align: center;
    font-size: var(--font-size-h4);
    font-family: 'rsubold', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  </style>

  <template>
    <gl-form-panel set-padding="10px 20px 10px 20px">
      <template is="dom-if" if="[[!checkBtnView(approve)]]">
        <gl-form-panel-head set-border="1px" set-padding="10px 20px 20px 20px">
          <paper-icon-button icon="create" raised on-tap="editInput" title="Edit" index="[[index]]"></paper-icon-button>
          <paper-icon-button icon="delete" raised on-tap="shipmentDelete" title="Delete" id="[[itemPrimary.shm_det_id]]"></paper-icon-button>
        </gl-form-panel-head>
      </template>


      <gl-form-panel-body>
        <div class="title">รายละเอียดผู้ส่งออกและเรือ</div>
      </gl-form-panel-body>

    <gl-form-panel-body>
      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-combo-box class="required" required  id="exporter_id" label="ผู้ส่งออก" item-label-path="seller_name_en" disabled="[[checkInput]]"
           item-value-path="exporter_id"  items="{{common.seller}}" value="{{data.exporter_id}}" on-value-changed="getSellerPhone"></gl-combo-box>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
          <gl-form-label-input label="Tel." placeholder="ใส่รายละเอียด" value="{{seller_phone}}" id="seller_phone" name="seller_phone"></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input disabled label="Booking No."class="requested" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด"  value="{{data.book_no}}" id="book_no" name="book_no"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-combo-box class="required" required  id="bl_no" label="B/L No." item-label-path="bl_no" disabled="[[checkInput]]"
             item-value-path="bl_no" items="{{blNos}}" value="{{data.bl_no}}" on-value-changed="_initFormBl"></gl-combo-box>
            <!-- <gl-form-input label="B/L No." class="requested"   error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{shipment.bl_no}}" id="bl_no" name="bl_no"></gl-form-input> -->
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-combo-box id="shipline_id" label="Shipping Line" item-label-path="shipline_name" disabled
             item-value-path="shipline_id" items="{{common.shipline}}" value="{{data.shipline_id}}" on-value-changed="getShip"></gl-combo-box>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-combo-box id="ship_id" label="Vessel" item-label-path="ship_name" disabled
           item-value-path="ship_id" items="{{shipInShipline}}" value="{{data.ship_id}}"></gl-combo-box>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-combo-box id="surveyor_id" label="Surveyor" item-label-path="surveyor_name" disabled
            item-value-path="surveyor_id" items="{{common.surveyor}}" value="{{data.surveyor_id}}"></gl-combo-box>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input disabled label="Void No."  error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{data.ship_voy_no}}"
          id="voidNo" name="voidNo"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input disabled label="Lot No."  error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{data.ship_lot_no}}"
          id="lotNo" name="lotNo"></gl-form-input>
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <!-- <gl-form-input label="Shipping Agent" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{shipment.carrier_name}}" id="carrier_name" name="carrier_name"></gl-form-input> -->
          <gl-combo-box id="carrier_id" label="Shipping Agent" item-label-path="carrier_name" disabled
             item-value-path="carrier_id" items="{{common.carrier}}" value="{{data.carrier_id}}"></gl-combo-box>
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-combo-box id="port_id" label="POL" item-label-path="port_name" disabled
           item-value-path="port_id" items="{{pol}}" value="{{data.load_port_id}}"></gl-combo-box>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <vaadin-date-picker class="required" required  disabled="[[checkInput]]" label="ETD"class="requested" value="{{data.etd_date}}"></vaadin-date-picker>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <vaadin-date-picker class="required" required  disabled="[[checkInput]]" label="ETA"class="requested" value="{{data.eta_date}}"></vaadin-date-picker>
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-combo-box id="dest_port_id" label="POD" item-label-path="port_name" disabled
          item-value-path="port_id" items="{{pod}}"  value="{{data.dest_port_id}}"></gl-combo-box>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-combo-box id="deli_port_id" label="Place of Delivery" item-label-path="port_name" disabled
          item-value-path="port_id" items="{{pod}}" value="{{data.deli_port_id}}"></gl-combo-box>
        </gl-grid-col>


        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          [[testNum(data.*,'num_of_container')]]
            <gl-form-input class="required" required  disabled="[[checkInput]]" label="จำนวนตู้คอนเทนเนอร์" type="number" class="requested"auto-validate error-message="กรุณาใส่รายละเอียด" pattern="[0-9]*" required placeholder="ใส่รายละเอียด" value="{{data.num_of_container}}" id="num_of_container" name="num_of_container"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          [[testNum(data.*,'weight_per_container')]]
          <gl-form-input class="required" required  disabled="[[checkInput]]" label="ตู้ละ (ตัน)"class="requested" type="number" auto-validate error-message="กรุณาใส่รายละเอียด" required pattern="[0-9,,]*" placeholder="ใส่รายละเอียด"
            value="{{data.weight_per_container}}" id="weight_per_container" name="weight_per_container"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <vaadin-date-picker class="required" required  disabled="[[checkInput]]" label="Packing Date"class="requested" value="{{data.packing_date}}"></vaadin-date-picker>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input  class="required" required disabled="[[checkInput]]" label="Packing Time"class="requested" type="time" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{data.packing_time}}" id="pack_time" name="pack_time"></gl-form-input>
        </gl-grid-col>



        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <vaadin-date-picker class="required" required  disabled="[[checkInput]]" label="Production Date"class="requested" value="{{data.product_date}}" name="product_date" id="product_date"></vaadin-date-picker>
        </gl-grid-col>
      </gl-grid-row>
    </gl-form-panel-body>

    <gl-form-panel-body>
      <div class="text-center">รายละเอียดการส่งมอบ</div>
    </gl-form-panel-body>

    <gl-form-panel-body>
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input  label="Confirmation Letter" value="[[clNo]]" ></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-combo-box id="type_rice_id" label="ชนิดข้าว" item-label-path="type_rice_name_en" disabled="[[checkInput]]"
           class="required" required  item-value-path="type_rice_id" items="[[clTypeRice]]" value="{{data.type_rice_id}}" on-value-changed="getRiceTypeForPackage"></gl-combo-box>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-combo-box id="package_id" label="Package (kg/PP Bag)" item-label-path="package_name" disabled="[[checkInput]]"
           class="required" required  item-value-path="package_id" items="[[package_id]]" value="{{data.package_id}}" on-value-changed="getPackageForPrice"></gl-combo-box>
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="Price (USD/MT)" format-number value="{{price.price_per_ton}}"></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="น้ำหนักกระสอบ (gram/bag)"  value="{{price.package_weight_bag}}"></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <!-- [[testNum(data.*,'shm_det_quantity')]] -->
          [[testNum(data.*,'shm_det_quantity')]]
          <gl-form-input class="required" required  disabled="[[checkInput]]" label="จำนวน/ตัน" class="requested" type="number" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{data.shm_det_quantity}}"></gl-form-input>
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="MARKS"  value="[[buyerMasks]]"></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="Quantity (BAGS)" value="{{quantityBag}}"></gl-form-label-input>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="G.W. WEIGHT (M/T)"  value="{{gw}}"></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="N.W. WEIGHT (M/T)"  value="{{nw}}"></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="T.W. WEIGHT (M/T)"  value="{{tw}}"></gl-form-label-input>
        </gl-grid-col>
      </gl-grid-row>
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,5]]"></gl-grid-col>


        <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]">
          <div class="top">ORIGINALS</div>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,2]]">
          [[testNum(data.*,'origin_page')]]
          <gl-form-input class="required" required  label=""  disabled="[[checkInput]]"class="w padL requested" type="number" value="{{data.origin_page}}"></gl-form-input>
        </gl-grid-col>
        <div class="top">/</div>
        <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,2]]">
          [[testNum(data.*,'nn_page')]]
          <gl-form-input class="required" required  label=""  disabled="[[checkInput]]"class="w requested" type="number" value="{{data.nn_page}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]">
          <div class="top">N/N</div>
        </gl-grid-col>
      </gl-grid-row>
      <!-- <paper-button  class="gl-btn-success" raised on-tap="checkData" index="[[index]]">
        <iron-icon class="gl-icon-size" icon="save"></iron-icon>checkData</paper-button> -->
    </gl-form-panel-body>
    <gl-form-panel-footer set-padding="10px 20px 0px 20px">
      <template is="dom-if" if="[[checkBtnView(checkBtn)]]">
        <paper-button  class="gl-btn-success" raised on-tap="saveShipment" >
          <iron-icon class="gl-icon-size" icon="save"></iron-icon>บันทึก</paper-button>
        </template>
    </gl-form-panel-footer>

    <template is="dom-if" if="[[insertShipment]]">
      <gl-form-panel-footer>
        <paper-button class="gl-btn-danger" raised index="[[index]]" on-tap="cancalShow">
          </iron-icon>ยกเลิก</paper-button>
        <paper-button class="gl-btn-success" raised index="[[index]]" on-tap="clickSubmit">
        </iron-icon>บันทึก</paper-button>
      </gl-form-panel-footer>
    </template>


  </gl-form-panel>

  </template>

  <script>
    Polymer({
      is: "vessel-edit",
      behaviors: [vesselBehavior, gl.behavior.core,g2gModelBehavior],
      properties: {
        ship:{
          type:Object,
        },
        data:{
          type:Object,
          notify: true,
        },
        propTest:{
          type:String,
          value:"first"
        },
        common:{
          type:Object
        },
        editsMdatial:{
          type:Object,
          value:{}
        },
      },
      // listeners: {
      //   'shipline_id.selected-item-changed': 'regularTap'
      // },

      observers: [
        '_getBl(shmId)',
        'getCounty(country,common)',
        'getShip(data.shipline_id,common.*)',
        'getRiceTypeForPackage(clTypeRice,data.type_rice_id)',
        // 'getPackageForPrice(package,data.package_id)',
        // 'check(data.shm_det_quantity)',
        'getPrice(contractId)',
        'calc(data.shm_det_quantity)',
        // 'shipment(data.shm_det_quantity)'
      ],
      attached: function() {
        //send to file add-contract
        this.fire('vessel-edit-common',{node:this});
      },
      setData:function (data) {
        // console.log(data.shipline_id == undefined);
        if(data.shipline_id != undefined){
          // console.log(data.shipline_id);
          this.data.shipline_id =data.shipline_id;
          this.data.bl_no=data.bl_no;
          this.data.book_no=data.bl_no;
          this.data.ship_id=data.ship_id;
          this.data.surveyor_id=data.surveyor_id;
          this.data.ship_voy_no=data.ship_voy_no;
          this.data.carrier_id=data.carrier_id;
          this.data.ship_lot_no=data.ship_lot_no;
          this.data.load_port_id=data.load_port_id;
          this.data.dest_port_id=data.dest_port_id;
          this.data.deli_port_id=data.deli_port_id;
          // console.log(this.data);
          this.notifyPath('data.shipline_id');
          this.notifyPath('data.bl_no');
          this.notifyPath('data.book_no');
          this.notifyPath('data.ship_id');
          this.notifyPath('data.surveyor_id');
          this.notifyPath('data.ship_voy_no');
          this.notifyPath('data.carrier_id');
          this.notifyPath('data.ship_lot_no');
          this.notifyPath('data.load_port_id');
          this.notifyPath('data.dest_port_id');
          this.notifyPath('data.deli_port_id');
        }

      },
      getPrice:function (contractId) {
          //หาชนิดข้าว
          // console.log(this.data.type_rice_id);
          var typeRiceb =this.data.type_rice_id
          var packages = this.data.package_id;
          var typeRice = this.clTypeRice.filter(function (clTypeRice) { return clTypeRice.type_rice_id == typeRiceb});

          //หาขนาดแพ็คเก็ต
          var packagefil = typeRice[0].package.filter(function (typeRice) { return typeRice.package_id == packages});
          // console.log(packagefil[0].price_per_ton);
          this.price = packagefil[0];

        this.calc(this.data.shm_det_quantity);
      },
      saveShipment:function () {
        // console.log(this.data);
        // this.data.id=this.data.shm_det_id
        this.editsMdatial.id = this.data.shm_det_id;
        this.editsMdatial.bl_no = this.data.bl_no;
        this.editsMdatial.book_no = this.data.book_no;
        this.editsMdatial.carrier_id = this.data.carrier_id;
        this.editsMdatial.deli_port_id = this.data.deli_port_id;
        this.editsMdatial.dest_port_id = this.data.dest_port_id;
        this.editsMdatial.eta_date = new Date (this.data.eta_date);
        this.editsMdatial.etd_date = new Date (this.data.etd_date);
        this.editsMdatial.exporter_id = this.data.exporter_id;
        this.editsMdatial.load_port_id = this.data.load_port_id;
        this.editsMdatial.nn_page = this.data.nn_page;
        this.editsMdatial.num_of_container = this.data.num_of_container;
        this.editsMdatial.origin_page = this.data.origin_page;
        this.editsMdatial.package_id = this.data.package_id;
        this.editsMdatial.packing_date = new Date (this.data.packing_date);
        this.editsMdatial.packing_time = this.data.packing_time;
        this.editsMdatial.product_date = new Date (this.data.product_date);
        this.editsMdatial.ship_id = this.data.ship_id;
        this.editsMdatial.ship_lot_no = this.data.ship_lot_no;
        this.editsMdatial.ship_voy_no = this.data.ship_voy_no;
        this.editsMdatial.shipline_id = this.data.shipline_id;
        this.editsMdatial.shm_det_quantity = this.data.shm_det_quantity;
        this.editsMdatial.shm_id = this.data.shm_id;
        this.editsMdatial.surveyor_id = this.data.surveyor_id;
        this.editsMdatial.type_rice_id = this.data.type_rice_id;
        this.editsMdatial.weight_per_container = this.data.weight_per_container;
        console.log(this.editsMdatial);
        var el = Polymer.dom(this.root).querySelectorAll('.required');
        var stat = el.map((el)=> el.validate());
        // console.log(this.csonfirmLetter);
        if (stat.every(elem => elem == true)) {
          this.fire('save-Data-shipmentDetail',{
            data:this.editsMdatial,
            index:this.index
          });
          // this.editInput();
        }

      },
      shipmentDelete:function () {
        console.log(this.data);
        //list-vessel.html
        this.fire('delete-Data-shipmentDetail',{
          shm_det_id:this.data.shm_det_id,
          shm_id:this.data.shm_id
        });
      },
      cancalShow:function () {
        this.fire('cancel-Show',{data:'canael'});
      },
      clickSubmit:function () {
        var el = Polymer.dom(this.root).querySelectorAll('.required');
        var stat = el.map((el)=> el.validate());
        // console.log(this.csonfirmLetter);
        if (stat.every(elem => elem == true)) {
          this.fire('click-Submit',{data:'fin'});
        }

      }

    });
  </script>
</dom-module>
