<link rel="import" href="../list-edit/list-vessel.html">
<dom-module id="vessel-page">
  <template>
    <list-vessel data="{{data}}"shm-id="[[shmId]]" contract-id="[[contractId]]" >
      <items type="primary">
        <list item="seller_name_en" label="ผู้ส่งออก" width="flex-2"></list>
        <list item="type_rice_name_en" label="ชนิดข้าว" width="flex-2"></list>
        <list item="price" label="Price(USD/MT)" width="flex"></list>
        <list item="amount" label="จำนวน/ตัน" width="flex"></list>
      </items>
    </list-vessel>
  </template>
  <script>
    Polymer({
      is: "vessel-page",
      properties: {
        data:{
          type: Object,
          notify: true,
          value: function() {return [];}
        },
        contractId:{
          type:String,
          notify:true
        },
        shmId:{
          type:String,
          notify:true
        },
      }
    });
  </script>
</dom-module>
