<link rel="import" href="../../../../../bower_components/gl-form/gl-form-label-input.html">
<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<dom-module id="vessel-edit">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
  .top{
    margin-top: 30px;
  }
  .w{
    text-align: center;
  }
  .padL{
    padding-left: 35px;
  }
  .text-center{
    text-align: center;
    font-size: var(--font-size-h4);
    font-family: 'rsubold', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  .width-dropdown{
    width: 100%;
  }
  </style>

  <template>
    <gl-form-panel-body>{{data.seller_id}}
      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <!-- <gl-form-input label="ผู้ส่งออก" auto-validate error-message="กรุณาใส่ชื่อผู้ส่งออก" required placeholder="ใส่ชื่อผู้ส่งออก" -->
            <!-- value="{{data.seller_name_en}}" id="actualShipper" name="actualShipper"></gl-form-input> -->
            <gl-combo-box id="seller_id" label="ผู้ส่งออก" item-label-path="seller_name_en"
                item-value-path="seller_id" value="{{data.seller_id}}" on-value-changed="getSellerPhone"></gl-combo-box>
        </gl-grid-col>







      </gl-grid-row>
    </gl-form-panel-body>

    <gl-form-panel-body>
      <div class="text-center">รายละเอียดการส่งมอบ</div>
    </gl-form-panel-body>



  </template>

  <script>
    Polymer({
      is: "vessel-edit",
      behaviors: [vesselBehavior, gl.behavior.core],
      properties: {
        ship:{
          type:Object,
        },
        data:{
          type:Object,
        }
      },
      observers: [
        // 'getShip(data.shipline_id)',
        // 'riceType'()
      ],


    });
  </script>
</dom-module>
