<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<dom-module id="calculate-setting">
  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .title{
      text-align: center;
      font-size: 22px;
    }
    .flex-equal-justified {
      @apply(--layout-horizontal);
      @apply(--layout-justified);
    }
    .bg{
      background-color: #F1F1F1;
      padding: 10px;
    }
    .font{
      font-size: 18px;
    }
    .container{
      padding: 20px;
    }
    .panel{
      border: 1px solid var(--gl-gray-light-color);
      padding: 5px;
      border-radius: 3px;
    }
    .headerContent{
      background-color: orange;
      padding: 10px;
      color:white;
    }
  </style>
  <template>
      <header>
        <div class="title container">การคำนวณส่วนจัดสรร</div>
       
        <div class="bg font">
          <gl-grid-row width="{{getWidth}}">
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
              <div>ปีโควตา : 2559</div>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"> 
              <div>ประเภทข้าว : ข้าวขาว</div>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">  
              <div>ครั้งที่ทำการคำนวณ : 1</div>
            </gl-grid-col> 
          </gl-grid-row>
          </div>

      </header>
         <gl-form-panel set-padding = "0px 0px 20px 0px">
           <div class="headerContent">ค้นหารายชื่อบริษัททั้งหมดที่ทำการบันทึกประวัติเพื่อคำนวณ</div>
            <gl-form-panel-body set-border="0px">
        <div>
           <gl-grid-row width="{{getWidth}}">
               <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                 <vaadin-date-picker label="Pick a date"></vaadin-date-picker>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
              </gl-grid-col>
             <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                 <vaadin-date-picker label="Pick a date"></vaadin-date-picker>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
                 <paper-button class="gl-btn-primary" raised>
                    <iron-icon icon="search"></iron-icon>
                 </paper-button>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
              </gl-grid-col>
           </gl-grid-row>
        </div>
        <div class="container">
        <paper-listbox class="panel">
            <div class="bg"> 
              <div class="flex-equal-justified">
                <paper-checkbox checked="{{selectAll}}" style="padding:10px">Select All </paper-checkbox>
                <paper-button raised on-tap="cal">คำนวณ</paper-button>       
              </div>
            </div> 
            <div>
              <template is="dom-repeat" items="{{companyName}}">
                
                <paper-item>
                  <paper-checkbox id="CheckData" style="padding:5px" checked="{{item.check}}" on-input="changeCheck">{{item.name}}</paper-checkbox>
                </paper-item>
              </template> 
            </div>
            </paper-listbox>
            </div>
            </gl-form-panel-body>
         </gl-form-panel>
       
        <div>
          
          </div>

         <gl-form-panel set-padding = "0px 0px 20px 0px">
           <div class="headerContent">รายละเอียดการจัดสรรโควตา</div>
            <gl-form-panel-body set-border="0px">
           <div class="vertical layout flex marginTL">
          <div class="horizontal layout">
            <div class="flex-3 textcontent">ยอดการส่งออกรวม</div>
            <div class="textcontent"> : </div>
            <div class="flex"><gl-form-input no-label-float value="{{resault}}"></gl-form-input></div>
            <div class="flex"></div>
          </div>
          <div class="horizontal layout">
            <div class="flex-3 textcontent">ยอดรวมการขอหนังสือรับรอง</div>
            <div class="textcontent"> : </div>
            <div class="flex"><gl-form-input no-label-float value="{{resault}}"></gl-form-input></div>
            <div class="flex"></div>
          </div>
          <div class="horizontal layout">
            <div class="flex-3 textcontent">ยอดรวมประวัติส่งออก 3 ปี เพื่อคำนวณส่วนจัดสรร</div>
            <div class="textcontent"> : </div>
            <div class="flex"><gl-form-input no-label-float value="{{resault}}"></gl-form-input></div>
            <div class="flex"></div>
          </div>
          <div class="horizontal layout">
            <div class="flex-3 textcontent">ยอดรวมปริมาณที่ไม่ได้ขอใช้หนังสือรับรอง</div>
            <div class="textcontent"> : </div>
            <div class="flex"><gl-form-input no-label-float value="{{resault}}"></gl-form-input></div>
            <div class="flex"></div>
          </div>
          <div class="horizontal layout">
            <div class="flex-3 textcontent">ยอดรวมส่วนต่างปริมาณการส่งออกข้าว (ตามกรมศุลกากร)</div>
            <div class="textcontent"> : </div>
            <div class="flex"><gl-form-input no-label-float value="{{resault}}"></gl-form-input></div>
            <div class="flex"></div>
          </div>
          <div class="horizontal layout">
            <div class="flex-3 textcontent">ยอดรวมส่วนต่างมูลค่าการส่งออกข้าว (ตามกรมศุลกากร)</div>
            <div class="textcontent"> : </div>
            <div class="flex"><gl-form-input no-label-float value="{{resault}}"></gl-form-input></div>
            <div class="flex"></div>
          </div>
          <div class="horizontal layout">
            <div class="flex-3 textcontent">ปริมาณโควตา 80%</div>
            <div class="textcontent"> : </div>
            <div class="flex"><gl-form-input no-label-float value="{{resault}}"></gl-form-input></div>
            <div class="flex"></div>
          </div>
          <div class="horizontal layout">
            <div class="flex-3 textcontent">ปริมาณโควตา 10%</div>
            <div class="textcontent"> : </div>
            <div class="flex"><gl-form-input no-label-float value="{{resault}}"></gl-form-input></div>
            <div class="flex"></div>
          </div>
        </div>
            </gl-form-panel-body>
         </gl-form-panel>

        
      </div>
      <footer>
        <div class="horizontal end-justified layout">
          <paper-button class="gl-btn-danger" raised>ยกเลิก</paper-button>
          <paper-button class="gl-btn-success" on-tap="_saveData" raised>บันทึก</paper-button>
        </div>
      </footer>
  </template>
  <script>
    Polymer({
      is: "calculate-setting",
      properties:{
        companyName:{
          type: Array,
          value:[
          {id:'1',name:'เอเชีย โกลเด้นไรซ์ บจก.',check:false},
          {id:'2',name:'เอเคน อิเตอร์เนชั่นแนล',check:false},
          {id:'3',name:'เอ็นพีเรียลคาร์เปท',check:false},
          {id:'4',name:'เอส อาร์ ซี ฟูตล์',check:false},
          {id:'5',name:'เอส ที เกรน บจก',check:false},
          {id:'6',name:'ฮ่วยชวนค้าข้าว บจก',check:false},
          {id:'7',name:'แอดวานซ์ไรซ์เทรดดิ้ง',check:false},
          ]
        },
        resault:{
          type: String
        },
        selectAll:{
          type: Boolean,
          value: false,
          observer: '_selectAllChanged'
        }
      },
      cal:function(e){
        
        const check = (item)=>{
            return item.check == true;
        }
        this.resault = '1';
        console.log(this.companyName.filter(check));
      },
      _selectAllChanged:function(val){ 
        this.companyName.map((item,index)=>{
          this.set('companyName.'+index+'.check',val);
        });
      },

    });
  </script>
</dom-module>
