<link rel="import" href="../list-edit/list-vessel.html">
<link rel="import" href="../../data/data-port.html">
<dom-module id="vessel-page">
  <template>

    <list-vessel data="{{data}}">
      <items type="primary">
        <list item="actualShipper" label="ผู้ส่งออก" width="flex-2"></list>
        <list item="riceType" label="ชนิดข้าว" width="flex-2"></list>
        <list item="price" label="Price(USD/MT)" width="flex"></list>
        <list item="weight" label="จำนวน/ตัน" width="flex"></list>
      </items>
      <items type="secondary" item="sub" style="display:none;">
        <list>
          <paper-input label="ทดสอบการปิด" disabled value="ทดสอบการเพิ่ม"></paper-input>
        </list>
      </items>
    </list-vessel>
  </template>
  <script>
    Polymer({
      is: "vessel-page",
      properties: {
        data:{
          type:Object,
          value:function(){
            return [
              {
                id:1,
                collapse:'collapsel1',
                actualShipper:'Toumi Food And Product CO., LTD',
                riceType:'Thai White Rice 5% Brokens,',
                price:'392',
                weight:'1,000',
                package:'50',
                cityEnd:'Shekou',
                bs:'Sinotrans Thai Logistics Co., LTD',
                bn:'SITGBUU0678088',
                vesselName:'Hanjin Belawan V.1609',
                voidNo:'V.1452-018E',
                lotNo:'14',
                pol:'THBKK',
                etd:'26/04/2016',
                eta:'10/05/2016',
                pod:'Yueyang (CHENG LING JI)',
              },
              {
                id:2,
                collapse:'collapsel2',
                actualShipper:'Capital Seril co.,ltd',
                riceType:'Thai White Rice 5% Brokens,',
                price:'397',
                weight:'1,000',
                package:'20',
                cityEnd:'Thailand',
                bs:'Sinotrans Thai Logistics Co., LTD',
                bn:'SITGBUU0678088',
                vesselName:'Hanjin Belawan V.1609',
                voidNo:'V.1234',
                lotNo:'12',
                pol:'THBKK',
                etd:'26/04/2016',
                eta:'10/05/2016',
                pod:'Bangnatrad',
              }
              ]}
        }
      }
    });
  </script>
</dom-module>
