<link rel="import" href="../list-edit/list-vessel.html">
<link rel="import" href="../../data/data-exporter.html">
<dom-module id="vessel-page">
  <template>
    <data-exporter data-export="{{data}}"></data-exporter>
    <!-- {{data}} -->
    <list-vessel data="{{data}}">
      <items type="primary">
        <list item="actualShipper" label="ผู้ส่งออก" width="flex-2"></list>
        <list item="riceType" label="ชนิดข้าว" width="flex-2"></list>
        <list item="price" label="Price(USD/MT)" width="flex"></list>
        <list item="weight" label="จำนวน/ตัน" width="flex"></list>
      </items>
    </list-vessel>
  </template>
  <script>
    Polymer({
      is: "vessel-page",
      properties: {
        data:{
          type:Object,
          notify:true
        }
      }
    });
  </script>
</dom-module>
