<link rel="import" href="../../../../../bower_components/gl-form/gl-form-label-input.html">
<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<dom-module id="vessel-save">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
  .text-center{
    text-align: center;
    font-size: var(--font-size-h4);
    font-family: 'rsubold', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  .top{
    margin-top: 30px;
  }
  .w{
    text-align: center;
  }
  </style>

  <template>
    <gl-form-panel-body>
      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="ผู้ส่งออก" auto-validate error-message="กรุณาใส่ชื่อผู้ส่งออก" required placeholder="ใส่ชื่อผู้ส่งออก" value="{{data.seller_name_en}}" id="actualShipper" name="actualShipper"></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-dropdown-menu label="เมืองท่าปลายทาง" error-message="กรุณาเลือกเมืองท่า" placeholder="เลือกเมืองท่า" required disabled>
            <paper-menu  class="dropdown-content" attr-for-selected="dest-port-id" selected="{{data.dest_port_id}}" id="cityEnd" name="cityEnd">
              <paper-item dest-port-id="[[data.dest_port_id]]">[[data.dest_port_id]]</paper-item>
            </paper-menu>
          </gl-form-dropdown-menu>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-dropdown-menu label="Shipping Line" error-message="กรุณาเลือก Shipping Line" placeholder="เลือก Shipping Line" required disabled>
            <paper-menu  class="dropdown-content" attr-for-selected="shiplineId" selected="{{data.shipline_id}}" id="bs" name="bs">
              <paper-item shipline-id="[[data.shipline_id]]">[[data.shipline_name]]</paper-item>
            </paper-menu>
          </gl-form-dropdown-menu>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-dropdown-menu label="Vessel" error-message="กรุณาเลือก Vessel" placeholder="เลือก Vessel" required disabled>
            <paper-menu  class="dropdown-content" attr-for-selected="shipId" selected="{{data.ship_id}}" id="vesselName" name="vesselName">
              <paper-item ship-id="[[data.ship_id]]">[[data.ship_name]]</paper-item>
            </paper-menu>
          </gl-form-dropdown-menu>
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="Void No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{data.ship_voy_no}}" id="voidNo" name="voidNo"></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="Lot No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{data.ship_lot_no}}" id="lotNo" name="lotNo"></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="Booking No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.book_no]]" id="bn" name="bn"></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="B/L No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.bl_no]]" id="package" name="package"></gl-form-label-input>
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="Shipping Agent" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.carrier_name]]" id="" name=""></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="Tel." auto-validate error-message="เป็นตัวเลขเท่านั้น" required pattern="[0-9]*" maxlength="20" placeholder="ใส่รายละเอียด" value="[[data.seller_phone]]"></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-dropdown-menu label="POL" error-message="กรุณาเลือก POL" placeholder="เลือก POL" required disabled>
            <paper-menu  class="dropdown-content" attr-for-selected="pol" selected="{{data.load_port_id}}" id="pol" name="pol">
              <paper-item pol="{{data.load_port_id}}">[[data.load_port_id]]</paper-item>
            </paper-menu>
          </gl-form-dropdown-menu>
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <vaadin-date-picker label="ETD" value="{{data.etd_date}}" disabled></vaadin-date-picker>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <vaadin-date-picker label="ETA" value="{{data.eta_date}}" disabled></vaadin-date-picker>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="POD" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{data.dest_port_id}}" id="pod" name="pod"></gl-form-label-input>
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="Place of Delivery" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{data.deli_port_id}}" id="pode" name="pode"></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <vaadin-date-picker label="Cut of Date" value="[[data.pack_date]]" disabled></vaadin-date-picker>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="Time" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.pack_time]]" id="" name=""></gl-form-label-input>
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="จำนวนตู้คอนเทนเนอร์" auto-validate error-message="กรุณาใส่รายละเอียด" required pattern="[0-9]{9}" placeholder="ใส่รายละเอียด" value="[[data.num_of_container]]" id="" name=""></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-label-input label="ตู้ละ (ตัน)" auto-validate error-message="กรุณาใส่รายละเอียด" required pattern="[0-9]{9}" placeholder="ใส่รายละเอียด" value="[[data.weight_per_container]]" id="" name=""></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <vaadin-date-picker label="Production" value="[[data.product_date]]" disabled></vaadin-date-picker>
        </gl-grid-col>
      </gl-grid-row>
    </gl-form-panel-body>

        <gl-form-panel-body>
          <div class="text-center">รายละเอียดการส่งมอบ</div>
        </gl-form-panel-body>

        <gl-form-panel-body>
          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]" >
              <gl-form-dropdown-menu class="width-dropdown" label="Confirmation Letter"disabled >
                <paper-menu  class="dropdown-content" attr-for-selected="clNo" selected="[[data.cl_no]]">
                  <paper-item cl-no="[[data.cl_no]]">[[data.cl_no]]</paper-item>
                </paper-menu>
              </gl-form-dropdown-menu>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-dropdown-menu class="width-dropdown" label="ชนิดข้าว" disabled>
                <paper-menu  class="dropdown-content" attr-for-selected="rice-type-id" selected="{{data.type_rice_id}}">
                  <paper-item rice-type-id="[[data.type_rice_id]]">[[data.type_rice_name_en]]</paper-item>
                </paper-menu>
              </gl-form-dropdown-menu>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-dropdown-menu label="Package (kg/PP Bag)" disabled>
                <paper-menu  class="dropdown-content" attr-for-selected="package-id" selected="{{data.package_id}}" id="package">
                  <paper-item package-id="[[data.package_id]]">[[data.pack_name]]</paper-item>
                </paper-menu>
              </gl-form-dropdown-menu>
            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="Price (USD/MT)" value="{{data.price}}"></gl-form-label-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="น้ำหนักกระสอบ (gram/bag)" value="{{data.weight_bag}}"></gl-form-label-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="จำนวน/ตัน" value="{{data.shm_det_quantity}}"></gl-form-label-input>
            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="MARKS" value="{{data.marks}}"></gl-form-label-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="Quantity (BAGS)" value="{{data.quantity_per_bag}}"></gl-form-label-input>
            </gl-grid-col>
          </gl-grid-row>

          <gl-grid-row>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                <gl-form-label-input label="WEIGHT (M/T)" value="G.W. {{gw}}"></gl-form-label-input>
              </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="" value="N.W. {{data.amount}}"></gl-form-label-input>
            </gl-grid-col>
          </gl-grid-row>

          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,12]]">
              <gl-form-label-textarea label="DESCRIPTION OF GOODS" value="{{data.type_rice_name_en}}
              PACKING : {{data.pack_name}}  {{data.weight_bag}} gram/bags"></gl-form-label-textarea>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,6]]">
              <gl-form-label-textarea label="{{quantityWords}}" value="FREIGHT COLLECT SHIPPED ON BOARD "></gl-form-label-textarea>
            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]"></gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]">
              <div class="top">ORIGINALS</div>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]">
              <gl-form-label-input label="" class="w" value="[[data.origin_page]]"></gl-form-label-input>
            </gl-grid-col>
            <div class="top">/</div>
            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]">
              <gl-form-label-input label="" class="w" value="[[data.nn_page]]"></gl-form-label-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]">
            <div class="top">N/N</div>
            </gl-grid-col>
          </gl-grid-row>

        </gl-form-panel-body>

        <gl-form-panel-footer set-padding="10px 20px 0px 20px">
            <paper-button class="gl-btn-info" raised index="[[index]"></iron-icon>Draft B/L</paper-button>
            <paper-button class="gl-btn-info" raised index="[[index]"></iron-icon>List เรือ</paper-button>
        </gl-form-panel-footer>

  </template>

  <script>
    Polymer({
      is: "vessel-save",

      attached: function() {
        var index = this.$.package.selected;
        var arr = this.$.package.innerText.split(' ');
        var packs = new Array();
        for(i=0;i<arr.length;i++){
          if(parseFloat(arr[i])>=0){
            packs.push(parseFloat(arr[i]));
          }
        }
        this.quantityBag = (parseFloat(this.data.ton) * parseFloat(1000)) / parseFloat(packs[index]);
        this.toWords(this.quantityBag);

          this.sumGW = ((parseFloat(this.quantityBag) * (parseFloat(packs[index]) + (parseFloat(this.data.weight) / parseFloat(1000))) / parseFloat(1000)));
          this.GW = this.sumGW.toFixed(3);
        //  console.log(this.GW);
      },

      toWords: function(num) {

          // Convert numbers to words
          // copyright 25th July 2006, by Stephen Chapman http://javascript.about.com
          // permission to use this Javascript on your web page is granted
          // provided that all of the code (including this copyright notice) is
          // used exactly as shown (you can change the numbering system if you wish)

          // American Numbering System
          var th = ['', 'thousand', 'million', 'billion', 'trillion'];
          // uncomment this line for English Number System
          // var th = ['','thousand','million', 'milliard','billion'];

          var dg = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'];
          var tn = ['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen'];
          var tw = ['twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];
          var s = num.toString();
          s = s.replace(/[\, ]/g, '');
          if (s != parseFloat(s)) return 'not a number';
          var x = s.indexOf('.');
          if (x == -1) x = s.length;
          if (x > 15) return 'too big';
          var n = s.split('');
          var str = '';
          var sk = 0;
          for (var i = 0; i < x; i++) {
              if ((x - i) % 3 == 2) {
                  if (n[i] == '1') {
                      str += tn[Number(n[i + 1])] + ' ';
                      i++;
                      sk = 1;
                  } else if (n[i] != 0) {
                      str += tw[n[i] - 2] + ' ';
                      sk = 1;
                  }
              } else if (n[i] != 0) {
                  str +=
                      dg[n[i]] + ' ';
                  if ((x - i) % 3 == 0) str += 'hundred ';
                  sk = 1;
              }
              if ((x - i) % 3 == 1) {
                  if (sk)
                      str += th[(x - i - 1) / 3] + ' ';
                  sk = 0;
              }
          }
          if (x != s.length) {
              var y = s.length;
              str +=
                  'point ';
              for (var i = x + 1; i < y; i++) str += dg[n[i]] + ' ';
          }
          this.quantityWords = '(' + str.replace(/\s+/g, ' ').toUpperCase() + ' BAGS ONLY)';
          //  str.replace(/\s+/g,' ');
      },
      calcBags:function(){
        var index = this.$.package.selected;
        // console.log(index);
        // return;
        var arr = this.$.package.innerText.split(' ');
        var packs = new Array();
        for(i=0;i<arr.length;i++){
          if(parseFloat(arr[i])>=0){
            packs.push(parseFloat(arr[i]));
          }
        }
        this.quantityBag = (parseFloat(this.data.ton) * parseFloat(1000)) / parseFloat(packs[index]);
        this.toWords(this.quantityBag);

        this.sumGW = ((parseFloat(this.quantityBag) * (parseFloat(packs[index]) + (parseFloat(this.data.weight) / parseFloat(1000))) / parseFloat(1000)));
        this.gw = this.sumGW.toFixed(3);
      }
  });
  </script>
</dom-module>
