<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/data-manage-behavior.html">
<link rel="import" href="./../../components/month-behavior.html">

<dom-module id="notice-manage">
    <template>
        <style is="custom-style" include="iron-flex iron-flex-alignment gl-color gl-size gl-table">
            * {
				text-align: left;
                font-family: 'rsuregular', sans-serif;
				-webkit-font-smoothing: antialiased;
			}
            table{
                border: 1px solid #ddd;
            }
            paper-button,th,td{
                font-family: 'CSChatThaiUI', sans-serif !important;
                -webkit-font-smoothing: antialiased;
            }
            .title {
                background-color: orange;
                color: white;
                padding: 10px;
		    }
            .flex-end-justified {
                @apply(--layout-horizontal);
                @apply(--layout-end-justified);
            }
            .container{
                margin: 30px 50px 0px 0px;
            }
            .responsiveTable{
                padding:10px;
                overflow-x: auto;
            }
        </style>
        <gl-form-panel set-padding = "0px 0px 20px 0px">
            <div class="title">ข้อมูลบริษัท</div>
            <gl-form-panel-body set-padding = "0px 0px 0px 0px" set-border="0px">
                <gl-grid-row width="{{getWidth}}">
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                        <gl-form-input label="ชื่อ" value="{{name.firstName}}"></gl-form-input>
                    </gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                        <gl-form-input label="สกุล" value="{{name.lastName}}"></gl-form-input>
                    </gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
                </gl-grid-row>
                <gl-grid-row width="{{getWidth}}">
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                        <vaadin-date-picker label="วันที่" value="{{data.date_moc}}"></vaadin-date-picker>
                    </gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                        <vaadin-date-picker label="วันที่ประกาศ" value="{{data.date_notify}}"></vaadin-date-picker>
                    </gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
                </gl-grid-row>
                <div class="container flex-end-justified">
                    <!--<paper-button class="gl-btn-success"  raised>บันทึก</paper-button>-->
                    <paper-button class="gl-btn-primary" on-tap="saveData" raised>อนุมัติประกาศ</paper-button>
                </div>

            </gl-form-panel-body>
        </gl-form-panel>

        <gl-form-panel set-padding = "0px 0px 20px 0px">
            <div class="title">ข้อมูลบริษัท</div>
            <gl-form-panel-body set-padding = "0px 0px 0px 0px" set-border="0px">
                <div class="responsiveTable">
                <table class="gl-table-default">
                <thead>
                    <tr>
                        <th>ลำดับที่</th>
                        <th>ผู้ส่งออกข้าว</th>
                        <th>ปริมาณส่วนจัดสรรปี [[getYearForTableHead(dataList.data)]] </th>
                        <template is="dom-repeat" items="[[getQuantityForTableHead(dataList.data)]]">
                            <th>งวดที่ [[item.period]] [[getMonthName(item.month)]]</th>
                        </template>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="[[dataList.data]]">
                        <tr on-tap="_selectData" data="{{item}}" style="cursor:pointer;" id="addRedRegExporter">
                            <td>[[_num(index)]]</td>
                            <td>[[item.name]]</td>
                            <td>[[formatNumber(item.amount_update)]]</td>
                            <template is="dom-repeat" as="period" items="[[item.quantity]]">
                                <td>[[formatNumber(period.weigth_update)]]</td>
                            </template>
                        </tr>
                    </template>
                </tbody>
                <thead>
                    <tr>
                        <th colspan="2">รวม</th>
                        <th>[[formatNumber(dataList.sum.sum_amount_update)]]</th>
                        <template is="dom-repeat" items="[[dataList.sum.sum_period]]">
                            <th>[[formatNumber(item.sw_update)]]</th>
                        </template>
                    </tr>
                </thead>
                </table>
                </div>
            </gl-form-panel-body>
        </gl-form-panel>
    </template>
    <script>
        Polymer({
            is: 'notice-manage',
            behaviors:[FormatNumberBehavior,MonthBehavior,DataManageBehavior],
            properties:{
                data:{
                    type: Object,
                    value: {
                        date_moc:'',
                        date_notify:''
                    }
                },
                name:{
                    type:Object,
                    value: {
                        firstName: '',
                        lastName: ''
                    }
                },
                dataList:{
                    observer:'manageData'
                }
            },
            _num:function(index){
                return index+1;
            },
            manageData:function(){
                console.log(this.dataList);
                var name  = this.dataList.name.split(" ");
                this.set('name.firstName',name[0]);
                this.set('name.lastName',name[1]);
                var myDate = this.dataList.date_moc.split("T");
                var myDateNotify = this.dataList.date_notify.split("T");
                this.set('data.date_notify',myDateNotify[0]);
                this.set('data.date_moc',myDate[0]);
               
            },
            getQuantityForTableHead:function(item){
                return item[0].quantity;
            },
            getYearForTableHead:function(item){
                return item[0].year;
            },
            saveData:function(){
                this.data.calculate_id = this.dataList.data[0].calculate_id;
                this.data.name = this.name.firstName+' '+this.name.lastName; 
                console.log(this.data);
                this.fire('post-data',this.data);
            }
        });
    </script>
</dom-module>