<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/data-manage-behavior.html">
<dom-module id="notice-list">
    <template>
        <style is="custom-style" include="gl-table gl-size gl-color">
            *{
                font-family: 'CSChatThaiUI', sans-serif !important;
                -webkit-font-smoothing: antialiased;
            }
            .container {
                padding: 20px;
                border: 1px solid #ddd;
                border-radius: 5px;
            }
            paper-tooltip{
                --paper-tooltip:{
                    font-size: 20px;
                    font-family: 'rsuregular', sans-serif;
                    -webkit-font-smoothing: antialiased;
                }
            }
          

            .container>div {
                font-size: 24px;
                padding: 0px 10px 10px 10px;
            }
            
            .right {
                text-align: right !important;
            }
            
            .center {
                text-align: center;
            }
            
            .left {
                text-align: left;
            }
            .flex-equal-justified {
                @apply(--layout-horizontal);
                @apply(--layout-justified);
            }
            paper-button{
                font-size : 16px;
                font-family: 'rsuregular', sans-serif;
                -webkit-font-smoothing: antialiased;
            }
        </style>
        <template is="dom-if" if="{{dataStat}}">
            <div class="container">
                <div class="flex-equal-justified">
                    <div>ประเภท : </div>
                </div>
                 <table class="gl-table-default" style="border: 1px solid #ddd;">
                <thead>
                    <tr>
                        <th class="right">คำนวณครั้งที่</th>
                        <th class="right">ปริมาณ</th>
                        <th class="right">สถานะ</th>
                    </tr>
                </thead>
            
                <tbody>
                    <tr>
                        <td colspan="6">ไม่พบข้อมูล</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </template>
        <template is="dom-if" if="{{!dataStat}}">
        <template is="dom-repeat" items="{{dataList.rice_h}}">
        <div class="container">
            
            <div class="flex-equal-justified">
                <div>ประเภท : {{item.type_rice_name}}</div>
               
            </div>
            
            <table class="gl-table-default" style="border: 1px solid #ddd;">
                <thead>
                    <tr>
                        <th>เลือก</th>
                        <th>คำนวณครั้งที่</th>
                        <th class="right">ปริมาณ</th>
                        <th class="right">สถานะ</th>
                    </tr>
                </thead>
               
                    <tbody>
                        <template is="dom-repeat" items="{{item.row}}">
                            <tr style="cursor:pointer;">
                                <td><input type="radio" name="rice_w" on-tap="getIDtypeRice_W" value="[[item.id]]"></td>
                                <td on-tap="_selectData" key="[[item]]">[[item.ordinal]]</td>
                                <td class="right"  on-tap="_selectData" key="[[item]]">[[formatNumber(item.amount_update)]]</td>
                                <td class="right"  on-tap="_selectData" key="[[item]]">[[item.status_calculate]]</td>
                            </tr>
                            
                        </template>
                    </tbody>
                
            </table>
           
        </div>
        </template>
         <template is="dom-repeat" items="{{dataList.rice_w}}">
        <div class="container">
            
            <div class="flex-equal-justified">
                <div>ประเภท : {{item.type_rice_name}}</div>
               
            </div>
            
            <table class="gl-table-default" style="border: 1px solid #ddd;">
                <thead>
                    <tr>
                        <th>เลือก</th>
                        <th>คำนวณครั้งที่</th>
                        <th class="right">ปริมาณ</th>
                        <th class="right">สถานะ</th>
                    </tr>
                </thead>
               
                    <tbody>
                        <template is="dom-repeat" items="{{item.row}}">
                            <tr style="cursor:pointer;">
                                <td><input type="radio" name="rice_h" on-tap="getIDtypeRice_H" value="[[item.id]]"></td>
                                <td on-tap="_selectData" key="[[item]]">[[item.ordinal]]</td>
                                <td class="right" on-tap="_selectData" key="[[item]]">[[formatNumber(item.amount_update)]]</td>
                                <td class="right" on-tap="_selectData" key="[[item]]">[[item.status_calculate]]</td>
                            </tr>
                        </template>
                    </tbody>
                
            </table>
           
        </div>
        </template>
        </template>
    </template>
    <script>
        Polymer({
            is: 'notice-list',
            behaviors:[FormatNumberBehavior,DataManageBehavior],
            // observers:[
            //     'checkData(dataList.rice_w,dataList.rice_h)'
            // ],
            properties:{
                dataList:{
                    type: Object,
                    observer: 'getList'
                }
            },
            getList:function(){
                if(this.dataList.rice_h != ''){
                    this.checkData(this.dataList.rice_h);
                }
                else if(this.dataList.rice_w != ''){
                     this.checkData(this.dataList.rice_w);
                }
                console.log(this.dataList);
            },
            _selectData:function(e){
                // console.log(e.currentTarget.key.id)
                this.fire('data-select',e.currentTarget.key)
            },
            getIDtypeRice_W:function(e){
               this.getRice_w = e.target.value;
            },
            getIDtypeRice_H:function(e){
               this.getRice_h = e.target.value;
            },
            getIDtypeRice:function(){
                if(typeof this.getRice_h == 'undefined')
                    return this.getRice_w;
                else if(typeof this.getRice_w == 'undefined')
                    return this.getRice_h;
                else {
                    return data = this.getRice_w+','+this.getRice_h;
                } 
                
            }
        });
    </script>
</dom-module>