
<dom-module id="panel-right">
    <template>
        <style>
            app-drawer{
                --app-drawer-width:75%;
            }
            paper-icon-button{
                width: 50px;
                height: 50px;
            }
        </style>
        <app-drawer align="right">
         <div style="margin-top:6%"></div>
          <div style="height:90%; overflow: auto;">
              <div style="padding:20px;">
                  <paper-icon-button icon="close" on-tap="toggle"></paper-icon-button>
              </div>
            <content></content>
          </div>
        </app-drawer>
    </template>
    <script>
        Polymer({
            is: 'panel-right',
            toggle:function(){
                this.$$('app-drawer').toggle();
            },
            test:function(){
                //console.log(data);
                return '1234'
            }
        });
    </script>
</dom-module>