
<dom-module id="panel-right">
    <template>
        <style is="custom-style">
            app-drawer{
                --app-drawer-width:75%;
                z-index: 1;
            }
            paper-icon-button{
                width: 40px;
                height: 40px;
            }
            paper-icon-button:hover{
                /*background-color: #C8C8C8;*/
                border-radius: 100%;
            }
            app-toolbar{
                background-color: orange;
                color: white;
                font-size: 20px;
                padding-left: 20px;
            }
            .iconLeft{
                position: absolute;
                left: 95%;
            }
        </style>
        <app-drawer align="right">
             <app-toolbar>
                <div>
                    {{title}}
                </div>
                <div class="iconLeft">
                    <paper-icon-button icon="close" on-tap="toggle"></paper-icon-button>
                </div>
		    </app-toolbar>
          <div style="height:90%; overflow: auto;">
            <content></content>
          </div>
        </app-drawer>
    </template>
    <script>
        Polymer({
            is: 'panel-right',
            properties:{
                title:{
                    type: String,
                    value: 'title'
                }
            },
            toggle:function(){
                this.$$('app-drawer').toggle();
            },
            close:function(){
                 this.$$('app-drawer').close();
            },
            test:function(){
                //console.log(data);
                return '1234'
            }
        });
    </script>
</dom-module>