<link rel="import" href="listEditBehavior.html">
<link rel="import" href="../vessel/vesselBehavior.html">
<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<link rel="import" href="../vessel/vessel-save.html">
<link rel="import" href="../vessel/vessel-edit.html">
<link rel="import" href="/bower_components/numeral-js/numeral-js.html">
<link rel="import" href="../vessel/view-noshipment.html">
<link rel="import" href="../vessel/edit-noshipment.html">
<dom-module id="list-vessel">

  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .header {
      text-align: center;
      padding: 10px 0px 10px 10px;
      background-color: var(--paper-grey-100);
      color: var(--paper-grey-600);
      word-wrap: break-word;
    }
    .text-center{
      text-align: center;
      font-size: var(--font-size-h4);
      font-family: 'rsubold', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .cleanBd {
      padding: 0px;
    }
    .bd {
      border-bottom: 1px solid #ccc;
    }
    .top {
      margin-top: 30px;
    }
    .w {
      width: 50%;
      text-align: center;
    }
    .padL {
      padding-left: 35px;
    }
    .fontPdLeft {
      padding: 10px 0px 10px 10px;
      /*word-wrap: break-word;*/
      text-align: left;
    }
    .fontPdRight{
      padding: 10px 10px 10px 10px;
      margin-right: 10px;
      text-align: right;
    }
    /*.sss:last-of-type*/
    paper-item {
      cursor: pointer;
    }
    .yellow-button {
      text-transform: none;
      color: #eeff41;
    }

    .mar-head {
      margin-left: 10px;
      margin-bottom: 10px;
    }
    .title {
      text-align: center;
      font-size: var(--font-size-h4);
      font-family: 'rsubold', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    #changeDivcss {
      background-color: var(--paper-grey-100);
      border: 1px solid black;
      padding: 10px;
      margin-bottom: 10px;
    }
    .show {
      display: block;
      /*color: white;
            background-color: var(--gl-success-color);
            margin: 20px 20px 20px 20px;*/
    }
    .hide {
      display: none;
    }
  </style>
  <template>
    <content id="primary" select="items[type=primary]"></content>
    <!-- <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,1]]">
        <gl-form-label-input  label="งวดที่" value$="[[data.shm_no]]" ></gl-form-label-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,7]]">
        <gl-form-label-input label="Shipment Name"  error-message="กรุณาใส่รายละเอียด Shipment Name" required placeholder="Shipment Name" value="{{data.shm_name}}"></gl-form-label-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[500,7],[700,2]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[500,2]]">
        <paper-button id="removeButtom" class="gl-btn-primary" raised on-tap="clickInsert" hidden>เพิ่มผู้ส่งออก</paper-button>
      </gl-grid-col>
    </gl-grid-row> -->
    <gl-form-panel-body label="" set-padding="10px" set-border="1px">
            <!--content-->

    <iron-pages selected="{{editShipment}}" attr-for-selected="name">
      <view-noshipment data="{{data}}" name="view"></view-noshipment>
      <edit-noshipment data="{{data}}" contract-id="{{contractId}}" name="edit"></edit-noshipment>
    </iron-pages>
        </gl-form-panel-body>
      <paper-button raised on-tap="deleteShipment">ลบ Shipment No</paper-button>

    <gl-grid-row width="{{getWidth}}">

      <gl-grid-col width="[[getWidth]]" grid="[[500,7],[700,10]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[500,2]]">
        <paper-button id="removeButtom" class="gl-btn-primary" raised on-tap="clickInsert" hidden>เพิ่มผู้ส่งออก</paper-button>
      </gl-grid-col>
    </gl-grid-row>
    <div id="changeDivcss" class="hide">
      <form is="iron-form" id="form" method="post" action="/form/handler">
        <gl-form-panel-body>
          <div class="title">รายละเอียดผู้ส่งออกและเรือ</div>
        </gl-form-panel-body>

        <gl-form-panel-body>
          <gl-grid-row width="{{getWidth}}">
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-combo-box required  id="seller_id" label="ผู้ส่งออก" item-label-path="seller_name_en"
                class="requested"    item-value-path="seller_id"  items="{{common.seller}}" value="{{shipment.seller_id}}" on-value-changed="getSellerPhone"></gl-combo-box>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-combo-box id="shipline_id" label="Shipping Line" item-label-path="shipline_name"
                class="requested"  item-value-path="shipline_id" items="{{common.shipline}}"  value="{{shipment.shipline_id}}" on-value-changed="getShip"></gl-combo-box>
              <!-- <gl-form-dropdown-menu label="Shipping Line" error-message="กรุณาเลือก Shipping Line"  placeholder="เลือก Shipping Line" required>
                <paper-menu class="dropdown-content" attr-for-selected="shipline-id" selected="{{shipment.shipline_id}}" id="bs" name="bs">
                  <template is="dom-repeat" items="[[shipline]]">
                    <paper-item shipline-id="[[item.shipline_id]]" shipline-name="{{item.shipline_name}}">[[item.shipline_name]]</paper-item>
                  </template>
                </paper-menu>
              </gl-form-dropdown-menu> -->
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-combo-box id="ship_id" label="Vessel" item-label-path="ship_name"
                class="requested"  item-value-path="ship_id" items="{{shipInShipline}}" value="{{shipment.ship_id}}" ></gl-combo-box>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <!-- <gl-form-input label="ผู้ส่งออก" auto-validate error-message="กรุณาใส่ชื่อผู้ส่งออก" required placeholder="ใส่ชื่อผู้ส่งออก" -->
                <!-- value="{{shipment.seller_name_en}}" id="actualShipper" name="actualShipper"></gl-form-input> -->
                <gl-combo-box id="surveyor_id" label="Surveyor" item-label-path="surveyor_name"
                  class="requested"   item-value-path="surveyor_id" items="{{common.surveyor}}" value="{{shipment.surveyor_id}}"></gl-combo-box>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="Void No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{shipment.ship_voy_no}}"
              class="requested"   id="voidNo" name="voidNo"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="Lot No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{shipment.ship_lot_no}}"
              class="requested"   id="lotNo" name="lotNo"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="Booking No."class="requested"  auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด"  value="{{shipment.book_no}}" id="book_no" name="book_no"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="B/L No." class="requested"  auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{shipment.bl_no}}" id="bl_no" name="bl_no"></gl-form-input>
            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <!-- <gl-form-input label="Shipping Agent" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{shipment.carrier_name}}" id="carrier_name" name="carrier_name"></gl-form-input> -->
              <gl-combo-box id="carrier_id" label="Shipping Agent" item-label-path="carrier_name"
              class="requested"     item-value-path="carrier_id" items="{{common.carrier}}" value="{{shipment.carrier_id}}"></gl-combo-box>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="Tel."class="requested"  error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{seller_phone}}" id="seller_phone" name="seller_phone"></gl-form-label-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-combo-box id="port_id" label="POL" item-label-path="port_name"
              class="requested"     item-value-path="port_id" items="{{pol}}"  value="{{shipment.load_port_id}}"></gl-combo-box>
            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <vaadin-date-picker label="ETD" class="requested"  value="{{shipment.etd_date}}"></vaadin-date-picker>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <vaadin-date-picker label="ETA" class="requested"  value="{{shipment.eta_date}}"></vaadin-date-picker>
            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-combo-box id="dest_port_id" label="POD" item-label-path="port_name"
                class="requested"   item-value-path="port_id" items="{{pod}}" value="{{shipment.dest_port_id}}"></gl-combo-box>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-combo-box id="deli_port_id" label="Place of Delivery" item-label-path="port_name"
              class="requested"     item-value-path="port_id" items="{{pod}}" value="{{shipment.deli_port_id}}"></gl-combo-box>
            </gl-grid-col>


            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              [[testNum(shipment.*,'num_of_container')]]
                <gl-form-input label="จำนวนตู้คอนเทนเนอร์" class="requested" type="number" auto-validate error-message="กรุณาใส่รายละเอียด" pattern="[0-9]*" required placeholder="ใส่รายละเอียด" value="{{shipment.num_of_container}}" id="num_of_container" name="num_of_container"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <vaadin-date-picker label="Packing Date" class="requested"  value="{{shipment.packing_date}}"></vaadin-date-picker>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-input label="Packing Time" class="requested" type="time" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{shipment.packing_time}}" id="pack_time" name="pack_time"></gl-form-input>
            </gl-grid-col>


            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              [[testNum(shipment.*,'weight_per_container')]]
              <gl-form-input label="ตู้ละ (ตัน)" class="requested" type="number" auto-validate error-message="กรุณาใส่รายละเอียด" required pattern="[0-9,,]*" placeholder="ใส่รายละเอียด"
                value="{{shipment.weight_per_container}}" id="weight_per_container" name="weight_per_container"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <vaadin-date-picker label="Production" class="requested"  value="{{shipment.product_date}}" name="product_date" id="product_date"></vaadin-date-picker>
            </gl-grid-col>
          </gl-grid-row>
        </gl-form-panel-body>

        <gl-form-panel-body>
          <div class="text-center">รายละเอียดการส่งมอบ</div>
        </gl-form-panel-body>

        <gl-form-panel-body>
          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="Confirmation Letter" value="{{data.cl_no}}"></gl-form-label-input>
              <!-- <gl-combo-box id="cl_id" label="Confirmation Letter" item-label-path="cl_no"
                  item-value-path="cl_id" value="{{shipment.cl_id}}" items="{{cml}}" on-value-changed="getCmlForRiceType"></gl-combo-box> -->
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-combo-box id="type_rice_id" label="ชนิดข้าว" item-label-path="type_rice_name_en"
                class="requested"   item-value-path="type_rice_id" items="[[data.cl_type_rice]]" value="{{shipment.type_rice_id}}" on-value-changed="getRiceTypeForPackage"></gl-combo-box>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-combo-box id="package_id" label="Package (kg/PP Bag)" item-label-path="package_name"
              class="requested"     item-value-path="package_id" items="[[package_id]]" value="{{shipment.package_id}}" on-value-changed="getPackageForPrice"></gl-combo-box>
            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="Price (USD/MT)" format-number value="{{price.price_per_ton}}"></gl-form-label-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="น้ำหนักกระสอบ (gram/bag)"  value="{{price.package_weight_bag}}"></gl-form-label-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              [[testNum(shipment.*,'shm_det_quantity')]]
              <gl-form-input label="จำนวน/ตัน" type="number" class="requested"  error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="{{shipment.shm_det_quantity}}"></gl-form-input>
            </gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="MARKS" value="{{data.buyerMasks}}"></gl-form-label-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="Quantity (BAGS)" value="{{quantityBag}}"></gl-form-label-input>
            </gl-grid-col>
          </gl-grid-row>

          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label="WEIGHT (M/T)"  value="G.W. {{gw}}"></gl-form-label-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label=""  value="N.W. {{nw}}"></gl-form-label-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
              <gl-form-label-input label=""  value="T.W. {{tw}}"></gl-form-label-input>
            </gl-grid-col>
          </gl-grid-row>
          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,5]]"></gl-grid-col>

            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]">
              <div class="top">ORIGINALS</div>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,2]]">
              [[testNum(shipment.*,'origin_page')]]
              <gl-form-input label=""  type="number" class="w padL requested" required  value="{{shipment.origin_page}}"></gl-form-input>
            </gl-grid-col>
            <div class="top">/</div>
            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,2]]">
              [[testNum(shipment.*,'nn_page')]]
              <gl-form-input label="" type="number"  class="w requested" required  value="{{shipment.nn_page}}"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,1]]">
              <div class="top">N/N</div>
            </gl-grid-col>
          </gl-grid-row>
        </gl-form-panel-body>

      </form>

      <gl-form-panel-footer>
        <paper-button class="gl-btn-danger" raised index="[[index]]" on-tap="clickCancel">
          </iron-icon>ยกเลิก</paper-button>
        <paper-button class="gl-btn-success" raised index="[[index]]" on-tap="clickSubmit">
          </iron-icon>บันทึก</paper-button>
      </gl-form-panel-footer>
    </div>

    <div class="layout horizontal top">
      <template is="dom-repeat" items="{{config.primary}}">
        <div class$="[[item.width]] header">
          [[item.label]]
        </div>
      </template>
    </div>{{testpast}}

    <template is="dom-repeat" as="itemPrimary" items="{{data.shipment_detail}}">

      <paper-icon-item class="fancy cleanBd bd">
        <paper-icon-button on-tap="_toggleSub" aria-controls$="collapse[[itemPrimary.shm_det_id]]" icon="chevron-right" item-icon></paper-icon-button>
        <template is="dom-repeat" as="configPrimary" items="{{config.primary}}">

          <template is="dom-if" if="[[checkTypeString(configPrimary,itemPrimary)]]">
            <div class$="[[configPrimary.width]]">
              <div class="fontPdLeft">
                {{_getItemPrimary(itemPrimary,configPrimary)}}
              </div>
            </div>
          </template>
          <template is="dom-if" if="[[checkTypeNumber(configPrimary,itemPrimary)]]">
            <div class$="[[configPrimary.width]] number">
              <div class="fontPdRight">
                <numeral-js number="{{_getItemPrimary(itemPrimary,configPrimary)}}" format="0,0" print></numeral-js>
              </div>
            </div>
          </template>
        </template>
      </paper-icon-item>
      <iron-collapse id="collapse[[itemPrimary.shm_det_id]]">
        <div class="collapse-content">
          <div class="bd">
            <gl-form-panel set-padding="10px 20px 10px 20px">
              <gl-form-panel-head set-border="1px" set-padding="10px 20px 20px 20px">
                <paper-icon-button icon="create" raised on-tap="editChange" title="Edit" index="[[index]]"></paper-icon-button>
                <paper-icon-button icon="delete" raised on-tap="shipmentDelete" title="Delete" id="[[itemPrimary.shm_det_id]]"></paper-icon-button>
              </gl-form-panel-head>

              <gl-form-panel-body>
                <div class="title">รายละเอียดผู้ส่งออกและเรือ</div>
              </gl-form-panel-body>

              <!-- เพิ่มคอมโพเน้นตรงนี้ -->
              <iron-pages selected="0" class$="iron-index-{{index}}">
                <vessel-save data="{{itemPrimary}}"
                  buyer-masks='[[data.buyerMasks]]' contract-id='[[contractId]]' cl-type-rice='[[data.cl_type_rice]]' cl-no='{{data.cl_no}}'>
                </vessel-save>
                <vessel-edit data="{{itemPrimary}}"
                  buyer-masks='[[data.buyerMasks]]' contract-id='[[contractId]]' cl-type-rice='[[data.cl_type_rice]]' cl-no='{{data.cl_no}}' country='[[data.country]]'>
                </vessel-edit>
              </iron-pages>
              <gl-form-panel-footer set-padding="10px 20px 0px 20px">
                <div id="btn_Save_{{index}}" hidden>
                  <paper-button  class="gl-btn-success" raised on-tap="saveChangeShipment" index="[[index]]">
                    <iron-icon class="gl-icon-size" icon="save"></iron-icon>บันทึก</paper-button>
                </div>
              </gl-form-panel-footer>

            </gl-form-panel>
          </div>


          <!-- จบ -->
        </div>
      </iron-collapse>
    </template>

  </template>
  <script>
        Polymer({
            is: "list-vessel",
            behaviors: [listEditBehavior,vesselBehavior],
            properties: {
                county:{
                    type:String,
                    value:'TH'
                },
                shipline:{
                  type:Object,
                  notify:true
                },
                ship:{
                  type:Object,
                },
                pol:{
                  type:Object,
                },
                cml:{
                  type:Object,
                },
                shipment:{
                  type:Object,
                  value:{
                    seller_id:'',
                    shipline_id:'',
                    ship_id:'',
                    surveyor_id:'',
                    ship_voy_no:'',
                    ship_lot_no:'',
                    book_no:'',
                    bl_no:'',
                    carrier_id:'',
                    load_port_id:'',
                    etd_date:'',
                    eta_date:'',
                    dest_port_id:'',
                    deli_port_id:'',
                    num_of_container:'',
                    packing_date:'',
                    packing_time:'',
                    weight_per_container:'',
                    product_date:'',
                    type_rice_id:'',
                    package_id:'',
                    shm_det_quantity:'',
                  }
                },
                common:{
                  type:Object,
                },
                data:{
                  type:Object,
                  value:{buyerMasks:''}
                },
                editShipment:{
                  type:String,
                  value:'view'
                }
            },
            observers: [
              'getCounty(data.country,common)',
              'calc(shipment.shm_det_quantity)'
            ],
            // listeners:[
            //   'vessel-edit-common': 'specialTap',
            //
            // ],
            ready: function() {
              this.$$('#removeButtom').removeAttribute("hidden");
            },
            // specialTap:function (e) {
            //   console.log(e);
            // },
            attached: function() {
              // console.log("created-2");
              this.fire('vessel-insert-common',{node:this});
            },
            shipmentDelete:function (e) {
              this.deleteDb(e.currentTarget.id);
              this.glQuery('layoutMain').openToastDeleteing();
            },
            saveChangeShipment:function(e){
              var id = e.currentTarget.index;
              // console.log(this.data.shipment_detail[id]);
              // delete this.data.shipment_detail[id].shm_id;
              delete this.data.shipment_detail[id].carrier_name;
              delete this.data.shipment_detail[id].cl_name;
              delete this.data.shipment_detail[id].cl_no;
              delete this.data.shipment_detail[id].deli_port_code;
              delete this.data.shipment_detail[id].deli_port_name;
              delete this.data.shipment_detail[id].dest_port_code;
              delete this.data.shipment_detail[id].dest_port_name;
              this.data.shipment_detail[id].eta_date=new Date (this.data.shipment_detail[id].eta_date);
              this.data.shipment_detail[id].etd_date=new Date (this.data.shipment_detail[id].eta_date);
              delete this.data.shipment_detail[id].load_port_code;
              delete this.data.shipment_detail[id].load_port_name;
              delete this.data.shipment_detail[id].package_kg_per_bag;
              delete this.data.shipment_detail[id].package_name;
              delete this.data.shipment_detail[id].package_weight_bag;
              this.data.shipment_detail[id].packing_date=new Date (this.data.shipment_detail[id].packing_date);
              this.data.shipment_detail[id].product_date=new Date (this.data.shipment_detail[id].product_date);
              delete this.data.shipment_detail[id].seller_address_en;
              delete this.data.shipment_detail[id].seller_address_th;
              delete this.data.shipment_detail[id].seller_email;
              delete this.data.shipment_detail[id].seller_fax;
              delete this.data.shipment_detail[id].seller_name_en;
              delete this.data.shipment_detail[id].seller_name_th;
              delete this.data.shipment_detail[id].seller_phone;
              delete this.data.shipment_detail[id].seller_tax_id;
              // delete this.data.shipment_detail[id].ship_lot_no;
              delete this.data.shipment_detail[id].ship_name;
              // delete this.data.shipment_detail[id].ship_voy_no;
              delete this.data.shipment_detail[id].shipline_name;
              delete this.data.shipment_detail[id].surveyor_name;
              delete this.data.shipment_detail[id].type_rice_name_en;
              delete this.data.shipment_detail[id].type_rice_name_th;
              this.data.shipment_detail[id].id=this.data.shipment_detail[id].shm_det_id
              delete this.data.shipment_detail[id].shm_det_id;
              // console.log(this.data.shipment_detail[id]);

              this.putDb(this.data.shipment_detail[e.currentTarget.index])

              this.$$(".iron-index-"+e.currentTarget.index).selected = 0;
              this.glQuery('layoutMain').openToastSaveing();
              this.$$('#btn_Save_'+e.currentTarget.index).setAttribute("hidden", "hidden");
            },

            clickInsert: function() {
                var css = Polymer.dom(this.root).querySelector('#changeDivcss');
                if (css.classList.contains('hide') == true) {
                    css.classList.remove("hide");
                    css.classList.add("show");
                    this.$$('#removeButtom').setAttribute("hidden", "hidden");
                }
            },
            clickSubmit: function(){
              // this.data.id = this.data.shm_id;
              // console.log(this.data);
              // delete this.data.shm_id;
              // var eta_date=new Date (this.shipment.eta_date);//.concat('T00:00:00.000Z');
              // console.log(this.shipment);
              this.shipment.shm_id=this.data.shm_id;
              this.shipment.eta_date=new Date (this.shipment.eta_date);
              this.shipment.etd_date=new Date (this.shipment.etd_date);
              this.shipment.packing_date=new Date (this.shipment.packing_date);
              this.shipment.product_date=new Date (this.shipment.product_date);

              var requested = Polymer.dom(this.root).querySelectorAll(".requested");
              // เช็คค่าว่าง
              var check = 0;
              requested.reverse().map((el)=>{
                  if(el.value == undefined || el.value ==''){
                    // console.log(el.value);
                    el.focus();
                    check += 1;
                  }
              })
              // console.log(check);
              //เช็คว่ายังเหลือค่าที่ไมไ่ด้เติมไหม ถา้ไม่ก็ส่งเลย
              if (check <= 0) {
                this.glQuery('layoutMain').openToastSaveing();
                this.postDb(this.shipment);
              }
            },
            //insert
            postDb:function (data) {
              axios.post('./g2g/shipment/detail/insert', data)
              // axios.put('http://localhost:3000/api/g2g/shipment/update', data)
                        .then(function (response) {
                          console.log("success");
                          console.log(response);
                          console.log(data);
                          this.glQuery('addContract').shipMentDeatil(data.shm_id,false,'put');
                          this.shipment = {
                            seller_id:'',
                            shipline_id:'',
                            ship_id:'',
                            surveyor_id:'',
                            ship_voy_no:'',
                            ship_lot_no:'',
                            book_no:'',
                            bl_no:'',
                            carrier_id:'',
                            load_port_id:'',
                            etd_date:'',
                            eta_date:'',
                            dest_port_id:'',
                            deli_port_id:'',
                            num_of_container:'',
                            packing_date:'',
                            packing_time:'',
                            weight_per_container:'',
                            product_date:'',
                            type_rice_id:'',
                            package_id:'',
                            shm_det_quantity:'',};
                          this.quantityBag ='';
                           this.sumGW ='';
                           this.gw  ='';
                           this.sumNw ='';
                           this.nw ='';
                           this.tw ='';
                          this.clickCancel();
                        }.bind(this))
                        .catch(function (error) {
                          console.log("error");
                          console.log(error);
                          console.log(data);
                        })
            },
            //update
            putDb:function (data) {
              axios.put('./g2g/shipment/detail/update', data)
                        .then(function (response) {
                          console.log("success");
                          console.log(response);
                          console.log(data);
                          // this.glQuery('addContract').shipMentDeatil(data.shm_id,false);
                          this.clickCancel();
                          this.glQuery('addContract').shipMentDeatil(data.shm_id,false,'put');
                        }.bind(this))
                        .catch(function (error) {
                          console.log("error");
                          console.log(error);
                        })
            },
            deleteShipment:function () {
              this.deleteShipmentDb(this.data.shm_id);
              this.glQuery('layoutMain').openToastDeleteing();
            },
            deleteShipmentDb:function (dataId) {
              axios.delete('./g2g/shipment/delete/id/'+dataId)
                        .then(function (response) {
                          console.log("success");
                          console.log(response);
                          console.log(11);
                          // console.log(this.data.shm_id);
                          this.glQuery('addContract').getChange(true,'delete');
                        }.bind(this))
                        .catch(function (error) {
                          console.log("error");
                          // console.log(error);
                        })
            },
            //delete shipment detail
            deleteDb:function (dataId) {
              axios.delete('./g2g/shipment/detail/delete/id/'+dataId)
                        .then(function (response) {
                          console.log("success");
                          console.log(response);
                          console.log(this.data.shm_id);
                          this.glQuery('addContract').shipMentDeatil(data.shm_id,false,'delete');
                        }.bind(this))
                        .catch(function (error) {
                          console.log("error");
                          // console.log(error);
                        })
            },
            clickCancel: function(){
              var css = Polymer.dom(this.root).querySelector('#changeDivcss');
              if (css.classList.contains('show') == true) {
                  css.classList.remove("show");
                  css.classList.add("hide");
                  this.$$('#removeButtom').removeAttribute("hidden");
              }
            },
        });
    </script>
</dom-module>
