<script>
  listEditBehavior = {
    properties:{
        seleted:{
            type:Object,
            notify:true
        },
        config:{
            type:Object
        },
        subComponent:{
            type:Object
        },
        selectChoice:{
            type:Number,
            value:0
        }
    },
    ready: function() {
      //หัวตาราง
      var config = {primary:[],secondary:[],third:[]};
      var items = Polymer.dom(this.$.primary).getDistributedNodes();
      var lists = Polymer.dom(items[0]).querySelectorAll('list');
      var countPrimary =lists.length;
      for (var i = 0; i < countPrimary; i++) {
          var configPointer = {
              //item:lists[i].getAttribute('item'),
              item:lists[i].getAttribute('item').split('.'),
              label:lists[i].getAttribute('label'),
              width:lists[i].getAttribute('width')
          };
          config.primary.push(configPointer);
      }
      //ข้อมูลในตาราง
       items = Polymer.dom(this.$.secondary).getDistributedNodes();
       lists = Polymer.dom(items[0]).querySelectorAll('list');
      var countsecondary =lists.length;
      for (var i = 0; i < countsecondary; i++) {
           configPointer = {
              item:lists[i].getAttribute('item'),
              label:lists[i].getAttribute('label'),
              width:lists[i].getAttribute('width')
          };
          config.secondary.push(configPointer);
      }

      items = Polymer.dom(this.$.third).getDistributedNodes();
      lists = Polymer.dom(items[0]).querySelectorAll('list');
     var countthird =lists.length;
    //  console.log(lists);
     for (var i = 0; i < countthird; i++) {
          configPointer = {
             item:lists[i].getAttribute('item'),
             label:lists[i].getAttribute('label'),
             width:lists[i].getAttribute('width')
         };
         config.third.push(configPointer);
     }
      // console.log(config);
      this.config = config;
    },
    _toggleDrawer: function() {
      this.glQuery('contentPanel').changDrawer();
    },
    _getItemPrimary:function(item,config){
      // console.log(item[config.item]);
        return item[config.item];
    },
    toggle: function(e) {
       var targetAttribute = e.currentTarget.getAttribute('aria-controls');
      //  console.log(targetAttribute);
       this.$$('#'+targetAttribute).toggle();
     },
     _toggleSub:function(e){
       var targetAttribute = e.currentTarget.getAttribute('aria-controls');
       this.$$('#'+targetAttribute).toggle();
       if (e.target.icon == 'expand-more') {
         e.target.icon = 'chevron-right';
       }else {
         e.target.icon = 'expand-more'
       }
     },
     editChange:function(e){
      this.$$(".iron-index-"+e.currentTarget.index).selected = 1;
      //console.log(Polymer.dom(this.root).querySelector("[iron-index="+e.currentTarget.index+"]"));
          //this.selectChoice = 1;
      // this.closeToast();

      this.$$('#btn_Save_'+e.currentTarget.index).removeAttribute("hidden");
    },
     saveChange:function(e){
       this.$$(".iron-index-"+e.currentTarget.index).selected = 0;
      //  this.openToast();

       var css = Polymer.dom(this.root).querySelector('#changeCss');
       if (css.classList.contains('show') == true) {
           css.classList.remove("show");
           css.classList.add("hide");
       }
     },
     _edit:function(e){
       var editText = '#'+e.target.parentElement.parentElement.getAttribute('id');
       var change = Polymer.dom(this.$$(editText)).querySelectorAll('paper-input');
       return change;
     },
     openToast: function() {
      this.$.toastPass.open();
    },
    // closeToast:function () {
    //   this.$.toastPass.hide();
    // },
    toggleDrawer: function() {
      this.glQuery('contentPanel').changDrawer();
    },
    _getBind: function(e) {
      this.fire('nx-grid-' + e.type, {
          data: e.currentTarget.data,
          level: e.currentTarget.getAttribute('level')
        });
    },
    checkTypeString:function(type,itemPrimary){
      // console.log(11,type,itemPrimary);
      // console.log(typeof itemPrimary[type.item]);
      return typeof itemPrimary[type.item] === "string";
    },
    checkTypeNumber:function(type,itemPrimary){
      // console.log(11,type,itemPrimary);
      // console.log(itemPrimary[type.item]);
      return typeof itemPrimary[type.item] === "number";
    },
  };
</script>
