<link rel="import" href="../list-edit/listBehavior.html">
<dom-module id="list-dit">
    <style include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .header {
      padding: 10px 0px 0px 10px;
      background-color: var(--paper-grey-100);
      color: var(--paper-grey-600);
      font-size: var(--font-size-h4);
      padding: 5px;
      text-align: center;

      font-family: 'rsuregular', sans-serif;
        -webkit-font-smoothing: antialiased;
    }
    paper-item {
      cursor:pointer;
      /*--paper-item-focused-before:{
        opacity:0;
        background-color: pink;
      }*/
      --paper-item-focused: {
        background-color: var(--gl-info-color);
      }
      --paper-item-selected:{
        background-color: var(--gl-info-color);
      }
    }
    paper-item:hover {
      background-color: var(--gl-info-color);
    }
    .text{
      text-align: center;
    }
    .button{
      margin: 10px;
    }
    </style>
    <template>
    <content id="primary" select="items[type=primary]"></content>
   <!-- Bl -->
   <div class="button">
     <paper-checkbox checked={{selectDataAll}}> เลือกทั้งหมด</paper-checkbox> <paper-button raised class="gl-btn-danger" on-tap="_retrader">ต่ออายุ คน.</paper-button>
   </div>
   <div class="header layout horizontal">
     <template is="dom-repeat" items="{{config.primary}}">
        <div  class$="[[item.width]]">
           [[item.label]]
        </div>
    </template>
   </div>

   <paper-listbox>
    <template is="dom-repeat" as="itemPrimary" items="{{data}}">
      <paper-item on-tap="_getBind" level="detailRegExporter" data="{{itemPrimary}}">
        <div>
            <paper-checkbox name="pause" checked={{itemPrimary.check}} class="checkbox"></paper-checkbox>
        </div>
          <template is="dom-repeat" as="configPrimary" items="{{config.primary}}">
            <div class$="[[configPrimary.width]] text"  on-tap="_toggleDrawer">
                {{_getItemPrimary(itemPrimary,configPrimary)}}
            </div>
            </div>
          </template>
      </paper-item>
    </template>
  </paper-listbox>
<!-- End Bl -->

    </template>
    <script>
        Polymer({
            is: "list-dit",
            behaviors: [listBehavior,gl.behavior.core],
            properties: {
              data:{
                type: Array,
                value: []
              },
              selectDataAll: {
                type: Boolean,
                value: false,
                observer: '_changeselectDataAll'
              }
            },
            _changeselectDataAll:function (val) {
              // console.log(this.data);
              this.data.map((item,index)=>{
                this.set('data.'+index+'.check',val);
              });
            },
            _retrader: function(){
              const check = (item)=>{
                  return item.check == true;
              }
              // console.log(this.data.filter(check));
              this.data.filter(check).map((datas)=>{
                datas.id = datas.trader_id;
                datas.trader_date_approve = new Date;
                delete datas.exporter_active_name;
                delete datas.exporter_no;
                delete datas.exporter_date_approve;
                delete datas.exporter_date_update;
                delete datas.exporter_id;
                delete datas.country_fullname_en;
                delete datas.country_id;
                delete datas.country_name_en;
                delete datas.country_name_th;
                delete datas.exporter_active;
                delete datas.exporter_status;
                delete datas.exporter_status_name;
                delete datas.seller_address_en;
                delete datas.seller_agent;
                delete datas.seller_address_th;
                delete datas.seller_id;
                delete datas.seller_email;
                delete datas.seller_fax;
                delete datas.seller_name_en;
                delete datas.seller_name_th;
                delete datas.seller_phone;
                delete datas.seller_tax_id;
                delete datas.trader_date_expire;
                delete datas.trader_distric;
                delete datas.trader_name;
                delete datas.trader_active;
                delete datas.trader_active_name;
                delete datas.trader_no;
                delete datas.trader_id;
                delete datas.trader_office;
                delete datas.trader_province;
                delete datas.type_lic_fullname;
                delete datas.type_lic_id;
                delete datas.type_lic_name;
                delete datas.check;
                // console.log(datas);
                this.updateTrader(datas);
              });
            },
            updateTrader:function (datas) {
              axios.put('./external/trader/update', datas)
                        .then(function (response) {
                          console.log("success");
                          console.log(response);
                          this.glQuery('pauseExporter').getExporters();
                        }.bind(this))
                        .catch(function (error) {
                          console.log("error");
                          console.log(error);
                        })
            }
        });
    </script>
</dom-module>
