
<dom-module id="data-manage">
    <template>
        <style include="gl-size gl-color">
            .content{
                padding: 20px;
            }
            .flex-end-justified {
                @apply(--layout-horizontal);
                @apply(--layout-end-justified);
            }
        </style>
        <div class="content">
            <paper-input label="name(th)" value="{{name.nameTH}}"></paper-input>
            <paper-input label="name(eng)" value="{{name.nameEN}}"></paper-input>
            
            <div class="container flex-end-justified">
                <div>
                    <paper-button class="gl-bg-success" on-tap="saveData" raised>Save</paper-button>
                </div>
            </div>
            
        </div>
    </template>
    <script>
        Polymer({
            is: 'data-manage',
            behaviors:[reportAction],
            properties:{
                name:{
                    type: Object,
                    value:{
                        nameTH:'',
                        nameEN:''
                    }
                }
            },
            saveData:function(){
                
                this.EXPORT_SAVE_NAME(this.name)
                .then(()=>{
                    this.fire('close');
                });
                
            }
        });
    </script>
</dom-module>