
<dom-module id="data-manage">
    <template>
        <style>
            div{
                padding: 20px;
            }
        </style>
        <div>
            <paper-input label="name(th)" value="{{name.nameTH}}"></paper-input>
            <paper-input label="name(eng)" value="{{name.nameEN}}"></paper-input>
            <paper-button on-tap="saveData" raised>Save</paper-button>
        </div>
    </template>
    <script>
        Polymer({
            is: 'data-manage',
            behaviors:[reportAction],
            properties:{
                name:{
                    type: Object,
                    value:{
                        nameTH:'',
                        nameEN:''
                    }
                }
            },
            saveData:function(){
                
                this.EXPORT_SAVE_NAME(this.name)
                .then(()=>{
                    this.fire('close');
                });
                
            }
        });
    </script>
</dom-module>