<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/month-behavior.html">
<link rel="import" href="./../../components/data-manage-behavior.html">

<dom-module id="quota-list">
    <template>
        <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
           .gl-table-default{
               border-collapse: collapse;
               width: 100%;
               overflow-x:auto;
           }
           .gl-table-default,.gl-table-default > thead > tr > th,.gl-table-default > tbody > tr > td{
               border-bottom: 1px solid #ddd;
           }
           .gl-table-default > thead > tr > th,.gl-table-default > tbody > tr > td{
               padding: 15px;
           }
           .gl-table-default > thead > tr > th {
              text-align: left;
              background-color: #F1F1F1;
           }
           .gl-table-default > tbody > tr:hover{
               background-color: #F1F1F1;
           }
           .right{
               text-align: right !important;
           }
           .center{
               text-align: center !important;
           }
        </style>
        <div>
            <table class="gl-table-default" style="border: 1px solid #ddd;">
                <thead>
                    <th class="center">ประเภทข้าว</th>
                    <th class="right">งวดที่/เดือน</th>
                    <th>ปริมาณโควตา</th>
                    <th>ปริมาณโควตารวม</th>
                </thead>
                <tbody>
                     <template is="dom-if" if="{{dataStat}}">
                        <tr>
                            <td colspan="4">ไม่พบข้อมูล</td>
                        </tr>
                    </template>
                        <template is="dom-repeat" items="{{data.type_rice}}">
                            <tr on-tap="_selectData" id="detailRegExporter" data="[[item]]" style="cursor:pointer;">
                                <td class="center">{{item.type_rice_name_th}}</td>
                                <td>
                                    <template is="dom-repeat" items="{{item.period}}">
                                        <div class="right">งวดที่ [[_setIndex(index)]] เดือน [[getMonthName(item.month)]]</div>    
                                    </template>
                                </td>
                                <td>
                                    <template is="dom-repeat" items="{{item.period}}">
                                        <div>[[formatNumber(item.quantity)]]</div>
                                    </template> 
                                </td>
                                <td>[[formatNumber(item.amount)]]</td>
                            </tr>
                        </template>
                     
                </tbody>
            </table>
        </div>
    </template>
    <script>
        Polymer({
            is: 'quota-list',
            behaviors: [FormatNumberBehavior,MonthBehavior,DataManageBehavior],
            observers:['checkData(data.type_rice)'],
            _setIndex:function(item){
                return item = item+1;
            },
            getMonth:function(month){
                // console.log(month);
                month.type_rice.map((item)=>{
                    this.quaotaMonth = item.period;
                });
            },
            _selectData:function(e){
                // console.log(e.currentTarget.data);
                this.fire('data-select',e.currentTarget.data);
                
            }
        });
    </script>
</dom-module>
