<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/month-behavior.html">
<link rel="import" href="./../../components/data-manage-behavior.html">

<dom-module id="quota-list">
    <template>
        <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
            *{
                font-family: 'CSChatThaiUI', sans-serif !important;
                -webkit-font-smoothing: antialiased;
            }
           .gl-table-default{
               border-collapse: collapse;
               width: 100%;
               overflow-x:auto;
           }
           .gl-table-default,.gl-table-default > thead > tr > th,.gl-table-default > tbody > tr > td{
               border-bottom: 1px solid #ddd;
           }
           .gl-table-default > thead > tr > th,.gl-table-default > tbody > tr > td{
               padding: 15px;
           }
           .gl-table-default > thead > tr > th {
              text-align: left;
              background-color: #F1F1F1;
           }
           .gl-table-default > tbody > tr:hover{
               background-color: #F1F1F1;
           }
           .right{
               text-align: right !important;
           }
           .left{
                text-align: left !important;
           }
           .center{
               text-align: center !important;
           }
        </style>
        <div>
            <table class="gl-table-default" style="border: 1px solid #ddd;">
                <thead>
                    <th>ชื่อไทย</th>
                    <th>ชื่ออังกฤษ</th>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="[[data]]">
                        <tr on-tap="_selectData" data="[[item]]">
                            <td>{{item.nameTH}}</td>
                            <td>{{item.nameEN}}</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </template>
    <script>
        Polymer({
            is: 'quota-list',
            behaviors: [ReduxBehavior,reportAction],
            properties:{
                data:{
                    statePath:'report.data_list'
                }
            },
            ready:function(){
                 this.EXPORT_GET_LIST();
            },
             _selectData:function(e){
                // console.log(e.currentTarget.data);
                this.fire('select-data',e.currentTarget.data);
            },
            getList:function(item){
                console.log('list',item);
            }
           
        });
    </script>
</dom-module>
