<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/month-behavior.html">

<dom-module id="quota-manage">
	<template>
		<style is="custom-style" include="iron-flex iron-flex-alignment gl-color gl-size gl-table">
			.title {
				background-color: orange;
				padding: 8px 10px 8px 10px;
				color: white;
				font-size: 18px;
				text-align: left;
			}
			
			* {
				text-align: left;
                font-family: 'rsuregular', sans-serif;
				-webkit-font-smoothing: antialiased;
			}
			
			.number {
				text-align: right !important;
			}
			.font{
                font-family: 'CSChatThaiUI', sans-serif !important;
                -webkit-font-smoothing: antialiased;
            }
			header {
				text-align: center;
				font-size: 24px;
				padding: 20px 20px 5px 20px;
			}
			.container{
                padding: 20px;
            }
			gl-form-panel-body {
				padding: 10px;
			}
            th,td{ 
                text-align: center;
                white-space: nowrap;
            }
            .flex-equal-justified {
                @apply(--layout-horizontal);
                @apply(--layout-justified);
            }
            .pointer{
                cursor:pointer;
            }
            .saveData{
                --paper-input-container-input:{
                    text-align: right;
                }
            }
            .left{
                --paper-input-container-input:{
                    text-align: left !important;
                }
            }
            paper-button,th,td{
                 font-family: 'CSChatThaiUI', sans-serif !important;
                -webkit-font-smoothing: antialiased;
            }
		</style>
		<div>
			<section>
				<gl-form-panel set-padding="0px 0px 20px 0px">
					<div class="title">รายละเอียดการจัดสรรโควตา</div>
					<gl-form-panel-body set-padding="0px 0px 0px 0px" set-border="0px">
						<gl-grid-row width="{{getWidth}}">
							<gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
							<gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
								<gl-form-input label="ปีโควตา" class="saveData left" allowed-pattern="[0-9]" error-message="กรุณาใสปีโควตา" required placeholder="ใส่ปีโควตา" value="{{year}}"
									id="" name="" disabled$="{{checkStatus(status)}}"> 
                                </gl-form-input>
							</gl-grid-col>
							<gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                                <gl-combo-box class="saveData" label="ประเภทข้าว" items="{{getTypeRice}}" value="{{typeRice}}" placeholder="กรุณาเลือกประเภทข้าว"
                                item-label-path="type_rice_name_th" item-value-path="id" error-message="กรุณาเลือกประเภทข้าว" required></gl-combo-box>
							</gl-grid-col>
							<gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
								<gl-form-input class="mathData saveData" id="sum" label="ยอดรวม" allowed-pattern="[0-9||,||.]" format-number="on" value="[[sum]]" always-float-label auto-validate error-message="กรุณาใสจำนวน" required>
                                     <div class="font" suffix>&nbsp;ตัน</div>
                                </gl-form-input>
							</gl-grid-col>
							<gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
						</gl-grid-row>

						<article style="margin-top:10px; overflow-x:auto;">
							<table class="gl-table-default" id="[[index]]">
                                <thead>
								<tr>
									<th>จำนวนงวด</th>
                                    <th style="text-align: center;">เดือน</th>
									<th style="text-align: right;">สัดส่วน % </th>
                                    <th style="text-align: right;">ปริมาณ (ตัน)</th>
									<th></th>
								</tr>
                                </thead>
                                <tbody>
								<template is="dom-repeat" items="{{quantity}}">
									<tr>
										<td>งวดที่ : {{getIndex(index)}}</td>
                                        <td>
                                         <gl-combo-box label="" class="saveData" style="margin-top: -21px;" items="{{getMonth()}}" value="{{item.month}}"
                                         item-label-path="name" item-value-path="id" error-message="กรุณาเลือกเดือน" required></gl-combo-box>
                                        </td>
										<!--{{item.proportion}}-->
										<td>
											[[testNum(item.*,'percent')]]
                                            [[testNum(item.*,'weigth')]]
                                            [[testNum(item.*,'month')]]
											<gl-form-input label="" class="mathData number saveData" maxlength="3"  allowed-pattern="[0-9]" error-message="กรุณาใสจำนวน" value="{{item.percent}}" required no-label-float>
                                                <div suffix>&nbsp;%</div>
                                            </gl-form-input>
										</td>
										<td>
											<gl-form-input label="" class="saveData" value="[[item.weigth]]" format-number="on" on-input="updateWeight"
												index="{{index}}" required id="{{index}}" allowed-pattern="[0-9||,||.]" error-message="กรุณาใสจำนวน" no-label-float></gl-form-input>
										</td>
										<td>
											<paper-button on-tap="_confirmDelPeriod" item="{{item}}">
												<iron-icon icon="delete"></iron-icon>
											</paper-button>
										</td>
									</tr>
                                 </tbody>
								</template>
                                 <tbody>
								<tr class="pointer" on-tap="_addPeriod">
                                    <td colspan="5">	
                                        <paper-button>
											<iron-icon icon="add"></iron-icon> เพิ่มงวด
                                        </paper-button>
                                    </td>
								</tr>
                                 </tbody>
                                <thead>
								<tr>
									<th colspan="2">ปริมาณโควตารวม : {{_crossCheck(quantity.*)}} ตัน</th>
                                    <th></th>
                                    <th></th>
									<th>
										<paper-button hidden$="{{hide}}" raised class="gl-btn-primary" on-tap="_mathData">คำนวณ</paper-button>
									</th>
								</tr>
                                </thead>
							</table>
						</article>

					</gl-form-panel-body>
				</gl-form-panel>
			</section>

            <section>
                <div class="horizontal flex-equal-justified">
                    <div style="margin-left:10px;">
                        <paper-button hidden$="{{!checkStatus(status)}}" on-tap="_deleteData" raised><iron-icon icon="delete"></iron-icon>&nbsp;ลบปีโควตา</paper-button>
                    </div>
                    <div style="margin-right:10px;">
                        <paper-button class="gl-btn-danger" hidden$="{{checkStatus(status)}}" on-tap="confirmClose" raised>ยกเลิก</paper-button>
                        <paper-button class="gl-btn-success" on-tap="_saveData" raised>บันทึก</paper-button>
                    </div>
                 
                </div>
            </section>
            
		</div>
	</template>
	<script>
        Polymer({
            is: 'quota-manage',
            behaviors: [
                FormatNumberBehavior,
                MonthBehavior
            ],
            properties: {
                quantity: {
                    type: Array,
                    value: []
                },
                year:{
                    type: String,
                    value: '2559'
                },
                data:{
                    type: Object,
                    observer: '_getData'
                }
            },
            ready:function(){
                document.xxx = this;
                console.log(this.quantity,'c')
                this._getTypeRice();
                this.period = 1;
            },
            getIndex:function(index){
                this.period++;
                this.set('quantity.'+index+'.period', parseInt(index)+1);
                return parseInt(index)+1;
            },
            updateWeight:function(e){
                this.set('quantity.'+e.target.index+'.weigth', this.unFormat(e.target.value));
            },
            _addPeriod:function(){
                // console.log(this.quantity);
                this.push('quantity',{percent:'',weigth:''});
            },
            _confirmDelPeriod:function(e){
                this.fire('toast',{
                    status:'openDialog',
                    text:'ต้องการลบงวดใช่หรือไม่ ?',
                    confirmed:this._delPeriod,
                    el: this,
                    data:e.currentTarget.item
                })
            },
            _delPeriod:function(resalut,detail){
                console.log(resalut,detail.data);
                if(resalut==true){
                    detail.el.splice('quantity', detail.el.quantity.indexOf(detail.data),1);
                }
            },
            _mathProportion:function(percent,item){
                item.weigth = (parseFloat(this.sum)*parseFloat(percent))/100;
                //console.log(parseFloat(item.quantity));
                return parseFloat(item.weigth);
            },
            _crossCheck:function(data){
                var sum = 0;
                data.base.map((item)=>{
                if(typeof item.weigth!="undefined"){
                    sum += this.unFormat(item.weigth);
                }
                });
                return this.formatNumber(sum);
            },
            // inputProportionChange:function(e){
            //     this.set('Period.'+e.target.index+'.quantity',parseFloat(e.target.value));
            // },
            _mathData:function(){
                // if(this.Period == ''){
                //      this.fire('toast',
                //         {
                //             status:'connectError',
                //             text:'กรุณาเพิ่มงวด',
                //             callback:function(){
                //             }
                //         });
                // }   
                this.$$('.mathData').validate();
                var stat = Polymer.dom(this.root).querySelectorAll('.mathData').map((item)=>{
                    return  item.validate();
                });
                var chkStat = function(stat){
                    return stat == true
                };
                if(stat.every(chkStat) == true){
                    var sum =  this.$$('#sum').value;            
                    this.quantity.map((data,i)=>{
                    this.set('quantity.'+ i +'.weigth',(parseFloat(this.unFormat(sum))*parseFloat(data.percent))/100);
                })
                }
              
            },
            _saveData:function(){
                var stat = Polymer.dom(this.root).querySelectorAll('.saveData').map((item)=>{
                    return  item.validate();
                });
                var chkStat = function(stat){
                    return stat == true
                };
                if(this.quantity == ""){
                    this.fire('toast',
                        {
                            status:'connectError',
                            text:'กรุณาเพิ่มงวด',
                            callback:function(){
                            }
                        });
                }
                else if(stat.every(chkStat) == true){
                    var amount = this.$$('#sum').value; 
                    var datas = {
                        year:parseInt(this.year),
                        amount:parseInt(this.unFormat(amount)),
                        quantity:this.quantity,
                        type_rice_id:this.typeRice,   
                    }
                    console.log(datas);
                    var num = 0;
                    this.quantity.map((item)=>{
                        num += item.percent;
                    });
                    if(num == 100){
                        if(this.status == 'post')
                            this.fire('post-data',datas); 
                        else if (this.status == 'update'){
                            datas.id = this.data.quota_id;
                            this.fire('put-data',datas); 
                        }    
                    }
                    else {
                        this.fire('toast',
                        {
                            status:'connectError',
                            text:'ผลรวมของสัดส่วนต้องได้ 100% เท่านั้น',
                            callback:function(){
                            }
                        });
                    }
                  
                }
            },
            testNum:function(ob,param){
                //console.log(typeof ob.value);
                if(typeof ob.value == "string"){
                    var pathChange = ob.path.split(".");
                    if(pathChange.length == 2){
                        if(pathChange[1]==param){
                        ob.base[param]=parseFloat(ob.value);
                        // console.log(typeof ob.value);
                        }
                    }
                }
            },
            _getData:function(data){
                //console.log(data);
                Polymer.dom(this.root).querySelectorAll('.mathData').map((item)=>{
                    item.reset();
                });
                console.log(data);
                this.quantity = data.quantity;
                this.year = data.year;
                this.sum = data.amount;
                this.typeRice = data.type_rice_id;
            },
            _getTypeRice:function(){
                axios.get('./common/type_rice')
                .then((response)=>{
                    //console.log("success!!");
                    //console.log(response.data);
                    this.getTypeRice = response.data;
                })
                .catch((error)=>{
                    console.log("error");
                    console.log(error);
                });
            },
            _deleteData:function(){
                // console.log(this.$$('gl-combo-box').value);
                if(this.$$('gl-combo-box').value != ''){
                    data = this.data.quota_id;
                    this.fire('delete-data',data);
                }
                else {
                    this.$$('gl-combo-box').validate();
                    this.fire('toast',
                    {
                        status:'connectError',
                        text:'กรุณาเลือกประเภทข้าว',
                        callback:function(){
                        }
                    });
                }
               
            },
            checkStatus:function(status){
                console.log(status);
                 Polymer.dom(this.root).querySelectorAll('.saveData').map((item)=>{
                    item.reset();
                });
                return status=='update';
            },
            confirmClose:function(){
                this.fire('cancel-data');
            },
            _resetData:function(){
                 Polymer.dom(this.root).querySelectorAll('.saveData').map((item)=>{
                    item.value = '';
                    item.reset();
                });
                this.quantity = [];
            }
        });
    </script>
</dom-module>