<dom-module id="country-competitors">
  <style include="gl-styles">
    :host {
      display: block;
    }
    .title{
      font-weight: bold;
      margin: 20px 0px 10px 0px;
    }
    table.gl-table-default > thead.table-head > tr > th,
    table.gl-table-default > tbody.table-body > tr > td{
      text-align: center;
    }
  </style>
  <template>
    <div class="title">
2. ประเทศคู่แข่ง (19 ธ.ค.59)
</div>
  <table class="gl-table-default">
          <thead class="table-head">
            <tr>
              <th rowspan="3">ชนิดข้าว</th>
              <th colspan="8">ราคาเฉลี่ย (เหรียญสหรัฐฯ/ตัน)</th>
              <!-- <th>1</th>
              <th>1</th>
              <th>1</th>
              <th>1</th>
              <th>1</th>
              <th>1</th>
              <th>1</th> -->
              <th colspan="4">% การเปลี่ยนแปลงเทียบกับงวดก่อน</th>
              <!-- <th>1</th>
              <th>1</th>
              <th>1</th> -->
            </tr>
            <tr>
              <!-- <th>1่</th> -->
              <th colspan="2">ไทย</th>
              <!-- <th>1</th> -->
              <th colspan="2">เวียดนาม</th>
              <!-- <th>1</th> -->
              <th colspan="2">ปากีสถาน</th>
              <!-- <th>1</th> -->
              <th colspan="2">อินเดีย</th>
              <!-- <th>1</th> -->
              <th rowspan="2">ไทย</th>
              <th rowspan="2">เวียดนาม</th>
              <th rowspan="2">ปากีสถาน</th>
              <th rowspan="2">อินเดีย</th>
            </tr>
            <tr>
              <!-- <th>1</th> -->
              <th>งวดก่อน</th>
              <th>ปัจจุบัน</th>
              <th>งวดก่อน</th>
              <th>ปัจจุบัน</th>
              <th>งวดก่อน</th>
              <th>ปัจจุบัน</th>
              <th>งวดก่อน</th>
              <th>ปัจจุบัน</th>
              <!-- <th>1</th>
              <th>1</th>
              <th>1</th>
              <th>1</th> -->
            </tr>
          </thead>
          <tbody class="table-body">
            <tr>
             <td>ข้าวขาว 5%</td>
             <td>356</td>
             <td>358</td>
             <td>337</td>
             <td>337</td>
             <td>350</td>
             <td>355</td>
             <td>350</td>
             <td>355</td>
             <td>0.56</td>
             <td>คงที่</td>
             <td>1.43</td>
             <td>1.43</td>
           </tr>
           <tr>
            <td>ข้าวขาว 15%</td>
            <td>352</td>
            <td>354</td>
            <td>332</td>
            <td>332</td>
            <td>335</td>
            <td>355</td>
            <td>340</td>
            <td>-</td>
            <td>0.57</td>
            <td>คงที่</td>
            <td>คงที่</td>
            <td>คงที่</td>
          </tr>
          <tr>
           <td>ข้าวขาว 25%</td>
           <td>343</td>
           <td>345</td>
           <td>325</td>
           <td>327</td>
           <td>318</td>
           <td>325</td>
           <td>335</td>
           <td>340</td>
           <td>0.58</td>
           <td>0.62</td>
           <td>2.20</td>
           <td>1.49</td>
         </tr>
         </tbody>
      </table>
  </template>
  <script>
    Polymer({
      is: "country-competitors",

    });
  </script>
</dom-module>
