<dom-module id="daily-send-situation">
  <style include="gl-styles">
    :host {
      display: block;
    }
    .title{
      font-weight: bold;
      margin: 20px 0px 10px 0px;
    }
  </style>
  <template>
    <div class="title">
    1. สถานการณ์ส่งออก
    </div>
    <table class="gl-table-default">
       <thead class="table-head">
         <tr>
           <th>รายการ</th>
           <th>ปี 2557</th>
           <th>ปี 2558</th>
           <th>1 ม.ค.-19 ธ.ค. 58</th>
           <th>1 ม.ค.-19 ธ.ค. 59</th>
           <th>% ปี 58/59</th>
           <th>% เทียบกับ เป้าหมายการส่งออก 9.5 ล้านตัน</th>
         </tr>

       </thead>
       <tbody class="table-body">
         <tr>
           <td>ปริมาณ (ตัน)</td>
           <td>10969335</td>
           <td>9795763</td>
           <td>9324192</td>
           <td>9429709</td>
           <td>1.13</td>
           <td rowspan="4">99.26 %</td>
         </tr>
         <tr>
           <td>มูลค่า (ล้านบาท)</td>
           <td>174853</td>
           <td>155912</td>
           <td>148515</td>
           <td>148179</td>
           <td>-0.23</td>
           <!-- <td>99.26</td> -->
         </tr>
         <tr>
           <td>มูลค่า (ล้าน USD)</td>
           <td>5439</td>
           <td>4613</td>
           <td>4405</td>
           <td>4229</td>
           <td>-4.00</td>
           <!-- <td>1.13</td> -->
         </tr>
         <tr>
           <td>ราคาเฉลี่ย (USD/ตัน)</td>
           <td>496</td>
           <td>471</td>
           <td>472.46</td>
           <td>448.48</td>
           <td>-5.08</td>
           <!-- <td>1.13</td> -->
         </tr>
      </tbody>
      ที่มา : กรมศุลกากรและใบอนุญาตส่งออกข้าว(19 ธ.ค.59)
  </template>
  <script>
    Polymer({
      is: "daily-send-situation",

    });
  </script>
</dom-module>
