<dom-module id="estimate-of-value-rice">
  <style include="gl-styles">
    :host {
      display: block;
    }
    .title{
      font-weight: bold;
      margin: 20px 0px 10px 0px;
    }
    table.gl-table-default > thead.table-head > tr > th,
    table.gl-table-default > tbody.table-body > tr > td,
    table.gl-table-default > tfoot.table-foot > tr > td{
      text-align: center;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(1){
      text-align: left;
    }
    table.gl-table-default > tfoot.table-foot > tr > td{
      font-weight: bold;
    }
  </style>
  <template>
    <div class="title">
    10. ประมาณการมูลค่าข้าว
    </div>
    <table class="gl-table-default">
          <thead class="table-head">
            <tr>
              <th rowspan="2">ห่วงเวลา <br> ประมาณครั้งที่</th>
              <th rowspan="2">สต็อกข้าว<br> (ล้านตัน)</th>
              <th colspan="3">อัตตราภาระค่าใช้จ่าย (บาท)</th>
              <!-- <th></th>
              <th></th> -->
            </tr>
            <tr>
              <!-- <th></th> -->
              <!-- <th></th> -->
              <th>ต่อตัน/เดือน</th>
              <th>วันละ</th>
              <th>เดือนละ</th>
            </tr>
          </thead>

          <tbody class="table-body">
            <tr>
             <td>ครั้งที่ 1 ณ 30 เมษ.58</td>
             <td>16.29</td>
             <td>85.11</td>
             <td>46.24</td>
             <td>1387.25</td>
            </tr>
            <tr>
             <td>ครั้งที่ 2 ณ 14 ส.ค.58</td>
             <td>13.88</td>
             <td>61.05</td>
             <td>28.25</td>
             <td>847.50</td>
            </tr>
            <tr>
             <td>ครั้งที่ 3 ณ 31 ธ.ค.58</td>
             <td>13.08</td>
             <td>75.35</td>
             <td>32.85</td>
             <td>985.57</td>
            </tr>
            <tr>
             <td>ครั้งที่ 4 ณ 30 กย.59</td>
             <td>8.09</td>
             <td>62.99</td>
             <td>17.00</td>
             <td>510.11</td>
            </tr>
         </tbody>
      </table>
  </template>
  <script>
    Polymer({
      is: "estimate-of-value-rice",

    });
  </script>
</dom-module>
