<dom-module id="thai-rice-export">
  <style include="gl-styles">
    :host {
      display: block;
    }
    .title{
      font-weight: bold;
      margin: 20px 0px 10px 0px;
    }
    table.gl-table-default > thead.table-head > tr > th,
    table.gl-table-default > tbody.table-body > tr > td,
    table.gl-table-default > tfoot.table-foot > tr > td{
      text-align: center;
    }
    table.gl-table-default > tfoot.table-foot > tr > td{
      font-weight: bold;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(1),
    table.gl-table-default > tbody.table-body > tr > td:nth-child(6){
      text-align: left;
    }
  </style>
  <template>
    <div class="title">
    3. การส่งออกข้าวไทยแยกตามชนิดข้าว (ม.ค. - ต.ค. 59)
    </div>
    <table class="gl-table-default">
          <thead class="table-head">
            <tr>
              <th rowspan="2">ชนิดข้าว</th>
              <th colspan="2">ปริมาณ (ล้านตัน)</th>
              <!-- <th>1</th> -->
              <th colspan="2">สัดส่วน (%)</th>
              <!-- <th>1</th> -->
              <th rowspan="2">ประเทศนำเข้าข้าวที่สำคัญ</th>
              <!-- <th ></th> -->
            </tr>
            <tr>
              <!-- <th>1</th> -->
              <th>ปี 2558</th>
              <th>ปี 2559</th>
              <th>ปี 2558</th>
              <th>ปี 2559</th>
              <!-- <th>1</th> -->
            </tr>
          </thead>
          <tfoot class="table-foot">
            <tr>
              <td>รวม</td>
              <td>7.81</td>
              <td>7.70</td>
              <td>100.0</td>
              <td>100.0</td>
              <td>์</td>
            </tr>
          </tfoot>
          <tbody class="table-body">
            <tr>
             <td>ข้าวขาว</td>
             <td>3.91</td>
             <td>3.82</td>
             <td>50.06</td>
             <td>49.61</td>
             <td>อินโดนีเซีย จีน มาเลเซีย เบนิน แคเมอรูน ไอวอรี่โคสต์</td>
            </tr>
            <tr>
             <td>ข้าวหอมมะลิไทย</td>
             <td>1.58</td>
             <td>1.82</td>
             <td>20.23</td>
             <td>23.64</td>
             <td>ไอวอรี่โคสต์ สหรัฐฯ เซเนกัล จีน ฮ่องกง กานา</td>
            </tr>
            <tr>
             <td>ข้าวนิ่ง</td>
             <td>1.98</td>
             <td>1.71</td>
             <td>25.35</td>
             <td>22.21</td>
             <td>เบนิน แอฟริกาใต้ แคเมอรูน เยเมน ไนจีเรีย</td>
            </tr>
            <tr>
             <td>ข้าวเหนียว</td>
             <td>0.09</td>
             <td>0.10</td>
             <td>1.15</td>
             <td>1.30</td>
             <td>จีน อินโดนีเซีย สหรัฐฯ มาเลเซีย เบลเยี่ยม</td>
            </tr>
            <tr>
             <td>ข้าวปทุมธานี</td>
             <td>0.09</td>
             <td>0.10</td>
             <td>1.15</td>
             <td>1.30</td>
             <td>ฮ่องกง เคนยา จีน สิงค์โปร์ เบนิน ไต้หวัน เนเธอร์แลนด์</td>
            </tr>
            <tr>
             <td>ข้าวกล้อง</td>
             <td>0.03</td>
             <td>0.03</td>
             <td>0.38</td>
             <td>0.39</td>
             <td>เบลเยี่ยม สหราชอานาจักร สหรัฐฯ ฮ่องกง เกาหลีใต้</td>
            </tr>
         </tbody>
      </table>
  </template>
  <script>
    Polymer({
      is: "thai-rice-export",

    });
  </script>
</dom-module>
