<dom-module id="export-volume-of-thai-rice">
  <style include="gl-styles iron-flex iron-flex-factors iron-flex-alignment">
    :host {
      display: block;
    }
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
  </style>
  <template>
    <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
          <gl-form-panel-head label="ปริมาณส่งออกข้าวไทย" set-padding="10px" set-border="1px">
              <!--content-->
          </gl-form-panel-head>

          <table class="gl-table-default">
              <thead class="table-head">
                <tr>
                  <th rowspan="2">ประเทศ</th>
                  <th rowspan="2">2554</th>
                  <th rowspan="2">2555</th>
                  <th rowspan="2">2556</th>
                  <th rowspan="2">%สัดส่วน</th>
                  <th rowspan="2">2557</th>
                  <th rowspan="2">%สัดส่วน</th>
                  <th rowspan="2">2558</th>
                  <th rowspan="2">%สัดส่วน</th>
                  <th colspan="5">(มกราคม - กุมภาพันธ์)</th>
                  <!-- <th></th>
                  <th></th>
                  <th></th>
                  <th></th> -->
                </tr>
                <tr>
                  <!-- <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th> -->
                  <th>2558</th>
                  <th>%สัดส่วน</th>
                  <th>2559</th>
                  <th>%สัดส่วน</th>
                  <th>%^</th>
                </tr>
              </thead>
              <tbody class="table-body">
                <tr>
                 <td>เอเชีย</td>
                 <td>3343150</td>
                 <td>1188449</td>
                 <td>1270501</td>
                 <td>19.22</td>
                 <td>2782704</td>
                 <td>25.37</td>
                 <td>3418600</td>
                 <td>31.17</td>
                 <td>420761</td>
                 <td>31.39</td>
                 <td>833655</td>
                 <td>44.80</td>
                 <td>98.13</td>
                </tr>
               <tr>
                <td>อาเซียน</td>
                <td>1666972</td>
                <td>603166</td>
                <td>455537</td>
                <td>6.89</td>
                <td>1375890</td>
                <td>12.54</td>
                <td>1929706</td>
                <td>17.59</td>
                <td>247055</td>
                <td>18.43</td>
                <td>546515</td>
                <td>29.37</td>
                <td>121.21</td>
               </tr>
             </tbody>
          </table>
      </gl-form-panel>
  </template>
  <script>
    Polymer({
      is: "export-volume-of-thai-rice",

    });
  </script>
</dom-module>
