<dom-module id="draft-period">
  <style include="iron-flex iron-flex-factors iron-flex-alignment">
    :host {
      display: block;
    }
  </style>
  <template>
<div>
  <div class="title">สัญญาการซื้อขาย</div>
  <div class="layout vertical ">
    <div class="flex">
      ค้นหาบริษัทที่ทำสัญญา
      <gl-combo-box id="deli_port_id" label="Place of Delivery" item-label-path="port_name"
          item-value-path="port_id" value="{{data.deli_port_id}}"></gl-combo-box>
    </div>
    <div class="flex">
      ค้นหางวดที่ต้องการดู
      <gl-combo-box id="deli_port_id" label="Place of Delivery" item-label-path="port_name"
          item-value-path="port_id" value="{{data.deli_port_id}}"></gl-combo-box>
    </div>
  </div>
</div>
  </template>
  <script>
    Polymer({
      is: "draft-period",

    });
  </script>
</dom-module>
