<dom-module id="draft-period">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-color gl-size">
    :host {
      display: block;
    }
    .title {
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
      font-size: var(--font-size-h3);
    }
    .combobox {
      margin-top: 10px;
    }
    .topic {
      text-align: right;
      padding-top: 28px;
      padding-right: 10px;
      font-size: var(--font-size-h4);
    }
  </style>
  <template>


    <div class="layout vertical ">
      <div class="flex ">
        <div class="title">ค้นหาสัญญาการซื้อขาย</div>
      </div>
      <div class="flex combobox">
        <div class="layout horizontal">
          <div class="flex-2"></div>
            <div class="flex">
              <div class="topic"> เลือกบริษัทที่ทำสัญญา : </div>
            </div>
            <div class="flex">
              <gl-combo-box id="deli_port_id" label="Contracting Campany" item-label-path="contract_name"
                item-value-path="contract_id" items="{{contractingCampany}}" value="{{contractingid}}"></gl-combo-box>
            </div>
            <div class="flex-2"></div>
        </div>
      </div>
      <div class="flex combobox">
        <div class="layout horizontal">
          <div class="flex-2"></div>
            <div class="flex">
              <div class="topic"> เลือกงวดที่ต้องการดู : </div>
            </div>
            <div class="flex">
              <gl-combo-box id="shipmentId" label="Shipments" item-label-path="shm_no"
                item-value-path="shm_id" items={{shipments}} value="{{shipmentId}}"></gl-combo-box>
            </div>
            <div class="flex-2"></div>
        </div>
      </div>
<!-- {{shipmentIdClick}} -->
      <div class="flex combobox">
        <div class="layout horizontal">
          <div class="flex-2"></div>
            <div class="flex-2">
              <div class="horizontal end-justified layout">
                <div>
                  <paper-button  class="gl-btn-info" raised >
                  <iron-icon icon="search" on-tap="searchDraft"></iron-icon>ค้นหา</paper-button>
                </div>
              </div>
            </div>
            <div class="flex-2"></div>
        </div>

        </div>
  </div><!-- end layout vertical  -->



  </template>
  <script>
    Polymer({
      is: "draft-period",
      propertyName: {
        contractingCampany:{
          type:Object,
          value:{}
        },
        shipmentId:{
          type:String,
          notify:true
        },
      },
      observers:[
        'check(data)',
        'getShipments(contractingid)',
      ],
      check:function (data) {
        this.contractingCampany=data;
        // console.log(this.contractingCampany);
      },
      getShipments:function (contractingid) {
        // console.log(contractingid);
        // console.log(this.contractingCampany);
        var contractingCampany = this.contractingCampany;

        if (typeof contractingCampany !== 'undefined') {
          // console.log(contractingCampany);
          var shipments = contractingCampany.filter(function (contractingCampany) { return contractingCampany.contract_id == contractingid });
            this.shipments = shipments[0].shipment;
            // console.log(this.shipments );
        }

      },
      searchDraft:function () {
        // this.shipmentIdClick = this.$.shipmentId.value;
        console.log(111);
        this.fire('shipment', this.$.shipmentId.value);
        console.log(this.$.shipmentId.value);
      }
    });
  </script>
</dom-module>
