
<link rel="import" href="./../../../../../bower_components/gl-form/gl-form-panel.html">

<dom-module id="payment-detail">

  <style is="custom-style" include="iron-flex iron-flex-alignment">
    .flexchild-1 {
      @apply(--layout-flex);
    }

    .flexchild-2 {
      @apply(--layout-flex-2);
    }

    .flexchild-5 {
      @apply(--layout-flex-5);
    }

    .flex-center-justified {
      @apply(--layout-horizontal);
      @apply(--layout-center-justified);
    }

    .header {
      text-align: center;
    }

    .text {
      margin-top: 10px;
      margin-right: 10px;
    }
    .setText{
      font-weight: bold;
      font-size: 18px;
      color : #737373;
    }
    .inputHeader {
      width: 40%;
    }

    .container {
      padding: 10px;
    }

    table.default {
      border-collapse: collapse;
      width: 100%
    }

    table.default,
    th,
    td {
      border-bottom: 1px solid #ddd;
    }

    th,
    td {
      padding: 15px;
    }

    th {
      text-align: center;
      background-color: #F1F1F1;
      white-space: nowrap;
    }

    td {
      text-align: left;
      white-space: nowrap;
    }

    tr:hover {
      background-color: #F1F1F1;
    }
  </style>


  <template>{{data}}
    <div class="header flex-center-justified">
      <gl-form-input class="inputHeader" value="รายละเอียดค่าข้าวและค่าใช้จ่ายส่งมอบ COFCO" no-label-float></gl-form-input>
    </div>
    <div class="container">
      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
          <gl-form-input label="งวดที่" value="1"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
          <gl-form-input label="ครั้งที่" value="1"></gl-form-input>
        </gl-grid-col>
      </gl-grid-row>
    </div>
    <div class="container">
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <vaadin-date-picker label="วันที่ได้รับเงิน" value="2015-09-12"></vaadin-date-picker>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-label-input label="จำนวนเงินที่ได้รับทั้งหมด (USD)" value="490,250"></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <div class="setText">อัตราแลกเปลี่ยน</div>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,10]]">
            <gl-grid-row>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
                <div class="text">T/T</div>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                <gl-form-input style="width:60px;" value="34.89" no-label-float></gl-form-input>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
                <div class="text">ธ.กรุงไทยเสนอ</div>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                <gl-form-input style="width:60px;" value="34.96" no-label-float></gl-form-input>
              </gl-grid-col>
            </gl-grid-row>
          </gl-grid-col>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-label-input label="จำนวนเงินที่ได้รับทั้งหมด (บาท)" value="17,139,140.00"></gl-form-label-input>
        </gl-grid-col>
      </gl-grid-row>
    </div>

    <div class="container">
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-input label="ค่า FE ต่างประเทศ (USD)" value="50"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-input label="ค่า FE ในประเทศ (บาท)" value="500.00"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-input label="ค่าใช้จ่ายอื่นๆ (บาท)" value="0"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-label-input label=" FE/ ใช้จ่ายทั้งหมด (บาท)" value="1,374.00"></gl-form-label-input>
        </gl-grid-col>
      </gl-grid-row>
    </div>
    <template is="dom-repeat" items="[[data.invoice]]" as="invoice">
      <gl-form-panel>
        <gl-form-panel-body set-padding="5px" set-border="0px">
          <div class="horizontal justified layout">
               <div>Invoice No : [[invoice.invoice_no]]</div>
               <div>Vessel : [[invoice.ship_name]]</div>
               <div>LotNo : [[invoice.ship_lot_no]]</div>
               <div style="width:20px"></div>
               <div>1/2</div>
          </div>
        <div style="overflow-x:auto;">
        <table class="default">
          <tr>
            <th>ผู้ส่งออก</th>
            <th>เลขที่ใบแจ้งหนี้</th>
            <th>วันที่ใบแจ้งหนี้</th>
            <th>จำนวน(ตัน) <br>(1)</th>
            <th>มูลค่าต่อตัน(USD)<br>(2)</th>
            <th>รวมเงิน(USD)<br>(3)=(1)*2</th>
            <th>จำนวนเงิน(บาท)<br>(4)=(3)*34.96</th>
            <th>หักค่า FE (บาท)<br>(5)</th>
            <th>หักภาษีรายได้ 1 % (บาท)<br> (6)=((4)-(5))*1%</th>
            <th>คงเหลือ (บาท)<br> (7)=((4)-(5)-(6))</th>
          </tr>
          <template is="dom-repeat" items="[[invoice.invoice_detail]]" as="invoiceDetail">
            <tr>
              <td>[[invoiceDetail.seller_name_en]]</td>
              <td>
                <gl-form-input style="width:140px;" value="ตม.สนก 001/2559"></gl-form-input>
              </td>
              <td>
                <vaadin-date-picker style="width:110px;" label="วันที่ได้รับเงิน" value="2015-02-12"></vaadin-date-picker>
              </td>
              <td>[[invoiceDetail.shm_det_quantity]]</td>
              <td>[[invoiceDetail.price_per_ton]]</td>
              <td>78,400</td>
              <td>2,740,864.00</td>
              <td>
                <gl-form-input value="343.50"></gl-form-input>
              </td>
              <td>27,405.20</td>
              <td>2,713,115.30</td>
            </tr>
          </template>

          <tr>
            <td colspan="3">รวม</td>
            <td>1,200</td>
            <td></td>
            <td>470,792</td>
            <td>16,445,184.00</td>
            <td>687.00</td>
            <td>164,444.96</td>
            <td>16.280,052.04</td>
          </tr>
        </table>
      </div>
        </gl-form-panel-body>
      </gl-form-panel>
    </template>


    <!-- <gl-form-panel>
      <gl-form-panel-body set-padding="5px" set-border="0px">
        <div class="horizontal justified layout">
             <div>Invoice No : C123457</div>
             <div>Vessel : COSCO ASHDOD V.015N</div>
             <div>LotNo : 9</div>
             <div style="width:20px"></div>
             <div>2/2</div>
        </div>
      <div style="overflow-x:auto;">
      <table class="default">
        <tr>
          <th>ผู้ส่งออก</th>
          <th>เลขที่ใบแจ้งหนี้</th>
          <th>วันที่ใบแจ้งหนี้</th>
          <th>จำนวน(ตัน) <br>(1)</th>
          <th>มูลค่าต่อตัน(USD)<br>(2)</th>
          <th>รวมเงิน(USD)<br>(3)=(1)*2</th>
          <th>จำนวนเงิน(บาท)<br>(4)=(3)*34.96</th>
          <th>หักค่า FE (บาท)<br>(5)</th>
          <th>หักภาษีรายได้ 1 % (บาท)<br> (6)=((4)-(5))*1%</th>
          <th>คงเหลือ (บาท)<br> (7)=((4)-(5)-(6))</th>
        </tr>
        <tr>
          <td>Thai Ha Public Co., Ltd</td>
          <td>
            <gl-form-input style="width:140px;" value="ตม.สนก 001/2559"></gl-form-input>
          </td>
          <td>
            <vaadin-date-picker style="width:110px;" label="วันที่ได้รับเงิน" value="2015-02-12"></vaadin-date-picker>
          </td>
          <td>50</td>
          <td>397</td>
          <td>19,850</td>
          <td>693,956.00</td>
          <td>
            <gl-form-input value="687.00"></gl-form-input>
          </td>
          <td>6,932.69</td>
          <td>686,336.31</td>
        </tr>
        <tr>
          <td colspan="3">รวม</td>
          <td>50</td>
          <td></td>
          <td>19,850</td>
          <td>693,656.00</td>
          <td>687.00</td>
          <td>6,932.69</td>
          <td>686,336.31</td>
        </tr>
      </table>
    </div>
      </gl-form-panel-body>
    </gl-form-panel> -->
    <gl-form-panel>
      <gl-form-panel-body set-padding="5px" set-border="0px">
        สรุปผล
        <div style="overflow-x:auto;">
      <table class="default">
         <tr>
          <th colspan="3">รายการ Invoice</th>
          <th>จำนวน(ตัน) <br>(1)</th>
          <th>รวมเงิน(USD)<br>(3)=(1)*2</th>
          <th>จำนวนเงิน(บาท)<br>(4)=(3)*34.96</th>
          <th>หักค่า FE (บาท)<br>(5)</th>
          <th>หักภาษีรายได้ 1 % (บาท)<br> (6)=((4)-(5))*1%</th>
          <th>คงเหลือ (บาท)<br> (7)=((4)-(5)-(6))</th>
        </tr>
        <tr>
          <td colspan="3">รวม (Invoice No : C123456)</td>
          <td>1,200</td>
          <td>470,792</td>
          <td>16,445,184.00</td>
          <td>687.00</td>
          <td>164,444.96</td>
          <td>16.280,052.04</td>
        </tr>
        <tr>
          <td colspan="3">รวม (Invoice No : C123457)</td>
          <td>50</td>
          <td>19,850</td>
          <td>693,656.00</td>
          <td>687.00</td>
          <td>6,932.69</td>
          <td>686,336.31</td>
        </tr>
        <tr>
          <td colspan="3">รวมทั้งหมด</td>
          <td>1,250</td>
          <td>490,250</td>
          <td>17,139,140.00</td>
          <td>1,374.00</td>
          <td>171,377.65</td>
          <td>16,966,388.35</td>
        </tr>
      </table>
    </div>
      </gl-form-panel-body>
    </gl-form-panel>
    <div class="container">
      หมายเหตุ
      <ul style="list-style-type:none">
        <li>FE = ค่าธรรมเนียมธนาคาร</li>
      </ul>
    </div>

    <div class="horizontal end-justified layout">
      <paper-button raised>ยกเลิก</paper-button>
      <paper-button raised>บันทึก</paper-button>
    </div>
    </div>

  </template>

  <script>
Polymer({
  is: "payment-detail"
});
</script>
</dom-module>
