<link rel="import" href="../../data/g2gModelBehavior.html">
<link rel="import" href="./../../../../../bower_components/gl-form/gl-form-panel.html">
<link rel="import" href="invoice-drft.html">
<link rel="import" href="draft-sum.html">
<dom-module id="payment-detail-round">

  <style is="custom-style" include="iron-flex iron-flex-alignment gl-color">
    .flexchild-1 {
      @apply(--layout-flex);
    }
    .flexchild-2 {
      @apply(--layout-flex-2);
    }
    .flexchild-5 {
      @apply(--layout-flex-5);
    }
    .flex-center-justified {
      @apply(--layout-horizontal);
      @apply(--layout-center-justified);
    }
    .header {
      text-align: center;
    }
    .text {
      margin-top: 10px;
      margin-right: 10px;
    }
    .setText{
      font-weight: bold;
      font-size: 18px;
      color : #737373;
    }
    .inputHeader {
      width: 40%;
    }
    .container {
      padding: 10px;
    }
    table.default {
      border-collapse: collapse;
      width: 100%
    }
    table.default,
    th,
    td {
      border-bottom: 1px solid #ddd;
    }
    th,
    td {
      padding: 15px;
    }
    th {
      text-align: center;
      background-color: #F1F1F1;
      white-space: nowrap;
    }
    td {
      text-align: left;
      white-space: nowrap;
    }
    tr:hover {
      background-color: #F1F1F1;
    }
  </style>


  <template>
    <!-- รายละเอียดค่าข้าวและค่าใช้จ่ายส่งมอบ COFCO -->
    <div id="removePen"  class="horizontal end-justified layout" >
      <paper-icon-button disabled$="{{!checkBtn}}" id="editRound" class="pink" icon="create" on-tap="editRound"></paper-icon-button>
      <paper-icon-button id="deleteRound" class="pink" icon="delete" on-tap="deleteRound"></paper-icon-button>
      <paper-tooltip for="editRound" position="bottom" animation-delay="0">Edit Round</paper-tooltip>
      <paper-tooltip for="deleteRound" position="bottom" animation-delay="0">Delete Round</paper-tooltip>
   </div>
    <div class="header flex-center-justified">
      <gl-form-label-input label="" class="inputHeader" value="รายละเอียดค่าข้าวและค่าใช้จ่ายส่งมอบ" ></gl-form-label-input >
    </div>
    <div class="container">
      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
          <gl-form-input label="งวดที่" value="{{data.shipment}}" disabled$="{{checkBtn}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
          <gl-form-input label="ครั้งที่" value="{{data.fee_no}}" disabled$="{{checkBtn}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-input label="ชื่อรอบการจ่ายเงิน" value="{{data.fee_name}}" disabled$="{{checkBtn}}"></gl-form-input>
        </gl-grid-col>
      </gl-grid-row>
    </div>
    <div class="container">
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <vaadin-date-picker label="วันที่ได้รับเงิน" value="{{data.fee_date_receipt}}" disabled$="{{checkBtn}}"></vaadin-date-picker>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-label-input label="จำนวนเงินที่ได้รับทั้งหมด (USD)" value="{{data.amount_usd}}" format-number disabled$="{{checkBtn}}"></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <div class="setText">อัตราแลกเปลี่ยน</div>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,10]]">
            <gl-grid-row>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
                <div class="text">T/T</div>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                [[changeString2Num(data.*,'rate_tt')]]
                <gl-form-input style="width:60px;" value="{{data.rate_tt}}" no-label-float disabled$="{{checkBtn}}"></gl-form-input>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
                <div class="text">ธ.กรุงไทยเสนอ</div>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                [[changeString2Num(data.*,'rate_bank')]]
                <gl-form-input style="width:60px;" value="{{data.rate_bank}}" no-label-float disabled$="{{checkBtn}}"></gl-form-input>
              </gl-grid-col>
            </gl-grid-row>
          </gl-grid-col>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-label-input label="จำนวนเงินที่ได้รับทั้งหมด (บาท)" value="{{_totalMoney(data.rate_bank,data.amount_usd)}}" format-number></gl-form-label-input>
        </gl-grid-col>
      </gl-grid-row>
    </div>

    <div class="container">
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          [[changeString2Num(data.*,'fee_internal')]]
          <gl-form-input label="ค่า FE ต่างประเทศ (USD)" value="{{data.fee_internal}}" disabled$="{{checkBtn}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          [[changeString2Num(data.*,'fee_foreign')]]
          <gl-form-input label="ค่า FE ในประเทศ (บาท)" value="{{data.fee_foreign}}" disabled$="{{checkBtn}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          [[changeString2Num(data.*,'fee_other')]]
          <gl-form-input label="ค่าใช้จ่ายอื่นๆ (บาท)" value="{{data.fee_other}}" disabled$="{{checkBtn}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">{{_feTotal(data.fee_internal,data.fee_foreign,data.fee_other,data.rate_bank)}}
          <gl-form-label-input label=" FE/ ใช้จ่ายทั้งหมด (บาท)" value="{{data.feeTotal}}" format-number disabled$="{{checkBtn}}"></gl-form-label-input>
        </gl-grid-col>
      </gl-grid-row>
    </div>
    <template is="dom-repeat" items="{{data.invoice}}" as="invoice">
      <!-- [[_insertInvoice(invoice.invoice_id,index)]] -->
      <!-- [[_averageFee(data.feeTotal)]]//{{data.rate_bank}} -->
      <invoice-drft invoice="{{invoice}}"
                    rate-bank="{{data.rate_bank}}"
                    invoice-index="{{index}}"
                    fee-total="[[_countFee(data.feeTotal)]] "
                    invoice-page="[[invoicePage]]"
                    check-btn="[[checkBtn]]"
      ></invoice-drft>

    </template>


    <gl-form-panel>
        <draft-sum total-invoice="[[data.invoice]]"></draft-sum>
    </gl-form-panel>
    <div class="container">
      หมายเหตุ
      <ul style="list-style-type:none">
        <li>FE = ค่าธรรมเนียมธนาคาร</li>
      </ul>
    </div>

    <div class="horizontal end-justified layout">
      <paper-button raised class="gl-btn-danger">ยกเลิก</paper-button>
      <template is="dom-if" if="[[!checkBtn]]">
        <paper-button raised on-tap="savePayment" class="gl-btn-success">บันทึก</paper-button>
      </template>
      <template is="dom-if" if="[[checkBtn]]">
        <paper-button raised on-tap="confirmFee" class="gl-btn-info">ยืนยันการจ่ายเงิน</paper-button>
      </template>
    </div>
    </div>

  </template>

  <script>
Polymer({
  is: "payment-detail-round",
  behaviors: [
      g2gModelBehavior,
      gl.behavior.core,
  ],
  properties: {
    newData:{
      type:Object,
      value:{
        fee_date_receipt:0,
        rate_tt:0,
        rate_bank:0,
        fee_internal:0,
        fee_foreign:0,
        fee_other:0,
        invoice:[]
      }
    },
    totalInvoice: {
      type: Array,
      notify:true,
      value:[]
    },
    invoice_fee:{
      type:parseFloat,
      value:0
    },
    indexInvoice:{
      type:parseFloat,
    },
    invoicePage:{
      type:Number,
      value:1
    },
    contractId:{
      type:String,
    }
  },
  // listeners: {
  //     'total-invoice': '_totalInvoice',
  // },
  observers:[
    'check(data.invoice.*)',
    '_invoicePage(data.invoice)'
  ],
  attached: function() {
    this.editInput();
    this.contractId = this.glQuery('adddraft').getUrl();
  },
  check:function (invoice) {
    // console.log('invoice =>',invoice);
  },
  editRound:function () {
    this.editInput();
  },
  deleteRound:function () {
    // console.log(this.data);
    this.data.invoice.map((el,indexShmid)=>{
      this._changeStatusInvoice(el.invoice_id,el.bl_no,el.invoice_date,el.invoice_no,el.made_out_to,false);
    });
    this.delete('./g2g/fee/delete/id/',this.data.fee_id, () => {
      this.glQuery('adddraft').getRound(this.contractId,true,'get');
     });
  },
  _totalMoney:function (rate_bank,amount_usd) {
    return rate_bank*amount_usd ;
  },
  _feTotal:function (fee_internal,feBath,fee_other,rate_bank){
    // invoiceDetail.invoice_fee
    // console.log(this.data);
    // return (parseFloat(fee_internal)*rate_bank)+parseFloat(feBath)+parseFloat(fee_other);
    this.data.feeTotal = (parseFloat(fee_internal)*rate_bank)+parseFloat(feBath)+parseFloat(fee_other);
    this.notifyPath('data.feeTotal');
  },
  _invoicePage:function (data) {
    this.invoicePage = data.length;
    // console.log(data.length);
  },
  _totalInvoice:function (e) {
    // console.log(e.detail.data);
  },
  confirmFee:function () {
      // this.approve(this.data.fee_status);
    this.data.fee_status = this.approve(this.data.fee_status);
    // this.set('data',{ fee_status:this.approve(this.data.fee_status)});
    console.log(this.data);
    this.editInput();
    this.savePayment();
  },
  savePayment:function () {
    this.editInput();
    // console.log(this.data);
    // this.set('newData',{fee_date_receipt:  "2016-11-25T00:00:00.000Z"});
    this.set('newData',{
      fee_date_receipt:  new Date (this.data.fee_date_receipt) ,
      fee_foreign: this.data.fee_foreign ,
      fee_internal: this.data.fee_internal ,
      fee_name:  this.data.fee_name ,
      fee_no:  this.data.fee_no ,
      fee_other: this.data.fee_other ,
      fee_status: this.data.fee_status ,
      id:  this.data.fee_id ,
      invoice: [] ,
      rate_bank: this.data.rate_bank ,
      rate_tt:this.data.rate_tt
    });
    this.data.invoice.map((el,indexShmid)=>{
      this.push('newData.invoice',{invoice_id:el.invoice_id,invoice_detail:[]});
      el.invoice_detail.map((shmDet,indexshmdet)=>{
        this.push('newData.invoice.'+indexShmid+'.invoice_detail',{
          shm_det_id:shmDet.shm_det_id,
          invoice_no:shmDet.invoice_no,
          invoice_date:new Date (shmDet.invoice_date),
          invoice_fee:shmDet.invoice_fee,
        });
      });
    });
      // console.log(this.newData);
      console.log(this.newData);

      this.update('./g2g/fee/update',this.newData, () => {
        this.glQuery('adddraft').getRound(this.contractId,false,'get');
        this.fire('select-round',{data:this.newData.id});
       });
  },
  _changeStatusInvoice:function (invoice_id,bl_no,invoice_date,invoice_no,made_out_to,status) {
    var data = {
      id:invoice_id,
      bl_no:bl_no,
      invoice_date:new Date(invoice_date),
      invoice_no:invoice_no,
      invoice_status:status,
      made_out_to:made_out_to,
    };
    // console.log(data);
    this.update('./g2g/invoice/update',data, () => {
      this.glQuery('adddraft').getInvoice(this.contractId,false,'get');
     },true);
  },
  _countFee:function (fee) {
    // console.log(this.data.invoice.length);
    return fee/this.data.invoice.length;
  }
});
</script>
</dom-module>
