<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<dom-module id="payment-pay">
  <style include="iron-flex iron-flex-alignment gl-color gl-size gl-table" is="custom-style">
    .text-center {
      text-align: center;
      font-size: var(--font-size-large);
    }

    .header-grey {
      background-color: var(--paper-grey-100);
      color: var(--paper-grey-600);
      font-size: var(--font-size-h4);
    }

    .header-black {
      color: var(--paper-black-600);
      font-size: var(--font-size-h4);
    }

    .text-top{
      margin: 15px 0px 15px 15px;
    }

    .number-align{
      margin-top: 15px;
    }

    .button-size{
      height: 30px;
    }

    .margin-head{
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .table-head > tr > th:nth-child(1) {
      width: 5%;
    }
    .table-head > tr > th:nth-child(2) {
      width: 15%;
    }
    .table-head > tr > th:nth-child(3) {
      width: 15%;
    }
    .table-head > tr > th:nth-child(4) {
      width: 15%;
    }
    .table-head > tr > th:nth-child(5) {
      width: 10%;
    }
    .table-head > tr > th:nth-child(6) {
      width: 15%;
    }
    .table-head > tr > th:nth-child(7) {
      width: 30%;
    }
  </style>
  <template>
  <div class="text-center margin-head">จ่ายเงินค่าข้าวให้ผู้ส่งออก</div>
    <div class="header-grey margin-head">
      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-combo-box id="exporter_id" label="ชื่อบริษัท" item-label-path="seller_name_th"
              item-value-path="exporter_id" value="{{dataSelected}}" on-value-changed="getTrader"></gl-combo-box>
        </gl-grid-col>
      </gl-grid-row>
    </div>

    <div class="margin-head">
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]"></gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
          <div class="header-black">ชื่อผู้ส่งออก</div>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <template is="dom-repeat" items="{{data}}">
            <div class="header-black">{{item.seller_name_th}}</div>
          </template>
        </gl-grid-col>
      </gl-grid-row>
    </div>
    <table class="gl-table-default">
      <thead class="table-head">
        <tr>
          <th></th>
          <th>งวดที่</th>
          <th>ครั้งที่</th>
          <th style="text-align:right;">จำนวนเงิน(บาท)</th>
          <th></th>
          <th style="text-align:center;">วันที่จ่ายเงิน</th>
          <th></th>
          <th><div style="text-align:center;">สถานะ</div></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td><div style="margin-left:10px;">1</div></td>
          <td><div style="margin-left:10px;">1</div></td>
          <td style="text-align:right;">13,566,936.74</td>
          <td></td>
          <td style="text-align:center;">-</td>
          <td></td>
          <td><paper-button class="gl-btn-success button-size" raised><iron-icon icon="icons:gesture"></iron-icon>จ่ายเช็ค</paper-button></td>
        </tr>

        <tr>
          <td></td>
          <td><div style="margin-left:10px;">1</div></td>
          <td><div style="margin-left:10px;">2</div></td>
          <td style="text-align:right;">686,336.31</td>
          <td></td>
          <td style="text-align:center;">-</td>
          <td></td>
          <td><paper-button class="gl-btn-success button-size" raised><iron-icon icon="icons:gesture"></iron-icon>จ่ายเช็ค</paper-button></td>
        </tr>

        <tr>
          <td></td>
          <td><div style="margin-left:10px;">2</div></td>
          <td><div style="margin-left:10px;">1</div></td>
          <td style="text-align:right;">2,777,734.50</td>
          <td></td>
          <td style="text-align:center;">-</td>
          <td></td>
          <td><paper-button style="text-align:center;" class="gl-btn-success button-size" raised><iron-icon icon="icons:gesture"></iron-icon>จ่ายเช็ค</paper-button></td>
        </tr>

        <tr>
          <td></td>
          <td><div style="margin-left:10px;">3</div></td>
          <td><div style="margin-left:10px;">1</div></td>
          <td style="text-align:right;">686,336.31</td>
          <td></td>
          <td style="text-align:center;">30/10/2559</td>
          <td></td>
          <td style="text-align:center;">จ่ายเช็คแล้ว</td>
        </tr>

      </tbody>
    </table>

  </template>
  <script>
    Polymer({
      is: 'payment-pay',
      properties: {
        dataSelected:{
          type:Object,
          observer:'_search'
        },
        data:{
          type:Array
        }
      },
      attached: function() {
        this.getExporters();
      },
      getDb: function(url, callback) {
          axios.get(url)
              .then(function(response) {
                  callback(response.data);
              }.bind(this))
              .catch(function(error) {}.bind(this));
      },
      getExporters: function() {
        this.exporter_id = this.exporter_id || this.$.exporter_id;
        this.getDb('./external/exporter?exporter_status=true', (data) => {
          this.exporter_id.items = data;
        });
      },
      getTrader: function(e){
        // console.log(e.detail.value);
        this.dataSelected = e.detail.value
      },
      _search:function(val){
        if(val!=""){
          // console.log(this.dataSelected);
          this.getDb('./external/exporter?exporter_id='+this.dataSelected,(data)=>{
            this.data = data;
          });
        }
      }

    });
  </script>
</dom-module>
