
<link rel="import" href="./../../../../../bower_components/gl-form/gl-form-panel.html">

<dom-module id="payment-detail">

  <style is="custom-style" include="iron-flex iron-flex-alignment">
    .flexchild-1 {
      @apply(--layout-flex);
    }

    .flexchild-2 {
      @apply(--layout-flex-2);
    }

    .flexchild-5 {
      @apply(--layout-flex-5);
    }

    .flex-center-justified {
      @apply(--layout-horizontal);
      @apply(--layout-center-justified);
    }

    .header {
      text-align: center;
    }

    .text {
      margin-top: 10px;
      margin-right: 10px;
    }
    .setText{
      font-weight: bold;
      font-size: 18px;
      color : #737373;
    }
    .inputHeader {
      width: 40%;
    }

    .container {
      padding: 10px;
    }

    table.default {
      border-collapse: collapse;
      width: 100%
    }

    table.default,
    th,
    td {
      border-bottom: 1px solid #ddd;
    }

    th,
    td {
      padding: 15px;
    }

    th {
      text-align: center;
      background-color: #F1F1F1;
      white-space: nowrap;
    }

    td {
      text-align: left;
      white-space: nowrap;
    }

    tr:hover {
      background-color: #F1F1F1;
    }
  </style>


  <template>{{data}}
    <!-- รายละเอียดค่าข้าวและค่าใช้จ่ายส่งมอบ COFCO -->
    <div class="header flex-center-justified">
      <gl-form-label-input label="" class="inputHeader" value="รายละเอียดค่าข้าวและค่าใช้จ่ายส่งมอบ" ></gl-form-label-input >
    </div>
    <div class="container">
      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
          <gl-form-input label="งวดที่" value="{{dataPerSubmit.shipment}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
          <gl-form-input label="ครั้งที่" value="{{dataPerSubmit.round}}"></gl-form-input>
        </gl-grid-col>
      </gl-grid-row>
    </div>
    <div class="container">
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <vaadin-date-picker label="วันที่ได้รับเงิน" value="{{dataPerSubmit.fee_date_receipt}}"></vaadin-date-picker>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-label-input label="จำนวนเงินที่ได้รับทั้งหมด (USD)" value="{{data.amount_usd}}" format-number></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <div class="setText">อัตราแลกเปลี่ยน</div>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,10]]">
            <gl-grid-row>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
                <div class="text">T/T</div>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                [[changeString2Num(dataPerSubmit.*,'rate_tt')]]
                <gl-form-input style="width:60px;" value="{{dataPerSubmit.rate_tt}}" no-label-float></gl-form-input>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
                <div class="text">ธ.กรุงไทยเสนอ</div>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                [[changeString2Num(dataPerSubmit.*,'rate_bank')]]
                <gl-form-input style="width:60px;" value="{{dataPerSubmit.rate_bank}}" no-label-float></gl-form-input>
              </gl-grid-col>
            </gl-grid-row>
          </gl-grid-col>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-label-input label="จำนวนเงินที่ได้รับทั้งหมด (บาท)" value="{{_totalMoney(dataPerSubmit.rate_bank,data.amount_usd)}}" format-number></gl-form-label-input>
        </gl-grid-col>
      </gl-grid-row>
    </div>

    <div class="container">
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          [[changeString2Num(dataPerSubmit.*,'fee_internal')]]
          <gl-form-input label="ค่า FE ต่างประเทศ (USD)" value="{{dataPerSubmit.fee_internal}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          [[changeString2Num(dataPerSubmit.*,'fee_foreign')]]
          <gl-form-input label="ค่า FE ในประเทศ (บาท)" value="{{dataPerSubmit.fee_foreign}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          [[changeString2Num(dataPerSubmit.*,'otherExpenses')]]
          <gl-form-input label="ค่าใช้จ่ายอื่นๆ (บาท)" value="{{dataPerSubmit.otherExpenses}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-label-input label=" FE/ ใช้จ่ายทั้งหมด (บาท)" value="{{_feTotal(dataPerSubmit.fee_foreign,dataPerSubmit.otherExpenses)}}"></gl-form-label-input>
        </gl-grid-col>
      </gl-grid-row>
    </div>
    <template is="dom-repeat" items="[[data.invoice]]" as="invoice">
      [[_insertInvoice(invoice.invoice_id,index)]]
      <gl-form-panel>
        <gl-form-panel-body set-padding="5px" set-border="0px">
          <div class="horizontal justified layout">
               <div>Invoice No : [[invoice.invoice_no]]</div>
               <div>Vessel : [[invoice.ship_name]]</div>
               <div>LotNo : [[invoice.ship_lot_no]]</div>
               <div style="width:20px"></div>
               <div>1/2</div>
          </div>
        <div style="overflow-x:auto;">
        <table class="default" id="table-[[index]]">
          <tr>
            <th>ผู้ส่งออก</th>
            <th>เลขที่ใบแจ้งหนี้</th>
            <th>วันที่ใบแจ้งหนี้</th>
            <th>จำนวน(ตัน) <br>(1)</th>
            <th>มูลค่าต่อตัน(USD)<br>(2)</th>
            <th>รวมเงิน(USD)<br>(3)=(1)*2</th>
            <th>จำนวนเงิน(บาท)<br>(4)=(3)*34.96</th>
            <th>หักค่า FE (บาท)<br>(5)</th>
            <th>หักภาษีรายได้ 1 % (บาท)<br> (6)=((4)-(5))*1%</th>
            <th>คงเหลือ (บาท)<br> (7)=((4)-(5)-(6))</th>
          </tr>
          <template is="dom-repeat" items="[[invoice.invoice_detail]]" as="invoiceDetail">
            [[_insertInvoiceDetail(invoiceDetail.shm_det_id)]]
            <tr>
              <td>[[invoiceDetail.seller_name_en]]</td>
              <td>
                [[_testArray(invoiceDetail.*)]]
                <gl-form-input style="width:140px;" value="{{invoiceDetail.invoice_no}}"></gl-form-input>
              </td>
              <td>
                <vaadin-date-picker style="width:110px;" label="วันที่ได้รับเงิน" value="{{invoiceDetail.invoice_date}}"></vaadin-date-picker>
              </td>
              <td>[[invoiceDetail.shm_det_quantity]]//[[invoiceDetail.price_per_ton]]</td>
              <td><numeral-js number="[[invoiceDetail.price_per_ton]]" format="0,0" print></numeral-js></td>

              <td><numeral-js number="[[invoiceDetail.amount_usd]]" format="0,0" print></numeral-js></td>
              <td><numeral-js number="[[_totalBath(invoiceDetail.shm_det_quantity,invoiceDetail.price_per_ton,dataPerSubmit.rate_bank)]]" format="0,0" print></td>
              <td>
                [[changeString2Num(invoiceDetail.*,'invoice_fee')]]
                <gl-form-input value="{{invoiceDetail.invoice_fee}}"></gl-form-input>
              </td>
              <td><numeral-js number="[[_incomeTax(invoiceDetail.shm_det_quantity,invoiceDetail.price_per_ton,dataPerSubmit.rate_bank,invoiceDetail.invoice_fee)]]" format="0,0" print></td>
              <td><numeral-js number="[[_totalMoneyInvoice(invoiceDetail.shm_det_quantity,invoiceDetail.price_per_ton,dataPerSubmit.rate_bank,invoiceDetail.invoice_fee)]]" format="0,0" print></td>
            </tr>
          </template>

          <tr>
            <td colspan="3">รวม</td>
            <td>[[_totalTonInvoices(index)]]</td>
            <td>[[_totalUsdInvoices(index)]]</td>
            <td>470,792</td>
            <td>16,445,184.00</td>
            <td>687.00</td>
            <td>164,444.96</td>
            <td>16.280,052.04</td>
          </tr>
        </table>
      </div>
        </gl-form-panel-body>
      </gl-form-panel>
    </template>


    <!-- <gl-form-panel>
      <gl-form-panel-body set-padding="5px" set-border="0px">
        <div class="horizontal justified layout">
             <div>Invoice No : C123457</div>
             <div>Vessel : COSCO ASHDOD V.015N</div>
             <div>LotNo : 9</div>
             <div style="width:20px"></div>
             <div>2/2</div>
        </div>
      <div style="overflow-x:auto;">
      <table class="default">
        <tr>
          <th>ผู้ส่งออก</th>
          <th>เลขที่ใบแจ้งหนี้</th>
          <th>วันที่ใบแจ้งหนี้</th>
          <th>จำนวน(ตัน) <br>(1)</th>
          <th>มูลค่าต่อตัน(USD)<br>(2)</th>
          <th>รวมเงิน(USD)<br>(3)=(1)*2</th>
          <th>จำนวนเงิน(บาท)<br>(4)=(3)*34.96</th>
          <th>หักค่า FE (บาท)<br>(5)</th>
          <th>หักภาษีรายได้ 1 % (บาท)<br> (6)=((4)-(5))*1%</th>
          <th>คงเหลือ (บาท)<br> (7)=((4)-(5)-(6))</th>
        </tr>
        <tr>
          <td>Thai Ha Public Co., Ltd</td>
          <td>
            <gl-form-input style="width:140px;" value="ตม.สนก 001/2559"></gl-form-input>
          </td>
          <td>
            <vaadin-date-picker style="width:110px;" label="วันที่ได้รับเงิน" value="2015-02-12"></vaadin-date-picker>
          </td>
          <td>50</td>
          <td>397</td>
          <td>19,850</td>
          <td>693,956.00</td>
          <td>
            <gl-form-input value="687.00"></gl-form-input>
          </td>
          <td>6,932.69</td>
          <td>686,336.31</td>
        </tr>
        <tr>
          <td colspan="3">รวม</td>
          <td>50</td>
          <td></td>
          <td>19,850</td>
          <td>693,656.00</td>
          <td>687.00</td>
          <td>6,932.69</td>
          <td>686,336.31</td>
        </tr>
      </table>
    </div>
      </gl-form-panel-body>
    </gl-form-panel> -->
    <gl-form-panel>
      <gl-form-panel-body set-padding="5px" set-border="0px">
        สรุปผล
        <div style="overflow-x:auto;">
      <table class="default">
         <tr>
          <th colspan="3">รายการ Invoice</th>
          <th>จำนวน(ตัน) <br>(1)</th>
          <th>รวมเงิน(USD)<br>(3)=(1)*2</th>
          <th>จำนวนเงิน(บาท)<br>(4)=(3)*34.96</th>
          <th>หักค่า FE (บาท)<br>(5)</th>
          <th>หักภาษีรายได้ 1 % (บาท)<br> (6)=((4)-(5))*1%</th>
          <th>คงเหลือ (บาท)<br> (7)=((4)-(5)-(6))</th>
        </tr>
        <tr>
          <td colspan="3">รวม (Invoice No : C123456)</td>
          <td>1,200</td>
          <td>470,792</td>
          <td>16,445,184.00</td>
          <td>687.00</td>
          <td>164,444.96</td>
          <td>16.280,052.04</td>
        </tr>
        <tr>
          <td colspan="3">รวม (Invoice No : C123457)</td>
          <td>50</td>
          <td>19,850</td>
          <td>693,656.00</td>
          <td>687.00</td>
          <td>6,932.69</td>
          <td>686,336.31</td>
        </tr>
        <tr>
          <td colspan="3">รวมทั้งหมด</td>
          <td>1,250</td>
          <td>490,250</td>
          <td>17,139,140.00</td>
          <td>1,374.00</td>
          <td>171,377.65</td>
          <td>16,966,388.35</td>
        </tr>
      </table>
    </div>
      </gl-form-panel-body>
    </gl-form-panel>
    <div class="container">
      หมายเหตุ
      <ul style="list-style-type:none">
        <li>FE = ค่าธรรมเนียมธนาคาร</li>
      </ul>
    </div>

    <div class="horizontal end-justified layout">
      <paper-button raised>ยกเลิก</paper-button>
      <paper-button raised on-tap="savePayment">บันทึก</paper-button>
    </div>
    </div>

  </template>

  <script>
Polymer({
  is: "payment-detail",
  behaviors: [
      g2gModelBehavior
  ],
  properties: {
    dataPerSubmit: {
      type: Object,
      value:{
        invoice:[{invoice_id:''}]
      }
    },
    invoice_fee:{
      type:Number,
      value:0
    },
    indexInvoice:{
      type:Number,
    }
  },
  _totalMoney:function (rate_bank,amount_usd) {
    return rate_bank*amount_usd ;
  },
  _feTotal:function (feBath,otherExpenses){
    // console.log(typeof feBath);
    // console.log(Number(feBath));
    // console.log(this.dataPerSubmit);
    return Number(feBath)+Number(otherExpenses);
  },
  _insertInvoice:function (invoice_id,index) {
    // console.log(index);
    // this.indexInvoice=index;
    // this.push('dataPerSubmit.invoice', {
    //   invoice_id:invoice_id,
    //   invoice_detail:[]
    // });
  },
  _insertInvoiceDetail:function(shm_det_id){
    // console.log("length ->",this.dataPerSubmit.invoice.length);
    // console.log("->",this.indexInvoice);
    //   console.log("-");
    //   for (var i = 0; i <= this.indexInvoice; i++) {
    //     this.push('dataPerSubmit.invoice.'+[i]+'.invoice_detail', {
    //       shm_det_id:shm_det_id,
    //     });
    //   }
  },
  _totalUsd:function (shm_det_quantity,price_per_ton) {
    return shm_det_quantity*price_per_ton;
  },
  _totalBath:function (shm_det_quantity,price_per_ton,rate_bank) {
    return (Number(shm_det_quantity)*Number(price_per_ton))*rate_bank;
  },
  // (6)=((4)-(5))*1%
  _incomeTax:function (shm_det_quantity,price_per_ton,rate_bank,invoice_fee){
    return ((((Number(shm_det_quantity)*Number(price_per_ton))*Number(rate_bank))-Number(invoice_fee))*1)/100;
  },
  // (3)*34.96
  // (7)=((4)-(5)-(6))<
  _totalMoneyInvoice:function (shm_det_quantity,price_per_ton,rate_bank,invoice_fee){
    return ((Number(shm_det_quantity)*Number(price_per_ton))*Number(rate_bank)-Number(invoice_fee))-(((((Number(shm_det_quantity)+Number(price_per_ton))*Number(rate_bank))-Number(invoice_fee))*1)/100);
  },
  _totalTonInvoices:function (index){
      // console.log(this.data.invoice[index].invoice_detail);
      var totalTon=0;
      this.data.invoice[index].invoice_detail.map((ton)=>{
          totalTon+=ton.shm_det_quantity;
      });
      return totalTon;
  },
  _totalUsdInvoices:function (index){
      // console.log(this.data.invoice[index].invoice_detail);
      var totalUsd=0;
      this.data.invoice[index].invoice_detail.map((ton)=>{
          totalUsd+=ton.price_per_ton;
      });
      return totalUsd;
  },
  savePayment:function () {

    console.log(this.dataPerSubmit);
    console.log(this.data);
    // for (var i = 0; i < this.data.invoice.length; i++) {
    //   console.log(this.data.invoice[i].invoice_id);
    //   // this.dataPerSubmit.invoice[i].invoice_id=this.data.invoice[i].invoice_id;
    //   // console.log(this.dataPerSubmit.invoice[i].invoice_id);
    // }
  },
  _testArray:function (arr) {
    console.log(arr);
    // arr.idddd = '131853214521';
  }
});
</script>
</dom-module>
