
<link rel="import" href="./../../../../../bower_components/gl-form/gl-form-panel.html">
<link rel="import" href="invoice-drft.html">
<link rel="import" href="draft-sum.html">
<dom-module id="payment-detail-round">

  <style is="custom-style" include="iron-flex iron-flex-alignment gl-color">
    .flexchild-1 {
      @apply(--layout-flex);
    }

    .flexchild-2 {
      @apply(--layout-flex-2);
    }

    .flexchild-5 {
      @apply(--layout-flex-5);
    }

    .flex-center-justified {
      @apply(--layout-horizontal);
      @apply(--layout-center-justified);
    }

    .header {
      text-align: center;
    }

    .text {
      margin-top: 10px;
      margin-right: 10px;
    }
    .setText{
      font-weight: bold;
      font-size: 18px;
      color : #737373;
    }
    .inputHeader {
      width: 40%;
    }

    .container {
      padding: 10px;
    }

    table.default {
      border-collapse: collapse;
      width: 100%
    }

    table.default,
    th,
    td {
      border-bottom: 1px solid #ddd;
    }

    th,
    td {
      padding: 15px;
    }

    th {
      text-align: center;
      background-color: #F1F1F1;
      white-space: nowrap;
    }

    td {
      text-align: left;
      white-space: nowrap;
    }

    tr:hover {
      background-color: #F1F1F1;
    }
  </style>


  <template>
    <!-- รายละเอียดค่าข้าวและค่าใช้จ่ายส่งมอบ COFCO -->
    <div class="header flex-center-justified">
      <gl-form-label-input label="" class="inputHeader" value="รายละเอียดค่าข้าวและค่าใช้จ่ายส่งมอบ" ></gl-form-label-input >
    </div>
    <div class="container">
      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
          <gl-form-input label="งวดที่" value="{{data.shipment}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
          <gl-form-input label="ครั้งที่" value="{{data.fee_no}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-input label="ชื่อรอบการจ่ายเงิน" value="{{data.fee_name}}"></gl-form-input>
        </gl-grid-col>
      </gl-grid-row>
    </div>
    <div class="container">
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <vaadin-date-picker label="วันที่ได้รับเงิน" value="{{data.fee_date_receipt}}"></vaadin-date-picker>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-label-input label="จำนวนเงินที่ได้รับทั้งหมด (USD)" value="{{data.amount_usd}}" format-number></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <div class="setText">อัตราแลกเปลี่ยน</div>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,10]]">
            <gl-grid-row>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
                <div class="text">T/T</div>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                [[changeString2Num(data.*,'rate_tt')]]
                <gl-form-input style="width:60px;" value="{{data.rate_tt}}" no-label-float></gl-form-input>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
                <div class="text">ธ.กรุงไทยเสนอ</div>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                [[changeString2Num(data.*,'rate_bank')]]
                <gl-form-input style="width:60px;" value="{{data.rate_bank}}" no-label-float></gl-form-input>
              </gl-grid-col>
            </gl-grid-row>
          </gl-grid-col>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-label-input label="จำนวนเงินที่ได้รับทั้งหมด (บาท)" value="{{_totalMoney(data.rate_bank,data.amount_usd)}}" format-number></gl-form-label-input>
        </gl-grid-col>
      </gl-grid-row>
    </div>

    <div class="container">
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          [[changeString2Num(data.*,'fee_internal')]]
          <gl-form-input label="ค่า FE ต่างประเทศ (USD)" value="{{data.fee_internal}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          [[changeString2Num(data.*,'fee_foreign')]]
          <gl-form-input label="ค่า FE ในประเทศ (บาท)" value="{{data.fee_foreign}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          [[changeString2Num(data.*,'fee_other')]]
          <gl-form-input label="ค่าใช้จ่ายอื่นๆ (บาท)" value="{{data.fee_other}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">{{_feTotal(data.fee_internal,data.fee_foreign,data.fee_other,data.rate_bank)}}
          <gl-form-label-input label=" FE/ ใช้จ่ายทั้งหมด (บาท)" value="{{data.feeTotal}}" format-number></gl-form-label-input>
        </gl-grid-col>
      </gl-grid-row>
    </div>
    <template is="dom-repeat" items="{{data.invoice}}" as="invoice">
      <!-- [[_insertInvoice(invoice.invoice_id,index)]] -->
      <!-- [[_averageFee(data.feeTotal)]]//{{data.rate_bank}} -->
      <invoice-drft invoice="{{invoice}}"
                    rate-bank="{{data.rate_bank}}"
                    invoice-index="{{index}}"
                    fee-total="[[_countFee(data.feeTotal)]] "
                    invoice-page="[[invoicePage]]"

      ></invoice-drft>

    </template>


    <gl-form-panel>
        <draft-sum total-invoice="[[data.invoice]]"></draft-sum>
    </gl-form-panel>
    <div class="container">
      หมายเหตุ
      <ul style="list-style-type:none">
        <li>FE = ค่าธรรมเนียมธนาคาร</li>
      </ul>
    </div>

    <div class="horizontal end-justified layout">
      <paper-button raised class="gl-btn-danger">ยกเลิก</paper-button>
      <paper-button raised on-tap="savePayment" class="gl-btn-success">บันทึก</paper-button>
    </div>
    </div>

  </template>

  <script>
Polymer({
  is: "payment-detail-round",
  behaviors: [
      g2gModelBehavior,
      gl.behavior.core,
  ],
  properties: {

    totalInvoice: {
      type: Array,
      notify:true,
      value:[]
    },

    invoice_fee:{
      type:parseFloat,
      value:0
    },
    indexInvoice:{
      type:parseFloat,
    },
    invoicePage:{
      type:Number,
      value:1
    }
  },
  // listeners: {
  //     'total-invoice': '_totalInvoice',
  // },
  observers:[
    'check(data.invoice.*)',
    '_invoicePage(data.invoice)'
  ],
  check:function (invoice) {
    // console.log('invoice =>',invoice);
  },
  _totalMoney:function (rate_bank,amount_usd) {
    return rate_bank*amount_usd ;
  },
  _feTotal:function (fee_internal,feBath,fee_other,rate_bank){
    // invoiceDetail.invoice_fee
    // console.log(this.data);
    // return (parseFloat(fee_internal)*rate_bank)+parseFloat(feBath)+parseFloat(fee_other);
    this.data.feeTotal = (parseFloat(fee_internal)*rate_bank)+parseFloat(feBath)+parseFloat(fee_other);
    this.notifyPath('data.feeTotal');
  },
  _invoicePage:function (data) {
    this.invoicePage = data.length;
    // console.log(data.length);
  },
  _totalInvoice:function (e) {
    // console.log(e.detail.data);
  },
  savePayment:function () {

    // console.log(this.data);
    // console.log(this.data);
    //  shm_det_id
    this.data.invoice.map((el,indexShmid)=>{
      // console.log(el);
      this._changeStatusInvoice(el.invoice_id,el.bl_no,el.invoice_date,el.invoice_no,el.invoice_status,el.made_out_to);
      this.push('data.invoice',{invoice_id:el.invoice_id,invoice_detail:[]});
      el.invoice_detail.map((shmDet,indexshmdet)=>{
        // console.log(indexShmid);

        this.push('data.invoice.'+indexShmid+'.invoice_detail',{
          shm_det_id:shmDet.shm_det_id,
          invoice_no:shmDet.invoice_no,
          invoice_date:new Date (shmDet.invoice_date),
          invoice_fee:shmDet.invoice_fee,
        });
      });
    });
    // this.data.invoice.map((el)=>{
    //   console.log(el);
    // });
    // this.data.fee_no='1';
    // delete this.data.feeTotal;
    // this.data.fee_date_receipt = new Date(this.data.fee_date_receipt);
    // this.data.fee_status = false;
    // console.log('this.data=>',this.data);
    var contractId = this.glQuery('adddraft').getUrl();
    // this.insert('./g2g/fee/insert',this.data, () => {
    //   this.glQuery('adddraft').getRound(contractId,true,'get');
    //   // this.glQuery('contentPanel').changDrawer();
    //  });
  },
  _changeStatusInvoice:function (invoice_id,bl_no,invoice_date,invoice_no,invoice_status,made_out_to,contract_id) {
    // console.log(bl_no,invoice_date,invoice_no,invoice_status,made_out_to);
    var data = {
      id:invoice_id,
      bl_no:bl_no,
      invoice_date:new Date(invoice_date),
      invoice_no:invoice_no,
      invoice_status:true,
      made_out_to:made_out_to,
    };
    // var data ={
    //   bl_no:  "1122" ,
    //   id:  "3eea3d32-285b-4ea1-b655-dc107efb53b1" ,
    //   invoice_date:  "2016-11-08T00:00:00.000Z" ,
    //   invoice_no:  "Invoice 3" ,
    //   invoice_status: false ,
    //   made_out_to:  "ch"
    // }
    // console.log(data);
    var contractId = this.glQuery('adddraft').getUrl();
    this.update('./g2g/invoice/update',data, () => {
      // this.glQuery('addContract').getChange(false,'put');
      // this.editInput();
      this.glQuery('adddraft').getInvoice(contractId,false,'get');
     });
  },
  _countFee:function (fee) {
    // console.log(this.data.invoice.length);
    return fee/this.data.invoice.length;
  }
});
</script>
</dom-module>
