
<link rel="import" href="./../../../../../bower_components/gl-form/gl-form-panel.html">
<link rel="import" href="invoice-drft.html">
<link rel="import" href="draft-sum.html">
<dom-module id="payment-detail">

  <style is="custom-style" include="iron-flex iron-flex-alignment">
    .flexchild-1 {
      @apply(--layout-flex);
    }

    .flexchild-2 {
      @apply(--layout-flex-2);
    }

    .flexchild-5 {
      @apply(--layout-flex-5);
    }

    .flex-center-justified {
      @apply(--layout-horizontal);
      @apply(--layout-center-justified);
    }

    .header {
      text-align: center;
    }

    .text {
      margin-top: 10px;
      margin-right: 10px;
    }
    .setText{
      font-weight: bold;
      font-size: 18px;
      color : #737373;
    }
    .inputHeader {
      width: 40%;
    }

    .container {
      padding: 10px;
    }

    table.default {
      border-collapse: collapse;
      width: 100%
    }

    table.default,
    th,
    td {
      border-bottom: 1px solid #ddd;
    }

    th,
    td {
      padding: 15px;
    }

    th {
      text-align: center;
      background-color: #F1F1F1;
      white-space: nowrap;
    }

    td {
      text-align: left;
      white-space: nowrap;
    }

    tr:hover {
      background-color: #F1F1F1;
    }
  </style>


  <template>
    <!-- รายละเอียดค่าข้าวและค่าใช้จ่ายส่งมอบ COFCO -->
    <div class="header flex-center-justified">
      <gl-form-label-input label="" class="inputHeader" value="รายละเอียดค่าข้าวและค่าใช้จ่ายส่งมอบ" ></gl-form-label-input >
    </div>
    <div class="container">
      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
          <gl-form-input label="งวดที่" value="{{data.shipment}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
          <gl-form-input label="ครั้งที่" value="{{dataPerSubmit.fee_no}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-input label="ชื่อรอบการจ่ายเงิน" value="{{dataPerSubmit.fee_name}}"></gl-form-input>
        </gl-grid-col>
      </gl-grid-row>
    </div>
    <div class="container">
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <vaadin-date-picker label="วันที่ได้รับเงิน" value="{{dataPerSubmit.fee_date_receipt}}"></vaadin-date-picker>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-label-input label="จำนวนเงินที่ได้รับทั้งหมด (USD)" value="{{data.amount_usd}}" format-number></gl-form-label-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <div class="setText">อัตราแลกเปลี่ยน</div>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,10]]">
            <gl-grid-row>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
                <div class="text">T/T</div>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                [[changeString2Num(dataPerSubmit.*,'rate_tt')]]
                <gl-form-input style="width:60px;" value="{{dataPerSubmit.rate_tt}}" no-label-float></gl-form-input>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
                <div class="text">ธ.กรุงไทยเสนอ</div>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                [[changeString2Num(dataPerSubmit.*,'rate_bank')]]
                <gl-form-input style="width:60px;" value="{{dataPerSubmit.rate_bank}}" no-label-float></gl-form-input>
              </gl-grid-col>
            </gl-grid-row>
          </gl-grid-col>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <gl-form-label-input label="จำนวนเงินที่ได้รับทั้งหมด (บาท)" value="{{_totalMoney(dataPerSubmit.rate_bank,data.amount_usd)}}" format-number></gl-form-label-input>
        </gl-grid-col>
      </gl-grid-row>
    </div>

    <div class="container">
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          [[changeString2Num(dataPerSubmit.*,'fee_internal')]]
          <gl-form-input label="ค่า FE ต่างประเทศ (USD)" value="{{dataPerSubmit.fee_internal}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          [[changeString2Num(dataPerSubmit.*,'fee_foreign')]]
          <gl-form-input label="ค่า FE ในประเทศ (บาท)" value="{{dataPerSubmit.fee_foreign}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          [[changeString2Num(dataPerSubmit.*,'fee_other')]]
          <gl-form-input label="ค่าใช้จ่ายอื่นๆ (บาท)" value="{{dataPerSubmit.fee_other}}"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">{{_feTotal(dataPerSubmit.fee_internal,dataPerSubmit.fee_foreign,dataPerSubmit.fee_other,dataPerSubmit.rate_bank)}}
          <gl-form-label-input label=" FE/ ใช้จ่ายทั้งหมด (บาท)" value="{{dataPerSubmit.feeTotal}}" format-number></gl-form-label-input>
        </gl-grid-col>
      </gl-grid-row>
    </div>
    <template is="dom-repeat" items="{{data.invoice}}" as="invoice">
      <!-- [[_insertInvoice(invoice.invoice_id,index)]] -->
      <!-- [[_averageFee(dataPerSubmit.feeTotal)]]//{{dataPerSubmit.rate_bank}} -->
      <invoice-drft invoice="{{invoice}}"
                    rate-bank="{{dataPerSubmit.rate_bank}}"
                    invoice-index="{{index}}"
                    fee-total="[[_countFee(dataPerSubmit.feeTotal)]] "
      ></invoice-drft>

    </template>


    <gl-form-panel>
        <draft-sum total-invoice="[[data.invoice]]"></draft-sum>
    </gl-form-panel>
    <div class="container">
      หมายเหตุ
      <ul style="list-style-type:none">
        <li>FE = ค่าธรรมเนียมธนาคาร</li>
      </ul>
    </div>

    <div class="horizontal end-justified layout">
      <paper-button raised>ยกเลิก</paper-button>
      <paper-button raised on-tap="savePayment">บันทึก</paper-button>
    </div>
    </div>

  </template>

  <script>
Polymer({
  is: "payment-detail",
  behaviors: [
      g2gModelBehavior
  ],
  properties: {

    totalInvoice: {
      type: Array,
      notify:true,
      value:[]
    },
    dataPerSubmit: {
      type: Object,
      value:{
        fee_date_receipt:0,
        rate_tt:0,
        rate_bank:0,
        fee_internal:0,
        fee_foreign:0,
        fee_other:0,
        invoice:[]
      }
    },
    invoice_fee:{
      type:Number,
      value:0
    },
    indexInvoice:{
      type:Number,
    }
  },
  // listeners: {
  //     'total-invoice': '_totalInvoice',
  // },
  observers:[
    'check(data.invoice.*)'
  ],
  check:function (invoice) {
    // console.log('invoice =>',invoice);
  },
  _totalMoney:function (rate_bank,amount_usd) {
    return rate_bank*amount_usd ;
  },
  _feTotal:function (fee_internal,feBath,fee_other,rate_bank){
    // invoiceDetail.invoice_fee
    // console.log(this.dataPerSubmit);
    // return (Number(fee_internal)*rate_bank)+Number(feBath)+Number(fee_other);
    this.dataPerSubmit.feeTotal = (Number(fee_internal)*rate_bank)+Number(feBath)+Number(fee_other);
    this.notifyPath('dataPerSubmit.feeTotal');
  },
  _totalInvoice:function (e) {
    // console.log(e.detail.data);
  },
  savePayment:function () {

    // console.log(this.dataPerSubmit);
    // console.log(this.data);
    //  shm_det_id
    this.data.invoice.map((el,indexShmid)=>{
      // console.log(el.invoice_id);
      this._changeStatusInvoice(el.invoice_id);
      this.push('dataPerSubmit.invoice',{invoice_id:el.invoice_id,invoice_detail:[]});
      el.invoice_detail.map((shmDet,indexshmdet)=>{
        // console.log(indexShmid);

        this.push('dataPerSubmit.invoice.'+indexShmid+'.invoice_detail',{
          shm_det_id:shmDet.shm_det_id,
          invoice_no:shmDet.invoice_no,
          invoice_date:new Date (shmDet.invoice_date),
          invoice_fee:shmDet.invoice_fee,
        });
      });
    });
    // this.data.invoice.map((el)=>{
    //   console.log(el);
    // });
    // this.dataPerSubmit.fee_no='1';
    delete this.dataPerSubmit.feeTotal;
    this.dataPerSubmit.fee_date_receipt = new Date(this.dataPerSubmit.fee_date_receipt);
    this.dataPerSubmit.fee_status = false;
    // console.log('this.dataPerSubmit=>',this.data);
    // this.insert('./g2g/fee/insert',this.dataPerSubmit, () => {
    //   // this.glQuery('addContract').getChange(false,'put');
    //   // this.glQuery('contentPanel').changDrawer();
    //  });
  },
  _changeStatusInvoice:function (id) {
    console.log(id);
    this.update('./g2g/invoice/update',id, () => {
      // this.glQuery('addContract').getChange(false,'put');
      // this.editInput();
     });
  },
  _countFee:function (fee) {
    // console.log(this.data.invoice.length);
    return fee/this.data.invoice.length;
  }
});
</script>
</dom-module>
