<link rel="import" href="nx-grid-component.html">

<dom-module id="nx-grid">
    <style include="iron-flex iron-flex-factors">
    .header{
      padding: 10px 0px 10px 10px;
      background-color: var(--paper-grey-100);
      color: var(--paper-grey-600);
    }
    paper-item {
      --paper-item: {
        cursor: pointer;
      };
    }
    .ss{
      color: red;
    }
    .sublist paper-item {
      padding-left: 30px;
    }

    </style>

    <template>
        <content id="primary" select="items[type=primary]"></content>
        <content id="secondary" select="items[type=secondary]"></content>
        <content select="template[type=primary]"></content>
        <content select="template[type=secondary]"></content>

        <div class="horizontal-section">
            <div class="header layout horizontal">
              <!-- Head primary Level 1 -->
                <template is="dom-repeat" as="itemConfigPrimary" items="{{config.primary}}">
                    <div class="flex">{{itemConfigPrimary.label}}
                      <!-- width:{{itemConfigPrimary.width}} -->
                    </div>
                </template>
            </div>
            <paper-menu attr-for-item-title="label" multi>
                <template is="dom-repeat" as="itemPrimary" items="{{data}}">
                    <paper-submenu label$="{{index}}">
                        <paper-item on-tap="_getBind" on-dblclick="_getBind" data="{{itemPrimary}}" class="menu-trigger">
                            <template is="dom-repeat" as="configPrimary" items="{{config.primary}}">
                                {{_getItemPrimary(itemPrimary,configPrimary)}}
                                 <!-- width:{{configPrimary.width}} -->
                            </template>
                        </paper-item>
                        <paper-menu class="menu-content sublist">
                            <paper-item>
                                Head secondary
                                <template is="dom-repeat" as="itemConfigSecondary" items="{{config.secondary}}">
                                    {{itemConfigSecondary.label}}
                                    <!-- width:{{itemConfigSecondary.width}} -->
                                </template>
                            </paper-item>
                            <template is="dom-repeat" as="itemSecondary" items="{{_getDataSub(itemPrimary,config.sub)}}">
                                <paper-item on-tap="_getBind" on-dblclick="_getBind" data="{{itemSecondary}}">
                                    <template is="dom-repeat" as="configSecondary" items="{{config.secondary}}">
                                        {{_getItemSecondary(itemSecondary,configSecondary)}}
                                        <!-- width:{{configSecondary.width}} -->
                                    </template>
                                <paper-item>
                            </template>
                            <paper-item class="testclass">
                                <nx-grid-component temp="{{tempSecondary}}"></nx-grid-component>
                            </paper-item>
                        </paper-menu>
                    </paper-submenu>
                </template>
            </paper-menu>
            <div>
                <nx-grid-component temp="{{tempPrimary}}"></nx-grid-component>
            </div>
        </div>
    </template>

    <script>
        var nxGridRender = [];
        Polymer({
            is:'nx-grid',
            behaviors:[Polymer.Templatizer],
            properties:{
                seleted:{
                    type:Object,
                    notify:true
                },
                config:{
                    type:Object
                }
            },
            ready:function(){

                var templatePrimary = Polymer.dom(this).querySelector('template[type=primary]');
                this.tempPrimary = templatePrimary;

                var templateSecondary = Polymer.dom(this).querySelector('template[type=secondary]');
                this.tempSecondary = templateSecondary;


                var config = {primary:[],secondary:[]};

                var items = Polymer.dom(this.$.primary).getDistributedNodes();
                var lists = Polymer.dom(items[0]).querySelectorAll('list');

                for (var i = 0; i < lists.length; i++) {

                    var configPointer = {
                        item:lists[i].getAttribute('item'),
                        label:lists[i].getAttribute('label'),
                        width:lists[i].getAttribute('width')
                    };

                    config.primary.push(configPointer);
                }

                var items2 = Polymer.dom(this.$.secondary).getDistributedNodes();
                var lists2 = Polymer.dom(items2[0]).querySelectorAll('list');

                for (var i = 0; i < lists2.length; i++) {

                    var configPointer2 = {
                        item:lists2[i].getAttribute('item'),
                        label:lists2[i].getAttribute('label'),
                        width:lists2[i].getAttribute('width')
                    };

                    config.secondary.push(configPointer2);
                }

                config.sub = Polymer.dom(this.$.secondary).getDistributedNodes()[0].getAttribute('item');

                this.config = config;
            },
            _getItemPrimary:function(item,config){
                return item[config.item];
            },
            _getDataSub:function(item,sub){
                return item[sub];
            },
            _getItemSecondary:function(item,config){
                return item[config.item];
            },
            _getBind:function(e){
                this.fire('nx-grid-'+e.type, {data: e.target.data});
            }
        });

    </script>
</dom-module>
