<dom-module id="my-drawer">
  <style is="custom-style">
  .icon_drawer {
    --iron-icon-height: 20px;
    --iron-icon-width: 20px;
    --iron-icon-fill-color:var(--paper-grey-600);
    padding-right: 7px;
  }
  .iron-selected > .icon_drawer{
    --iron-icon-fill-color:var(--paper-light-blue-500);
  }
  paper-menu{
    --paper-menu-background-color:var(--paper-grey-100);
  }
  paper-item:hover{
    background-color: var(--paper-grey-300);
  }
  .iron-selected::before {
    content: " ";
    float: left;
    /*border: 8px 1px 8px 1px solid #000;*/
    border-top: 8px solid var(--paper-light-blue-500);
    border-right: 1px solid var(--paper-light-blue-500);
    border-bottom: 8px solid var(--paper-light-blue-500);
    border-left: 1px solid var(--paper-light-blue-500);
  }
  paper-item.drawerMenu{
    font-size: 13px;
  --paper-item-min-height:40px;
    --paper-item:{
      font-size:0.9em;
      color: var(--paper-grey-700);
    };
  /*เลือกแล้วออกมาคลิกที่จุดอื่น*/
    --paper-item-selected:{
        color: var(--paper-light-blue-500);
        font-weight:normal;
    };

    /*กดเลือกแต่เมายังอยู่*/
    --paper-item-focused: {
      color: var--paper-light-blue-500);
      font-weight: bold;
    };
    --paper-item-focused-before: {
      opacity: 0;
    };
  }
</style>
  <template>
    <paper-menu>
      <paper-item class="drawerMenu" url$="/gtog/add-contact" on-tap="drawerUrl"><iron-icon icon="icons:folder" class="icon_drawer"></iron-icon>เพิ่มสัญญาซื้อขาย</paper-item>
      <paper-item class="drawerMenu" url$="/gtog/search-period" on-tap="drawerUrl"><iron-icon icon="icons:folder" class="icon_drawer"></iron-icon>ออกใบแจ้งหนี้</paper-item>
      <paper-item class="drawerMenu" url$="/gtog/rice-purchase-detail" on-tap="drawerUrl"><iron-icon icon="icons:folder" class="icon_drawer"></iron-icon>รายละเอียดการจ่ายเงินค่าข้าว</paper-item>
      <paper-item class="drawerMenu" url$="/gtog/rice-purchase-detail" on-tap="drawerUrl"><iron-icon icon="icons:folder" class="icon_drawer"></iron-icon>คำนวนจ่ายเงินผู้ประกอบการ</paper-item>
    </paper-menu>
  </template>
  <script>
    Polymer({
      is: "my-drawer",
      behaviors: [
        nxCoreBehavior
      ],
      drawerUrl:function (e) {
        // var url = e.currentTarget.getAttribute('url');
        var url = e.currentTarget.getAttribute('url$');
        console.log(url);
        this.nxChangePath(url);
      }
    });
  </script>
</dom-module>
