<dom-module id="my-drawer">
  <style>
    .icon_drawer{
      
    }
  </style>
  <template>
    <paper-menu>
      <paper-item><iron-icon icon="icons:folder" class="icon_drawer"></iron-icon> เมนูที่ 1</paper-item>
      <paper-item><iron-icon icon="icons:folder" class="icon_drawer"></iron-icon>เมนูที่ 2</paper-item>
      <paper-item><iron-icon icon="icons:folder" class="icon_drawer"></iron-icon>เมนูที่ 3</paper-item>
      <paper-item><iron-icon icon="icons:folder" class="icon_drawer"></iron-icon>เมนูที่ 4</paper-item>
    </paper-menu>
  </template>
  <script>
    Polymer({
      is: "my-drawer",

    });
  </script>
</dom-module>
