<link rel="import" href="./../../components/data-manage-behavior.html">
<link rel="import" href="./../../components/format-number-behavior.html">


<dom-module id="fee-list">
    <template>
        <style>
            table,paper-button,paper-checkbox{
                font-family: 'CSChatThaiUI', sans-serif !important;
                -webkit-font-smoothing: antialiased;
            }
            table{
                border-collapse: collapse;
                width: 100%;
                overflow-x:auto;
                white-space: nowrap;
            }
            table{
                border: 1px solid #ddd;
            }
            th,td{
                padding: 15px;
            }
            th{
                text-align: center;
                background-color: #F1F1F1;
            }
            td{
                text-align: center;
            }
            tr:hover{
                background-color: #F1F1F1;
            }
        </style>

        
        <table>
            <tr>
                <template is="dom-if" if="{{checkBox}}">
                    <th>เลือก</th>
                </template>
                <th>ชื่อฟอร์ม</th>
                <th>บริษัท</th>
                <th>เลขที่คำขอ EC</th>
                <th>เลขที่หนังสือรับรอง</th>
                <th>วันที่ส่ง</th>
                <template is="dom-if" if="{{showData}}">
                     <th>จำนวนเงิน</th>
                </template>
                <template is="dom-if" if="{{dataOverplay}}">
                    <th>ยอดเงินสุทธิ</th>
                    <th>ยอดเงินที่ใช้</th>
                    <th>คงเหลือ</th>
                </template>
                <template is="dom-if" if="{{showData}}">
                    <th>ปริมาณ(ตัน)</th>
                </template>   
                <template is="dom-if" if="{{showData}}">
                    <th>ราคาต่อหน่วย</th>
                </template>
            </tr>
            <template is="dom-if" if={{dataStat}}>
                <tr>
                    <td colspan="10" style="text-align: left">ไม่พบข้อมูล</td>
                </tr>
            </template>
            <template is="dom-if" if={{!dataStat}}>
                <template is="dom-repeat" items={{data}}>
                <tr>
                    <template is="dom-if" if="{{checkBox}}">
                        <td><paper-checkbox on-tap="getDataCheckBox" checked="{{item.check}}"></paper-checkbox></td>
                    </template>
                    <td>EC ในโควตา EU</td>
                    <td>[[item.exporter_name]]</td>
                    <td>[[item.req_number]]</td>
                    <td>[[item.ec_number]]</td>
                    <td>[[item.req_date]]</td>
                    <template is="dom-if" if="{{showData}}">
                        <td>[[formatNumber(item.amount)]]</td>
                    </template>
                    <template is="dom-if" if="{{dataOverplay}}">
                        <td>[[formatNumber(item.balance)]]</td>
                        <td>[[item.useBalance]]s</td>
                        <td>[[item.totalBalance]]s</td>
                    </template>
                    <template is="dom-if" if="{{showData}}">
                        <td>[[formatNumber(item.quantity)]]</td>
                    </template>
                    <template is="dom-if" if="{{showData}}">
                        <td>[[formatNumber(item.price)]]</td>
                    </template>
                </tr>
                </template>
             </template>
        </table>

    </template>
    <script>
        Polymer({
            is: 'fee-list',
            behaviors:[DataManageBehavior,FormatNumberBehavior],
            observers:['checkData(data)'],
            properties:{
                checkBox:{
                    type: Boolean,
                    value: false
                },
                data:{
                    observer: 'setDataForCheckBox'
                }
            },
            dataSelected:function(e){
                // console.log(e.currentTarget.value)
                this.fire('data-select',e.currentTarget.item);
            },
            setDataForCheckBox:function(){
                this.data.map((item)=>{
                    item.check = false;
                })
            //    if(this.dataOverplay == true){
            //         this.data.map((item)=>{
            //         item.balance_s = 0;
            //     })
            //    }
            },
            getDataCheckBox:function(){
                // console.log(this.data);
                return this.data.filter(function(item){
                    return item.check == true;
                });
                // console.log(get);
                // this.fire('select-box',e.target);
            } 
        });
    </script>
</dom-module>