
<link rel="import" href="./../../components/format-number-behavior.html">

<dom-module id="over-pay">
	<style include="gl-color gl-size">
        .container{
            padding: 10px;
        }
		.header {
			font-size:  22px;
		}
	    .searchBorder {
			border: 1px solid #ddd;
			margin: 15px;
			border-radius: 3px
		}
        .left{
            text-align: left !important;
        }
        paper-button{
            font-family: 'CSChatThaiUI', sans-serif !important;
            -webkit-font-smoothing: antialiased;
            font-size: 18px;
        }
	</style>
	<template>
		<div class="content">
			<div class="flex">
				<div style="overflow-x:auto;">
					<fee-list data="{{data.ecList}}" data-pay="[[mathDataPay(data.ecList.*)]]" check-box="true" data-overplay='true'></fee-list>
				</div>
			</div>
		</div>
        <section>
            <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
                <gl-form-panel-body label="คำนวณเงินที่ต้องชำระ" set-padding="10px 10px 20px 10px" set-border="1px">
                    <gl-grid-row width="{{getWidth}}">
                        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
                        </gl-grid-col>
                        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
                            <gl-form-input label="จำนวนเงินตามคำขอ EC : " format-number="on" value="{{bringForward.amount}}" disabled></gl-form-label-input>
                        </gl-grid-col>
                        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
                            <gl-form-input label="เงินคงเหลือจาก EC ที่ยกเลิก: " format-number="on" value="{{bringForward.balance}}" disabled></gl-form-label-input>
                        </gl-grid-col>
                        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
                        </gl-grid-col>
                    </gl-grid-row>

                    <gl-grid-row width="{{getWidth}}">
                        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
                        </gl-grid-col>
                        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
                            <gl-form-input label="จำนวนเงินที่ต้องการใช้จากใบเสร็จ/ EC ที่ยกเลิก" format-number="on" allowed-pattern="[0-9||,||.]" format-number="on" value="{{bringForward.pay_balance}}" disabled></gl-form-input>
                        </gl-grid-col>
                        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
                            <gl-form-input label="จำนวนเงินที่ต้องชำระ: " format-number="on" allowed-pattern="[0-9||,||.]" value="{{bringForward.pay}}"></gl-form-label-input>
                        </gl-grid-col>
                        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
                        </gl-grid-col>
                    </gl-grid-row>
                </gl-form-panel-body>
                <template is="dom-if" if="{{!check(bringForward.pay)}}">
                    <gl-form-panel-body label="รายละเอียดการจ่ายเงิน" set-padding="10px" set-border="1px">
                        <gl-grid-row width="{{getWidth}}">
                            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
                            </gl-grid-col>
                            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
                                <gl-combo-box class="saveData" label="เลือกธนาคาร" items="{{listBank}}" value="{{datas.bank_id}}" item-label-path="name" item-value-path="id"
                                error-message="กรุณาเลือกบริษัท" disabled$="{{check(bringForward.pay)}}"></gl-combo-box>
                            </gl-grid-col>
                            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
                                <gl-form-input label="สาขา"  value="" disabled$="{{check(bringForward.pay)}}" value="{{datas.branch}}"></gl-form-input>
                            </gl-grid-col>
                            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
                            </gl-grid-col>
                        </gl-grid-row>

                        <gl-grid-row width="{{getWidth}}">
                            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
                            </gl-grid-col>
                            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
                                <gl-form-input label="เลขที่เช็ค"  value="{{datas.check_number}}" disabled$="{{check(bringForward.pay)}}"></gl-form-input>
                            </gl-grid-col>
                            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
                                <vaadin-date-picker label="วันที่เช็ค" value="{{datas.check_date}}" disabled$="{{check(bringForward.pay)}}"></vaadin-date-picker>
                            </gl-grid-col>
                            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
                            </gl-grid-col>
                        </gl-grid-row>

                        <gl-grid-row width="{{getWidth}}">
                            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
                            </gl-grid-col>
                            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
                                <gl-form-input label="จำนวนเงินที่ต้องชำระ" value="{{datas.total}}" format-number="on" disabled$="{{check(bringForward.pay)}}"></gl-form-label-input>
                            </gl-grid-col>
                            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
                                <gl-form-input label="จำนวนเงินที่ชำระจริงตามเช็ค" value="{{datas.check_sum}}" allowed-pattern="[0-9||,||.]" format-number="on" value="" disabled$="{{check(bringForward.pay)}}"></gl-form-input>
                            </gl-grid-col>
                            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
                            </gl-grid-col>
                        </gl-grid-row>
                        
                        <gl-grid-row width="{{getWidth}}">
                            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
                            </gl-grid-col>
                            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,10]]">
                                <gl-form-textarea label="หมายเหตุ" value="{{datas.note}}"></gl-form-textarea>
                            </gl-grid-col>
                            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
                            </gl-grid-col>
                        </gl-grid-row>
                    </gl-form-panel-body>
                </template>
                <gl-form-panel-footer set-padding="10px">
                    <!--<paper-button class="gl-btn-danger" raised>ยกเลิก</paper-button>-->
                    <paper-button class="gl-btn-primary" on-tap="saveData" raised>ชำระเงิน</paper-button>
                </gl-form-panel-footer>
            </gl-form-panel>

        </section>
	</template>
	<script>
        Polymer({
            is: 'over-pay',
            observers:['setPay(bringForward.pay)'],
             behaviors:[FormatNumberBehavior],
            ready:function(){
                window.$ = this;
            },
            properties:{
                bringForward:{
                    type: Object,
                    computed: 'checkData(data.ecList.*)'
                },
                datas:{
                    type: Object,
                    value:{}
                }
            },
            setPay:function(pay){
                this.set('datas.total',pay);
            },
            check:function(data){
                return data==0;
            },
            mathDataPay:function(data){
                var amount = 0;
                var select = this.data.ecList.filter(function(item){
                    return item.check == true;
                })
                this.data.ecSelect.map((item)=>{
                    amount += item.amount;
                })
                var old = [];
                var result = {};

                for(var i = 0; i< select.length; i++){
                    var check = select[i].balance - amount;
                    if(check >= 0){
                        this.set('data.ecList'+[i]+'balance_s',amount)
                        // this.data.ecList[i].balance_s = amount;
                        break; 
                    }
                    else {
                        this.set('data.ecList'+[i]+'balance_s',select[i].balance)
                        // this.data.ecList[i].balance_s = select[i].balance;
                        amount = amount - select[i].balance;
                    }   
                }
                return this.data.ecList;
            
            },
            checkData:function(data){

                console.log(data.path);
                this.dataList = this.data.ecList;
                //if(!((data.value === true || data.value === false)||data.path==='data.ecList'))
                if(!((data.value === true || data.value === false)))
                return;

                var ec = 0;
                var sum = data.base;
                this.data.ecSelect.map((item)=>{
                    ec += item.amount;
                })
                
                if(sum.length!=0){
                    sum = sum.reduce(function(total, num) {
                        return {balance:total.balance + num.balance}
                    }).balance
                }
                var select = data.base.filter(function(row){
                    return (row.check||false) == true
                })
                if(select.length!=0){
                    select = select.reduce(function(total, num) {
                        return {balance:total.balance + num.balance}
                    }).balance
                }else{
                    select = 0;
                }

                var balance =  ((select-ec)<0?0:(select-ec))+(sum-select);
                var pay_balance = select>ec?ec:select;
                var pay = ec - pay_balance;



                
                var ecUpdate = [];
                var amount = ec;
                var select_ec = this.data.ecList.filter(function(item){
                    return item.check == true;
                })

                for(var i = 0; i< select_ec.length; i++){
                    var check = select_ec[i].balance - amount;
                    
                    if(check >= 0){
                        //amount
                        
                        select_ec[i].useBalance = amount;
                        select_ec[i].totalBalance = select_ec[i].balance-amount;
                        ecUpdate.push(select_ec[i])
                        break; 
                    }
                    else {
                        //select_ec[i].balance
                        select_ec[i].useBalance = select_ec[i].balance;
                        select_ec[i].totalBalance = select_ec[i].balance-select_ec[i].balance;
                        ecUpdate.push(select_ec[i])

                        amount = amount - select_ec[i].balance;
                    }   
                }

                var iEcUpdate = 0;
                var allEcList = this.data.ecList;
                allEcList.map(function(row,i){
                    if(row.check){
                        allEcList[i] = ecUpdate[iEcUpdate];
                        iEcUpdate++;
                    }else{
                        allEcList[i].useBalance = 0; 
                        allEcList[i].totalBalance = allEcList[i].balance;
                    }
                });
                
                this.data.ecList = allEcList;
                
                this.data.ecList.map((row,i)=>{
                    this.notifyPath(`data.ecList.${i}.useBalance`);
                    this.notifyPath(`data.ecList.${i}.totalBalance`);
                })

                
                //console.log(ecUpdate);


                return {
                    amount: ec,
                    balance: balance,
                    pay_balance: pay_balance,
                    pay: pay
                }
            },
            saveData:function(){
                var amount = 0;
                var select = this.data.ecList.filter(function(item){
                    return item.check == true;
                })
                 this.data.ecSelect.map((item)=>{
                     amount += item.amount;
                 })
                var old = [];
               

                for(var i = 0; i< select.length; i++){
                    var check = select[i].balance - amount;
                    
                    if(check >= 0){
                        old.push({
                            ec_id: select[i].id,
                            amount: amount
                        })
                        break; 
                    }
                    else {
                        old.push({
                            ec_id: select[i].id,
                            amount: select[i].balance
                        })
                        amount = amount - select[i].balance;
                    }   
                }
                var result = {};
                var ecSelect = this.data.ecList.map((item)=>{
                    var {quantity,price} = item;
                    var newData = {quantity,price}
                    newData.ec_id = item.id;
                    newData.amount = newData.quantity * newData.price;
                    return newData;
                })
                console.log(ecSelect);
                if(old.length!=0)
                    result.list_old = old;
                if(!this.check(this.bringForward.pay)){
                    // result.check = this.datas;
                    result.bank_id = this.datas.bank_id || '';
                    result.check_date = this.datas.check_date || '';
                    result.check_number = this.datas.check_number || '';
                    result.check_sum  = this.unFormat(this.datas.check_sum);
                    result.note = this.datas.note || '';
                    result.total = this.datas.total || '';
                }
                result.list = ecSelect;
                console.log(JSON.stringify(result));
                // console.log(result);
                this.fire('save-data',result);
            }
        });
    </script>
</dom-module>