<link rel="import" href="../../../bower_components/nylon-toast/nylon-toast.html">
<style media="screen">
    html,
    body {
        margin: 0;
        height: 100%;
    }
</style>
<link rel="import" href="components/list-menubo.html">
<dom-module id="layout-backoffice">
    <style is="custom-style" include="iron-flex iron-flex-alignment">

    </style>
    <style is="custom-style" include="gl-color">
        div.paper-header {
            border-bottom: 1px solid var(--paper-grey-300);
        }

        paper-toolbar.toolbarHead {
            --paper-toolbar-background: #f7941e;
            --paper-toolbar-title: {
                font-weight: normal;
                font-size: 20px;
                padding: 0px 0px 10px 70px;
                line-height: 25px;
                font-family: 'rsubold', sans-serif;
                -webkit-font-smoothing: antialiased;
            }
            ;
        }

        paper-toolbar.toolbarbody {
            height: 5px;
            --paper-toolbar-background: #FFF;
        }

        paper-toolbar.toolbarfoot {
            /*height: 50px;*/
            --paper-toolbar-background: #FFF;
            --paper-header-panel-body: {
                font-size: 16px;
            }
            ;
        }

        paper-toolbar.toolbarbody>div.title {
            margin-left: 0px;
        }

        div.content {
            margin: 5px 0px 0px 0px;
        }

        .gl-btn-success {
            width: auto;
        }
        .setPosition {
           position: fixed;
           left: 50%;
           width: 100%;
           top: 50%;
          font-size: 16px;
        }
        .loading {
            text-align: center;
        }
        .get {
          --paper-toast-background-color: var(--gl-primary-color);
          border: 1px solid var(--gl-white-color);
        }
        .save {
          --paper-toast-background-color: var(--gl-success-color);
          border: 1px solid var(--gl-white-color);
        }
        .delete {
          --paper-toast-background-color: var(--gl-danger-color);
          border: 1px solid var(--gl-white-color);
        }
    </style>

    <template>

    <paper-drawer-panel id="drawerDashboard" force-narrow drawer-width="30%">
      <paper-header-panel mode="waterfall" drawer >
        <div class="paper-header">
          <paper-toolbar class="toolbarHead">
            <iron-image src="../../../images/manifest/icon-32.png"></iron-image>
            <div class="title">
                Menu
            </div>
          </paper-toolbar>
          <paper-toolbar class="toolbarbody">
          </paper-toolbar>
          <!-- <paper-toolbar class="toolbarfoot">

              <div class="title"></div>
              <icon-toggle toggles tabindex="0" on-tap="togglePanel" id="changeWidth">
                <iron-icon class="gl-icon-size" icon="swap-horiz" title="ย่อ/ขยายหน้าต่าง" ></iron-icon>
              </icon-toggle>
              <icon-toggle toggles tabindex="0" on-tap="loadPages">
                <iron-icon class="gl-icon-size" icon="settings" title="ตั้งค่า" ></iron-icon>
              </icon-toggle>
          </paper-toolbar> -->
        </div>
        <div class="content">
          <list-menubo></list-menubo>
        </div>
      </paper-header-panel>
      <paper-header-panel mode="waterfall" main>
        <div class="paper-header">
          <paper-toolbar class="toolbarHead">
            <paper-icon-button icon="menu" class="menu" on-tap="_changDrawer"></paper-icon-button>
            <iron-image src="../../../images/manifest/icon-32.png"></iron-image>
            <div class="title">
                  ระบบจัดการข้อมูลพื้นฐาน
            </div>
          </paper-toolbar>
          <paper-toolbar class="toolbarbody">
          </paper-toolbar>

          <!-- <nylon-toast>

          </nylon-toast> -->
          <!-- <paper-toolbar class="toolbarfoot">
            <paper-icon-button icon="menu" class="menu" on-tap="_changDrawer"></paper-icon-button>
            <div class="title"></div>
          </paper-toolbar> -->
        </div>
        <div class="content">
          <nylon-toast>
            <tag-page-load id="tagPageLoad"></tag-page-load>
          </nylon-toast>
        </div>
      </paper-header-panel>
      </paper-drawer-panel>

  </template>
    <script>
        Polymer({
            is: 'layout-backoffice',
            behaviors: [gl.behavior.template, gl.behavior.locales, gl.behavior.core],
            properties: {
                loadContent: {
                    type: Boolean,
                    value: false
                }
            },
            created: function() {
                this.glQuery('layoutRegistion', this);
            },
            changePath: function(path) {
                this.loadContent = true;
                // console.log('a',this.loadContent);
                this.glChangePath(path);
            },

            changeLanguage: function() {
                if (this.language == 'th') {
                    this.glSwitchLanguage('en');
                } else {
                    this.glSwitchLanguage('th');
                }
            },
            _changDrawer:function(){
              //เรียกใช้ฟั่งชั้น togglePanel .ใน  drawer
              this.$.drawerDashboard.togglePanel();
            },
            openToastLoading:function(){
                this.$.toastLoading.open();
            },
            openToastSaveing:function(){
                this.$.toastSaveing.open();
            },
            openToastDeleteing:function(){
                this.$.toastDeleteing.open();
            },

            closeToastLoading:function(callback){
              console.log("close-get");
                this.async(function(){
                    console.log("close-2-get");
                    this.$.toastLoading.hide();
                    callback();
                }.bind(this),500);
            },
            closeToastSaveing:function(callback){
              console.log("close-save");
                this.async(function(){
                    console.log("close-2-save");
                    this.$.toastSaveing.hide();
                    callback();
                }.bind(this),500);
            },
            closeToastDeleteing:function(callback){
              console.log("close-delete");
                this.async(function(){
                    console.log("close-2-delete");
                    this.$.toastDeleteing.hide();
                    callback();
                }.bind(this),500);
            }
        });
    </script>

</dom-module>
