<dom-module id="panel-right">

  <style include="iron-flex iron-flex-factors gl-color">
  :host{
    --app-drawer-width:80%;
  }
  .rightdata {
      /*position: absolute;*/
      /*float: left;*/
      height: 100%;
      border-left: 1px solid var(--paper-grey-300);
      padding: 5px 10px 0px 10px;
      height: 100%;
      overflow-y: auto;
    }
    app-drawer{
      z-index: 1;
      /*right: auto;*/
    }
    paper-icon-button{
        width: 40px;
        height: 40px;
    }
    paper-icon-button:hover{
        /*background-color: #C8C8C8;*/
        border-radius: 100%;
    }
    app-toolbar{
        background-color: orange;
        color: white;
        font-size: 20px;
        padding-left: 20px;
    }
    .iconLeft{
        position: absolute;
        left: 95%;
    }
    #bgPanel{
        position: fixed;
        background-color: #000;
        width:100%;
        height:100%;
        top:0;
        right:0;
        opacity: 0.5;
        z-index: 1;
    }
    .content{
      background-color: red;
    }
  </style>

  <template >

    <content select="grid"></content>
    <!-- align="right" -->
    <div id="bgPanel" hidden$="[[!opened]]" on-tap="close"></div>
    <app-drawer id="drawer" align="right" persistent opened="{{opened}}">
      <div>
        <app-toolbar>
            <div>

            </div>
            <div class="iconLeft">
                <paper-icon-button icon="close" on-tap="close"></paper-icon-button>
            </div>
        </app-toolbar>
      </div>
        <div class="rightdata" align="left" style="height:90%; overflow: auto;">
          <content select="panel" class="content"></content>
        </div>
      </app-drawer>
  </template>

  <script>
    Polymer({
      is:'panel-right',
      properties: {
        title:{
            type: String,
            value: 'title'
        }
      },
      behaviors:[gl.behavior.core],
      created:function(){
        this.glQuery('panelRight',this);
      },
      changDrawer:function(){
        //เรียกใช้ฟั่งชั้น togglePanel .ใน  drawer
        this.$.drawer.toggle();
      },
      close:function(e){
          this.$$('app-drawer').close();
      }
    });
  </script>

</dom-module>
