
<link rel="import" href="./../../components/format-number-behavior.html">

<dom-module id="calculate-listQuota">
    <template>
        <style is="custom-style" include="gl-panel gl-size gl-color iron-flex iron-flex-factors iron-flex-alignment">
            *{
                text-align: left;
            }
            .container{
                padding: 20px;
            }
            .gl-table-default{
               border-collapse: collapse;
               width: 100%;
               overflow-x:auto;
           }
           .gl-table-default,.gl-table-default > thead > tr > th,.gl-table-default > tbody > tr > td{
               border-bottom: 1px solid #ddd;
           }
           .gl-table-default > thead > tr > th,.gl-table-default > tbody > tr > td{
               padding: 15px;
           }
           .gl-table-default > thead > tr > th {
              text-align: center;
              white-space: nowrap;
              background-color: #F1F1F1;
           }
           .gl-table-default > tbody > tr > td{
               /*text-align: center;*/
               white-space: nowrap;
           }
           .gl-table-default > tbody > tr:hover{
               background-color: #F1F1F1;
           }
           .right{
               text-align: right !important;
           }
           .center{
               text-align: center;
           }
           .left{
               text-align: left;
           }
            .flex-equal-justified {
                @apply(--layout-horizontal);
                @apply(--layout-justified);
            }
        </style>
        <section class="container">
            <div class="gl-panel-default">
                <div class="gl-panel-default-header">
                    ปีการจัดสรรโควตา {{data.quota_id}} ประเภท : {{data.type_rice_name_th}} ปริมาณ {{formatNumber(data.quota_amount)}} ตัน
                </div>
                <div class="gl-panel-default-content">
                    <div class="right" style="padding-bottom:5px;">
                    ยอดรวมส่งออก {{countYear}} ปี เพื่อการคำนวณ: {{formatNumber(data.sum_for_cal)}} ยอดรวมการส่งออก [[formatNumber(data.sum_export)]]
                    ยอดรวมโควตา [[formatNumber(data.sum_quota)]]</div>
                    <div style="overflow-x:auto;">
                    <table class="gl-table-default" style="border: 1px solid #ddd;">
                        <thead>
                            <tr>
                                <th rowspan="2">
                                    ผู้ส่งออก
                                </th>
                                <th colspan$="[[countYear]]">
                                    ประวัติการส่งออก
                                </th>
                                <th rowspan="2">
                                    รวม 1 
                                </th>
                                <th colspan$="[[countYear]]">
                                    โควตาที่ได้รับจัดสรร
                                </th>
                                 <th rowspan="2">
                                    รวม 2
                                </th>
                                <th rowspan="2">
                                    ยอดรวมส่งออก<br>เพื่อการคำนวณ 1-2
                                </th>
                                <th rowspan="2">

                                </th>
                                <th rowspan="2">
                                    ปริมาณการจัดสรร
                                </th>
                            </tr>
                            <tr>
                                <template is="dom-repeat" items="{{quotaYear}}">
                                    <th class="center">{{item.year}}</th>
                                </template>
                                 <template is="dom-repeat" items="{{quotaYear}}">
                                    <th class="center">{{item.year}}</th>
                                </template>
                            </tr>
                        </thead>
                        <tbody>
                            <template is="dom-repeat" items="{{data.spreadsheets}}">
                                <tr>
                                   <td class="left">{{item.seller_name_th}}</td>
                                   <template is="dom-repeat" items={{item.exported}}>
                                       <td class="right">[[formatNumber(item.quantity)]]</td>
                                   </template>
                                   <td  class="right">[[formatNumber(item.exported_amount)]]</td>
                                   <template is="dom-repeat" items={{item.confirmed}}>
                                       <td class="right">[[formatNumber(item.quantity)]]</td>
                                   </template>
                                   <td class="right">[[formatNumber(item.confirmed_amount)]]</td>
                                   <td class="right">[[formatNumber(item.sum_export)]]</td>
                                   <td class="right">[[formatNumber(item.sum_export_convert)]]</td>
                                   <td class="right">[[formatNumber(item.quantity)]]</td>
                                </tr>
                            </template>
                            <tr>
                                <td></td>
                                <td colspan$="[[countYear]]"></td>
                                <td class="right">[[formatNumber(data.sum_export)]]</td>
                                <td colspan$="[[countYear]]"></td>
                                <td class="right">[[formatNumber(data.sum_quota)]]</td>
                                <td></td>
                                <td class="right">[[formatNumber(data.sum_for_cal)]]</td>
                                <td class="right">[[formatNumber(data.quota_amount)]]</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </section>
        <div class="horizontal flex-equal-justified" style="padding:0px 10px 20px 0px;">
             <div style="padding: 0px 0px 0px 20px;">
                <paper-button on-tap="_deleteData" raised><iron-icon icon="delete"></iron-icon>delete</paper-button>
            </div>
            <div>
                <paper-button on-tap="_saveData" raised class="gl-btn-success">บันทึกส่วนจัดสรร</paper-button>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'calculate-listQuota',
            behaviors:[FormatNumberBehavior],
            properties:{
                data:{
                    type: Array,
                    observer: '_getYear'
                }
            },
            _getYear:function(){
               this.data.spreadsheets.map((item)=>{
                   this.quotaYear = item.confirmed;
               });
               this.countYear = this.quotaYear.length;
            //    console.log(this.quotaYear.length);
               console.log('datalist',this.datalist);
            },
            _saveData:function(){
                this.fire('save-data',this.data.id);
            },
            _deleteData:function(){
                this.fire('delete-data');
            }
        });
    </script>
</dom-module>