
<dom-module id="calculate-list">
    <template>
        <style is="custom-style" include="gl-table">

        </style>
        <table class="gl-table-default" style="border: 1px solid #ddd;">
            <thead>
                <tr>
                  <th>คำนวณครั้งที่</th>
                  <th>ยอดรวมการส่งออกที่ผ่านมา</th>
                  <th>ยอดรวมประมูลการส่งออกเพื่อคำนวณส่วนจัดสรร</th>
                  <th>ยอดรวมโควตาที่เคยได้รับ</th>
                  <th>ปริมาณโควตา 100%</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>content...</td>
                    <td>content...</td>
                    <td>content...</td>
                    <td>content...</td>
                    <td>content...</td>
                </tr>
            </tbody>
        </table>
    </template>
    <script>
        Polymer({
            is: 'calculate-list'
        });
    </script>
</dom-module>