
<dom-module id="calculate-listQuota">
    <template>
        <style is="custom-style" include="gl-panel">
            *{
                text-align: left;
            }
            .container{
                padding: 20px;
            }
            .gl-table-default{
               border-collapse: collapse;
               width: 100%;
               overflow-x:auto;
           }
           .gl-table-default,.gl-table-default > thead > tr > th,.gl-table-default > tbody > tr > td{
               border-bottom: 1px solid #ddd;
           }
           .gl-table-default > thead > tr > th,.gl-table-default > tbody > tr > td{
               padding: 15px;
           }
           .gl-table-default > thead > tr > th {
              text-align: center;
              white-space: nowrap;
              background-color: #F1F1F1;
           }
           .gl-table-default > tbody > tr > td{
               /*text-align: center;*/
               white-space: nowrap;
           }
           .gl-table-default > tbody > tr:hover{
               background-color: #F1F1F1;
           }
           .right{
               text-align: right !important;
           }
           .center{
               text-align: center;
           }
        </style>
        <section class="container">
            <div>calculate-listQuota</div>
            <div class="gl-panel-default">
                <div class="gl-panel-default-header">
                    Header
                </div>
                <div class="gl-panel-default-content">
                    <div style="overflow-x:auto;">
                    <table class="gl-table-default" style="border: 1px solid #ddd;">
                        <thead>
                            <tr>
                                <th rowspan="2">
                                    ผู้ส่งออก
                                </th>
                                <th colspan$="[[countYear]]">
                                    ประวัติการส่งออก
                                </th>
                                <th rowspan="2">
                                    รวม 1 
                                </th>
                                <th colspan$="[[countYear]]">
                                    โควตาที่ได้รับจัดสรร
                                </th>
                                 <th rowspan="2">
                                    รวม 2
                                </th>
                                <th rowspan="2">
                                    ยอดรวมส่งออก<br>เพื่อการคำนวณ 1-2
                                </th>
                                <th rowspan="2">

                                </th>
                                <th rowspan="2">
                                    ปริมาณการจัดสรร
                                </th>
                            </tr>
                            <tr>
                                <template is="dom-repeat" items="{{quotaYear}}">
                                    <th>{{item.year}}</th>
                                </template>
                                 <template is="dom-repeat" items="{{quotaYear}}">
                                    <th>{{item.year}}</th>
                                </template>
                            </tr>
                        </thead>
                        <tbody>
                            <template is="dom-repeat" items="{{data}}">
                                <tr>
                                   <td class="center">{{item.seller_name_th}}</td>
                                   <template is="dom-repeat" items={{item.exported}}>
                                       <td class="right">{{item.quantity}}</td>
                                   </template>
                                   <td>{{item.exported_amount}}</td>
                                   <template is="dom-repeat" items={{item.confirmed}}>
                                       <td class="right">{{item.quantity}}</td>
                                   </template>
                                   <td class="right">{{item.confirmed_amount}}</td>
                                   <td class="center">{{item.sum_export}}</td>
                                   <td class="center">{{item.sum_export_convert}}</td>
                                   <td class="right">{{item.quantity}}</td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </section>
       
    </template>
    <script>
        Polymer({
            is: 'calculate-listQuota',
            properties:{
                data:{
                    type: Array,
                    observer: '_getYear'
                }
            },
            _getYear:function(){
               this.data.map((item)=>{
                   this.quotaYear = item.confirmed;
               });
               this.countYear = this.quotaYear.length;
            //    console.log(this.quotaYear.length);
               console.log('datalist',this.datalist);
            }
        });
    </script>
</dom-module>