<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<dom-module id="calculate-setting">
  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .title{
      text-align: center;
      font-size: 22px;
    }
    *{
      text-align:left;
    }
    .flex-equal-justified {
      @apply(--layout-horizontal);
      @apply(--layout-justified);
    }
    paper-item:hover{
      background-color: #F1F1F1;
    }
    .bg{
      background-color: #F1F1F1;
      padding: 10px;
    }
    .font{
      font-size: 18px;
    }
    .container{
      padding: 20px;
    }
    .panel{
      border: 1px solid var(--gl-gray-light-color);
      padding: 5px;
      border-radius: 3px;
    }
    .headerContent{
      background-color: orange;
      padding: 10px;
      color:white;
    }
  </style>
  <template>
      <header>
        <!--<div class="title container">การคำนวณส่วนจัดสรร</div>-->
       
        <div class="font">
          <gl-grid-row width="{{getWidth}}">
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
              <div>
              <gl-form-label-input label="ปีโควตา" value="{{quotaYear}}"></gl-form-label-input>
              </div>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"> 
            		<gl-form-dropdown-menu label="ประเภทข้าว">
									<paper-listbox class="dropdown-content" attr-for-selected="rice-type-id" selected="{{selectTypeRice}}">
										<template is="dom-repeat" items="{{getTypeRice}}">
											<paper-item rice-type-id="{{item.id}}">{{item.type_rice_name_th}}</paper-item>
										</template>
									</paper-listbox>
								</gl-form-dropdown-menu>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
              <gl-form-input label="การคำนวณครั้งที่" value="{{ordinalNumber}}" required ></gl-form-input>  
             <!--<gl-form-input></gl-form-input>-->
            </gl-grid-col> 
          </gl-grid-row>
          </div>

      </header>
         <gl-form-panel set-padding = "0px 0px 20px 0px">
           <div class="headerContent">ค้นหารายชื่อบริษัททั้งหมดที่ทำการบันทึกประวัติเพื่อคำนวณ</div>
            <gl-form-panel-body set-border="0px">
        <div>
           <gl-grid-row width="{{getWidth}}">
               <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
               		<gl-form-dropdown-menu label="แสดงข้อมูลรายปี">
                    <paper-listbox class="dropdown-content" attr-for-selected="year" selected="{{selectYearFirst}}">
                      <template is="dom-repeat" items="{{getYear}}">
                        <paper-item year="{{item}}">{{item}}</paper-item>
                      </template>
                    </paper-listbox>
                  </gl-form-dropdown-menu>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
              </gl-grid-col>
             <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                 <gl-form-dropdown-menu label="แสดงข้อมูลรายปี">
                    <paper-listbox class="dropdown-content" attr-for-selected="year" selected="{{selectYearLast}}">
                      <template is="dom-repeat" items="{{getYear}}">
                        <paper-item year="{{item}}">{{item}}</paper-item>
                      </template>
                    </paper-listbox>
                  </gl-form-dropdown-menu>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
                 <paper-button class="gl-btn-primary" raised>
                    <iron-icon icon="search"></iron-icon>
                 </paper-button>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
              </gl-grid-col>
           </gl-grid-row>
        </div>
        <div class="container">
        <paper-listbox class="panel">
            <div class="bg"> 
              <div class="flex-equal-justified">
                <paper-checkbox checked="{{selectAll}}" style="padding:10px">Select All </paper-checkbox>
                <paper-button raised on-tap="cal">คำนวณ</paper-button>       
              </div>
            </div> 
            <div>
              <template is="dom-repeat" items="{{companyName}}">
                
                <paper-item>
                  <paper-checkbox id="CheckData" style="padding:5px" checked="{{item.check}}" on-input="changeCheck">{{item.seller_name_th}}</paper-checkbox>
                </paper-item>
              </template> 
            </div>
            </paper-listbox>
            </div>
            </gl-form-panel-body>
         </gl-form-panel>
       
        <div>
          
          </div>

         <gl-form-panel set-padding = "0px 0px 20px 0px">
           <div class="headerContent">รายละเอียดการจัดสรรโควตา</div>
            <gl-form-panel-body set-border="0px">
           <div class="vertical layout flex marginTL">
          <div class="horizontal layout">
            <div class="flex-3 textcontent">ยอดรวมการส่งออกที่ผ่านมา</div>
            <div class="textcontent"> : </div>
            <div class="flex"><gl-form-input no-label-float value="{{sumAnswer.sum_export}}"></gl-form-input></div>
            <div class="flex"></div>
          </div>
          <div class="horizontal layout">
            <div class="flex-3 textcontent">ยอดรวมวัติการส่งออกเพื่อคำนวณส่วนจัดสรร</div>
            <div class="textcontent"> : </div>
            <div class="flex"><gl-form-input no-label-float value="{{sumAnswer.sum_for_cal}}"></gl-form-input></div>
            <div class="flex"></div>
          </div>
          <div class="horizontal layout">
            <div class="flex-3 textcontent">ยอดรวมโควตาที่เคยได้รับ</div>
            <div class="textcontent"> : </div>
            <div class="flex"><gl-form-input no-label-float value="{{sumAnswer.sum_quota}}"></gl-form-input></div>
            <div class="flex"></div>
          </div>
           <div class="horizontal layout">
            <div class="flex-3 textcontent">ปริมาณโควตา 100%</div>
            <div class="textcontent"> : </div>
            <div class="flex"><gl-form-input no-label-float value="{{sumAnswer.quota_amount}}"></gl-form-input></div>
            <div class="flex"></div>
          </div>
          </div>
        </div>
            </gl-form-panel-body>
         </gl-form-panel>

        
      </div>
      <footer>
        <div class="horizontal end-justified layout">
          <paper-button class="gl-btn-danger" raised>ยกเลิก</paper-button>
          <paper-button class="gl-btn-success" on-tap="_saveData" raised>บันทึก</paper-button>
        </div>
      </footer>
  </template>
  <script>
    Polymer({
      is: "calculate-setting",
      observers:[
        '_yearQuoataChanged(selectQuotaYear)',
        '_getlistCompany(selectYearFirst,selectYearLast,selectTypeRice)'
      ],
      properties:{
        companyName:{
          type: Array,
          value:[]
        },
        quotaYear:{
          type: String
        },
        resault:{
          type: String
        },
        selectAll:{
          type: Boolean,
          value: false,
          observer: '_selectAllChanged'
        },
        sumAnswer:{
          type : Object,
          value: {}
        }
      },
      ready:function(){
        this._getTypeRice();
        this._getYear();
        this._getQuotaYear();
      },
      cal:function(e){
        const check = (item)=>{
            //console.log(item);
            return item.check == true;
        }
        this.resault = '1';

        var exporter = [];
         this.companyName.filter(check).map(function(data){
           exporter.push(data.id);
         })

         this.sendCompanyData = {
           year_quota : this.quotaYear,
           frist_year : this.firstYear,
           last_year : this.lastYear,
           exporter_id : exporter,
           type_rice_id : this.typeRice
         }
          this.fire('toast',{status:'load'});
         this.fire('post-sum',this.sendCompanyData);
        //  this._postDb();
        //  console.log(this.sendCompanyData);
      },
      _selectAllChanged:function(val){ 
        this.companyName.map((item,index)=>{
          this.set('companyName.'+index+'.check',val);
        });
      },
      _getTypeRice:function(){
          axios.get('./eu/type_rice/')
          .then((response)=>{
              console.log("success!!");
              console.log(response.data);
              this.getTypeRice = response.data;
          })
          .catch((error)=>{
              console.log("error");
              console.log(error);
          });
      },
      _getYear:function(){
        axios.get('./eu/calculate/year')
        .then((response)=>{
          console.log("success");
          this.getYear = response.data;
          //console.log(this.getYear);
        })
        .catch((error)=>{
          console.log("error");
          console.log(error.message);
          this.fire('toast',{status:'connectError',text:error.message,
            callback:function(){
              //console.log('test');
            }})
        });
      },
       _getQuotaYear:function(){
          axios.get('./eu/quota/year')
          .then((response)=>{
            console.log("success");
            this.getQuotaYear = response.data;
            //console.log(this.getYear);
          })
          .catch((error)=>{
            console.log("error");
            console.log(error.message);
            this.fire('toast',{status:'connectError',text:error.message,
              callback:function(){
                //console.log('test');
              }})
          });
        },
        _yearQuoataChanged:function(quotaYear){
          this.quotaYear = quotaYear;
        },
      _getlistCompany:function(fistYear,lastYear,typeRice){
        this.firstYear = fistYear;
        this.lastYear = lastYear; 
        this.typeRice = typeRice;
        this.fire('toast',{status:'load'});
        axios.get('./eu/calculate/exporter',{
          params:{
            frist_year : fistYear,
            last_year : lastYear,
            type_rice_id : typeRice
          }
        })
        .then((response)=>{
          console.log("success");
          this.companyName = response.data;
          this.fire('toast',{
              status:'success',
              text:this.textToast,
              callback:function(){
                //console.log('test');
              }
            });
          //this.fire('toast',{status:'loadSuccess'});
          //  this.listCompany.map((item)=>{
          //  });

          console.log(this.companyName);
          //this.getYear = response.data;
          //console.log(this.getYear);
        })
        .catch((error)=>{
          console.log("error");
          console.log(error.message);
          this.fire('toast',{status:'connectError',text:error.message,
            callback:function(){
              //console.log('test');
            }})
        });
      },
      _saveData:function(){
        var sendData = {
          quota_id : this.quotaYear,
          type_rice_id : this.selectTypeRice,
          ordinal_number : this.ordinalNumber,
          sum_export : this.sumAnswer.sum_export,
          sum_for_cal : this.sumAnswer.sum_for_cal,
          sum_quota : this.sumAnswer.sum_quota,
          quota_amount : this.sumAnswer.quota_amount,
        }
        this.fire('post-data',sendData);
        //console.log(sendData);
       
      }
    });
  </script>
</dom-module>
