<!-- call by my-dashboard -->
<link rel="import" href="my-listitem.html">
<dom-module id="my-listmenu">
<style>
.container{
  padding: 10px;
}
  .flex-horizontal {
   @apply(--layout-horizontal);
 }
 .flex-vertical {
  @apply(--layout-vertical);
}
 .flexchild-1 {
   @apply(--layout-flex);
 }
 .flexchild-2 {
   @apply(--layout-flex-2);
 }
 .bd {
   /*border: 1px solid #000;*/
 }
 .menuHead{
  padding-left: 17px;
 }
 .listmenu{
   padding: 17px 0px 17px 0px;
   font-size: 1.1em;
   background-color: var(--paper-grey-200);
 }
</style>
  <template>
    <div class="flex-vertical">
      <div class="flex-horizontal listmenu bd">
        <div class="flexchild-2 menuHead bd">ชื่อสัญญา</div>
        <div class="flexchild-1 bd">ปี</div>
      </div>
      <div class="flex-vertical">
        <template is="dom-repeat" items="[[data]]">
          <my-listitem label="[[label]]" data="[[item]]" seleted="{{seleted}}" index="[[index]]" index-select="{{indexSelect}}" state-click="{{stateClick}}"></my-listitem>
        </template>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: "my-listmenu",
      listeners:{
          'tap': 'selectData',
      },
      properties:{
          seleted:{
              type:Object,
              notify:true
          },
          indexSelect:{
              observer:'obIndexSelect',
              notify:true
          },
          onSelect:{
              type:Boolean,
              value: false
          },
          stateClick:{
              type:Boolean,
              value: false,
              notify: true
          }
      },
      observers:['obData(data.*)'],
      obData:function(data){
          console.log(data);
      },
      selectData:function(event){
          event.stopPropagation();
          this.seleted = this.data;
          this.indexSelect = this.index;

          this.stateClick = true;
      },
      getLabel:function(label,data){
          //console.log(data);
          return data.base[label];
      },
      obIndexSelect:function(select){
          if(this.index == select){
              this.onSelect = true;
          }else{
              this.onSelect = false;
          }
      }
    });
  </script>
</dom-module>
