<dom-module id="my-listitem">
  <style>
  .flexchild-1 {
    @apply(--layout-flex);
  }
  .flexchild-2 {
    @apply(--layout-flex-2);
  }
  paper-item.menu{
    --paper-item:{
      /*height: 60px;*/
      /*border: 1px solid #000;*/
      border-bottom: 1px solid var(--paper-grey-300);
      /*margin-bottom: 10px;*/
    };
  }
  </style>
  <template>
      <!-- <span item-selected$="{{onSelect}}">[[getLabel(label,data.*)]]<br> -->
    <paper-item class="menu" item-selected$="{{onSelect}}">
      <div class="flexchild-2">
        [[getLabel(label,data.*)]]
      </div>
      <div class="flexchild-1">

      </div>
    </paper-item>
  </template>
  <script>
    Polymer({
      is: "my-listitem",
      listeners:{
          'tap': 'selectData',
      },
      properties:{
          seleted:{
              type:Object,
              notify:true
          },
          indexSelect:{
              observer:'obIndexSelect',
              notify:true
          },
          onSelect:{
              type:Boolean,
              value: false
          },
          stateClick:{
              type:Boolean,
              value: false,
              notify: true
          }
      },
      observers:['obData(data.*)'],
      obData:function(data){
          console.log(data);
      },
      selectData:function(event){
          event.stopPropagation();
          this.seleted = this.data;
          this.indexSelect = this.index;

          this.stateClick = true;
      },
      getLabel:function(label,data){
          //console.log(data);
          return data.base[label];
      },
      obIndexSelect:function(select){
          if(this.index == select){
              this.onSelect = true;
          }else{
              this.onSelect = false;
          }
      }
    });
  </script>
</dom-module>
