<link rel="import" href="../panel-seleted.html">
<link rel="import" href="promise/promise-detail.html">
<link rel="import" href="promise/promise-fileup.html">
<link rel="import" href="promise/promise-file.html">
<link rel="import" href="promise/promise-confirm.html">
<link rel="import" href="period/period-lot.html">
<link rel="import" href="period/period-city.html">
<link rel="import" href="vessel/vessel-detail.html">
<link rel="import" href="vessel/vessel-print.html">
<link rel="import" href="vessel/vessel-draf.html">
<link rel="import" href="invoice/invoice-detail.html">
<link rel="import" href="invoice/invoice-print.html">
<link rel="import" href="payment/payment-detail.html">
<link rel="import" href="payment/payment-print.html">


<dom-module id="my-panel">
  <template>

    <panel-seleted>
      <section-content name="detail">
        <!-- <promise-detail data="{{dataSelected}}"></promise-detail> -->
        <!-- <promise-confirm></promise-confirm> -->
        <!-- <promise-fileup></promise-fileup> -->
        <!-- <period-lot></period-lot> -->
        <!-- <period-city></period-city> -->
        <!-- <vessel-detail></vessel-detail> -->
        <!-- <vessel-draf></vessel-draf> -->
        <invoice-detail></invoice-detail>
        <!-- <payment-detail></payment-detail> -->
        <rice-promise-detail data="{{dataselected}}"></rice-promise-detail>
        <!-- <rice-promise-confirm></rice-promise-confirm> -->
        <!-- <rice-promise-fileup></rice-promise-fileup> -->
        <!-- <rice-period-lot></rice-period-lot> -->
        <!-- <rice-period-city></rice-period-city> -->
        <!-- <rice-vessel-detail></rice-vessel-detail> -->
      </section-content>
      <section-content name="print">
        <!-- <vessel-print></vessel-print> -->
        <!-- <invoice-print></invoice-print> -->
        <payment-print></payment-print>
      </section-content>
      <section-content name="file">
        <!-- <promisefile></promisefile> -->
        <promise-fileup></promise-fileup>
      </section-content>
    </panel-seleted>

  </template>

  <script>
    Polymer({
      is: "my-panel",

    });
  </script>
</dom-module>
