<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="nx-datalist-item.html">

<dom-module id="nx-datalist">

    <template>
      [[data]]
        <template is="dom-repeat" items="[[data]]">
            <nx-datalist-item label="[[label]]" data="[[item]]" seleted="{{seleted}}" index="[[index]]" index-select="{{indexSelect}}" state-click="{{stateClick}}"></nx-datalist-item>
        </template>
    </template>

    <script>
        Polymer({
            is:'nx-datalist',
            properties:{
                data:{
                    type:Object
                },
                seleted:{
                    type:Object,
                    notify:true
                }
            },
            observers:['obData(data.*)'],
            obData:function(x){
                //console.log(x);
            },
            changeData:function(){

                this.set('data.0',
                    { id:1 , name:'aaaaaaa' }
                );
                this.set('data.0',
                    { id:1 , name:'bbbbbbb' }
                );


                // this.set('data',
                //   [{ id:1 , name:'BEE' },{ id:2 , name:'ice' }]
                // );

                // this.set('data',
                //   [{ id:1 , name:'B' }]
                // );

                // this.splice('data',1,1);

                //this.push('data',{id:3,name:'miki'});

            },
            created:function(){
                var test = function(){

                    if(this.stateClick==true){
                        this.stateClick=false;
                    }else{
                        this.indexSelect = 'not select';
                    }
                }

                document.addEventListener("click",test.bind(this));

            }
        });
    </script>
</dom-module>
