<link rel="import" href="nx-grid-header.html">
<link rel="import" href="nx-grid-list.html">

<dom-module id="nx-grid">

    <style>
        .header{
            /*background-color:#3399FF;*/
            padding: 17px 0px 17px 17px;
            font-size: 0.9em;
            background-color: var(--paper-grey-200);
        }
        .flex-horizontal {
        @apply(--layout-horizontal);
        }
        .flexchild-1 {
         @apply(--layout-flex);
        }
        .flexchild-2 {
         @apply(--layout-flex-2);
        }
    </style>

    <template>
        <content id="primary" select="items[type=primary]"></content>
        <content id="secondary" select="items[type=secondary]"></content>
        <div class="header flex-horizontal"><!-- imp:nx-grid-header --></div>
        <!-- <paper-menu> -->
        <!-- <paper-submenu> -->
          <nx-grid-list config="{{config}}" data="{{data}}" seleted="{{seleted}}" seletedmenu="{{seletedMenu}}"></nx-grid-list>
        <!-- <paper-submenu> -->
        <!-- </paper-menu> -->
    </template>

    <script>
        Polymer({
            is:'nx-grid',
            properties:{
                seleted:{
                    type:Object,
                    notify:true
                },
                config:{
                    type:Object
                },
                seletedMenu:{
                  type:Number,
                  notify:true
                }
            },
            ready:function(){
                var config = {primary:[],secondary:[]};

                var items = Polymer.dom(this.$.primary).getDistributedNodes();
                var lists = Polymer.dom(items[0]).querySelectorAll('list');
                // console.log(items);
                for (var i = 0; i < lists.length; i++) {
                    var nodeNxGridHeader = document.createElement('nx-grid-header');
                    nodeNxGridHeader.label = lists[i].getAttribute('label');
                    nodeNxGridHeader.width = lists[i].getAttribute('width');

                    var att = document.createAttribute("class");       // Create a "class" attribute
                    att.value = "flexchild-1";

                    Polymer.dom(this.$$('.header')).appendChild(nodeNxGridHeader);
                    // สร้างคราส
                    nodeNxGridHeader.setAttributeNode(att);
                    var configPointer = {
                        item:lists[i].getAttribute('item'),
                        label:lists[i].getAttribute('label'),
                        width:lists[i].getAttribute('width')
                    };

                    config.primary.push(configPointer);
                }

                var items2 = Polymer.dom(this.$.secondary).getDistributedNodes();
                var lists2 = Polymer.dom(items2[0]).querySelectorAll('list');

                for (var i = 0; i < lists2.length; i++) {
                    //var nodeNxGridHeader = document.createElement('nx-grid-header');
                    //nodeNxGridHeader.label = lists2[i].getAttribute('label');
                    //nodeNxGridHeader.width = lists2[i].getAttribute('width');
                    //Polymer.dom(this.$$('.header')).appendChild(nodeNxGridHeader);

                    var configPointer2 = {
                        item:lists2[i].getAttribute('item'),
                        label:lists2[i].getAttribute('label'),
                        width:lists2[i].getAttribute('width')
                    };

                    config.secondary.push(configPointer2);
                }

                config.sub = Polymer.dom(this.$.secondary).getDistributedNodes()[0].getAttribute('item');

                // console.log(config);
                this.config = config;
            }
        });
    </script>
</dom-module>
