<dom-module id="rice-file">
  <style include="iron-flex iron-flex-alignment">
  .top{
    margin-top: 20px;
  }
  paper-button{
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  </style>
  <template>
    <div class="vertical layout">
      <div class="horizontal around-justified layout top">
        <div>ชื่อไฟล์</div>
        <div>วันที่</div>
      </div>
      <div>
        <paper-button class="button" raised>เพิ่มไฟล์</paper-button>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: "rice-file",

    });
  </script>
</dom-module>
