<dom-module id="rice-detail">
  <style include="iron-flex iron-flex-alignment">
.box{
  width:230px;
}
.top{
  margin-top: 15px;
}
.button{
  width: 20px;
  height: 30px;
  margin-top: 10px;
}
  </style>
  <template>
    <div class="vertical layout">
      <div class="horizontal layout top">
        <div class="flex">
          <div class="box"><paper-input auto-validate error-message="กรุณาใส่ชื่อสัญญา" required label="ชื่อสัญญา" value="{{data.name}}"></paper-input></div>
        </div>
        <div class="flex">
          <div class="box"><paper-input auto-validate error-message="กรุณาใส่เลขที่สัญญา" required  label="เลขที่สัญญา" value=""></paper-input></div>
        </div>
      </div>

      <div class="horizontal layout">
        <div class="flex">
          <div class="box"><vaadin-date-picker label="วันที่"></vaadin-date-picker></div>
        </div>
        <div class="flex">
          <div class="box"><paper-input auto-validate error-message="กรุณาใส่ราคา" required  label="ราคา" value=""></paper-input></div>
        </div>
      </div>

      <div class="horizontal layout">
        <div class="flex">
          <div class="box"><paper-input auto-validate error-message="กรุณาใส่ชนิดข้าว" required  label="ชนิดข้าว" value=""></paper-input></div>
        </div>
        <div class="flex">
          <div class="box"><paper-input auto-validate error-message="กรุณาใส่จำนวน" required  label="จำนวน (ตัน)" value=""></paper-input></div>
        </div>
      </div>

        <div class="flex">
          <paper-textarea label="ชื่อผู้ซื้อสินค้า, ที่อยู่"></paper-textarea>
        </div>

        <div class="flex">
          <paper-textarea label="รายละเอียด"></paper-textarea>
        </div>

      <div class="horizontal end-justified layout">
        <paper-button class="button" raised>ยกเลิก</paper-button>
        <paper-button class="button" raised>บันทึก</paper-button>
      </div>


    </div>
  </template>

  <script>
    Polymer({
      is: "rice-detail",
      properties: {
        data: {
          type: Object,
          value: { name:''}
        },
        error:{
          type:Object,
          value:{ name:false }
        }
      },
      validate: function(){

        if(
            (
              this.data.name != ""
              // this.data.id != "" &&
              // this.data.etd != "" &&
              // this.data.eta != ""
            )
            &&
            (
              this.error.vessel == false
              // this.error.id == false &&
              // this.error.etd == false &&
              // this.error.eta == false
            )
        ){
          var queryELement = document.querySelector('dashboard-my-dashboard');
          queryELement.save(this.data,this.index);
        }
      }
    });
  </script>
</dom-module>
