<dom-module id="rice-fileup">
  <style>
  .top{
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .content{
    margin: 6.5em;
  }
  .content2{
    padding-left: 15px;
  }
  paper-button{
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .flex-horizontal {
    @apply(--layout-horizontal);
  }
  .flex-vertical {
    @apply(--layout-vertical);
    height: 220px;
  }
  .flexchild-1 {
    @apply(--layout-flex);
  }
  .flexchild-2 {
    @apply(--layout-flex-2);
  }
  .bd {
    border: 1px solid #000;
    margin: 5px;
  }
  .text{
    text-align: center;
    color: gray;
    margin-top: 10px;
  }
  iron-icon{
    width: 3em;
    height: 3em;
    align-self: center;
    color: gray;
  }
  </style>
  <template>
    <div class="flex-vertical">
      <div class="flex-horizontal top">
          <div class="flexchild-1">
            <div class="content2">ชื่อไฟล์</div>
          </div>
          <div class="flexchild-1">วันที่</div>
      </div>

      <div class="content">
        <div class="flex-vertical">
          <iron-icon icon="icons:description"></iron-icon>
          <div class="text">ไม่มีไฟล์</div>
          <div class="text">ลากไฟล์มาวางหรือกดเพิ่ม</div>
          <div class="text">ไฟล์</div>
        </div>

      </div>

          <paper-button class="button" raised>เพิ่มไฟล์</paper-button>

    </div>

  </template>
  <script>
    Polymer({
      is: "rice-fileup",


    });
  </script>
</dom-module>
