<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<link rel="import" href="./../../components/format-number-behavior.html">
<dom-module id="calculate-setting">
  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .title{
      text-align: center;
      font-size: 22px;
    }
    *{
      text-align:left;
      font-family: 'rsuregular', sans-serif;
			-webkit-font-smoothing: antialiased;
    }
    .flex-equal-justified {
      @apply(--layout-horizontal);
      @apply(--layout-justified);
    }
    paper-item:hover{
      background-color: #F1F1F1;
    }
    .bg{
      background-color: #F1F1F1;
      padding: 10px;
    }
    .font{
      font-size: 18px;
    }
    .container{
      padding: 20px;
    }
    .panel{
      border: 1px solid var(--gl-gray-light-color);
      padding: 5px;
      border-radius: 3px;
    }
    .headerContent{
      background-color: orange;
      padding: 10px;
      color:white;
    }
    .textcontent{
      margin : 10px 0px 0px 50px;
      font-size: 18px;
    }
    .font,paper-button,.textcontent,paper-checkbox{
        font-family: 'CSChatThaiUI', sans-serif !important;
        -webkit-font-smoothing: antialiased;
    }
  </style>
  <template>
      <header>
      
        <div class="font">
          <gl-grid-row width="{{getWidth}}">
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
              <div>
              <gl-form-label-input label="ปีโควตา" value="{{quotaYear}}"></gl-form-label-input>
              </div>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"> 
               <gl-combo-box class="saveData" label="ประเภทข้าว" items="{{getTypeRice}}" value="{{selectTypeRice}}" placeholder="กรุณาเลือกประเภทข้าว"
                item-label-path="type_rice_name_th" item-value-path="id" error-message="กรุณาเลือกเดือน" required></gl-combo-box>
            	
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
              <gl-form-input class="saveData" label="การคำนวณครั้งที่" allowed-pattern="[0-9||,||.]" format-number="on" value="{{ordinum}}" required ></gl-form-input>  

            </gl-grid-col> 
          </gl-grid-row>
          </div>

      </header>
         <gl-form-panel set-padding = "0px 0px 20px 0px">
           <div class="headerContent">ค้นหารายชื่อบริษัททั้งหมดที่ทำการบันทึกประวัติเพื่อคำนวณ</div>
            <gl-form-panel-body set-border="0px">
        <div>
           <gl-grid-row width="{{getWidth}}">
               <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                 <gl-combo-box label="แสดงข้อมูลรายปี" items="{{getYear}}" value="{{selectYearFirst}}"></gl-combo-box>
               	
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
              </gl-grid-col>
             <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
              <gl-combo-box label="แสดงข้อมูลรายปี" items="{{getYear}}" value="{{selectYearLast}}"></gl-combo-box> 
                
              </gl-grid-col>
             
           </gl-grid-row>
        </div>
        <div class="container">
        <paper-listbox class="panel">
            <div class="bg"> 
              <div class="flex-equal-justified">
                <paper-checkbox checked="{{selectAll}}" style="padding:10px">เลือกทั้งหมด</paper-checkbox>
                <paper-button class="default" raised on-tap="cal" disabled$="{{active}}">คำนวณ</paper-button>       
              </div>
            </div> 
            <div>
              <template is="dom-repeat" items="{{companyName}}">
                
                <paper-item>
                  <paper-checkbox id="CheckData" style="padding:5px" checked="{{item.check}}" on-input="changeCheck">{{item.name}}</paper-checkbox>
                </paper-item>
              </template> 
            </div>
            </paper-listbox>
            </div>
            </gl-form-panel-body>
         </gl-form-panel>
       
        <div>
          
          </div>

         <gl-form-panel set-padding = "0px 0px 20px 0px">
           <div class="headerContent">รายละเอียดการจัดสรรโควตา</div>
            <gl-form-panel-body set-border="0px">
           <div class="vertical layout flex marginTL">
          <div class="horizontal layout">
            <div class="flex-3 textcontent">ยอดรวมการส่งออกที่ผ่านมา</div>
            <div class="flex"><gl-form-input class="saveData" allowed-pattern="[0-9||,||.]" format-number="on" no-label-float value="{{sumAnswer.sum_export}}" required></gl-form-input></div>
            <div class="flex"></div>
          </div>
          <div class="horizontal layout">
            <div class="flex-3 textcontent">ยอดรวมประวัติการส่งออกเพื่อคำนวณส่วนจัดสรร</div>
            <div class="flex"><gl-form-input class="saveData" allowed-pattern="[0-9||,||.]" format-number="on" no-label-float value="{{sumAnswer.sum_for_cal}}" required></gl-form-input></div>
            <div class="flex"></div>
          </div>
          <div class="horizontal layout">
            <div class="flex-3 textcontent">ยอดรวมโควตาที่เคยได้รับ</div>
            <div class="flex"><gl-form-input class="saveData" allowed-pattern="[0-9||,||.]" format-number="on" no-label-float value="{{sumAnswer.sum_quota}}" required></gl-form-input></div>
            <div class="flex"></div>
          </div>
           <div class="horizontal layout">
            <div class="flex-3 textcontent">ปริมาณโควตา 100%</div>
            <div class="flex"><gl-form-input class="saveData" allowed-pattern="[0-9||,||.]" format-number="on" no-label-float value="{{sumAnswer.quota_amount}}" required></gl-form-input></div>
            <div class="flex"></div>
          </div>
          </div>
        </div>
            </gl-form-panel-body>
         </gl-form-panel>

        
      </div>
      <footer>
        <div class="horizontal end-justified layout">
          <paper-button class="gl-btn-danger" raised>ยกเลิก</paper-button>
          <paper-button class="gl-btn-success" on-tap="_saveData" raised>บันทึก</paper-button>
        </div>
      </footer>
  </template>
  
  <script>

    Polymer({
      is: "calculate-setting",
      behaviors:[FormatNumberBehavior],
      observers:[
        '_yearQuoataChanged(selectQuotaYear)',
        '_getlistCompany(selectYearFirst,selectYearLast,selectTypeRice)'
      ],
      properties:{
        companyName:{
          type: Array,
          value:[]
        },
        quotaYear:{
          type: String
        },
        ordinalNumber:{
          type: String,
          // observer : 'mathOrdinalNumber'
        },
        resault:{
          type: String
        },
        selectAll:{
          type: Boolean,
          value: false,
          observer: '_selectAllChanged'
        },
        sumAnswer:{
          type : Object,
          value: {}
        },
        active:{
          type: Boolean,
          value : true
        }
      },
      ready:function(){
        this._getTypeRice();
        this._getYear();
        // this._getQuotaYear();
      },
      mathOrdinalNumber:function(){
        // var num = number + 1;
        if(this.ordinalNumber == ""){
          this.ordinum = 1;
        }
        else {
          this.ordinalNumber.map((item)=>{
            
            this.ordinum = item.detail.length+1;
            this.ordinum.toString();
          });
        }
        // this.ordinalNumber.length + 1;
        // this.ordinalNumber.toString();
       
      },
      cal:function(e){
        const check = (item)=>{
            //console.log(item);
            return item.check == true;
        }
        this.resault = '1';

        var exporter = [];
         this.companyName.filter(check).map(function(data){
           exporter.push(data.id);
         })
         this.sendCompanyData = {
           year_quota : this.quotaYear,
           frist_year : this.firstYear,
           last_year : this.lastYear,
           exporter_id : exporter,
           type_rice_id : this.typeRice
         }
         console.log(this.sendCompanyData);
          this.fire('toast',{status:'load'});
         this.fire('post-sum',this.sendCompanyData);
         
        //  console.log(this.sendCompanyData);
      },
      _selectAllChanged:function(val){ 
        this.companyName.map((item,index)=>{
          this.set('companyName.'+index+'.check',val);
        });
      },
      _getTypeRice:function(){
          axios.get('./common/type_rice')
          .then((response)=>{
              console.log("success!!");
              console.log(response.data);
              this.getTypeRice = response.data;
          })
          .catch((error)=>{
              console.log("error");
              console.log(error);
          });
      },
      _getYear:function(){
        axios.get('./calculate/year/report')
        .then((response)=>{
          console.log("success");
          this.getYear = response.data.map((item)=>{
            return item.toString();
          });
          //console.log(this.getYear);
        })
        .catch((error)=>{
          console.log("error");
          console.log(error.message);
          this.fire('toast',{status:'connectError',text:error.message,
            callback:function(){
              //console.log('test');
            }})
        });
      },
       _getQuotaYear:function(){
          axios.get('./eu/quota/year')
          .then((response)=>{
            console.log("success");
            this.getQuotaYear = response.data;
            //console.log(this.getYear);
          })
          .catch((error)=>{
            console.log("error");
            console.log(error.message);
            this.fire('toast',{status:'connectError',text:error.message,
              callback:function(){
                //console.log('test');
              }})
          });
        },
        _yearQuoataChanged:function(quotaYear){
          this.quotaYear = quotaYear;
        },
      _getlistCompany:function(fistYear,lastYear,typeRice){
        if(fistYear != ''&& lastYear != ''&& typeRice != ''){
        this.active = false;
        this.firstYear = fistYear;
        this.lastYear = lastYear; 
        this.typeRice = typeRice;
        this.fire('toast',{status:'load'});
        axios.get('./calculate/exporter',{
          params:{
            year : this.quotaYear,
            frist_year : fistYear,
            last_year : lastYear,
            type_rice_id : typeRice
          }
        })
        .then((response)=>{
          console.log("success");
          this.companyName = response.data;
          console.log(response.data);
          
          this.fire('toast',{
              status:'success',
              text:this.textToast,
              callback:function(){
                //console.log('test');
              }
            });
          //this.fire('toast',{status:'loadSuccess'});
          //  this.listCompany.map((item)=>{
          //  });

          
          //this.getYear = response.data;
          //console.log(this.getYear);
        })
        .catch((error)=>{
          console.log("error");
          console.log(error.message);
          this.fire('toast',{status:'connectError',text:error.message,
            callback:function(){
              //console.log('test');
            }})
        });
        }
      },
      _saveData:function(){
        var stat = Polymer.dom(this.root).querySelectorAll('.saveData').map((item)=>{
          return item.validate();
        });
        const chkStat = function(stat){
          return stat == true;
        }
        if(stat.every(chkStat) == true){
          var {frist_year,last_year,type_rice_id,ordinal,exporter_id} = this.sendCompanyData;
          var newdata = {frist_year,last_year,type_rice_id,ordinal,exporter_id};
          newdata.frist_year = parseInt(this.firstYear);
          newdata.last_year = parseInt(this.lastYear);
          newdata.ordinal = parseInt(this.ordinum);
          newdata.year = parseInt(this.quotaYear)
          // console.log(newdata);
          this.fire('post-data',newdata);
         
          
        }
        else {
          console.log('failed');
        }
       
       
      }
    });
  </script>
</dom-module>
