<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/data-manage-behavior.html">
<dom-module id="calculate-list">
    <template>
        <style is="custom-style" include="gl-table gl-size gl-color">
            .container {
                padding: 20px;
                border: 1px solid #ddd;
                border-radius: 5px;
            }
            paper-tooltip{
                --paper-tooltip:{
                    font-size: 20px;
                    font-family: 'rsuregular', sans-serif;
                    -webkit-font-smoothing: antialiased;
                }
            }
          

            .container>div {
                font-size: 24px;
                padding: 0px 10px 10px 10px;
            }
            
            .right {
                text-align: right !important;
            }
            
            .center {
                text-align: center;
            }
            
            .left {
                text-align: left;
            }
            .flex-equal-justified {
                @apply(--layout-horizontal);
                @apply(--layout-justified);
            }
            paper-button{
                font-size : 16px;
                font-family: 'rsuregular', sans-serif;
                -webkit-font-smoothing: antialiased;
            }
        </style>
        <template is="dom-if" if="{{dataStat}}">
            <div class="container">
                <div class="flex-equal-justified">
                    <div>ประเภท : </div>
                    <!--<paper-icon-button icon="create" id="settingData" disabled="{{active}}" on-tap="_settingData"></paper-icon-button>
                    <paper-tooltip for="settingData" offset="0">ตั้งค่าการคำนวณโควตา</paper-tooltip>-->
                    <!--<paper-button hidden="{{active}}" raised class="gl-btn-primary"on-tap="_settingData">ตั้งค่าการคำนวณโควตา</paper-button>-->
                </div>
                 <table class="gl-table-default" style="border: 1px solid #ddd;">
                <thead>
                    <tr>
                        <th>คำนวณครั้งที่</th>
                        <th class="right">ยอดรวมการส่งออกที่ผ่านมา</th>
                        <th class="right">ยอดรวมประวัติการส่งออกเพื่อคำนวณส่วนจัดสรร</th>
                        <th class="right">ยอดรวมโควตาที่เคยได้รับ</th>
                        <th class="right">ปริมาณโควตา 100%</th>
                        <th class="right">สถานะ</th>
                    </tr>
                </thead>
            
                <tbody>
                    <tr>
                        <td colspan="6">ไม่พบข้อมูล</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </template>
        <template is="dom-repeat" items="{{listData}}">
        <div class="container">
            
            <div class="flex-equal-justified">
                <div>ประเภท : {{item.type_rice_name_th}}</div>
                <!--<paper-icon-button icon="create" id="settingData" disabled="{{active}}" on-tap="_settingData"></paper-icon-button>
                <paper-tooltip for="settingData" offset="0">ตั้งค่าการคำนวณโควตา</paper-tooltip>-->
                 <!--<paper-button hidden="{{active}}" raised class="gl-btn-primary"on-tap="_settingData">ตั้งค่าการคำนวณโควตา</paper-button>-->
            </div>
            
            <table class="gl-table-default" style="border: 1px solid #ddd;">
                <thead>
                    <tr>
                        <th>คำนวณครั้งที่</th>
                        <th class="right">ยอดรวมการส่งออกที่ผ่านมา</th>
                        <th class="right">ยอดรวมประวัติการส่งออกเพื่อคำนวณส่วนจัดสรร</th>
                        <th class="right">ยอดรวมโควตาที่เคยได้รับ</th>
                        <th class="right">ปริมาณโควตา 100%</th>
                        <th class="right">สถานะ</th>
                    </tr>
                </thead>
               
                    <tbody>
                        <template is="dom-repeat" items="{{item.detail}}">
                            <tr on-tap="_selectData" key="[[item.id]]" style="cursor:pointer;">
                                <td>[[item.ordinal_number]]</td>
                                <td class="right">[[formatNumber(item.sum_export)]]</td>
                                <td class="right">[[formatNumber(item.sum_for_cal)]]</td>
                                <td class="right">[[formatNumber(item.sum_quota)]]</td>
                                <td class="right">[[formatNumber(item.quota_amount)]]</td>
                                <td class="right">[[item.status]]</td>
                            </tr>
                        </template>
                    </tbody>
                
            </table>
           
        </div>
         </template>
    </template>
    <script>
        Polymer({
            is: 'calculate-list',
            behaviors:[FormatNumberBehavior,DataManageBehavior],
            observers:['checkData(listData)'],
            properties:{
                active:{
                    type: Boolean,
                    value: true
                },
                listData:{
                    type: Array,
                    observer: '_getDatalist'
                }
            },
            _selectData:function(e){
                // console.log(e.currentTarget.key);
                
                this.fire('data-select',{
                    key:e.currentTarget.key,
                    status:e.currentTarget.status});
            },
            _getDatalist:function(){
                console.log('list',this.listData);
                this.active = false;
                this.listData.map((item)=>{
                    item.detail.map((item)=>{
                        item.status = '?';
                    });
                    this.typeRiceName = item.type_rice_name_th;
                   // listData = item.detail;
                });
            },
            _settingData:function(){
                this.fire('setting-data');
            }
            
        });
    </script>
</dom-module>