<link rel="import" href="listEditBehavior.html">
<dom-module id="list-edit">
  <style include="iron-flex iron-flex-factors iron-flex-alignment">
    .header{
      text-align: center;
      padding: 0px;
      height: 48px;
      line-height: 48px;
      word-wrap: break-word;
    }
    .cleanBd{
      padding: 0px;
    }
    .bd{
      border: 1px solid #000;
    }
    .fontPdLeft{
      padding-left: 10px;
      word-wrap: break-word;
    }
    paper-button{
      width: 20px;
      height: 30px;
      margin-top: 30px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    paper-input{
      width: 100%;
    }
  </style>
  <template>
    <content id="primary" select="items[type=primary]"></content>
    <content id="secondary" select="items[type=secondary]"></content>

    <div class="layout horizontal bd">
      <template is="dom-repeat" items="{{config.primary}}">
        <div class$="[[item.width]] bd  header">
          [[item.label]]
        </div>
      </template>
    </div>
    <template is="dom-repeat" as="itemPrimary" items="{{data}}">
      <paper-item class="fancy cleanBd bd" on-tap="toggle" aria-controls$="[[itemPrimary.collapse]]">
        <template is="dom-repeat" as="configPrimary" items="{{config.primary}}">
          <div class$="[[configPrimary.width]]">
            <div class="fontPdLeft">
              {{_getItemPrimary(itemPrimary,configPrimary)}}
            </div>
          </div>
        </template>
      </paper-item>
      <iron-collapse id="[[itemPrimary.collapse]]">
        <div class="collapse-content">

          <button type="button" name="button" on-tap="editChange">แก้ไข</button>
          <button type="button" name="button" on-tap="finChange">บันทึก</button>
          <!-- เพิ่มคอมโพเน้นตรงนี้ -->
            <!-- <vessel-draf data="{{itemPrimary}}"></vessel-draf> -->
            <gl-grid-row width="{{getWidth}}">
              <gl-grid-col width="[[getWidth]]" grid="[[500,3],[700,2]]">
                <paper-input label="Package(kg/PP Page)" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[itemPrimary.package]]" disabled></paper-input>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[500,3],[700,2]]">
                <paper-input label="เมืองท่าปลายทาง" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[itemPrimary.cityEnd]]" disabled></paper-input>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,4]]">
                <paper-input label="Booking Shipper" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[itemPrimary.bs]]" disabled></paper-input>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[500,3],[700,2]]">
                  <paper-input label="Booking No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[itemPrimary.bn]]" disabled></paper-input>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,3]]">
                <paper-input label="Vessel" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[itemPrimary.vesselName]]" disabled></paper-input>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[500,2]]">
                <paper-input label="Void No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[itemPrimary.voidNo]]" disabled></paper-input>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[500,1]]">
                <paper-input label="Lot No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[itemPrimary.lotNo]]" disabled></paper-input>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[500,2]]">
                <paper-input label="Pol" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[itemPrimary.pol]]" disabled></paper-input>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[500,2]]">
                <paper-input label="ETD" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[itemPrimary.etd]]" disabled></paper-input>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[500,2]]">
                <paper-input label="ETA" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[itemPrimary.eta]]" disabled></paper-input>
              </gl-grid-col>
              <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,5]]">
                <paper-input label="POD" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[itemPrimary.pod]]" disabled></paper-input>
              </gl-grid-col>
            </gl-grid-row>
          <!-- จบ -->
        </div>
      </iron-collapse>
    </template>

    <div class="horizontal end-justified layout">
      <paper-button raised>ยกเลิก</paper-button>
      <paper-button raised>บันทึก</paper-button>
    </div>

  </template>
  <script>
    Polymer({
      is: "list-edit",
      behaviors:[listEditBehavior],
      properties: {
        data: {
          type: Object,
          notify: true
        }
      }


    });
  </script>
</dom-module>
