<link rel="import" href="listEditBehavior.html">
<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">

<dom-module id="list-period">
  <style include="iron-flex iron-flex-factors iron-flex-alignment">
    .header{
      text-align: center;
      padding: 10px 0px 10px 10px;
      background-color: var(--paper-grey-100);
      color: var(--paper-grey-600);
      word-wrap: break-word;
    }
    .cleanBd{
      padding: 0px;
    }
    .bd{
      border-bottom: 1px solid #ccc;
    }
    .fontPdLeft{
      /*padding: 10px 0px 10px 10px;*/
      text-align: center;
      word-wrap: break-word;
    }
    paper-button{
      width: 20px;
      height: 30px;
      margin-top: 30px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    paper-item{
      cursor:pointer;
    }
    .yellow-button {
       text-transform: none;
       color: #eeff41;
     }
     paper-toast {
       --paper-toast-background-color:var(--paper-green-500);
       /*height: 50px;*/
       /*margin: 0px 0px 0px 0px;*/
       /*padding: 0px 0px 0px 0px;*/

       font-size: 16px;
       width: 600px;
       text-align: center;
     }
     paper-toast > div.content > iron-icon {
        padding: 0px 10px 0px 0px;
     }

     #changeDivcss {
       background-color: var(--paper-grey-100);
       padding: 10px;
     }
     .testblock{
       display: block;
     }
     .testnone{
       display: none;
     }
    </style>
  <template>

    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,3]]">
        <paper-input auto-validate error-message="กรุณาใส่จำนวน" pattern="[0-9]{1,7}"required  label="งวดที่" placeholder="ใส่ได้เฉพาะตัวเลขเท่านั้น" value$="[[data.periodNo]]"></paper-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,7]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[500,1]]">
        <paper-button raised on-tap="click">เพิ่ม</paper-button>
      </gl-grid-col>
    </gl-grid-row>

    <div id="changeDivcss" class="testnone">
      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,4]]">
          <gl-form-input auto-validate error-message="กรุณาใส่ชื่อสัญญา" required label="เมืองท่าปลายทาง" value="" placeholder="ใส่รายละเอียด"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,4]]">
          <gl-form-input auto-validate error-message="กรุณาใส่ชื่อสัญญา" required label="จำนวน/ตัน" value="" placeholder="ใส่รายละเอียด"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[500,12]]">
          <gl-form-textarea rows="3" label="NOTIFY PARTY" placeholder="ใส่รายละเอียด" auto-validate error-message="กรุณาใส่รายละเอียด" required value="[[data.notifyParty]]"></gl-form-textarea>
        </gl-grid-col>
      </gl-grid-row>

      <div class="horizontal end-justified layout">
        <paper-button class="button" raised>ยกเลิก</paper-button>
        <paper-button class="button" on-tap="validate" raised>บันทึก</paper-button>
      </div>
    </div>

    <content id="primary" select="items[type=primary]"></content>
    <content id="secondary" select="items[type=secondary]"></content>

    <div class="layout horizontal">
      <template is="dom-repeat" items="{{config.primary}}">
        <div class$="[[item.width]] header">
          [[item.label]]
        </div>
      </template>
    </div>
    <template is="dom-repeat" as="itemPrimary" items="{{data}}">
      <paper-item class="fancy cleanBd bd" on-tap="toggle" aria-controls$="[[itemPrimary.collapse]]">
        <template is="dom-repeat" as="configPrimary" items="{{config.primary}}">
          <div class$="[[configPrimary.width]]">
            <div class="fontPdLeft">
              {{_getItemPrimary(itemPrimary,configPrimary)}}
            </div>
          </div>
        </template>
      </paper-item>
      <iron-collapse id="[[itemPrimary.collapse]]">
        <div class="collapse-content">
          <div class="layout horizontal">
            <div class="flex-2"></div>
            <div class="flex-2">
              <paper-button raised on-tap="saveChange" index="[[index]]"><iron-icon icon="save"></iron-icon>บันทึก</paper-button>
              <paper-button raised on-tap="editChange" index="[[index]]"><iron-icon icon="create"></iron-icon>แก้ไข</paper-button>
              <paper-button raised on-tap="" index="[[index]]"><iron-icon icon="delete"></iron-icon>ลบ</paper-button>
            </div>
          </div>

          <!-- เพิ่มคอมโพเน้นตรงนี้ -->
          <gl-form-panel label="[[itemPrimary.cityDestination]]">
            <iron-pages selected="0" class$="iron-index-{{index}}">
              <period-edit data="{{itemPrimary}}" id="[[itemPrimary.collapse]]"></period-edit>
              <period-lot data="{{itemPrimary}}" id="[[itemPrimary.collapse]]"></period-lot>
            </iron-pages>
          </gl-form-panel>
          <!-- จบ -->
        </div>
      </iron-collapse>
    </template>

    <paper-toast id="toastPass" class="fit-bottom" >
      <div class="content">
        <iron-icon icon="check"></iron-icon>บันทึกข้อมูลเสร็จสิน<paper-button on-tap="closeToast" class="yellow-button">ปิด</paper-button>
      </div>
    </paper-toast>


    <div class="horizontal end-justified layout">
      <paper-button class="button" raised>ยกเลิก</paper-button>
      <paper-button class="button" raised>บันทึก</paper-button>
    </div>


  </template>
  <script>
    Polymer({
      is: "list-period",
      behaviors:[listEditBehavior],
      properties: {
        data: {
          type: Object,
          notify: true
        }
      },
      checkDom:function(e){
        var id = e.target.id;
        console.log(id);
        // this.$$.id;
        console.log(this.$$.collapsel1);
      },
      click:function(){
        var css = Polymer.dom(this.root).querySelector('#changeDivcss');
          // เช็คว่ามีแล้วหรือยัง ถ้ามีแล้วก็ไม่เพิ่ม
          // console.log(css
          if (css.classList.contains('testnone') == true){
            css.classList.remove("testnone");
            css.classList.add("testblock");
          }else{
            css.classList.remove("testblock");
            css.classList.add("testnone");
          }
      },


    });
  </script>
</dom-module>
