<link rel="import" href="listEditBehavior.html">
<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">

<dom-module id="list-edit">
  <style include="iron-flex iron-flex-factors iron-flex-alignment">
    .header{
      text-align: center;
      padding: 10px 0px 10px 10px;
      background-color: var(--paper-grey-100);
      color: var(--paper-grey-600);
      word-wrap: break-word;
    }
    .cleanBd{
      padding: 0px;
    }
    .bd{
      border-bottom: 1px solid #ccc;
    }
    .fontPdLeft{
      padding: 10px 0px 10px 10px;
      word-wrap: break-word;
    }
    paper-button{
      width: 20px;
      height: 30px;
      margin-top: 30px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    paper-input{
      width: 100%;
    }
    paper-item{
      cursor:pointer;
    }
    .yellow-button {
       text-transform: none;
       color: #eeff41;
     }
     paper-toast {
       --paper-toast-background-color:var(--paper-green-500);
       /*height: 50px;*/
       /*margin: 0px 0px 0px 0px;*/
       /*padding: 0px 0px 0px 0px;*/

       font-size: 16px;
       width: 600px;
       text-align: center;
     }
     paper-toast > div.content > iron-icon {
        padding: 0px 10px 0px 0px;
     }
    </style>
  <template>
    <content id="primary" select="items[type=primary]"></content>
    <content id="secondary" select="items[type=secondary]"></content>

    <div class="layout horizontal">
      <template is="dom-repeat" items="{{config.primary}}">
        <div class$="[[item.width]] header">
          [[item.label]]
        </div>
      </template>
    </div>
    <template is="dom-repeat" as="itemPrimary" items="{{data}}">
      <paper-item class="fancy cleanBd bd" on-tap="toggle" aria-controls$="[[itemPrimary.collapse]]">
        <template is="dom-repeat" as="configPrimary" items="{{config.primary}}">
          <div class$="[[configPrimary.width]]">
            <div class="fontPdLeft">
              {{_getItemPrimary(itemPrimary,configPrimary)}}
            </div>
          </div>
        </template>
      </paper-item>
      <iron-collapse id="[[itemPrimary.collapse]]">
        <div class="collapse-content">
          <div class="layout horizontal">
            <div class="flex-4"></div>
            <div class="flex-2">
              <paper-button raised on-tap="editChange" index="[[index]]"><iron-icon icon="create"></iron-icon>แก้ไข</paper-button>
              <paper-button raised on-tap="saveChange" index="[[index]]"><iron-icon icon="save"></iron-icon>บันทึก</paper-button>
            </div>
          </div>

          <!-- เพิ่มคอมโพเน้นตรงนี้ -->
          <gl-form-panel label="[[itemPrimary.actualShipper]]">
            <iron-pages selected="0" class$="iron-index-{{index}}">
              <vessel-edit data="{{itemPrimary}}" id="[[itemPrimary.collapse]]"></vessel-edit>
              <vessel-draf data="{{itemPrimary}}" id="[[itemPrimary.collapse]]"></vessel-draf>
            </iron-pages>
          </gl-form-panel>


          <!-- จบ -->
        </div>
      </iron-collapse>
    </template>
    <paper-toast id="toastPass" class="fit-bottom" >
      <div class="content">
        <iron-icon icon="check"></iron-icon>บันทึกข้อมูลเสร็จสิน<paper-button on-tap="closeToast" class="yellow-button">ปิด</paper-button>
      </div>
    </paper-toast>
<!--
    <div class="horizontal end-justified layout">
      <paper-button raised>ยกเลิก</paper-button>
      <paper-button raised>บันทึก</paper-button>
    </div> -->


  </template>
  <script>
    Polymer({
      is: "list-edit",
      behaviors:[listEditBehavior],
      properties: {
        data: {
          type: Object,
          notify: true
        }
      },
      checkDom:function(e){
        var id = e.target.id;
        console.log(id);
        // this.$$.id;
        console.log(this.$$.collapsel1);
      }


    });
  </script>
</dom-module>
