<script>
  listEditBehavior = {
    properties:{
        seleted:{
            type:Object,
            notify:true
        },
        config:{
            type:Object
        },
        subComponent:{
            type:Object
        },
        selectChoice:{
            type:Number,
            value:0
        }
    },
    ready: function() {
      //หัวตาราง
      var config = {primary:[]};
      var items = Polymer.dom(this.$.primary).getDistributedNodes();
      var lists = Polymer.dom(items[0]).querySelectorAll('list');
      var countPrimary =lists.length;
      for (var i = 0; i < countPrimary; i++) {
          var configPointer = {
              item:lists[i].getAttribute('item'),
              label:lists[i].getAttribute('label'),
              width:lists[i].getAttribute('width')
          };
          config.primary.push(configPointer);
      }
      //ข้อมูลในตาราง
      var items2 = Polymer.dom(this.$.secondary).getDistributedNodes();
      var lists2 = Polymer.dom(items2[0]).querySelector('list');
      // var subComponent = this.$.subComponent;
      this.subComponent = lists2;
      // console.log(subComponent);
      // console.log(this.subComponent);
      // var countSecondary =lists.length;
      // for (var i = 0; i < countSecondary; i++) {
      //
      //     var configPointer2 = {
      //         item:lists2[i].getAttribute('item'),
      //         label:lists2[i].getAttribute('label'),
      //         width:lists2[i].getAttribute('width')
      //     };
      //

      // }
      this.config = config;
    },
    attached: function() {
      var subComponent = this.$.subComponent;
      // console.log(subComponent);
      l(this.data);
    },
    _getItemPrimary:function(item,config){
        return item[config.item];
    },
    toggle: function(e) {
       var targetAttribute = e.currentTarget.getAttribute('aria-controls');
      //  console.log(targetAttribute);
       this.$$('#'+targetAttribute).toggle();
     },
     _toggleSub:function(e){
       var targetAttribute = e.currentTarget.getAttribute('aria-controls');
       this.$$('#'+targetAttribute).toggle();
       if (e.target.icon == 'expand-more') {
         e.target.icon = 'chevron-right';
       }else {
         e.target.icon = 'expand-more'
       }
     },
     editChange:function(e){
      //  var change = this._edit(e);
      //  change.map((el)=>{
      //      el.removeAttribute("disabled");
      //  })

      //console.log(e.currentTarget.index);
      //console.log(this.$$(".iron-index-"+e.currentTarget.index));
      this.$$(".iron-index-"+e.currentTarget.index).selected = 1;
      //console.log(Polymer.dom(this.root).querySelector("[iron-index="+e.currentTarget.index+"]"));
          //this.selectChoice = 1;
          this.closeToast();
    },
     saveChange:function(e){
       this.$$(".iron-index-"+e.currentTarget.index).selected = 0;
       this.openToast();
      //  console.log(this.$$("paper-toast").id.toggle());

      //  var change = this._edit(e);
      //  change.map((el)=>{
      //      el.setAttribute('disabled', '')
      //  })
        //this.selectChoice = 0;
     },
     _edit:function(e){
       var editText = '#'+e.target.parentElement.parentElement.getAttribute('id');
       var change = Polymer.dom(this.$$(editText)).querySelectorAll('paper-input');
       return change;
     },
     openToast: function() {
      this.$.toastPass.open();
    },
    closeToast:function () {
      this.$.toastPass.hide();
    }
  };
</script>
