<dom-module id="daily-largest-rice-importers-of-thailand">
  <style include="gl-styles iron-flex iron-flex-factors iron-flex-alignment">
    :host {
      display: block;
    }
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .title{
      font-weight: bold;
      margin: 20px 0px 10px 0px;
    }
    table.gl-table-default > thead.table-head > tr > th{
      text-align: center;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(1),
    table.gl-table-default > tbody.table-body > tr > td:nth-child(3),
    table.gl-table-default > tbody.table-body > tr > td:nth-child(4),
    table.gl-table-default > tfoot.table-foot > tr > td:nth-child(3),
    table.gl-table-default > tfoot.table-foot > tr > td:nth-child(4){
      text-align:right;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(2),{
      text-align:left;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(1){
      width: 10%;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(3),
    table.gl-table-default > tbody.table-body > tr > td:nth-child(4){
      width: 20%;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(2){
      width: 40%;
    }
  </style>
  <template>
    <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
        <gl-form-panel-head label="ประเทศ ผู้นำเข้ารายใหญ่ของประเทศไทยตามการแจ้งขายข้าวประจำวัน" set-padding="10px" set-border="1px">
            <!--content-->
            <paper-button raised on-tap="">EXCEL</paper-button>
            <paper-button raised on-tap="word">WORD</paper-button>
            <paper-button raised on-tap="pdf">PDF</paper-button>
        </gl-form-panel-head>
        <!-- <div class="title">
          1. ปริมาณและมูลค่าการส่ง
        </div> -->

          <table class="gl-table-default">
              <thead class="table-head">
                <tr>
                  <th>ลำดับ</th>
                  <th>ประเทศปลายทาง</th>
                  <th>ปริมาณ (ตัน)</th>
                  <th>มูลค่า US.$</th>
                </tr>
              </thead>
              <tfoot class="table-foot">
                <tr>
                  <td></td>
                  <td>รวม</td>
                  <td>183306</td>
                  <td>61668843.00</td>
                </tr>
              </tfoot>
              <tbody class="table-body">
                  <tr>
                   <td>1</td>
                   <td>เบนิน</td>
                   <td>61720.00</td>
                   <td>20942460.00</td>
                  </tr>
                  <tr>
                   <td>2</td>
                   <td>เซเนกัล</td>
                   <td>44611.00</td>
                   <td>14103238.00</td>
                  </tr>
                  <tr>
                   <td>3</td>
                   <td>อังโกลา</td>
                   <td>41950.00</td>
                   <td>14476725.00</td>
                  </tr>
                  <tr>
                   <td>5</td>
                   <td>ฟิลิปปินส์</td>
                   <td>36025.00</td>
                   <td>12146420.00</td>
                  </tr>
             </tbody>
          </table>
          ที่มา: กลุ่มบริหารข้อมูลปละสถิติ สำนักบริหารการค้าข้าว
        </gl-form-panel-body>
    <!-- </gl-form-panel> -->
  </template>
  <script>
    Polymer({
      is: "daily-largest-rice-importers-of-thailand",

    });
  </script>
</dom-module>
