<dom-module id="rice-sell-notify">
  <style include="gl-styles iron-flex iron-flex-factors iron-flex-alignment">
    :host {
      display: block;
    }
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .title{
      font-weight: bold;
      margin: 20px 0px 10px 0px;
    }
    table.gl-table-default > thead.table-head > tr > th{
      text-align: center;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(1),
    table.gl-table-default > tbody.table-body > tr > td:nth-child(4),
    table.gl-table-default > tbody.table-body > tr > td:nth-child(6){
      text-align:left;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(2),
    table.gl-table-default > tbody.table-body > tr > td:nth-child(3),
    table.gl-table-default > tbody.table-body > tr > td:nth-child(5),
    table.gl-table-default > tbody.table-body > tr > td:nth-child(7){
      text-align:right;
    }

  </style>
  <template>
    <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
        <gl-form-panel-head label="รับแจ้งขายข้าวประจำวัน" set-padding="10px" set-border="1px">
            <!--content-->
            <paper-button raised on-tap="">EXCEL</paper-button>
            <paper-button raised on-tap="word">WORD</paper-button>
            <paper-button raised on-tap="pdf">PDF</paper-button>
        </gl-form-panel-head>
        <!-- <div class="title">
          1. ปริมาณและมูลค่าการส่ง
        </div> -->

          <table class="gl-table-default">
              <thead class="table-head">
                <tr>
                  <th>บริษัท</th>
                  <th>ปริมาณ (ต้น)</th>
                  <th>มูลค่า(US.$)</th>
                  <th>ชนิดข้าว</th>
                  <th>ราคา FOB.US$</th>
                  <th>ประเทศปลายทาง</th>
                  <th>วันทำสัญญา</th>
                </tr>
              </thead>
              <tbody class="table-body">
                  <tr>
                   <td>นครหลวงค้าข้าว</td>
                   <td>2000.00</td>
                   <td>662000.00</td>
                   <td>ข้าวเจ้าขาวอื่น 15% (ตามตัวอย่าง)</td>
                   <td>331.00</td>
                   <td>โมซัมบิก </td>
                   <td>16/12/2559</td>
                  </tr>
                  <tr>
                   <td>ไทยสแตนดาร์ดไร้ส์</td>
                   <td>1560.00</td>
                   <td>563160.00</td>
                   <td>ข้าวเจ้าขาวอื่น 5% </td>
                   <td>361.00</td>
                   <td>ฟิลิปปินส์ </td>
                   <td>19/12/2559</td>
                  </tr>
                  <tr>
                   <td>ธนสรรไรซ์</td>
                   <td>1560.00</td>
                   <td>873600.00</td>
                   <td>ข้าวเจ้าหอมมะลิไทย 100% ชั้น 2</td>
                   <td>560.00</td>
                   <td>ฟิลิปปินส์ </td>
                   <td>16/12/2559</td>
                  </tr>
                  <tr>
                   <td>พงษ์ลาภ</td>
                   <td>1400.00</td>
                   <td>469000.00</td>
                   <td>ข้าวเจ้าขาวอื่น 5% </td>
                   <td>335.00</td>
                   <td>ฟิลิปปินส์ </td>
                   <td>14/12/2559</td>
                  </tr>
                  <tr>
                   <td>--รวม--</td>
                   <td>6520</td>
                   <td>1971960</td>
                   <td colspan="4"></td>
                   <!-- <td>335.00</td>
                   <td>ฟิลิปปินส์ </td>
                   <td>14/12/2559</td> -->
                  </tr>
                  <tr>
                   <td>--อื่นๆ--</td>
                   <td>6520</td>
                   <td>1971960</td>
                   <td colspan="4">ข้าวเจ้าหอมมะลิไทย = 6520ตัน<br>
                    ปลายข้าวเจ้าหอมมะลิไทย = ตัน
                   </td>
                   <!-- <td>335.00</td>
                   <td>ฟิลิปปินส์ </td>
                   <td>14/12/2559</td> -->
                  </tr>
                  <tr>
                   <td>รวมทั้งสิ้น</td>
                   <td>1400.00</td>
                   <td>1971960</td>
                   <td colspan="4">
                   </td>
                   <!-- <td>335.00</td>
                   <td>ฟิลิปปินส์ </td>
                   <td>14/12/2559</td> -->
                  </tr>
             </tbody>
          </table>
          ที่มา: กลุ่มบริหารข้อมูลปละสถิติ สำนักบริหารการค้าข้าว
        </gl-form-panel-body>
    <!-- </gl-form-panel> -->
  </template>
  <script>
    Polymer({
      is: "rice-sell-notify",

    });
  </script>
</dom-module>
