
<link rel="import" href="./../../../bower_components/paper-spinner/paper-spinner.html">

<style media="screen">
    html,
    body {
        margin: 0;
        height: 100%;
    }
</style>
<link rel="import" href="../layout-dashboard/components/list-menu.html">
<dom-module id="layout-eu">
    <style is="custom-style" include="iron-flex iron-flex-alignment">

    </style>
    <style is="custom-style" include="gl-color">
        div.paper-header {
            border-bottom: 1px solid var(--paper-grey-300);
        }

        paper-toolbar.toolbarHead {
            --paper-toolbar-background: #f7941e;
            --paper-toolbar-title: {
                font-weight: normal;
                font-size: 20px;
                padding: 0px 0px 10px 70px;
                line-height: 25px;
                font-family: 'rsubold', sans-serif;
                -webkit-font-smoothing: antialiased;
            }
            ;
        }

        paper-toolbar.toolbarbody {
            height: 5px;
            --paper-toolbar-background: #FFF;
        }

        paper-toolbar.toolbarfoot {
            /*height: 50px;*/
            --paper-toolbar-background: #FFF;
            --paper-header-panel-body: {
                font-size: 16px;
            }
            ;
        }

        paper-toolbar.toolbarbody>div.title {
            margin-left: 0px;
        }

        div.content {
            margin: 5px 0px 0px 0px;
        }

        .gl-btn-success {
            width: auto;
        }
        
        .yellow-button {
            text-transform: none;
            color: #eeff41;
        }
        .setPosition {
           position: fixed;
           left: 50%;
           width: 100%;
           top: 50%;
        }
        .loading{
            text-align: center;
        }
    </style>

    <template>

    <paper-drawer-panel id="drawerDashboard" force-narrow drawer-width="40%">
      <paper-header-panel mode="waterfall" drawer >
        <div class="paper-header">
          <paper-toolbar class="toolbarHead">
            <iron-image src="../../../images/manifest/icon-32.png"></iron-image>
            <div class="title">
                Menu
            </div>
          </paper-toolbar>
          <paper-toolbar class="toolbarbody">
          </paper-toolbar>
          <!-- <paper-toolbar class="toolbarfoot">

              <div class="title"></div>
              <icon-toggle toggles tabindex="0" on-tap="togglePanel" id="changeWidth">
                <iron-icon class="gl-icon-size" icon="swap-horiz" title="ย่อ/ขยายหน้าต่าง" ></iron-icon>
              </icon-toggle>
              <icon-toggle toggles tabindex="0" on-tap="loadPages">
                <iron-icon class="gl-icon-size" icon="settings" title="ตั้งค่า" ></iron-icon>
              </icon-toggle>
          </paper-toolbar> -->
        </div>
        <div class="content">
          <list-menu></list-menu>
        </div>
      </paper-header-panel>
      <paper-header-panel mode="waterfall" main>
        <div class="paper-header">
          <paper-toolbar class="toolbarHead">
            <paper-icon-button icon="menu" class="menu" on-tap="_changDrawer"></paper-icon-button>
            <iron-image src="../../../images/manifest/icon-32.png"></iron-image>
            <div class="title">
                  ระบบจัดการโควตาข้าวภายใต้โควตาภาษีสหภาพยุโรป
            </div>
          </paper-toolbar>
          <paper-toolbar class="toolbarbody">
          </paper-toolbar>
          <!-- <paper-toolbar class="toolbarfoot">
            <paper-icon-button icon="menu" class="menu" on-tap="_changDrawer"></paper-icon-button>
            <div class="title"></div>
          </paper-toolbar> -->
        </div>
          <div class="content">
            <tag-page-load id="tagPageLoad"></tag-page-load>
          </div>
        </paper-header-panel>
      </paper-drawer-panel>
    
       <!--<paper-button raised on-tap="_clickMe" >Persistent toast</paper-button>-->
       <div class="setPosition">
        <paper-toast class="setPosition" id="toastLoading" positionTarget duration="0" text="">
            <div class="loading">
                <paper-spinner active></paper-spinner>
                <span style="padding-left:10px; position:relative; bottom: 6px;">
                    กำลังโหลด
                </span>
                <!--<paper-button onclick="toast1.toggle()" class="yellow-button">Close now!</paper-button>-->
            </div>
        </paper-toast>
       </div>
  </template>
    <script>
        Polymer({
            is: 'layout-eu',
            behaviors: [gl.behavior.template, gl.behavior.locales, gl.behavior.core],
            properties: {
                loadContent: {
                    type: Boolean,
                    value: false
                }
            },
            created: function() {
                this.glQuery('layoutEu', this);
            },
            changePath: function(path) {
                this.loadContent = true;
                // console.log('a',this.loadContent);
                this.glChangePath(path);
            },
            openToastLoading:function(){
                this.$.toastLoading.open();
            },
            closeToastLoading:function(callback){
                this.async(function(){
                    this.$.toastLoading.hide();
                    callback();
                }.bind(this),500);
            },
            changeLanguage: function() {
                if (this.language == 'th') {
                    this.glSwitchLanguage('en');
                } else {
                    this.glSwitchLanguage('th');
                }
            },
            _changDrawer:function(){
              //เรียกใช้ฟั่งชั้น togglePanel .ใน  drawer
              this.$.drawerDashboard.togglePanel();
            },
            _clickMe:function(){
                this.$.toastLoading.open();
            }
        });
    </script>

</dom-module>
