<link rel="import" href="../../functionBehavior/dataBehavior.html">
<dom-module id="insert-surveyor">
  <style include="iron-flex iron-flex-alignment gl-color gl-size">
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: var(--font-size-h5);
    }
    .text-center {
      text-align: center;
      font-size: var(--font-size-h3);
      background-color: var(--paper-grey-100);
      margin-top: 20px;
    }
    .margin-top{
      margin-top: 15px;
    }
    .button{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  </style>
  <template>
    <div class="text-center">เพิ่มข้อมูลหน่วยงานตรวจสอบสินค้า</div>

    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" error-message="กรุณากรอกชื่อหน่วยงานตรวจสอบสินค้า" required label="Surveyor Name (ชื่อหน่วยงานตรวจสอบสินค้า) :" placeholder="กรอกชื่อหน่วยงานตรวจสอบสินค้า" value="{{data.surveyor_name}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
    </gl-grid-row>

    <div class="horizontal end-justified layout">
      <div class="button">
        <paper-button class="gl-btn-danger" raised on-tap="_cancel">ยกเลิก</paper-button>
        <paper-button class="gl-btn-success" raised on-tap="_save">บันทึก</paper-button>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: "insert-surveyor",
      properties: {
        data: {
          type: Object,
          value:{}
        }
      },
      behaviors: [
          gl.behavior.core,
          gl.behavior.locales,
          dataBehavior
      ],
      _save:function functionName() {
        var datas = {
          surveyor_name: this.data.surveyor_name
        }
        // console.log(datas);
        var stat = Polymer.dom(this.root).querySelectorAll('.checkData').map((data)=>{
            return  data.validate();
        });
        var chkStat = function(stat){
            return stat == true
        };
        if(stat.every(chkStat) == true){
          this.read('./common/check/duplicate?table=surveyor&field=surveyor_name&value='+datas.surveyor_name, (response) => {
            if (response == 0) {
              this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
              this.insert('./common/surveyor/insert', datas, () => {
              this.data = {};
              this.glQuery('refreshSurveyor').getSurveyor();
              this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
                console.log('success');
              }});
             });
            }
            else {
              this.fire('toast',{status:'connectError',text:'ชื่อหน่วยงานนี้มีอยู่แล้ว',
                callback:function(){
                }})
            }
            });
        }
        else {
          this.fire('toast',{status:'connectError',text:'กรุณากรอกข้อมูลให้ครบถ้วน',
            callback:function(){
            }})
        }
      },
      _cancel:function() {
        this.glQuery('panelRight').changDrawer();
        this.data = {};
      }
    });
  </script>
</dom-module>
