<dom-module id="vessel-draf">
  <style include="iron-flex iron-flex-alignment">

  </style>

  <template>

        <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[0,12],[500,3],[700,2]]">
            <gl-form-input  label="Package(kg/PP Page)" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.package]]"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[0,12],[500,3],[700,2]]">
            <gl-form-input label="เมืองท่าปลายทาง" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.cityEnd]]"></gl-form-label>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[0,12],[500,6],[700,4]]">
            <gl-form-input label="Booking Shipper" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.bs]]"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[0,12],[500,3],[700,3]]">
              <gl-form-input label="Booking No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.bn]]"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[0,12],[500,4],[700,3]]">
            <gl-form-input label="Vessel" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.vesselName]]"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[0,12],[500,2]]">
            <gl-form-input label="Void No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.voidNo]]"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[0,12],[500,1]]">
            <gl-form-input label="Lot No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.lotNo]]"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[0,12],[500,2]]">
            <gl-form-input label="Pol" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.pol]]"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[0,12],[500,2]]">
            <gl-form-input label="ETD" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.etd]]"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[0,12],[500,2]]">
            <gl-form-input label="ETA" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.eta]]"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[0,12],[500,4],[700,5]]">
            <gl-form-input label="POD" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.pod]]"></gl-form-input>
          </gl-grid-col>
        </gl-grid-row>

  </template>

  <script>
    Polymer({
      is: "vessel-draf",
      requiredTextArea:function(e){
        e.target.validate();
      },
      ready: function() {
        l(this.data)
      },

    });
  </script>
</dom-module>
