<link rel="import" href="../bower_components/gl-form/gl-form-label.html">
<dom-module id="vessel-draf">
  <style include="iron-flex iron-flex-alignment">
    gl-form-label{
      width: 100%;
    }
  </style>

  <template>
        <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[500,3],[700,2]]">
            <gl-form-label label="Package(kg/PP Page)" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.package]]"></gl-form-label>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[500,3],[700,2]]">
            <gl-form-label label="เมืองท่าปลายทาง" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.cityEnd]]"></gl-form-label>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,4]]">
            <gl-form-label label="Booking Shipper" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.bs]]"></gl-form-label>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[500,3],[700,2]]">
              <gl-form-label label="Booking No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.bn]]"></gl-form-label>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,3]]">
            <gl-form-label label="Vessel" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.vesselName]]"></gl-form-label>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[500,2]]">
            <gl-form-label label="Void No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.voidNo]]"></gl-form-label>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[500,1]]">
            <gl-form-label label="Lot No." auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.lotNo]]"></gl-form-label>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[500,2]]">
            <gl-form-label label="Pol" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.pol]]"></gl-form-label>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[500,2]]">
            <gl-form-label label="ETD" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.etd]]"></gl-form-label>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[500,2]]">
            <gl-form-label label="ETA" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.eta]]"></gl-form-label>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,5]]">
            <gl-form-label label="POD" auto-validate error-message="กรุณาใส่รายละเอียด" required placeholder="ใส่รายละเอียด" value="[[data.pod]]"></gl-form-label>
          </gl-grid-col>
        </gl-grid-row>

  </template>

  <script>
    Polymer({
      is: "vessel-draf",
      requiredTextArea:function(e){
        e.target.validate();
      },
      ready: function() {
        l(this.data)
      },

    });
  </script>
</dom-module>
