<dom-module id="edit-port">
<style include="iron-flex iron-flex-alignment gl-color gl-size">
  .text-center {
    text-align: center;
    font-size: var(--font-size-h3);
    background-color: var(--paper-grey-100);
    margin-top: 20px;
  }
  .margin-top{
    margin-top: 15px;
  }
  .button{
    margin-top: 20px;
  }
</style>
  <template>
    <div class="text-center">แก้ไขข้อมูล Port</div>
    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-label-input class="margin-top" label="Port ID (เลขประจำตัวท่าเรือ) :" placeholder="กรอกรหัสท่าเรือ" value="{{data.port_id}}"></gl-form-label-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top" label="Port Code (รหัสท่าเรือ) :" placeholder="port_code" value="{{data.port_code}}"></gl-form-input>
      </gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top" label="Port Name (ชื่อท่าเรือ) :" placeholder="กรอกชื่อท่าเรือ" value="{{data.port_name}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box style="margin-top:15px" id="country_id" label="Country (ประเทศ)" item-label-path="country_name_th"
            item-value-path="country_id" value="{{data.country_id}}"></gl-combo-box>
      </gl-grid-col>
    </gl-grid-row>

    <div class="horizontal end-justified layout">
      <div class="button">
        <paper-button class="gl-btn-danger" on-tap="_cancel" raised>ยกเลิก</paper-button>
        <paper-button class="gl-btn-success" on-tap="_edit" raised>บันทึก</paper-button>
      </div>
    </div>

  </template>
  <script>
    Polymer({
      is: "edit-port",
      properties: {
        data: {
          type: Object,
          value: {}
        }
      },
      behaviors: [
          gl.behavior.core,
          gl.behavior.locales
      ],
      attached: function() {
        this.getCountry();
      },
      _edit:function(){
        // console.log(this.data);
        var datas = {
          id : this.data.port_id,
          port_name : this.data.port_name,
          port_code : this.data.port_code,
          country_id : this.data.country_id
        }
        this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
        axios.put('./common/port/update', datas)
            .then(function(response) {
                console.log("success");
                console.log(response);
                this.glQuery('refreshPort').getPort();
                this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
                  console.log('success');
                }});
            }.bind(this))
            .catch(function(error) {
                console.log("error");
                console.log(error);
            })
      },
      _cancel:function() {
        this.glQuery('contentPanel').changDrawer();
        this.data = {};
      },
      getDb: function(url, callback) {
          axios.get(url)
              .then(function(response) {
                  callback(response.data);
              }.bind(this))
              .catch(function(error) {}.bind(this));
      },
      getCountry: function() {
        this.country_id = this.country_id || this.$.country_id;
          this.getDb('./common/country', (data) => {
            this.country = data;
            this.country_id.items = data;
          });
      }
    });
  </script>
</dom-module>
