<link rel="import" href="../controller/g2gShipmentController.html">
<dom-module id="bill-detail-sm">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .btnVessel{
      min-height: 32px;
      min-width: 32px;
    }
    .btnVessel > iron-icon{
      height: 16px;
      width: 16px;
      margin-right: 8px;
    }
    div.title{
      margin-top: 16px;
      text-align: center;
      font-size: var(--font-size-h5);
    }
  </style>
  <template>
    <template is="dom-if" if="[[!checkBtnView(shmStatus)]]">
    <template is="dom-if" if="[[_isViewing(isInputDisabled)]]">
      <div class="horizontal end-justified layout">
        <paper-icon-button id="editConfirm" class="crud" icon="create" raised on-tap="editInput"  ></paper-icon-button>
        <paper-tooltip for="editConfirm" offset="0">Edit Booking</paper-tooltip>
        <paper-icon-button id="deleteConfirm" class="crud" icon="delete" raised on-tap="deleteBooking" hidden="[[data.shm_status]]"></paper-icon-button>
        <paper-tooltip for="deleteConfirm" offset="0">Delete Shipment</paper-tooltip>
       </div>
    </template>
      </template>
      <gl-form-panel-body>
        <div class="title">Booking</div>
      </gl-form-panel-body>
    <gl-form-panel-body>
    <!-- {{dataForSelect.shm_id}}//shm_id -->
    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input  required class="required"label="Booking No."always-float-labelerror-message="กรุณาใส่รายละเอียด" placeholder="ใส่รายละเอียด"  value="{{data.book_no}}" disabled="[[isInputDisabled]]"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input  required class="required"label="B/L No."always-float-labelerror-message="กรุณาใส่รายละเอียด" placeholder="ใส่รายละเอียด"  value="{{data.bl_no}}" disabled="[[isInputDisabled]]"></gl-form-input>
      </gl-grid-col>

      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box  required class="required"label="Shipping Agent"always-float-label item-label-path="carrier_name" disabled="[[isInputDisabled]]"
           item-value-path="carrier_id" items="{{dataForSelect.carrier}}" value="{{data.carrier_id}}"></gl-combo-box>
      </gl-grid-col>

      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box required class="required"label="Shipping Line"always-float-label item-label-path="shipline_name" disabled="[[isInputDisabled]]"
           item-value-path="shipline_id" items="{{dataForSelect.shipline}}" value="{{data.shipline_id}}" ></gl-combo-box>
      </gl-grid-col>

      <template is="dom-repeat" items="[[data.ship]]">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <!-- <gl-combo-box required class="required"label="Vessel [[_ObcountIndex(index)]]" always-float-label item-label-path="ship_name" disabled="[[isInputDisabled]]"
           item-value-path="ship_id" items="[[_getShip(data.shipline_id,dataForSelect)]]" value="{{item.ship_id}}"></gl-combo-box> -->
          [[_getShip(data.shipline_id,dataForSelect)]]
          <!-- [[_isHaveForUse(index,dataForSelect.ships)]] -->
           <gl-combo-box id="ship-[[index]]" required class="required"label="Vessel [[_ObcountIndex(index)]]" always-float-label item-label-path="ship_name" disabled="[[isInputDisabled]]"
            item-value-path="ship_id" value="{{item.ship_id}}" on-value-changed="_getResetShip"></gl-combo-box>


        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input required class="required"label="Voy No."always-float-label  error-message="กรุณาใส่รายละเอียด" placeholder="ใส่รายละเอียด" value="{{item.ship_voy_no}}" disabled="[[isInputDisabled]]"
          name="voyNo"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      </template>
      <!-- <template is="dom-if" if="[[inserVessel(index)]]"> -->

        <template is="dom-if" if="[[!isInputDisabled]]">
          <div class="horizontal end-justified layout">
              <template is="dom-if" if="[[checkBtnView(btnCheckDis)]]">
          <paper-button raised class="gl-btn-primary btnVessel" on-tap="addShip">
            <iron-icon icon="add"></iron-icon>เพิ่มเรือ</paper-button>
            </template>
            <paper-button raised class="gl-btn-danger btnVessel" on-tap="deleteShip">
              <iron-icon icon="remove"></iron-icon>ลบเรือ</paper-button>
          </div>
        </template>

      <!-- </template> -->




    </gl-grid-row>
    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box required class="required"label="Surveyor"always-float-label item-label-path="surveyor_name" disabled="[[isInputDisabled]]"
          item-value-path="surveyor_id" items="{{dataForSelect.surveyor}}" value="{{data.surveyor_id}}"></gl-combo-box>
      </gl-grid-col>

      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input required class="required"label="Lot No."always-float-label  error-message="กรุณาใส่รายละเอียด" placeholder="ใส่รายละเอียด" value="{{data.ship_lot_no}}" disabled="[[isInputDisabled]]"
        name="lotNo"></gl-form-input>
      </gl-grid-col>



      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box required class="required"label="Port of loading"always-float-label item-label-path="port_name" disabled="[[isInputDisabled]]"
         item-value-path="port_id" items="{{dataForSelect.pol}}" value="{{data.load_port_id}}"></gl-combo-box>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <vaadin-date-picker required class="required" label="ETD"always-float-label  value="{{data.etd_date}}" disabled="[[isInputDisabled]]"></vaadin-date-picker>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <vaadin-date-picker required class="required"  label="ETA"always-float-label value="{{data.eta_date}}" disabled="[[isInputDisabled]]"></vaadin-date-picker>
      </gl-grid-col>

      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box required class="required"label="Port of Destination"always-float-label  item-label-path="port_name" disabled="[[isInputDisabled]]"
        item-value-path="port_id" items="{{dataForSelect.pod}}"  value="{{data.dest_port_id}}"></gl-combo-box>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box required class="required"label="Place of Delivery"always-float-label  item-label-path="port_name" disabled="[[isInputDisabled]]"
        item-value-path="port_id" items="{{dataForSelect.pod}}" value="{{data.deli_port_id}}"></gl-combo-box>
      </gl-grid-col>


      <!-- <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        [[changeString2Num(data.*,'num_of_container')]]
          <gl-form-input required class="required" allowed-pattern="[0-9||,||.]" format-number="on" label="จำนวนตู้คอนเทนเนอร์"always-float-label error-message="กรุณาใส่รายละเอียด"  placeholder="ใส่รายละเอียด" value="{{data.num_of_container}}" disabled="[[isInputDisabled]]"></gl-form-input>
      </gl-grid-col> -->

      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        [[changeString2Num(data.*,'weight_per_container')]]
        <gl-form-input required class="required" allowed-pattern="[0-9||,||.]" format-number="on"label="ตู้ละ (ตัน)"always-float-label error-message="กรุณาใส่รายละเอียด"  placeholder="ใส่รายละเอียด" disabled="[[isInputDisabled]]"
          value="{{data.weight_per_container}}" ></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <vaadin-date-picker required class="required"label="Packing Date"always-float-label  value="{{data.packing_date}}" disabled="[[isInputDisabled]]"></vaadin-date-picker>
      </gl-grid-col>

      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <vaadin-date-picker required class="required"label="Cut of Date"always-float-label  value="{{data.cut_of_date}}" disabled="[[isInputDisabled]]"></vaadin-date-picker>
      </gl-grid-col>

      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input label="Cut of Time" always-float-label required class="required" type="time" error-message="กรุณาใส่รายละเอียด" placeholder="ใส่รายละเอียด" value="{{data.cut_of_time}}" disabled="[[isInputDisabled]]"></gl-form-input>
      </gl-grid-col>

      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <vaadin-date-picker label="Production Date"always-float-label required class="required" value="{{data.product_date}}" disabled="[[isInputDisabled]]"></vaadin-date-picker>
      </gl-grid-col>
    </gl-grid-row>
      </gl-form-panel-body>

    <template is="dom-if" if="[[!_isViewing(isViewSeleted)]]">
    <gl-form-panel-footer>
      <paper-button class="gl-btn-default" raised on-tap="cancelInsertShipment">     ย้อนกลับ</paper-button>
      <paper-button class="gl-btn-primary" raised on-tap="addBl">  เพิ่ม</paper-button>
    </gl-form-panel-footer>
    </template>
    <template is="dom-if" if="[[_isViewing(isViewSeleted)]]">
    <gl-form-panel-footer>
      <paper-button class="gl-btn-default" raised on-tap="cancelInsertShipment" hidden="[[!isInputDisabled]]">
        ย้อนกลับ</paper-button>
      <paper-button class="gl-btn-danger" on-tap="calcelBl" raised hidden="[[isInputDisabled]]">ยกเลิก</paper-button>
      <paper-button class="gl-btn-success" raised on-tap="editBl" hidden="[[isInputDisabled]]">  บันทึก</paper-button>
    </gl-form-panel-footer>
    </template>
  </template>
  <script>
    Polymer({
      is: "bill-detail-sm",
      behaviors: [
          g2gCongtroller,
          g2gShipmentController,
          g2gModelBehavior
      ],
      properties: {
        data: {
          type: Object,
          value:{bl_no:'',ship:[{ship_id:'',ship_voy_no:''}]},
          notify: true
        },
        dataForSelect:{
          type: Object,
          notify: true
        },
        hiddenInsertVessel:{
          type:Boolean,
          value:false
        },
        blNoOld:{
          type:String,
        }
      },
      observers:[
        '_oBChangeBooking(data.book_no)',
        '_oBChangePod(data.dest_port_id)',
        '_getPod(dataForSelect)',
        '_oBCheckVessel(data.ship.*)',
        '_changeDataBl(data.etd_date)',
        '_getShip(data.shipline_id,dataForSelect)',
        '_isHaveForUse(data.ship,dataForSelect.ships,data.ship.*)'
        // '_foredit(data)'
      ],
      // _foredit:function (data) {
      //     this.blNoOld = JSON.parse(JSON.stringify(data));
      //     // console.log('this.blNoOld',this.blNoOld);
      // },
      _changeDataBl:function (dateUn) {
        this.getDateg2g(dateUn,(date)=>{
          // console.log(date);
          this.set('data.etd_date', date);
          this.notifyPath('data.etd_date');
          this.set('data.eta_date', date);
          this.notifyPath('data.eta_date');
          this.set('data.packing_date', date);
          this.notifyPath('data.packing_date');
          this.set('data.cut_of_date', date);
          this.notifyPath('data.cut_of_date');
          this.set('data.product_date', date);
          this.notifyPath('data.product_date');
        });
      },
      addBl:function () {
        this.data.book_status = false;
        this.data.shm_id = this.dataForSelect.shm_id;
        this._cleanDataBl(this.data,(data)=>{
          // console.log(data);
          this.insert('./g2g/book/insert',data, () => {
            this.fire('get-list-bl',{shm_id:data.shm_id});
            this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
              callback:()=>{
                  this.cancelInsertShipment();
                  let el = Polymer.dom(this.root).querySelectorAll('.required');
                  el.map((el)=> {el.value='';});
                }
            });
          });

          // this.cancelInsertShipment();
        })
      },
      deleteBooking:function () {
        let book_id = this.data.book_id;
        this._cleanDataBl(this.data,(data)=>{
          data.id = book_id;
          this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
              status:'dialog',
              text:'ต้องการลบข้อมูลใช่หรือไม่ ?',
              confirmed:this._deleteBooking.bind(this), //function ที่ใช้รับค่า ปุ่ม
              el: this, // compontents
              data:data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
          });
        });
      },
      _deleteBooking:function (result,detail) {
        if (result == true) {
          this.delete('./g2g/book/delete/id/',detail.data.id, () => {
            this.fire('get-list-bl',{shm_id:detail.data.shm_id});
            this.fire('toast',{status:'success',text:'ลบข้อมูลสำเร็จ',  // คำสั่งสำหรับเปิด toast success
              callback:()=>{
                  this.cancelInsertShipment();
                  // let el = Polymer.dom(this.root).querySelectorAll('.required');
                  // el.map((el)=> {el.value='';});
                }
            });
          });
        }
      },
      addShip:function () {
        this.push('data.ship',{ship_id:'',ship_voy_no:''});
      },
      calcelBl:function () {
        // let el = Polymer.dom(this.root).querySelectorAll('.required');
        // console.log(151215121541212);
        // el.map((el)=> {el.reset();});
        this.calcelContract();
      },
      // inserVessel:function (index) {
      //   if (index < 3) {
      //     return false;
      //   } else {
      //     return true;
      //   }
      // },
      deleteShip:function () {
        if (this.data.ship.length > 1) {
          this.pop('data.ship');
        }
      },
      cancelInsertShipment:function () {
        this.fire('cancel-insert-bl',{detail:'addbl'});
      },
      editBl:function () {
        // let blNo = this.data.bl_no;
        let book_id = this.data.book_id;
        this._cleanDataBl(this.data,(data)=>{
          data.id = book_id;
          this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
              status:'dialog',
              text:'ต้องการแก้ข้อมูลใช่หรือไม่ ?',
              confirmed:this._editBlExporter.bind(this), //function ที่ใช้รับค่า ปุ่ม
              el: this, // compontents
              data:data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
          });
        });
      },
      _editBlExporter:function (result,detail) {
        if (result == true) {
          this.editInput();
          this.update('./g2g/book/update', detail.data,() => {
            // this.fire('refresh-contract',{detail:'refresh-contract'});
            // this.fire('get-list-shipment',{contractId:this.dataForSelect.contract_id});
            this.fire('get-list-shipment-detail',{sm_id:this.dataForSelect.shm_id});
            //  this.fire('get-shipMentDetail',{shm_id :data.shm_id,refresh:false ,action:'put'})
            this.fire('get-list-bl',{shm_id:detail.data.shm_id});
            this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
              callback:function(){
                  //  detail.el.fire('get-contract-detail',{contractId:detail.data.id});
                }
            });
          });
          // let data = detail.data;
          // console.log('this.dataBlDetail.shipment_detail=>',this.dataBlDetail.shipment_detail.length);
          // console.log(this.dataBlDetail.shipment_detail);
          // let listShipmentdetails = this.dataBlDetail.shipment_detail;
          // let blNo = this.oldData.bl_no;
          // let shipmentDetail = listShipmentdetails.filter((blDetail)=> blDetail.bl_no == blNo );
          // console.log('shipmentDetail=>',shipmentDetail.length);
          // let newShipment=[];

          // console.log('this.blNoOld',this.blNoOld.bl_no);
          // if (shipmentDetail.length > 0) {
          //   shipmentDetail.map((shipDetail,index)=>{
          //     shipDetail[index]= Object.assign(shipDetail,data)
          //     this._cleanShipmentData(shipDetail[index],(data)=>{
          //         data.id = shipDetail[index].shm_det_id;
          //         data.shm_id = shipDetail[index].shm_id;
          //         newShipment.push(data);
          //     });
          //   });
          //   this._changeShipment(newShipment);
          // }else {
          //   this.fire('editing-bl-detail',{shm_id:this.blNoOld.shm_id});
          // }
        }
      },
      _changeShipment:function (shipmentDetail) {
        shipmentDetail.map((data)=>{
          this.update('./g2g/shipment/detail/update', data,() => {});
        });
        this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
         callback:()=>{
            this.fire('refresh-contract',{detail:'refresh-contract'});
            this.fire('get-list-shipment',{contractId:this.data.contract_id});
            this.fire('get-list-shipment-detail',{sm_id:this.data.shm_id});
            this.fire('editing-bl-detail',{shm_id:this.data.shm_id});
          }
        });
      },
      _oBChangeBooking:function (book_no) {
        // console.log(book_no);
        if (typeof book_no !== 'undefined' && book_no!== 'undefined') {
          // console.log('book_no',book_no);
          // console.log(this.data.book_no.length);
          // console.log(this.data.bl_no.length);
          if (this.data.bl_no.length < this.data.book_no.length) {
            this.data.bl_no = book_no;
            this.notifyPath('data.bl_no')
          }
        }
      },
      _oBChangePod:function (dest_port_id) {
        this.data.deli_port_id = dest_port_id;
        this.notifyPath('data.deli_port_id');
      },
      // _getShip:function (e) {
      //   let shipline_id = e.detail.value;
      //   if(shipline_id){
      //     let ships = this.dataForSelect.shipInShipline.filter((shipline)=>{ return shipline.shipline_id == shipline_id });
      //     this.dataForSelect.ships = ships[0].ship;
      //     this.notifyPath('dataForSelect.ships');
      //   }
      // },
      _getPod:function (Pod) {
        let pol = Pod.countryPort.filter((countryport)=>  countryport.country_id == 'THA' );
        this.dataForSelect.pol = pol;
        this.notifyPath('dataForSelect.pol');
        let county = this.dataForSelect.country_id;
        let pod = Pod.countryPort.filter((countryport)=>  countryport.country_id == county );
        this.dataForSelect.pod = pod;
        this.notifyPath('dataForSelect.pod');
        // console.log(pod[0].ship);
      },
      _oBCheckVessel:function (shipMany) {
        // set btnvessel
        // console.log(shipMany.value);
        if (shipMany.value < 3) {
          this.hiddenInsertVessel = true;
        }else {
          this.hiddenInsertVessel = false;
        }
      },
      _cleanDataBl:function (data,callback) {
        let el = Polymer.dom(this.root).querySelectorAll('.required');
        let stat = el.map((el)=> el.validate());
          if (stat.every(elem => elem == true)) {
            let { bl_no,book_no,carrier_id,deli_port_id,dest_port_id,eta_date,etd_date,
                  load_port_id,packing_date,cut_of_time,cut_of_date,product_date,
                  ship_lot_no,shipline_id,surveyor_id,weight_per_container,book_status,shm_id} = data;
            let newData ={ bl_no,book_no,carrier_id,deli_port_id,dest_port_id,eta_date,etd_date,
                            load_port_id,packing_date,cut_of_time,cut_of_date,product_date,
                            ship_lot_no,shipline_id,surveyor_id,weight_per_container,book_status,shm_id};
            newData.ship = new Array();
            data.ship.map((ships)=>{
              newData.ship.push({ship_id:ships.ship_id,ship_voy_no:ships.ship_voy_no});
            });
            el.map((el)=> {el.reset();});
            callback(newData)
          } else {
            this.fire('toast',{status:'connectError',text:'กรุณากรอกให้ครบทุกช่อง', //คำสั่งสำหรับเปิด toast error
            callback:function(){
            }})
          }
      },
      _cleanShipmentData:function (data,callback) {
        let el = Polymer.dom(this.root).querySelectorAll('.required');
        let stat = el.map((el)=> el.validate());
          if (stat.every(elem => elem == true)) {
            let { bl_no,book_no,carrier_id,deli_port_id,dest_port_id,eta_date,etd_date,
                  load_port_id,num_of_container,packing_date,cut_of_time,cut_of_date,product_date,
                  ship_lot_no,shipline_id,surveyor_id,weight_per_container,
                  type_rice_id,package_id,shm_det_quantity,origin_page,nn_page,
                  exporter_id} = data;
            let newData ={ bl_no,book_no,carrier_id,deli_port_id,dest_port_id,eta_date,etd_date,
                            load_port_id,num_of_container,packing_date,cut_of_time,cut_of_date,product_date,
                            ship_lot_no,shipline_id,surveyor_id,weight_per_container,
                            type_rice_id,package_id,shm_det_quantity,origin_page,nn_page,exporter_id};
            newData.ship = new Array();
            newData.eta_date = new Date (newData.eta_date).toISOString();
            newData.etd_date = new Date (newData.etd_date).toISOString();
            newData.cut_of_date= new Date (newData.cut_of_date).toISOString();
            newData.packing_date = new Date (newData.packing_date).toISOString();
            newData.product_date = new Date (newData.product_date).toISOString();
            // console.log(newData.cut_of_date);
            data.ship.map((ships)=>{
              newData.ship.push({ship_id:ships.ship_id,ship_voy_no:ships.ship_voy_no});
            });
            callback(newData)
          }
      },
    });
  </script>
</dom-module>
