<dom-module id="confirm-detail">
  <style is="custom-style" include="iron-flex iron-flex-alignment gl-styles">
  *{
    font-family: 'CSChatThaiUI', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
    .top {
        margin-top: 15px;
        font-size: var(--font-size-h5);
    }
    paper-button {
        margin-top: 10px;
    }
    gl-form-textarea {
        word-break: break-all;
    }
    paper-icon-button {
        margin-top: 10px;
    }
    paper-icon-button.crud {
    margin: 5px 5px 5px 5px;
   }
   paper-icon-button.crud:hover {
     background-color: var(--paper-grey-200);
     border-radius: 5px;
     box-shadow: inset 0 0 3px 3px rgba(0,0,0,.2);
   }
   paper-button.btnInTable {
      --paper-button:{
       margin-top: 0px;
        height: 30px;
      }

    }
  gl-combo-box.InTable{
    margin-top: -20px;
  }
  .numberBack{
    text-align: right;
  }
  .btnCenter{
    text-align: center;

  }
  iron-icon{
    height: 16px;
    width: 16px;
    margin-right: 8px;
  }
  </style>
  <template>
    <!-- [[limitTotalRice]]//limitTotalRice -->
    <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
      <template is="dom-if" if="[[!_isViewing(data.cl_status)]]">
        <gl-form-panel-head label="" set-padding="10px" set-border="1px">
    <div class="horizontal end-justified layout">

            <paper-icon-button id="editConfirm" class="crud" icon="create" raised on-tap="editInput" ></paper-icon-button>
            <paper-tooltip for="editConfirm" offset="0">Edit Confirmmation Letter</paper-tooltip>
            <paper-icon-button id="deleteConfirm" class="crud" icon="delete" raised on-tap="deleteConfirm" ></paper-icon-button>
            <paper-tooltip for="deleteConfirm" offset="0">Delete Confirmmation Letter</paper-tooltip>

    </div>
  </gl-form-panel-head>
          </template>
    <!-- disabled="[[checkInput]]" -->
      <gl-form-panel-body label="" set-padding="10px" set-border="1px">
    <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
            [[changeString2Num(data.*,'cl_no')]]
            <gl-form-input class="required" required  autofocus allowed-pattern="[0-9||,||.]" format-number="on" disabled="[[isInputDisabled]]" error-message="กรุณาลำดับ" required label="ลำดับ" always-float-label value="{{data.cl_no}}"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,7]]">
            <gl-form-input class="required" required   disabled="[[isInputDisabled]]" error-message="กรุณาใสชื่อสัญญาย่อย" required label="ชื่อสัญญาย่อย" always-float-label value="{{data.cl_name}}"></gl-form-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
            <vaadin-date-picker class="required" required    disabled="[[isInputDisabled]]" label="วันที่" value="{{data.cl_date}}" name="cl_date"></vaadin-date-picker>
          </gl-grid-col>
      </gl-grid-row>

    <div class="top ">รายละเอียด</div>


    <template is="dom-repeat" items="[[data.cl_type_rice]]">
        <div class="bg">
          <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
            <gl-form-panel-body label="" set-padding="10px" set-border="1px">
          <div class="horizontal end-justified layout">
                       <paper-button id="[[index]]" raised class="btnInTable gl-btn-danger" on-tap="deleteRiceType" style="margin-top:16px" hidden="[[_isViewing(isInputDisabled)]]"><iron-icon icon="remove"></iron-icon>ลบชนิดข้าว</paper-button>
            </div>
              </gl-form-panel-body>

              <gl-form-panel-body label="" set-padding="10px" set-border="1px">
          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">

              <!-- <gl-combo-box id="riceType" class="required" required  disabled="[[isInputDisabled]]" error-message="กรุณาเลือกชนิดข้าว" placeholder="เลือกชนิดข้าว" name="type_rice_name" label="ชนิดข้าว"
            item-label-path="type_rice_name_th"   item-value-path="type_rice_id" value="{{item.type_rice_id}}" items="{{dataForSelect.contract_type_rice}}" >
              </gl-combo-box > -->
              <!-- [[_isHaveForUse(data.cl_type_rice,dataForSelect.contract_type_rice)]] -->
              <gl-combo-box id="riceType-[[index]]" class="required" required  disabled="[[isInputDisabled]]" error-message="กรุณาเลือกชนิดข้าว" placeholder="เลือกชนิดข้าว" name="type_rice_name" label="ชนิดข้าว"
            item-label-path="type_rice_name_th"   item-value-path="type_rice_id" value="{{item.type_rice_id}}" on-value-changed="_typeRiceConfirm">
              </gl-combo-box >

            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">

              [[changeString2Num(item.*,'type_rice_quantity')]]
              [[_obCalcWeight(item.*,'type_rice_quantity')]]
              <gl-form-input class="required" required allowed-pattern="[0-9||,||.]" format-number="on" disabled="[[isInputDisabled]]" label="ปริมาณ (ตัน)" placeholder="กรุณาใสปริมาณ" auto-validate error-message="กรุณาใส่ราคา" required
                value="{{item.type_rice_quantity}}"   name="type_rice_quantity"></gl-form-input>

            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">[[changeString2Num(item.*,'tolerance_rate')]]
                <gl-form-input class="required number"maxlength="3" allowed-pattern="[0-9||,||.]" required error-message="กรุณาใส่จำนวน" disabled="[[isInputDisabled]]" label="ค่าคลาดเคลื่อนที่ยอมรับได้" value="{{item.tolerance_rate}}" placeholder="ใส่รายละเอียด" id="tolerance_rate">
                   <div suffix>%</div>
                </gl-form-input>
            </gl-grid-col>

          </gl-grid-row>

          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
              <gl-form-input class="required" required disabled="[[isInputDisabled]]" label="ปีโครงการ (พ.ศ.)" placeholder="กรุณาใส่ปีโครงการ" value="{{item.project_th}}"  name="project_th"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
              <gl-form-input class="required" required disabled="[[isInputDisabled]]" label="ปีโครงการ (ค.ศ.)" placeholder="กรุณาใส่ปีโครงการ" value="{{item.project_en}}"  name="project_en"></gl-form-input>
            </gl-grid-col>
            <!-- <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
              <gl-form-input class="required" required disabled="[[isInputDisabled]]" label="ฤูดกาล (ไทย)" placeholder="กรุณาใส่ฤูดกาล" value="{{item.season_th}}"  name="season_th"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
              <gl-form-input class="required" required disabled="[[isInputDisabled]]" label="ฤูดกาล (อังกฤษ)" placeholder="กรุณาใส่ฤูดกาล" value="{{item.season_en}}"  name="season_en"></gl-form-input>
            </gl-grid-col> -->
          </gl-grid-row>
          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
              <gl-form-input class="required" required disabled="[[isInputDisabled]]" label="คำอธิบาย (ไทย)" placeholder="กรุณาใส่คำอธิบาย" value="{{item.description_th}}"  name="description_th"></gl-form-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
              <gl-form-input class="required" required disabled="[[isInputDisabled]]" label="คำอธิบาย (อังกฤษ)" placeholder="กรุณาใส่คำอธิบาย" value="{{item.description_en}}"  name="description_en"></gl-form-input>
            </gl-grid-col>

          </gl-grid-row>
          </gl-form-panel-body>
          <table class="gl-table-default" id="[[index]]">
            <thead class="table-head">
            <tr>
              <th style="text-align: center; width: 30%">ชนิดบรรจุภัณฑ์ <br> (กก./กระสอบ)</th>
              <th style="text-align: center; width: 20%">ราคา<br> (USD/ตัน)</th>
              <th style="text-align: center; width: 20%">น้ำหนักกระสอบ <br>(กรัม)</th>
              <th style="text-align: center; width: 30%">
                <template is="dom-if" if="[[!_isViewing(isInputDisabled)]]">
                  จัดการ
                </template>
                </th>
            </tr>
          </thead>
          <tbody class="table-body">
            <template is="dom-repeat" as="packageitem" items="[[item.package]]" index-as=indexpackeage>
              <tr>
                <td>

                  <!-- <gl-combo-box id="riceType" class="required InTable" required  disabled="[[isInputDisabled]]" error-message="กรุณาเลือกชนิดขนาดบรรจุภัณฑ์" placeholder="เลือกประเภท" name="package_name"
                item-label-path="package_name_th"   item-value-path="package_id" value="{{packageitem.package_id}}" items="{{dataForSelect.package}}" >
                  </gl-combo-box > -->
                  <!-- items="{{dataForSelect.package}}"  -->
                  <gl-combo-box id="package-[[index]]-[[indexpackeage]]" class="required InTable" required  disabled="[[isInputDisabled]]" error-message="กรุณาเลือกชนิดขนาดบรรจุภัณฑ์" placeholder="เลือกประเภท" name="package_name"
                item-label-path="package_name_th"   item-value-path="package_id" value="{{packageitem.package_id}}" on-value-changed="_typePackageConfirm">
                  </gl-combo-box >

                </td>
                <td > [[changeString2Num(packageitem.*,'price_per_ton')]]
                  <gl-form-input class="required numberBack" allowed-pattern="[0-9||,||.]" format-number="on" required disabled="[[isInputDisabled]]"  placeholder="กรุณาใส่ราคา"  error-message="กรุณาใส่ราคา" required value="{{packageitem.price_per_ton}}" name="price_per_ton" no-label-float></gl-form-input>
                </td>
                <td >
                  <gl-form-input class="numberBack" disabled  value="[[_obChangePrice(packageitem.package_id,dataForSelect.package)]]" name="package_weight_bag"  no-label-float></gl-form-input>
                </td>
                <td style="text-align:center;">
                      <paper-button id="[[indexpackeage]]" raised class="btnInTable gl-btn-danger" on-tap="delePackage" hidden="[[_isViewing(isInputDisabled)]]"><iron-icon icon="remove"></iron-icon>ลบ</paper-button>
                </td>
              </tr>
            </template>
            </tbody>

          </table>
          <template is="dom-if" if="[[!_isViewing(isInputDisabled)]]">
              <div class="horizontal end-justified layout">
                  <paper-button  raised id="[[index]]" class="btnInTable gl-btn-primary" on-tap="addPackage" hidden="[[_isViewing(isInputDisabled)]]"><iron-icon icon="add"></iron-icon>เพิ่มบรรจุภัณฑ์</paper-button>
                </div>
              </template>

        </gl-form-panel>
          </div>
      </template>
      <div class="horizontal end-justified layout">
        <template is="dom-if" if="[[checkBtnView(btnCheckDis)]]">
          <paper-button raised on-tap="addNewTypeRice" class="gl-btn-primary" hidden="[[btnCheckDisabled]]"><iron-icon icon="add"></iron-icon>เพิ่มชนิดข้าว</paper-button>

        </template>
      </div>
    <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
          <gl-combo-box id="package" class="required" required  disabled="[[isInputDisabled]]" label="วิธีการชำระเงิน" error-message="กรุณาเลือกรูปแบบการชำระเงิน" placeholder="เลือกประเภท" name="package_name"
        item-label-path="inct_name" item-value-path="inct_id" value="{{data.inct_id}}" items="{{dataForSelect.incoterms}}" >
          </gl-combo-box >
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">

            <gl-form-input class="numberBack" disabled always-float-label allowed-pattern="[0-9||,||.]" format-number="on" label="น้ำหนักรวมทั้งหมด (ตัน)" value="{{cl_total_quantity}}" name="cl_total_quantity"></gl-form-input>
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,7]]">
            <gl-form-textarea class="required" required  disabled="[[isInputDisabled]]" label="รายละเอียดเพิ่มเติม" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="{{data.cl_quality}}" name="cl_quality"></gl-form-textarea>
        </gl-grid-col>
    </gl-grid-row>
  </gl-form-panel-body>
  <gl-form-panel-footer label="" set-padding="10px">

    <div class="horizontal end-justified layout">


        <template is="dom-if" if="[[!_isViewing(isInputDisabled)]]">
          <paper-button  raised on-tap="backPageInsert" class="gl-btn-default" hidden="[[isViewSeleted]]">ย้อนกลับ</paper-button>
          <paper-button class="gl-btn-danger" on-tap="canncelConfirm" raised hidden="[[isViewSeleted]]">ยกเลิก</paper-button>
        <paper-button class="gl-btn-primary" on-tap="insertConfirm" raised hidden="[[isViewSeleted]]">เพิ่มสัญญา</paper-button>
        </template>
        <template is="dom-if" if="[[_isViewing(isInputDisabled)]]">
        <paper-button  raised on-tap="backPage" class="gl-btn-default">ย้อนกลับ</paper-button>
        <paper-button class="gl-btn-info" raised on-tap="confirmConfirm" hidden="[[data.cl_status]]">ยืนยันสัญญา</paper-button>
        </template>
         <template is="dom-if" if="[[_isViewing(isViewSeleted)]]">
           <paper-button class="gl-btn-danger" on-tap="calcelContract" raised hidden="[[isInputDisabled]]">ยกเลิก</paper-button>
        <paper-button class="gl-btn-success" on-tap="saveConfirm" raised hidden="[[isInputDisabled]]">บันทึก</paper-button>
        </template>
    </div>
  </gl-form-panel-footer>
</gl-form-panel>
  </template>
  <script>
    Polymer({
      is: "confirm-detail",
      behaviors: [
          g2gModelBehavior,
          g2gCongtroller
      ],
      properties: {
        dataForSelect:{
          type: Object,
        },
        data: {
          type: Object,
          value:{type_rice_quantity:0,cl_type_rice:[{package:[{package_id: '', price_per_ton: 0,}]}]}
        },
        cl_total_quantity: {
          type: Number,
          value:0
        },
        limitTotalRice:{
          type:Number
        }
      },
      observers:[
        '_changeDataConfirm(data.cl_date)',
        '_typeRiceConfirm(data.*)',
        '_typePackageConfirm(data.*)',
        '_isHaveForUse(data.cl_type_rice,dataForSelect.contract_type_rice,data.cl_type_rice.*)'
      ],
      attached: function() {
        this._typeRiceConfirm();
        this._typePackageConfirm();
      },
      _changeDataConfirm:function (dateUn) {
        this.getDateg2g(dateUn,(date)=>{
          this.set('data.cl_date', date);
          this.notifyPath('data.cl_date');
        });
      },
      canncelConfirm:function () {
        this.editInput();
        this.calcelContract();
      },
      deleteRiceType:function (e) {
        this.splice('data.cl_type_rice', e.currentTarget.id, 1);
      },
      delePackage: function(e) {
        let table = Polymer.dom(Polymer.dom(Polymer.dom(Polymer.dom(Polymer.dom(e.currentTarget).parentNode).parentNode).parentNode).parentNode);
          this.splice('data.cl_type_rice.'+[table.node.id]+'.package', e.target.id, 1);
      },
      _obCalcWeight:function (data,type_rice_quantity) {
        let total = 0;
        // console.log(data,type_rice_quantity);
        let datas = this.data.cl_type_rice;
          for(index in datas){
                total += parseFloat(datas[index].type_rice_quantity);
          }
          this.cl_total_quantity=total;
        // this.cl_total_quantity = numeral(total).format('0,0');
        // this.data.cl_quality = this.cl_total_quantity  ;
        // console.log(typeof this.cl_total_quantity);
        // console.log(this.cl_total_quantity);
        if (this.cl_total_quantity == 'NaN') {
          this.cl_total_quantity=0;
        }
      },
      addNewTypeRice:function () {
        this.push('data.cl_type_rice', {
                  type_rice_id: '',
                  type_rice_quantity: 0,
                  package:
                    [
                      {
                        package_id: '',
                        price_per_ton: 0,
                      }
                    ]
                });
      },
      addPackage:function (e) {
        let id = e.currentTarget.id;
        let data = {
                      package_id: '',
                      price_per_ton: 0,
                      package_weight_bag: 0,
                    };
        this.push('data.cl_type_rice.'+[id]+'.package', data);
      },
      _obChangePrice:function(data,list){
        let result = "";
        if (list.package_id != '') {
          list.map((packages,index)=>{
            if(packages.package_id==data){
                result = packages.package_weight_bag;
            }
          });
          return result;
        }
      },
      backPage:function () {
        // console.log(this.isInputDisabled );
        if (this.isInputDisabled == false) {
          this.editInput();
        }
          this.fire('back-page-confirm',{detail:'_back-page-confirm'});
      },
      backPageInsert:function () {

        this.fire('back-page-confirm',{detail:'_back-page-confirm'});
      },
      insertConfirm:function () {
        this.data.cl_status=false;
        if (this.cl_total_quantity <= this.limitTotalRice) {
            this._clearnDataConfirm(this.data,(data)=>{
                data.contract_id=this.dataForSelect.contract_id;
                this.fire('toast',{status:'load'}); //คำสั่งสำหรับเปิด toast load
                // console.log(data);
                this.insert('./g2g/confirm/insert',data, () => {
                    this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
                     callback:()=>{
                        this.fire('get-list-confirm',{contractId:data.contract_id});
                        this.fire('back-page-confirm',{detail:'_back-page-confirm'});
                      }
                    });
                });
                let el = Polymer.dom(this.root).querySelectorAll('.required');
                el.map((el)=> {el.reset();el.value=''});
                // this.editInput();
            });
          }  else {
            this.fire('toast',{status:'connectError',text:'ปริมาณข้าวเกินสัญญา', //คำสั่งสำหรับเปิด toast error
            callback:function(){
            }})
          }
      },
      saveConfirm:function () {
        // console.log(this.cl_total_quantity,'=',this.limitTotalRice);
        if (this.cl_total_quantity <= this.limitTotalRice) {
          this._clearnDataConfirm(this.data,(data)=>{
              data.contract_id=this.dataForSelect.contract_id;
              data.id=this.data.cl_id;
              this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
                  status:'dialog',
                  text:'ต้องการแก้ข้อมูลใช่หรือไม่ ?',
                  confirmed:this._saveData.bind(this), //function ที่ใช้รับค่า ปุ่ม
                  el: this, // compontents
                  data:data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
              })
          });
        }  else {
          this.fire('toast',{status:'connectError',text:'ปริมาณข้าวเกินสัญญา', //คำสั่งสำหรับเปิด toast error
          callback:function(){
          }})
        }
      },
      _saveData:function(result,detail){
         if (result == true) {
           detail.el.update('./g2g/confirm/update',detail.data, () => {
               detail.el.fire('refresh-contract',{detail:'refresh-contract'});
               detail.el.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
                   callback:function(){
                    //  detail.el.editInput();
                    detail.el.editInput();
                    detail.el.fire('get-confirm-detail',{clId:detail.data.id});
                    // detail.el.data = detail.data;
                    detail.el.fire('get-list-confirm',{contractId:detail.data.contract_id});
                  }
                });
            });
          }
     },
     confirmConfirm:function () {
       this.editInput()
       this._clearnDataConfirm(this.data,(data)=>{
           data.contract_id=this.dataForSelect.contract_id;
           data.id = this.data.cl_id;
           data.cl_status=this.approve(data.cl_status);
           this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
               status:'dialog',
               text:'ต้องการยืนยันข้อมูลใช่หรือไม่ ?',
               confirmed:this._saveData, //function ที่ใช้รับค่า ปุ่ม
               el: this, // compontents
               data:data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
           })
       });
     },
     deleteConfirm:function () {
       this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
           status:'dialog',
           text:'ต้องการลบข้อมูลใช่หรือไม่ ?',
           confirmed:this._deleteDataConfirm.bind(this), //function ที่ใช้รับค่า ปุ่ม
           el: this, // compontents
           data:this.data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
       })
     },
     _deleteDataConfirm:function(result,detail){
       if (result == true) {
         this.delete('./g2g/confirm/delete/id/',detail.data.cl_id, () => {
           this.fire('get-list-confirm',{contractId:detail.data.contract_id});
              //  this.oldData={};
           this.backPage();

         });
       }
    },
    _typeRiceConfirm:function () {
      this.async(()=>{
         let  comboboxs,arrForItem,itemif;
         for (var i = 0; i < this.data.cl_type_rice.length; i++) {
           arrForItem = JSON.parse(JSON.stringify(this.dataForSelect.contract_type_rice));
          //  console.log('arrForItem',arrForItem);
           this.data.cl_type_rice.map((item,index)=>{
            //  console.log(item);
             if (i != index) {
               //ตัดอาเรย์ตอนที่ไม่เท่ากับค่าของตัวเอง
               if (arrForItem.filter((blDetail)=> blDetail.type_rice_id == item.type_rice_id )[0] != undefined) {
                 itemif = arrForItem.indexOf(arrForItem.filter((blDetail)=> blDetail.type_rice_id == item.type_rice_id )[0]);
                //  console.log(itemif);
                 arrForItem.splice(itemif, 1);
               }
             }
           });
           comboboxs = Polymer.dom(this.root).querySelector('#riceType-'+i);
           comboboxs.items = arrForItem;
         }
      },1);
    },
    _typePackageConfirm:function () {
      this.async(()=>{
         let  comboboxs,arrForItem,itemif;
         for (var i = 0; i < this.data.cl_type_rice.length; i++) {
           for (var j = 0; j< this.data.cl_type_rice[i].package.length; j++) {
             arrForItem = JSON.parse(JSON.stringify(this.dataForSelect.package));
             //  console.log('this.data.cl_type_rice',arrForItem);
             //  console.log('arrForItem',arrForItem);
              this.data.cl_type_rice[i].package.map((item,index)=>{
                // console.log(item);
                if (j != index) {
                  //ตัดอาเรย์ตอนที่ไม่เท่ากับค่าของตัวเอง
                  if (arrForItem.filter((blDetail)=> blDetail.package_id == item.package_id )[0] != undefined) {
                    itemif = arrForItem.indexOf(arrForItem.filter((blDetail)=> blDetail.package_id == item.package_id )[0]);
                    arrForItem.splice(itemif, 1);
                  }
                }
              });
              // console.log(arrForItem);
             // package-[[index]]-[[indexpackeage]]
              comboboxs = Polymer.dom(this.root).querySelector('#package-'+i+'-'+j);
              // console.log(comboboxs);
              comboboxs.items = arrForItem;
           }
         }
      },1);
    },
      _clearnDataConfirm:function (data,callback) {
        let el = Polymer.dom(this.root).querySelectorAll('.required');
        let stat = el.map((el)=> el.validate());
          if (stat.every(elem => elem == true)) {
            let {cl_date,cl_name,cl_no,cl_quality,inct_id,cl_status} = data;
            let news = {cl_date,cl_name,cl_no,cl_quality,inct_id,cl_status};
            news.cl_type_rice=[];
            news.cl_date= new Date(news.cl_date);
            data.cl_type_rice.map((cl_type_rice,index)=>{
              news.cl_type_rice.push({type_rice_id:cl_type_rice.type_rice_id,
                                      type_rice_quantity:cl_type_rice.type_rice_quantity,
                                      tolerance_rate:cl_type_rice.tolerance_rate,
                                      project_th:cl_type_rice.project_th,
                                      project_en:cl_type_rice.project_en,
                                      // season_th:cl_type_rice.season_th,
                                      // season_en:cl_type_rice.season_en,
                                      description_th:cl_type_rice.description_th,
                                      description_en:cl_type_rice.description_en,
                                      package:[]});
              cl_type_rice.package.map((packages)=>{
                  news.cl_type_rice[index].package.push({
                                      package_id :packages.package_id,
                                      price_per_ton :packages.price_per_ton}
                            );
              });
            });
          el.map((el)=> {el.reset()});
          callback(news);
        }else {
          this.fire('toast',{status:'connectError',text:'กรุณากรอกข้อมูลให้ครบทุกช่อง', //คำสั่งสำหรับเปิด toast error
          callback:function(){
          }})
        }
      },
    });
  </script>
</dom-module>
