<dom-module id="contract-detail">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
      *{
        font-family: 'CSChatThaiUI', sans-serif;
        -webkit-font-smoothing: antialiased;
      }
      gl-form-dropdown-menu{
        width: 100%;
      }
      paper-icon-button.crud {
        margin: 5px 5px 5px 5px;
       }
       paper-icon-button.crud:hover {
         background-color: var(--paper-grey-200);
         border-radius: 5px;
         box-shadow: inset 0 0 3px 3px rgba(0,0,0,.2);
       }
       .riceName{
         /*color: red;*/
         margin-top: 25px;
         font-size: var(--font-size-h5);
       }
      paper-button.btnInTable {
         --paper-button:{
          margin-top: 0px;
           height: 32px;
         }
       }
       .titleName {
         margin-bottom: 10px;
       }
       .table-head > tr > th:nth-child(1),
       .table-head > tr > th:nth-child(3),
       .table-body > tr > td:nth-child(1),
       .table-body > tr > td:nth-child(3),
       .table-foot > tr > td:nth-child(1),
       .table-foot > tr > td:nth-child(3) {
         width: 20%;
         text-align: center;
       }
       .table-head > tr > th:nth-child(2),
       .table-body > tr > th:nth-child(2),
       .table-foot > tr > th:nth-child(2) {
         width: 60%;
       }
       .gl-table-default{
         margin-bottom: 20px;
       }
       .upGlComboBox {
         margin-top: -20px;
       }
       vaadin-date-picker {
         font-family: 'CSChatThaiUI', sans-serif !important;
         -webkit-font-smoothing: antialiased !important;
        color: red !important;
       }
       paper-button[disabled]{
          background: #eaeaea;
          color: #a8a8a8;
        }
        gl-form-input.number{
          --paper-input-container-input:{
            text-align: left;
          }
        }
        gl-form-input.number[disabled]{
          --paper-input-container-input:{
            text-align: left !important;
          }
        }
        iron-icon{
          height: 16px;
          width: 16px;
          margin-right: 8px;
        }
      </style>
    <template>
<gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">

    <template is="dom-if" if="[[_isViewing(isViewSeleted)]]">
      <gl-form-panel-head label="" set-padding="10px" set-border="1px">
      <div class="horizontal end-justified layout">
        <paper-icon-button id="editConfirm" class="crud" icon="create" raised on-tap="editInput" ></paper-icon-button>
        <paper-tooltip for="editConfirm" offset="0">Edit Contract</paper-tooltip>
        <template is="dom-if" if="[[!_isViewing(data.contract_status)]]">
          <paper-icon-button id="deleteConfirm" class="crud" icon="delete" raised on-tap="deleteContract"></paper-icon-button>
          <paper-tooltip for="deleteConfirm" offset="0">Delete Contract</paper-tooltip>
        </template>
      </div>
      </gl-form-panel-head>
    </template>
      <gl-form-panel-body label="" set-padding="10px" set-border="1px">
   <gl-grid-row width="{{getWidth}}">
     <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,9]]">
       <gl-form-input required class="required" disabled="[[_checkArrayTrue(isInputDisabled,data.contract_status)]]" error-message="กรุณาใส่ชื่อสัญญา" label="ชื่อสัญญา" value="{{data.contract_name}}" placeholder="ใส่รายละเอียด" name="contract_name"></gl-form-input>
     </gl-grid-col>
     <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
       <vaadin-date-picker always-float-label class="required" required  disabled="[[_checkArrayTrue(isInputDisabled,data.contract_status)]]" label="วันที่" value="{{data.contract_date}}" name="contract_date"></vaadin-date-picker>
     </gl-grid-col>
     </gl-grid-row>
     <gl-grid-row width="{{getWidth}}">
       <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">[[changeString2Num(data.*,'contract_quantity')]]
           <gl-form-input class="required number" required allowed-pattern="[0-9||,||.]" format-number="on" disabled="[[_checkArrayTrue(isInputDisabled,data.contract_status)]]" error-message="กรุณาใส่จำนวน" required label="ปริมาณสินค้า (ตัน)" value="{{data.contract_quantity}}" placeholder="ใส่รายละเอียด" id="contract_quantity"></gl-form-input>
       </gl-grid-col>
       <!-- <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">[[changeString2Num(data.*,'tolerance_rate')]]
           <gl-form-input class="required number"maxlength="3" allowed-pattern="[0-9||,||.]" required disabled="[[_checkArrayTrue(isInputDisabled,data.contract_status)]]" error-message="กรุณาใส่จำนวน" required label="ค่าคลาดเคลื่อนที่ยอมรับได้" value="{{data.tolerance_rate}}" placeholder="ใส่รายละเอียด" id="tolerance_rate">
              <div suffix>%</div>
           </gl-form-input>
       </gl-grid-col> -->
     </gl-grid-row>

     <gl-grid-row>
       <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,9]]">
         [[_getBuyerAddressFromData(data)]]
         <gl-combo-box class="required" always-float-label  required id="buyer_id" disabled="[[_checkArrayTrue(isInputDisabled,data.contract_status)]]" label="ผู้สั่งซื้อสินค้า" error-message="กรุณาเลือกผู้ซื้อ"
          value="{{data.buyer_id}}"  on-value-changed="_getBuyerAddress">
         </gl-combo-box>
       </gl-grid-col>
        </gl-grid-row>
     <gl-grid-row>

         <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
             <gl-form-textarea rows="2"class="required" disabled label="ที่อยู่ผู้สั่งซื้อ" placeholder="ใส่รายละเอียด" value="{{data.buyerAddress}}" name="buyer_address"></gl-form-textarea>
         </gl-grid-col>
     </gl-grid-row>

     <gl-grid-row>
       <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,12]]">

       <div class="titleName">รายชื่อชนิดข้าว</div>
     <table class="gl-table-default">
       <thead class="table-head">
         <tr>
           <th>ลำดับที่</th>
           <th>ชนิดข้าว</th>
           <th>
             <template is="dom-if" if="[[!_isViewing(isInputDisabled)]]">
               กระทำการ
               </template>
           </th>
         </tr>
       </thead>
       <template is="dom-if" if="[[!_isViewing(isInputDisabled)]]">
         <tfoot class="table-foot">
           <tr>
             <td></td>
             <td></td>
             <td>
               <!-- <template is="dom-if" if="[[!_isViewing(isInputDisabled)]]"> -->
               <paper-button hidden="[[isInputDisabled]]" raised id="[[index]]" on-tap="addTypeRice" class="btnInTable gl-btn-primary" ><iron-icon icon="add"></iron-icon>เพิ่ม</paper-button>
                <!-- </template> -->
              </td>
           </tr>
         </tfoot>
            </template>
       <tbody class="table-body">
         <template is="dom-repeat" items="[[data.contract_type_rice]]">
           <tr>
               <td>
                 [[_ObcountIndex(index)]]
               </td>
               <td>
                 <div class="upGlComboBox">
                   <!-- <gl-combo-box id="riceSelected" class="required" required  disabled="[[isInputDisabled]]" error-message="กรุณาเลือกชนิดข้าว" placeholder="เลือกประเภท" name="type_rice_name"
                 item-label-path="type_rice_name_th"   item-value-path="type_rice_id" value="{{item.type_rice_id}}" items="{{dataForSelect.typeRice}}" >
                   </gl-combo-box > -->
                   <gl-combo-box id="rice-[[index]]" class="required" required  disabled="[[isInputDisabled]]" error-message="กรุณาเลือกชนิดข้าว" placeholder="เลือกประเภท" name="type_rice_name"
                 item-label-path="type_rice_name_th"   item-value-path="type_rice_id" value="{{item.type_rice_id}}"  on-value-changed="_typeRiceContract">
                   </gl-combo-box >
                 </div>
               </td>
               <td>
                 <template is="dom-if" if="[[!_isViewing(data.isInputDisabled)]]">
                   <paper-button hidden="[[isInputDisabled]]" raised id="[[index]]" on-tap="deleteTypeRice" class="btnInTable gl-btn-danger"title="ลบชนิดข้าว"><iron-icon icon="remove"></iron-icon>ลบ</paper-button>
                  </template>
                </td>
           </tr>
         </template>
       </tbody>
     </table>
      </gl-grid-col>
     </gl-grid-row>

 <gl-grid-row>
     <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
         <gl-form-textarea class="required" required  disabled="[[_checkArrayTrue(isInputDisabled,data.contract_status)]]" rows="2" label="รายละเอียดเพิ่มเติม" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="{{data.contract_desc}}" name="contract_desc"></gl-form-textarea>
     </gl-grid-col>
 </gl-grid-row>
 </gl-form-panel-body>
 <gl-form-panel-footer label="" set-padding="10px">
      <div class="horizontal end-justified layout">

       <template is="dom-if" if="[[!_isViewing(isEdit)]]">
         <paper-button class="gl-btn-primary" on-tap="insertContract" raised hidden="[[_isViewing(data.contract_status)]]" >เพิ่มสัญญา</paper-button>
       </template>
         <template is="dom-if" if="[[_isViewing(isViewSeleted)]]">
           <paper-button class="gl-btn-danger" on-tap="calcelContract" raised hidden="[[_isViewing(isInputDisabled)]]">ยกเลิก</paper-button>
       <paper-button class="gl-btn-success" on-tap="saveContract" raised hidden="[[_isViewing(isInputDisabled)]]">บันทึก</paper-button>
        </template>
        <template is="dom-if" if="[[_isViewing(isInputDisabled)]]">
          <paper-button class="gl-btn-info" raised on-tap="confirmDrawer" hidden="[[_isViewing(data.contract_status)]]" >ยืนยันสัญญา</paper-button>
        </template>
      </div>
    </gl-form-panel-footer>
 </gl-form-panel>
  </template>
  <script>
    Polymer({
      is: "contract-detail",
      behaviors: [
          g2gModelBehavior,
          g2gCongtroller,
      ],
      properties: {
        dataForSelect:{
          type: Object,
        },
        data: {
          type: Object,
          value:{contract_quantity:0,contract_type_rice:[{}],tolerance_rate:0,}
        },
        dataForUse:{
          type: Object,
        },

      },
      observers:[
        '_changeDataContract(data.contract_date)',
        '_getBuyer(dataForSelect.buyer)',
      ],
      attached: function() {
        this._typeRiceContract();
      },
      _getBuyer:function (buyers) {
        let elements = this.$$('#buyer_id');
        let buyer = new Array();
        buyers.map((el,index)=>{
          buyer.push({ label:el.buyer_name+' ['+el.country_name_en+'] ' , value:el.buyer_id});
        });
        elements.items = buyer;
      },
      _getBuyerAddress:function (e) {
        let selectedItem = e.detail.value;
            if (selectedItem) {
                this._getAddCondation(selectedItem);
            }
      },
      _getAddCondation:function (selectedItem) {
        let buyer_id = this.dataForSelect.buyer.filter(function (buyer) { return buyer.buyer_id == selectedItem });
            this.data.buyerAddress=buyer_id[0].buyer_address;
            this.notifyPath('data.buyerAddress');
      },
      _getBuyerAddressFromData:function (data) {
        this.data.buyerAddress=data.buyer_address;
        this.notifyPath('data.buyerAddress');
      },
      _changeDataContract:function (dateUn) {
        this.getDateg2g(dateUn,(date)=>{
          this.set('data.contract_date', date);
          this.notifyPath('data.contract_date');
        });
      },
      addTypeRice:function () {
        this.push('data.contract_type_rice', {});
      },
      deleteTypeRice:function (e) {
        this.splice('data.contract_type_rice', e.currentTarget.id, 1);
      },
      insertContract:function () {
        this._clearnData(this.data,(data)=>{
            this.fire('toast',{status:'load'}); //คำสั่งสำหรับเปิด toast load
            data.contract_status=false;
            this.insert('./g2g/contract/insert',data, () => {
                this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
                 callback:()=>{
                    this.fire('refresh-contract',{detail:'refresh-contract'});
                    this.fire('close-drawer',{detail:'refresh-contract'});
                }
              });
            });
            let el = Polymer.dom(this.root).querySelectorAll('.required');
            el.map((el)=> {el.reset();el.value=''});
        });
      },

      saveContract:function () {
        this._clearnData(this.data,(data)=>{
            data.id = this.data.contract_id;
            this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
                status:'dialog',
                text:'ต้องการแก้ข้อมูลใช่หรือไม่ ?',
                confirmed:this._saveData.bind(this), //function ที่ใช้รับค่า ปุ่ม
                el: this, // compontents
                data:data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
            });
        });
      },
      _saveData:function(result,detail){
         if (result == true) {
           this.update('./g2g/contract/update',detail.data, () => {
               this.fire('refresh-contract',{detail:'refresh-contract'});
               this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
                   callback:()=>{
                     this.editInput();
                     this.fire('get-contract-detail',{contractId:detail.data.id});
                  }
                });
            });
          }
     },
     confirmDrawer:function () {
       this._clearnData(this.data,(data)=>{
           data.id = this.data.contract_id;
           data.contract_quantity = this.data.contract_quantity;
           data.contract_status=this.approve(data.contract_status);
           this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
               status:'dialog',
               text:'ต้องการบันทึกข้อมูลใช่หรือไม่ ?',
               confirmed:this._confirmContract.bind(this), //function ที่ใช้รับค่า ปุ่ม
               el: this, // compontents
               data:data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
           })
       });
     },
     _confirmContract:function(result,detail){
        if (result == true) {
          this.update('./g2g/contract/update',detail.data, () => {
              this.fire('refresh-contract',{detail:'refresh-contract'});
              this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
                  callback:()=>{
                    this.fire('get-contract-detail',{contractId:detail.data.id});
                 }
               });
           });
         }
    },
     deleteContract:function () {
        this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
            status:'dialog',
            text:'ต้องการลบข้อมูลใช่หรือไม่ ?',
            confirmed:this._deleteData.bind(this), //function ที่ใช้รับค่า ปุ่ม
            el: this, // compontents
            data:this.data.contract_id // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
        })
     },
       _deleteData:function(result,detail){
         if (result == true) {
            this.delete('./g2g/contract/delete/id/',detail.data, () => {
              this.fire('refresh-contract',{detail:'refresh-contract'});
              this.fire('close-drawer',{detail:'flip-drawer'});
              this.fire('toast',{status:'success',text:'ลบสำเร็จ',  // คำสั่งสำหรับเปิด toast success
                  callback:function(){
                 }
               });
           });
         }
      },
      _typeRiceContract:function () {
        this.async(()=>{
           let  comboboxs,arrForItem,itemif;
           for (var i = 0; i < this.data.contract_type_rice.length; i++) {
             arrForItem = JSON.parse(JSON.stringify(this.dataForSelect.typeRice));
            //  console.log('arrForItem',arrForItem);
             this.data.contract_type_rice.map((item,index)=>{
              //  console.log(item);
               if (i != index) {
                 //ตัดอาเรย์ตอนที่ไม่เท่ากับค่าของตัวเอง
                 if (arrForItem.filter((blDetail)=> blDetail.type_rice_id == item.type_rice_id )[0] != undefined) {
                   itemif = arrForItem.indexOf(arrForItem.filter((blDetail)=> blDetail.type_rice_id == item.type_rice_id )[0]);
                  //  console.log(itemif);
                   arrForItem.splice(itemif, 1);
                 }
               }
             });
             comboboxs = Polymer.dom(this.root).querySelector('#rice-'+i);
             comboboxs.items = arrForItem;
           }
        },1);
      },
      _clearnData:function (data,callback) {
        let el = Polymer.dom(this.root).querySelectorAll('.required');
        let stat = el.map((el)=> el.validate());
          if (stat.every(elem => elem == true)) {
            let {buyer_id,contract_date,contract_desc,contract_name,contract_status,tolerance_rate}=data;
            let {contract_quantity}=data;
            let news = {buyer_id,contract_date,contract_desc,contract_name,contract_quantity,contract_status,tolerance_rate};
            news.contract_type_rice=[];
            news.contract_date= new Date(news.contract_date);
            data.contract_type_rice.map((riceCode)=>{
              news.contract_type_rice.push({type_rice_id:riceCode.type_rice_id});
            });
          el.map((el)=> {el.reset();});
          callback(news);
        }else {
          this.fire('toast',{status:'connectError',text:'กรุณากรอกข้อมูลให้ครบทุกช่อง', //คำสั่งสำหรับเปิด toast error
          callback:function(){
          }})
        }
      },

    });
  </script>
</dom-module>
