<link rel="import" href="../controller/g2gShipmentController.html">
<dom-module id="detail-exporter-ship">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .title {
      text-align: center;
      font-size: var(--font-size-h4);
    }

  </style>
  <template>

<gl-form-panel set-padding="10px 20px 10px 20px">
<div class="horizontal end-justified layout">
      <!-- <gl-form-panel-head set-border="1px" set-padding="10px 20px 20px 20px"> -->
        <template is="dom-if" if="[[!_isViewing(shmStatus)]]">
          <paper-icon-button icon="create" id="editExporter" raised on-tap="editInput" title="Edit"></paper-icon-button>
          <paper-tooltip for="editExporter" offset="0">Edit Exporter</paper-tooltip>
          <paper-icon-button icon="delete" id="delExporter" raised on-tap="deleteShipmentDetail" title="Delete"></paper-icon-button>
          <paper-tooltip for="delExporter" offset="0">Delete Exporter</paper-tooltip>
        </template>
      <!-- </gl-form-panel-head> -->
   </div>


    <gl-form-panel-body>
      <div class="title">รายละเอียดผู้ส่งออกและเรือ</div>
    </gl-form-panel-body>

  <gl-form-panel-body>
    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box class="required" required  id="exporter_id" label="ผู้ส่งออก" always-float-label item-label-path="seller_name_en" disabled="[[!isInputDisabled]]"
         item-value-path="exporter_id"  items="{{dataForSelect.seller}}" value="{{data.exporter_id}}" ></gl-combo-box>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
        <gl-form-input disabled label="Tel."  value="{{_getSellerPhone(data.exporter_id,dataForSelect)}}" always-float-label></gl-form-input>
      </gl-grid-col>
      <!-- 121 -->
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box  required class="required" label="Booking No." always-float-label item-label-path="book_no" disabled="[[!isInputDisabled]]"
           item-value-path="book_no" items="{{blNos}}" value="{{data.book_no}}"></gl-combo-box>
        <!-- <gl-form-input  disabled required class="required" label="Booking No."always-float-label error-message="กรุณาใส่รายละเอียด"   value="{{data.book_no}}"></gl-form-input> -->
      </gl-grid-col>

      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input  disabled required class="required" label="B/L No." always-float-label error-message="กรุณาใส่รายละเอียด"   value="{{data.bl_no}}" ></gl-form-input>
        <!-- <gl-combo-box  required class="required" label="B/L No." always-float-label item-label-path="bl_no" disabled="[[!isInputDisabled]]"
           item-value-path="bl_no" items="{{blNos}}" value="{{data.bl_no}}"></gl-combo-box> -->
      </gl-grid-col>


      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box disabled  required class="required"label="Shipping Agent"always-float-label item-label-path="carrier_name"
           item-value-path="carrier_id" items="{{dataForSelect.carrier}}" value="{{data.carrier_id}}"></gl-combo-box>
      </gl-grid-col>

      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box disabled required class="required"label="Shipping Line"always-float-label item-label-path="shipline_name"
           item-value-path="shipline_id" items="{{dataForSelect.shipline}}" value="{{data.shipline_id}}" ></gl-combo-box>
      </gl-grid-col>
      <!-- [[_getShip(data.shipline_id,dataForSelect)]] -->
      <template is="dom-repeat" items="[[data.ship]]">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">

          <!-- <gl-combo-box disabled required class="required"label="Vessel [[_ObcountIndex(index)]]"always-float-label item-label-path="ship_name"
           item-value-path="ship_id" items="[[_getShip(data.shipline_id,dataForSelect)]]" value="{{item.ship_id}}"></gl-combo-box> -->
           [[_getShip(data.shipline_id,dataForSelect)]]
            <gl-combo-box disabled id="ship-[[index]]" required class="required"label="Vessel [[_ObcountIndex(index)]]" always-float-label item-label-path="ship_name" disabled="[[isInputDisabled]]"
             item-value-path="ship_id" value="{{item.ship_id}}" on-value-changed="_getResetShip"></gl-combo-box>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input disabled required class="required"label="Voy No."always-float-label  error-message="กรุณาใส่รายละเอียด"  value="{{item.ship_voy_no}}"
          name="voidNo"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      </template>

    </gl-grid-row>
    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box required disabled class="required"label="Surveyor"always-float-label item-label-path="surveyor_name"
          item-value-path="surveyor_id" items="{{dataForSelect.surveyor}}" value="{{data.surveyor_id}}"></gl-combo-box>
      </gl-grid-col>

      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input disabled required class="required"label="Lot No."always-float-label  error-message="กรุณาใส่รายละเอียด"  value="{{data.ship_lot_no}}"
        name="lotNo"></gl-form-input>
      </gl-grid-col>



      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box required disabled class="required"label="Port of loading"always-float-label item-label-path="port_name"
           item-value-path="port_id" items="{{pol}}" value="{{data.load_port_id}}"></gl-combo-box>

      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <vaadin-date-picker disabled required class="required" label="ETD"always-float-label  value="{{data.etd_date}}"></vaadin-date-picker>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <vaadin-date-picker disabled required class="required"  label="ETA"always-float-label value="{{data.eta_date}}"></vaadin-date-picker>
      </gl-grid-col>

      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box disabled required class="required"label="Port of destination"always-float-label  item-label-path="port_name"
        item-value-path="port_id" items="{{pod}}"  value="{{data.dest_port_id}}"></gl-combo-box>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box disabled required class="required"label="Place of Delivery"always-float-label  item-label-path="port_name"
        item-value-path="port_id" items="{{pod}}" value="{{data.deli_port_id}}"></gl-combo-box>
      </gl-grid-col>


      <!-- <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        [[changeString2Num(data.*,'num_of_container')]]
          <gl-form-input disabled required allowed-pattern="[0-9||,||.]" format-number="on" class="required"label="จำนวนตู้คอนเทนเนอร์"always-float-label error-message="กรุณาใส่รายละเอียด"  value="{{data.num_of_container}}"></gl-form-input>
      </gl-grid-col> -->
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        [[changeString2Num(data.*,'weight_per_container')]]
        <gl-form-input disabled required allowed-pattern="[0-9||,||.]" format-number="on" class="required"label="ตู้ละ (ตัน)"always-float-label error-message="กรุณาใส่รายละเอียด"   value="{{data.weight_per_container}}" ></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <vaadin-date-picker required class="required"label="Packing Date"always-float-label class="requested" value="{{data.packing_date}}" disabled></vaadin-date-picker>
      </gl-grid-col>

      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <vaadin-date-picker required class="required"label="Cut of Date"always-float-label class="requested" value="{{data.cut_of_date}}" disabled></vaadin-date-picker>
      </gl-grid-col>

      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input label="Cut of Time" always-float-label required class="required" type="time" error-message="กรุณาใส่รายละเอียด" placeholder="ใส่รายละเอียด" value="{{data.cut_of_time}}" disabled></gl-form-input>
      </gl-grid-col>

      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <vaadin-date-picker disabled label="Production Date"always-float-label required class="required" value="{{data.product_date}}" ></vaadin-date-picker>
      </gl-grid-col>
    </gl-grid-row>
      </gl-form-panel-body>

  <gl-form-panel-body>
    <div class="title">รายละเอียดการส่งมอบ</div>
  </gl-form-panel-body>

  <gl-form-panel-body>
    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input disabled label="Confirmation Letter" value="[[dataForSelect.cl_no]]" always-float-label hidden></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,12]]">
        <gl-combo-box id="type_rice_id" label="ชนิดข้าว" item-label-path="type_rice_name_en" disabled="[[!isInputDisabled]]"
         class="required" required  item-value-path="type_rice_id" items="[[dataForSelect.cl_type_rice]]" value="{{data.type_rice_id}}" always-float-label></gl-combo-box>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
        <gl-combo-box id="package_id" label="Package (kg/PP Bag)" item-label-path="package_name_en" disabled="[[!isInputDisabled]]"
         class="required" required  item-value-path="package_id" items="[[_getRiceTypeForPackage(data.type_rice_id,dataForSelect)]]" value="{{data.package_id}}" always-float-label></gl-combo-box>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        [[changeString2Num(data.*,'shm_det_quantity')]]
        <gl-form-input class="required" required allowed-pattern="[0-9||,||.]" format-number="on" label="ปริมาณ (ตัน)" error-message="กรุณาใส่รายละเอียด"  value="{{data.shm_det_quantity}}" always-float-label disabled="[[!isInputDisabled]]"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        [[changeString2Num(data.*,'num_of_container')]]
          <gl-form-input disabled="[[!isInputDisabled]]" required allowed-pattern="[0-9||,||.]" format-number="on" class="required"label="จำนวนตู้คอนเทนเนอร์"always-float-label error-message="กรุณาใส่รายละเอียด"  value="{{data.num_of_container}}"></gl-form-input>
      </gl-grid-col>
      [[_getPackageForPrice(data.package_id,dataForSelect)]]
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input disabled label="Price (USD/MT)" value="[[price.price_per_ton]]" always-float-label></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input disabled label="น้ำหนักกระสอบ (gram/bag)"  value="[[price.package_weight_bag]]" always-float-label></gl-form-input>
      </gl-grid-col>


      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input disabled label="MARKS"  value="[[dataForSelect.buyer_masks]]" always-float-label></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input disabled label="Quantity (BAGS)" value="[[price.quantityBag]]" always-float-label></gl-form-input>
      </gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input disabled label="GROSS WEIGHT (M/T)"  value="[[price.gw]]" always-float-label></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input disabled label="NET WEIGHT (M/T)"  value="[[price.nw]]" always-float-label></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input disabled label="TRAE WEIGHT (M/T)"  value="[[price.tw]]" always-float-label></gl-form-input>
      </gl-grid-col>
    </gl-grid-row>
    <!-- <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,7]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
        [[changeString2Num(data.*,'origin_page')]]
        <gl-form-input class="required" required  format-number="on" label="ORIGINALS"  class="w padL" value="{{data.origin_page}}" always-float-label disabled="[[!isInputDisabled]]"></gl-form-input>
      </gl-grid-col>
      <div class="top">/</div>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
        [[changeString2Num(data.*,'nn_page')]]
        <gl-form-input id="testtttt" class="required" required  format-number="on" label="N/N"  class="w" value="{{data.nn_page}}" always-float-label disabled="[[!isInputDisabled]]"></gl-form-input>
      </gl-grid-col>
    </gl-grid-row> -->
    <!-- <paper-button  class="gl-btn-success" raised on-tap="checkData" index="[[index]]">
      <iron-icon class="gl-icon-size" icon="save"></iron-icon>checkData</paper-button> -->
  </gl-form-panel-body>
  <gl-form-panel-footer set-padding="10px 20px 0px 20px">
  <template is="dom-if" if="[[_isViewing(isInputDisabled)]]">
    <template is="dom-if" if="[[!_isViewing(isViewSeleted)]]">
      <paper-button class="gl-btn-danger" on-tap="calcelContract" raised >ยกเลิก</paper-button>

      <paper-button  class="gl-btn-success" raised on-tap="editExporter" >
          <iron-icon class="gl-icon-size" icon="save"></iron-icon>บันทึก</paper-button>
    </template>
  </template>

  <template is="dom-if" if="[[_isViewing(isViewSeleted)]]">
    <paper-button class="gl-btn-default" raised on-tap="cancelEditShipment">
          ย้อนกลับ</paper-button>
    <paper-button class="gl-btn-danger" on-tap="calcelShipmentInsert" raised >ยกเลิก</paper-button>
    <paper-button class="gl-btn-success" raised on-tap="addExporter">
        เพิ่ม</paper-button>
  </template>

  </gl-form-panel-footer>

 </gl-form-panel>


  </template>
  <script>
    Polymer({
      is: "detail-exporter-ship",
      behaviors: [
          g2gCongtroller,
          g2gModelBehavior,
          g2gShipmentController
      ],
      properties: {
        data: {
          type: Object,
          value:{shm_det_quantity:0}
        },
        price:{
          type: Object,
          value:{quantityBag:0,gw:0,nw:0,tw:0,}
        },
        dataForSelect:{
          type:Object,
        },
        dataOld:{
          type:Object,
        },
      },
      observers:[
        '_oBcheckBl(data.book_no,dataForSelect)',
        '_obCalWeight(data.shm_det_quantity,dataForSelect)',
        'check(data)',
        '_dataSelected(dataForSelect)',
        '_checkpol(pol)',
        '_getShip(data.shipline_id,dataForSelect)'
      ],
      _checkpol:function (pol) {
        // console.log('pol',pol);
      },
      calcelShipmentInsert:function () {
        this.editInput();
        this.calcelContract();
      },
      check:function (data) {
         this.set('dataOld', JSON.parse(JSON.stringify(data)));
        // this.dataForSelect.olddata = ;
        this.notifyPath('dataOld');
      },
      _dataSelected:function (dataForSelect) {
        // console.log('dataForSelect.pol=>',dataForSelect.pol);
        // if (dataForSelect.pol != undefined) {
        //   let elements = this.$$('#load_port_id');
        //   let pol = new Array();
        //   dataForSelect.pol.map((el,index)=>{
        //     pol.push({ label:el.port_name, value:el.port_id});
        //   });
        //   elements.items = pol;
        //   console.log(elements.items);
        // }

      },
      _oBcheckBl:function (book_no,dataForSelect) {
        if (book_no) {
          let dataContract = this.blNos.filter((blNos)=> blNos.book_no == book_no );
          let blNo =  Object.assign(this.data ,dataContract[0]);
          // console.log(dataContract[0]);

          this.data = blNo;
          this.notifyPath('data.book_id');
          this.notifyPath('data.ship');
          this.data.ship.map((ships,index)=>{
            // console.log(ships);
            this.notifyPath('data.'+index+'.ship_id');
            this.notifyPath('data.'+index+'.ship_voy_no');
          });
          this.notifyPath('data.bl_no');
          this.notifyPath('data.book_no');
          this.notifyPath('data.carrier_id');
          this.notifyPath('data.deli_port_id');
          this.notifyPath('data.dest_port_id');
          this.notifyPath('data.eta_date');
          this.notifyPath('data.etd_date');
          this.notifyPath('data.load_port_id');
          // this.notifyPath('data.num_of_container');
          this.notifyPath('data.packing_date');
          this.notifyPath('data.cut_of_date');
          this.notifyPath('data.cut_of_time');
          this.notifyPath('data.product_date');
          this.notifyPath('data.ship_lot_no');
          this.notifyPath('data.shipline_id');
          this.notifyPath('data.surveyor_id');
          this.notifyPath('data.weight_per_container');
          // console.log('after notify',this.data );
        }
      },
      _getSellerPhone:function (exporter_id,dataForSelect) {
        if (exporter_id) {
          let tel = this.dataForSelect.seller.filter((exporters)=> exporters.exporter_id == exporter_id );
          return tel[0].seller_phone;
        }
      },

      _getRiceTypeForPackage:function (type_rice_id,dataForSelect) {
        if (type_rice_id) {
            // let type_rice_id = e.detail.value;
            let typeRice = this.dataForSelect.cl_type_rice.filter((typeRices)=> typeRices.type_rice_id == type_rice_id );
            this.dataForSelect.package = typeRice[0].package;
            console.log(typeRice);
            console.log('this.dataForSelect.package=>',this.dataForSelect.package);
            this.notifyPath('dataForSelect.package');
            // this.data.package_id='',
            // this.data.shm_det_quantity='',
            this.notifyPath('data.package_id');
            this.notifyPath('data.shm_det_quantity');
            return typeRice[0].package;
        }
      },
      _getPackageForPrice:function (package_id,dataForSelect) {
        if (package_id) {
          let packing = this.dataForSelect.package.filter((packageing)=> packageing.package_id == package_id );
          this.price=packing[0];
          // this.data.shm_det_quantity='',
          this.notifyPath('data.shm_det_quantity');
          this.notifyPath('price.price_per_ton');
          this.notifyPath('price.package_weight_bag');
        }
      },
      _obCalWeight:function (shm_det_quantity,dataForSelect) {
        let pack = this.price;
        if (typeof pack != 'undefined') {
             shm_det_quantity = numeral().unformat(shm_det_quantity);
             let quantityBag = ((parseFloat(shm_det_quantity) * parseFloat(1000)) / parseFloat(pack.package_kg_per_bag));
             this.price.quantityBag =numeral(quantityBag).format('0,0');
             this.notifyPath('price.quantityBag');
             this.price.sumGW = ((parseFloat(quantityBag) * (parseFloat(pack.package_kg_per_bag) + (parseFloat(pack.package_weight_bag) / parseFloat(1000))) / parseFloat(1000)));
             this.notifyPath('price.sumGW');
             this.price.gw = numeral(this.price.sumGW).format('0,0.00');
             this.notifyPath('price.gw');
             this.price.nw = numeral(parseFloat(shm_det_quantity)).format('0,0.00');
             this.notifyPath('price.nw');
             this.price.tw = numeral(((parseFloat(quantityBag)*(parseFloat(pack.package_weight_bag)/parseFloat(1000)))/parseFloat(1000))).format('0,0.00');
             this.notifyPath('price.tw');
        }
      },
      addExporter:function () {
        // console.log(this.data);
        this.data.shm_id=this.dataForSelect.shm_id;
        this._cleanShipmentData(this.data,(data)=>{
          this.fire('toast',{status:'load'}); //คำสั่งสำหรับเปิด toast load
          this.insert('./g2g/shipment/detail/insert',data, () => {
            this.fire('refresh-contract',{detail:'refresh-contract'});
            this.fire('get-list-shipment',{contractId:this.dataForSelect.contract_id});
            this.fire('get-list-shipment-detail',{sm_id:this.dataForSelect.shm_id});
            this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
              callback:()=>{
                  this.cancelInsertShipment();
                }
            });
          });
          let el = Polymer.dom(this.root).querySelectorAll('.required');
          el.map((el)=> {el.reset();el.value=''});
        })
      },
      editExporter:function () {
        this._cleanShipmentData(this.data,(data)=>{
            data.shm_id = this.data.shm_id;
            data.id = this.data.shm_det_id;
            this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
                status:'dialog',
                text:'ต้องการแก้ข้อมูลใช่หรือไม่ ?',
                confirmed:this._saveExporter.bind(this), //function ที่ใช้รับค่า ปุ่ม
                el: this, // compontents
                data:data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
            })
        });
      },
      _saveExporter:function(result,detail){
         if (result == true) {
              this.update('./g2g/shipment/detail/update', detail.data,() => {
                //  this.fire('get-shipMentDetail',{shm_id :data.shm_id,refresh:false ,action:'put'})
                this.fire('refresh-contract',{detail:'refresh-contract'});
                this.fire('get-list-shipment',{contractId:this.dataForSelect.contract_id});
                this.fire('get-list-shipment-detail',{sm_id:this.dataForSelect.shm_id});
                this.editInput();
                this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
                  callback:function(){
                      //  detail.el.fire('get-contract-detail',{contractId:detail.data.id});
                    }
                });
              });
          }
     },
     deleteShipmentDetail:function () {
       this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
           status:'dialog',
           text:'ต้องการลบข้อมูลใช่หรือไม่ ?',
           confirmed:this._deleteExporter.bind(this), //function ที่ใช้รับค่า ปุ่ม
           el: this, // compontents
           data:this.data// ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
       })
     },
     _deleteExporter:function (result,detail) {
        if (result == true) {
          this.fire('min-size-collapse-shipment-detail',{collapse:'collapse'+detail.data.shm_det_id});
           this.delete('./g2g/shipment/detail/delete/id/',detail.data.shm_det_id, () => {
             this.fire('refresh-contract',{detail:'refresh-contract'});
             this.fire('get-list-shipment',{contractId:detail.data.contract_id});
             this.fire('get-list-shipment-detail',{sm_id:detail.data.shm_id});
             //สั่งปิดแล้วค่อยลบ
             this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
               callback:()=>{
                   //  detail.el.fire('get-contract-detail',{contractId:detail.data.id});
                 }
             });
           });

        }
     },
     cancelEditShipmentDetail:function () {
         Object.assign(this.data ,this.dataOld);
         this.notifyPath('data.bl_no');
         this.notifyPath('data.book_no');
         this.notifyPath('data.carrier_id');
         this.notifyPath('data.deli_port_id');
         this.notifyPath('data.dest_port_id');
         this.notifyPath('data.eta_date');
         this.notifyPath('data.etd_date');
        this.notifyPath('data.load_port_id');
        this.notifyPath('data.num_of_container');
        this.notifyPath('data.packing_date');
        this.notifyPath('data.cut_of_time');
        this.notifyPath('data.cut_of_date');
        this.notifyPath('data.product_date');
        this.notifyPath('data.ship_lot_no');
        this.notifyPath('data.shipline_id');
        this.notifyPath('data.surveyor_id');
        this.notifyPath('data.weight_per_container');
        this.notifyPath('data.type_rice_id');
        this.notifyPath('data.package_id');
        this.notifyPath('data.shm_det_quantity');
        this.notifyPath('data.origin_page');
        this.notifyPath('data.nn_page');
        this.notifyPath('data.exporter_id');
        this.editInput();
     },
     cancelInsertShipment:function () {
        this.fire('cancel-edit-shipment',{detail:'cancel-insert-shipment'})
     },
     cancelEditShipment:function () {
       this.fire('cancel-edit-shipment',{detail:'cancel-edit-shipment'})
     },
      _cleanShipmentData:function (data,callback) {
        let el = Polymer.dom(this.root).querySelectorAll('.required');
        let stat = el.map((el)=> el.validate());
          if (stat.every(elem => elem == true)) {
            let { book_id,num_of_container,type_rice_id,package_id,shm_det_quantity,exporter_id,shm_id} = data;
            let newData ={ book_id,num_of_container,type_rice_id,package_id,shm_det_quantity,exporter_id,shm_id};
            // newData.ship = new Array();
            // newData.eta_date = new Date (newData.eta_date).toISOString();
            // newData.etd_date = new Date (newData.etd_date).toISOString();
            // newData.cut_of_date= new Date (newData.cut_of_date).toISOString();
            // newData.packing_date = new Date (newData.packing_date).toISOString();
            // newData.product_date = new Date (newData.product_date).toISOString();
            // data.ship.map((ships)=>{
            //   newData.ship.push({ship_id:ships.ship_id,ship_voy_no:ships.ship_voy_no});
            // });
            el.map((el)=> {el.reset();});
            // console.log(newData);
            callback(newData)
          } else {
            this.fire('toast',{status:'connectError',text:'กรุณากรอกให้ครบทุกช่อง', //คำสั่งสำหรับเปิด toast error
            callback:function(){
            }})
          }
      },

    });
  </script>
</dom-module>
