<link rel="import" href="confirm-detail.html">
<dom-module id="list-of-confirm">
<style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
*{
  font-family: 'CSChatThaiUI', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.table-body > tr > td{
  cursor:pointer
}

.table-head > tr > th:nth-child(1),
.table-head > tr > th:nth-child(3),
.table-body > tr > td:nth-child(1),
.table-foot > tr > td:nth-child(1),
.table-foot > tr > td:nth-child(3),
.table-head > tr > th:nth-child(4),
.table-body > tr > th:nth-child(4),
.table-foot > tr > th:nth-child(4)  {
  width: 20%;
  text-align: center;
}
.table-body > tr > td:nth-child(3){
  width: 20%;
  text-align: right;
}
.table-head > tr > th:nth-child(2),
.table-body > tr > th:nth-child(2),
.table-foot > tr > th:nth-child(2){
  width: 40%;
}
.table-foot > tr > td {
  padding: 16px;
}
.addconfirm{
  margin-bottom: 16px;
}
</style>
<template>
  <iron-pages selected="{{pageSelected}}" attr-for-selected="name">
    <div name="listOfConfirm">
  <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
    <gl-form-panel-head label="" set-padding="10px" set-border="1px">
        <div class="addconfirm horizontal end-justified layout">
          <paper-button raised class="gl-btn-primary" on-tap="createConfirm">เพิ่ม</paper-button>
        </div>
          </gl-form-panel-head>
        <!-- <gl-form-panel-body label="" set-padding="10px" set-border="1px"> -->
        <!-- [[data.contract_quantity_confirm_balance]] -->
        <table class="gl-table-default">
          <thead class="table-head">
            <tr>
              <th>ลำดับที่</th>
              <th>ชื่อสัญญาย่อย</th>
              <th>ปริมาณ(ตัน)</th>
              <th>สถานะ</th>
            </tr>
          </thead>
          <!-- <tfoot class="table-foot">
            <tr>
              <td></td>
              <td>รวม</td>
              <td>[[data.contract_quantity_confirm]]</td>
              <td></td>
            </tr>
          </tfoot> -->
          <tbody class="table-body">
            <template is="dom-if" if="[[!_isHave(data.confirm_letter)]]">
              <template is="dom-repeat" items="[[data.confirm_letter]]">
                <tr on-tap="getConfirmDetail" data="[[item]]">
                  <td>  [[item.cl_no]] </td>
                  <td> [[item.cl_name]]</td>
                  <td> [[formatNumberNoZero(item.cl_quantity_total)]] </td>
                  <td style="text-align: center;"> [[item.cl_status_name]]</td>
                </tr>
              </template>
            </template>
            <template is="dom-if" if="[[_isHave(data.confirm_letter)]]">
                <tr >
                  <td colspan="4">  ไม่มีข้อมูล</td>
                </tr>
            </template>
          </tbody>
        </table>
        <!-- </gl-form-panel-body> -->
    </gl-form-panel>
    </div>
    <div name="addConfirm">
      <confirm-detail limit-total-rice="[[data.contract_quantity_confirm_balance]]" data-for-select="[[dataForSelect]]" is-view-seleted="[[!isEdit]]" is-input-disabled="[[isInputDisabled]]"></confirm-detail>
    </div>
    <div name="confirmDetail">
      <confirm-detail limit-total-rice="[[data.contract_quantity_confirm_balance]]" data="[[dataSelected]]" data-for-select="[[dataForSelect]]" is-view-seleted="[[isEdit]]" is-input-disabled="[[!isInputDisabled]]"></confirm-detail>
    </div>
    </iron-pages>
</template>
<script>
Polymer({
  is: "list-of-confirm",
  behaviors: [
      g2gCongtroller,
      FormatNumberBehavior
  ],
  listeners:{
    'back-page-confirm':'_backPageConfirm',
    'get-confirm-detail':'_getConfirmDetail'
  },
  observers: [
      '_insertRiceType(data)',
      // '_changeConfirm(data)'
  ],
  properties: {
    pageSelected: {
      type: String,
      value:'listOfConfirm'
    },
    dataForSelect:{
      type: Object,
      value:{contract_type_rice:[]}
    },
    dataSelected: {
      type: Object
    },
    clId:{
      type:String,
    }
  },
  _insertRiceType:function (data) {
    //เพิ่มชนิดข้าวลงไป
    this.dataForSelect.contract_type_rice=this.data.contract_type_rice;
    this.notifyPath('dataForSelect.contract_type_rice');
    this.dataForSelect.contract_id=this.data.contract_id;
    this.notifyPath('dataForSelect.contract_id');
    let dataContract = this.data.confirm_letter.filter((confirmList)=> confirmList.cl_id == this.clId );
    this.dataSelected=dataContract[0];
  },
  createConfirm:function () {
    this.pageSelected = 'addConfirm';
  },
  getConfirmDetail:function (e) {
    this.dataSelected = e.currentTarget.data;
    this.pageSelected = 'confirmDetail';
  },
  _getConfirmDetail:function (data) {
    // แทนค่าใส่ properties เพื่อรอ _insertRiceType ไปทำงานอีกรอบ
    this.clId= data.detail.clId;
  },
  _backPageConfirm:function (data) {
    this.pageSelected='listOfConfirm';
  }

});
</script>
</dom-module>
