<link rel="import" href="../controller/g2gShipmentController.html">
<dom-module id="list-of-bill-sm">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    paper-button.btnInTable {
       --paper-button:{
        margin-top: 0px;
         height: 32px;
       }
     }
     paper-button.btnInTable > iron-icon{
       height: 16px;
       width: 16px;
       margin-right: 8px;
     }
     table {
       border: 0.16px solid #F1F1F1;
       /*margin-top: 16px;*/
       margin-bottom: 16px;
     }
     div.title{
       margin-top: 16px;
       text-align: center;
       font-size: var(--font-size-h4);
     }
     table.gl-table-default >tbody.table-body > tr > td{
        cursor: pointer;
     }
    table.gl-table-default > thead.table-head > tr > th:nth-child(1),
    table.gl-table-default > thead.table-head > tr > th:nth-child(3),
    table.gl-table-default > thead.table-head > tr > th:nth-child(4),
    table.gl-table-default > tbody.table-body > tr > td:nth-child(1),
    table.gl-table-default > tbody.table-body > tr > td:nth-child(3),
    table.gl-table-default > tbody.table-body > tr > td:nth-child(4){
      width: 20%;
      text-align: center;
    }
    table.gl-table-default > tbody.table-body > tr > td:nth-child(2),
    table.gl-table-default > thead.table-head > tr > th:nth-child(2){
      width: 40%;
      text-align: center;
    }
  </style>
  <template>
    <!-- <div class="title">
      Bill of Landing Number
    </div> -->

    <table class="gl-table-default">
          <thead class="table-head">
            <tr>
              <th>Booking No</th>
              <th>B/L No </th>
              <th>Port of Delivery </th>
              <th>Port of Destination </th>
            </tr>
          </thead>
         <tbody class="table-body">
            <template is="dom-if" if="[[!_isHave(data)]]">
              <template is="dom-repeat" items="[[data]]">
                <tr on-tap="getBlDetail" data="[[item]]">
                 <td>[[item.book_no]]</td>
                 <td>[[item.bl_no]]</td>
                 <td>[[item.deli_port_name]]</td>
                <td>[[item.dest_port_name]]</td>
               </tr>
              </template>
            </template>
            <template is="dom-if" if="[[_isHave(data)]]">
                <tr >
                  <td colspan="4" style="text-align:center;">  ไม่มีข้อมูล</td>
                </tr>
            </template>

         </tbody>
      </table>
      <div class="horizontal end-justified layout" style="margin-bottom:16px;">
        <paper-button raised class="gl-btn-default" on-tap="cancelBlDetail">
          <!-- <iron-icon icon="add"></iron-icon> -->
          ย้อนกลับ</paper-button>
          <!-- <template is="dom-if" if="[[!checkBtnView(shmStatus)]]"> -->
        <paper-button raised class=" gl-btn-primary" on-tap="addBlDetail" hidden="[[shmStatus]]">
          <!-- <iron-icon icon="add"></iron-icon> -->
          เพิ่ม Booking</paper-button>
          <!-- /template> -->
      </div>
  </template>
  <script>
    Polymer({
      is: "list-of-bill-sm",
      behaviors: [
          g2gShipmentController,
          g2gCongtroller
      ],
      properties: {
        dataSelected: {
          type: Object,
        }
      },
      observers:[
        'check(data)'
      ],
      check:function (data) {
        console.log('data=> list-of-bill-sm',data);
      },
      addBlDetail:function () {
        this.fire('add-bl-no',{detail:'addbl'});
      },
      cancelBlDetail:function () {
        this.fire('cancel-insert-shipment',{detail:'addbl'});
      },
      getBlDetail:function (e) {
        console.log('listbl');
        this.dataSelected = e.currentTarget.data;
        this.fire('edit-bl-detail',{detail:this.dataSelected});
      },
    });
  </script>
</dom-module>
