<dom-module id="print-files">
<style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
*{
  font-family: 'CSChatThaiUI', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.top{
  margin-top: 20px;
  margin-bottom: 10px;
}
.padL{
  padding-left: 20px;
}
.flex-horizontal {
  @apply(--layout-horizontal);
}
.flex-vertical {
  @apply(--layout-vertical);
  height: 220px;
}
.flexchild-1 {
  @apply(--layout-flex);
}
.flexchild-2 {
  @apply(--layout-flex-2);
}
.bd {
  border: 1px solid #000;
  margin: 5px;
}
</style>
  <template>
    <paper-item class="flex-horizontal bd">
          <div class="flexchild-1 padL">Draft B/L</div>
          <div class="flexchild-1"></div>
          <paper-icon-button icon="icons:print" style="color: gray;"></paper-icon-button>
    </paper-item>
  </template>
  <script>
    Polymer({
      is: "print-files",

    });
  </script>
</dom-module>
