<link rel="import" href="list-of-bill-sm.html">
<link rel="import" href="bill-detail-sm.html">
<link rel="import" href="detail-exporter-ship.html">
<dom-module id="shipment-detail">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
      :host{
        --paper-item:{
          border-bottom: 1px solid #ccc;
        }
      }
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .table-head > tr > th:nth-child(1),
    paper-item > div:nth-child(1) {
      width: 5%;
      text-align: center;
    }
    .table-head > tr > th:nth-child(2),
    paper-item > div:nth-child(2) {
      width: 10%;
      text-align: center;
    }
    .table-head > tr > th:nth-child(3),
    paper-item > div:nth-child(3) {
      width: 25%;
      text-align: center;
    }
    .table-head > tr > th:nth-child(4),
    paper-item > div:nth-child(4) {
      width: 25%;
      text-align: center;
    }
    .table-head > tr > th:nth-child(5),
    paper-item > div:nth-child(5) {
      width: 15%;
      text-align: right;
    }
    .table-head > tr > th:nth-child(6),
    paper-item > div:nth-child(6) {
      width: 20%;
      text-align: center;
    }
    paper-tabs{
      background-color: #fff;
      color: #808080;
      border:1px solid #b3b3b3;
      --paper-tabs-selection-bar:{
        height: 5px;
        background-color: var(--gl-info-color);
      }
    }
    paper-tab:focus > div.tab-content{
      background-color: yellow;
      opacity: 1;
      font-weight: 0;
    }
    paper-tab:not(:last-of-type) {
      border-right: 3px solid var(--gl-gray-light-color);
      font-size: var(--font-size-h5);
      font-family: 'CSChatThaiUI', sans-serif;
        -webkit-font-smoothing: antialiased;
    }
    paper-tabs paper-tab.iron-selected {
      font-size: var(--font-size-h4);
      color: var(--gl-white-color);
      background-color: #f7941e;
    }
  </style>
  <template>
    <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
      <!-- <div class="horizontal end-justified layout">
        <paper-icon-button id="printShipment" class="crud" icon="print" raised on-tap="printShipment"  hidden="[[!data.shm_status]]"></paper-icon-button>
        <paper-tooltip for="printShipment" offset="0">Print Shipment</paper-tooltip>
      </div> -->
      <gl-form-panel-head label="" set-padding="10px" set-border="1px">
        <div class="horizontal end-justified layout">
          <template is="dom-if" if="[[_checkUndefined(data.shm_status)]]">
            <!-- <paper-icon-button id="printShipment" class="crud" icon="print" raised on-tap="printShipment"  hidden="[[!data.shm_status]]"></paper-icon-button> -->
            <!-- <paper-tooltip for="printShipment" offset="0">Print Shipment</paper-tooltip> -->
            <!-- <gl-grid-row width="{{getWidth}}"> -->
             <!-- <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,4]]"> -->
               <gl-combo-box class="required" required always-float-label label="รายงาน" placeholder="รายงาน" value="{{printReport.typeReport}}"  item-label-path="report_name"
                  item-value-path="report_name_id" items="{{report.report_name}}"></gl-combo-box>
             <!-- </gl-grid-col> -->&nbsp;
             <!-- <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,4]]"> -->
               <gl-combo-box class="required" required always-float-label label="รูปแบบ" placeholder="รูปแบบ" value="{{printReport.typeFile}}"  item-label-path="report_type"
                  item-value-path="report_type_id" items="{{report.report_type}}"></gl-combo-box>
              <paper-icon-button id="printShipment" class="crud" icon="print" raised on-tap="printShipment"  hidden="[[!data.shm_status]]"></paper-icon-button>
              <paper-tooltip for="printShipment" offset="0">Print Shipment</paper-tooltip>
             <!-- </gl-grid-col>2122121 -->
             <!-- </gl-grid-row> -->
          </template>
          <paper-dialog id="printShipmentReport">
            <gl-grid-row width="{{getWidth}}">
             <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,3]]">
               [[changeString2Num(printReport.*,'ori')]]
               <gl-form-input allowed-pattern="[0-9||,||.]" label="ORIGINALS" autofocus maxlength="3" format-number="on"  always-float-label placeholder="ORIGINALS" value="{{printReport.ori}}"></gl-form-input>
             </gl-grid-col>
             <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,8]]">
               [[changeString2Num(printReport.*,'nn')]]
               <gl-form-input allowed-pattern="[0-9||,||.]" label="N/N"  maxlength="3" format-number="on" always-float-label placeholder="N/N" value="{{printReport.nn}}"></gl-form-input>
             </gl-grid-col>
           </gl-grid-row>
            <div class="buttons">
              <paper-button class="gl-btn-default" dialog-confirm raised>ปิด</paper-button>
               <paper-button  class="gl-btn-primary" on-tap="printShipmentReports" dialog-confirm autofocus raised>ออกรายงาน</paper-button>
              <!-- <paper-button dialog-confirm autofocus>ออกรายงาน</paper-button> -->

            </div>
          </paper-dialog>
      <template is="dom-if" if="[[!_isViewing(isViewSeleted)]]">
        <template is="dom-if" if="[[!checkBtnView(data.shm_status)]]">

              <paper-icon-button id="editConfirm" class="crud" icon="create" raised on-tap="editShipment"  hidden="[[data.shm_status]]"></paper-icon-button>
              <paper-tooltip for="editConfirm" offset="0">Edit Shipment</paper-tooltip>
              <paper-icon-button id="deleteConfirm" class="crud" icon="delete" raised on-tap="deleteShipment" hidden="[[data.shm_status]]"></paper-icon-button>
              <paper-tooltip for="deleteConfirm" offset="0">Delete Shipment</paper-tooltip>


        </template>
      </template>
       </div>
        </gl-form-panel-head>
<!-- [[insertData]]//[[isInputDisabled]]//[[isViewSeleted]]// -->

     <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,3]]">
        [[changeString2Num(data.*,'shm_no')]]
        <gl-form-input class="required insetShipment"allowed-pattern="[0-9||,||.]" format-number="on" label="ลำดับ" disabled="[[!isInputDisabled]]" always-float-label placeholder="ลำดับที่การส่งมอบสินค้า" value="{{data.shm_no}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,8]]">
        <gl-form-input class="required insetShipment" label="ชื่อ" disabled="[[!isInputDisabled]]" always-float-label placeholder="่ชื่องวดการส่งมอบสินค้า" value="{{data.shm_name}}"></gl-form-input>
      </gl-grid-col>
    </gl-grid-row>
    <gl-grid-row width="{{getWidth}}">
     <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,8]]">
       <gl-combo-box class="required insetShipment" required id="confirmLetterTrue" disabled="[[!isInputDisabled]]" always-float-label label="กรุณาเลือกชื่อสัญญา" placeholder="ชื่อสัญญา" value="{{data.cl_id}}" >
     </gl-grid-col>
     </gl-grid-row>
    <template is="dom-if" if="[[_isViewing(isViewSeleted)]]">
      <template is="dom-if" if="[[!_isViewing(insertData)]]">
         <div class="horizontal end-justified layout">
           <paper-button class="gl-btn-default" on-tap="backPageShipmentList" raised>ย้อนกลับ</paper-button>
           <!-- <paper-button class="gl-btn-danger" on-tap="calcelContract" raised >ยกเลิก</paper-button> -->
           <paper-button  class="gl-btn-primary" on-tap="ยพรื" raised>เพิ่ม</paper-button>
         </div>
       </template>
     </template>
     <template is="dom-if" if="[[!_isViewing(isViewSeleted)]]">
       <template is="dom-if" if="[[_isViewing(isInputDisabled)]]">
          <div class="horizontal end-justified layout">
              <paper-button class="gl-btn-default" on-tap="backPageShipmentDetail" raised>ย้อนกลับ</paper-button>
              <paper-button class="gl-btn-danger" on-tap="calcelShipmentIn" raised >ยกเลิก</paper-button>
             <paper-button  class="gl-btn-success" on-tap="editShimpent" raised>บันทึก</paper-button>
          </div>
       </template>
     </template>

    <template is="dom-if" if="[[_isViewing(insertData)]]">
      <!-- <div class="layout horizontal end-justified"> -->
         <!-- <paper-button class="gl-btn-primary" raised on-tap="editBlShm" name="addBl" hidden="[[data.shm_status]]">จัดการ BL</paper-button> -->
         <!-- <paper-button  class="gl-btn-primary" raised on-tap="addExporter" name="addShmdt" hidden="[[data.shm_status]]">เพิ่มผู้ส่งออก</paper-button> -->
      <!-- </div> -->

      <paper-tabs selected="{{pageBl}}" align-bottom no-slide attr-for-selected="name">
              <paper-tab name="listOfExporter">รายชื่อผู้ส่งออก</paper-tab>
              <paper-tab name="listOfBl">รายการ Booking</paper-tab>
      </paper-tabs>
      <iron-pages selected="[[pageBl]]" attr-for-selected="name">
        <div name="listOfExporter">
          <iron-pages selected="[[pageShipment]]" attr-for-selected="name">
              <div name="listOfExporter">
                  <table class="gl-table-default">
                     <thead class="table-head">
                         <tr>
                           <th></th>
                           <th>ลำดับที่</th>
                           <th>B/L No </th>
                           <th>ผู้ส่งออก</th>
                           <th>ปริมาณ (ตัน)</th>
                           <th>Port of Destination </th>
                         </tr>
                     </thead>
                     <template is="dom-if" if="[[_isHaveMany(data.shipment_detail,1)]]">
                       <tbody class="table-body">
                         <tr >
                           <td colspan="6" style="text-align: center;">  ไม่มีข้อมูล</td>
                         </tr>
                       </tbody>
                     </template>
                 </table>
                 <template is="dom-repeat" items="[[data.shipment_detail]]">
                   <paper-item>
                     <div>
                       <paper-icon-button id="iconcollapse[[item.shm_det_id]]" icon="expand-more" on-tap="_toggleSub" aria-controls$="collapse[[item.shm_det_id]]"></paper-icon-button>
                     </div>
                     <div>
                       [[_ObcountIndex(index)]]
                     </div>
                     <div>
                       [[item.bl_no]]
                     </div>
                     <div>
                       [[item.seller_name_en]]
                     </div>
                     <div style="text-align:right;">
                       [[formatNumberNoZero(item.shm_det_quantity)]]
                     </div>
                     <div>
                       [[item.dest_port_name]]
                     </div>
                   </paper-item>
                   <iron-collapse id="collapse[[item.shm_det_id]]">
                     <detail-exporter-ship data-for-select="[[dataForSelect]]" pol="[[dataForSelect.pol]]"
                     pod="[[dataForSelect.pod]]"   data="[[item]]" bl-nos="[[dataForSelect.blNos]]" is-view-seleted="[[isViewSeleted]]" is-input-disabled="[[isInputDisabled]]" shm-status="[[data.shm_status]]"></detail-exporter-ship>
                   </iron-collapse>
                 </template>

                   <gl-form-panel-footer label="" set-padding="10px">
                     <div class="layout horizontal end-justified">
                       <paper-button  class="gl-btn-primary" raised on-tap="addExporter" name="addShmdt" hidden="[[data.shm_status]]">เพิ่มผู้ส่งออก</paper-button>
                     </div>
                 <div class="horizontal end-justified layout">
                     <paper-button class="gl-btn-default" raised on-tap="backPageShipmentList" >ย้อนกลับ</paper-button>
                       <paper-button class="gl-btn-info" raised on-tap="approveShipment" hidden="[[data.shm_status]]">ยืนยันผู้ส่งออก</paper-button>
                 </div>
                   </gl-form-panel-footer>
              </div>
            <div name="addExporter">
              <detail-exporter-ship data-for-select="[[dataForSelect]]"
                                    pol="[[dataForSelect.pol]]"
                                    pod="[[dataForSelect.pod]]"
                                    bl-nos="[[dataForSelect.blNos]]"
                                    is-view-seleted="[[!isViewSeleted]]"></detail-exporter-ship>
            </div>
          </iron-pages>
        </div>
        <div name="listOfBl">
          <iron-pages selected="[[pageShipmentBL]]" attr-for-selected="name">
            <div name="listOfBl">
              <list-of-bill-sm data="{{dataForSelect.blNos}}" data-for-select="[[dataForSelect]]" shm-status="[[data.shm_status]]"></list-of-bill-sm>
            </div>
            <div name="BlDetail">
              <bill-detail-sm data-for-select="[[dataForSelect]]" is-view-seleted="[[isViewSeleted]]" is-input-disabled="[[isInputDisabled]]" shm-status="[[data.shm_status]]"></bill-detail-sm>
            </div>
            <div name="editBlDetail">
              <bill-detail-sm data-for-select="[[dataForSelect]]"  data="{{dataSelected}}" is-view-seleted="[[!isViewSeleted]]" is-input-disabled="[[!isInputDisabled]]" data-bl-detail="[[data]]" shm-status="[[data.shm_status]]"></bill-detail-sm>
            </div>
          </iron-pages>
        </div>


        <!-- <div name="BlDetail">
          <bill-detail-sm data-for-select="[[dataForSelect]]" is-view-seleted="[[isViewSeleted]]" is-input-disabled="[[isInputDisabled]]"></bill-detail-sm>
        </div> -->



      </iron-pages>


    </template>

</gl-form-panel>
  </template>
  <script>
    Polymer({
      is: "shipment-detail",
      behaviors: [
          g2gCongtroller,
          g2gModelBehavior,
          FormatNumberBehavior
      ],
      observers:[
        '_getConfirm(confirmLetter)',
        'check(dataForSelect)',
        '_dddd(dataForSelect.blNos)',
        'checkssss(data)'
      ],
      _dddd:function (data) {
        console.log("shipment-detail",data);
      },
      listeners:{
        'send-Bl-no':'_lisNerBlNos',
        'edit-bl-detail':'_lisNerBlDetail',
        'editing-bl-detail':'_lisNerBlDetailEdit',
        'add-bl-no':'_lisNerAddBlNo',
        'cancel-insert-shipment':'_lisNerCanInSm',
        'cancel-edit-shipment':'_lisNerCanEdSm',
        'cancel-insert-bl':'_lisNerCanInBl',
        'min-size-collapse-shipment-detail' : '_lisNerMinCollapse'
      },
      checkssss:function (data) {
        console.log(data);
      },
      properties: {
        confirmLetterObject: {
          type: Object
        },
        data:{
          type: Object,
          value:{contract_id:'',shm_no:'',  shm_name:'',  cl_id:''}
        },
        dataForSelect:{
          type:Object,
        },
        blNos:{
          type:Array,
          value:[]
        },
        pageBl:{
          type:String,
          value:'listOfExporter'
        },
        pageShipment:{
          type:String,
          value:'listOfExporter'
        },
        pageShipmentBL:{
          type:String,
          value:'listOfBl'
        },
        dataSelected:{
          type:Object,
        },
        printReport:{
          type:Object,
          value:{ori:3,nn:12,typeReport:'0',typeFile:'pdf'}
        },
        report:{
          type:Object,
          value:
          {
            report_name:
              [
                {report_name:'รายงานการซื้อขายข้าว',report_name_id:'0'},
                {report_name:'รายงานการซื้อขายข้าว2',report_name_id:'1'},
                {report_name:'รายงานการซื้อขายข้าว3',report_name_id:'2'}
              ],
            report_type:
              [
                {report_type:'PDF',report_type_id:'pdf'},
                {report_type:'WORD',report_type_id:'word'},
                {report_type:'EXCEL',report_type_id:'excel'}
              ]
          }
        }

      },
      check:function (data) {
        console.log('dataForSelect=>',data);
      },
      _lisNerBlNos:function (e) {
        this.push('dataForSelect.blNos', e.detail.detail);
        this.notifyPath('dataForSelect.blNos');
        this.pageBl= 'listOfBl';
        // console.log(this.dataForSelect.blNos);
        // console.log(this.data);
      },
      _lisNerBlDetail:function (e) {
        // console.log(e.detail.detail);
        this.dataSelected=e.detail.detail;
        // this.dataSelected = JSON.parse(JSON.stringify(e.detail.detail));
        this.pageShipmentBL= 'editBlDetail';
      },
      //ไม่ใช้
      _lisNerBlDetailEdit:function (e) {
        // console.log('e.detail',e.detail);
        // let blOld = e.detail.blOld;
        // let indexBl = this.dataForSelect.blNos.map((bl)=>  bl.bl_no ).indexOf(blOld);
        // Object.assign(this.dataForSelect.blNos[indexBl] ,e.detail.newBl);
        // console.log('new',this.dataForSelect.blNos[1].bl_no);
        this.fire('get-list-bl',{detail:JSON.parse(JSON.stringify(this.dataForSelect.blNos)),shm_id:e.detail.shm_id});
        // console.log(this.dataForSelect.blNos[indexBl]);
        // this.notifyPath('dataForSelect.blNos.'+indexBl+'.blNos');

        // let newBlnos = this.dataForSelect.blNos.filter((blDetails)=> blDetails.bl_no == blOld );
        // console.log('old',this.dataForSelect.blNos[1].bl_no);
        // let newBlo = Object.assign(newBlnos[0] ,e.detail.newBl);
        // this.notifyPath('dataForSelect.blNos');
        // console.log('new',this.dataForSelect.blNos[1].bl_no);
      },
      _lisNerAddBlNo:function () {
        // console.log(111);
        this.pageShipmentBL='BlDetail';
      },
      _lisNerCanInSm:function () {
        this.pageBl= 'listOfExporter';
      },
      _lisNerCanEdSm:function () {
        this.pageBl= 'listOfExporter';
        this.pageShipment='listOfExporter';
      },
      _lisNerCanInBl:function () {
        this.pageShipmentBL= 'listOfBl';
      },
      _lisNerMinCollapse:function (e) {
        let targetAttribute = e.detail.collapse;
        let icon = 'icon'+e.detail.collapse;
        if (this.$$('#'+icon).icon == 'expand-more') {
          this.$$('#'+icon).icon = 'chevron-right';
        }else {
          this.$$('#'+icon).icon = 'expand-more'
        }
        this.$$('#'+targetAttribute).toggle();
      },
      printShipment:function () {
        if (this.printReport.typeReport == '0') {
          console.log('&export='+this.printReport.report_type_id);
           window.open('http://localhost:8080/api/shipment/report1?shm_id='+this.data.shm_id+'&export='+this.printReport.typeFile,'1');
        }else if (this.printReport.typeReport == '1') {
          this.$.printShipmentReport.toggle();
        }else if (this.printReport.typeReport == '2') {
           window.open('http://localhost:8080/api/shipment/report3?shm_id='+this.data.shm_id+'&export='+this.printReport.typeFile,'1');
        }
        // this.$.printShipmentReport.toggle();

        // window.open('http://localhost:8080/api/report/report1?shm_id='+this.data.shm_id,'1');
        // window.open('http://localhost:8080/api/report/report2?shm_id='+this.data.shm_id,'2');
        // window.open('http://localhost:8080/api/report/report3?shm_id='+this.data.shm_id,'3');
      },
      printShipmentReports:function () {
        // window.open('http://localhost:8080/api/shipment/report1?shm_id='+this.data.shm_id+'&ori='+this.printReport.ori+'&nn='+this.printReport.nn,'1');
        window.open('http://localhost:8080/api/shipment/report2?shm_id='+this.data.shm_id+'&ori='+this.printReport.ori+'&nn='+this.printReport.nn+'&export='+this.printReport.typeFile,'1');
      },
      calcelShipmentIn:function () {

          this.calcelContract();
          this.editInput();
      },
      editShipment:function () {
        this.backPageShipmentDetail();
      },
      editBlShm:function () {
        this.pageBl= 'listOfBl';
      },
      addExporter:function () {
        this.dataForSelect.contract_id = this.data.contract_id;
        this.notifyPath('dataForSelect.contract_id');
        this.pageShipment= 'addExporter';
      },
      _getConfirm:function (confirmLetter) {
        //insert confirm to combo box
        let elements = this.$$('#confirmLetterTrue');
        let confirm = new Array();
        this.confirmLetter.map((el,index)=>{
          // console.log(el);
          confirm.push({ label:'No. '+ el.cl_no+' '+el.cl_name+' ( '+numeral(el.cl_quantity_total).format('0,0')+' ตัน.) '+this.changeDateCC(el.cl_date) , value:el.cl_id});
        });
        elements.items = confirm;
      },
      addShimpent:function () {
        // console.log(this.confirmLetter[0].contract_id);
        this.data.contract_id = this.confirmLetter[0].contract_id;
        this.data.shm_status = false;
        this._cleanDataInsertShimment(this.data,(data)=>{
          // data.shm_status = false;
          this.fire('toast',{status:'load'}); //คำสั่งสำหรับเปิด toast load
          this.insert('./g2g/shipment/insert',data, () => {
            this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
             callback:()=>{
                this.fire('get-list-shipment',{contractId:data.contract_id});
                this.backPageShipmentList();
              }
            });
          });
        });
      },
      editShimpent:function () {

        // this.data.shm_status = this.el.data.shm_status;
        this._cleanDataInsertShimment(this.data,(data)=>{
          data.id = this.data.shm_id;

          this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
              status:'dialog',
              text:'ต้องการแก้ข้อมูลใช่หรือไม่ ?',
              confirmed:this._editData.bind(this), //function ที่ใช้รับค่า ปุ่ม
              el: this, // compontents
              data:data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
          });
        });
      },
      _editData:function (result,detail) {
        if (result == true) {

          // console.log(detail.data);
          this.update('./g2g/shipment/update',detail.data, () => {
            this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
             callback:()=>{
                this.fire('refresh-contract',{detail:'refresh-contract'});
                this.fire('get-list-shipment',{contractId:detail.data.contract_id});
                this.fire('get-list-shipment-detail',{sm_id:detail.data.id});
                this.backPageShipmentDetail();
              }
            });
           });
         }
      },
      approveShipment:function () {
        if (this.data.shm_quantity <= this.dataForSelect.contract_quantity_shipment_balance) {
            this.data.shm_status= this.approve(this.data.shm_status);
            this._cleanDataInsertShimment(this.data,(data)=>{
                // data.shm_id = this.data.shm_id;
                data.id = this.data.shm_id;
                this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
                    status:'dialog',
                    text:'ต้องการยืนยันข้อมูลใช่หรือไม่ ?',
                    confirmed:this._approveShipment.bind(this), //function ที่ใช้รับค่า ปุ่ม
                    el: this, // compontents
                    data:data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
                })
            });
          } else {
              this.fire('toast',{status:'connectError',text:'ปริมาณข้าวเกินสัญญา', //คำสั่งสำหรับเปิด toast error
              callback:function(){
              }})
        }
      },
      _approveShipment:function (result,detail) {
        if (result == true) {
          // console.log(detail.data);

            this.update('./g2g/shipment/update', detail.data,() => {
               //  this.fire('get-shipMentDetail',{shm_id :data.shm_id,refresh:false ,action:'put'})
            this.fire('refresh-contract',{detail:'refresh-contract'});
            this.fire('get-list-shipment',{contractId:detail.data.contract_id});
            this.fire('get-list-shipment-detail',{sm_id:detail.data.id});
               this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
                 callback:function(){

                   }
               });
             });
         }
      },
      deleteShipment:function () {
        // console.log('deleteShipment');
        this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
            status:'dialog',
            text:'ต้องการลบข้อมูลใช่หรือไม่ ?',
            confirmed:this._deleteShipment.bind(this), //function ที่ใช้รับค่า ปุ่ม
            el: this, // compontents
            data:this.data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
        });
      },
      _deleteShipment:function (result,detail) {
        if (result == true) {
          // console.log(detail.data.shm_id);
          this.delete('./g2g/shipment/delete/id/',detail.data.shm_id, () => {
            this.fire('refresh-contract',{detail:'refresh-contract'});
            this.fire('get-list-shipment',{contractId:detail.data.contract_id});
            this.fire('toast',{status:'success',text:'ลบสำเร็จ',  // คำสั่งสำหรับเปิด toast success
              callback:()=>{
                  this.backPageShipmentList();
                }
            });

        });
      }
    },
      _toggleSub:function(e){
       var targetAttribute = e.currentTarget.getAttribute('aria-controls');
       this.$$('#'+targetAttribute).toggle();
       if (e.target.icon == 'expand-more') {
         e.target.icon = 'chevron-right';
       }else {
         e.target.icon = 'expand-more'
       }
     },
      _cleanDataInsertShimment:function (data,callback) {
        let el = Polymer.dom(this.root).querySelectorAll('.insetShipment');
        let stat = el.map((el)=> el.validate());
        if (stat.every(elem => elem == true)) {
          let {cl_id,shm_name,shm_no,contract_id,shm_status} = data;
          let newData = {cl_id,shm_name,shm_no,contract_id,shm_status};
          el.map((el)=> {el.reset();el.value=''});
          callback(newData);
        }else {
          this.fire('toast',{status:'connectError',text:'กรุณากรอกให้ครบทุกช่อง', //คำสั่งสำหรับเปิด toast error
          callback:function(){
          }})
        }
      },
      backPageShipmentList:function ()  {
        this.fire('get-list-shipment-page',{detail:'fin'});
      },
      backPageShipmentDetail:function () {
        this.editInput();
        this.insertData = !this.insertData;
      }

    });
  </script>
</dom-module>
