<link rel="import" href="../../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../components/dataBehavior.html">
<link rel="import" href="member/member-show.html">
<link rel="import" href="member/member-fileup.html">
<!-- <link rel="import" href="member/member-edit.html"> -->
<link rel="import" href="../../components/panel-right/panel-right.html">
<dom-module id="member-page">
  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color gl-toast">
    .title {
      text-align: center;
       font-size: var(--font-size-h3);
       font-family: 'rsubold', sans-serif;
       -webkit-font-smoothing: antialiased;
        color: white;
    }
    .marTitle{
      margin-left: 5em;
    }
    .boxNortify{
      border: 2px solid red;
      background-color: red;
      padding: 5px;
    }
    paper-tabs{
      background-color: #f7941e;
      margin : 0px 15px 0px 15px;
      color: #F2F2F2;
      --paper-tabs-selection-bar:{
        height: 5px;
        background-color: var(--gl-info-color);
      }
    }
    paper-tab:focus > div.tab-content{
      background-color: yellow;
      opacity: 1;
      font-weight: 0;
    }
    paper-tab:not(:last-of-type) {
      border-right: 3px solid var(--gl-gray-light-color);
      font-size: var(--font-size-h4);
      font-family: 'rsubold', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    paper-tabs paper-tab.iron-selected {
      font-size: var(--font-size-h4);
      color: var(--gl-white-color);
      background-color: var(--gl-info-color);
    }
    .title-paper{
      font-size: var(--font-size-h4);
      font-family: 'rsubold', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
  </style>
  <template>
    <gl-form-panel set-border="0px">
      <div id="titleBg" class="boxNortify" hidden>
        <div id="titleExporter" class="title"><iron-icon icon="icons:info"></iron-icon>  ผู้ส่งออกหมดอายุ</div>
        <div id="titleTrader" class="title"><iron-icon icon="icons:info"></iron-icon>  คน. หมดอายุ</div>
        <div id="titleSeller" class="title"><iron-icon icon="icons:info"></iron-icon>  ยังไม่ลงทะเบียนเป็นผู้ส่งออก</div>
      </div>
      <div class="horizontal end-justified layout">
        <paper-button id="buttomActive" raised class="gl-btn-success button" on-tap="_dialogRemark" title="ยกเลิกการระงับ" hidden>ยกเลิกการระงับ</paper-button>
        <paper-button id="buttomTrader" raised class="gl-btn-danger button" on-tap="_dialogRemark" title="ต่ออายุ คน." hidden>ต่ออายุ คน.</paper-button>
        <!-- <paper-icon-button icon="create" on-tap="editChange" title="แก้ไขข้อมูล"></paper-icon-button> -->
      </div>
              <div class="bd">
                  <gl-form-panel>
                    <paper-tabs selected="{{pages}}" align-bottom no-slide>
                      <paper-tab>รายละเอียด</paper-tab>
                      <paper-tab id="tabFile" class="title-paper">เอกสารหลักฐาน</paper-tab>
                    </paper-tabs>
                    <iron-pages selected="{{pages}}">
                      <member-show data="{{data}}"></member-show>
                      <member-fileup data="{{data}}" doc-type="[[docType]]"></member-fileup>
                      <!-- <member-edit data="{{data}}"></member-edit> -->
                    </iron-pages>
                  </gl-form-panel>
              </div>
              {{_checkStatus(data.export_status,data.exporter_status,data.trader_active)}}

        <gl-form-panel-footer>
          พิมพ์ข้อมูลผู้ส่งออก<paper-icon-button icon="print" on-tap="print" title="พิมพ์ข้อมูลผู้ส่งออก"></paper-icon-button>
          <paper-button id="removeButtomC" class="gl-btn-danger" on-tap="_cancel" raised title="ยกเลิกการแก้ไข">ยกเลิก</paper-button>
          <paper-button id="removeButtom" class="gl-btn-success" on-tap="save" raised title="บันทึกข้อมูล">บันทึก</paper-button>
        </gl-form-panel-footer>
    </gl-form-panel>

    <paper-dialog id="dialog" style="width:60%;">
      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,12]]">
          <gl-form-textarea label="หมายเหตุ : " always-float-label value="{{exporter_remark}}"></gl-form-textarea>
        </gl-grid-col>
      </gl-grid-row>
      <div>
        <paper-button class="gl-btn-danger button-size" raised on-tap="_dialogcancle">ยกเลิก</paper-button>
        <paper-button id="active" class="gl-btn-primary button-size" raised on-tap="_active" hidden>บันทึก</paper-button>
        <paper-button id="retrader" class="gl-btn-primary button-size" raised on-tap="_retrader" hidden>บันทึก</paper-button>
      </div>
    </paper-dialog>

<panel-right></panel-right>
  </template>
  <script>
    Polymer({
      is: "member-page",
      behaviors: [dataBehavior],
      properties: {
        pages:{
            type:Number,
            notify:true,
            value: 0
        },
        // exporterId:{
        //   type:String,
        //   observer:'_exporterIdChanged'
        // }
      },
      // _exporterIdChanged:function(val){
      //   // console.log(val);
      //   if(val!=""){
      //     axios.get('./external/exporter/id/'+val)
      //     .then( (response)=>{
      //       this.data = response.data;
      //       // this.glQuery('contentPanel').changDrawer();
      //     })
      //     .catch(function (error) {
      //       console.log(error);
      //     });
      //   }
      // },
      print:function() {
        // console.log(this.data.trader_id);
        window.open('./api/reportExporter/report11/'+this.data.trader_id,'_blank');
      },
      editChange:function(e){
        // this.$$('#buttomEdit').setAttribute("hidden", "hidden");
        this.pages = 2;
        this.$$('#removeButtom').removeAttribute("hidden");
        this.$$('#removeButtomC').removeAttribute("hidden");
      },
      save:function(e) {
        var datas = {
          id:this.data.exporter_id,
          exporter_no:this.data.exporter_no,
          exporter_date_approve:new Date (this.data.exporter_date_approve),
          // seller_agent:this.data.seller_agent,
          trader_id:this.data.trader_id
        }
        this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
        // console.log(datas);
        // console.log(this.exporterId);
        this.update('./exporter/update', datas, () => {
          this.fire('refresh-exporter');
          this.pages = 0;
          this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
            console.log('success');
          }});
         });
        this.$$('#removeButtom').setAttribute("hidden", "hidden");
        this.$$('#removeButtomC').setAttribute("hidden", "hidden");
        // this.$$('#buttomEdit').removeAttribute("hidden");
      },
      _cancel:function() {
        this.$$('#removeButtom').setAttribute("hidden", "hidden");
        this.$$('#removeButtomC').setAttribute("hidden", "hidden");
        // this.$$('#buttomEdit').removeAttribute("hidden");
        this.pages = 0;
      },
      _checkStatus:function(ac,st,ta){
        if (ac == true && st == true && ta == true) {
          // this.$$('#buttomEdit').removeAttribute("hidden");
          this.$$('#removeButtom').setAttribute("hidden", "hidden");
          this.$$('#removeButtomC').setAttribute("hidden", "hidden");
          this.$$('#buttomActive').setAttribute("hidden", "hidden");
          this.$$('#active').setAttribute("hidden", "hidden");
          this.$$('#buttomTrader').setAttribute("hidden", "hidden");
          this.$$('#retrader').setAttribute("hidden", "hidden");
          this.$$('#titleExporter').setAttribute("hidden", "hidden");
          this.$$('#titleTrader').setAttribute("hidden", "hidden");
          this.$$('#titleSeller').setAttribute("hidden", "hidden");
          this.$$('#titleBg').setAttribute("hidden", "hidden");
          this.pages = 0;
          this.$$('#tabFile').removeAttribute("disabled");
        }
        else if (ac == true && st == true && ta == false) {
          // this.$$('#buttomEdit').setAttribute("hidden", "hidden");
          this.$$('#removeButtom').setAttribute("hidden", "hidden");
          this.$$('#removeButtomC').setAttribute("hidden", "hidden");
          this.$$('#buttomActive').setAttribute("hidden", "hidden");
          this.$$('#active').setAttribute("hidden", "hidden");
          this.$$('#buttomTrader').removeAttribute("hidden");
          this.$$('#retrader').removeAttribute("hidden");
          this.$$('#titleExporter').setAttribute("hidden", "hidden");
          this.$$('#titleTrader').removeAttribute("hidden");
          this.$$('#titleSeller').setAttribute("hidden", "hidden");
          this.$$('#titleBg').removeAttribute("hidden");
          this.pages = 0;
          this.$$('#tabFile').removeAttribute("disabled");
        }
        else if (ac == false && st == true && ta == false) {
          // this.$$('#buttomEdit').setAttribute("hidden", "hidden");
          this.$$('#removeButtom').setAttribute("hidden", "hidden");
          this.$$('#removeButtomC').setAttribute("hidden", "hidden");
          this.$$('#buttomActive').setAttribute("hidden", "hidden");
          this.$$('#active').setAttribute("hidden", "hidden");
          this.$$('#buttomTrader').removeAttribute("hidden");
          this.$$('#retrader').removeAttribute("hidden");
          this.$$('#titleExporter').setAttribute("hidden", "hidden");
          this.$$('#titleTrader').removeAttribute("hidden");
          this.$$('#titleSeller').setAttribute("hidden", "hidden");
          this.$$('#titleBg').removeAttribute("hidden");
          this.pages = 0;
          this.$$('#tabFile').removeAttribute("disabled");
        }
        else if (ac == false && st == true && ta == true) {
          // this.$$('#buttomEdit').setAttribute("hidden", "hidden");
          this.$$('#removeButtom').setAttribute("hidden", "hidden");
          this.$$('#removeButtomC').setAttribute("hidden", "hidden");
          this.$$('#buttomActive').removeAttribute("hidden");
          this.$$('#active').removeAttribute("hidden");
          this.$$('#buttomTrader').setAttribute("hidden", "hidden");
          this.$$('#retrader').setAttribute("hidden", "hidden");
          this.$$('#titleExporter').removeAttribute("hidden");
          this.$$('#titleTrader').setAttribute("hidden", "hidden");
          this.$$('#titleSeller').setAttribute("hidden", "hidden");
          this.$$('#titleBg').removeAttribute("hidden");
          this.pages = 0;
          this.$$('#tabFile').removeAttribute("disabled");
        }
        else if(st == false){
          // this.$$('#buttomEdit').setAttribute("hidden", "hidden");
          this.$$('#removeButtom').setAttribute("hidden", "hidden");
          this.$$('#removeButtomC').setAttribute("hidden", "hidden");
          this.$$('#buttomActive').setAttribute("hidden", "hidden");
          this.$$('#active').setAttribute("hidden", "hidden");
          this.$$('#buttomTrader').setAttribute("hidden", "hidden");
          this.$$('#retrader').setAttribute("hidden", "hidden");
          this.$$('#titleSeller').removeAttribute("hidden");
          this.$$('#titleExporter').setAttribute("hidden", "hidden");
          this.$$('#titleTrader').setAttribute("hidden", "hidden");
          this.$$('#titleBg').removeAttribute("hidden");
          this.pages = 0;
          this.$$('#tabFile').setAttribute("disabled", "disabled");
        }
      },
      _dialogRemark: function(){
        this.$.dialog.toggle();
      },
      _active: function(){
        this.fire('toast',{status:'dialog',
        text:'คุณต้องการจะยกเลิกการระงับใช่หรือไม่ ?',
        confirmed : this._confirmToast.bind(this),
        datas: {
           exporter_date_approve:new Date,
           exporter_no:this.data.exporter_no,
           trader_id:this.data.trader_id,
           id : this.data.exporter_id
          }
        });
      },
      _confirmToast:function(result,detail){
        if(result == true){
          this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
          this.update('./exporter/update', detail.datas, () => {
            this.$.dialog.toggle();
            this.fire('refresh-exporter');
            this.fire('close-toggle');
            this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
              console.log('success');
            }});
           });
        }
      },
      _retrader:function(){
        this.fire('toast',{status:'dialog',
        text:'คุณต้องการจะต่ออายุกรมการค้าภายในใช่หรือไม่ ?',
        confirmed : this._confirmTrader.bind(this),
        datas: {
          id: this.data.trader_id,
          trader_date_approve: new Date
          }
        });
      },
      _confirmTrader:function(result,detail){
        if(result == true){
          this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
          this.update('./trader/update', detail.datas, () => {
            this.$.dialog.toggle();
            this.fire('refresh-exporter');
            this.fire('close-toggle');
            this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
              console.log('success');
            }});
           });
        }
      },
      _dialogcancle:function() {
        this.$.dialog.toggle();
        this.exporter_remark = "";
      }
    });
  </script>
</dom-module>
