<dom-module id="view-noshipment">
  <style>
    :host {
      display: block;
    }
  </style>
  <template>

    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,3]]">
        <gl-form-label-input label="ลำดับ"  error-message="กรุณาใส่ลำดับของ" required placeholder="ลำดับที่การส่งมอบสินค้า"  value="{{data.shm_no}}"></gl-form-label-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,8]]">
        <gl-form-label-input label="ชื่อ" error-message="กรุณาใส่ชื่อของงวด" required placeholder="่ชื่องวดการส่งมอบสินค้า" value="{{data.shm_name}}"></gl-form-label-input>
      </gl-grid-col>
    </gl-grid-row>
    <gl-grid-row width="{{getWidth}}">
     <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,3]]">
        <gl-form-label-input label="ชื่อสัญญา"  value="{{data.cl_name}}"></gl-form-label-input>
     </gl-grid-col>
     </gl-grid-row>
  </template>
  <script>
    Polymer({
      is: "view-noshipment",
      observers:['check(data)'],
      check:function (data) {
        // console.log(data);
      }

    });
  </script>
</dom-module>
