<dom-module id="promise-detail">
  <style include="iron-flex iron-flex-alignment">
.top{
  margin-top: 15px;
}
.bg{
  /*background-color:var(--paper-grey-200);*/
  border: 1px solid black;
  padding-left: 10px;
}
gl-form-textarea{
  word-break: break-all;
}
paper-button{
  width: 20px;
  height: 30px;
  margin-top: 10px;
}

  </style>

  <template>
    <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,4]]">
          <gl-form-input auto-validate error-message="กรุณาใส่ชื่อสัญญา" required label="ชื่อสัญญา" value="{{data.promiseName}}" placeholder="ใส่รายละเอียด"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[500,3],[700,4]]">
          <vaadin-date-picker label="วันที่"></vaadin-date-picker>
        </gl-grid-col>
      </gl-grid-row>

      <template id="zatest" is="dom-repeat" items="{{data.rice}}">
        <div class="bg">
          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,4]]">
                <paper-dropdown-menu valid="valid" on-tap="requiredDropdown" label="ชนิดข้าว" error-message="กรุณาเลือกชนิดข้าว" placeholder="เลือกประเภท" required>
                  <paper-listbox class="dropdown-content" attr-for-selected="rice-type" selected="{{item.riceType}}">
                    <paper-item rice-type="riceWhite">ข้าวขาว</paper-item>
                    <paper-item rice-type="jasmineRice">ข้าวหอมมะลิ</paper-item>
                  </paper-listbox>
                </paper-dropdown-menu>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,4]]">
                <gl-form-input auto-validate error-message="กรุณาใส่จำนวน" pattern="[0-9,.,,]{1,9}" required  label="จำนวน (ตัน)" value="{{item.volume}}" placeholder="ใส่รายละเอียด"></gl-form-input>
            </gl-grid-col>
          </gl-grid-row>
        </div>
        <div class="horizontal end-justified layout">
          <paper-button raised>เพิ่ม</paper-button>
        </div>
      </template>


        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,6]]">
            <gl-form-textarea on-blur="requiredTextArea" on-keyup="requiredTextArea" rows="3" label="ชื่อผู้ซื้อสินค้า, ที่อยู่" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="{{data.customerDetail}}"></gl-form-textarea>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,6]]">
            <gl-form-textarea on-blur="requiredTextArea" on-keyup="requiredTextArea" rows="3" label="รายละเอียด" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="{{data.detail}}"></gl-form-textarea>
          </gl-grid-col>
        </gl-grid-row>

        <div class="horizontal end-justified layout">
          <paper-button class="button" raised>ยกเลิก</paper-button>
          <paper-button class="button" on-tap="validate" raised>บันทึก</paper-button>
        </div>



  </template>

  <script>
    Polymer({
      is: "promise-detail",
      properties: {
        data: {
          type: Object,
          value: { name:''}
        },
        error:{
          type:Object,
          value:{ name:false }
        }
      },
      ready:function(){
        //this.listen(this.$.valid,'iron-select','requiredDropdown');
        //console.log(this.listen(this.$.valid,'iron-select','requiredDropdown'));
        this.listen(this.$.zatest,'dom-change','testza');
        // this.listen(this.$.zatest,'dom-change','testza');
        //console.log(this.$.zatest);
      },
      testza:function(){
        l('change');
        this.listen(this.$$('[valid]'),'iron-select','requiredTest');
      },
      requiredTest:function(){
        console.log('select');
      },
      requiredDropdown:function(e){
        if((e.target.is)=="paper-dropdown-menu"){
          e.target.validate();
        }else{
          e.target.parentNode.validate();
        }
      },
      requiredTextArea:function(e){
        // console.log(e.target);
        e.target.validate();
      },
      validate: function(){

        if(
            (
              this.data.name != ""
              // this.data.id != "" &&
              // this.data.etd != "" &&
              // this.data.eta != ""
            )
            &&
            (
              this.error.vessel == false
              // this.error.id == false &&
              // this.error.etd == false &&
              // this.error.eta == false
            )
        ){
          var queryELement = document.querySelector('dashboard-my-dashboard');
          queryELement.save(this.data,this.index);
        }
      }
    });
  </script>
</dom-module>
