<link rel="import" href="/bower_components/gl-grid/gl-grid-row.html">
<link rel="import" href="/bower_components/gl-grid/gl-grid-col.html">

<dom-module id="promise-detail">
  <style include="iron-flex iron-flex-alignment">
.box{
  width:230px;
}
.top{
  margin-top: 15px;
}
.button{
  width: 20px;
  height: 30px;
  margin-top: 10px;
}
paper-textarea{
  word-break: break-all;
  width: 95%;
}
paper-button{
  width: 20px;
  height: 30px;
  margin-top: 10px;
}
  </style>
  <template>

    {{getWidth}}
    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="{{getWidth}}" grid="[[500,8]]"><paper-input auto-validate error-message="'กรุณาใส่เลขที่สัญญา'" required  label="งวด" value="{{data.promiseNo}}" placeholder="ใส่รายละเอียด"></paper-input></gl-grid-col>
    </gl-grid-row>
    <gl-grid-row>
      <gl-grid-col width="{{getWidth}}" grid="[[700,4],[500,6]]"><paper-input auto-validate error-message="กรุณาใส่เลขที่สัญญา" required  label="เลขที่สัญญา" value="{{data.promiseNo}}" placeholder="ใส่รายละเอียด"></paper-input></gl-grid-col>
      <gl-grid-col width="{{getWidth}}" grid="[[700,4],[500,6]]"><paper-input auto-validate error-message="กรุณาใส่เลขที่สัญญา" required  label="เลขที่สัญญา" value="{{data.promiseNo}}" placeholder="ใส่รายละเอียด"></paper-input></gl-grid-col>
      <gl-grid-col width="{{getWidth}}" grid="[[700,4],[500,6]]"><paper-input auto-validate error-message="กรุณาใส่เลขที่สัญญา" required  label="เลขที่สัญญา" value="{{data.promiseNo}}" placeholder="ใส่รายละเอียด"></paper-input></gl-grid-col>
      <gl-grid-col width="{{getWidth}}" grid="[[700,4],[500,6]]"><paper-input auto-validate error-message="กรุณาใส่เลขที่สัญญา" required  label="เลขที่สัญญา" value="{{data.promiseNo}}" placeholder="ใส่รายละเอียด"></paper-input></gl-grid-col>
    </gl-grid-row>
    <div class="vertical layout">

      <div class="horizontal layout top">
        <div class="flex">
          <div class="box"><paper-input auto-validate error-message="กรุณาใส่ชื่อสัญญา" required label="ชื่อสัญญา" value="{{data.promiseName}}" placeholder="ใส่รายละเอียด"></paper-input></div>
        </div>
        <div class="flex">
          <div class="box"><paper-input auto-validate error-message="กรุณาใส่เลขที่สัญญา" required  label="เลขที่สัญญา" value="{{data.promiseNo}}" placeholder="ใส่รายละเอียด"></paper-input></div>
        </div>






      </div>

      <div class="horizontal layout">
        <div class="flex">
          <div class="box"><vaadin-date-picker label="วันที่"></vaadin-date-picker></div>
        </div>
        <div class="flex">
          <paper-dropdown-menu id="valid" on-tap="requiredDropdown" label="ราคา" error-message="กรุณาเลือกราคา" placeholder="เลือกประเภท" required>
            <paper-listbox  class="dropdown-content" attr-for-selected="price-type" selected="{{data.price}}">
              <paper-item price-type="fob">FOB</paper-item>
              <paper-item price-type="cy">CY</paper-item>
              <paper-item price-type="other">ฯลฯ</paper-item>
            </paper-listbox>
          </paper-dropdown-menu>
        </div>
      </div>
      <template is="dom-repeat" items="{{data.rice}}">
        <div class="horizontal layout">
          <div class="flex">
            <paper-dropdown-menu label="ชนิดข้าว" error-message="กรุณาเลือกชนิดข้าว" placeholder="เลือกประเภท">
              <paper-listbox class="dropdown-content" attr-for-selected="rice-type" selected="{{item.riceType}}">
                <paper-item rice-type="riceWhite">ข้าวขาว</paper-item>
                <paper-item rice-type="jasmineRice">ข้าวหอมมะลิ</paper-item>
              </paper-listbox>
            </paper-dropdown-menu>
          </div>
          <div class="flex">
            <div class="box"><paper-input auto-validate error-message="กรุณาใส่จำนวน" pattern="[0-9]{1,7}" required  label="จำนวน (ตัน)" value="{{item.volume}}" placeholder="ใส่รายละเอียด"></paper-input></div>
          </div>
        </div>
      </template>
        <div class="flex">
          <paper-textarea on-blur="requiredTextArea" on-keyup="requiredTextArea" rows="3" label="ชื่อผู้ซื้อสินค้า, ที่อยู่" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="{{data.customerDetail}}"></paper-textarea>
        </div>

        <div class="flex">
          <paper-textarea on-blur="requiredTextArea" on-keyup="requiredTextArea" rows="3" label="รายละเอียด" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="{{data.detail}}"></paper-textarea>
        </div>

      <div class="horizontal end-justified layout">
        <paper-button class="button" raised>ยกเลิก</paper-button>
        <paper-button class="button" on-tap="validate" raised>บันทึก</paper-button>
      </div>


    </div>
  </template>

  <script>
    Polymer({
      is: "promise-detail",
      properties: {
        data: {
          type: Object,
          value: { name:''}
        },
        error:{
          type:Object,
          value:{ name:false }
        }
      },
      ready:function(){
        this.listen(this.$.valid,'iron-select','requiredDropdown');
      },
      requiredDropdown:function(e){
        if((e.target.is)=="paper-dropdown-menu"){
          e.target.validate();
        }else{
          e.target.parentNode.validate();
        }
      },
      requiredTextArea:function(e){
        // console.log(e.target);
        e.target.validate();
      },
      validate: function(){

        if(
            (
              this.data.name != ""
              // this.data.id != "" &&
              // this.data.etd != "" &&
              // this.data.eta != ""
            )
            &&
            (
              this.error.vessel == false
              // this.error.id == false &&
              // this.error.etd == false &&
              // this.error.eta == false
            )
        ){
          var queryELement = document.querySelector('dashboard-my-dashboard');
          queryELement.save(this.data,this.index);
        }
      }
    });
  </script>
</dom-module>
