<dom-module id="promise-confirm">
  <style include="iron-flex iron-flex-alignment">
  .top{
    margin-top: 15px;
  }
  paper-button{
    width: 20px;
    height: 30px;
    margin-top: 10px;
  }
  paper-textarea{
    word-break: break-all;
  }

  </style>
  <template>
    <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,4]]">
          <paper-input auto-validate error-message="กรุณาใส่ชื่อเลขจดหมายคอนเฟริม" pattern="[0-9]{1,6}" required label="Confirmation Letter No." placeholder="ใส่รายละเอียด" value="{{data.confirmLetter}}"></paper-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,4]]">
          <vaadin-date-picker label="Date"></vaadin-date-picker>
        </gl-grid-col>
    </gl-grid-row>


      <template is="dom-repeat" items="[[data.confirmItem]]">
          <div class="top">Commodities, Price, Package</div>
          <gl-grid-row>
            <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,7]]">
              <paper-input auto-validate error-message="กรุณาใส่ชื่อสินค้า" required label="Item" placeholder="ใส่รายละเอียด" value="[[item.item]]"></paper-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,3]]">
              <paper-input auto-validate error-message="กรุณาใส่ชื่อสินค้า" required label="Package(kg)" pattern="[0-9]{1,9}" placeholder="ใส่รายละเอียด" value="[[item.package]]"></paper-input>
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,2]]">
              <paper-input class="box" auto-validate error-message="กรุณาใส่ชื่อสินค้า" required label="Price(USD)" pattern="[0-9]{1,9}" placeholder="ใส่รายละเอียด" value="[[item.price]]"></paper-input>
            </gl-grid-col>
          </gl-grid-row>
      </template>


      <div class="horizontal end-justified layout">
        <paper-button raised>เพิ่ม</paper-button>
      </div>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,8]]">
          <paper-textarea on-blur="requiredTextArea" on-keyup="requiredTextArea" rows="3" label="Detail" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="[[data.detail]]"></paper-textarea>
        </gl-grid-col>
      </gl-grid-row>

      <div class="horizontal end-justified layout">
        <paper-button raised>ยกเลิก</paper-button>
        <paper-button raised>บันทึก</paper-button>
      </div>

    </div>
  </template>
  <script>
    Polymer({
      is: "promise-confirm",
      requiredTextArea:function(e){
        // console.log(e.target);
        e.target.validate();
      }

    });
  </script>
</dom-module>
