<link rel="import" href="../../functionBehavior/dataBehavior.html">
<dom-module id="insert-trader">
  <style include="iron-flex iron-flex-alignment gl-color gl-size">
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: var(--font-size-h5);
    }
    .text-center {
      text-align: center;
      font-size: var(--font-size-h3);
      background-color: var(--paper-grey-100);
      margin-top: 20px;
    }
    .margin-top{
      margin-top: 15px;
    }
    .button{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  </style>
  <template>
    <div class="text-center">เพิ่มข้อมูลผู้ค้าข้าว</div>

    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,6]]">
        <gl-combo-box class="margin-top checkData" items="{{sellers}}" item-label-path="seller_name_th" label="Seller Name (ชื่อผู้ประกอบการ)" item-value-path="seller_id"
        value="{{data.seller_id}}" error-message="กรุณาเลือกผู้ประกอบการ" required always-float-label placeholder="เลือกชื่อผู้ประกอบการ"></gl-combo-box>
      </gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" error-message="กรุณากรอกรหัส" required label="Trader No (รหัสประจำตัวผู้เสียภาษี) :" placeholder="กรอกชื่อรหัสประจำตัวผู้เสียภาษี" value="{{data.trader_no}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" error-message="กรุณากรอกชื่อ" required label="Trader Name (ชื่อผู้ค้าข้าว) :" placeholder="กรอกชื่อผู้ค้าข้าว" value="{{data.trader_name}}"></gl-form-input>
      </gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" error-message="กรุณากรอกอำเภอ" required label="Trader Distric (ชื่ออำเภอ) :" placeholder="กรอกชื่ออำเภอ" value="{{data.trader_distric}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box class="margin-top checkData" items="{{provinces}}" item-label-path="province_name_th" label="Province (จังหวัด)" item-value-path="province_id"
        value="{{data.province_id}}" error-message="กรุณาเลือกจังหวัด" required always-float-label placeholder="เลือกจังหวัด"></gl-combo-box>
      </gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" error-message="กรุณากรอกชื่อออฟฟิศ" required label="Office Name (ชื่อออฟฟิศ) :" placeholder="กรอกชื่อออฟฟิศ" value="{{data.trader_office}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <vaadin-date-picker class="margin-top checkData" label="วันที่อนุมัติ" value="{{data.trader_date_approve}}"></vaadin-date-picker>
      </gl-grid-col>
    </gl-grid-row>
    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box class="margin-top checkData" id="typeID" item-label-path="type_lic_name" label="Type (ประเภท)" item-value-path="type_lic_id"
        value="{{data.type_lic_id}}" error-message="กรุณาเลือกประเภท" required always-float-label placeholder="เลือกประเภท"></gl-combo-box>
      </gl-grid-col>
    </gl-grid-row>

    <div class="horizontal end-justified layout">
      <div class="button">
        <paper-button class="gl-btn-danger" raised on-tap="_cancel">ยกเลิก</paper-button>
        <paper-button class="gl-btn-success" raised on-tap="_save">บันทึก</paper-button>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: "insert-trader",
      properties: {
        data: {
          type: Object,
          value:{}
        }
      },
      observers:[
        '_checkSeller(data.seller_id)'
      ],
      behaviors: [
          gl.behavior.core,
          gl.behavior.locales,
          dataBehavior
      ],
      _save:function functionName() {
        var datas = {
          id : this.data.trader_id,
          seller_id : this.data.seller_id,
          trader_date_approve : new Date,
          trader_no : this.data.trader_no,
          trader_name : this.data.trader_name,
          trader_distric : this.data.trader_distric,
          trader_office : this.data.trader_office,
          province_id : this.data.province_id,
          type_lic_id : this.data.type_lic_id
        }
        // console.log(datas);
        var stat = Polymer.dom(this.root).querySelectorAll('.checkData').map((data)=>{
            return  data.validate();
        });
        var chkStat = function(stat){
            return stat == true
        };
        if(stat.every(chkStat) == true){
          this.read('./external/check/duplicate?table=trader&field=trader_no&value='+datas.trader_no, (response) => {
            if (response == 0) {
              this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
              this.insert('./external/trader/insert', datas, () => {
              this.data = {};
              this.glQuery('refreshTrader').getTrader();
              this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
                console.log('success');
              }});
             });
            }
            else {
              this.fire('toast',{status:'connectError',text:'รหัสผู้ค้าข้าวนี้มีอยู่แล้ว',
                callback:function(){
                }})
            }
            });
        }
        else {
          this.fire('toast',{status:'connectError',text:'กรุณากรอกข้อมูลให้ครบถ้วน',
            callback:function(){
            }})
        }
      },
      _cancel:function() {
        this.glQuery('panelRight').changDrawer();
        this.data = {};
      },
      _dif:function(a){

      },
      _checkSeller:function(val){
        if (val !== '') {
          // console.log(val);
          if (typeof this.traders != 'undefined') {
            var newType = [];
            let comboboxs = Polymer.dom(this.root).querySelector('#typeID');
            var seller = this.traders.filter(function(sellers) {
              return sellers.seller_id == val
            })
            var type = this.typelics.map((type)=>{
              return type
            })
            var item = seller.map((item)=>{
              return item.type_lic_id
            })

            newType = type.filter(function(i) {
              var val = i.type_lic_id;
              return item.indexOf(val) < 0;
            })
            comboboxs.items = newType;
          }
        }
      },

    });
  </script>
</dom-module>
