
<dom-module id="exporter-manage">
    <template>
        <style include="gl-size gl-panel gl-color">
             .flex-end-justified {
                @apply(--layout-horizontal);
                @apply(--layout-end-justified);
            }
            paper-button,.header{
                font-family: 'CSChatThaiUI', sans-serif !important;
                -webkit-font-smoothing: antialiased;
            }
            .header{
                text-align: right;
                margin-top: 26px;
                font-size: 16px;
            }
            section{
                padding:20px;
            }   
        </style>
         <section>
            <div class="flex gl-panel-default">
                <div class="gl-panel-default-header">
                    โปรดระบบุข้อมูล
                </div>
                <div class="gl-panel-default-content">
                     <gl-grid-row width="{{getWidth}}">
                        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                        </gl-grid-col>
                        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                             <div class="header">ชื่อบริษัท :</div>
                        </gl-grid-col>
                        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                             <gl-form-input value="{{exporterName}}" required></gl-form-input>
                        </gl-grid-col>
                        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                        </gl-grid-col>
                     </gl-grid-row>

                </div>
            </div>
            <div class="flex-end-justified">
                <paper-button raised class="gl-btn-danger" on-tap="_confirmDelete" hidden$="{{active}}">ลบข้อมูล</paper-button>
                <paper-button raised class="gl-btn-success" on-tap="_checkform">บันทึก</paper-button>
           </div>
        </section>
    </template>
    <script>
        Polymer({
            is: 'exporter-manage',
            properties:{
                status: {
                    observer: 'checkStatus'
                },
                data:{
                    observer: 'checkData'
                }
            },
            checkStatus:function(status){
                if(status == 'add'){
                  this.exporterName = "";
                }
                 else if(status == 'update'){
                   this.active = false;  
                }
            },
            checkData:function(data){
                this.exporterName = data.name;
            },
            _checkform:function(){
                var dataCheck = Polymer.dom(this.root).querySelectorAll('gl-form-input').map(function(item){
                    return item.validate();
                }.bind(this));
                const check = function(dataCheck){
                    return dataCheck == true;
                }
                if(dataCheck.every(check) == true){
                    this._getForSave();
                }
                // console.log(check);
            },
            _getForSave:function(){
               var get 
               if(this.status == 'add'){
                   get = {
                       name: this.exporterName
                   }
                   this.fire('post-data',get);
               }
               else if(this.status == 'update'){
                    get = {
                       id: this.data.id,
                       name: this.exporterName
                   }
                   this.fire('update-data',get);
               }
            },
            _confirmDelete:function(){
                this.fire('toast',{
                    status:'openDialog',
                    text:'ต้องการยกเลิกใช่หรือไม่ ?',
                    confirmed:this._delDataList.bind(this)
                })
            },
             _delDataList:function(result){
                 if(result == true){
                     this.fire('delete-data',this.data.id)
                 }
            }
        });
    </script>
</dom-module>