
<dom-module id="normal-pay">
    <style>
        .header{
            font-size: 18px;
        }
        .content{
            padding: 20px;
        }
    </style>
    <template>
        <!--<div class="header">
            ชำระเงินแบบปกติ
        </div>-->
        <div class="content">
            <gl-grid-row width="{{getWidth}}">
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                </gl-grid-col>
                 <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                    <gl-form-dropdown-menu label="เช็คธนาคาร">
                        <paper-listbox class="dropdown-content">
                            <paper-item>allosaurus</paper-item>
                            <paper-item>brontosaurus</paper-item>
                            <paper-item>carcharodontosaurus</paper-item>
                            <paper-item>diplodocus</paper-item>
                        </paper-listbox>
                    </gl-form-dropdown-menu>
                </gl-grid-col>
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                    <gl-form-input label="สาขา" value="สีลม"></gl-form-input>
                </gl-grid-col>
                 <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                </gl-grid-col>
            </gl-grid-row>

             <gl-grid-row width="{{getWidth}}">
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                </gl-grid-col>
                 <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                    <gl-form-input label="เลขที่เช็ค" value="1120523"></gl-form-input>
                </gl-grid-col>
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                    <vaadin-date-picker label="วันที่เช็ค"></vaadin-date-picker>
                </gl-grid-col>
                 <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                </gl-grid-col>
            </gl-grid-row>

             <gl-grid-row width="{{getWidth}}">
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                </gl-grid-col>
                 <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                    <gl-form-label-input label="จำนวนเงินที่ต้องชำระ" value="550,000.00 บาท"></gl-form-label-input>
                </gl-grid-col>
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                     <gl-form-input label="จำนวนเงินที่ชำระจริงตามเช็ค" value="550,000.00"></gl-form-input>
                </gl-grid-col>
                 <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                </gl-grid-col>
            </gl-grid-row>

             <gl-grid-row width="{{getWidth}}">
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                </gl-grid-col>
                 <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
                    <gl-form-textarea label="หมายเหตุ" ></gl-form-textarea>
                </gl-grid-col>
                 <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                </gl-grid-col>
            </gl-grid-row>
        </div>
    </template>
    <script>
        Polymer({
            is: 'normal-pay'
        });
    </script>
</dom-module>
