<dom-module id="list-menu" inclue="iron-flex iron-flex-factors iron-flex-alignment">
  <style>
    .subMenu{
      padding-left: 15%;
    }
    .bd{
      border: 1px solid #000;
    }
    .getUrl{
      background-color: red;
    }
    paper-icon-item ,paper-item{
      cursor: pointer;

      --paper-item-focused: {
        background-color: var(--gl-info-color);
        /*opacity: 0;*/
      }
    }
  </style>
  <template>
    <paper-menu>
      <template is="dom-repeat" items="[[menuData]]">
        <paper-submenu>
        <paper-icon-item class="menu-trigger">
          <template is="dom-if" if="[[item.subMenu]]">
            <paper-icon-button icon="chevron-right" item-icon  on-tap="_getSub"></paper-icon-button>
          </template>
          <div on-tap="getUrl" url$="[[item.url]]">
                [[item.nameMenu]]
          </div>
        </paper-icon-item>
        <template is="dom-if" if="[[item.subMenu]]">
          <paper-menu class="menu-content">
            <template is="dom-repeat" items="[[item.subMenu]]">
                <paper-item>
                  <div class="subMenu" on-tap="getUrl" url$="[[item.url]]">
                    [[item.nameMenu]]
                  </div>
                </paper-item>
            </template>
          </paper-menu>
        </template>

      </paper-submenu>
      </template>

    </paper-menu>
  </template>
  <script>
    Polymer({
      is: "list-menu",
      behaviors: [
        gl.behavior.core
      ],
      properties: {
        menuData: {
          type: Object,
          value:
          [
            {
              id:0,
              nameMenu:'หน้าแรก',
              url:'/'
            },
            {
              id:1,
              nameMenu:'ระบบการซื้อขายข้าวรัฐบาลต่อรัฐบาล',
              url:'/g2g/add-contract'
            },
            {
              id:4,
              nameMenu:'EU',
              url:'/eu/add-eu-quota',
              subMenu:
              [
                {
                  id:0,
                  nameMenu:'รายการจัดสรรปีโควตา',
                  url:'/eu/add-eu-quota'
                },
                {
                  id:1,
                  nameMenu:'น้ำเข้าข้อมูลเพื่อการคำนวณ',
                  url:'/eu/'
                },
                {
                  id:2,
                  nameMenu:'การคำนวณส่วนจัดสรร',
                  url:'/eu/calculate-allocation'
                },
                {
                  id:3,
                  nameMenu:'ปริมาณส่วนจัดสรรข้าวภายใต้โควตาสหภาพยุโรปรายบริษัท',
                  url:'/eu/amount-allocation'
                },
                {
                  id:4,
                  nameMenu:'ยืนยันส่วนจัดสรร',
                  url:'/eu/confirm-allocate'
                },
                {
                  id:5,
                  nameMenu:'ปริมาณการใช้สิทธิโควตา',
                  url:'/eu/'
                },
                {
                  id:6,
                  nameMenu:'การโอนส่วนจัดสรร',
                  url:'/eu/'
                },
                {
                  id:7,
                  nameMenu:'รับชำระเงินและออกใบเสร็จ',
                  url:'/eu/extra-fee'
                }
              ]
            },
            {
              id:3,
              nameMenu:'WTO',
              url:'/wto/'
            },
            {
              id:7,
              nameMenu:'ระบบจ่ายชำระ',
              url:'/g2g/add-draft'
            },
            {
              id:2,
              nameMenu:'ระบบการการขึ้นทะเบียน',
              url:'/listregistion/add-registion-exporter',
              subMenu:
              [
                {
                  id:0,
                  nameMenu:'ขึ้นทะเบียนผู้ส่งออกข้าวไปต่างประเทศ',
                  url:'/listregistion/add-registion-exporter'
                },
                {
                  id:1,
                  nameMenu:'ต่ออายุทะเบียนผู้ส่งออกข้าวไปต่างประเทศ',
                  url:'/listregistion/pause-registion-exporter'
                },
                {
                  id:2,
                  nameMenu:'รายชื่อผู้ได้รับหนังสืออนุญาติให้ประกอบการค้าข้าว',
                  url:'/listregistion/report-list-exporter-license'
                },
                {
                  id:3,
                  nameMenu:'รายชื่อบริษัทส่งออกข้าวต่างประเทศ และคณะกรรมการบริษัท',
                  url:'/listregistion/report-list-export-board'
                },
                {
                  id:4,
                  nameMenu:'รายชื่อและที่อยู่ของผู้ส่งออกข้าว',
                  url:'/listregistion/report-list-exporter-address'
                },
                {
                  id:5,
                  nameMenu:'รายชื่อบริษัทผู้ส่งออกข้าวประเภทค้าข้าวส่งไปจำหน่ายต่างประเทศ',
                  url:'/listregistion/report-list-export-company'
                }
              ]
            },
            {
              id:4,
              nameMenu:'สถิติ',
              url:'/statistics/daily-report',
              subMenu:
              [
                {
                  id:1,
                  nameMenu:'รายงานตรวจสอบประจำวัน',
                  url:'/statistics/daily-report'
                },
                {
                  id:2,
                  nameMenu:'รายงานทั่วไป',
                  url:'/statistics/general-report'
                },
                {
                  id:3,
                  nameMenu:'รายงานอนุญาติส่งออก',
                  url:'/statistics/daily-report'
                },
                {
                  id:4,
                  nameMenu:'WTO',
                  url:'/statistics/daily-report'
                }
              ]
            },

            {
              id:5,
              nameMenu:'เว็ป Thairiceinfo.go.th',
              url:'http://thairiceinfo.go.th/'
            }
          ]
        }
      },
      getUrl:function (e) {
        // console.log(e.target.getAttribute("url"));
        var url = e.target.getAttribute('url')
        this.glChangePath(url);
      },
      _getSub:function (e) {
        var targetAttribute = e.currentTarget.getAttribute('aria-controls');
        if (e.target.icon == 'expand-more') {
          e.target.icon = 'chevron-right';
        }else {
          e.target.icon = 'expand-more'
        }
      }
    });
  </script>
</dom-module>
