<dom-module id="content-panel">

  <style include="iron-flex iron-flex-factors">
    .flex-horizontal {
      @apply(--layout-horizontal);
    }

    .flexchild-1 {
      @apply(--layout-flex);
    }

    .flexchild-2 {
      @apply(--layout-flex-2);
    }

    .rightdata {
      height: 100%;
      /*display: none;*/
      border-left: 1px solid var(--paper-grey-300);
      padding: 5px 10px 0px 10px;
    }


    #changeDivcss {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
    }

    #changeDivcss > div.head-button {
      padding: 10px 0px 10px 0px;
    }
  </style>

  <template>
    <div class=" flex-horizontal">
      <div class="flexchild-1 ">
        <content select="grid"></content>
      </div>

      <div class="rightdata flexchild-1" id="changeDivcss">
        <content select="panel"></content>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is:'content-panel',
      behaviors:[gl.behavior.core],
      created:function(){
        this.glQuery('contentPanel',this);
      },
      ready:function(){
        this.changeDiv();
      },
      changeDiv:function(){
        var css = Polymer.dom(this.root).querySelector('#changeDivcss');

        if(!this.fristPanel){
          if(localStorage.getItem("togglePanel")=="true"
          && localStorage.getItem("togglePanel")!=null){
            // l('s');
            css.className += " flexchild-2";
          }
          this.fristPanel = true;
        }else{

          // เช็คว่ามีแล้วหรือยัง ถ้ามีแล้วก็ไม่เพิ่ม
          // console.log(css);
          if (css.classList.contains('flexchild-2') == false){
            // css.style.display = "inline";
            css.className += " flexchild-2";
            localStorage.setItem("togglePanel", true);
          }else{
            // css.style.display = "none";
            css.classList.remove("flexchild-2");
            localStorage.setItem("togglePanel", false);
          }
        }
      },
    });
  </script>

</dom-module>
