<!--<link rel="import" href="../../../../bower_components/polymer/polymer.html">-->


<dom-module id="re-port">
    <template>
      <style is="custom-style">      
          table {
                border-collapse: collapse;
                font-size: 16px;
                width: 100%;
            }

            th, td {
                text-align: center;
                padding: 8px;
                white-space: nowrap;
            }

            tr:nth-child(even){background-color: #f2f2f2}

            th {
                background-color: #4CAF50;
                color: white;
            }
      </style>

          <table>
              <tr>
                  <th> ผู้ส่งมอบ </th>
                  <th>จำนวน(ต้น)</th>
                  <th>จำนวน(USD)</th>
                  <th>จำนวน(บาท)</th>
                  <th>ค่าธรรมเนียม(บาท)</th>
                  <th>หักค่าธรรมเนียมคงเหลือ(บาท)</th>
                  <th>หัก ภาษี ณ ที่จ่าย</th>
                  <th>จำนวนเงินคงเหลือ (บาท)</th>
                  <th>เลขที่เช็ค</th>
                  <th>รับเช็คแล้ว</th>
              </tr>
              <tr>
                  <td>บริษัทแคปปิตัลซีเรียล จำกัด</td>
                  <td>500</td>
                  <td>164,500</td>
                  <td>5,706,50</td>
                  <td><input type="text" value="228.708"></td>
                  <td><input type="text" value="5,706,276.292"></td>
                  <td><input type="text" value="57,062.762"></td>
                  <td><input type="text" value="5,649,213.53"></td>
                  <td><input type="text" value="...."></td>
                  <td><input type="checkbox"> รับเช็คแล้ว วันที่ ......</td>
                  
              </tr>
               <tr>
                  <td>บริษัทไขยพรไรซ จำกัด</td>
                  <td>500</td>
                  <td>164,500</td>
                  <td>5,706,50</td>
                  <td><input type="text" value="228.708"></td>
                  <td><input type="text" value="5,706,276.292"></td>
                  <td><input type="text" value="57,062.762"></td>
                  <td><input type="text" value="5,649,213.53"></td>
                  <td><input type="text" value="...."></td>
                  <td><input type="checkbox"> รับเช็คแล้ว วันที่ ......</td>
              </tr>
          </table>    
    </template>
    <script>
        Polymer({
           is: 're-port' 
        });
    </script>
</dom-module>