<link rel="import" href="nx-grid-component.html">
<link rel="import" href="/bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="nx-grid">
    <style include="iron-flex iron-flex-factors">
    .header{
      padding: 10px 0px 10px 10px;
      background-color: var(--paper-grey-100);
      color: var(--paper-grey-600);
    }

    .ss{
      color: red;
      border: 1px solid #000;
    }

    .sublist paper-item {
      padding-left: 30px;
    }

    .cml{
      padding-left: 15px;
    }

    .paper-menu-lv1 {
        --paper-menu-selected-item: {
            font-weight: normal;
        };
    }

    .paper-menu-lv2 {
        --paper-menu-selected-item: {
            font-weight: normal;
        };
    }

    .paper-icon-item {
        --paper-icon-item:{
            border-bottom:1px solid #ccc;
        }
    }

    </style>

    <template>
        <content id="primary" select="items[type=primary]"></content>
        <content id="secondary" select="items[type=secondary]"></content>
        <content id="third" select="items[type=third]"></content>
        <content select="template[type=primary]"></content>
        <content select="template[type=secondary]"></content>
        <content select="template[type=third]"></content>

        <div class="horizontal-section">
            <div class="header layout horizontal">
              <!-- Head primary Level 1 -->
                <div style="width:55px">&nbsp;</div>
                <template is="dom-repeat" as="itemConfigPrimary" items="{{config.primary}}">
                    <div class$="{{itemConfigPrimary.width}}">{{itemConfigPrimary.label}}
                      <!-- width:{{itemConfigPrimary.width}} -->
                    </div>
                </template>
            </div>
            <paper-menu attr-for-item-title="label" multi style="padding-top:0px" class="paper-menu-lv1">
                <template is="dom-repeat" as="itemPrimary" items="{{data}}">
                    <paper-icon-item class="paper-icon-item" on-tap="_getBind" on-dblclick="_getBind" level="primary" data="{{itemPrimary}}">
                        <paper-icon-button on-tap="_toggleSub" data-sub="sub-{{index}}" index="{{index}}" icon="chevron-right" item-icon></paper-icon-button>
                        <template is="dom-repeat" as="configPrimary" items="{{config.primary}}">
                            <div class$="{{configPrimary.width}}">
                                {{_getItemPrimary(itemPrimary,configPrimary)}}
                                <!-- width:{{configPrimary.width}} -->
                            </div>
                        </template>
                    </paper-icon-item>
                    <paper-submenu id="sub-{{index}}" label$="{{index}}">
                        <!--<paper-item on-tap="_getBind" on-dblclick="_getBind" data="{{itemPrimary}}" class="menu-trigger" style="border-bottom:1px solid #ccc">
                            <template is="dom-repeat" as="configPrimary" items="{{config.primary}}">
                                <div data="{{itemPrimary}}" class$="{{configPrimary.width}}">

                                {{_getItemPrimary(itemPrimary,configPrimary)}}
                                 <!-- width:{{configPrimary.width}}
                                </div>
                            </template>
                        </paper-item>-->

                        <paper-menu class="menu-content sublist paper-menu-lv2" style="padding:0px;" selected="100">
                            <paper-item disabled>
                                <!-- Head secondary -->
                                <template is="dom-repeat" as="itemConfigSecondary" items="{{config.secondary}}">
                                  <div class$="{{itemConfigSecondary.width}}">
                                    {{itemConfigSecondary.label}}
                                    <!-- width:{{itemConfigSecondary.width}} -->
                                  </div>
                                </template>
                            </paper-item>
                            <template is="dom-repeat" as="itemSecondary" items="{{_getDataSub(itemPrimary,config.sub)}}">
                                <paper-item on-tap="_getBind" on-dblclick="_getBind" level="secondary" data="{{itemSecondary}}">
                                    <template is="dom-repeat" as="configSecondary" items="{{config.secondary}}">
                                      <div class$="{{configSecondary.width}} cml" data="{{itemSecondary}}">
                                       {{_getItemSecondary(itemSecondary,configSecondary)}}
                                        <!-- width:{{configSecondary.width}} -->
                                      </div>
                                    </template>
                                <paper-item>
                            </template>
                            <!--<paper-item class="testclass">
                                <nx-grid-component temp="{{tempSecondary}}"></nx-grid-component>
                            </paper-item>-->
                        </paper-menu>

                    <!-- จบอันแรก  -->
                    <!-- อันที่2 -->
                    <paper-menu class="menu-content sublist paper-menu-lv2" style="padding:0px;" selected="100">
                        <paper-item disabled>
                            <!-- Head secondary -->
                            <template is="dom-repeat" as="itemConfigThird" items="{{config.third}}">
                              <div class$="{{itemConfigThird.width}}">
                                {{itemConfigThird.label}}
                                <!-- width:{{itemConfigSecondary.width}} -->
                              </div>
                            </template>
                        </paper-item>
                        <template is="dom-repeat" as="itemThird" items="{{_getDataSub(itemPrimary,config.sub3)}}">
                            <paper-item on-tap="_getBind" on-dblclick="_getBind" level="third" data="{{itemThird}}">
                                <template is="dom-repeat" as="configThird" items="{{config.third}}">
                                  <div class$="{{configThird.width}} cml" data="{{itemThird}}">
                                   {{_getItemSecondary(itemThird,configThird)}}
                                    <!-- width:{{configSecondary.width}} -->
                                  </div>
                                </template>
                            <paper-item>
                        </template>
                        <!--<paper-item class="testclass">
                            <nx-grid-component temp="{{tempSecondary}}"></nx-grid-component>
                        </paper-item>-->
                    </paper-menu>
                </paper-submenu>
                <!-- จบอันแรก  -->
                </template>
            </paper-menu>
            <!--<div>
                <nx-grid-component temp="{{tempPrimary}}"></nx-grid-component>
            </div>-->
        </div>
    </template>

    <script>
        var nxGridRender = [];
        Polymer({
            is:'nx-grid',
            behaviors:[Polymer.Templatizer],
            properties:{
                seleted:{
                    type:Object,
                    notify:true
                },
                config:{
                    type:Object
                }
            },
            ready:function(){

                var templatePrimary = Polymer.dom(this).querySelector('template[type=primary]');
                this.tempPrimary = templatePrimary;

                var templateSecondary = Polymer.dom(this).querySelector('template[type=secondary]');
                this.tempSecondary = templateSecondary;

                var templateThird = Polymer.dom(this).querySelector('template[type=third]');
                this.tempThird = templateThird;
                //เพิ่มตัวแปล
                var config = {primary:[],secondary:[],third:[]};

                var items = Polymer.dom(this.$.primary).getDistributedNodes();
                var lists = Polymer.dom(items[0]).querySelectorAll('list');

                for (var i = 0; i < lists.length; i++) {

                    var configPointer = {
                        item:lists[i].getAttribute('item'),
                        label:lists[i].getAttribute('label'),
                        width:lists[i].getAttribute('width')
                    };

                    config.primary.push(configPointer);
                }

                var items2 = Polymer.dom(this.$.secondary).getDistributedNodes();
                var lists2 = Polymer.dom(items2[0]).querySelectorAll('list');

                for (var i = 0; i < lists2.length; i++) {

                    var configPointer2 = {
                        item:lists2[i].getAttribute('item'),
                        label:lists2[i].getAttribute('label'),
                        width:lists2[i].getAttribute('width')
                    };

                    config.secondary.push(configPointer2);
                }

                var items3 = Polymer.dom(this.$.third).getDistributedNodes();
                var lists3 = Polymer.dom(items3[0]).querySelectorAll('list');

                for (var i = 0; i < lists3.length; i++) {

                    var configPointer3 = {
                        item:lists3[i].getAttribute('item'),
                        label:lists3[i].getAttribute('label'),
                        width:lists3[i].getAttribute('width')
                    };

                    config.third.push(configPointer3);
                }

                config.sub = Polymer.dom(this.$.secondary).getDistributedNodes()[0].getAttribute('item');
                config.sub3 = Polymer.dom(this.$.third).getDistributedNodes()[0].getAttribute('item');

                this.config = config;
                console.log(this.config);
            },
            _toggleSub:function(e){
                this.$$('#'+e.target.dataSub).toggle();
                if(e.target.icon == 'expand-more'){
                e.target.icon = 'chevron-right';
                }else{
                e.target.icon = 'expand-more';
                    Polymer.dom(this.root).querySelectorAll('.sublist')[e.target.index].select(0);
                }
            },
            _getItemPrimary:function(item,config){
                return item[config.item];
            },
            _getDataSub:function(item,sub){
                return item[sub];
            },
            _getItemSecondary:function(item,config){
                return item[config.item];
            },
            _getBind:function(e){
                if(e.target.is!="paper-icon-button"){
                    this.fire('nx-grid-'+e.type, {data: e.currentTarget.data,level: e.currentTarget.getAttribute('level')});
                }
            }
        });

    </script>
</dom-module>
