<dom-module id="edit-noshipment">
  <style>
    :host {
      display: block;
    }
  </style>
  <template>
    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,3]]">
        <gl-form-input label="Shipment Id"  error-message="กรุณาใส่รายละเอียด Shipment Id" required placeholder="Shipment Name" value="{{data.shm_no}}"></gl-form-input>
      </gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[500,6],[700,8]]">
        <gl-form-input label="Shipment Name"  error-message="กรุณาใส่รายละเอียด Shipment Name" required placeholder="Shipment Name" value="{{data.shm_name}}"></gl-form-input>
      </gl-grid-col>
    </gl-grid-row>
    <gl-grid-row width="{{getWidth}}">
     <gl-grid-col width="[[getWidth]]" grid="[[500,4],[700,3]]">
    <gl-combo-box id="cl_id" label="Confirmation Letter" item-label-path="cl_no" error-message="กรุณาเลือกรายละเอียด Confirmation Letter"
        item-value-path="cl_id" value="{{data.cl_id}}" items="{{cml}}" ></gl-combo-box>
     </gl-grid-col>
     </gl-grid-row>

     <paper-button raised on-tap="update">อัพเดต</paper-button>
  </template>
  <script >
    Polymer({
      is: "edit-noshipment",
      behaviors: [ gl.behavior.core],
      properties: {
        updateShipment: {
          type: Object,
          value:{}
        }
      },
      observers:[
        'getconfirm(contractId)'
      ],
      getconfirm:function (contractId) {
      if (typeof contractId != 'undefined'){
          this.getDb('./g2g/confirm/contract/id/'+contractId,(data)=>{
            this.cml = data;
            // console.log(this.cml);
            // this.cl_id.items = data;
          });
        }
      },

      insertShipment:function () {
        this.shipMent.contract_id= this.contractId;
      //  console.log(this.shipMent);
        this.postDb(this.shipMent);
      },
      postDb:function (data) {
        axios.post('./g2g/shipment/insert', data)
                  .then(function (response) {
                    console.log("success");
                    console.log(response);
                    this.glQuery('addContract').getChange();
                    this.glQuery('contentPanel').changDrawer();
                  }.bind(this))
                  .catch(function (error) {
                    console.log("error");
                    console.log(error);
                  })
      },
      getDb:function (url,callback) {
        // console.log(url);
        axios.get(url)
          .then(function(response){
            callback(response.data);

          }.bind(this))
          .catch(function (error) {
          }.bind(this));
          // console.log(1);
      },
      update:function () {

        this.updateShipment.id = this.data.shm_id;
        this.updateShipment.shm_name = this.data.shm_name;
        this.updateShipment.contract_id = this.data.contract_id;
        this.updateShipment.shm_no = this.data.shm_no;
        this.updateShipment.cl_id = this.data.cl_id;
        this.glQuery('layoutMain').openToastSaveing();
        this.putDb(this.updateShipment);
      },
      putDb:function (data) {
        axios.put('./g2g/shipment/update', data)
                  .then(function (response) {
                    console.log("success");
                    console.log(response);
                    console.log(data);
                    this.glQuery('addContract').getChange(false,'put');
                  }.bind(this))
                  .catch(function (error) {
                    console.log("error");
                    console.log(error);
                  })
      },
    });
  </script>
</dom-module>
