<link rel="import" href="../../functionBehavior/dataBehavior.html">
<dom-module id="edit-ship">
<style include="iron-flex iron-flex-alignment gl-color gl-size">
  *{
    font-family: 'CSChatThaiUI', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: var(--font-size-h5);
  }
  .text-center {
    text-align: center;
    font-size: var(--font-size-h3);
    background-color: var(--paper-grey-100);
    margin-top: 20px;
  }
  .margin-top{
    margin-top: 15px;
  }
  .button{
    margin-top: 20px;
    margin-bottom: 20px;
  }
</style>
  <template>
    <div class="text-center">แก้ไขข้อมูลเรือ</div>
    <gl-grid-row width="{{getWidth}}">
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-combo-box class="margin-top checkData" error-message="กรุณาเลือกสายเรือ" required style="margin-top:15px" items="{{shiplines}}" label="Shipline Name (สายเรือ)" item-label-path="shipline_name"
            item-value-path="shipline_id" value="{{data.shipline_id}}"></gl-combo-box>
      </gl-grid-col>
    </gl-grid-row>

    <gl-grid-row>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
      <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
        <gl-form-input class="margin-top checkData" error-message="กรุณากรอกชื่อเรือ" required label="Ship Name (ชื่อเรือ) :" placeholder="กรอกชื่อเรือ" value="{{data.ship_name}}"></gl-form-input>
      </gl-grid-col>
    </gl-grid-row>

    <div class="horizontal end-justified layout">
      <div class="button">
        <paper-button class="gl-btn-danger" on-tap="_cancel" raised>ยกเลิก</paper-button>
        <paper-button class="gl-btn-success" on-tap="_edit" raised>บันทึก</paper-button>
      </div>
    </div>

  </template>
  <script>
    Polymer({
      is: "edit-ship",
      properties: {
        data: {
          type: Object,
          value: {}
        },
        dataShipline:{
          type:Array
        },
        dataOld :{
          type: Object,
          value: {}
        }
      },
      observers:[
        '_cloneData(data)'
      ],
      behaviors: [
          gl.behavior.core,
          gl.behavior.locales,
          dataBehavior
      ],
      _edit:function(){
        // console.log(this.data);
        var datas = {
          id: this.data.ship_id,
          ship_name: this.data.ship_name,
          shipline_id: this.data.shipline_id
        }
        var stat = Polymer.dom(this.root).querySelectorAll('.checkData').map((data)=>{
            return  data.validate();
        });
        var chkStat = function(stat){
            return stat == true
        };
        if(stat.every(chkStat) == true){
          this.read('./common/check/duplicate?table=ship&field=ship_name&value='+datas.ship_name, (response) => {
            if (response == 0) {
              this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
              this.update('./common/ship/update', datas, () => {
                this.glQuery('refreshShip').getShip();
                this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
                  console.log('success');
                }});
               });
            }
            else {
              this.read('./common/check/myowner?table=ship&id='+datas.id+'&field=ship_name&value='+datas.ship_name, (response) => {
                if (response == 1) {
                  this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
                  this.update('./common/ship/update', datas, () => {
                    this.glQuery('refreshShip').getShip();
                    this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
                      console.log('success');
                    }});
                 });
                  }
                  else {
                    this.fire('toast',{status:'connectError',text:'ชื่อเรือนี้มีอยู่แล้ว',
                      callback:function(){
                      }})
                  }
                });
              }
            });
        }
        else {
          this.fire('toast',{status:'connectError',text:'กรุณากรอกข้อมูลให้ครบถ้วน',
            callback:function(){
            }})
        }
      },
      _cloneData:function(){
        this.dataOld = JSON.parse(JSON.stringify(this.data));
      },
      _cancel:function() {
        this.glQuery('panelRight').changDrawer();
        this.data = this.dataOld;
      }
    });
  </script>
</dom-module>
