<link rel="import" href="fee-exports-sum.html">
<link rel="import" href="fee-exports-invoice.html">
<dom-module id="fee-exports">
  <style include="iron-flex iron-flex-factors iron-flex-alignment  gl-styles">
    :host {
      display: block;
    }
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    div.right{
      margin: 10px;
      padding: 5px;
      border: 1px solid #000;
    }
  </style>
  <template>
    <div class="right">
      <button type="button" name="button" on-tap="deleteFee">ลบ</button>
    <div class="header flex-center-justified">
       <gl-form-label-input label="" class="inputHeader" value="รายละเอียดค่าข้าวและค่าใช้จ่ายส่งมอบ" ></gl-form-label-input >
     </div>
     <div class="container">
       <gl-grid-row width="{{getWidth}}">
         <gl-grid-col width="[[getWidth]]" grid="[[300,6],[500,2]]">
           <gl-form-input label="ครั้งที่" value="{{data.fee_no}}"></gl-form-input>
         </gl-grid-col>
         <gl-grid-col width="[[getWidth]]" grid="[[300,6],[500,5]]">
           <gl-form-input label="ชื่อรอบการจ่ายเงิน" value="{{data.fee_name}}"></gl-form-input>
         </gl-grid-col>
         <gl-grid-col width="[[getWidth]]" grid="[[300,6],[500,5]]">
           <vaadin-date-picker label="วันที่ได้รับเงิน" value="{{data.fee_date_receipt}}"></vaadin-date-picker>
         </gl-grid-col>
       </gl-grid-row>
     </div>
     <div class="container">
       <gl-grid-row>

         <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
           <gl-form-input label="จำนวนเงินที่ได้รับทั้งหมด (USD)" value="{{data.amount_usd}}"></gl-form-input>
         </gl-grid-col>
         <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]">
           <div class="setText">อัตราแลกเปลี่ยน</div>
           <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,10]]">
             <gl-grid-row>
               <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
                 <div class="text">T/T</div>
               </gl-grid-col>
               <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                 [[changeString2Num(data.*,'rate_tt')]]
                 <gl-form-input style="width:60px;" value="{{data.rate_tt}}" no-label-float></gl-form-input>
               </gl-grid-col>
               <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
                 <div class="text">ธ.กรุงไทยเสนอ</div>
               </gl-grid-col>
               <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                 [[changeString2Num(data.*,'rate_bank')]]
                 <gl-form-input style="width:60px;" value="{{data.rate_bank}}" no-label-float></gl-form-input>
               </gl-grid-col>
             </gl-grid-row>
           </gl-grid-col>
         </gl-grid-col>
         <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
           <gl-form-input disabled label="จำนวนเงินที่ได้รับทั้งหมด (บาท)" value="{{_totalMoney(data.rate_bank,data.amount_usd)}}" placeholder="0.00"></gl-form-input>
         </gl-grid-col>
       </gl-grid-row>
     </div>

     <div class="container">
       <gl-grid-row>
         <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
           [[changeString2Num(data.*,'fee_internal')]]
           <gl-form-input label="ค่า FE ต่างประเทศ (USD)" value="{{data.fee_internal}}" placeholder="0.00"></gl-form-input>
         </gl-grid-col>
         <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
           [[changeString2Num(data.*,'fee_foreign')]]
           <gl-form-input label="ค่า FE ในประเทศ (บาท)" value="{{data.fee_foreign}}" placeholder="0.00"></gl-form-input>
         </gl-grid-col>
         <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
           [[changeString2Num(data.*,'fee_other')]]
           <gl-form-input label="ค่าใช้จ่ายอื่นๆ (บาท)" value="{{data.fee_other}}" placeholder="0.00"></gl-form-input>
         </gl-grid-col>
         <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">{{_feTotal(data.fee_internal,data.fee_foreign,data.fee_other,data.rate_bank)}}
           <gl-form-input disabled label=" FE/ ใช้จ่ายทั้งหมด (บาท)" value="{{data.feeTotal}}" placeholder="0.00"></gl-form-input>
         </gl-grid-col>
       </gl-grid-row>
     </div>
     <template is="dom-repeat" items="{{data.invoice}}" as="invoice">
       <fee-exports-invoice data="{{invoice}}"
                            rate-bank="{{data.rate_bank}}"
                            invoice-index="{{_ObcountIndex(index)}}"
                            fee-total="[[_countFee(data.feeTotal)]] "
                            invoice-page="[[data.invoicePage]]"
       ></fee-exports-invoice>

     </template>


     <gl-form-panel>
         <fee-exports-sum total-invoice="[[data.invoice]]"></fee-exports-sum>
     </gl-form-panel>
     <div class="container">
       หมายเหตุ
       <ul style="list-style-type:none">
         <li>FE = ค่าธรรมเนียมธนาคาร</li>
       </ul>
     </div>

     <div class="horizontal end-justified layout">
       <paper-button raised class="gl-btn-danger">ยกเลิก</paper-button>
       <paper-button raised on-tap="confirmPayment" class="gl-btn-success">ยื่นยัน</paper-button>
       <paper-button raised on-tap="savePayment" class="gl-btn-success">บันทึก</paper-button>
     </div>
     </div>
</div>
  </template>
  <script>
    Polymer({
      is: "fee-exports",
      behaviors: [
          g2gModelBehavior,
          g2gCongtroller
      ],
      _totalMoney:function (rate_bank,amount_usd) {
        return rate_bank*amount_usd;
      },
      _feTotal:function (fee_internal,feBath,fee_other,rate_bank){
        this.data.feeTotal = (parseFloat(fee_internal)*rate_bank)+parseFloat(feBath)+parseFloat(fee_other);
        this.notifyPath('data.feeTotal');
      },
      //นับหน้า
      _invoicePage:function (data) {
        this.data.invoicePage = data.length;
        this.notifyPath('data.invoicePage');
      },
      _countFee:function (fee) {
        return fee/this.data.invoice.length;
      },
      savePayment:function () {
        this._clearDatafee(this.data,'insert',(data)=>{
            data.fee_status = false;
            this.fire('toast',{status:'load'}); //คำสั่งสำหรับเปิด toast load
            this.insert('./g2g/fee/insert',data, () => {
              this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
               callback:()=>{
                  this.fire('flipDrawer',{detail:'flipDrawer'});
                  let shmid= this._getUrl();
                  console.log('save shmid=>>',shmid);
                  this.fire('get-fee-list',{detail:shmid});
              }
             });
            });
        });
      },
      confirmPayment:function () {
        this._clearDatafee(this.data,'update',(data)=>{
            data.fee_status = true;
            data.id=this.data.fee_id;
            this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
                status:'dialog',
                text:'ต้องการยืนยันใช่หรือไม่ ?',
                confirmed:this._saveData, //function ที่ใช้รับค่า ปุ่ม
                el: this, // compontents
                data:data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
            })
        });
      },
      _saveData:function(result,detail){
         if (result == true) {
           console.log(detail.data);
          //  detail.el.update('./g2g/confirm/update',detail.data, () => {
          //      detail.el.fire('refresh-contract',{detail:'refresh-contract'});
          //      detail.el.fire('toast',{status:'success',text:'บันทึกสำเร็จ',  // คำสั่งสำหรับเปิด toast success
          //          callback:function(){
          //           //  detail.el.editInput();
          //           detail.el.editInput();
          //           detail.el.fire('get-confirm-detail',{clId:detail.data.id});
          //           // detail.el.data = detail.data;
          //           detail.el.fire('get-list-confirm',{contractId:detail.data.contract_id});
          //         }
          //       });
          //   });
          }
     },
     deleteFee:function () {
       this.fire('toast',{  //คำสั่งสำหรับเปิด toast dialog
           status:'dialog',
           text:'ต้องการแก้ลบใช่หรือไม่ ?',
           confirmed:this._deleteDataFee, //function ที่ใช้รับค่า ปุ่ม
           el: this, // compontents
           data:this.data // ข้อมูลที่ส่งไป เช่น id ที่จะใช้ลบข้อมูล ใน db
       })
     },
     _deleteDataFee:function(result,detail){
       if (result == true) {
         detail.el.data.invoice.map((el,indexShmid)=>{
          detail.el._changeStatusInvoice(el.invoice_id,el.bl_no,el.invoice_date,el.invoice_no,el.invoice_status,el.made_out_to);
        });
         detail.el.delete('./g2g/fee/delete/id/',detail.data.fee_id, () => {
            let shmid= detail.el._getUrl();
            detail.el.fire('get-fee-list',{detail:shmid});
         });
       }
    },
      _clearDatafee:function (data,action,callback) {
        let {rate_bank,rate_tt,fee_other,fee_no,fee_name,fee_internal,fee_foreign}=data;
        let newData={rate_bank,rate_tt,fee_other,fee_no,fee_name,fee_internal,fee_foreign};
        newData.invoice=[];
        this.data.invoice.map((el,indexShmid)=>{
          if (action == 'insert') {
            this._changeStatusInvoice(el.invoice_id,el.bl_no,el.invoice_date,el.invoice_no,el.invoice_status,el.made_out_to);
          } else if (action == 'delete') {
            this._changeStatusInvoice(el.invoice_id,el.bl_no,el.invoice_date,el.invoice_no,el.invoice_status,el.made_out_to);
          }
          newData.invoice.push({invoice_id:el.invoice_id,invoice_detail:[]});
          el.invoice_detail.map((shmDet,indexshmdet)=>{
            newData.invoice[indexShmid].invoice_detail.push({
                                  shm_det_id:shmDet.shm_det_id,
                                  invoice_no:shmDet.invoice_no,
                                  invoice_date:new Date (shmDet.invoice_date),
                                  invoice_fee:shmDet.invoice_fee,
                                });
          });
        });
        newData.fee_date_receipt = new Date(this.data.fee_date_receipt);
        callback(newData);
      },
      _changeStatusInvoice:function (invoice_id,bl_no,invoice_date,invoice_no,invoice_status,made_out_to,contract_id) {
        let data = {
          id:invoice_id,
          bl_no:bl_no,
          invoice_date:new Date(invoice_date),
          invoice_no:invoice_no,
          invoice_status:this.approve(invoice_status),
          made_out_to:made_out_to,
        };
        console.log(data);
        // bl_no:"gggg"
        // id:"2f2c9090-9056-4294-9c09-8d6f9d7e0d4b"
        // invoice_date:Tue Nov 15 2016 07:00:00 GMT+0700 (Altai Standard Time)
        // invoice_no:"invoice15-2"
        // invoice_status:false
        // made_out_to:"invoice15-2"
        let shmId = this._getUrl();
        this.update('./g2g/invoice/update',data, () => {
          this.fire('get-invoice-list',{detail:shmId});
        });
      },
      
    });
  </script>
</dom-module>
