<link rel="import" href="../../../../../bower_components/paper-checkbox/paper-checkbox.html">
<dom-module id="list-of-invoice">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
    :host {
      display: block;
    }
    *{
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    .labelSearch{
    font-size: var(--font-size-h4);
    margin: 10px 10px 10px 10px;
    }
    .table-body >tr > td{
      cursor:pointer;
    }
    .title {
      margin: 1em;
      text-align: center;
      font-size: var(--font-size-h4);
    }
  </style>
  <template>
    <div class="title">ใบแจ้งหนี้</div>
    <div class="flex searchInput ">
       <div class="horizontal end-justified layout">
         <div class="labelSearch">Invoice No.</div>{{searchInput}}
         <paper-input label=" " no-label-float value="{{searchInput}}"></paper-input>
         <paper-icon-button icon="search"></paper-icon-button>
       </div>
   </div>
    <table class="gl-table-default">
          <thead class="table-head">
            <tr>
              <th></th>
              <th>ชื่อการทำสัญญา</th>
              <th>งวดการส่งมอบ</th>
              <th>เลขที่ใบแจ้งหนี้</th>

            </tr>
          </thead>
          <tbody class="table-body">
            <template is="dom-repeat" items="{{data}}" as="payment">
          <template is="dom-repeat" items="{{payment.invoice_detail}}">
            <tr >
              <td class="item"><paper-checkbox id="[[index]]"class="checkBox" data="{{item.invoice_id}}" shmId$="{{payment.shm_id}}"></paper-checkbox></td>
              <td class="item" data="[[item]]" on-tap="getInvoiceDetail">[[item.cl_name]]</td>
              <td class="item" data="[[item]]" on-tap="getInvoiceDetail">[[payment.shm_no]]</td>
              <td class="item" data="[[item]]" on-tap="getInvoiceDetail">[[item.invoice_no]]</td>

            </tr>
          </template>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="horizontal end-justified layout btnMoney">
               <paper-button class="gl-btn-success" raised on-tap="payMoney">ได้รับเงิน</paper-button>
            </div>
          </td>
          </tr>
        </template>

         </tbody>
      </table>
  </template>
  <script>
    Polymer({
      is: "list-of-invoice",
      getInvoiceDetail:function (e) {
        this.fire('get-invoice-detail',{detail:e.currentTarget.data});
      },
      payMoney:function () {
        let check = Polymer.dom(this.root).querySelectorAll('paper-checkbox[aria-checked="true"]');
        //adddraft.html
        this.fire('get-select-draftPayment', {detail: check});
      }
    });
  </script>
</dom-module>
