<dom-module id="payment-export">
<style include="iron-flex iron-flex-alignment gl-color gl-size gl-table gl-toast" is="custom-style">
    .textheader-center {
      text-align: center;
      font-size: var(--font-size-large);
    }

    .text-center{
      text-align: center;
    }

    .text-right{
      text-align: right;
    }

    .header-grey {
      background-color: var(--paper-grey-100);
      color: var(--paper-grey-600);
      font-size: var(--font-size-h4);
    }

    .header-black {
      color: var(--paper-black-600);
      font-size: var(--font-size-h4);
    }

    .text-top{
      margin: 15px 0px 15px 15px;
    }

    .number-align{
      margin-top: 15px;
    }

    .button-size{
      height: 30px;
    }

    .margin-head{
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .table-head > tr > th:nth-child(1) {
      width: 5%;
    }
    .table-head > tr > th:nth-child(2) {
      width: 15%;
    }
    .table-head > tr > th:nth-child(3) {
      width: 10%;
    }
    .table-head > tr > th:nth-child(4) {
      width: 15%;
    }
    .table-head > tr > th:nth-child(5) {
      width: 10%;
    }
    .table-head > tr > th:nth-child(6) {
      width: 15%;
    }
    .table-head > tr > th:nth-child(7) {
      width: 20%;
    }
  </style>
  <template>
    <div class="textheader-center margin-head">จ่ายเงินค่าข้าวให้ผู้ส่งออก</div>
    <div class="header-grey margin-head">
      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-combo-box id="exporter_id" label="ชื่อบริษัท" item-label-path="seller_name_th"
              item-value-path="exporter_id" value="{{dataSelected}}" on-value-changed="getPayment"></gl-combo-box>
        </gl-grid-col>
      </gl-grid-row>
    </div>

    <div class="margin-head">
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]"></gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
          <div class="header-black">ชื่อผู้ส่งออก</div>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
          <template is="dom-repeat" items="{{dataName}}">
            <div class="header-black">{{item.seller_name_th}}</div>
          </template>
        </gl-grid-col>
      </gl-grid-row>
    </div>
    <table class="gl-table-default">
      <thead class="table-head">
        <tr>
          <th></th>
          <th>งวดที่</th>
          <th>ครั้งที่</th>
          <th><div class="text-right">จำนวนเงิน(บาท)</div></th>
          <th></th>
          <th><div class="text-center">วันที่จ่ายเงิน</div></th>
          <th></th>
          <th><div class="text-center">สถานะ</div></th>
        </tr>
      </thead>

        <tbody>
          <tr>
            <template is="dom-repeat" as="datapay" items="{{data}}">
              <td></td>
              <td><div style="margin-left:10px;">{{datapay.shm_no}}</div></td>
              <td><div style="margin-left:10px;">{{datapay.fee_no}}</div></td>
              <td><div class="text-right">[[formatNumber(datapay.amount_thb_balance)]]</div></td>
              <td></td>
              <td><div class="text-center">{{datapay.pay_date}}</div></td>
              <td></td>
              <td hidden="{{!datapay.pay_status}}"><div class="text-center">จ่ายเช็คแล้ว</div></td>
              <td hidden="{{datapay.pay_status}}">
                  <paper-button data={{datapay}} class="gl-btn-success button-size" raised on-tap="_pay"><iron-icon icon="editor:attach-money"></iron-icon>จ่ายเช็ค</paper-button>
              </td>
            </template>
          </tr>
        </tbody>

    </table>

    <paper-dialog id="dialog" style="width:60%;">
      <div class="textheader-center">กรอกข้อมูลรับเช็ค</div>
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-dropdown-menu style="width:100%;" label="ธนาคาร" placeholder="กรุณาเลือกธนาคาร">
            <paper-menu class="dropdown-content" attr-for-selected="value" selected="{{bank_id}}" name="bank_id">
              <template is="dom-repeat" as="bank" items="[[dataBank]]">
                <paper-item value="{{bank.bank_id}}">{{bank.bank_name_th}}</paper-item>
              </template>
            </paper-menu>
          </gl-form-dropdown-menu>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input  label="สาขา :" placeholder="กรุณาใส่ชื่อสาขา" value="{{dataCheck.bank_branch}}" name="bank_branch"></gl-form-input>
        </gl-grid-col>
      </gl-grid-row>
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]"></gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input  label="เลขที่เช็ค :" allowed-pattern="[0-9]" placeholder="กรุณาใส่เลขที่เช็ค" value="{{dataCheck.pay_no}}" name="pay_no"></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <vaadin-date-picker label="วันที่เช็ค" value="{{dataCheck.pay_date}}" name="pay_date"></vaadin-date-picker>
        </gl-grid-col>
      </gl-grid-row>
      <div class="buttons">
        <paper-button class="gl-btn-danger button-size" raised on-tap="_cancel">ยกเลิก</paper-button>
        <paper-button class="gl-btn-primary button-size" raised on-tap="_save">บันทึก</paper-button>
      </div>
    </paper-dialog>

    <div id="notfound" hidden>
      <div class="horizontal center-justified layout searchBorder">
        <div class="title" style="margin:20px">ไม่พบข้อมูล</div>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: "payment-export",

    });
  </script>
</dom-module>
