<link rel="import" href="../../page-report-exporter/components/renew/renew-memberShow.html">
<link rel="import" href="../../components/dataBehavior.html">
<link rel="import" href="../../components/panel-right/panel-right.html">
<dom-module id="ban-exporter">
    <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color gl-table gl-toast">
        * {
            font-family: 'rsuregular', sans-serif;
            -webkit-font-smoothing: antialiased;
        }

        .header {
          padding: 10px 0px 10px 10px;
          background-color: var(--paper-grey-100);
          color: var(--paper-grey-600);
          font-size: var(--font-size-h4);
          font-family: 'rsuregular', sans-serif;
            -webkit-font-smoothing: antialiased;
        }
        .registor{
          margin: 20px;
        }
        .title {
          text-align: center;
           font-size: var(--font-size-h3);
           font-family: 'rsuregular', sans-serif;
             -webkit-font-smoothing: antialiased;
        }
        .searchBox{
          padding: 5px;
          background-color: var(--gl-gray-lighter-color);
        }
        .elevation{
          border-radius: 5px;
          margin: 10px;
          padding: 5px;
          background-color: var(--gl-white-color);
        }
        .searchBorder{
          border: 1px solid var(--gl-gray-light-color);
          margin: 15px;
          border-radius: 3px
        }
        gl-combo-box{
          width: 70%;
        }
        .iconSearch{
          margin-top: 25px;
          margin-left: 40px;
        }
        .text-table{
          text-align: center;
           font-size: var(--font-size-h4);
        }
        .gl-table-default{
             border-collapse: collapse;
             width: 100%;
             white-space: nowrap;
         }
        .table-head > tr > th:nth-child(1) {
          width: 5%;
        }
        .table-head > tr > th:nth-child(2) {
          width: 15%;
        }
    </style>
    <template>

        <paper-material elevation="1" class="elevation">

        <div class="layout vertical registor">
          <div class="flex title">
            ทะเบียนผู้ส่งออกข้าวที่ถูกระงับ
          </div>
          <div class="flex searchBox searchBorder">
            <gl-grid-row width="{{getWidth}}">
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
              <iron-icon class="iconSearch" icon="icons:search"></iron-icon>
              <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                <gl-combo-box id="exporter_id" label="ชื่อบริษัท" item-label-path="seller_name_th"
                    item-value-path="exporter_id" value="{{exporterId}}"></gl-combo-box>
              </gl-grid-col>
            </gl-grid-row>
          </div>

          <div class="searchBorder">
            <div style="margin: 10px;">
              <paper-checkbox checked={{selectDataAll}}>เลือกทั้งหมด</paper-checkbox>
              <paper-button raised class="gl-btn-success" on-tap="_activeAll">ยกเลิกการระงับ</paper-button>
            </div>
            <table class="gl-table-default">
              <thead class="table-head">
                <tr>
                  <th></th>
                  <th><div class="text-table">เลขทะเบียนผู้ส่งออก</div></th>
                  <th><div class="text-table">ชื่อบริษัท</div></th>
                  <th><div class="text-table">ประเภทใบอนุญาติ</div></th>
                  <th><div class="text-table">วันที่อนุมัติ</div></th>
                  <th><div class="text-table">สถานะ คน.</div></th>
                </tr>
              </thead>


              <template is="dom-repeat" items="{{exporters}}">
                <tbody>
                  <tr on-tap="_selectData" data="[[item]]" style="cursor:pointer;">
                    <td><paper-checkbox checked="{{item.check}}" class="checkbox"></paper-checkbox></td>
                    <td><div class="text-table">{{item.exporter_no_name}}</div></td>
                    <td><div class="text-table">{{item.seller_name_th}}</div></td>
                    <td><div class="text-table">{{item.type_lic_name}}</div></td>
                    <td><div class="text-table">{{item.exporter_date_approve}}</div></td>
                    <td><div class="text-table">{{item.trader_active_name}}</div></td>
                  </tr>
                </tbody>
              </template>
            </table>

          </div>
        </div>
        </paper-material>

      <panel-right title="{{titleName}}">
          <div class="left">
            <iron-pages selected="{{layerContent}}" attr-for-selected="name">
              <div name="detailRegExporter">
                <renew-memberShow exporter-id="[[exporterId]]" data={{dataSelect}}></renew-memberShow>
                <div class="horizontal center-justified layout">
                  <paper-button raised class="gl-btn-success button" on-tap="_active">ยกเลิกการระงับ</paper-button>
                </div>
              </div>
            </iron-pages>
          </div>
      </panel-right>

    </template>
    <script>
        Polymer({
            is: "ban-exporter",
            behaviors: [dataBehavior],
            properties: {
                layerContent: {
                    type: String,
                    value: "detailRegExporter"
                },
                exporterId:{
                  type: String,
                  observer: '_exporterIdChanged'
                },
                exporters:{
                  type: Array,
                  value: []
                },
                selectDataAll: {
                  type: Boolean,
                  value: false,
                  observer: '_changeselectDataAll'
                },
                dataExporters:{
                  type: Array,
                  value: []
                }
            },
            _changeselectDataAll:function (val) {
              // console.log(val);
              this.exporters.map((item,index)=>{
                this.set('exporters.'+index+'.check',val);
              });
            },
            _exporterIdChanged:function(val){
              if(val!=""){
                this.$$('panel-right').toggle();
                this.layerContent = "detailRegExporter";
                this.titleName = 'ข้อมูลผู้ส่งออก';
              }
            },
            attached: function() {
                this.getExporters();
            },
            getExporters: function(){
              this.exporter_id = this.exporter_id || this.$.exporter_id;
              this.read('./external/exporter/?exporter_active=false',(data)=>{
                  this.exporters = data;
                  for (var i = 0; i < this.exporters.length; i++) {
                    this.exporters[i]['check'] = false;
                  }
                  data.map((type)=>{
                    type.seller_name_th = type.seller_name_th+" ("+type.type_lic_name+")";
                  });
                    this.exporter_id.items = data;
              });
            },
            _active: function(){
              // console.log(this.dataSelect);
              this.fire('toast',{status:'dialog',
              text:'คุณต้องการจะยกเลิกการระงับใช่หรือไม่ ?',
              confirmed : this._confirmToast.bind(this),
              datas: {
                exporter_date_update: new Date,
                exporter_date_approve:new Date,
                trader_id:this.dataSelect.trader_id,
                id : this.dataSelect.exporter_id
                }
              });
            },
            _confirmToast:function(result,detail){
              if(result == true){
                this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
                this.update('./external/exporter/update', detail.datas, () => {
                  this.$$('panel-right').close();
                  this.getExporters();
                  this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
                    console.log('success');
                  }});
                 });
              }
            },
            _selectData:function(e){
              this.layerContent = "detailRegExporter";
              this.titleName = 'ข้อมูลผู้ส่งออก';
              this.$$('panel-right').toggle();
              // this.layerContent = e.currentTarget.id;
              this.dataSelect = e.currentTarget.data;
            },
            _activeAll: function(){
              const check = (item)=>{
                  return item.check == true;
              }
              // console.log(this.exporters.filter(check));
              this.exporters.filter(check).map((datas)=>{
                let {exporter_id,exporter_date_update,exporter_date_approve,trader_id} = datas;
                let newData = {exporter_id,exporter_date_update,exporter_date_approve,trader_id};
                this.dataExporters.push(newData);
                // this._clearData(newData);
              });
              this.fire('toast',{status:'dialog',
              text:'คุณต้องการจะยกเลิกการระงับใช่หรือไม่ ?',
              confirmed : this._confirm.bind(this)
              });
            },
            _confirm:function(result,detail){
              // console.log(this.dataExporters);
              this.dataExporters.map((datas)=>{
                datas={
                  id: datas.exporter_id,
                  trader_id: datas.trader_id,
                  exporter_date_approve: new Date,
                  exporter_date_update: new Date
                }
              if(result == true){
                this.fire('toast',{status:'load',text:'กำลังบันทึกข้อมูล...'})
                this.update('./external/exporter/update', datas, () => {
                  this.getExporters();
                  this.fire('toast',{status:'success',text:'บันทึกสำเร็จ',callback:function(){
                    console.log('success');
                  }});
                 });
                }
              });
            }
        });
    </script>
</dom-module>
