<dom-module id="payment-detail">

<style is="custom-style" include="iron-flex iron-flex-alignment">
.flexchild-1 {
  @apply(--layout-flex);
}
.flexchild-2 {
  @apply(--layout-flex-2);
}
.flexchild-5 {
  @apply(--layout-flex-5);
}
.top{
  margin-top: 10px;
}
.top2{
  margin-top: 20px;
}
.box{
  width: 40%;
}
.box2{
  width: 90%;
}
.box3{
  width: 50%;
}
.bd {
  border: 1px solid #000;
}
.bg{
  background-color:var(--paper-grey-200);
  border: 1px solid var(--paper-grey-300);
}
.r{
  align-items: center;
}
.text{
  color: gray;
}
table, td{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
paper-button{
  width: 20px;
  height: 30px;
  margin-top: 10px;
}
</style>


<template>

  <div class="vertical layout">

    <div class="horizontal layout top">
      <div class="flexchild-2"><paper-input class="box" auto-validate error-message="กรุณาใส่รายละเอียด" placeholder="กรุณาใส่รายละเอียด" required label="ครั้งที่" value="[[data.order]]"></paper-input></div>
      <div class="flexchild-2"><paper-input class="box" auto-validate error-message="กรุณาใส่รายละเอียด" placeholder="กรุณาใส่รายละเอียด" required label="งวดที่" value="[[data.periodNo]]" disabled></paper-input></div>
      <div class="flexchild-5"><paper-input class="box" auto-validate error-message="กรุณาใส่รายละเอียด" placeholder="กรุณาใส่รายละเอียด" required label="วันที่ได้รับเงิน" value="[[data.date]]"></paper-input></div>
    </div>

    <template is="dom-repeat" items="[[data.paymentProduct]]">
    <div class="vertical layout bg">
      <table>
        <tr>
          <td>เลขที่ใบกำกับสินค้า</td>
          <td>จำนวน (ตัน)</td>
          <td>มูลค่าUSD</td>
          <td>จัดการ</td>
        </tr>
        <template is="dom-repeat" items="[[item.product]]">
          <tr>
            <td>
              <paper-dropdown-menu error-message="กรุณาเลือกราคา" placeholder="เลือกประเภท" required>
                <paper-listbox class="dropdown-content" attr-for-selected="product-no" selected="{{item.productNo}}">
                  <paper-item product-no="C277/2558">C277/2558</paper-item>
                  <paper-item product-no="C278/2558">C278/2558</paper-item>
                </paper-listbox>
              </paper-dropdown-menu>
            </td>
            <td><paper-input label="Input label" auto-validate error-message="กรอกเป็นตัวเลข" required pattern=[0-9,.]* value="[[item.quantity]]"></paper-input></td>
            <td><paper-input label="Input label" auto-validate error-message="กรอกเป็นตัวเลข" required pattern=[0-9,.]* value="[[item.value]]"></paper-input></td>
            <td><paper-button raised>ลบ</paper-button></td>
          </tr>
        </template>
      </table>

      <div class="horizontal end-justified layout">
        <paper-button raised>เพิ่ม</paper-button>
      </div>


      <div class="horizontal layout top">
        <div class="flexchild-2"><paper-input class="box3" placeholder="กรุณาใส่รายละเอียด"  label="รวมจำนวน (ตัน)" value="[[item.totalton]]" disabled></paper-input></div>
        <div class="flexchild-2"><paper-input class="box2" placeholder="กรุณาใส่รายละเอียด"  label="มูลค่ารวม (USD)" value="[[item.totalValue]]" disabled></paper-input></div>
        <div class="flexchild-2"><paper-input class="box2" placeholder="กรุณาใส่รายละเอียด"  label="ค่าธรรมเนียมธนาคารต่างประเทศ" value="[[item.feeusd]]" disabled></paper-input></div>
      </div>

      <div class="horizontal layout top">
        <div class="flexchild-2"><paper-input class="box2" placeholder="กรุณาใส่รายละเอียด"  label="จำนวนเงินที่ได้รับ (USD)" value="[[item.amountReceived]]" disabled></paper-input></div>
        <div class="horizontal layout flexchild-2 r text">
          <div style="padding-left:65%;">T/T</div>
          <div><input style="width:20px; margin-left:5px;"is="iron-input" value="[[item.t]]"></div>
        </div>
        <div class=" flexchild-2 text">
          <div>อัตราแลกเปลี่ยน</div>
          <div class="horizontal layout">
            <div>ธนาคารกรุงไทยเสนอ</div>
            <input style="width:25px; margin-left:5px;"is="iron-input" value="[[item.ktb]]">
          </div>
        </div>
      </div>

      <div class="horizontal layout top">
        <div class="flexchild-2"><paper-input class="box2" placeholder="กรุณาใส่รายละเอียด"  label="จำนวนเงิน (บาท)" value="[[item.bath]]" disabled></paper-input></div>
        <div class="flexchild-2"><paper-input class="box2" placeholder="กรุณาใส่รายละเอียด"  label="ค่าธรรมเนียม (บาท)" value="[[item.feethb]]" disabled></paper-input></div>
        <div class="flexchild-2"><paper-input class="box2" placeholder="กรุณาใส่รายละเอียด"  label="ได้รับเงิน (บาท)" value="[[item.receivedBath]]" disabled></paper-input></div>
      </div>

      <div class="horizontal end-justified layout">
        <paper-button raised>ลบ</paper-button>
      </div>
    </div>
   </template>
    <div class="horizontal end-justified layout">
      <paper-button raised>เพิ่ม</paper-button>
    </div>

    <div class="horizontal layout top">
      <div class="horizontal layout flexchild-2">
        <div class="flexchild-2">รวมจำนวนตันทั้งสิ้น</div>
        <div class="flexchild-2"> [[data.totalton]]ตัน </div>
      </div>
      <div class="horizontal layout flexchild-2">
        <div class="flexchild-2">มูลค่ารวม (USD)</div>
        <div class="flexchild-2">[[data.valueUsd]]</div>
      </div>
    </div>

      <div class="vertical layout top">
        <div class="horizontal layout">
          <div class="flexchild-2">รวมค่าธรรมเนียมต่างประเทศ (USD)</div>
          <div class="flexchild-2"> [[data.feeusd]]</div>
        </div>
        <div class="horizontal layout top">
          <div class="flexchild-2">จำนวนเงินที่ได้รับ (USD)</div>
          <div class="flexchild-2"> [[data.receivedUsd]] </div>
        </div>
        <div class="horizontal layout top">
          <div class="flexchild-2">จำนวนเงินที่ได้รับ (บาท)</div>
          <div class="flexchild-2"> [[data.receivedBath]] </div>
        </div>
        <div class="horizontal layout top">
          <div class="flexchild-2">ค่าธรรมเนียม (บาท)</div>
          <div class="flexchild-2"> [[data.feethb]] </div>
        </div>
        <div class="horizontal layout top">
          <div class="flexchild-2">ได้รับเงิน (บาท)</div>
          <div class="flexchild-2"> [[data.receivedMoney]] </div>
        </div>
      </div>


    <div>
      <paper-textarea on-blur="requiredTextArea" on-keyup="requiredTextArea" class="box2" rows="2" label="หมายเหตุ" placeholder="ใส่รายละเอียด" error-message="กรุณาใส่รายละเอียด" required value="[[data.detail]]"></paper-textarea>
    </div>

    <div class="horizontal end-justified layout">
      <paper-button raised>ยกเลิก</paper-button>
      <paper-button raised>บันทึก</paper-button>
    </div>


  </div>

</template>

<script>
Polymer({
  is: "payment-detail",
  requiredTextArea:function(e){
    e.target.validate();
  }

});
</script>
</dom-module>
