<link rel="import" href="../../../../../bower_components/gl-form/gl-form-panel.html">
<dom-module id="payment-pay">
  <style include="iron-flex iron-flex-alignment gl-color gl-size" is="custom-style">
    .text-center {
      text-align: center;
      font-size: var(--font-size-large);
    }
    
    .header {
      background-color: var(--paper-grey-100);
      color: var(--paper-grey-600);
      font-size: var(--font-size-h4);
    }
  </style>
  <template>
    <div class="text-center">จ่ายเงินค่าข้าวให้ผู้ส่งออก</div>
    <div class="header horizontal layout flex">
      <div class="flex">งวดที่ 1 ครั้งที่ 1</div>
      <div class="horizontal layout end-justified flex-10">
        <div class="labelSearch">ชื่อบริษัท </div>
        <paper-input label="" no-label-float></paper-input>
        <paper-icon-button icon="search"></paper-icon-button>
      </div>
    </div>
    <div class="header horizontal layout flex">
      <div class="flex">ชื่อผู้ส่งออก</div>
      <div class="horizontal layout end-justified flex">จำนวน (บาท)</div>
      <div class="text-center flex"></div>
    </div>
    <div role="listbox">
      <paper-item class="horizontal layout flex">
        <div class="flex">บริษัท โตมี ฟู๊ด แอนด์ โปรดักส์ จำกัด</div>
        <div class="horizontal layout end-justified flex">13,566,936.74</div>
        <div class="horizontal layout end-justified flex">
          <paper-button raised>
            <iron-icon icon="icons:gesture"></iron-icon>
            จ่ายเช็ค
          </paper-button>
        </div>
      </paper-item>
      <paper-item class="horizontal layout flex">
        <div class="flex">บริษัท แคปปิตัลซีเรียลส์ จำกัด</div>
        <div class="horizontal layout end-justified flex">2,713,115.30</div>
        <div class="horizontal layout end-justified flex">
          <paper-button raised>
            <iron-icon icon="icons:gesture"></iron-icon>
            จ่ายเช็ค
          </paper-button>
        </div>
      </paper-item>
      <paper-item class="horizontal layout flex">
        <div class="flex">บริษัท ไทยฮา จำกัด</div>
        <div class="horizontal layout end-justified flex">686,336.31</div>
        <div class="horizontal layout end-justified flex">
          <paper-button raised>
            <iron-icon icon="icons:gesture"></iron-icon>
            จ่ายเช็ค
          </paper-button>
        </div>
      </paper-item>
    </div>
  </template>
  <script>
    Polymer({
      is: 'payment-pay'
    });
  </script>
</dom-module>