html
    head
        title=title
        link(href='/css/main.css',rel='stylesheet')
    body
        h1=message
        
    div
        form(action='/oauth/login',method='post')
            h3 Username
            input(type='text',name='username', value='')
            br
            h3 Password
            input(type='text',name='password', value='')
            br
            br
            input(type='submit', value='Login')
    div
        ui
            li
                a(href='/oauth/facebook') Login with facebook
            li 
                a(href='/oauth/google') Login with google 