<dom-module id="promise-confirm">
  <style include="iron-flex iron-flex-alignment">
  .box{
    width:230px;
  }
  .top{
    margin-top: 15px;
  }
  paper-button{
    width: 20px;
    height: 30px;
    margin-top: 10px;
  }
  table td{
    border: 1px;
    border-style: solid;
    border-color: black;
  }
  table{
    border-collapse: collapse;
  }
  .text{
    text-align: center;
  }
  paper-textarea{
    word-break: break-all;
    width: 95%;
  }

  </style>
  <template>
    <div class="vertical layout">
      <div class="horizontal layout top">
        <div class="flex">
          <div class="box"><paper-input auto-validate error-message="กรุณาใส่ชื่อเลขจดหมายคอนเฟริม" pattern="[0-9]{1,6}" required label="Confirmation Letter No." placeholder="ใส่รายละเอียด" value=""></paper-input></div>
        </div>
        <div class="flex">
          <div class="box"><vaadin-date-picker label="Date"></vaadin-date-picker></div>
        </div>
      </div>

      <div class="vertical layout">
        <div class="top">Commodities, Price, Package</div>
        <paper-input auto-validate error-message="กรุณาใส่ชื่อสินค้า" required label="Item" placeholder="ใส่รายละเอียด" value=""></paper-input>
        <div class="horizontal layout">
          <div class="flex"><paper-input class="box" auto-validate error-message="กรุณาใส่ชื่อสินค้า" required label="Package(kg)" pattern="[0-9]{1,9}" placeholder="ใส่รายละเอียด" value=""></paper-input></div>
          <div class="flex"><paper-input class="box" auto-validate error-message="กรุณาใส่ชื่อสินค้า" required label="Price(USD)" pattern="[0-9]{1,9}" placeholder="ใส่รายละเอียด" value=""></paper-input></div>
        </div>
      </div>

      <div class="horizontal end-justified layout">
        <paper-button raised>เพิ่ม</paper-button>
      </div>

      <div>
        <paper-textarea rows="3" label="Detail" placeholder="ใส่รายละเอียด" auto-validate error-message="กรุณาใส่รายละเอียด" required value=""></paper-textarea>
      </div>

      <div class="horizontal end-justified layout">
        <paper-button raised>ยกเลิก</paper-button>
        <paper-button raised>บันทึก</paper-button>
      </div>

    </div>
  </template>
  <script>
    Polymer({
      is: "promise-confirm",

    });
  </script>
</dom-module>
