<link rel="import" href="../register/register-member.html">
<dom-module id="member-show">
  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .title {
        text-align: center;
        font-size: var(--font-size-h4);
        font-family: 'rsubold', sans-serif;
        -webkit-font-smoothing: antialiased;
        /*text-decoration:underline;*/
        margin: 20px 0px 20px 0px;
    }
    .bd{
      border: 1px solid black;
      padding: 15px;
    }
    .mar-top{
      margin: 20px 0px 20px 0px;
    }
    vaadin-date-picker{
      width: 70%;
    }
    paper-icon-button{
      margin-top: 20px;
    }
    gl-form-label-textarea{
      word-break: keep-all;
    }
  </style>
  <template>
    <div id="formData">
      <gl-form-panel-body set-border="0px">
        <div class="title">รายละเอียดทะเบียนผู้ส่งออกข้าว</div>

        <gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input label="เลขประจำตัวผู้เสียภาษี :" value="{{data.seller_tax_id}}"></gl-form-label-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-textarea label="ชื่อบริษัท :" value="{{data.seller_name_th}}"></gl-form-label-textarea>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-textarea  label="ชื่อบริษัท (อังกฤษ) :" value="{{data.seller_name_en}}"></gl-form-label-textarea>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,8]]">
            <gl-form-label-textarea label="ที่อยู่ :" value="{{data.seller_address_th}}"></gl-form-label-textarea>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,8]]">
            <gl-form-label-textarea label="ที่อยู่ (อังกฤษ) :" value="{{data.seller_address_en}}"></gl-form-label-textarea>
          </gl-grid-col>
        </gl-grid-row>

        <gl-grid-row>
          <!-- <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input  label="รหัสไปรษณีย์ :" value=""></gl-form-label-input>
          </gl-grid-col> -->
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-textarea  label="หมายเลขโทรศัพท์ :" value="{{data.seller_phone}}"></gl-form-label-textarea>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-textarea  label="FAX :" value="{{data.seller_fax}}"></gl-form-label-textarea>
          </gl-grid-col>

          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-textarea  label="E-Mail Address :" value="{{data.seller_email}}"></gl-form-label-textarea>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input  label="เลขที่หนังสืออนุญาต ปกข. :" value="{{data.trader_no}}"></gl-form-label-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input  label="สถานะเป็นสมาชิกผู้ส่งออกข้าว :" value="{{data.exporter_status_name}}"></gl-form-label-input>
          </gl-grid-col>

          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input  label="ประเภทอนุญาต :" value="{{data.type_lic_name}}"></gl-form-label-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-label-input label="เลขประจำตัวผู้ส่งออกข้าว :" value="{{data.exporter_no_name}}"></gl-form-label-input>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <vaadin-date-picker label="วันที่อนุมัติ :" value="{{data.exporter_date_approve}}" disabled></vaadin-date-picker>
          </gl-grid-col>
        </gl-grid-row>
        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <template is="dom-repeat" items="{{data.seller_agent}}">
              <gl-form-label-input  label="ชื่อคณะกรรมการ :" value="{{item.agent_name}}"></gl-form-label-input>
            </template>
          </gl-grid-col>
        </gl-grid-row>
      </gl-form-panel-body>
    </div>
    <!-- <div id="fromRegister" hidden>
      <register-member data={{data}}></register-member>
    </div> -->

  </template>
  <script>
    Polymer({
      is: "member-show",
      properties:{
        data:{
          type:Object,
          value:{}
        }
      }
    });
  </script>
</dom-module>
