<dom-module id="member-fileup">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .title{
      font-size: 17px;
      font-family: 'rsubold', sans-serif;
      -webkit-font-smoothing: antialiased;
      /*text-decoration:underline;*/
      margin: 10px 0px 10px 5px;
    }
    nylon-upload{
      --divider-color: white;
      --primary-color: #339933;
      --vaadin-upload-drag-ripple: {
        border: 2px solid #ddd;
      }
    }
    .title-head{
      text-align: center;
      font-size: var(--font-size-h4);
      font-family: 'rsubold', sans-serif;
      -webkit-font-smoothing: antialiased;
      /*text-decoration:underline;*/
      margin: 30px 0px 20px 0px;
    }
  </style>
  <template>
    <div class="title-head">แนบเอกสารหลักฐาน</div>
    <template is="dom-repeat" items="[[docType]]">
      <div class="title">[[item.doc_name_th]]</div>
      <nylon-upload
        target="/api/upload/exporter/file/[[exporterId]]"
        accept="application/pdf"
        ref-path="exporter.document.[[item.doc_code]]"
        doc-type-id="[[item.doc_type_id]]"
        exporter-id="[[exporterId]]"
        >
      </nylon-upload>
    </template>
    <div style="margin-bottom:20px;"></div>
  </template>
  <script>
    Polymer({
      is: "member-fileup",
      behaviors: [dataBehavior],
      observers: [
        '_dataInput(data)'
      ],
      _dataInput:function(data) {
        this.exporterId = data.exporter_id;
        // console.log(this.docType);
      }
    });
  </script>
</dom-module>
