<dom-module id="member-edit">
  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .title {
        text-align: center;
        font-size: var(--font-size-h4);
        font-family: 'rsubold', sans-serif;
        -webkit-font-smoothing: antialiased;
        margin: 20px 0px 20px 0px;
    }
    .bd{
      border: 1px solid black;
      padding: 15px;
    }
    .mar-top{
      margin: 20px 0px 20px 0px;
    }
    vaadin-date-picker{
      width: 70%;
    }
    paper-icon-button{
      margin-top: 20px;
    }
  </style>
  <template>

    <!-- <gl-form-panel-body set-border="0px"> -->
      <div class="title">รายละเอียดทะเบียนผู้ส่งออกข้าว</div>

      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="เลขประจำตัวผู้เสียภาษี :" value="{{data.seller_tax_id}}" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="ชื่อบริษัท :" value="{{data.seller_name_th}}" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input  label="ชื่อบริษัท (อังกฤษ) :" value="{{data.seller_name_en}}" disabled></gl-form-input>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,8]]">
          <gl-form-textarea label="ที่อยู่ :" value="{{data.seller_address_th}}" disabled></gl-form-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[500,12],[700,8]]">
          <gl-form-textarea label="ที่อยู่ (อังกฤษ) :" value="{{data.seller_address_en}}" disabled></gl-form-textarea>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <!-- <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input  label="รหัสไปรษณีย์ :" value=""></gl-form-input>
        </gl-grid-col> -->
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-textarea  label="หมายเลขโทรศัพท์ :" value="{{data.seller_phone}}" disabled></gl-form-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input  label="FAX :" value="{{data.seller_fax}}" disabled></gl-form-input>
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input  label="E-Mail Address :" value="{{data.seller_email}}" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input  label="เลขที่หนังสืออนุญาต ปกข. :" value="{{data.trader_no}}" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input  label="สถานะเป็นสมาชิกผู้ส่งออกข้าว :" value="{{data.exporter_status_name}}" disabled></gl-form-input>
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input  label="ประเภทอนุญาต :" value="{{data.type_lic_name}}" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="เลขประจำตัวผู้ส่งออกข้าว :" value="{{data.exporter_no_name}}" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <vaadin-date-picker label="วันที่อนุมัติ :" value="{{data.exporter_date_approve}}"></vaadin-date-picker>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <template is="dom-repeat" items="{{data.seller_agent}}">
            <gl-form-input  label="ชื่อคณะกรรมการ :" value="{{item.agent_name}}" disabled></gl-form-input>
          </template>
        </gl-grid-col>
      </gl-grid-row>

    <!-- </gl-form-panel-body> -->

  </template>
  <script>
    Polymer({
      is: "member-edit",
      properties:{
        data:{
          type:Object,
          notify: true
        }
      }
    });
  </script>
</dom-module>
