<dom-module id="member-fileup">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .title{
      font-size: var(--font-size-h4);
      font-family: 'rsubold', sans-serif;
      -webkit-font-smoothing: antialiased;
      text-decoration:underline;
      margin: 10px 0px 0px 5px;
    }
  </style>
  <template>
    <div class="title">นิติบุคคล</div>
    <nylon-upload
      target="/api/upload/exporter/file/[[exporterId]]"
      accept="application/pdf"
      ref-path="[[juristic_person]]"
      exporter-id="[[exporterId]]"
      >
    </nylon-upload>
    <div class="title">ผู้มีอำนาจ บจ.5</div>
    <nylon-upload
      target="/api/upload/exporter/file/[[exporterId]]"
      accept="application/pdf"
      ref-path="[[authority]]"
      exporter-id="[[exporterId]]"
      >
    </nylon-upload>
    <div class="title">ภพ 01/20</div>
    <nylon-upload
      target="/api/upload/exporter/file/[[exporterId]]"
      accept="application/pdf"
      ref-path="[[vat]]"
      exporter-id="[[exporterId]]"
      >
    </nylon-upload>
    <div class="title">คน.</div>
    <nylon-upload
      target="/api/upload/exporter/file/[[exporterId]]"
      accept="application/pdf"
      ref-path="[[dit]]"
      exporter-id="[[exporterId]]"
      >
    </nylon-upload>
    <div class="title">สำเนาบัตรผู้มีอำนาจ</div>
    <nylon-upload
      target="/api/upload/exporter/file/[[exporterId]]"
      accept="application/pdf"
      ref-path="[[copy_authority]]"
      exporter-id="[[exporterId]]"
      >
    </nylon-upload>
    <div class="title">หนังสือผู้รับมอบ</div>
    <nylon-upload
      target="/api/upload/exporter/file/[[exporterId]]"
      accept="application/pdf"
      ref-path="[[attorney]]"
      exporter-id="[[exporterId]]"
      >
    </nylon-upload>
    <div style="margin-bottom:20px;"></div>
    <!-- {{_dataInput(data)}} -->
  </template>
  <script>
    Polymer({
      is: "member-fileup",
      behaviors: [dataBehavior],
      properties: {
        data:{
          type:Object,
          value:{},
          observer: "_dataInput"
        },
        juristic_person:{
          type:Object,
          value: {}
        },
        authority:{
          type:Object,
          value: {}
        },
        vat:{
          type:Object,
          value: {}
        },
        dit:{
          type:Object,
          value: {}
        },
        copy_authority:{
          type:Object,
          value: {}
        },
        attorney:{
          type:Object,
          value: {}
        }
      },
      observers: [
        'checkDocType(docType)'
      ],
      checkDocType:function(docType) {
        this.copy_authority = 'exporter-document&'+docType[0].doc_code;
        this.dit = 'exporter-document&'+docType[1].doc_code;
        this.attorney = 'exporter-document&'+docType[2].doc_code;
        this.authority = 'exporter-document&'+docType[3].doc_code;
        this.vat = 'exporter-document&'+docType[4].doc_code;
        this.juristic_person = 'exporter-document&'+docType[5].doc_code;
      },
      _dataInput:function(data) {
        this.exporterId = data.exporter_id;
        // console.log(this.exporterId);
      }
    });
  </script>
</dom-module>
