<dom-module id="member-fileup">
  <style include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    .title{
      font-size: var(--font-size-h4);
      font-family: 'rsubold', sans-serif;
      -webkit-font-smoothing: antialiased;
      text-decoration:underline;
      margin: 10px 0px 0px 5px;
    }
  </style>
  <template>
    <div class="title">นิติบุคคล</div>
    <nylon-upload
      target="/api/upload/file"
      accept="application/pdf"
      ref-path="{{juristic_person}}"
      >
    </nylon-upload>
    <div class="title">ผู้มีอำนาจ บจ.5</div>
    <nylon-upload
      target="/api/upload/file"
      accept="application/pdf"
      ref-path="{{authority}}"
      >
    </nylon-upload>
    <div class="title">ภพ 01/20</div>
    <nylon-upload
      target="/api/upload/file"
      accept="application/pdf"
      ref-path="{{vat}}"
      >
    </nylon-upload>
    <div class="title">คน.</div>
    <nylon-upload
      target="/api/upload/file"
      accept="application/pdf"
      ref-path="{{dit}}"
      >
    </nylon-upload>
    <div class="title">สำเนาบัตรผู้มีอำนาจ</div>
    <nylon-upload
      target="/api/upload/file"
      accept="application/pdf"
      ref-path="{{copy_authority}}"
      >
    </nylon-upload>
    <div class="title">หนังสือผู้รับมอบ</div>
    <nylon-upload
      target="/api/upload/file"
      accept="application/pdf"
      ref-path="{{attorney}}"
      >
    </nylon-upload>
    <div style="margin-bottom:20px;"></div>
    {{_dataInput(data)}}
  </template>
  <script>
    Polymer({
      is: "member-fileup",
      behaviors: [dataBehavior],
      properties: {
        data:{
          type:Object,
          value:{}
        },
        juristic_person:{
          type:Object,
          value: {}
        },
        authority:{
          type:Object,
          value: {}
        },
        vat:{
          type:Object,
          value: {}
        },
        dit:{
          type:Object,
          value: {}
        },
        copy_authority:{
          type:Object,
          value: {}
        },
        attorney:{
          type:Object,
          value: {}
        }
      },
      attached: function() {
        this._getDocument();
      },
      _getDocument:function(){
        this.read('./documentType',(data)=>{
          this.copy_authority = 'exporter-document='+data[0].doc_code;
          this.dit = 'exporter-document='+data[1].doc_code;
          this.attorney = 'exporter-document='+data[2].doc_code;
          this.authority = 'exporter-document='+data[3].doc_code;
          this.vat = 'exporter-document='+data[4].doc_code;
          this.juristic_person = 'exporter-document='+data[5].doc_code;
        })
      },
      _dataInput:function(data) {
        console.log(data);
        this.exporterId = data.exporter_id;
        // var exporterId = data.exporter_id;
        // this.juristic_person = 'exporter-juristic='+exporterId;
        // this.authority = 'exporter-authority='+exporterId;
        // this.vat = 'exporter-vat='+exporterId;
        // this.dit = 'exporter-dit='+exporterId;
        // this.copy_authority = 'exporter-copyAuthority='+exporterId;
        // this.attorney = 'exporter-attorney='+exporterId;
      }
    });
  </script>
</dom-module>
