<style media="screen">
  html,body {
   margin: 0;
   height: 100%;
  }
</style>
<link rel="import" href="components/list-menu.html">
<dom-module id="layout-dashboard">
  <style media="screen" include="gl-color">
  div.paper-header{
    border-bottom: 1px solid var(--paper-grey-300);
  }
  paper-toolbar.toolbarHead {
    --paper-toolbar-background:var(--paper-orange-300);
    --paper-toolbar-title: {
        font-weight: normal;
        font-size: 20px;
        font-family: 'rsubold', sans-serif;
        -webkit-font-smoothing: antialiased;
        /*padding: 0px 0px 10px 70px;*/
        /*line-height: 25px*/
    };
  }
  paper-toolbar.toolbarbody {
    height: 5px;
    --paper-toolbar-background:#29AAE3;
  }
  paper-toolbar.toolbarfoot {
    /*height: 50px;*/
    --paper-toolbar-background:#FFF;
    --paper-header-panel-body: {
      font-size: 16px;
    };
  }
  paper-toolbar.toolbarbody > div.title {
    margin-left: 0px;
  }
  iron-icon {
    --iron-icon-height: 25px;
     --iron-icon-width: 25px;
     --iron-icon-fill-color:black;
  }
  div.content {
    margin: 5px 0px 0px 0px;
  }
  paper-icon-button.menu {
     color: var(--gl-gray-darker-color);
     --paper-icon-button-ink-color: var(--paper-indigo-500);
   }
  </style>
  <template>
    <paper-drawer-panel id="drawerDashboard" force-narrow drawer-width="30%">
      <paper-header-panel mode="waterfall" drawer >
        <div class="paper-header">
          <paper-toolbar class="toolbarHead">
            <div class="title">
                Menu
            </div>
          </paper-toolbar>
          <paper-toolbar class="toolbarbody">
          </paper-toolbar>
          <paper-toolbar class="toolbarfoot">
              <div class="title">
                <div>
                  <!-- <button type="button" name="button">เพิ่ม</button> -->
                </div>
              </div>
          </paper-toolbar>
        </div>
        <div class="content">
          <list-menu></list-menu>
        </div>
      </paper-header-panel>
      <paper-header-panel mode="waterfall" main>
        <div class="paper-header">
          <paper-toolbar class="toolbarHead">
            <div class="title">
                ระบบการขายและการส่งมอบข้าวรัฐบาลต่อรัฐบาล
            </div>
          </paper-toolbar>
          <paper-toolbar class="toolbarbody">
          </paper-toolbar>
          <paper-toolbar class="toolbarfoot">
            <paper-icon-button icon="menu" class="menu" on-tap="_changDrawer"></paper-icon-button>
            <div class="title"></div>
          </paper-toolbar>
        </div>
          <div class="content">
            <tag-page-load id="tagPageLoad"></tag-page-load>
          </div>
        </paper-header-panel>
      </paper-drawer-panel>


  </template>
  <script>
    Polymer({
      is:'layout-dashboard',
      behaviors:[gl.behavior.template,gl.behavior.locales],
      changeLanguage:function(){
        if(this.language == 'th'){
          this.glSwitchLanguage('en');
        }else{
          this.glSwitchLanguage('th');
        }
      },
      _changDrawer:function(){
        //เรียกใช้ฟั่งชั้น togglePanel .ใน  drawer
        this.$.drawerDashboard.togglePanel();
      },
    });
  </script>

</dom-module>
