<dom-module id="pie-contract">
  <style  include="iron-flex iron-flex-factors iron-flex-alignment gl-color gl-size">
    :host {
      display: block;
    }
    chart-pie {
      width: 350px;
    }
    .nomalFont {
      font-size: var(--font-size-h4);
    }
    numeral-js {
      padding-left: 5px;
      float: right;
    }
    .total {
      margin-left: 5px;
    }
  </style>
  <template>
    <div>
    <iron-pages selected="0" id="chart-[[item.contract_id]]">

      <div class="horizontal layout">
         <chart-pie data="[[_computeChart(item.contract_quantity_confirm,item.contract_quantity_confirm_balance,name.0)]]"></chart-pie>
         <div class="layout vertical">
             <div class="flex nomalFont">ทั้งหมด</div>
             <div class="flex nomalFont">ทำสัญญาแล้ว</div>
             <div class="flex nomalFont">คงเหลือ</div>
         </div>
         <div class="layout vertical">
             <div class="flex nomalFont number">:<numeral-js number="[[item.contract_quantity]]" format="0,0" print></numeral-js>  </div>
             <div class="flex nomalFont number">:<numeral-js number="[[item.contract_quantity_confirm]]" format="0,0" print></numeral-js>  </div>
             <div class="flex nomalFont number">:<numeral-js number="[[item.contract_quantity_confirm_balance]]" format="0,0" print></numeral-js>  </div>
         </div>
         <div class="layout vertical">
             <div class="flex nomalFont total"> ตัน</div>
             <div class="flex nomalFont total"> ตัน</div>
             <div class="flex nomalFont total"> ตัน</div>
         </div>
      </div>
      <div class="horizontal layout">
        <chart-pie data="[[_computeChart(item.contract_quantity_shipment,item.contract_quantity_shipment_balance,name.1)]]"></chart-pie>
        <div class="layout vertical">
            <div class="flex nomalFont">ทั้งหมด</div>
            <div class="flex nomalFont">ส่งแล้ว</div>
            <div class="flex nomalFont">คงเหลือ</div>
        </div>
        <div class="layout vertical">
            <div class="flex nomalFont number">:<numeral-js number="[[item.contract_quantity]]" format="0,0" print></numeral-js>  </div>
            <div class="flex nomalFont number">:<numeral-js number="[[item.contract_quantity_shipment]]" format="0,0" print></numeral-js>  </div>
            <div class="flex nomalFont number">:<numeral-js number="[[item.contract_quantity_shipment_balance]]" format="0,0" print></numeral-js>  </div>
        </div>
        <div class="layout vertical">
            <div class="flex nomalFont total"> ตัน</div>
            <div class="flex nomalFont total"> ตัน</div>
            <div class="flex nomalFont total"> ตัน</div>
        </div>
      </div>
  </iron-pages>
  <div class="horizontal end-justified layout ">
    <iron-icon icon="chevron-left" on-tap="previousIron" id="chart-[[item.contract_id]]"></iron-icon>
    <iron-icon icon="chevron-right" on-tap="nextIron" id="chart-[[item.contract_id]]"></iron-icon>
  </div>
  </div>
  </template>
  <script>
    Polymer({
      is: "pie-contract",
      properties: {
        item: {
          type: Object
        },
        name:{
          type:Array,
          value:['ทำสัญญาแล้ว (ตัน)','ส่งแล้ว (ตัน)']
        }
      },
      _computeChart:function (confirm,balance,name){
        // console.log(confirm,balance,name);
            return {
                    labels: [
                      // "ทั้งหมด (ตัน)",
                      name,
                      "คงเหลือ (ตัน)"
                    ],
                    datasets: [
                      {
                        data: [
                               confirm,
                               balance
                             ],
                        backgroundColor: [
                          "#FF6384",
                          "#36A2EB",
                          "#FFCE56"
                        ],
                        hoverBackgroundColor: [
                          "#FF6384",
                          "#36A2EB",
                          "#FFCE56"
                        ]
                      }]
                  };

      },
      previousIron:function (e) {
        Polymer.dom(e.currentTarget).parentNode
                                    .parentNode
                                    .firstElementChild
                                    .selectPrevious();
        // console.log(Polymer.dom(e.currentTarget).parentNode
        //                             .parentNode
        //                             .firstElementChild);
      },
      nextIron:function (e) {
        Polymer.dom(e.currentTarget).parentNode
                                    .parentNode
                                    .firstElementChild
                                    .selectNext();
      // console.log(Polymer.dom(e.currentTarget).parentNode
      //                             .parentNode
      //                             .firstElementChild);
      },
    });
  </script>
</dom-module>
