<dom-module id="main-card">
  <style is="custom-style" include="iron-flex iron-flex-alignment">
    .card{
      width: 300px;
      height: 300px;
      margin: 10px;
      background-color: #FFF;
       box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
                  0 1px 8px 0 rgba(0, 0, 0, 0.12),
                  0 3px 3px -2px rgba(0, 0, 0, 0.4);
      border-radius: 25px;
      cursor: pointer;
      display: inline-block;
      
      -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .card:hover { 
       -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
    }
    .heading{
      padding-left: 20px;
      padding-top: 15px;
    }
    .title{
      padding: 10px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      max-height: 20px;
      font-family: 'rsuregular', sans-serif;
        -webkit-font-smoothing: antialiased;
    }
    .card-content {
      text-align: center;
    }
  </style>
  <template>
    <!-- <div class="horizontal center-justified layout wrap" style="width: 1240px"> -->
    <div class="horizontal center-justified layout wrap">
    <template is="dom-repeat" items="[[cardName]]">
      <div class="card" >
        <div class="flex">
          <div on-tap="clickChange" url$="[[item.path]]">
            <div class="heading">
              <div class="layout horizontal">
                <div class="flex title">[[item.nameMenu]]</div>
              </div>
            </div>
            <div class="card-content"><br>
              <iron-image src="[[item.detail]]"></iron-image>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
  </template>
  <script>
    Polymer({
      is: "main-card",
      behaviors: [
        gl.behavior.core
      ],
      properties: {
        cardname: {
          type: Object
        }
      },
      clickChange:function(e){
        // console.log(e.currentTarget.getAttribute('url'));
        var url = e.currentTarget.getAttribute('url')
        this.glChangePath(url);
      }
    });
  </script>
</dom-module>
