<dom-module id="main-card">
  <style is="custom-style" include="iron-flex iron-flex-alignment">
    .card{
      width: 300px;
      height: 300px;
      margin: 5px;
    }
    .heading{
      padding-left: 20px;
      padding-top: 15px;
    }
    .title{
      padding: 10px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      max-height: 20px;
      font-family: 'rsuregular', sans-serif;
        -webkit-font-smoothing: antialiased;
    }
    .card-content{
      text-align: center;

    }
  </style>
  <template>
    <!-- <div class="horizontal center-justified layout wrap" style="width: 1240px"> -->
    <div class="horizontal center-justified layout">
    <template is="dom-repeat" items="[[cardName]]">
      <div class="card" >
        <div class="flex">
          <paper-card class="card" on-tap="clickChange" url$="[[item.path]]">
            <div class="heading">
              <div class="layout horizontal">
                <div class="flex title">[[item.nameMenu]]</div>
              </div>
            </div>
            <div class="card-content">
              <iron-image src="[[item.detail]]"></iron-image>
            </div>
          </paper-card>
        </div>
      </div>
    </template>
  </div>
  </template>
  <script>
    Polymer({
      is: "main-card",
      behaviors: [
        gl.behavior.core
      ],
      properties: {
        cardname: {
          type: Object
        }
      },
      clickChange:function(e){
        // console.log(e.currentTarget.getAttribute('url'));
        var url = e.currentTarget.getAttribute('url')
        this.glChangePath(url);
      }
    });
  </script>
</dom-module>
