<link rel="import" href="../../bower_components/polymer/polymer.html">
 
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">


<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">

<link rel="import" href="./layout-main-toolbar.html">

<link rel="import" href="./layout-main-drawer.html">


<dom-module id="layout-main">
	<template>
	<style>
		#drawer{
			z-index: 1;
			--app-drawer-width: 400px;
		}
		.offline{
			position:fixed;
			top:0;
			right:0;
			width:100%;
			height:100%;
			background-color:#000;
			z-index:10;
			
			opacity: 0.7;
			filter: alpha(opacity=70);
		}





		.offline>.flex-container{
			display: -webkit-flex;
    		display: flex;
			width:100%;
			height:100%;
		}

		.offline>.flex-container>.flex-item {
			margin: auto;
			color:#FFF;
			text-align:center;
			font-size:1.5em;
			font-family: 'rsuregular', sans-serif;
        	-webkit-font-smoothing: antialiased;
		}

		[blur]{
			-webkit-filter: blur(0.5px);
			-moz-filter: blur(0.5px);
			-o-filter: blur(0.5px);
			-ms-filter: blur(0.5px);
			filter: blur(0.5px);
		}

		paper-spinner{
			--paper-spinner-stroke-width: 3px;
		}
		

	</style>
	<div blur$="{{offline}}">
		<app-drawer id="drawer">
			<layout-main-drawer on-toggle-drawer="_toggleDrawer"></layout-main-drawer>
		</app-drawer>

		<app-header-layout>
			<app-header fixed condenses effects="waterfall">
				<layout-main-toolbar on-toggle-drawer="_toggleDrawer"></layout-main-toolbar>
			</app-header>
			<content></content>
		</app-header-layout>
		
		<paper-toast class="setPosition" id="toastLoading" positionTarget duration="0" text="">
            <div class="loading">
                <paper-spinner active></paper-spinner>
                <span style="padding-left:10px; position:relative; bottom: 6px;">
                    กำลังโหลด
                </span>
                <!--<paper-button onclick="toast1.toggle()" class="yellow-button">Close now!</paper-button>-->
            </div>
        </paper-toast>
		
	</div>
	<div class="offline" hidden$="{{!offline}}">
		<div class="flex-container">
			<div class="flex-item"><paper-spinner active></paper-spinner><br>Unable to connect to the Internet<br>&#34 Connecting... Please wait &#34</div>
		</div>
	</div>
	</template>


	<script>
        Polymer({
            is:'layout-main',
			ready:function(){
				this.offline = navigator.onLine === false;
				window.addEventListener('online',function(){
					this.offline = false;
				}.bind(this))
				
				window.addEventListener('offline',function(){
					this.offline = true;
				}.bind(this))
			},
			_toggleDrawer:function(){
				this.$.drawer.toggle();
			},
			openToastLoading:function(){
                this.$.toastLoading.open();
            },
            closeToastLoading:function(callback){
                this.async(function(){
                    this.$.toastLoading.hide();
                    callback();
                }.bind(this),500);
            },
        });
    </script>
</dom-module>